<?php
$urlListagem        = $this
    ->url('biblioteca/default', array('controller' => 'assunto'));
$urlPesquisaAssunto = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'search-for-json'));
$urlForm            = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'add'));

if ($this->dadosAssunto['assuntoId']) {
    $urlForm = $this->url(
        'biblioteca/default',
        array('controller' => 'assunto', 'action' => 'edit', 'id' => $this->dadosAssunto['assuntoId'])
    );
}

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('assunto-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="assunto-form" novalidate="novalidate" method="post">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="assuntoDescricao">Descrição:</label>
                                <input type="text" name="assuntoDescricao" id="assuntoDescricao" class="form-control"
                                       placeholder="Exemplo: Direito ambiental"
                                       value="<?php echo $this->dadosAssunto['assuntoDescricao']; ?>">
                            </div>
                        </div>
                        <input type="hidden" name="assuntoTitulos" id="assuntoTitulos"
                               value="<?php echo $this->dadosAssunto['assuntoTitulos']; ?>">
                        <input type="hidden" name="assuntoId" id="assuntoId"
                               value="<?php echo $this->dadosAssunto['assuntoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="assuntosRelacionados">Assuntos relacionados:</label>
                                <input type="text" name="assuntosRelacionados" id="assuntosRelacionados"
                                       class="form-control"
                                       placeholder="Informe os assuntos relacionados">
                            </div>
                        </div>


                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.assuntoAdd({
            urlPesquisaAssunto: '<?php echo $urlPesquisaAssunto;?>',
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>
            <?php echo $this->dadosAssunto['assuntosRelacionados'] ? "\n,assuntosRelacionados:".json_encode($this->dadosAssunto['assuntosRelacionados']) : ''; ?>
        });
    });
</script>