<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Cadastro de Prédio', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag($this->predioForm);
echo $this->formRow($this->predioForm->get('predioId'));
echo $this->formRow($this->predioForm->get('end'));

?>
<div id="parte1">
    <div class="row" style="margin-top: 10px">
        <?php
        echo $this->spineForm()->formInput($this->predioForm->get('camp'));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->predioForm->get('predioNome'));
        ?>
    </div>
    <div class="row">
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left: 30px;">
            <label class="label">CEP: </label>
            <label class="input">
                <?php
                echo $this->formRow($this->predioForm->get('predioCep'));
                ?>
            </label>

            <div class="note"></div>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left: 30px;">
            <label class="label">Logradouro: </label>
            <label class="input">
                <?php
                echo $this->formRow($this->predioForm->get('predioLogradouro'));
                ?>
            </label>

            <div class="note"></div>
        </section>
        <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:5px;">
            <label class="label">Numero: </label>
            <label class="input">
                <?php
                echo $this->formRow($this->predioForm->get('predioNumero'));
                ?>
            </label>

            <div class="note"></div>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left: 30px;">
            <label class="label">Bairro: </label>
            <label class="input">
                <?php
                echo $this->formRow($this->predioForm->get('predioBairro'));
                ?>
            </label>

            <div class="note"></div>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left: 30px;">
            <label class="label">Cidade: </label>
            <label class="input">
                <?php
                echo $this->formRow($this->predioForm->get('predioCidade'));
                ?>
            </label>

            <div class="note"></div>
        </section>
        <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:5px;">
            <label class="label">Estado: </label>
            <label class="select">
                <i></i>
                <?php
                echo $this->formRow($this->predioForm->get('predioEstado'));;
                ?>
            </label>

            <div class="note"></div>
        </section>
    </div>
    <footer>
        <?php
        echo $this->formRow($this->predioForm->get('cadastrar'));
        ?>
        <a class="btn btn-primary pull-right" id="proximo">Vincular Salas</a>
    </footer>
</div>
<div class="hidden" id="parte2">
    <h3 class="row-seperator-header">Salas Vinculadas ao Prédio</h3>
    <div class="row" id="salas" style="margin: 10px">
        <div class="row alert alert-info fade in" style="margin: 0px;">
            <div class="col-lg-6">
                <div class="btn-group active">
                    <a class="btn btn-default" data-toggle="modal" style="padding:7px;"
                       data-target="#modal2"> <i class="fa fa-plus"></i> Adicionar Múltiplos</a>
                </div>
                <div class="btn-group active">
                    <div class="col-lg-3">
                        <a class="btn btn-default" style="padding:7px;" data-toggle="modal"
                           data-target="#modal"> <i class="fa fa-plus"></i> Adicionar</a>
                    </div>
                    <div class="col-lg-4" style="margin-left: 41px;">
                        <a class="btn btn-default" style="padding:7px;" id="removeSala"><i class="fa fa-trash-o"></i>
                            Excluir
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <form name="formulario" class="smart-form">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><label class="checkbox"><input type="checkbox" name="sellAll"><i></i></label></th>
                    <th>Nome da Sala</th>
                    <th>Classificação</th>
                    <th>Capacidade</th>
                    <th>Reservavel</th>
                    <th>Largura</th>
                    <th>Comprimento</th>
                </tr>
                </thead>
                <tbody id="corpo">
                </tbody>
            </table>
        </form>
        <div>
            <ul class="pagination pagination-sm pull-right" style="margin: 0px;">
                <li id="previous">
                    <a id="ant"><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="" style="display: inline;">
                    <span id="numeracao"></span>
                </li>
                <li id="next">
                    <a id="prox"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul><!--
            <a id="ant" disabled>&lsaquo; Anterior</a>
            <span id="numeracao"></span>
            <a id="prox" disabled>Próximo &rsaquo;</a> -->
        </div>
    </div>
    <footer>
        <?php
        echo $this->formRow($this->predioForm->get('cadastrar'));
        ?>
        <a class="btn btn-primary pull-right" id="anterior">Voltar</a>
    </footer>
</div>
<?php
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>

<!-- MODAL PARA CADASTRO SIMPLES -->

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar Salas</h4>
            </div>
            <div class="modal-body">
                <form class="smart-form">
                    <div class="row">
                        <section class="col-lg-6 col-sm-6 col-xs-6" style="padding-left:30px;">
                            <label class="label">Classificaçao da Sala:</label>
                            <label class="select"><i></i>
                                <select name="classi">

                                </select>
                            </label>
                            <div class="note"></div>
                        </section>
                    </div>
                    <div class="row">
                        <?php
                        echo $this->spineForm()->formInput($this->salaForm->get('salaNome'));
                        echo $this->spineForm()->formInput($this->salaForm->get('salaCapacidade'));
                        ?>
                    </div>
                    <div class="row">
                        <?php
                        //echo $this->spineForm()->formInput($this->salaForm->get('salaReservavel'));
                        ?>
                        <div class="col-lg-3" style="margin-left: 30px; margin-bottom: 10px;">
                            <label class="label">Disponível para Reserva</label>
                            <label class='toggle'>
                                <input type='checkbox' name='reservavel'>
                                <i data-swchon-text='Sim' data-swchoff-text='Não'></i><br>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <?php
                        echo $this->spineForm()->formInput($this->salaForm->get('salaLargura'));
                        echo $this->spineForm()->formInput($this->salaForm->get('salaComprimento'));
                        ?>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="addSala">Adicionar</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- MODAL PARA MÚLTIPLOS CADASTROS -->

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar Salas</h4>
            </div>
            <div class="modal-body">
                <form class="smart-form">
                    <div class="row">
                        <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
                            <label class="label">Classificaçao da Sala:</label>
                            <label class="select"><i></i>
                                <select name="classifi">

                                </select>
                            </label>
                            <div class="note"></div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col-lg-7" style="padding-left: 30px;">
                            <label class="label">
                                Quantidade:
                            </label>
                            <label class="input">
                                <input type="text" placeholder="Digite a quantidade" onkeypress="onlyNumber(this)" name="quantiSalas">
                            </label>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="addMultiSala" data-dismiss="modal">Adicionar</button>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    jQuery(function () {
        $("input[name='sellAll']").bind("click change",function () {
            $("input[name='sala[]']").each(function () {
                if ($("input[name='sellAll']").prop("checked")) {
                    this.checked = true;
                } else {
                    this.checked = false;
                }
            });
        });
    });
    function onlyNumber(fields){
        $(fields).unbind('keyup').bind('keyup',function(e){ //vou buscar o evento keyup - quando o usuário solta a tecla

            var thisVal = $(this).val(); // atribuo o valor do campo a variável local
            var tempVal = "";

            for(var i = 0; i<thisVal.length; i++){
                if(RegExp(/^[0-9]$/).test(thisVal.charAt(i))){ // aqui estou usando uma expressão regular para limitar a entrada de apenas numeros ou seja digitos entre 0 e 9
                    tempVal += thisVal.charAt(i); //caso atenda a condição de ser um digito numérico, atribuo a uma variável temporária

                    if(e.keyCode == 8){
                        tempVal = thisVal.substr(0,i); //o keyCode == 8 é para eu poder usar o backspace para apagar algum numero indesejado.
                    }
                }
            }
            $(this).val(tempVal); // ao terminar, atribuo o valor validado ao valor do campo passado para testar
        });
    }
    options = 0;
    arraySalasJson = <?= $this->arraySalas;?>;
    numRegistro = 0;
    pagina = 0;
    tamanhoPagina = 25;
    arraySalas = new Array();
    reg = 0;
    dados = new Array();
    jQuery(function () {
        /**
         * Busca pelas classificações das salas.
         * */
        jQuery.ajax({
            url: "/infraestrutura/infra-predio/option",
            type: 'POST',
            data: {'string': 'campus'},
            success: function (html) {
                options = html;
                $("select[name='classi']").append(html);
                $("select[name='classifi']").append(html);
                /*
                 * Recebe as salas do controller e adiciona elas no arraySalas
                 * para que elas possam ser paginadas
                 * */
                for (i = 0; i < arraySalasJson.length; i++) {
                    sala = {
                        classificacaoId: parseInt(arraySalasJson[i].classificacao_id),
                        classificacaoNome: "",
                        nome: arraySalasJson[i].sala_nome,
                        capacidade: arraySalasJson[i].sala_capacidade,
                        reservavel: arraySalasJson[i].sala_reservavel,
                        largura: arraySalasJson[i].sala_largura,
                        comprimento: arraySalasJson[i].sala_comprimento,
                        indice: reg,
                        ativo: true,
                        id : arraySalasJson[i].sala_id,
                    };
                    sala.classificacaoNome = $("select[name='classi']").find("option[value='"+parseInt(''+sala.classificacaoId+'')+"']").text();
                    reg++;
                    numRegistro++;
                    arraySalas.push(sala);
                }
                paginar(arraySalas);
            },
            erro: function (data) {
                alert("Erro ao conectar-se ao servidor tente novamente");
            }
        });
        /*
        * Ajustando os botões para paginação.
        * */
        $('#prox').click(function() {
            if (pagina < dados.length / tamanhoPagina - 1) {
                pagina++;
                paginar(arraySalas);
                ajustarBotoes();
            }
        });
        $('#ant').click(function() {
            if (pagina > 0) {
                pagina--;
                paginar(arraySalas);
                ajustarBotoes();
            }
        });
        paginar(arraySalas);
        ajustarBotoes();
    });

    /*
     * Essa função pega os dados que estão na tabela e atualiza eles dentro do array de salas.
     * Para que quando realizar a paginação na adição ou na exclusão os dados que o cliente alterou sejam
     * também alterados.
     * */
    function atualizaDados () {
        nome       = new Array();
        capacidade = new Array();
        classi     = new Array();
        classiNome = new Array();
        reservavel = new Array();
        largura    = new Array();
        altura     = new Array();
        indice     = new Array();
        id     = new Array();
        $("input[name='salaNome[]']").each(function () {
            nome.push($(this).val());
        });
        $("select[name='classificacao[]']").each(function () {
            classi.push($(this).val());
            classiNome.push($(this).children(":selected").text());
        });
        $("input[name='salaCapacidade[]']").each(function () {
            capacidade.push($(this).val());
        });
        $("input[name='reservavel[]']").each(function () {
            reservavel.push($(this).val());
        });
        $("input[name='salaLargura[]']").each(function () {
            largura.push($(this).val());
        });
        $("input[name='salaComprimento[]']").each(function () {
            altura.push($(this).val());
        });
        $("input[name='sala[]']").each(function () {
            indice.push($(this).val());
        });
        $("input[name='salaId[]']").each(function () {
            id.push($(this).val());
        });

        for (i = 0; i < indice.length; i++) {
            sala = {
                classificacaoId: classi[i],
                classificacaoNome: classiNome[i],
                nome: nome[i],
                capacidade: capacidade[i],
                reservavel: reservavel[i],
                largura: largura[i],
                comprimento: altura[i],
                indice: arraySalas[indice[i]].indice,
                ativo: arraySalas[indice[i]].ativo,
                id: arraySalas[indice[i]].id
            };
            arraySalas[indice[i]] = sala;
        }
    }
    function paginar(dado) {
//        var tbody = $("#corpo");
        atualizaDados();
        $('#corpo').empty();
        numAtivos = 0;
        dados.length = 0;
        for(i = 0; i < dado.length; i++){
            if (dado[i].ativo){
                dados.push(dado[i]);
            }
        }
//        arraySalas.length = 0;
//        arraySalas = dados;
        for (var i = pagina * tamanhoPagina; i < dados.length && i < (pagina + 1) *  tamanhoPagina; i++) {
            if (dados[i].ativo){
                linha = "<tr name='teste[]'>" +
                "<td><label class='checkbox'><input type='checkbox' value='"+dados[i].indice+"' name='sala[]'><i></i></label><input type='hidden' value='"+dados[i].id+"' name='salaId[]'></td>" +
                "<td><input type='text' name='salaNome[]' value='" + dados[i].nome + "'> </td>" +
                "<td><select id='"+ dados[i].indice +"' name='classificacao[]'>"+options+"</select> </td>" +
                "<td><input type='text' onkeypress='onlyNumber(this)' name='salaCapacidade[]' value='" + dados[i].capacidade + "'> </td>";
                if (dados[i].reservavel == null || dados[i].reservavel == 0 || dados[i].reservavel == 'off') {
                    linha += "<td><input name='reservavel[]' type='hidden' value='0' data-switch='"+ i +"'><label class='toggle'><input type='checkbox' name='salaReservavel[]' data-value='" + i + "'><i data-swchon-text='Sim' data-swchoff-text='Não' name='"+ i +"' data-click='onOff'></i></label></td>";
                } else if (dados[i].reservavel == 'on' || dados[i].reservavel == 1) {
                    linha += "<td><input name='reservavel[]' type='hidden' value='1' data-switch='"+ i +"'><label class='toggle'><input type='checkbox' name='salaReservavel[]' checked data-value='" + i + "'><i data-swchon-text='Sim' data-swchoff-text='Não' name='"+ i +"' data-click='onOff'></i></label></td>";
                }
                linha += "<td><input type='text' name='salaLargura[]' value='" + dados[i].largura + "'> </td>" +
                "<td><input type='text' name='salaComprimento[]' value='" + dados[i].comprimento + "'></td>" +
                "</tr>";
                $("#corpo").append(linha);
                numAtivos++;
                $("#"+dados[i].indice+"").val(""+dados[i].classificacaoId+"");
                /**
                 * Evento para trocar o valor do campo que armazena se a sala é reservável.
                 * */
                jQuery("i[data-click='onOff']").click(function () {
                    value = $(this).attr('name');
                    if($("input[data-value='" + value + "']:checked").val() == null){
                        $("input[data-switch='"+ value +"']").val('1');
                    } else {
                        $("input[data-switch='"+ value +"']").val('0');
                    }
                });
                jQuery(function () {
                    onlyNumber($("input[data-required='onlyNumber']"));
                });
            }
        }
        $('#numeracao').text('Página ' + (pagina + 1) + ' de ' + Math.ceil(dados.length / tamanhoPagina));
    }
    function ajustarBotoes() {
        $('#prox').prop('disabled', dados.length <= tamanhoPagina || pagina > dados.length / tamanhoPagina - 1);
        $('#ant').prop('disabled', dados.length <= tamanhoPagina || pagina == 0);
    }
    /**
     * Função para adicionar as salas na tabela.
     * Recebe todos os campos do formulário do modal, e insere uma linha na tabela.
     * */

    jQuery(function () {
        if ($("input[required='required']").val() == "") {
            alert("Preencha os campos obrigatórios!");
        }
        $("#addSala").click(function () {
            sala = {
                classificacaoId: $("select[name='classi']").val(),
                classificacaoNome: $("select[name='classi']").children(':selected').text(),
                nome: $("input[name='salaNome']").val(),
                capacidade: $("input[name='salaCapacidade']").val(),
                reservavel: $("input[name='reservavel']:checked").val(),
                largura: $("input[name='salaLargura']").val(),
                comprimento: $("input[name='salaComprimento']").val(),
                indice: reg,
                ativo: true
            };
//            sala.classificacaoNome = $("option[value='" + sala.classificacaoId + "']").text();
            
            arraySalas.push(sala);
            paginar(arraySalas);
            numRegistro++;
            reg++;

            $("select[name='classi']").val("9");
            $("input[name='salaNome']").val("");
            $("input[name='salaCapacidade']").val("");
            $("input[name='salaLargura']").val("");
            $("input[name='salaComprimento']").val("");
        });

        $("#removeSala").click(function () {
            $("input[name='sala[]']:checked").each(function () {
                indice = $(this).val();
                arraySalas[indice].ativo = false;
                numRegistro--;
            });
            paginar(arraySalas);
        });
    });

    /**
     * Função para alternar entre as páginas.
     **/
    jQuery(function () {
        $('#proximo').click(function () {
//            input.parent().addClass('state-error');
//            input.parent().parent().find("div[class^='note']").addClass('note-error').html(msg);
            if ($("input[name='predioNome']").val() == "") {
                $("input[name='predioNome']").parent().addClass('state-error');
                $("input[name='predioNome']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
            } else {
                $("input[name='predioNome']").parent().removeClass('state-error');
                $("input[name='predioNome']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
            }
            if ($("input[name='predioLogradouro']").val() == "") {
                $("input[name='predioLogradouro']").parent().addClass('state-error');
                $("input[name='predioLogradouro']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
            } else {
                $("input[name='predioLogradouro']").parent().removeClass('state-error');
                $("input[name='predioLogradouro']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
            }
            if ($("select[name='camp']").children(':selected').text() === "Selecione" || $("select[name='camp']").val() <= 0) {
                $("select[name='camp']").parent().addClass('state-error');
                $("select[name='camp']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
            } else {
                $("select[name='camp']").parent().removeClass('state-error');
                $("select[name='camp']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
            }

            if ($("input[name='predioNome']").val() != "" && $("input[name='predioLogradouro']").val() != "" && $("select[name='camp']").val() > 0) {
                $('#parte1').addClass('hidden');
                $('#parte2').removeClass('hidden');
            }
        });
        $('#anterior').click(function () {
            $('#parte2').addClass('hidden');
            $('#parte1').removeClass('hidden');
        });

    });



    jQuery(function () {
        onlyNumber($("input[data-required='onlyNumber']"));
    });

    jQuery(function () {
        $("#addMultiSala").click(function () {
            quantiSalas = $("input[name='quantiSalas']").val();
            for(i = 0; i < quantiSalas; i++){
                salaVazia = {
                    classificacaoId: $("select[name='classifi']").val(),
                    classificacaoNome: $("option[value='" + this.classificacaoId + "']").text(),
                    nome: $("input[name='salaNome']").val(),
                    capacidade: $("input[name='salaCapacidade']").val(),
                    reservavel: $("input[name='reservavel']:checked").val(),
                    largura: $("input[name='salaLargura']").val(),
                    comprimento: $("input[name='salaComprimento']").val(),
                    indice: reg,
                    ativo: true
                };
                salaVazia.classificacaoNome = $("option[value='" + salaVazia.classificacaoId + "']").text();
                arraySalas.push(salaVazia);
                numRegistro++;
                reg++;
            }
            paginar(arraySalas);
            $("input[name='quantiSalas']").val("");
        });
    });
    //Busca CEP automaticamente
    jQuery(function () {
        jQuery("input[name='predioCep']").mask('99999-999', {
            completed: function () {
                jQuery.ajax({
                    url: "/pessoa/cidade/busca-info-cep",
                    dataType: 'json',
                    type: 'post',
                    data: {cep: jQuery("input[name='predioCep']").val()},
                    success: function (data) {
                        jQuery("input[name='predioLogradouro']").val(data.dados.logr_nome);
                        jQuery("input[name='predioCidade']").val(data.dados.cid_nome);
                        jQuery("select[name='predioEstado']").val(data.dados.est_id);
                        jQuery("input[name='predioBairro']").val(data.dados.bai_nome);
                    },
                    erro: function () {
                        alert('Erro ao buscar pelo CEP');
                    }
                });
            }});
    });
</script>