<?php

$urlEditAgendamento   = $this->url("diario/default", ["controller"=>"agendamento", "action"=>"edit"]);
$urlAddAgendamento    = $this->url("diario/default", ["controller"=>"agendamento", "action"=>"add"]);
$urlRemoveAgendamento = $this->url("diario/default", ["controller"=>"agendamento", "action"=>"remove"]);
$urlPesquisaDiario    = $this->url("diario/default", ["controller"=>"agendamento", "action"=>"search-for-json"]);
$urlDatatable         = $this->url("diario/default", ["controller"=>"agendamento", "action"=>"search"]);
$urlPesquisaCursos    = $this->url("matricula/default", ["controller"=>"campus-curso", "action"=>"search-for-json"]);
$urlAddAgendamentoAluno = $this->url("diario/default", ["controller"=>"agendamento-diario-aluno", "action"=>"add"]);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('agendamento-add', false, 'App');
?>

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <blockquote>
                        <h1>Gestão de agendamentos:</h1>
                    </blockquote>
                    <div class="row" style="padding: 5px">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="per">Período Letivo:</label>
                                <select id="per" class="form-control">
                                    <?php
                                    foreach($this->periodosLetivos as $cadaPeriodo){
                                        echo "<option value='{$cadaPeriodo['id']}'>{$cadaPeriodo['text']}</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="curso">Curso:</label>
                                <input type="text" id="curso" data-filtro='true' class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="turma">Turma:</label>
                                <input type="text" id="turma" data-filtro='true' class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="disc">Disciplina:</label>
                                <input type="text" id="disc" data-filtro='true' class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="etapa">Etapa:</label>
                                <input type="text" id="etapa" data-filtro='true' class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 5px">
                        <div class="widget-body" id="container-agendamento">
                            <table id="dataTableAgendamento" class="table table-striped table-bordered table-hover"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th width="20%">Título</th>
                                    <th width="10%">Tipo do Agendamento</th>
                                    <th width="10%%">Nota</th>
                                    <th width="10%">Data de Entrega</th>
                                    <th width="10%">Curso</th>
                                    <th width="10%">Turma</th>
                                    <th width="10%">Disciplina</th>
                                    <th width="10%">Etapa</th>
                                    <th width="10%">Ações</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <footer class="text-center">
                        <a href="<?= $urlAdd; ?>" class="btn btn-primary" id="btn-agenda-add">
                            Novo Registro
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" data-keyboard="false" data-backdrop="static" id="agendamento-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Gestão de Agendamento</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">

                    <form action="#" id="agendamento-form" novalidate="novalidate" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="agendaId" value="<?= $this->arrDados['agenda_id']; ?>">
                        <input type="hidden" name='cursocampus' value="<?= $this->arrDados['cursocampus_id']; ?>">

                        <div class="col-sm-4" id="divTurmaModal">
                            <div class="form-group">
                                <label for="turma">Turma:</label>
                                <input type="text" id="turma" name='turma' class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4" id="divDiscModal">
                            <div class="form-group">
                                <label for="disc">Disciplina:</label>
                                <input type="text" name="disc" id="discModal" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4" id="divEtapaModal">
                            <div class="form-group">
                                <label for="etapa">Etapa:</label>
                                <input type="text" id="etapaModal" name='etapa' class="form-control">
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="agendaTitulo">Título do Agendamento:</label>
                                <input type="text" name="agendaTitulo" id="agendaTitulo" class="form-control"
                                       placeholder="Nome da Agendamento" maxlength="45"
                                       value="<?=$this->arrDados['agendaTitulo']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="agendaNome">Tipo do Agendamento:</label>
                                <select id="agendaNome" name="agendaNome" class="form-control">
                                    <?php
                                    foreach($this->tiposAgendamento as $cadaAgendaTipoNome){
                                        echo "<option value='{$cadaAgendaTipoNome['id']}'>{$cadaAgendaTipoNome['text']}</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="agendaDataFim">Data de Entrega:</label>
                                <input type="text" name="agendaDataFim" id="agendaDataFim" class="form-control"
                                       placeholder="Data Fim"
                                       value="<?=$this->arrDados['agendaDataFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="agendaAvaliativa">Avaliativo:</label>
                                <select name="agendaAvaliativa" id="agendaAvaliativa" class="form-control">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4" id="divNota">
                            <div class="form-group" >
                                <label for="agendaNota">Nota:</label>
                                <input type="text" name="agendaNota" id="agendaNota" class="form-control"
                                       placeholder="Nota do Agendamento"
                                       value="<?=$this->arrDados['agendaNota']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4" id="divEntregaTipo">
                            <div class="form-group" >
                                <label for="agendaEntregaTipo">Tipo da Entrega:</label>
                                <select name="agendaEntregaTipo" id="agendaEntregaTipo" class="form-control">
                                    <option value="Presencial">Presencial</option>
                                    <option value="Online">Online</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4" id="divAnexo" style="display: none">
                            <div class="form-group" >
                                <label for="agendaAnexos">Exige Anexo:</label>
                                <select name="agendaAnexos" id="agendaAnexos" class="form-control">
                                    <option value="Sim">Sim</option>
                                    <option value="Não" selected>Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" >
                                <label for="agendaDescricao">Descrição do Agendamento:</label>
                                <textarea name="agendaDescricao" id="agendaDescricao" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" id='btn-enviar-agendamento' class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?=$this->basePath();?>/smart-admin/sound/';
        $.agendamentoAdd({
            url: {
                urlPesquisaCursos: '<?=$urlPesquisaCursos?>',
                urlPesquisaDiario: '<?=$urlPesquisaDiario?>',
                urlAgendamentoEdit: '<?=$urlEditAgendamento?>',
                urlAgendamentoAdd: '<?=$urlAddAgendamento?>',
                urlAgendamentoAlunoAdd: '<?=$urlAddAgendamentoAluno?>',
                urlAgendamentoRemove: '<?=$urlRemoveAgendamento?>',
                urlDatatable: '<?=$urlDatatable?>',
            }
        });
    });
</script>