<?php
$urlListagem = $this->url('crm/default', array('controller' => 'crm-atividade-tipo'));
$paramUrl    = array('controller' => 'crm-atividade-tipo', 'action' => 'add');

if ($this->arrDados['atividadeTipoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['atividadeTipoId'];
}
$urlPesquisaCrmAtividadeTipo = $this
    ->url('crm/default', array('controller' => 'crm-atividade-tipo', 'action' => 'search-for-json'));
$urlForm                     = $this->url('crm/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-atividade-tipo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="crm-atividade-tipo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="atividadeTipoId" id="atividadeTipoId"
                               value="<?php echo $this->arrDados['atividadeTipoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="atividadeTipoNome">Nome:</label>
                                <input type="text" name="atividadeTipoNome" id="atividadeTipoNome"
                                       class="form-control"
                                       placeholder="Nome" maxlength="255"
                                       value="<?php echo $this->arrDados['atividadeTipoNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="atividadePai">Atividade Pai:</label>
                                <input type="text" name="atividadePai" id="atividadePai" class="form-control"
                                       placeholder="Atividade Pai">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeTipo">Tipo de Atividade:</label>
                                <select name="atividadeTipo" id="atividadeTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrAtividadeTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeComentarioObrigatorio">Comentário Obrigatório:</label>
                                <select name="atividadeComentarioObrigatorio" id="atividadeComentarioObrigatorio"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrAtividadeComentarioObrigatorio as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeComentarioObrigatorio']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="atividadeCaracterizaDesistencia">Caracteriza Desistência:</label>
                                <select name="atividadeCaracterizaDesistencia" id="atividadeCaracterizaDesistencia"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrAtividadeCaracterizaDesistencia as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeCaracterizaDesistencia']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="atividadeAgendamento">Agendamento:</label>
                                <select name="atividadeAgendamento" id="atividadeAgendamento" class="form-control">
                                    <?php
                                    foreach ($this->arrAtividadeAgendamento as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeAgendamento']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="atividadeLeadStatus">Status de Lead Associado:</label>
                                <select name="atividadeLeadStatus" id="atividadeLeadStatus" class="form-control">
                                    <?php
                                    foreach ($this->arrLeadStatus as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeLeadStatus']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmAtividadeTipoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {crmAtividadeTipo: '<?=$urlPesquisaCrmAtividadeTipo;?>'},
            data: {},
            value: {atividadePai:<?=json_encode($this->arrDados['atividadePai']); ?>},
        });
    });
</script>