<?php
$urlListagem = $this->url('comunicacao/default', array('controller' => 'comunicacao-campanha-estatistica'));
$paramUrl    = array('controller' => 'comunicacao-campanha-estatistica', 'action' => 'add');

if ($this->arrDados['estatisticaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['estatisticaId'];
}
$urlPesquisaComunicacaoCampanha = $this
    ->url('comunicacao/default', array('controller' => 'comunicacao-campanha', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas       = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAluno      = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'search-for-json'));
$urlPesquisaAcadCurso           = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));
$urlForm                        = $this->url('comunicacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('comunicacao-campanha-estatistica-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="comunicacao-campanha-estatistica-form"
                              novalidate="novalidate" method="post">
                            <input type="hidden" name="estatisticaId" id="estatisticaId"
                                   value="<?php echo $this->arrDados['estatisticaId']; ?>">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campanha">Código Campanha:</label>
                                    <input type="text" name="campanha" id="campanha" class="form-control"
                                           placeholder="Código Campanha" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usuario">Código Usuário:</label>
                                    <input type="text" name="usuario" id="usuario" class="form-control"
                                           placeholder="Código Usuário" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="aluno">Código Aluno:</label>
                                    <input type="text" name="aluno" id="aluno" class="form-control"
                                           placeholder="Código Aluno" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="curso">Código Curso:</label>
                                    <input type="text" name="curso" id="curso" class="form-control"
                                           placeholder="Código Curso" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="estatisticaData">Data:</label>
                                    <input type="text" name="estatisticaData" id="estatisticaData" class="form-control"
                                           placeholder="Data" value="<?php echo $this->arrDados['estatisticaData']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="estatisticaAlvo">Alvo:</label>
                                    <select name="estatisticaAlvo" id="estatisticaAlvo" class="form-control">
                                        <?php
                                        foreach ($this->arrEstatisticaAlvo as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['estatisticaAlvo']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="estatisticaAcao">Ação:</label>
                                    <select name="estatisticaAcao" id="estatisticaAcao" class="form-control">
                                        <?php
                                        foreach ($this->arrEstatisticaAcao as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['estatisticaAcao']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.comunicacaoCampanhaEstatisticaAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                comunicacaoCampanha: '<?=$urlPesquisaComunicacaoCampanha;?>',
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>',
                acadgeralAluno: '<?=$urlPesquisaAcadgeralAluno;?>',
                acadCurso: '<?=$urlPesquisaAcadCurso;?>'
            },
            data: {},
            value: {
                campanha:<?=json_encode($this->arrDados['campanha']); ?>,
                usuario:<?=json_encode($this->arrDados['usuario']); ?>,
                aluno:<?=json_encode($this->arrDados['aluno']); ?>,
                curso:<?=json_encode($this->arrDados['curso']); ?>
            }
        });
    });
</script>