<div id="anot" class="tab-pane active">
    <div class="panel panel-default">
        <!-- Progress table -->
        <div class="table-responsive" style="overflow-x: hidden">
            <table class="table dataTable" cellspacing="0" width="100%" id="anotacoes" role="grid"
                   aria-describedby="anotacoes">
                <thead>
                <tr>
                    <th class="text-right">Ações</th>
                    <th>Data da aula</th>
                    <th>Titulo</th>
                    <th> Descrição</th>
                </tr>
                </thead>
                <tbody id="responsive-table-body">
                <?php
                foreach ($this->anotacoes as $key => $anotacao):
                    ?>
                    <tr>
                        <td class="text-right">
                            <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal"
                               data-placement="top" title="Ver" onclick="showAnotacao(<?= $anotacao->getAnotId(); ?>);"><i
                                    class="fa fa-eye"></i></a>
                        </td>
                        <td><span><?= $anotacao->getAnotData()->format("d/m/Y"); ?></span></td>
                        <td><?= $anotacao->getAnotTitulo(); ?></td>
                        <td><?= substr($anotacao->getAnotDescricao(), 0, 15); ?>(...)</td>
                    </tr>
                    <?php
                endforeach;
                ?>
                </tbody>
            </table>
        </div>
        <!-- // Progress table -->

        <!--        <div class="panel-footer padding-none text-center">-->
        <!--            <ul class="pagination">-->
        <!--                <li class="disabled"><a href="#">«</a></li>-->
        <!--                <li class="active"><a href="#">1</a></li>-->
        <!--                <li><a href="#">2</a></li>-->
        <!--                <li><a href="#">3</a></li>-->
        <!--                <li><a href="#">4</a></li>-->
        <!--                <li><a href="#">5</a></li>-->
        <!--                <li><a href="#">»</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</div>
<div id="anotacoesJson" hidden="hidden">
    <?php
    $arr = [];
    foreach ($this->anotacoes as $anotacao) {
        $anotacao             = $anotacao->toArray();
        $anotacao['anotData'] = $anotacao['anotData']->format("d/m/Y");
        $arr[]                = $anotacao;
    }
    echo \Zend\Json\Json::encode($arr);
    ?>
</div>
<div id="infoAnotations" hidden="hidden">
    <div class="row">
        <div class="col-sm-1 col-xs-1 col-md-1">
            <a onclick="voltaAnotacao()" data-placement="top" title="Voltar"><i
                    class="fa fa-arrow-circle-left fa-3x"></i></a>
        </div>
    </div>
    <div class="tab-content">

        <div id="course" class="tab-pane active">
            <form name="formAnotacoes" method="post" enctype="multipart/form-data">
                <input type="hidden" name="posicao">
                <input type="hidden" name="tamanho">
                <div class="form-group form-control-material">
                    <input type="text" name="anotTitulo" readonly="true" id="title" placeholder="Titulo da aula"
                           class="form-control used"><span class="ma-form-highlight"></span><span
                        class="ma-form-bar"></span>
                    <label for="title">Titulo</label>
                </div>
                <div class="form-group ">
                    <label>
                        <div class="icon-block s30 bg-blue-300 text-white img-circle">
                            <i class="fa fa-calendar"></i>
                        </div>
                        Data da aula </label>
                    <input name="anotData" readonly="true" placeholder="00/00/0000" type="text"
                           class="form-control datepicker input-sm datepicker-select" data-efect="date-picker" size="4">
                </div>
                <div class="form-group">
                    <label>
                        <div class="icon-block s30 bg-blue-300 text-white img-circle">
                            <i class="fa fa-pencil"></i>
                        </div>
                        Descrição</label>

                    <p class="form-control-static anotDescricao">-</p>

                </div>
                <div class="icon-block s30 bg-blue-300 text-white img-circle">
                    <i class="fa fa-upload"></i>
                </div>
                Arquivos
                <table id="tableArquivos">
                    <thead>
                    <th width='200px'>Nome do Arquivo</th>
                    <th>Ações</th>
                    </thead>
                    <tbody id="bodyTableArquivos">

                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-white" onclick="prev()" id="anterior"><i class="fa fa-arrow-circle-left fa-2x"></i>
            Anterior
        </button>
        <button class="btn btn-white" onclick="next()" id="proxima">Proxima <i
                class="fa fa-arrow-circle-right fa-2x"></i></button>
    </div>
</div>
<script>
    $(function () {
        $('#anotacoes').dataTable({
            "oLanguage": {
                "sInfo": "",
                "sZeroRecords": "Nenhum registro encontrado",
                "sInfoEmpty": "Exibindo 0 / 0 de _TOTAL_ registro(s)",
                "sLengthMenu": "Exibir _MENU_ registros por página",
                "sInfoFiltered": "(busca de _MAX_ registros )",
                "sSearch": "",
                "sPlaceholder": "Busca",
                "oPaginate": {
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            },
            "iDisplayLength": 10,
            "bLengthChange": false,
//            "sDom":"<'dt-toolbar'<'col-xs-6'><'col-xs-6'T>f>" +
//            "t" +
//            "<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'>>",
            "aoColumnDefs": [
                {'bSortable': false, 'aTargets': [0]}
            ]
        });
    });

    function showAnotacao(anotId) {
        var anotations = JSON.parse($("#anotacoesJson").html());
        limpaModal();
        for (var i = 0; i < anotations.length; i++) {
            if (anotations[i].anotId == anotId) {
                $('#anot').hide();
                $('#infoAnotations').show();
                preencheModal(anotations[i], i, anotations.length);
                $.ajax({
                    url: "/professor/acadperiodo-anotacao-arquivo/busca-arquivos-anotacao",
                    dataType: 'json',
                    type: 'post',
                    data: {anotacaoId: anotId},
                    success: function (data) {
                        for (var i = 0; i < data.arquivos.length; i++) {
                            $("#bodyTableArquivos").append(geraLinhaArquivo(data.arquivos[i]));
                        }
                    },
                    erro: function () {
                        alert('Erro ao buscar arquivos desta anotação! Verifique sua conexão com a internet!');
                    }
                });
                break;
            }
        }
    }

    function voltaAnotacao() {
        $('#anot').show();
        $('#infoAnotations').hide();
    }

    function limpaModal() {
        $("input[name='anotData']").val('');
        $(".anotDescricao").text('');
        $("input[name='anotTitulo']").val('');
        $("#bodyTableArquivos").empty();
        $("#proxima").removeAttr('disabled');
        $("#anterior").removeAttr('disabled');
    }

    function preencheModal(anot, pos, tam) {
        $("input[name='anotData']").val(anot.anotData);
        $(".anotDescricao").html( anot.anotDescricao);
        $("input[name='anotTitulo']").val(anot.anotTitulo);
        $("input[name='posicao']").val(pos);
        $("input[name='tamanho']").val(tam);

        if (pos == 0 && tam == 1) {
            $("#anterior").attr('disabled', 'disabled');
            $("#proxima").attr('disabled', 'disabled');
        }
        else if (pos == 0) {
            $("#proxima").attr('disabled', 'disabled');
        } else if (pos == tam - 1) {
            $("#anterior").attr('disabled', 'disabled');
        }
        return anot.anotId;
    }

    function geraLinhaArquivo(arquivo) {
        var html = "<tr><td>" + arquivo.arqNome + "</td><td><a href='/gerenciador-arquivos/arquivo/download/" + arquivo.arqChave + "'><i class='fa fa-cloud-download' ></i>Download</a></td></tr>";
        return html
    }

    function prev() {
        var anotations = JSON.parse($("#anotacoesJson").html());
        var posicao = $("input[name='posicao']").val();
        var tam = $("input[name='tamanho']").val();
        posicao = parseInt(posicao) + 1;

//        limpaModal();
        showAnotacao(anotations[posicao].anotId);
    }

    function next() {
        var anotations = JSON.parse($("#anotacoesJson").html());
        var posicao = $("input[name='posicao']").val();
        var tam = $("input[name='tamanho']").val();
        posicao = parseInt(posicao) - 1;
//        limpaModal();
        showAnotacao(anotations[posicao].anotId);
    }
</script>