<script src="<?php echo $this->basePath();?>/smart-admin/js/libs/jquery-2.0.2.min.js"></script>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i  style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    <?= $this->alunodisc ? $this->alunodisc->getDisc()->getDiscNome() : 'Indisponível'; ?>
                </h1>

                <p class="turma-name text-subhead text-white">
                    <?= $this->alunodisc ? $this->alunodisc->getTurma()->getTurmaNome() : 'Indisponível'; ?>
                </p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Aluno</span>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-section">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina - Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?= $this->disciplinas()->mountLiDisciplinas(); ?>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="tabbable tabs-blocks">

                    <!-- Tabs -->
                    <ul class="nav nav-tabs" tabindex="4" style="overflow: hidden; outline: none;">
                        <li class="active"><a href="#blocks-home-1" data-toggle="tab" aria-expanded="true" onclick="buscaFrequenciaPorDisciplina()"><i
                                    class="fa fa-calendar"></i> FREQUÊNCIA</a></li>
                        <li class=""><a href="#blocks-profile-1" id="anotations" data-toggle="tab" aria-expanded="false" onclick="buscaAnotacoes()"><i
                                    class=" fa fa-calendar-o"></i>ANOTAÇÕES</a></a></li>
                        <li class=""><a href="#blocks-messages-1" id="buscaNotas" data-toggle="tab" aria-expanded="false" onclick="buscaNotas()"><i
                                    class=" fa fa-pencil"></i> NOTAS</a></li>
                    </ul>
                    <!-- // END Tabs -->

                    <!-- Panes -->
                    <div class="tab-content">
                        <div id="blocks-home-1" class="tab-pane active">

                        </div>
                        <div id="blocks-profile-1" class="tab-pane">

                        </div>
                        <div id="blocks-messages-1" class="tab-pane">

                        </div>
                    </div>
                    <!-- // END Panes -->
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            buscaFrequenciaPorDisciplina();
        });

        function buscaAnotacoes(){
            var alunodisc = window.location.pathname;
            alunodisc = alunodisc.split("/");
            alunodisc = alunodisc[4];
            $.ajax({
                url: "<?=$this->basePath()?>/aluno/disciplinas/anotacoes/"+alunodisc,
                dataType: 'html',
                type: 'post',
                data: {alunodisc: alunodisc},
                success: function (html) {
                    $("#blocks-profile-1").empty();
                    $("#blocks-profile-1").append(html);
                },
                erro: function () {
                    alert('Erro ao buscar anotações! Verifique sua conexão com a internet.');
                }
            });
        }

        function buscaNotas(){
            var alunodisc = window.location.pathname;
            alunodisc = alunodisc.split("/");
            alunodisc = alunodisc[4];
            $.ajax({
                url: "<?=$this->basePath()?>/aluno/disciplinas/notas/"+alunodisc,
                dataType: 'html',
                type: 'post',
                data: {alunodisc: alunodisc},
                success: function (html) {
                    $("#blocks-messages-1").empty();
                    $("#blocks-messages-1").append(html);
                },
                erro: function () {
                    alert('Erro ao buscar notas! Verifique sua conexão com a internet.');
                }
            });
        }

        function buscaFrequenciaPorDisciplina(){
            var alunodisc = window.location.pathname;
            alunodisc = alunodisc.split("/");
            alunodisc = alunodisc[4];
            $.ajax({
                url: "<?=$this->basePath()?>/aluno/disciplinas/falta-por-disciplina/"+alunodisc,
                dataType: 'html',
                type: 'post',
                data: {
                    alunodisc: alunodisc
                },
                success: function (html) {
                    $("#blocks-home-1").empty();
                    $("#blocks-home-1").append(html);
                },
                erro: function () {
                    alert('Erro ao buscar anotações! Verifique sua conexão com a internet.');
                }
            });
        }
    </script>
