<?php
$total      = 0;
$totalTurma = 0;
$numEtapas  = 1;

foreach($this->etapas as $key => $etapa):
    $nota = $etapa->getAlunoetapaNota();
    $etapaPercentagem = $etapa->getDiario()->getEtapa()->getEtapaPercentagem();
    $total += $nota;

    /** @var \Matricula\Entity\AcadCursoConfig $objCursoConfig */
    if ($objCursoConfig->getCursoconfigMetodo() == $constMetodoDesempenhoNotaMedia) {
        $numEtapas=$etapa->getAlunodisc()->getTurma()->getPer()->getPerEtapas() ;
    }

    if($nota != 0){

	/*
	 * TODO: Verificar e modificar método.
	if($nota == 69){
	   $nota = 70;
           $message = "Seu resultado foi <b>69</b>, mas devido a regra <b>extra-oficial da IES</b>, o resultado foi arredondado para <b>70</b>";
	}*/

        $notaPercent  = ($nota*100)/$etapaPercentagem;
        $percentTurma = ($this->media[$key]*100)/$etapaPercentagem;
        $totalTurma   = $this->media[$key];

        if($notaPercent < 50){
            $cor = 'red';
        } elseif ($notaPercent < 70){
            $cor = 'yellow';
        } else {
            $cor = 'green';
        }


        ?>
        <div class="row">
            <h3><?= $etapa->getDiario()->getEtapa()->getEtapaDescricao(); ?></h3>
            <p>Sua Nota: <b><?= $nota; ?></b> <?= $message?></p>
            <div class="progress progress-mini width-130 margin-none" style="height: 20px">
                <div data-toggle="tooltip" title="" class="progress-bar progress-bar-<?= $cor ?>-300" role="progressbar" aria-valuenow="<?= $notaPercent; ?>" aria-valuemin="0" aria-valuemax="100" style="width<?= $notaPercent; ?>%:" data-original-title="<?= $nota."/".$etapaPercentagem." ou ".$notaPercent."%"; ?>">
                </div>
            </div>
            </div>
        </div>
    <?php
    }
endforeach;

if ($total == 69 && $this->arredondamentoDeNotas) {
    $message = "Resultado arredondado de <b>69</b> para <b>70</b> pontos.";
    $total = 70;
}

$totalPercent      = ($total * 100) / 100;
$totalPercentTurma = ($totalTurma * 100) / 100;

if ($totalPercent < 50) {
    $cor = 'red';
} elseif ($totalPercent < 70) {
    $cor = 'yellow';
} else {
    $cor = 'green';
}
?>
<div class="row">
    <h3>Total:</h3>

    <p>Sua Nota:<b><?= number_format(($total / $numEtapas),2,".","") ?></b></p>

    <div class="progress progress-mini width-130 margin-none" style="height: 20px">
        <div data-toggle="tooltip" title="" class="progress-bar progress-bar-<?= $cor ?>-300" role="progressbar"
             aria-valuenow="<?= $totalPercent; ?>" aria-valuemin="0" aria-valuemax="100"
             style="width<?= $totalPercent; ?>%:"
             data-original-title="<?= $total . "/100 ou " . $totalPercent . "%"; ?>">
        </div>
    </div>
    <h3></h3>

    <p><?= $message ?></p>
</div>
