<ul class="list-group">
    <?php
    foreach($this->etapaDisc as $disc):
        if ($disc['nota'] == 69 && $this->arredondamentoDeNotas) {
            $disc['nota'] = 70;
        }

        if($disc['nota'] <= 50){
            $cor = 'red';
        } else if($disc['nota'] <= 70){
            $cor = 'orange';
        } else {
            $cor = 'green';
        }
   ?>
        <li class="list-group-item media v-middle">
            <div class="media-body">
                <a href="<?=$this->basePath()?>/aluno/disciplinas/index/<?= $disc['disc']['alunodisc_id'] ?>" class="text-subhead list-group-link"><?= $disc['disc']['disc_nome']; ?></a>
            </div>
            <?php
            if($disc['media'] != 0) { ?>
                <p>Sua Nota: <b><?= $disc['nota']; ?></b></p>

                <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                        <div data-toggle="tooltip" title="<?= $disc['nota'] . '/100' ?> "
                                class="progress-bar progress-bar-<?= $cor ?>-300" role="progressbar"
                                aria-valuenow="<?= $disc['nota']; ?>" aria-valuemin="0" aria-valuemax="100"
                                style="width:<?= $disc['nota']; ?>%;">
                        </div>
                    </div>
                </div>
                <p>Média da Turma:</p>

                <div class="media-right">
                    <div class="progress progress-mini width-100 margin-none">
                        <div data-toggle="tooltip" title="<?= $disc['media'] . '/100' ?> "
                                class="progress-bar progress-bar-purple-300" role="progressbar"
                                aria-valuenow="<?= $disc['media']; ?>" aria-valuemin="0" aria-valuemax="100"
                                style="width:<?= $disc['media']; ?>%;">
                        </div>
                    </div>
                </div>
                </li>
            <?php
            } else {
                ?>
                    <p><strong>Não Lançado.</strong></p>
                <?php
            }

    endforeach;
    ?>
</ul>
