<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'grupo-leitor'));
$paramUrl    = array('controller' => 'grupo-leitor', 'action' => 'add');

if ($this->arrDados['grupoLeitorId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['grupoLeitorId'];
}
$urlPesquisaAcessoGrupo = $this
    ->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));
$urlForm                = $this->url('biblioteca/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('versa.shared', false, 'App');
$this->layoutComponent()->addJS('grupo-leitor-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="grupo-leitor-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="grupoLeitorId" id="grupoLeitorId"
                               value="<?php echo $this->arrDados['grupoLeitorId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="grupoLeitorNome">Nome:</label>
                                <input type="text" name="grupoLeitorNome" id="grupoLeitorNome" class="form-control"
                                       placeholder="Nome" maxlength="30"
                                       value="<?php echo $this->arrDados['grupoLeitorNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="acessoGrupo">Grupo do Acesso:</label>
                                <input type="text" name="acessoGrupo" id="acessoGrupo" class="form-control"
                                       placeholder="Grupo" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.grupoLeitorAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {acessoGrupo: '<?=$urlPesquisaAcessoGrupo;?>'},
            data: {},
            value: {acessoGrupo:<?=json_encode($this->arrDados['acessoGrupo']); ?>},
        });
    });
</script>