<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-desconto-titulo'));
$paramUrl    = array('controller' => 'financeiro-desconto-titulo', 'action' => 'add');

if ($this->arrDados['descontoTituloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['descontoTituloId'];
}
$urlPesquisaFinanceiroDesconto = $this
    ->url('financeiro/default', array('controller' => 'financeiro-desconto', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTitulo   = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas      = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas      = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlForm                       = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-desconto-titulo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-desconto-titulo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="descontoTituloId" id="descontoTituloId"
                               value="<?php echo $this->arrDados['descontoTituloId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="desconto">Código Desconto:</label>
                                <input type="text" name="desconto" id="desconto" class="form-control"
                                       placeholder="Código Desconto" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="titulo">Código Título:</label>
                                <input type="text" name="titulo" id="titulo" class="form-control"
                                       placeholder="Código Título" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usuarioAlteracao">Alteração Usuário:</label>
                                <input type="text" name="usuarioAlteracao" id="usuarioAlteracao" class="form-control"
                                       placeholder="Alteração Usuário" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usuarioCriacao">Criação Usuário:</label>
                                <input type="text" name="usuarioCriacao" id="usuarioCriacao" class="form-control"
                                       placeholder="Criação Usuário" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="descontoTituloCriacao">Criação:</label>
                                <input type="text" name="descontoTituloCriacao" id="descontoTituloCriacao"
                                       class="form-control"
                                       placeholder="Criação"
                                       value="<?php echo $this->arrDados['descontoTituloCriacao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="descontoTituloAlteracao">Alteração:</label>
                                <input type="text" name="descontoTituloAlteracao" id="descontoTituloAlteracao"
                                       class="form-control"
                                       placeholder="Alteração"
                                       value="<?php echo $this->arrDados['descontoTituloAlteracao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="descontoTituloSituacao">Situação:</label>
                                <select name="descontoTituloSituacao" id="descontoTituloSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrDescontoTituloSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['descontoTituloSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroDescontoTituloAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                financeiroDesconto: '<?=$urlPesquisaFinanceiroDesconto;?>',
                financeiroTitulo: '<?=$urlPesquisaFinanceiroTitulo;?>',
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>'
            },
            data: {},
            value: {
                desconto:<?=json_encode($this->arrDados['desconto']); ?>,
                titulo:<?=json_encode($this->arrDados['titulo']); ?>,
                usuarioCriacao:<?=json_encode($this->arrDados['usuarioCriacao']); ?>
            },
        });
    });
</script>