<?php
$paramUrl = array("controller" => "financeiro-desconto-titulo", "action" => "add");

$urlAdd             = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("financeiro/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-desconto-titulo-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-financeiro-desconto-titulo">
                    <table id="dataTableFinanceiroDescontoTitulo" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Desconto</th>
                            <th>Título</th>
                            <th>Usuário Criação</th>
                            <th>Usuário Alteração</th>
                            <th>Criado Em</th>
                            <th>Alterado Em</th>
                            <th>Aplicado</th>
                            <th>Situação</th>
                            <th style="min-width: 60px"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroDescontoTituloIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>'
            }
        });
    });
</script>