<?php
$urlListagem = $this->url('matricula/default', array('controller' => 'acadgeral-motivo-alteracao'));
$paramUrl    = array('controller' => 'acadgeral-motivo-alteracao', 'action' => 'add');

if ($this->arrDados['motivoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['motivoId'];
}

$urlForm = $this->url('matricula/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadgeral-motivo-alteracao-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="acadgeral-motivo-alteracao-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="motivoId" id="motivoId"
                               value="<?php echo $this->arrDados['motivoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="motivoDescricao">Nome:</label>
                                <input type="text" name="motivoDescricao" id="motivoDescricao" class="form-control"
                                       placeholder="Nome" maxlength="45"
                                       value="<?php echo $this->arrDados['motivoDescricao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="motivoSituacao">Situações de Curso:</label>
                                <select name="motivoSituacao[]" id="motivoSituacao" class="form-control"
                                        multiple="multiple">
                                    <?php
                                    foreach ($this->arrMotivoSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = (
                                        (in_array($id, $this->arrDados['motivoSituacao'])) ? " selected" : ""
                                        );
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadgeralMotivoAlteracaoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {},
            data: {},
            value: {},
        });
    });
</script>