<?php
$urlListagem = $this->url('organizacao/default', array('controller' => 'org-comunicacao-modelo'));
$paramUrl    = array('controller' => 'org-comunicacao-modelo', 'action' => 'add');

$urlSearchGrupo          = $this->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));

if ($this->arrDados['modeloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['modeloId'];
}
$urlPesquisaOrgComunicacaoTipo = $this
    ->url('organizacao/default', array('controller' => 'org-comunicacao-tipo', 'action' => 'search-for-json'));
$urlForm                       = $this->url('organizacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('org-comunicacao-modelo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="org-comunicacao-modelo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="modeloId" id="modeloId"
                               value="<?php echo $this->arrDados['modeloId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipo">Tipo:</label>
                                <input type="text" name="tipo" id="tipo" class="form-control"
                                       placeholder="Tipo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="modeloTipo">Tipo:</label>
                                <select name="modeloTipo" id="modeloTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrModeloTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['modeloTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="modeloNome">Nome:</label>
                                <input type="text" name="modeloNome" id="modeloNome" class="form-control"
                                       placeholder="Nome" maxlength="45"
                                       value="<?php echo $this->arrDados['modeloNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="modeloAssunto">Assunto:</label>
                                <input type="text" name="modeloAssunto" id="modeloAssunto" class="form-control"
                                       placeholder="Assunto" maxlength="250"
                                       value="<?php echo $this->arrDados['modeloAssunto']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="grupoId">Grupos:</label>
                                <input type="text" name="grupoId" id="grupoId" class="form-control"
                                       placeholder="Grupos que terão acesso ao modelo" maxlength="150">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="modeloConteudo">Conteúdo:</label>
                    <textarea name="modeloConteudo" id="modeloConteudo" class="form-control"
                              placeholder="Conteúdo"
                              rows="5"><?php echo $this->arrDados['modeloConteudo']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="modeloDataInicio">Início Data:</label>
                                <input type="text" name="modeloDataInicio" id="modeloDataInicio" class="form-control"
                                       placeholder="Início Data"
                                       value="<?php echo $this->arrDados['modeloDataInicio']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="modeloDataFim">Fim Data:</label>
                                <input type="text" name="modeloDataFim" id="modeloDataFim" class="form-control"
                                       placeholder="Fim Data" value="<?php echo $this->arrDados['modeloDataFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgComunicacaoModeloAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                orgComunicacaoTipo: '<?=$urlPesquisaOrgComunicacaoTipo;?>',
                acessoGrupo: '<?= $urlSearchGrupo; ?>'
            },
            data: {},
            value: {
                tipo:<?=json_encode($this->arrDados['tipo']); ?>,
                grupo: <?=json_encode($this->arrDados['arrGrupo']); ?>
            }
        });
    });
</script>