<?php
$urlAction = $this->url(
    'organizacao/default',
    array('controller' => 'org-comunicacao-modelo', 'action' => 'enviar-comunicacao')
);
?>
<div id="enviar-comunicacao-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" style="width: 30%">
        <div class="modal-overlay">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title"><strong>Envio de Comunicação</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="form-enviar-comunicacao" method="POST" action="<?= $urlAction; ?>" target="_blank">
                            <div class="">

                                <fieldset>
                                    <legend>Modelo</legend>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="modeloDocumento">Modelo de Comunicação:</label>
                                            <input type="text" class="form-control" name="modeloId"
                                                   id="modeloDocumento">
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-warning">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>