<?php

$urlPesquisaEditora = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));

$urlPesquisaPessoa   = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('atendimento', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="atendimento-form" method="post" target="_blank">
                        <h4>
                            Relação de Atendimento da Biblioteca:
                        </h4>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="grupoBibliografico">Grupo
                                    bibliográfico:</label>
                                <input name="grupobibliografico[]" id="grupoBibliografico"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="dataInicial">Data inicial:</label>
                                <input type="text" name="dataInicial" id="dataInicial" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="dataFinal">Data Final:</label>
                                <input type="text" name="dataFinal" id="dataFinal" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="usuario">Operador:</label><br>
                                <input type="text" name="usuario" id="usuario"
                                       class="form-control" style="width: 300px">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="form-group tipo">
                                <label><b>Tipo de operação</b>
                                    <div class="input-group">
                                        <label for="devolucao">
                                            <input type="checkbox" name="devolucao" id="devolucao" value="2" checked>
                                            Devolução
                                        </label>
                                        <br>
                                        <label for="emprestimo">
                                            <input type="checkbox" name="emprestimo" id="emprestimo" value="1" checked>
                                            Empréstimo
                                        </label>
                                    </div>
                                </label>
                                <br>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="/biblioteca/relatorio" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary" id="gerar">
                                    <i class="fa fa-gear"></i>
                                    Gerar relatório do ranking
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    window.urlEditora='<?php echo $urlPesquisaEditora; ?>';
    window.dataGrupoBibliografico = <?php echo $this->jsonGrupoBibliografico ?>;
    window.urlPessoa = '<?php echo $urlPesquisaPessoa; ?>';
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
    });
</script>