<?php
$urlCodigoBarra = $this->url('biblioteca/default', array('controller' => 'exemplar', 'action' => 'barcode'));
?>
<style>
    .etiqueta {
        width: 66.7mm;
        height: 25.4mm;
        display: inline-block;
    }

    .etiqueta-corpo {
        display: block;
        width: 100%;
        font-weight: bolder;
        text-align: center;
    }

    .etiqueta-corpo img {
        width: 66.7mm;
        height: 20mm;
    }

    .etiqueta-lista {
        height: 300px;
        overflow: auto;
        border: 1px solid #CCC;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <h4>
                        <?php echo count($this->exemplares); ?> exemplares encontrados.
                    </h4>

                    <div class="text text-info">
                        <b>Atenção:</b> Use as seguintes configurações: layout: retrato,
                        tamanho de papel: 4 x 4 e margens: 0.
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 etiqueta-lista">
                        <div class="etiqueta-container">
                            <?php foreach ($this->exemplares as $exemplar) { ?>
                                <div class="etiqueta">
                                    <div class="etiqueta-corpo">
                                        <?php
                                        if ($this->girar == true) { ?>
                                            <img src="<?= $urlCodigoBarra . '/' . $exemplar['exemplar_id'] . '?vertical=1'?>">
                                        <?php } else { ?>
                                            <img src="<?= $urlCodigoBarra . '/' . $exemplar['exemplar_id'] ?>">
                                        <?php } ?>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <iframe class="hidden" id="etiqueta-imprimir" name="etiqueta-imprimir"></iframe>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-default" id="etiqueta-back-btn">
                                <i class="fa fa-arrow-left"></i>
                                Voltar
                            </button>
                            <button type="button" class="btn btn-primary" id="etiqueta-imprimir-btn">
                                <i class="fa fa-print"></i>
                                Imprimir etiquetas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#etiqueta-imprimir-btn').click(function () {
            var text = $('.etiqueta-lista').html();
            var newWin = window.frames["etiqueta-imprimir"];
            var conteudo = '\
                <style>\
                    @media print {\
                        @page{\
                            size: 215mm 280mm;\
                            margin: 5mm 1mm 5mm 1mm;\
                        }\
                        .etiqueta-container{\
                            height: 280mm;\
                            page-break-after: always\
                        }\
                        .etiqueta{\
                            width: 68.7mm;\
                            height: 25.4mm;\
                            display: inline-block;\
                            margin-bottom: 5px;\
                        }\
                        .etiqueta-corpo {\
                            display: block;\
                            width: 100%;\
                            font-weight: bolder;\
                            text-align: center;\
                        }\
                        .etiqueta-corpo img {\
                            width: 68.7mm;\
                            height: 20mm;\
                        }\
                    }\
                </style>';
            $('#etiqueta-imprimir-btn').prop('disabled', true);
            conteudo += text;
            newWin.document.write(conteudo);
            newWin.document.close();
            newWin.focus();
            newWin.onload = function () {
                newWin.print();
                $('#etiqueta-imprimir-btn').prop('disabled', false);
            };
        });
        $('#etiqueta-back-btn').click(function () {
            history.go(-1);
        });
    });
</script>
