<?php
$urlCodigoBarra = $this->url('biblioteca/default', array('controller' => 'exemplar', 'action' => 'barcode'));
$girar=$this->girar;

$fnImage = function ($codigo) use ($urlCodigoBarra, $girar) {
    if ($girar == true) {
        $strImg = '<img src="' . $urlCodigoBarra . '/' . $codigo . '?vertical=1">';
    } else {
        $strImg = '<img src="' . $urlCodigoBarra . '/' . $codigo . '">';
    }

    return $strImg;
}
?>
<style>
    .etiqueta {
        width: 118mm;
        height: 38.1mm;
        display: block;
        border: 1px solid #AAA;
        border-radius: 10px;
        margin: 9px auto;
    }

    .etiqueta-corpo {
        display: block;
        margin: 0 auto;
        width: 100%;
        font-weight: bolder;
        text-align: center;
    }

    .etiqueta-corpo img {
        height: 37.5mm;
        margin: 0 30px;
    }

    .etiqueta-lista {
        height: 300px;
        overflow: auto;
        border: 1px solid #CCC;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <h4>
                        <?php echo count($this->exemplares); ?> exemplares encontrados.
                    </h4>

                    <div class="text text-info">
                        <b>Atenção:</b> Use as seguintes configurações: layout: retrato,
                        tamanho de papel: 4 x 4 e margens: 0.
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 etiqueta-lista">
                        <?php
                        for ($i = 0; $i < count($this->exemplares); $i += 4) {
                            $j1 = $i;
                            $j2 = $i + 1;
                            $j3 = $i + 2;
                            $j4 = $i + 3;
                            echo '
                        <div class="etiqueta">
                            <div class="etiqueta-corpo">
                            ' .
                                 (isset($this->exemplares[$j1]) ? $fnImage($this->exemplares[$j1]['exemplar_id']) : '') .
                                 (isset($this->exemplares[$j2]) ? $fnImage($this->exemplares[$j2]['exemplar_id']) : '') .
                                 (isset($this->exemplares[$j3]) ? $fnImage($this->exemplares[$j3]['exemplar_id']) : '') .
                                 (isset($this->exemplares[$j4]) ? $fnImage($this->exemplares[$j4]['exemplar_id']) : '') .
                                 '
                            </div>
                        </div>';
                        }
                        ?>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <iframe class="hidden" id="etiqueta-imprimir" name="etiqueta-imprimir"></iframe>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-default" id="etiqueta-back-btn">
                                <i class="fa fa-arrow-left"></i>
                                Voltar
                            </button>
                            <button type="button" class="btn btn-primary" id="etiqueta-imprimir-btn">
                                <i class="fa fa-print"></i>
                                Imprimir etiquetas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#etiqueta-imprimir-btn').click(function () {
            var text = $('.etiqueta-lista').html();
            var newWin = window.frames["etiqueta-imprimir"];
            var conteudo = '\
                <style>\
                    @media print {\
                        html, body {\
                            margin: 0;\
                            padding: 0;\
                            font-family: "Open Sans", Arial,Helvetica, Sans-Serif;\
                        }\
                        @page{\
                            padding-top: 2mm;\
                        }\
                        .etiqueta{\
                            padding: 0;\
                            width: 148mm;\
                            height: 60mm;\
                            text-align: center;\
                            margin: 8mm 0;\
                        }\
                        .etiqueta-corpo {\
                            width: 148mm;\
                            height: 60mm;\
                            display: block;\
                        }\
                        img {\
                            height: 60mm;\
                            margin: 0 2mm;\
                        }\
                    }\
                </style>';
            $('#etiqueta-imprimir-btn').prop('disabled', true);
            conteudo += text;
            newWin.document.write(conteudo);
            newWin.document.close();
            newWin.focus();
            newWin.onload = function () {
                newWin.print();
                $('#etiqueta-imprimir-btn').prop('disabled', false);
            };
        });
        $('#etiqueta-back-btn').click(function () {
            history.go(-1);
        });
    });
</script>