<style>
    .etiqueta {
        width: 66.7mm;
        height: 25.4mm;
        display: inline-block;
        border: 1px solid #AAA;
        border-radius: 10px;
    }

    .etiqueta-corpo {
        font-size: 12px;
        font-weight: bolder;
        margin: 10px 0 0 0;
    }

    .etiqueta-lista {
        height: 300px;
        overflow: auto;
        border: 1px solid #CCC;
    }

    #etiqueta-imprimir {
        position: relative;
        top: -10000px;
        left: -10000px;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <h4>
                        <?php echo count($this->exemplares); ?> exemplares encontrados.
                    </h4>

                    <div class="text text-info">
                        <b>Atenção:</b> Use as seguintes configurações: layout: retrato,
                        tamanho de papel: 4 x 4 e margens: 0.
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 etiqueta-lista" style="page-break-after: always">
                        <?php foreach ($this->exemplares as $exemplar) { ?>
                            <div class="etiqueta">
                                <div class="etiqueta-corpo">
                                    <div style="display: block;float: left;width: 50%">
                                        <?= ($exemplar['cutter'] ? $exemplar['cutter'] : '-') ?><br>
                                        Ed. <?= ($exemplar['edicao'] ? $exemplar['edicao'] : '-') ?><br>
                                        Ex. <?= ($exemplar['exemplar'] ? $exemplar['exemplar'] : '-') ?><br>
                                    </div>
                                    <div style="display: block;float: right;width: 50%">
                                        <?= ($exemplar['cdu'] ? $exemplar['cdu'] : '-') ?><br>
                                        <?= ($exemplar['ano'] ? $exemplar['ano'] : '-') ?><br>
                                        Cód. <?= ($exemplar['codigo'] ? $exemplar['codigo'] : '-') ?><br>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <iframe id="etiqueta-imprimir" name="etiqueta-imprimir"></iframe>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-default" id="etiqueta-back-btn">
                                <i class="fa fa-arrow-left"></i>
                                Voltar
                            </button>
                            <button type="button" class="btn btn-primary" id="etiqueta-imprimir-btn">
                                <i class="fa fa-print"></i>
                                Imprimir etiquetas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#etiqueta-imprimir-btn').click(function () {
            var text = $('.etiqueta-lista').html();
            var newWin = window.frames["etiqueta-imprimir"];
            var conteudo = '\
                <style>\
                @media print{\
                    @page {\
                        size: 215mm 280mm;\
                        margin: 7mm 1mm 5mm 1mm;\
                    }\
                    .etiqueta {\
                        width: 67.7mm;\
                        height: 24.6mm;\
                        display: inline-block;\
                        border: 0px solid #AAA;\
                        border-radius: 10px;\
                        margin: 0 0 0 2px;\
                    }\
                    .etiqueta-corpo {\
                        font-size: 14px;\
                        font-weight: bolder;\
                        margin: 10px 0 0 10px;\
                    }\
                }\
                </style>';
            conteudo += text;
            newWin.document.write(conteudo);
            newWin.document.close();
            newWin.focus();
            newWin.print();
        });
        $('#etiqueta-back-btn').click(function () {
            history.go(-1);
        });
    });
</script>
