<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'relatorio'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('exemplar-etiqueta', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="?" id="exemplar-etiquetas-form" novalidate="novalidate"
                          method="post">
                        <h4><?php echo $this->mensagem; ?></h4>

                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="exemplarIntervalo">Intervalos de exemplares para impressão (Exemplo: 1-20 ou 1-10,50,60-65):</label>
                                    <input type="text" name="exemplarIntervalo" id="exemplarIntervalo" class="form-control">
                                    <span class="informacao">0 exemplares</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="etiquetaLayout">Modelo de etiqueta:</label>
                                    <input type="text" name="etiquetaLayout" id="etiquetaLayout" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-gear"></i>
                                    Gerar etiquetas
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.exemplarEtiqueta({
            data: <?= $this->arrLayout ?>
        });
    });
</script>