<style>
    .etiqueta {
        width: 118mm;
        height: 38.1mm;
        display: block;
        border: 1px solid #AAA;
        border-radius: 10px;
        margin: 9px auto;
    }

    .etiqueta-corpo {
        display: block;
        margin: 0 40%;
        width: 60%;
        font-weight: bolder;
    }

    .etiqueta-lista {
        height: 300px;
        overflow: auto;
        border: 1px solid #CCC;
    }

    #etiqueta-imprimir {
        position: absolute;
        top: -10000px;
        left: -10000px;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <h4>
                        <?php echo count($this->exemplares); ?> exemplares encontrados.
                    </h4>

                    <div class="text text-info">
                        <b>Atenção:</b> Use as seguintes configurações: layout: retrato,
                        tamanho de papel: 4 x 4 e margens: 0.
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 etiqueta-lista">
                        <?php
                        foreach ($this->exemplares as $exemplar) {
                            echo '
                            <div class="etiqueta">
                                <div class="etiqueta-corpo">' .
                                 (
                                     $exemplar['titulo_edicao_cdu'] . '<br>' .
                                     $exemplar['titulo_edicao_cutter'] . '<br>' .
                                     (
                                     $exemplar['titulo_edicao_volume'] || $exemplar['titulo_edicao_tomo'] ?
                                         (
                                             ($exemplar['titulo_edicao_volume'] ? 'Vol. ' . $exemplar['titulo_edicao_volume'] . ' ' : '') .
                                             ($exemplar['titulo_edicao_tomo'] ? 'Tomo ' . $exemplar['titulo_edicao_tomo'] . ' ' : '') . '<br>'
                                         ) : ''
                                     ) .
                                     $exemplar['titulo_edicao_ano'] . '<br>' .
                                     'Ex. ' . $exemplar['exemplar_codigo'] . '<br>' .
                                     'Reg. ' . (int)$exemplar['exemplar_id'] . '<br>' .
                                     $exemplar['setor_sigla']
                                 ) . '
                                </div>
                            </div>';
                        }

                        ?>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <iframe id="etiqueta-imprimir" name="etiqueta-imprimir"></iframe>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-default" id="etiqueta-back-btn">
                                <i class="fa fa-arrow-left"></i>
                                Voltar
                            </button>
                            <button type="button" class="btn btn-primary" id="etiqueta-imprimir-btn">
                                <i class="fa fa-print"></i>
                                Imprimir etiquetas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#etiqueta-imprimir-btn').click(function () {
            var text = $('.etiqueta-lista').html();
            var newWin = window.frames["etiqueta-imprimir"];
            var conteudo = '\
                <style>\
                    @page {\
                        margin: 0px 0px;\
                    }\
                    body {\
                        margin: 0;\
                        padding: 0;\
                        height: 100%;\
                        font-family: "Open Sans", Arial,Helvetica, Sans-Serif;\
                    }\
                    .etiqueta {\
                        border: 0px;\
                        margin: 0px;\
                        padding: 0px;\
                        height: 50%;\
                        display: block;\
                    }\
                    .etiqueta:nth-child(2n+1) {\
                        page-break-before: always;\
                    }\
                    .etiqueta:last-child {\
                        page-break-after: inherit;\
                    }\
                    .etiqueta-corpo {\
                        display: block;\
                        margin-left: 40%;\
                        padding-top: 5%;\
                        width: 60%;\
                        font-weight: bolder;\
                    }\
                </style>';
            conteudo += text;
            newWin.document.write(conteudo);
            newWin.document.close();
            newWin.focus();
            newWin.print();
        });
        $('#etiqueta-back-btn').click(function () {
            history.go(-1);
        });
    });
</script>