<html>
<style>
    @page {
        margin: 150px 10px 100px 10px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px;
        text-align: center !important;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: -100px;
        right: 0px;
        height: 100px;
    }

    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
    }

    table td,
    table th {
        font-size: 90%;
        border: 0px solid black;
    }

    table.border td,
    table.border th {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

    tr.dark td {
        background-color: #A8A8A8;
    }

</style>
<div id="footer">
    <p style="text-align: center">
        <b>Total de exemplares baixados no intervalo: <?php echo count($this->exemplares); ?></b>
    </p>
    <hr>
    <div style="width:80%;display:inline-block; text-align: center; font-size: 80%;">
        <?= ($this->campus) ?> - <?= ($this->endereco) ?> – <?= ($this->telefone) ?>
    </div>
    <div class="page" style="width:20%;display:inline-block; text-align: right; font-size: 80%;">
        Versa Tecnologia / Universa - pág.
    </div>
</div>
<div id="header">
    <table style="width:100%;">
        <tr>
            <td width="15%" align="center">
                <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
            </td>
            <td width="85%">
                <h3>
                    <?= ($this->mantenedora) ?><br>
                    <?= ($this->ies) ?>
                </h3>
                <h3 style="text-align: center">
                    RELATÓRIO DE EXEMPLARES BAIXADOS DE <?php echo $this->dataInicial; ?>
                    ATÉ <?php echo $this->dataFinal; ?>
                </h3>
            </td>
        </tr>
        <hr>
    </table>
</div>
<table width="100%" class="border">
    <tr>
        <th width="7.5%"><b>Código Título</b></th>
        <th width="7.5%"><b>Código Exemplar/Tombo</b></th>
        <th width="7.5%"><b>Número Exemplar</b></th>
        <th width="50%"><b>Título</b></th>
        <th width="10%"><b>Data da Baixa</b></th>
        <th width="17.5%"><b>Motivo</b></th>
    </tr>
    <?php
    $total = 0;
    foreach ($this->exemplares as $cont => $exemplar):
        ?>
        <tr class="<?= ($cont % 2 == 0) ? 'dark' : '' ?>">
            <td style="text-align: right;"><?= (int)$exemplar['titulo_id'] ?></td>
            <td style="text-align: right;"><?= (int)$exemplar['exemplar_id'] ?></td>
            <td style="text-align: right;"><?= (int)$exemplar['exemplar_codigo'] ?></td>
            <td><?= $exemplar['titulo_titulo'] ?></td>
            <td style="text-align: right;"><?= $exemplar['exemplar_baixa_data_formatado']; ?></td>
            <td><?= $exemplar['exemplar_baixa_motivo'] ?></td>
        </tr>
    <?php endforeach ?>
</table>
</html>
