<?php
$urlCodigoBarra = $this->url('biblioteca/default', array('controller' => 'exemplar', 'action' => 'barcode'));
?>
<style>
    .etiqueta-container {
        width: 220mm;
    }

    .etiqueta {
        width: 98.6mm !important;
        height: 33.9mm !important;
        display: inline-block;
        font-size: 8px;
        max-width: 101.6mm;
        max-height: 33.9mm;
        overflow: hidden;
    }

    .etiqueta-corpo {
        display: block;
        width: 100%;
        font-weight: bold;
        text-align: center;
        padding: 2mm;
        border: 1px solid #000;
        line-height: 10px;
        border-radius: 3mm;
    }

    .altura-fixa {
        height: 8mm;
        max-height: 22px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    .etiqueta-corpo img {
        width: 100%;
        height: 15mm;
    }

    .etiqueta-lista {
        height: 300px;
        overflow: auto;
        border: 1px solid #CCC;
    }

    .codigo-barra {
        margin-top: 0.3mm !important;
    }

    .etiqueta-rodape-lateral {
        font-size: 12px;
        width: 16mm;
        height: 10mm;
        max-width: 16mm;
        max-height: 33.9mm;
        display: inline-block;
    }

</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <h4>
                        <?php echo count($this->exemplares); ?> exemplares encontrados.
                    </h4>

                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 etiqueta-lista">
                        <div class="etiqueta-container">
                            <?php foreach ($this->exemplares as $exemplar) { ?>
                                <div class="etiqueta">
                                    <div class="etiqueta-corpo">
                                        <table>
                                            <td>
                                                <div class="etiqueta-rodape-lateral">
                                                    <?= ($exemplar['cdu'] ? $exemplar['cdu'] : 'Sem Inf.') ?><br>
                                                    <?= ($exemplar['cutter'] ? $exemplar['cutter'] : 'Sem Inf.') ?><br>
                                                    <?= ($exemplar['exemplarAcesso'] ? $exemplar['exemplarAcesso'] : '') ?>
                                                    <br>
                                                    <?= ($exemplar['exemplar_codigo'] ? 'Ex.' . $exemplar['exemplar_codigo'] : 'Sem Inf.') ?>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="corpo-etiqueta" style="margin-left: 3mm;width: 77mm">
                                                    N. Cham.:
                                                    <?= ($exemplar['cdu'] ? $exemplar['cdu'] : 'Sem Inf.') ?>
                                                    <?= ($exemplar['cutter'] ? $exemplar['cutter'] : 'Sem Inf.') ?> /
                                                    Acesso: <?= ($exemplar['acesso'] ? $exemplar['acesso'] : 'Sem Inf.') ?>
                                                    <br>
                                                    Autor: <?= ($exemplar['autor'] ? $exemplar['autor'] : 'Sem Informação') ?>
                                                    <div class="altura-fixa">
                                                        Título: <?= (
                                                        $exemplar['titulo'] ?
                                                            (
                                                            strlen($exemplar['titulo']) > 90 ?
                                                                substr($exemplar['titulo'], 0, 87) . '...' :
                                                                $exemplar['titulo']
                                                            )
                                                            : 'Sem Informação'
                                                        ) ?>
                                                    </div>
                                                    <div style="text-align: center" class="codigo-barra">
                                                        <img style="margin-bottom: 1mm"
                                                             src="<?= $urlCodigoBarra . '/' . $exemplar['exemplar_id'] . '?text=0&height=30' ?> ">

                                                        Exemplar: <?= ($exemplar['codigo'] ? $exemplar['codigo'] : '-') ?>
                                                        /
                                                        Acervo: <?= ($exemplar['titulo_id'] ? $exemplar['titulo_id'] : '-') ?>
                                                    </div>

                                                </div>
                                            </td>
                                        </table>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <iframe class="hidden" id="etiqueta-imprimir" name="etiqueta-imprimir"></iframe>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-default" id="etiqueta-back-btn">
                                <i class="fa fa-arrow-left"></i>
                                Voltar
                            </button>
                            <button type="button" class="btn btn-primary" id="etiqueta-imprimir-btn">
                                <i class="fa fa-print"></i>
                                Imprimir etiquetas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#etiqueta-imprimir-btn').click(function () {
            var text = $('.etiqueta-lista').html();
            var newWin = window.frames["etiqueta-imprimir"];
            var conteudo = '\
                <style>\
                    @media print {\
                        *{\
                            margin:0;\
                            padding:0;\
                            font-size: 11px;\
                        }\
                        td{\
                            text-align: center;\
                        }\
                        @page{\
                            size: letter portrait;\
                            margin: 2.12cm 0.4cm;\
                        }\
                        .etiqueta-container{\
                            display: block;\
                            padding:0;\
                        }\
                        .corpo-etiqueta{\
                            margin-left: 6mm !important;\
                            line-height: 2.5mm !important;\
                            font-weight: bold !important;\
                        }\
                        .etiqueta{\
                            width: 49.5% !important;\
                            height: 3.4cm !important;\
                            display: block;\
                            float: left;\
                            padding:0;\
                            overflow: hidden;\
                            text-align: center !important;\
                        }\
                        .altura-fixa {\
                            height: 7mm;\
                            max-height: 22px;\
                            word-wrap: break-word;\
                            overflow-wrap: break-word;\
                            overflow: hidden;\
                            margin-bottom: 1.8mm !important;\
                        }\
                        .etiqueta-corpo {\
                            display: block;\
                            width: 98% !important;\
                            margin: 1.5mm 2mm;\
                            padding:0;\
                        }\
                        .etiqueta-corpo img {\
                            width: 98%;\
                            height: 12mm;\
                        }\
                        .etiqueta-rodape-lateral {\
                            font-size: 12px;\
                            font-weight: bold !important;\
                            width: 16mm;\
                            height: 10mm;\
                            max-width: 16mm !important;\
                            max-height: 33.9mm;\
                            display:block\
                        }\
                        .codigo-barra{\
                            margin-top: 0.3mm!important;\
                        }\
                    }\
                </style>';
            $('#etiqueta-imprimir-btn').prop('disabled', true);
            conteudo += text;
            newWin.document.write(conteudo);
            newWin.document.close();
            newWin.focus();
            newWin.onload = function () {
                newWin.print();
                $('#etiqueta-imprimir-btn').prop('disabled', false);
            };
        });
        $('#etiqueta-back-btn').click(function () {
            history.go(-1);
        });
    });
</script>