<?php
$relatorios = array(
    'exemplar-etiqueta'              => 'Impressão de etiquetas de lombada de exemplares',
    'exemplar-etiqueta-codigo-barra' => 'Impressão de etiquetas de código de barra de exemplares',
    'exemplar-baixa'                 => 'Exemplares baixados',
    'titulo-ranking'                 => 'Ranking de títulos',
    'cadastro'                       => 'Relação de exemplares cadastrados',
    'atendimento'                    => 'Atendimentos da Biblioteca',
    'relacao-inadimplentes'          => 'Relação de inadimplentes da biblioteca'
);

?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <p>Selecione o relatório desejado:</p>

                    <div class="list-group">
                        <?php
                        foreach ($relatorios as $action => $descricao) {
                            $urlRelatorio = $this->url(
                                'biblioteca/default',
                                array('controller' => 'relatorio', 'action' => $action)
                            );
                            echo '<a href="' . $urlRelatorio . '" class="list-group-item">' .
                                '<i class="fa pull-right fa-arrow-right"></i>' .
                                $descricao .
                                '</a>';
                        }

                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>