<?php

$urlPesquisaAssunto  = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'search-for-json'));
$urlPesquisaAreaCnpq = $this
    ->url('biblioteca/default', array('controller' => 'area-cnpq', 'action' => 'search-for-json'));
$urlPesquisaEmpresa  = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));
$urlPesquisaPessoa   = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAluno   = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('exemplar-relatorio-baixa', false, 'App');
$this->layoutComponent()->addJS('relacao-inadimplentes', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?php echo $urlForm; ?>" id="exemplar-baixa-form"
                          method="post" target="_blank">
                        <h4>
                            Inadimplência de empréstimos de exemplares:
                        </h4>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="grupoBibliografico">Grupo
                                    bibliográfico:</label>
                                <input name="grupoBibliografico[]" id="grupoBibliografico"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="editora">Editora:</label>
                                <input type="text" name="editora[]" id="editora"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="usuario">Responsável pela baixa:</label>
                                <input type="text" name="usuario" id="user"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="leitor">Leitor:</label>
                                <input type="text" name="leitor[]" id="leitor"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label><b>Kit Saraiva</b><br>
                                    <div class="input-group">
                                        <label>
                                            <input type="checkbox" name="exemplarTipo" id="exemplarTipo"
                                                   value="Kit Saraiva">
                                            Incluir Kit Saraiva
                                        </label>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="dataInicial">Data incial:</label>
                                    <input type="text" name="dataInicial" id="dataInicial" class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="dataFinal">Data Final:</label>
                                    <input type="text" name="dataFinal" id="dataFinal" class="form-control"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-gear"></i>
                                    Gerar inventário
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        window.assunto = '<?php echo $urlPesquisaAssunto;?>';
        window.empresa = '<?php echo $urlPesquisaEmpresa;?>';
        window.pessoa = '<?php echo $urlPesquisaPessoa;?>';
        window.aluno = '<?php echo $urlPesquisaAluno;?>';
        window.grupoBibliografico = <?php echo $this->jsonGrupoBibliografico;?>;
    });
</script>