<?php
$urlPesquisaAssunto  = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'search-for-json'));
$urlPesquisaAreaCnpq = $this
    ->url('biblioteca/default', array('controller' => 'area-cnpq', 'action' => 'search-for-json'));
$urlPesquisaEmpresa  = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));
$urlPesquisaAutor    = $this
    ->url('biblioteca/default', array('controller' => 'autor', 'action' => 'search-for-json'));
$urlListagem         = $this->url('biblioteca/default', array('controller' => 'relatorio'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('titulo-ranking', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="titulo-ranking-form" novalidate="novalidate" method="post">
                        <h4>
                            Selecione os filtros desejados para gerar relatório contendo o ranking de empréstimos de
                            títulos:
                        </h4>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="grupoBibliografico">Grupo
                                    bibliográfico:</label>
                                <input name="grupoBibliografico" id="grupoBibliografico"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="editora">Editora:</label>
                                <input type="text" name="editora" id="editora"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="autor">Autor:</label>
                                <input type="text" name="autor" id="autor"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="assunto">Assunto:</label>
                                <input type="text" name="assunto" id="assunto"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="areaCnpq">Área CNPq:</label>
                                <input type="text" name="areaCnpq" id="areaCnpq"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Tipo:</label>

                                <div class="input-group">
                                    <label>
                                        <input type="radio" name="rankingTipo" id="rankingTipo1" value="mais">
                                        Mais emprestados
                                    </label>&nbsp;
                                    <label>
                                        <input type="radio" name="rankingTipo" id="rankingTipo2" value="menos">
                                        Menos emprestados
                                    </label>
                                </div>
                                <span for="rankingTipo" style="display: none" class="error help-block">Campo obrigatório!</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="dataInicial">Data incial:</label>
                                <input type="text" name="dataInicial" id="dataInicial" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="dataFinal">Data Final:</label>
                                <input type="text" name="dataFinal" id="dataFinal" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="numeroRegistros">Número de registros:</label>
                                <input type="text" name="numeroRegistros" id="numeroRegistros" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>

                                <div class="input-group">
                                    <label for="ocultarTituloZerado">
                                        <input type="checkbox" name="ocultarTituloZerado" id="ocultarTituloZerado"
                                               value="s">
                                        Ocultar títulos sem exemplares
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-gear"></i>
                                    Gerar relatório do ranking
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.tituloRanking({
            url: {
                assunto: '<?php echo $urlPesquisaAssunto;?>',
                areaCnpq: '<?php echo $urlPesquisaAreaCnpq;?>',
                empresa: '<?php echo $urlPesquisaEmpresa;?>',
                autor: '<?php echo $urlPesquisaAutor;?>'
            },
            data: {
                grupoBibliografico:<?php echo $this->jsonGrupoBibliografico;?>
            }
        });
    });
</script>