<html>
<style>
    @page {
        margin: 150px 10px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px;
        text-align: center !important;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: -200px;
        right: 0px;
        height: 150px;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }
    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
    }
    table {
        border-collapse: collapse;
    }

    table td,
    table th {
        font-size: 90%;
        border: 0px solid black;
    }

    table.border td,
    table.border th {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

    tr.dark td {
        background-color: #A8A8A8;
    }

</style>
<div id="footer">
    <hr>
    <p style="text-align: center; font-size: 80%;">
        <span class="page"></span><br>
        FADIVALE - Rua Dom Pedro II, 244 – Centro – Governador Valadares - MG – tel.: (33) 3271-2004<br>
        <b>Versa Tecnologia/Universa</b>
    </p>
</div>
<div id="header">
    <table style="width:100%;">
        <tr>
            <td width="15%">
                <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
            </td>
            <td width="85%">
                <h3><?= ($this->mantenedora) ?></h3>
                <h3><?= ($this->ies) ?></h3>
                <h3 style="text-align: center">
                    RANKING DOS <?php echo $this->numeroRegistros; ?> TÍTULOS <?php echo strtoupper($this->rankingTipo); ?>
                    EMPRESTADOS DE <?php echo $this->dataInicial; ?> ATÉ <?php echo $this->dataFinal; ?>
                </h3>
            </td>
        </tr>
        <hr>
    </table>
</div>
<table width="100%" class="border">
    <tr>
        <th width="10%"><b>Código Título</b></th>
        <th width="10%"><b>Número de Empréstimos</b></th>
        <th width="10%"><b>Exemplares Disponíveis</b></th>
        <th width="70%"><b>Título</b></th>
    </tr>
    <?php
    $total = 0;
    foreach ($this->titulos as $cont => $titulo):
        ?>
        <tr class="<?= ($cont % 2 == 0) ? 'dark' : '' ?>">
            <td style="text-align: right;"><?= $titulo['titulo_id'] ?></td>
            <td style="text-align: right;"><?= $titulo['titulo_emprestimo_num'] ?></td>
            <td style="text-align: right;"><?= $titulo['titulo_exemplares_disponiveis'] ?></td>
            <td><?= $titulo['titulo_titulo'] ?></td>
        </tr>
    <?php endforeach ?>
</table>
</html>