<html>
<head>
    <style>
        @page {
            margin: 120px 50px;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -100px;
            right: 0px;
            height: 150px text-align : center;
            font-size: 9px;

        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            height: 110px;
            text-align: center;
            font-size: 7px;

        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -110px;
            right: 0px;
            height: 100px;
        }


        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

        }

        table td {
            border: 1px solid black;
        }
        .logo{
            max-width: 180px;
            text-align: center;
            max-height: 120px;
            text-align: center;
        }

        .com{
            text-align: center;
        }
        #footer .page:after {
            content: counter(page, upper);
        }

    </style>
    <div id="footer" style="font-size: 8px">
        <p style="text-align: center">_____________________________________________________</p>

        <p style="text-align: center"><?= $this->docente ?></p>

        <p style="text-align:left ">Versa Tecnologia - Universa </p>

        <p class="page" style="text-align: right"> pág <?= $table ?></p>
    </div>

<body>
<table id="header">
    <tr>
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
  <?= $this-> dataBase ?>      <td width="70%" valign="top" style="text-align: center" colspan="6">
            <h4><?= ($this->mantenedora) ?></h4>
            <h3>Curso: <?= $this->curso ?></h3>
            <h1>DIÁRIO DE FREQUÊNCIA</h1>
        </td>
    </tr>
    <tr>
        <td style="width:30%;">
            <b>SEMESTRE</b>
        </td>
        <td style="width:1%;">
            <b>Período</b>
        </td>
        <td style="width:1%;">
            <b>Turno</b>
        </td>
        <td style="width:30%;">
            <b>Turma</b>
        </td>
        <td style="width:1%;">
            <b>N. Alunos</b>
        </td>
        <td style="width:20%;">
            <b>Disciplina</b>
        </td>
        <td style="width:20%;">
            <b>Docente</b>
        </td>
    </tr>
    <tr>
        <td><?= $this->periodo->getperNome().' - '.$this->periodo->getperAno() ?></td>
        <td><?= $this->turma->getturmaSerie().'º' ?></td>
        <td><?= $this->turma->getturmaTurno() ?></td>
        <td><?= $this->turma->getturmaNome() ?></td>
        <td><?= count($this->alunosTurma) ?></td>
        <td><?= $this->disciplina ?></td>
        <td><?= $this->docente ?></td>

    </tr>
    <br><br>
    <br><br>
</table>
    <table id="headerinfo">
        <table  style="text-align: center; font-size: 7px" >
            <tr>
                <td rowspan="2" width="35%" valign="top" style="font-size: 12px">
                    <b>Aluno</b>
                </td>
                <td style="width:55%; text-transform: uppercase" colspan="<?= $this->countDias ?>">
                    <b>DIAS LETIVOS - <?= $this->mes.' de '.$this->ano ?></b><br>
                </td>
                <td rowspan="2" width="10%" valign="top" style="font-size: 12px">
                    <b>Faltas</b>
                </td>
            </tr>
            <tr>
                <?php
                if($this->countDias === 0){?>
                <td ><b>NÃO HÁ AULAS PARA ESTE MÊS</b></td>
                <?php }else{
                    foreach ($this->horarios as  $horas) {
                        $dia = explode('/',$horas[0]);
                        for($i=1;$i<count($horas);$i++){?>
                            <td ><?= $dia[2] ?></td>
                        <?php
                        }
                    }
                }
                ?>
            </tr>
        </table>
    </table>
    <?php
    $alunos = count($this->alunosTurma);
    $table  =round($alunos/30,0);
    $key = 0;
    do{
        $alunos - 30 > 30 ? $limite = 30 : $limite = $alunos;
        ?>
        <table id="content" style="right: 110px;font-size: 10px" width="100%">

        <?php for ($i = $key; $i < $limite; $i++) { ?>
            <tr>
                <td style="width: 35%; text-transform: uppercase; text-end-overflow: 10% ">
                    <?= $this->alunosTurma[$i]['pes_nome'] ?><b><?= ($this->alunosTurma[$i]['matsit_descricao'] === 'Matriculado') ? "" : "(".$this->alunosTurma[$i]['matsit_descricao'].")"?></b>
                </td>
                <?php
                $contfaltas = 0;
                foreach ($this->horarios as  $horas) {
                    $dia = explode('/',$horas[0]);
                    for($x=1;$x<count($horas);$x++){
                        foreach($this->faltas as $falta){
                            if($falta['alunocurso_id'] == $alunosTurma[$i]['alunocurso_id'] and $falta['horas'] == $horas[$x] and $dia[2] == $falta['dia']){
                                $result = 'F';
                                $contfaltas ++;
                                break;
                            }elseif(  (new \DateTime($horas[0])) < ((new \DateTime('now')))){
                                $result = " . " ;
                            }else{
                                $result = " ";
                            }
                        }
                        ?>
                        <td style="text-align: center"><?= $result ?></td>
                    <?php
                    }
                }
                if($this->countDias === 0){?>
                    <td style="text-align: center">-</td>
                <?php }
                ?>
                <td style="width: 10%"><?= $contfaltas ?></td>
            </tr>
        <?php } ?>
        </table>
        <?php
        $key +=30;
        $alunos -= 30;
        $table --;
    }while( $table >0 );
    ?>
</body>
</html>