<html>
<style>
    @page {
        margin: 145px 50px;
        font-size: 50%;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -110px;
        right: 0px;
        height: 150px text-align : center;
    }

    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
        text-align: center;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }

    .logo {
        max-width: 275px;
        padding-top: 25px;
        padding-bottom: 25px;
        max-height: 80px;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }

    table td {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

</style>

<table  id="footer" style="width: 100%">
    <tr style="border: hidden">
        <td style="border: hidden"><hr></td>
        <td style="border: hidden"><hr></td>
    </tr>
    <tr style="border: hidden">
        <td style="border: hidden"><b>Docente: <?= $this->docente[0]['pes_nome']?></b></td>
        <td style="border: hidden"><b>Coordenador(a): <?= (!is_null($this->docenteDisciplina->getTurma()->getCursoCampus()->getCurso()->getPes())) ? $this->docenteDisciplina->getTurma()->getCursoCampus()->getCurso()->getPes()->getPes()->getPesNome() : '' ?></b></td>
    </tr>
    <tr style="border: hidden" >
        <td style="border: hidden" style="text-align:left "><?= 'Versa Tecnologia - Universa' ?></td>
        <td style="border: hidden; text-align: right" class="page"> pág <?= $table ?></td>
    </tr>
</table>
<table width="100%" id="header">
    <tr>
        <td width="30%" style="text-align: center" rowspan="2" >
            <img src="<?php echo $this->logo;?>" class="logo"/>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="6">
            <h1>Diário Semestral</h1>
            <h2><?= ($this->mantenedora) ?></h2>
        </td>
    </tr>
    <br>
    <tr>
        <td colspan="6" valign="top" style="font-size: 58%">
            <b>Curso:</b>  <?= $this->docenteDisciplina->getTurma()->getCursoCampus()->getCurso()->getCursoNome()?><br>
            <b>Turma/Período/Turno:</b> <?= $this->docenteDisciplina->getTurma()->getTurmaNome().'/'.$this->docenteDisciplina->getTurma()->getTurmaSerie().'°'.'/'.$this->docenteDisciplina->getTurma()->getTurmaTurno() ?><br>
            <b>Total de Alunos:</b> <?= count($this->alunoNotas)?><br>
            <b>Semestre Letivo:</b>  <?= $this->docenteDisciplina->getTurma()->getPer()->getPerNome() ?><br>
            <b>Disciplina/CH:</b>  <?= $this->docenteDisciplina->getdisc()->getDiscNome().'/'.$this->matrizDisciplina->getPerDiscChteorica(); ?> HRS<br>
            <b>Professor(a):</b> <?= $this->docente[0]['pes_nome']?></h5><br>
            <b>Encerramento Regular/Encerramento Final: </b> <?= is_null($this->docenteDisciplina->getDocdiscDataFechamento()) ? 'Pendente' : $this->docenteDisciplina->getDocdiscDataFechamento()->format("d/m/Y H:i"),'/',is_null($this->docenteDisciplina->getDocdiscDataFechamentoFinal()) ? 'Pendente' : $this->docenteDisciplina->getDocdiscDataFechamentoFinal()->format("d/m/Y H:i") ?><br>
            <b>Data do Documento:</b>  <?= $this->dataBase ?><br>
        </td>
    </tr>
</table>
<br>
<table id="headerinfo">
    <table style="text-align: center; padding-top: 50px" >
        <tr>
            <td rowspan="2" width="28%"><b>ALUNO</b></td>
            <td colspan=<?= count($this->diario) ?> width="32%"><b>RESUMO DE NOTAS</b></td>
            <td colspan="5" width="30%"><b>RESULTADOS PARCIAIS</b></td>
            <td rowspan="2" width="10%"><b>RESULTADO FINAL</b></td>

        </tr>
        <tr>
            <?php foreach ($this->diario as $nota ):?>
                <td><?= $nota->getEtapa()->getEtapaDescricao() ?></td>
            <?php endforeach ?>
            <td>Faltas</td>
            <td>NS</td>
            <td>EF</td>
            <td>MF</td>
            <td>FF(%)</td>
        </tr>
    </table>
</table>
</br></br>
<table  d="content" style="font-size: 45% right: 110px" width="100%">
    <?php
    $metodoMedia = ($this->metodoCalculo == "Media");
    $notaFracionada = ((integer)$this->notaFracionada);

    foreach($this->alunoNotas as $pos=>$aluno):
        $ns = 0;

        foreach( $this->diario as $notaAluno ){
            $ns +=  $notasEtapa[$notaAluno->getEtapa()->getEtapaOrdem() - 1] = is_null($aluno[$notaAluno->getEtapa()->getEtapaOrdem() - 1]['etapas']) ? 0 : $aluno[$notaAluno->getEtapa()->getEtapaOrdem() - 1]['etapas']->getAlunoetapaNota();
        }
        ?>
        <tr style="font-size: 50%" >
            <td width="28%"><?= $aluno['aluno']->getAlunoper()->getAlunocurso()->getAluno()->getPes()->getPes()->getPesNome()?></td>
            <?php foreach($notasEtapa as $pos=>$nota):?>
                <td style="text-align: center"><?= $notaFracionada>0  ? round($nota,$notaFracionada) :  round($nota)   ?></td>
            <?php
            endforeach;
            $notaExibicao = ($metodoMedia ? bcdiv( $ns, 2, 1)  : ($notaFracionada>0  ? round($ns,$notaFracionada) :  round($ns)));

            ?>
            <td width="6%" style="text-align: center"><?= $aluno['frequencia'] ?></td>
            <td width="6%" style="text-align: center"><?= $notaExibicao;?></td>
            <td width="6%" style="text-align: center"><?=(is_null($aluno['final']))?' - ': $aluno['final']->getAlunofinalNota()?></td>
            <td width="6%" style="text-align: center"><?=(is_null($aluno['resumo']))?' - ':  ($metodoMedia ? bcdiv($aluno['resumo']->getResalunoNota(), 1, 1) : $aluno['resumo']->getResalunoNota()) ?></td>
            <td width="6%" style="text-align: center"><?= (is_null($aluno['resumo']) or is_null($this->matrizDisciplina->getPerDiscChteorica()))?' - ': round(100 - ($aluno['resumo']->getResalunoFaltas()*100)/$this->matrizDisciplina->getPerDiscChteorica(),1)?></td>
            <td width="10%"> <?= (is_null($aluno['resumo']))?' - ': $aluno['resumo']->getResalunoSituacao()?></td>
        </tr>
    <?php
    endforeach ?>
</table>
</body>
</html>