<html>
    <style>
        @page {
            margin: 145px 50px;
            font-size: 50%;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -110px;
            right: 0px;
            height: 150px text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            height: 110px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }


        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

        }

        table td {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

    </style>
<table  id="footer" >
    <tr style="border: hidden; text-align: center">
        <td style="border: hidden"><hr></td>
        <td style="border: hidden"><hr></td>
    </tr>
    <tr style="border: hidden; text-align: center">
        <td style="border: hidden"><b>Docente: <?= $this->docencia['professor'] ?></b></td>
        <td style="border: hidden"><b>Coordenador(a): <?= $this->docencia['coordenador_nome'] ?></b></td>
    </tr><br><br>
    <tr style="border: hidden" >
        <td style="border: hidden" style="text-align:left "><?= 'Versa Tecnologia - Universa' ?></td>
        <td style="border: hidden; text-align: right" class="page"">pág <?= $table ?></td>
    </tr>
</table>
<table id="header">
    <tr>
        <td valign="top" rowspan="2">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="imgAdj"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="6">
            <h1>Diário de Anotações Semestral</h1>
            <h2><?= ($this->mantenedora) ?></h2>
        </td>
    </tr>
    <tr>
        <td colspan="6" valign="top" style="font-size: 58%">
            <b>Curso:</b>  <?= $this->docencia['curso'] ?><br>
            <b>Semestre Letivo:</b>  <?= $this->docencia['periodo_letivo'] ?><br>
            <b>Turma/Período/Turno:</b> <?= $this->docencia['turma_nome'].'/'.$this->docencia['turma_serie'].'/'.$this->docencia['turma_turno']?><br>
            <b>Disciplina/CH:</b>  <?= $this->docencia['disciplina_nome'].'/'. $this->docencia['carga_horaria'] ?> HRS<br>
            <b>Professor(a):</b> <?= $this->docencia['professor'] ?></h5><br>
            <b>Encerramento Regular/Encerramento Final: </b> <?= (is_null($this->docencia['fechamento']) ? 'Pendente' : $this->docencia['fechamento']).'/'.(is_null($this->docencia['fechamento_final']) ? 'Pendente' : $this->docencia['fechamento_final']) ?><br>
            <b>Data do Documento:</b>  <?= $this->dataBase ?><br>
        </td>
    </tr><br>
</table>
<table id="headerinfo">
    <table style="text-align: center; padding-top: 50px;font-size: 60%" >
        <tr>
            <td style="width: 10%" ><b>Indice</b></td>
            <td style="width: 10%"><b>Data</b></td>
            <td style="width: 10%"><b>Aulas</b></td>
            <td style="width: 20%"><b>Titulo</b></td>
            <td style="width: 50%"><b>Conteúdo Ministrado</b></td>
        </tr>
    </table>
</table>
    </br></br>
<table style="font-size: 60%; table-layout:  auto;">
<?php foreach($this->anotacoes as $item=>$anotacao):?>
   <tr style="font-family: Arial; margin-left: auto;margin-right: auto">
    <td style="width: 10%"; ><?= $item + 1?></td>
    <td style="width: 10%;" ><?= $anotacao->getAnotData()->format("d/m/Y")?></td>
    <td style="width: 10%; text-align: center;margin-left: auto"><?=  $this->docencia['aulas'] ?></td>
    <td style="width: 20%; text-align: center;margin-left: auto"><?= $anotacao->getAnotTitulo()?></td>
    <td style="width: 50%; right: 100%;  margin-left: auto;margin-right: auto"><?= strip_tags ($anotacao->getAnotDescricao()) ?></td>
    </tr>
    <?php endforeach; ?>
</table>
</body>
</html>
