<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-nucleo-processo'));
$paramUrl    = array('controller' => 'estagiogeral-nucleo-processo', 'action' => 'add');

if ($this->arrDados['nucleoProcessoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['nucleoProcessoId'];
}

$urlPesquisaEstagiogeralNucleo = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-nucleo', 'action' => 'search-for-json'));

$urlPesquisaEstagiogeralProcessoTipo = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-processo-tipo', 'action' => 'search-for-json'));
$urlForm                             = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-nucleo-processo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-nucleo-processo-form"
                          novalidate="novalidate" method="post">

                        <input type="hidden" name="nucleoProcessoId" id="nucleoProcessoId"
                               value="<?php echo $this->arrDados['nucleoProcessoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoId">Código:</label>
                                <input type="text" name="nucleoId" id="nucleoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['nucleoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="processoTipoId">Código:</label>
                                <input type="text" name="processoTipoId" id="processoTipoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['processoTipoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoProcessoVinculacao">nucleo_processo_vinculacao:</label>
                                <select name="nucleoProcessoVinculacao" id="nucleoProcessoVinculacao"
                                        class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrNucleoProcessoVinculacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['nucleoProcessoVinculacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralNucleoProcessoAdd({

                urlPesquisaEstagiogeralNucleo: '<?=$urlPesquisaEstagiogeralNucleo;?>',

                urlPesquisaEstagiogeralProcessoTipo: '<?=$urlPesquisaEstagiogeralProcessoTipo;?>',

            <?php echo $this->arrDados['nucleoId'] ? "\n,nucleoId:".json_encode($this->arrDados['nucleoId']) : ''; ?>,

        <?php echo $this->arrDados['processoTipoId'] ? "\n,processoTipoId:".json_encode($this->arrDados['processoTipoId']) : ''; ?>
    });
    })
    ;
</script>