<style>
    .legend {
        font-weight: bolder;
    }

    .checkbox {
        font-size: 10px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <fieldset>
            <legend>Responsavel</legend>
            <div class="col-sm-12 respAcademico">
                <fieldset>
                    <legend>
                        <div class="col-sm-1 legend">Acadêmico:</div>
                        <div class="col-sm-3 checkbox">
                            <div class="col-sm-6">
                                <label for="respAcademicoInforma">
                                    <input type="radio" name="respAcademicoInforma" checked>
                                    Não Informar
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label for="respAcademicoInforma">
                                    <input type="radio" name="respAcademicoInforma" id="respAcademicoInformaAtivo"
                                           value="1">
                                    Informar
                                </label>
                            </div>
                        </div>
                    </legend>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="responsavel[academico]['documento']">CPF/CNPJ:</label>
                                <input type="text" name="responsavel[academico][documento]"
                                       class="form-control" id="academicoDocumento">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="respNome">Nome/Razão social:</label>
                                <input type="text" name="responsavel[academico][nome]"
                                       class="form-control" id="academicoNome">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="conContatoCelular">Naturalidade:</label>
                                <input type="text" name="responsavel[academico][naturalidade]"
                                       class="form-control" id="academicoNaturalidade">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="resp">Celular:</label>
                                <input type="text" name="responsavel[academico][celular]"
                                       class="form-control celular" id="academicoCelular">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="conContatoCelular">Telefone fixo:</label>
                                <input type="text" name="responsavel[academico][fixo]"
                                       class="form-control fixo" id="academicoFixo">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="conContatoCelular">E-mail:</label>
                                <input type="text" name="responsavel[academico][emai]"
                                       class="form-control" id="academicoEmail">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="conContatoCelular">Vinculo:</label>
                                <input type="text" name="responsavel[academico][respVinculo]"
                                       class="form-control" id="academicoVinculo">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-sm-12 respFinanceiro">
                <fieldset>
                    <legend>
                        <div class="col-sm-1 legend">Financeiro:</div>
                        <div class="col-sm-3 checkbox">
                            <div class="col-sm-6">
                                <label for="respFinanceiroInforma">
                                    <input type="radio" name="respFinanceiroInforma" checked>
                                    Não Informar
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label for="respFinanceiroInforma">
                                    <input type="radio" name="respFinanceiroInforma" id="respFinanceiroInformaAtivo">
                                    Informar
                                </label>
                            </div>
                        </div>
                    </legend>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="conContatoCelular">CPF/CNPJ:</label>
                                <input type="text" name="responsavel[financeiro][documento]"
                                       class="form-control" id="financeiroDocumento">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="conContatoCelular">Nome/Razão social:</label>
                                <input type="text" name="responsavel[financeiro][nome]"
                                       class="form-control" id="financeiroNome">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="conContatoCelular">Naturalidade:</label>
                                <input type="text" name="responsavel[financeiro][naturalidade]"
                                       class="form-control" id="financeiroNaturalidade">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="conContatoCelular">Celular:</label>
                                <input type="text" name="responsavel[financeiro][celular]"
                                       class="form-control celular" id="financeiroCelular">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="conContatoCelular">Telefone fixo:</label>
                                <input type="text" name="responsavel[financeiro][fixo]"
                                       class="form-control fixo" id="financeiroFixo">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="conContatoCelular">E-mail:</label>
                                <input type="text" name="responsavel[financeiro][email]"
                                       class="form-control" id="financeiroEmail">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="conContatoCelular">Vinculo:</label>
                                <input type="text" name="responsavel[financeiro][respVinculo]"
                                       class="form-control" id="financeiroVinculo">
                            </div>                            
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</div>