<fieldset>
    <legend>Documentos</legend>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="alunoCertMilitar">Certificado Militar:</label>
            <input type="text" name="alunoCertMilitar" id="alunoCertMilitar" class="form-control"
                   value="<?php echo $this->arrDados['alunoCertMilitar']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="alunoTituloEleitoral">Titulo Eleitoral:</label>
            <input type="text" name="alunoTituloEleitoral" id="alunoTituloEleitoral" class="form-control"
                   value="<?php echo $this->arrDados['alunoTituloEleitoral']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="alunoSecaoEleitoral">Seção Eleitoral:</label>
            <input type="text" name="alunoSecaoEleitoral" id="alunoSecaoEleitoral" class="form-control"
                   value="<?php echo $this->arrDados['alunoSecaoEleitoral']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="alunoZonaEleitoral">Zona Eleitoral:</label>
            <input type="text" name="alunoZonaEleitoral" id="alunoZonaEleitoral" class="form-control"
                   value="<?php echo $this->arrDados['alunoZonaEleitoral']; ?>">
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Entrega de documentos</legend>
    <div class="col-sm-12">
        <?php
        $tplLabel = '<label class="radio-inline"><input type="radio" name="documentoGrupo[%s]" value="%s" %s>%s</label>';

        foreach ($this->arrDocumentosGrupo as $documentosGrupo) {
            $opcoes = [];

            foreach ($documentosGrupo['opcoes'] as $opcao) {
                $selecao  = ($documentosGrupo['selecionado'] == $opcao['valor'] ? ' checked' : '');
                $opcoes[] = sprintf($tplLabel, $documentosGrupo['id'], $opcao['valor'], $selecao, $opcao['descricao']);
            }

            echo '
        <div class="col-sm-3">
            <div class="form-group">
                <label>' . $documentosGrupo['descricao'] . ':</label>
                <div class="input-group">
                ' . implode("\n", $opcoes) . '
                </div>
                <span style="display: none" class="error help-block">Campo obrigatório!</span>
            </div>
        </div>';
        }
        ?>
    </div>
    <?php
    if (isset($this->arrCamposPersonalizados['documentos'])) {
        echo '<div class="col-sm-12">';

        foreach ($this->arrCamposPersonalizados['documentos'] as $value) {
            $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
            $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

            echo "<div class=\"col-sm-{$tamanho} camposPersonalizados\">";
            echo '<div class="form-group">' .
                $this->sisConfig()->criarCampo($campoNome, $value) .
                '</div>';
            echo '</div>';
        }

        echo '</div>';
    }
    ?>

    <div class="col-sm-12">
        <label for="alunoObservacaoDocumentos"><b>Observações:</b></label>
        <textarea name="alunoObservacaoDocumentos" id="alunoObservacaoDocumentos" class="form-control"
                  placeholder="Observações sobre a documentação do aluno"
                  rows="5"><?php echo $this->arrDados['alunoObservacaoDocumentos']; ?></textarea>
    </div>

</fieldset>