<?php
$variaveis                               = [];
$variaveis['partial']                    = true;
$variaveis['desativaAutocompletePessoa'] = true;
$variaveis['ajaxSubmit']                 = true;
$variaveis['arrPesSexo']                 = $this->arrPesSexo;
$variaveis['arrPesEstadoCivil']          = $this->arrPesEstadoCivil;

?>
<style>
    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
    }

    .tab-content {
        padding-top: 10px;
    }

    #modal-responsavel .modal-dialog {
        width: 40%;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-responsavel" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar Responsável</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="" id="responsavel-aluno-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" value="">
                        <input type="hidden" name="respId" value="">
                        <input type="hidden" name="pesDoc" value="">
                        <input type="hidden" name="GUID" value="">

                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pesNomeResp">Pessoa:</label>
                                    <input type="text" name="pesNomeResp" id="pesNomeResp" class="form-control"
                                           autocomplete="off">
                                    <a href="#" class="hidden editarPessoa">
                                        <i class="fa fa-edit"></i> Editar dados da pessoa
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respNivelResp">Tipo:</label>
                                    <select name="respNivel" id="respNivelResp" class="form-control">
                                        <?php
                                        foreach ($this->arrRespNivel as $value) {
                                            $id   = $value['id'];
                                            $text = $value['text'];
                                            echo "<option value='" . $id . "'>" . $text . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respVinculoResp">Grau reponsável:</label>
                                    <select name="respVinculo" id="respVinculoResp" class="form-control">
                                        <?php
                                        foreach ($this->arrRespVinculo as $value) {
                                            $id   = $value['id'];
                                            $text = $value['text'];
                                            if($text == "Outros"){
                                                echo "<option value='" . $id . "' selected>" . $text . "</option>";
                                            }else {
                                                echo "<option value='" . $id . "'>" . $text . "</option>";
                                            }
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-salvar-responsavel">
                                    <i class="fa fa-save"></i>
                                    Salvar Responsável
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-editar" role="dialog" aria-hidden="true"
     style="overflow: hidden">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar Pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>