<fieldset>
    <legend>Dados Pessoais</legend>
    <div class="row">
        <div class="col-sm-1">
            <div class="form-group arq">
                <label for="arq">Imagem</label>
                <input name="arq" id="arq" type="file"/>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesNacionalidade">Nacionalidade:</label>
                        <select name="pesNacionalidade" id="pesNacionalidade" class="form-control">
                            <?php
                            foreach ($this->arrPesNacionalidade as $value) {
                                $id       = $value['id'];
                                $text     = $value['text'];
                                $selected = ($id == $this->arrDados['pesNacionalidade']) ? " selected" : "";
                                echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class="campoPesCpf col-sm-2">
                    <div class="form-group">
                        <label for="pesCpf">CPF:</label>

                        <div class="input-group">
                            <input type="text" name="pesCpf" id="pesCpf" class="form-control" placeholder="CPF"
                                   value="<?php echo $this->arrDados['pesCpf']; ?>">

                            <div class="input-group-btn">
                                <button class="btn btn-default buscarDocumentoPessoa" type="button"
                                        title="Buscar pessoas cadastradas no banco pelo documento">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 campoPesDocEstrangeiro hidden">
                    <div class="form-group">
                        <label for="pesDocEstrangeiro">Documento Estrangeiro:</label>

                        <div class="input-group">
                            <input type="text" name="pesDocEstrangeiro" id="pesDocEstrangeiro" class="form-control"
                                   placeholder="Documento Estrangeiro"
                                   value="<?php echo $this->arrDados['pesDocEstrangeiro']; ?>">

                            <div class="input-group-btn">
                                <button class="btn btn-default buscarDocumentoPessoa" type="button"
                                        title="Buscar pessoas cadastradas no banco pelo documento">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="pesNome">Nome:</label>
                        <input type="text" name="pesNome" id="pesNome" class="form-control" autocomplete="off"
                               value="<?php echo $this->arrDados['pesNome']; ?>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesDataNascimento">Data de Nascimento</label>
                        <input type="text" name="pesDataNascimento" id="pesDataNascimento" class="form-control"
                               placeholder="Data de nascimento"
                               value="<?php echo $this->arrDados['pesDataNascimento']; ?>">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesNaturalidade">Cidade de Nascimento</label>
                        <input type="text" name="pesNaturalidade" id="pesNaturalidade" class="form-control"
                               placeholder="Informe a cidade de Nascimento" autocomplete="off"
                               value="<?php echo $this->arrDados['pesNaturalidade']; ?>">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesNascUf">Estado de nascimento:</label>
                        <input type="text" name="pesNascUf" id="pesNascUf" class="form-control"
                               placeholder="Informe o estado do nascimento" autocomplete="off"
                               value="<?php echo $this->arrDados['pesNascUf']; ?>">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="alunoEtnia">Etnia:</label>
                        <select name="alunoEtnia" id="alunoEtnia" class="form-control">
                            <?php
                            foreach ($this->arrAlunoEtnia as $value) {
                                $id       = $value['id'];
                                $text     = $value['text'];
                                $selected = ($id == $this->arrDados['alunoEtnia']) ? " selected" : "";
                                echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesSexo">Sexo:</label>
                        <select name="pesSexo" class="form-control">
                            <option></option>
                            <?php
                            foreach ($this->arrPesSexo as $value) {
                                $id        = $value['id'];
                                $descricao = $value['text'];
                                $selected  = ($id == $this->arrDados['pesSexo']) ? " selected" : "";
                                echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesEstadoCivil">Estado cívil:</label>
                        <select name="pesEstadoCivil" class="form-control">
                            <option></option>
                            <?php
                            foreach ($this->arrPesEstadoCivil as $value) {
                                $id        = $value['id'];
                                $descricao = $value['text'];
                                $selected  = ($id == $this->arrDados['pesEstadoCivil']) ? " selected" : "";
                                echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesRg">RG:</label>
                        <input type="text" name="pesRg" id="pesRg" class="form-control" placeholder="Informe o RG"
                               value="<?php echo $this->arrDados['pesRg']; ?>">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesRgEmissao">Órgão Emissor</label>
                        <input type="text" name="pesEmissorRg" class="form-control"
                               placeholder="Órgão Emissor"
                               value="<?php echo $this->arrDados['pesEmissorRg']; ?>">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pesRgEmissao">Data de emissão do RG</label>
                        <input type="text" name="pesRgEmissao" class="form-control"
                               placeholder="Data de emissão"
                               value="<?php echo $this->arrDados['pesRgEmissao']; ?>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pessoaNecessidades">Necessidades Especiais</label>
                        <input type="text" name="pessoaNecessidades" class="form-control"
                               placeholder="Informe as necessidades especias do aluno">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="alunoPai">Nome do pai</label>
                    <input type="text" name="alunoPai" id="alunoPai" class="form-control"
                           placeholder="Informe o nome do pai"
                           value="<?php echo $this->arrDados['alunoPai']; ?>">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="alunoMae">Nome da mãe</label>
                    <input type="text" name="alunoMae" id="alunoMae" class="form-control"
                           placeholder="Informe o nome da mãe"
                           value="<?php echo $this->arrDados['alunoMae']; ?>">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="pesProfissao">Profissão</label>
                    <input type="text" name="pesProfissao" class="form-control"
                           placeholder="Profissão"
                           value="<?php echo $this->arrDados['pesProfissao']; ?>">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="pesEmpresa">Empresa</label>
                    <input type="text" name="pesEmpresa" class="form-control"
                           placeholder="Empresa"
                           value="<?php echo $this->arrDados['pesEmpresa']; ?>">
                </div>
            </div>
        </div>
        <?php
        if (isset($this->arrCamposPersonalizados['dadosPessoais'])) {
            echo '<div class="col-sm-12">';

            foreach ($this->arrCamposPersonalizados['dadosPessoais'] as $value) {
                $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                echo "<div class=\"col-sm-{$tamanho} camposPersonalizados\">";
                echo '<div class="form-group">' .
                    $this->sisConfig()->criarCampo($campoNome, $value) .
                    '</div>';
                echo '</div>';
            }

            echo '</div>';
        }
        ?>
    </div>
</fieldset>
<fieldset>
    <legend>Captação</legend>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="origem">Origem do Cadastro:</label>
                <input type="text" name="origem" id="origem" class="form-control"
                       placeholder="Origem do Cadastro">
            </div>
        </div>
        <?php if ($this->alunoPossuiUnidade): ?>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="unidade">Unidade de Estudo:</label>
                    <input type="text" name="unidade" id="unidade" class="form-control"
                           placeholder="Unidade de Estudo">
                </div>
            </div>
        <?php endif; ?>
        <?php if ($this->alunoPossuiAgente): ?>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="pesIdAgenciador">Agente Educacional:</label>
                    <input type="text" name="pesIdAgenciador" id="pesIdAgenciador" class="form-control"
                           placeholder="Agente Educacional">
                </div>
            </div>
        <?php endif; ?>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="alunoMediador">Mediador:</label>
                <input type="text" name="alunoMediador" id="alunoMediador" class="form-control" readonly
                       placeholder="Mediador" maxlength="255"
                       value="<?php echo $this->arrDados['alunoMediador']; ?>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="alunoPessoaIndicacao">Aluno Indicação:</label>
                <input type="text" name="alunoPessoaIndicacao" id="alunoPessoaIndicacao"
                       class="form-control"
                       placeholder="Aluno Indicação" maxlength="255"
                       value="<?php echo $this->arrDados['alunoPessoaIndicacao']; ?>">
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Outras Informações</legend>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Data do Cadastro:</label>

            <p class="form-control-static alunoDataCadastro">
                <?php echo $this->arrDados['alunoDataCadastro'] ? $this->arrDados['alunoDataCadastro'] : '-'; ?>
            </p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Usuário responsável pelo Cadastro:</label>

            <p class="form-control-static usuarioCadastroLogin">
                <?php echo $this->arrDados['usuarioCadastroLogin'] ? $this->arrDados['usuarioCadastroLogin'] : '-'; ?>
            </p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Usuário responsável pela última alteração:</label>

            <p class="form-control-static usuarioAlteracaoLogin">
                <?php echo $this->arrDados['usuarioAlteracaoLogin'] ? $this->arrDados['usuarioAlteracaoLogin'] : '-'; ?>
            </p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Data da última alteração:</label>

            <p class="form-control-static alunoDataAlteracao">
                <?php echo $this->arrDados['alunoDataAlteracao'] ? $this->arrDados['alunoDataAlteracao'] : '-'; ?>
            </p>
        </div>
    </div>
</fieldset>