<?php
$this->arrVestibular = $this->arrVestibular ? $this->arrVestibular : $this->arrDados['vestibular'];
?>
<fieldset>
    <legend>Informações do aluno no vestibular</legend>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Processo seletivo:</label>

            <p class="form-control-static edicaoDescricao">
                <?php echo $this->arrVestibular['edicaoDescricao'] ? $this->arrVestibular['edicaoDescricao'] : '-'; ?>
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Inscrição:</label>

            <p class="form-control-static inscricaoId">
                <?php echo $this->arrVestibular['inscricaoId'] ? $this->arrVestibular['inscricaoId'] : '-'; ?>
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Nota:</label>

            <p class="form-control-static inscricaoNota">
                <?php echo $this->arrVestibular['inscricaoNota'] ? $this->arrVestibular['inscricaoNota'] : '-'; ?>
            </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Aprovação:</label>

            <p class="form-control-static inscricaoResultado">
                <?php echo $this->arrVestibular['inscricaoResultado'] ? $this->arrVestibular['inscricaoResultado'] : '-'; ?>
            </p>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Cursos:</legend>
    <div class="col-sm-12">
        <div class="row">
            <table class="table table-responsive" id="dataTableAlunocurso">
                <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Curso</th>
                    <th>Situação</th>
                    <th>Agente Educacional</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-primary btn-add"
                    id="add-curso">
                <i class="fa fa-plus"></i>
                Adicionar curso
            </button>
        </div>
        <textarea class="hidden" name="alunoCurso" id="alunoCurso"><?php
            echo json_encode($this->arrDados['alunoCurso']);
            ?></textarea>
    </div>
    <?php
    if (isset($this->arrCamposPersonalizados['cursos'])) {
        echo '<div class="row">';

        foreach ($this->arrCamposPersonalizados['cursos'] as $value) {
            $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
            $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

            echo "<div class=\"col-sm-{$tamanho} camposPersonalizados\">";
            echo '<div class="form-group">' .
                $this->sisConfig()->criarCampo($campoNome, $value) .
                '</div>';
            echo '</div>';
        }

        echo '</div>';
    }
    ?>
</fieldset>