<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
    }

    .tab-content {
        padding-top: 10px;
    }

    #modal-formacao .modal-dialog {
        width: 80%;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-formacao" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar Formação</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="" id="formacao-aluno-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="formacaoId" value="">
                        <input type="hidden" name="numeroEquivalencias" value="">
                        <input type="hidden" name="GUID" value="">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="formacaoCurso">Curso:</label>
                                <input type="text" name="formacaoCurso" id="formacaoCurso" class="form-control"
                                       placeholder="Ex. Direito" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="formacaoInstituicao">Instituição:</label>
                                <input type="text" name="formacaoInstituicao" id="formacaoInstituicao"
                                       class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="formacaoTipo">Tipo:</label>
                                <select name="formacaoTipo" id="formacaoTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrFormacaoTipo as $value) {
                                        $id   = $value['id'];
                                        $text = $value['text'];
                                        echo "<option value='" . $id . "'>" . $text . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="formacaoAno">Ano de formação:</label>
                                <input type="text" name="formacaoAno" id="formacaoAno" class="form-control"
                                       maxlength="4">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="formacaoConcluido">Concluído:</label>
                                <select name="formacaoConcluido" id="formacaoConcluido" class="form-control">
                                    <?php
                                    foreach ($this->arrFormacaoConcluido as $value) {
                                        $id   = $value['id'];
                                        $text = $value['text'];
                                        echo "<option value='" . $id . "'>" . $text . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="formacaoTipoEnsino">Tipo de ensino:</label>
                                <select name="formacaoTipoEnsino" id="formacaoTipoEnsino" class="form-control">
                                    <?php
                                    foreach ($this->arrFormacaoTipoEnsino as $value) {
                                        $id   = $value['id'];
                                        $text = $value['text'];
                                        echo "<option value='" . $id . "'>" . $text . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="formacaoRegime">Regime:</label>
                                <select name="formacaoRegime" id="formacaoRegime" class="form-control">
                                    <?php
                                    foreach ($this->arrFormacaoRegime as $value) {
                                        $id   = $value['id'];
                                        $text = $value['text'];
                                        echo "<option value='" . $id . "'>" . $text . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="formacaoDuracao">Duração:</label>
                                <input type="text" name="formacaoDuracao" id="formacaoDuracao" class="form-control"
                                       maxlength="4">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="formacaoCidade">Cidade:</label>
                                <input type="text" name="formacaoCidade" id="formacaoCidade" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="formacaoEstado">Estado:</label>
                                <input type="text" name="formacaoEstado" id="formacaoEstado" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="formacaoObs">Observações:</label>
                                <textarea name="formacaoObs" id="formacaoObs" class="form-control"
                                          placeholder="Observações sobre a formação do aluno"
                                          rows="5"><?php echo $this->arrDados['formacaoObs']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-salvar-formacao">
                                    <i class="fa fa-save"></i>
                                    Salvar Formação
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>