<div class="modal fade" data-keyboard="false" data-backdrop="static" id="curso-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width: 100%">
            <form id="form-modal-curso">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Curso</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="alunocursoId" value="">
                    <input type="hidden" name="alunocursoSituacao" value="">
                    <input type="hidden" name="GUID" value="">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cursocampusId">Curso:</label>
                                <input type="text" name="cursocampusId" id="cursocampusId" class="form-control"
                                       placeholder="Pesquise pelo nome do curso">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pesIdAgente">Agente:</label>
                                <input type="text" name="pesIdAgente" id="pesIdAgente" class="form-control"
                                       placeholder="Pesquise pelo nome do agente">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tiposelId">Forma de Ingresso:</label>
                                <input type="text" name="tiposelId" id="tiposelId" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="origem">Origem:</label>
                                <input type="text" name="origem" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="alunocursoPessoaIndicacao">Pessoa que indicou o curso:</label>
                                <input type="text" name="alunocursoPessoaIndicacao" id="alunocursoPessoaIndicacao"
                                       class="form-control" placeholder="Pessoa que indicou o curso">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Carteirinha:</label>

                                <p class="form-control-static alunocursoCarteira">
                                    -
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Situação:</label>

                                <p class="form-control-static alunocursoSituacao">
                                    -
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Mediador:</label>

                                <p class="form-control-static alunocursoMediador">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data de Cadastro:</label>

                                <p class="form-control-static alunocursoDataCadastro">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Responsável pelo cadastro:</label>

                                <p class="form-control-static usuarioCadastroLogin">
                                    -
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data da Matrícula:</label>

                                <p class="form-control-static alunocursoDataMatricula">
                                    -
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data da colação:</label>

                                <p class="form-control-static alunocursoDataColacao">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label title="Data da Expedição do diploma">Data da Exp. do diploma:</label>

                                <p class="form-control-static alunocursoDataExpedicaoDiploma">
                                    -
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Data da Última Alteração:</label>

                                <p class="form-control-static alunocursoDataAlteracao">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Responsável pelo Última Alteração:</label>

                                <p class="form-control-static usuarioAlteracaoLogin">
                                    -
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="enadeInformacoes">Informações Enade:</label>
                                <textarea style="resize: none; overflow: hidden" rows="4"
                                          name="enadeInformacoes"
                                          maxlength="438" id="enadeInformacoes"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="alunocursoObservacoes">Observações:</label>
                                    <textarea style="resize: none; overflow: hidden" rows="4"
                                              name="alunocursoObservacoes"
                                              maxlength="438" id="alunocursoObservacoes"
                                              class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="salvarEdicaoCurso">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>