<?php
$urlListagem                      = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno'));
$urlPesquisaAluno                 = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'search-for-json'));
$urlPesquisaPessoaFisica          = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlBuscaCEP                      = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlBuscaFormacao                 = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-formacao', 'action' => 'search-for-json'));
$urlGerenciadorDeArquivosThumb    = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download'));
$urlPesquisaCadastroOrigem        = $this
    ->url('matricula/default', array('controller' => 'acadgeral-cadastro-origem', 'action' => 'search-for-json'));
$urlPesquisaAgenteEducacional     = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlPesquisaUnidadeEstudo         = $this
    ->url('organizacao/default', array('controller' => 'org-unidade-estudo', 'action' => 'search-for-json'));
$urlCampusCurso                   = $this
    ->url('matricula/default', array('controller' => 'campus-curso', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadgeral-aluno-add', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1%;
        width: 48%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .file-upload .message {
        display: none;
    }

    .file-upload .preview {
        width: 100%;
        height: 8em;
    }

    .form-group label {
        font-weight: bold;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="acadgeral-aluno-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" id="pesId" value="<?php echo $this->arrDados['pesId']; ?>">
                        <input type="hidden" name="alunoId" id="alunoId"
                               value="<?php echo $this->arrDados['alunoId']; ?>">

                        <div id="acadgeral-aluno-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#step1">
                                            <a href="#tab1" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Pessoais</span>
                                            </a>
                                        </li>
                                        <li data-target="#step2">
                                            <a href="#tab2" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Contato e Endereço</span>
                                            </a>
                                        </li>
                                        <li data-target="#step3">
                                            <a href="#tab3" data-toggle="tab">
                                                <span class="step">3</span>
                                                <span class="title">Documentos</span>
                                            </a>
                                        </li>
                                        <li data-target="#step4">
                                            <a href="#tab4" data-toggle="tab">
                                                <span class="step">4</span>
                                                <span class="title">Responsáveis</span>
                                            </a>
                                        </li>
                                        <li data-target="#step5">
                                            <a href="#tab5" data-toggle="tab">
                                                <span class="step">5</span>
                                                <span class="title">Cursos</span>
                                            </a>
                                        </li>
                                        <li data-target="#step6">
                                            <a href="#tab6" data-toggle="tab">
                                                <span class="step">6</span>
                                                <span class="title">Formação</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/add-dados-pessoais.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/add-contato-endereco.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/add-documentos.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <fieldset>
                                        <legend>Responsáveis:</legend>
                                        <div class="col-sm-12">
                                            <table id="dataTableResponsaveis"
                                                   class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Nome do responsável</th>
                                                    <th>Vínculo</th>
                                                    <th title="Ações"></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <button type="button" class="btn btn-primary btn-add"
                                                    id="btn-add-responsavel">
                                                <i class="fa fa-plus"></i>
                                                Adicionar Responsável
                                            </button>
                                        </div>
                                        <?php
                                        if (isset($this->arrCamposPersonalizados['responsavel'])) {
                                            echo '<div class="col-sm-12">';

                                            foreach ($this->arrCamposPersonalizados['responsavel'] as $value) {
                                                $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                                                $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                                                echo '<div class="form-group">';
                                                echo "<div class='col-sm-{$tamanho} camposPersonalizados'>" .
                                                    $this->sisConfig()->criarCampo($campoNome, $value) .
                                                    '</div>';
                                                echo '</div>';
                                            }

                                            echo '</div>';
                                        }
                                        ?>
                                        <textarea class="hidden" name="responsaveis" id="responsaveis"><?php
                                            echo json_encode($this->arrDados['responsaveis']);
                                            ?></textarea>
                                    </fieldset>
                                </div>
                                <div class="tab-pane" id="tab5">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/add-cursos.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="tab6">
                                    <fieldset>
                                        <legend>Histórico de formação:</legend>
                                        <div class="col-sm-12">
                                            <table id="dataTableFormacoes"
                                                   class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Instituição</th>
                                                    <th>Curso</th>
                                                    <th>Tipo</th>
                                                    <th>Ano formação</th>
                                                    <th>Regime</th>
                                                    <th>Duração</th>
                                                    <th title="Ações"></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div class="col-sm-12 text-center">
                                                <button type="button" class="btn btn-primary btn-add"
                                                        id="btn-add-formacao">
                                                    <i class="fa fa-plus"></i>
                                                    Adicionar Formação
                                                </button>
                                            </div>
                                            <?php
                                            if (isset($this->arrCamposPersonalizados['formacao'])) {
                                                echo '<div class="col-sm-12">';

                                                foreach ($this->arrCamposPersonalizados['formacao'] as $value) {
                                                    $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                                                    $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                                                    echo '<div class="form-group">';
                                                    echo "<div class='col-sm-{$tamanho} camposPersonalizados'>" .
                                                        $this->sisConfig()->criarCampo($campoNome, $value) .
                                                        '</div>';
                                                    echo '</div>';
                                                }

                                                echo '</div>';
                                            }
                                            ?>
                                        </div>
                                        <textarea class="hidden" name="formacoes" id="formacoes"><?php
                                            echo json_encode($this->arrDados['formacoes']);
                                            ?></textarea>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<?php
echo $this->partial(
    'matricula/acadgeral-aluno/add-responsavel-modal.phtml',
    array(
        'arrAlunoEtnia'       => $this->arrAlunoEtnia,
        'arrPesNacionalidade' => $this->arrPesNacionalidade,
        'arrRespNivel'        => $this->arrRespNivel,
        'arrRespVinculo'      => $this->arrRespVinculo,
    )
);
echo $this->partial(
    'matricula/acadgeral-aluno/add-formacao-modal.phtml',
    array(
        'arrFormacaoTipo'       => $this->arrFormacaoTipo,
        'arrFormacaoTipoEnsino' => $this->arrFormacaoTipoEnsino,
        'arrFormacaoRegime'     => $this->arrFormacaoRegime,
        'arrFormacaoConcluido'  => $this->arrFormacaoConcluido,
    )
);
echo $this->partial(
    'matricula/acadgeral-aluno/add-curso-modal.phtml',
    array(
        'arrFormacaoTipo'       => $this->arrFormacaoTipo,
        'arrFormacaoTipoEnsino' => $this->arrFormacaoTipoEnsino,
        'arrFormacaoRegime'     => $this->arrFormacaoRegime,
        'arrFormacaoConcluido'  => $this->arrFormacaoConcluido,
    )
);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadgeralAlunoAdd({
            url: {
                pesquisaPF: '<?=$urlPesquisaAluno;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>',
                pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>',
                buscaFormacao: '<?=$urlBuscaFormacao;?>',
                campusCurso: '<?php echo $urlCampusCurso;?>',
                gerenciadorDeArquivosThumb: '<?=$urlGerenciadorDeArquivosThumb;?>',
                gerenciadorDeArquivosDownload: '<?=$urlGerenciadorDeArquivosDownload;?>',
                cadastroOrigem: '<?=$urlPesquisaCadastroOrigem;?>',
                agenteEducacional: '<?=$urlPesquisaAgenteEducacional;?>',
                unidadeEstudo: '<?=$urlPesquisaUnidadeEstudo;?>'
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>,
                arrAlunocursoSituacao: <?=json_encode($this->arrAlunocursoSituacao);?>,
                selecaoTipo: <?=json_encode($this->arrSelecaoTipo);?>,
                campusCurso: <?=json_encode($this->arrCampusCurso);?>,
                necessidadesEspeciais: <?=json_encode($this->arrNecessidadesEspeciais);?>,
                alunoPossuiAgente: <?=($this->alunoPossuiAgente);?>,
                formaIngressoPadrao: <?=($this->formaIngressoPadrao);?>,
                alunoId: '<?= $this->alunoId ?>',
                formacao: <?= json_encode($this->arrFormacaoTipo) ?>,
                arrCamposPersonalizados:<?=json_encode($this->arrCamposPersonalizados);?>
            },
            value: {
                arq: <?=json_encode($this->arrDados['arq']);?>,
                responsaveis: <?=json_encode($this->arrDados['responsaveis']);?>,
                formacoes: <?=json_encode($this->arrDados['formacoes']);?>,
                alunoCurso: <?=json_encode($this->arrDados['alunoCurso']);?>,
                pessoaNecessidades: <?=json_encode($this->arrDados['pessoaNecessidades']);?>,
                origem:<?=json_encode($this->arrDados['origem']); ?>,
                pesIdAgenciador:<?=json_encode($this->arrDados['pesIdAgenciador']); ?>,
                editaAgente:<?=(int)($this->editaAgente); ?>,
                desabilitarObrigatoriedadeCpf:<?=(int)($this->desabilitarObrigatoriedadeCpf); ?>,
                editaAlunoIndicacao:<?=(int)($this->editaAlunoIndicacao); ?>,
                editaObservacaoDocumentoAluno:<?=(int)($this->editaObservacaoDocumentoAluno); ?>,
                unidade:<?=json_encode($this->arrDados['unidade']); ?>
            }
        });
    });
</script>