<div class="row">
    <?php if (in_array('formacao', $this->arrCamposCaptacao)): ?>
        <div class="col-sm-12">
            <fieldset>
                <legend>Formação Anterior:</legend>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="formacaoCurso">Curso:</label>
                            <input type="text" name="formacaoCurso" id="formacaoCurso" class="form-control"
                                   placeholder="Ex. Direito" autocomplete="off"
                                   value="<?= $this->arrDados['formacaoCurso']; ?>">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="formacaoInstituicao">Instituição:</label>
                            <input type="text" name="formacaoInstituicao" id="formacaoInstituicao"
                                   value="<?= $this->arrDados['formacaoInstituicao']; ?>"
                                   class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="formacaoTipo">Tipo:</label>
                            <select name="formacaoTipo" id="formacaoTipo" class="form-control">
                                <?php
                                foreach ($this->arrFormacaoTipo as $value) {
                                    $id       = $value['id'];
                                    $text     = $value['text'];
                                    $selected = ($id == $this->arrDados['formacaoTipo']) ? " selected" : "";
                                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="formacaoAno">Ano de formação:</label>
                            <input type="text" name="formacaoAno" id="formacaoAno" class="form-control"
                                   value="<?= $this->arrDados['formacaoAno']; ?>"
                                   maxlength="4">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="formacaoConcluido">Concluído:</label>
                            <select name="formacaoConcluido" id="formacaoConcluido" class="form-control">
                                <?php
                                foreach ($this->arrFormacaoConcluido as $value) {
                                    $id       = $value['id'];
                                    $text     = $value['text'];
                                    $selected = ($id == $this->arrDados['formacaoConcluido']) ? " selected" : "";
                                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                </div>
                <?php
                if (isset($this->arrCamposPersonalizados['formacao'])) {
                    echo '<div class="col-sm-12">';

                    foreach ($this->arrCamposPersonalizados['formacao'] as $value) {
                        $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                        $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                        echo "<div class=\"col-sm-{$tamanho} camposPersonalizados\">";
                        echo '<div class="form-group">' .
                            $this->sisConfig()->criarCampo($campoNome, $value) .
                            '</div>';
                        echo '</div>';
                    }

                    echo '</div>';
                }
                ?>
            </fieldset>
        </div>
    <?php endif; ?>
    <div class="col-sm-12">
        <fieldset>
            <legend>Curso:</legend>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="campusCurso">Campus/Curso:</label>
                    <input type="text" name="campusCurso" id="campusCurso" class="form-control"
                           value="<?= $this->arrDados['campusCurso']; ?>">
                </div>
            </div>
            <?php
            if (isset($this->arrCamposPersonalizados['cursos'])) {
                echo '<div>';

                foreach ($this->arrCamposPersonalizados['cursos'] as $value) {
                    $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                    $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                    echo '<div class="form-group">';
                    echo "<div class='col-sm-{$tamanho} camposPersonalizados'>" .
                        $this->sisConfig()->criarCampo($campoNome, $value) .
                        '</div>';
                    echo '</div>';
                }

                echo '</div>';
            }
            ?>
        </fieldset>

        <fieldset>
            <legend>Informações de Pagamento:</legend>
            <?php if ($this->alunoCaptacaoFinanceiroMensagem): ?>
                <div class="alert alert-warning"><?= $this->alunoCaptacaoFinanceiroMensagem ?></div>
            <?php endif; ?>
            <div class="col-sm-12 well" id="tipoTitulo">
                <div class="clearfix"></div>
                <div class="list componente-list"></div>
            </div>
            <div class="col-sm-12 hidden pagamentoCartao">
                <?php echo $this->partial('matricula/acadgeral-aluno/cartao.phtml') ?>
            </div>
        </fieldset>
    </div>
</div>