<?php
$urlPesquisaPF                   = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'search-for-json'));
$urlBuscaCEP                     = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlBuscaFormacao                = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-formacao', 'action' => 'search-for-json'));
$urlPesquisaCadastroOrigem       = $this
    ->url('matricula/default', array('controller' => 'acadgeral-cadastro-origem', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaAgenteEducacional    = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlPesquisaUnidadeEstudo        = $this
    ->url('organizacao/default', array('controller' => 'org-unidade-estudo', 'action' => 'search-for-json'));
$urlCampusCurso                  = $this
    ->url('matricula/default', array('controller' => 'campus-curso', 'action' => 'search-for-json'));
$urlValidaCartao                 = $this
    ->url('financeiro/default', array('controller' => 'financeiro-pagamento', 'action' => 'valida-cartao'));

$paramUrl = array("controller" => "acadgeral-aluno", "action" => "captacao");

if ($this->agente) {
    $paramUrl['controller'] = 'acadgeral-aluno-captacao';
}

$urlAdd = $this->url("matricula/default", $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('componente', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('card', false, 'App');
$this->layoutComponent()->addJS('acadgeral-aluno-captacao', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>

<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/css/card.css">

<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .form-group label {
        font-weight: bold;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAdd; ?>" id="acadgeral-aluno-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" id="pesId" value="<?php echo $this->arrDados['pesId']; ?>">
                        <input type="hidden" name="alunocursoMediador" id="alunocursoMediador"
                               value="<?php echo $this->arrDados['alunocursoMediador']; ?>">
                        <input type="hidden" name="jaRegistrado" id="jaRegistrado" value="">

                        <div id="acadgeral-aluno-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#dadosPessoais">
                                            <a href="#dadosPessoais" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Pessoais</span>
                                            </a>
                                        </li>
                                        <li data-target="#contatoEndereco">
                                            <a href="#contatoEndereco" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Contato e Endereço</span>
                                            </a>
                                        </li>
                                        <li data-target="#responsavel">
                                            <a href="#responsavel" data-toggle="tab">
                                                <span class="step">3</span>
                                                <span class="title">Responsáveis</span>
                                            </a>
                                        </li>
                                        <li data-target="#cursoFormacao">
                                            <a href="#cursoFormacao" data-toggle="tab">
                                                <span class="step">4</span>
                                                <span class="title">Curso e Pagamento</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="dadosPessoais">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/captacao-dados-pessoais.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="contatoEndereco">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/add-contato-endereco.phtml',
                                        $variaveis
                                    );
                                    ?>

                                </div>
                                <div class="tab-pane" id="responsavel">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/add-responsavel.phtml',
                                        $variaveis
                                    );
                                    ?>

                                </div>
                                <div class="tab-pane" id="cursoFormacao">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acadgeral-aluno/captacao-curso-formacao.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <br>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Enviar dados
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<?php
echo $this->partial(
    'matricula/acadgeral-aluno/captacao-pagto-obs-modal.phtml',
    $variaveis
);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadgeralAlunoCaptacao({
            url: {
                buscaCEP: '<?=$urlBuscaCEP;?>',
                buscaPF: '<?=$urlPesquisaPF;?>',
                buscaFormacao: '<?=$urlBuscaFormacao;?>',
                cadastroOrigem: '<?=$urlPesquisaCadastroOrigem;?>',
                agenteEducacional: '<?=$urlPesquisaAgenteEducacional;?>',
                tipoTitulo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                unidadeEstudo: '<?=$urlPesquisaUnidadeEstudo;?>',
                campusCurso: '<?php echo $urlCampusCurso;?>',
                validaCartao: '<?=$urlValidaCartao;?>',
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>,
                necessidadesEspeciais: <?=json_encode($this->arrNecessidadesEspeciais);?>,
                tipoTitulo: <?=json_encode($this->arrTipoTitulo);?>,
                arrCamposPersonalizados:<?=json_encode($this->arrCamposPersonalizados);?>
            },
            value: {
                origem:<?=json_encode($this->arrDados['origem']); ?>,
                campusCurso: <?=json_encode($this->arrDados['campusCurso']);?>,
                campusCursoSelecao: <?=json_encode($this->arrDados['arrCampusCursoSelecao']);?>,
                pessoaNecessidades: <?=json_encode($this->arrDados['pessoaNecessidades']);?>,
                tipoTitulo: <?=json_encode($this->arrDados['tipoTitulo']);?>,
                cursocampusId: '<?=$_GET['cursocampusId'] ? $_GET['cursocampusId'] : '';?>',
                pesIdAgente:<?=json_encode($this->arrDados['pesIdAgente']); ?>,
                agente:<?=(int)$this->agente; ?>,
                unidade:<?=json_encode($this->arrDados['unidade']); ?>,
                maxiPagoAtivo:<?=(int)$this->maxiPagoAtivo; ?>,
                data: '<?= (new\DateTime())->format('m/Y'); ?>'
            }
        });
    });
</script>