<?php
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" novalidate="novalidate" method="post" id="form-captacao-inicio"
                          enctype="multipart/form-data">
                        <input type="hidden" name="captacaoInicio" value="1">

                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                                <label for="pesCpf">
                                    Digite o CPF para que possamos verificar se o registro já se encontra em nosso
                                    banco de dados.
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="pesCpf" id="pesCpf" class="form-control"
                                               placeholder="CPF">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary" title="Continuar">
                                                <span class="hidden-xs">Continuar</span>
                                                <i class="fa fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php if ($this->agente && $this->arrDados['pesIdAgente']) { ?>
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend>Captação</legend>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Seu link de captação:</label>

                                            <p class="form-control-static">
                                                <a href="<?= $this->linkAgente; ?>" target="_blank"
                                                   title="Seu link de captação">
                                                    <?= $this->linkAgente; ?>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        <?php } ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<?php echo $this->partial('/comunicacao/comunicacao-campanha/campanha.phtml') ?>

<script>
    $(document).ready(function () {
        $("[name=pesCpf]").inputmask({
            showMaskOnHover: false, clearIncomplete: true, mask: ['999.999.999-99']
        });
        var vs = new VersaShared();
        vs.setDefaultsValidator();

        $('#form-captacao-inicio').validate({
            rules: {
                pesCpf: {required: true, cpf: true}
            },
            messages: {
                pesCpf: {required: 'Campo obrigatório!', cpf: 'CPF inválido!'}
            },
            ignore: '.ignore'
        });
    })
</script>