<fieldset>
    <legend>Dados Pessoais</legend>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesCpf">CPF:</label>
                <input type="hidden" name="pesCpf" id="pesCpf" value="<?php echo $this->arrDados['pesCpf']; ?>">

                <p class="form-control-static">
                    <?php echo $this->arrDados['pesCpf']; ?>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="pesNome">Nome:</label>
                <input type="text" name="pesNome" id="pesNome" class="form-control" autocomplete="off"
                       value="<?php echo $this->arrDados['pesNome']; ?>">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesSexo">Sexo:</label>
                <select name="pesSexo" id="pesSexo" class="form-control">
                    <option></option>
                    <?php
                    foreach ($this->arrPesSexo as $value) {
                        $id        = $value['id'];
                        $descricao = $value['text'];
                        $selected  = ($id == $this->arrDados['pesSexo']) ? " selected" : "";
                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                    }
                    ?>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesDataNascimento">Data de Nascimento</label>
                <input type="text" name="pesDataNascimento" id="pesDataNascimento" class="form-control"
                       placeholder="Data de nascimento" value="<?php echo $this->arrDados['pesDataNascimento']; ?>">
            </div>
        </div>
    </div>
    <div class="row">
        <?php if (in_array('pesNaturalidade', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="pesNaturalidade">Cidade de Nascimento</label>
                    <input type="text" name="pesNaturalidade" id="pesNaturalidade" class="form-control"
                           placeholder="Informe a cidade de Nascimento" autocomplete="off"
                           value="<?php echo $this->arrDados['pesNaturalidade']; ?>">
                </div>
            </div>
        <?php endif; ?>
        <?php if (in_array('pesNascUf', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="pesNascUf">Estado de nascimento:</label>
                    <input type="text" name="pesNascUf" id="pesNascUf" class="form-control"
                           placeholder="Informe o estado do nascimento" autocomplete="off"
                           value="<?php echo $this->arrDados['pesNascUf']; ?>">
                </div>
            </div>
        <?php endif; ?>
        <?php if (in_array('alunoEtnia', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="alunoEtnia">Etnia:</label>
                    <select name="alunoEtnia" id="alunoEtnia" class="form-control">
                        <?php
                        foreach ($this->arrAlunoEtnia as $value) {
                            $id       = $value['id'];
                            $text     = $value['text'];
                            $selected = ($id == $this->arrDados['alunoEtnia']) ? " selected" : "";
                            echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                        }
                        ?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <?php if (in_array('pesRg', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="pesRg">RG:</label>
                    <input type="text" name="pesRg" id="pesRg" class="form-control" placeholder="Informe o RG"
                           value="<?php echo $this->arrDados['pesRg']; ?>">
                </div>
            </div>
        <?php endif; ?>
        <?php if (in_array('pessoaNecessidades', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="pessoaNecessidades">Necessidades Especiais</label>
                    <input type="text" name="pessoaNecessidades" id="pessoaNecessidades" class="form-control"
                           placeholder="Informe as necessidades especias do aluno">
                </div>
            </div>
        <?php endif; ?>
    </div>
    <div class="row">
        <?php if (in_array('alunoMae', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="alunoMae">Nome da mãe</label>
                    <input type="text" name="alunoMae" id="alunoMae" class="form-control"
                           placeholder="Informe o nome da mãe"
                           value="<?php echo $this->arrDados['alunoMae']; ?>">
                </div>
            </div>
        <?php endif; ?>
        <?php if (in_array('alunoPai', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="alunoPai">Nome do pai</label>
                    <input type="text" name="alunoPai" id="alunoPai" class="form-control"
                           placeholder="Informe o nome do pai"
                           value="<?php echo $this->arrDados['alunoPai']; ?>">
                </div>
            </div>
        <?php endif; ?>
    </div>
    <div class="row">
        <?php if (in_array('origem', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="origem">Origem do cadastro</label>
                    <input type="text" name="origem" id="origem" class="form-control" placeholder="Origem do cadastro">
                </div>
            </div>
        <?php endif; ?>
        <?php if (in_array('alunocursoPessoaIndicacao', $this->arrCamposCaptacao)): ?>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="alunocursoPessoaIndicacao">Aluno Indicação:</label>
                    <input type="text" name="alunocursoPessoaIndicacao" id="alunocursoPessoaIndicacao"
                           class="form-control"
                           placeholder="Aluno Indicação" maxlength="255"
                           value="<?php echo $this->arrDados['alunocursoPessoaIndicacao']; ?>">
                </div>
            </div>
        <?php endif; ?>
        <?php if ($this->arrDados['pesIdAgente']) { ?>
            <?php if ($this->agente) { ?>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="unidade">Unidade de Estudo:</label>
                        <input type="text" name="unidade" id="unidade" class="form-control"
                               placeholder="Unidade de Estudo">
                    </div>
                </div>
            <?php } ?>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Agente Educacional:</label>

                    <p class="form-control-static">
                        <?php echo $this->arrDados['pesIdAgente']['text']; ?>
                    </p>
                    <input type="hidden" name="pesIdAgente" id="pesIdAgente"
                           value="<?php echo $this->arrDados['pesIdAgente']['id']; ?>">
                </div>
            </div>
        <?php } ?>
        <?php
        if (isset($this->arrCamposPersonalizados['dadosPessoais'])) {
            echo '<div>';

            foreach ($this->arrCamposPersonalizados['dadosPessoais'] as $value) {
                $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                echo "<div class=\"col-sm-{$tamanho} camposPersonalizados\">";
                echo '<div class="form-group">' .
                    $this->sisConfig()->criarCampo($campoNome, $value) .
                    '</div>';
                echo '</div>';
            }

            echo '</div>';
        }
        ?>
    </div>
</fieldset>