<?php
$urlPesquisaPF                   = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'search-for-json'));
$urlBuscaCEP                     = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlBuscaFormacao                = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-formacao', 'action' => 'search-for-json'));
$urlPesquisaCadastroOrigem       = $this
    ->url('matricula/default', array('controller' => 'acadgeral-cadastro-origem', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaAgenteEducacional    = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlCampusCurso                  = $this
    ->url('matricula/default', array('controller' => 'campus-curso', 'action' => 'search-for-json'));
$urlCaptacaoInicio               = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'captacao'));
$urlPesquisaUnidadeEstudo        = $this
    ->url('organizacao/default', array('controller' => 'org-unidade-estudo', 'action' => 'search-for-json'));
$urlValidaCartao                 = $this
    ->url('financeiro/default', array('controller' => 'financeiro-pagamento', 'action' => 'valida-cartao'));

$paramUrl = array("controller" => "acadgeral-aluno", "action" => "captacao");

if ($this->agente) {
    $paramUrl['controller'] = 'acadgeral-aluno-captacao';
}

$urlAdd = $this->url("matricula/default", $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('componente', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('card', false, 'App');
$this->layoutComponent()->addJS('acadgeral-aluno-captacao', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>

<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/css/card.css">

<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .form-group label {
        font-weight: bold;
    }

    .nome {
        position: relative;
    }

    .nome .troca {
        font-size: 8px;
        position: absolute;
        top: 100%;
        right: 0px;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAdd; ?>" id="acadgeral-aluno-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="alunoId" id="alunoId"
                               value="<?php echo $this->arrDados['alunoId']; ?>">
                        <input type="hidden" name="pesId" id="pesId" value="<?php echo $this->arrDados['pesId']; ?>">
                        <input type="hidden" name="alunocursoMediador" id="alunocursoMediador"
                               value="<?php echo $this->arrDados['alunocursoMediador']; ?>">
                        <input type="hidden" name="alunocursoPessoaIndicacao" id="alunocursoPessoaIndicacao"
                               value="<?php echo $this->arrDados['alunocursoPessoaIndicacao']; ?>">
                        <input type="hidden" name="jaRegistrado" id="jaRegistrado" value="">

                        <h3>
                            Selecione o curso que deseja adicionar para
                            <strong class="nome">
                                <?= $this->arrDados['pesNome']; ?>.
                                <a href="<?= $urlCaptacaoInicio ?>" class="troca">
                                    <strong>Este não sou eu. Tentar novamente.</strong>
                                </a>
                            </strong>
                        </h3>

                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Adição de Curso:</legend>
                                <?php if ($this->arrDados['pesIdAgente']) { ?>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Agente Educacional:</label>

                                            <p class="form-control-static">
                                                <?php echo $this->arrDados['pesIdAgente']['text']; ?>
                                            </p>
                                            <input type="hidden" name="pesIdAgente" id="pesIdAgente"
                                                   value="<?php echo $this->arrDados['pesIdAgente']['id']; ?>">
                                        </div>
                                    </div>
                                    <?php
                                } ?>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="campusCurso">Campus/Curso:</label>
                                        <input type="text" name="campusCurso" id="campusCurso" class="form-control"
                                               value="<?= $this->arrDados['campusCurso']; ?>">
                                    </div>
                                </div>
                                <?php
                                if (isset($this->arrCamposPersonalizados['cursos'])) {
                                    echo '<div>';

                                    foreach ($this->arrCamposPersonalizados['cursos'] as $value) {
                                        $tamanho   = $value['tamanho'] ? $value['tamanho'] : 4;
                                        $campoNome = 'camposPersonalizados' . '[' . $value["campo_id"] . ']';

                                        echo "<div class=\"col-sm-{$tamanho} camposPersonalizados\">";
                                        echo '<div class="form-group">' .
                                            $this->sisConfig()->criarCampo($campoNome, $value) .
                                            '</div>';
                                        echo '</div>';
                                    }

                                    echo '</div>';
                                }
                                ?>
                            </fieldset>

                            <fieldset>
                                <legend>Informações de Pagamento:</legend>
                                <?php if ($this->alunoCaptacaoFinanceiroMensagem): ?>
                                    <div class="alert alert-warning"><?= $this->alunoCaptacaoFinanceiroMensagem ?></div>
                                <?php endif; ?>
                                <div class="col-sm-12 well" id="tipoTitulo">
                                    <div class="clearfix"></div>
                                    <div class="list componente-list"></div>
                                </div>
                                <div class="col-sm-12 hidden pagamentoCartao">
                                    <?php echo $this->partial('matricula/acadgeral-aluno/cartao.phtml') ?>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 text-center">
                            <br>
                            <button type="button" class="btn btn-primary submit">
                                <i class="fa fa-save"></i>
                                Enviar dados
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<?php
echo $this->partial(
    'matricula/acadgeral-aluno/captacao-pagto-obs-modal.phtml',
    $variaveis
);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadgeralAlunoCaptacao({
            url: {
                buscaCEP: '<?=$urlBuscaCEP;?>',
                buscaPF: '<?=$urlPesquisaPF;?>',
                buscaFormacao: '<?=$urlBuscaFormacao;?>',
                cadastroOrigem: '<?=$urlPesquisaCadastroOrigem;?>',
                tipoTitulo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                agenteEducacional: '<?=$urlPesquisaAgenteEducacional;?>',
                campusCurso: '<?php echo $urlCampusCurso;?>',
                unidadeEstudo: '<?=$urlPesquisaUnidadeEstudo;?>',
                validaCartao: '<?=$urlValidaCartao;?>',
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>,
                necessidadesEspeciais: <?=json_encode($this->arrNecessidadesEspeciais);?>,
                tipoTitulo: <?=json_encode($this->arrTipoTitulo);?>,
                arrCamposPersonalizados:<?=json_encode($this->arrCamposPersonalizados);?>
            },
            value: {
                origem:<?=json_encode($this->arrDados['origem']); ?>,
                campusCurso: <?=json_encode($this->arrDados['campusCurso']);?>,
                campusCursoSelecao: <?=json_encode($this->arrDados['arrCampusCursoSelecao']);?>,
                pessoaNecessidades: <?=json_encode($this->arrDados['pessoaNecessidades']);?>,
                tipoTitulo: <?=json_encode($this->arrDados['tipoTitulo']);?>,
                cursocampusId: '<?=$_GET['cursocampusId'] ? $_GET['cursocampusId'] : '';?>',
                pesIdAgente:<?=json_encode($this->arrDados['pesIdAgenciador']); ?>,
                agente:<?=(int)$this->agente; ?>,
                unidade:<?=json_encode($this->arrDados['unidade']); ?>,
                maxiPagoAtivo:<?=(int)$this->maxiPagoAtivo; ?>,
                data: '<?= (new\DateTime())->format('m/Y'); ?>'
            }
        });
    });
</script>