<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-pagto-obs" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Observação de Pagamento:</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="#" id="alteracao-pagto-obs-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="componentId" id="componentId" value="">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="configPgtoCursoObs">Observações:</label>
                                <textarea name="configPgtoCursoObs" id="configPgtoCursoObs" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>