<?php
$dir    = getcwd();

$layout = $this->layout && is_file($this->layout) ? $this->layout : './public/img/nova-carteirinha.png';
?>
<style>
    .carteirinha {
        height: 800px;
        width: 100%;
        position: absolute;
    }
    .foto {
        margin-top: 6px;
        margin-left: 770px;
        width: 290px;
        height: 418px;
        position: fixed;
    }
    p{
        color: white;
        font-family: "Arial", Arial, sans-serif;
        font-size: 33px;
    }
</style>
<div style="margin-top: -50px; margin-bottom: -50px; margin-left: -50px; margin-right: -50px;">
    <img src="<?= $layout ?>" class="carteirinha">
    <img src="<?= $this->foto ?>" class="foto">

<!--    MATRICULA   -->
    <p style="
    position: fixed; margin-top: 287px; margin-left: 173px">
        <?= $this->matricula ?>
    </p>
<!--    ALUNO   -->
    <p style="position: fixed; margin-top: 182px; margin-left: 125px;">
        <?= $this->aluno ?>
    </p>
<!--    NIVEL ENSINO    -->
    <p style="margin-top: 402px; position: fixed; margin-left: 95px;">
        <?= $this->nivel ?>
    </p>
    <p style="margin-top: 405px; position: fixed; margin-left: 570px;">
        31/12/2018
    </p>
</div>