<fieldset>
    <legend>Preencha com os dados do cartão:</legend>
    <div class="col-sm-4 exibeCartao">

    </div>
    <div class="col-sm-8">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="cartaoNomeTitular">
                    Nome do Titular (Idêntico ao impresso no cartão):
                </label>
                <input name="cartaoNomeTitular" id="cartaoNomeTitular" class="form-control">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="cartaoNumero">Número do cartão:</label>
                <input name="cartaoNumero" id="cartaoNumero" class="form-control">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="cartaoVencimento">
                    Vencimento (mês/ano):
                </label>
                <input name="cartaoVencimento" id="cartaoVencimento" class="form-control">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <label for="cartaoCvv">Código Verificador:</label>
                <input name="cartaoCvv" id="cartaoCvv" class="form-control">
            </div>
        </div>

    </div>
</fieldset>