<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-deferimento-curso" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Informações de Pagamento:</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="" id="deferimento-curso-aluno-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="alunocursoId" id="alunocursoId" value="">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="pesNome">Aluno:</label>

                                <p class="form-control-static" id="pesNome">-</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="conContatoEmail">Email:</label>

                                <p class="form-control-static" id="conContatoEmail">-</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="conContatoCelular">Celular:</label>

                                <p class="form-control-static" id="conContatoCelular">-</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="campNome">Campus:</label>

                                <p class="form-control-static" id="campNome">-</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cursoNome">Curso:</label>

                                <p class="form-control-static" id="cursoNome">-</p>
                            </div>
                        </div>
                        <div class="col-sm-12 hidden" id="informacoes-pagamento">
                            <fieldset>
                                <legend>Informações de Pagamento:</legend>
                                <div class="col-sm-12 well" id="tipoTitulo">
                                    <div class="clearfix"></div>
                                    <div class="list componente-list"></div>
                                </div>
                            </fieldset>

                            <div class="infoCartao hidden">
                                <fieldset>
                                    <legend>Informações do Cartão</legend>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Nome do Titular:</label>

                                            <p class="form-control-static cartaoTitular">-</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label>Final do Cartão: </label>

                                            <p class="form-control-static cartaoFinal">-</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label>Vencimento: </label>

                                            <p class="form-control-static cartaoVencimento">-</p>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div id="dados-supervisor">
                                <fieldset>
                                    <legend>Autenticação Supervisor:</legend>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="loginSupervisor">Login do Supervisor:</label>
                                            <input type="text" name="loginSupervisor" id="loginSupervisor"
                                                   autocomplete="off" readonly
                                                   onfocus="this.removeAttribute('readonly');"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="senhaSupervisor">Senha do Supervisor:</label>
                                            <input type="password" name="senhaSupervisor" id="senhaSupervisor"
                                                   autocomplete="off" readonly
                                                   onfocus="this.removeAttribute('readonly');"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="configPgtoCursoJustificativa">Justificativa:</label>
                                        <textarea name="configPgtoCursoJustificativa" id="configPgtoCursoJustificativa"
                                                  class="form-control"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-efetuar-deferimento-curso">
                                    <i class="fa fa-save"></i>
                                    Deferir Curso
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-alteracao-pagto-curso" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alterar informações de Pagamento:</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="#" id="alteracao-pagto-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="componentId" id="componentId" value="">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="numeroParcelas">Número de parcelas:</label>
                                <input type="text" name="numeroParcelas" id="numeroParcelas" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valorParcelas">Valor das parcelas:</label>
                                <input type="text" name="valorParcelas" id="valorParcelas" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valorFinalStatic">Valor Final:</label>

                                <p class="form-control-static" id="valorFinal"></p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="configPgtoCursoObs">Observações:</label>
                                <textarea name="configPgtoCursoObs" id="configPgtoCursoObs"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>