<?php $this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Cadastro de Vestibular', 'icon' => 'fa fa-gear'));
?>
<h1>Impressão de carteirinha</h1>
<form class="smart-form" data-validate="yes" name="numMat" method="post" target="_blank">
    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
        <label class="label">Número de Matrícula:</label>
        <label class="input">
            <i class="icon-prepend fa fa-credit-card"></i>
            <input type="text" name="numMat" placeholder="Informe o número de matrícula" data-validations="Required,Integer">
        </label>
        <div class="note"></div>
    </section>
    <section class="col-lg-2 col-sm-2 col-xs-2">
        <input type="submit" class="btn btn-primary btn-sm" style="margin-top: 25px" onclick="sendForm()" value="Imprimir Carteirinha">
    </section>
</form>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>

<script>
    $("form[name='numMat']").on('submit', function () {
        var val = $("input[name='numMat']").val().trim();
        if(val){
            return true;
        } else {
            return false;
        }
    });
</script>