<?php
$urlDocumentoEmitir = $this
    ->url('documentos/default', array('controller' => 'documento-modelo', 'action' => 'emitir'));
?>
<div id="emissao-documentos-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" style="width: 30%">
        <div class="modal-overlay">
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title"><strong>Emissão de Documentos</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="form-emissao-documentos" method="POST" action="<?= $urlDocumentoEmitir; ?>"
                              target="_blank">
                            <div class="">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="emitirDocumento">Selecione o documento:</label>
                                        <input type="text" class="form-control" name="emitirDocumento"
                                               id="emitirDocumento" required>
                                    </div>
                                </div>

                                <div class="divPagamento">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="documentoVencimento">Data de vencimento:</label>
                                            <input type="text" class="form-control" name="documentoVencimento"
                                                   id="documentoVencimento" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="documentoValor">Selecione o valor:</label>
                                            <input type="text" class="form-control" name="documentoValor"
                                                   id="documentoValor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="btn-group">
                                    <button type="button" id="btnEmitirCancelar" class="btn btn-danger">Cancelar
                                    </button>
                                    <button type="button" id="btnEmitir" class="btn btn-primary">Emitir</button>
                                </div>
                            </div>
                        </form>
                        <iframe id="iframeEmissaoDocumento" name="iframeEmissaoDocumento" src=""
                                style="display: none"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



