<?php
$urlDesligamento = $this->url('matricula/default', array('controller' => 'aluno', 'action' => 'desligamento'));
?>
<div id="alunocurso-datas-alteracao-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Alterar Datas do Curso do Aluno</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="form-alterar-datas" method="POST">
                        <input type="hidden" name="alunoId" value="">
                        <input type="hidden" name="pesId" value="">
                        <input type="hidden" name="campId" value="">
                        <input type="hidden" name="cursoId" value="">
                        <input type="hidden" name="alunocursoId" value="">

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label title="Matrícula do Aluno na instituição">Matricula:</label>

                                <p class="form-control-static alunocursoId">-</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label title="Nome do Aluno">Aluno:</label>

                                <p class="form-control-static pesNome">-</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label title="Campus e curso do aluno">Campus/Curso:</label>

                                <p class="form-control-static campusCurso">-</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label title="Situação do aluno no Curso">Situação Curso:</label>

                                <p class="form-control-static alunocursoSituacao">-</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Data de Cadastro:</label>

                                <p class="form-control-static alunocursoDataCadastro">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Data da Matrícula:</label>

                                <p class="form-control-static alunocursoDataMatricula">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Data da Última Alteração:</label>

                                <p class="form-control-static alunocursoDataAlteracao">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Data da colação:</label>

                                <p class="form-control-static alunocursoDataColacao">
                                    -
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label title="Data da Expedição do diploma">Data da Exp. do diploma:</label>

                                <p class="form-control-static alunocursoDataExpedicaoDiploma">
                                    -
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data da Matrícula:</label>
                                <input type="text" class="form-control" name="alunocursoDataMatricula">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data da Colação:</label>
                                <input type="text" class="form-control" name="alunocursoDataColacao">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data da Expediçao:</label>
                                <input type="text" class="form-control" name="alunocursoDataExpedicaoDiploma">
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-warning">Alterar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>