<style>
    .legend-fieldset-modal {
        font-weight: bolder;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-aluno-curso-acoes" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body floating-label">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="row">
                    <form id="aluno-curso-acoes-form" novalidate="novalidate" method="get"
                          enctype="multipart/form-data">
                        <input type="hidden" name="alunoId" value="">
                        <input type="hidden" name="pesId" value="">
                        <input type="hidden" name="campId" value="">
                        <input type="hidden" name="cursoId" value="">
                        <input type="hidden" name="alunocursoId" value="">

                        <fieldset>
                            <legend><h1 class="form-control-static pesNome legend-fieldset-modal">-</h1></legend>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Nascimento:</label>

                                                <p class="form-control-static pesDataNascimento">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>CPF:</label>

                                                <p class="form-control-static pesCpf">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>RG:</label>

                                                <p class="form-control-static pesRg">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Cidade/Estado:</label>

                                                <p class="form-control-static endCidadeEstado">-</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email:</label>

                                                <p class="form-control-static conContatoEmail">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Celular:</label>

                                                <p class="form-control-static conContatoCelular">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Telefone:</label>

                                                <p class="form-control-static conContatoTelefone">-</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label title="Matrícula do Aluno na instituição">
                                                    Registro do Aluno:
                                                </label>

                                                <p class="form-control-static alunoId">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label title="Matrícula do Aluno no Curso">Matrícula no Curso:</label>

                                                <p class="form-control-static alunocursoId">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label title="Situação da Matrícula">Sit. Mat.:</label>

                                                <p class="form-control-static alunocursoSituacao" data-placement="left"
                                                   title="-">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="alunocursoCarteira">Carteira:</label>

                                                <p class="form-control-static alunocursoCarteira">-</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="campNome">Campus/Curso:</label>

                                                <p class="form-control-static campusCurso">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Unidade de Estudo:</label>

                                                <p class="form-control-static unidadeNome">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Origem:</label>

                                                <p class="form-control-static origemNome">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Agente Educacional:</label>

                                                <p class="form-control-static agenteEducacional">-</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Informações Enade:</label>

                                                <p class="form-control-static enadeInformacoes">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Observações:</label>

                                                <p class="form-control-static alunocursoObservacoes">-</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row camposPersonalizados">

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Informações de Cadastro:</legend>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Operador Cadastro:</label>

                                                <p class="form-control-static usuarioCadastro">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Data de Cadastro:</label>

                                                <p class="form-control-static alunocursoDataCadastro">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Data de Alteração:</label>

                                                <p class="form-control-static alunocursoDataAlteracao">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Data de Matrícula:</label>

                                                <p class="form-control-static alunocursoDataMatricula">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Data de Colação:</label>

                                                <p class="form-control-static alunocursoDataColacao">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label title="Data de Expedição do Diploma">Data de Exped. do
                                                    Diploma:</label>

                                                <p class="form-control-static alunocursoDataExpedicaoDiploma">-</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset>
                            <legend>Pendências:</legend>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Documentos não entregues: </label>

                                                <p class="form-control-static documentosNaoEntegues">-</p>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Títulos Abertos:</label>

                                                <p class="form-control-static quantidadeTitulosAbertos">-</p>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Títulos Vencidos:</label>

                                                <p class="form-control-static quantidadeTitulosVencidos">-</p>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label title="Quantidade de dependências">Dependências: </label>

                                                <p class="form-control-static quantidadeDependencias">-</p>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label title="Código Remoto">Códigos de integração:</label>

                                                <p class="form-control-static codigosIntegracao">-</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                        <div class="col-sm-12" id="aluno-acoes-botoes">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <div class="text-center">
                                        <a href="#" target="_blank" class="btn btn-warning"
                                           title="Ficha de inscrição"
                                           id="alunoCursoFichaInscricao">
                                            <i class="fa fa-print fa-inverse"></i>
                                            Ficha de inscrição
                                        </a>
                                        <button type="button" class="btn btn-info" id="btnModalAlterarSituacao">
                                            <i class="fa fa-life-ring" aria-hidden="true"></i>
                                            Alterar Situação
                                        </button>
                                        <button type="button" class="btn btn-primary" id="btnModalAlterarDatas">
                                            Alterar Datas
                                        </button>
                                        <button type="button" class="btn btn-success"
                                                id="btnModalEnviarComunicacao">
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                            Enviar Comunicação
                                        </button>
                                        <button type="button" class="btn btn-info" id="btnModalIntegracao">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            Integração Manual
                                        </button>
                                        <button type="button" class="btn btn-info" id="btnModalIntegracaoNota">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            Integração de Nota
                                        </button>
                                        <button type="button" class="btn btn-default" id="btnModalTrocarCurso">
                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                            Trocar Curso
                                        </button>
                                        <button type="button" class="btn btn-warning"
                                                id="btnModalOutrasInformacoes">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                            Outras Informações
                                        </button>
                                        <button type="button" class="btn btn-warning" id="btnEmitirDocumentos">
                                            <i class="fa fa-download"" aria-hidden="true"></i>
                                            Emissão de Documentos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>