<?php
$urlDesligamento = $this
    ->url('matricula/default', array('controller' => 'aluno', 'action' => 'desligamento'));
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="alteracao-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Situação do aluno</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form id="form-alterar-situacao" method="POST">
                        <input type="hidden" name="alunoId" value="">
                        <input type="hidden" name="pesId" value="">
                        <input type="hidden" name="campId" value="">
                        <input type="hidden" name="cursoId" value="">
                        <input type="hidden" name="alunocursoId" value="">

                        <div id="form-static-alterar-situacao">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label title="Nome do Aluno">Aluno:</label>

                                    <p class="form-control-static pesNome">-</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label title="Matrícula do Aluno na instituição">Matricula:</label>

                                    <p class="form-control-static alunocursoId">-</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label title="Campus e curso do aluno">Campus/Curso:</label>

                                    <p class="form-control-static campusCurso">-</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label title="Situação do aluno no Curso">Situação Curso:</label>

                                    <p class="form-control-static alunocursoSituacao">-</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="periodoLetivoAlteracao">Periodo Letivo:</label>
                                    <input name="periodoLetivoAlteracao" id="periodoLetivoAlteracao"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="alunocursoSituacao">Nova Situação:</label>
                                    <input name="alunocursoSituacao" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="motivoAlteracao">Motivo:</label>
                                <input name="motivoAlteracao" id="motivoAlteracao"
                                       class="form-control"
                                       placeholder="Descreva o motivo pelo qual a situação do aluno está sendo alterada."
                                    >
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="alteracaoObservacao">Observações sobre a mudança:</label>
                                    <textarea name="alteracaoObservacao" class="form-control" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-warning">Alterar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>