<div class="modal fade" data-keyboard="false" data-backdrop="static" id="outras-informacoes-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Outras Informações</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form id="form-outras-informacoes" method="POST">
                        <input type="hidden" name="alunocursoId" value="">

                        <div id="form-outras-informacoes">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label title="Matrícula do Aluno na instituição">Matricula:</label>

                                    <p class="form-control-static alunocursoId">-</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label title="Nome do Aluno">Aluno:</label>

                                    <p class="form-control-static pesNome">-</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label title="Campus e curso do aluno">Campus/Curso:</label>

                                    <p class="form-control-static campusCurso">-</p>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="alunocursoCarteira">Carteira de Estudante:</label>
                                <input name="alunocursoCarteira" class="form-control"
                                       placeholder="Numero da Carteirinha.">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="enadeInformacoes">Informações Enade:</label>
                                        <textarea style="resize: none; overflow: hidden" rows="4"
                                                  name="enadeInformacoes"
                                                  maxlength="438" id="enadeInformacoes"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="alunocursoObservacoes">Observação:</label>
                                        <textarea name="alunocursoObservacoes" class="form-control" rows="3"
                                                  maxlength="438"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>