<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'atividade-periodo-letivo'));
$paramUrl    = array('controller' => 'atividade-periodo-letivo', 'action' => 'add');

if ($this->arrDados['perId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['perId'];
}

$urlPesquisaAcadperiodoLetivo = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));

$urlPesquisaEstagiogeralConfiguracoes = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-configuracoes', 'action' => 'search-for-json'));
$urlForm                              = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('atividade-periodo-letivo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagio-periodo-letivo-form" novalidate="novalidate"
                          method="post">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="perId">Código:</label>
                                <input type="text" name="perId" id="perId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['perId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfPortaria">estagioconf_portaria:</label>
                                <input type="text" name="estagioconfPortaria" id="estagioconfPortaria"
                                       class="form-control"
                                       placeholder="estagioconf_portaria" maxlength="45"
                                       value="<?php echo $this->arrDados['estagioconfPortaria']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioperiodoVagas">estagioperiodo_vagas:</label>
                                <input type="text" name="estagioperiodoVagas" id="estagioperiodoVagas"
                                       class="form-control"
                                       placeholder="estagioperiodo_vagas" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioperiodoVagas']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioperiodoDataInicio">estagioperiodo_data_inicio:</label>
                                <input type="text" name="estagioperiodoDataInicio" id="estagioperiodoDataInicio"
                                       class="form-control"
                                       placeholder="estagioperiodo_data_inicio" maxlength=""
                                       value="<?php echo $this->arrDados['estagioperiodoDataInicio']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioperiodoDataFechamento">estagioperiodo_data_fechamento:</label>
                                <input type="text" name="estagioperiodoDataFechamento" id="estagioperiodoDataFechamento"
                                       class="form-control"
                                       placeholder="estagioperiodo_data_fechamento" maxlength=""
                                       value="<?php echo $this->arrDados['estagioperiodoDataFechamento']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label
                                    for="estagioperiodoFuncionamentoInicio">estagioperiodo_funcionamento_inicio:</label>
                                <input type="text" name="estagioperiodoFuncionamentoInicio"
                                       id="estagioperiodoFuncionamentoInicio" class="form-control"
                                       placeholder="estagioperiodo_funcionamento_inicio" maxlength=""
                                       value="<?php echo $this->arrDados['estagioperiodoFuncionamentoInicio']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioperiodoFuncionamentoFim">estagioperiodo_funcionamento_fim:</label>
                                <input type="text" name="estagioperiodoFuncionamentoFim"
                                       id="estagioperiodoFuncionamentoFim" class="form-control"
                                       placeholder="estagioperiodo_funcionamento_fim" maxlength=""
                                       value="<?php echo $this->arrDados['estagioperiodoFuncionamentoFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagioPeriodoLetivoAdd({

                urlPesquisaAcadperiodoLetivo: '<?=$urlPesquisaAcadperiodoLetivo;?>',

                urlPesquisaEstagiogeralConfiguracoes: '<?=$urlPesquisaEstagiogeralConfiguracoes;?>',

            <?php echo $this->arrDados['perId'] ? "\n,perId:".json_encode($this->arrDados['perId']) : ''; ?>,

        <?php echo $this->arrDados['estagioconfPortaria'] ? "\n,estagioconfPortaria:".json_encode($this->arrDados['estagioconfPortaria']) : ''; ?>
    });
    })
    ;
</script>