<?php

$urlAdd              = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "add")
);
$urlSearch           = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search")
);
$urlEdit             = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "edit")
);
$urlRemove           = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "remove")
);
$urlCamous           = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-campus")
);
$urlCurso            = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-cursos")
);
$urlSecretaria       = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-secretaria")
);
$urlSalvarData       = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "editar-data")
);
$urlSalvarRegistro   = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "add")
);
$urlPeriodo          = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-periodo")
);
$urlPortaria         = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-portaria")
);
$urlNucleos          = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-nucleos")
);
$urlAtividadePeriodo = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json")
);
$urlListagem         = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "listagem-periodo")
);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('atividades-periodo-letivo-index', false, 'App');
?>
<style>
    .app-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <div class="row">

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="pesquisaCampus">Pesquisar Campus:</label>
                                <input type="text" name="pesquisaCampus" id="pesquisaCampus"
                                       class="form-control" placeholder="Pesquise por Campus">
                            </div>
                        </div>

                        <div class="col-xs-6" id="periodo" hidden>
                            <div class="form-group">
                                <label for="pesquisaPeriodo">Pesquisar Período Letivo:</label>
                                <input type="text" name="pesquisaPeriodo" id="pesquisaPeriodo"
                                       class="form-control" placeholder="Pesquise por período letivo">
                            </div>
                        </div>

                    </div>

                    <div id="dtPeriodo" hidden>
                        <div class="table-responsive">
                            <table class="table" id="tbPeriodo">
                                <thead>
                                <tr>
                                    <th>Curso</th>
                                    <th>Núcleos Configurados</th>
                                    <th>Secretaria</th>
                                    <th>Portaria</th>
                                    <th>Horário de Funcionamento</th>
                                    <th>Início</th>
                                    <th>Fim</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-md btn-success" data-target="#modalInserir"
                                        data-toggle="modal">Novo Registro
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalNucleos" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Núcleos</h4>
            </div>
            <div class="modal-body table-responsive">
                <table id="nucleoInfo" class="table">
                    <thead>
                    <tr>
                        <th>Descrição</th>
                        <th></th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default fechaModal" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<div id="modalEditar" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="dataInicio">Data de Início Das Atividades:</label>
                            <input type="text" class="form-control" id="dataInicio">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="dataFim">Data de Término Das Atividades:</label>
                            <input type="text" class="form-control" id="dataFim" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="salvarData">Salvar</button>
                <button type="button" class="btn btn-default fechaModal" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<div id="modalInserir" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inserir</h4>
            </div>
            <div class="modal-body modal-validate">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="pesquisaCurso">Curso:</label><span></span>
                            <input type="text" class="form-control validate" id="pesquisaCurso" title="curso">
                        </div>
                    </div>
                    <div class="col-xs-6 secr" hidden>
                        <div class="form-group">
                            <label for="pesquisaSecretaria">Secretaria:</label><span></span>
                            <input type="text" class="form-control validate" id="pesquisaSecretaria" title="secretaria">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="vagas">Vagas:</label>
                            <input type="text" class="form-control" id="vagas" title="vagas">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="dataInicioInserir">Data de Início:</label><span></span>
                            <input type="text" class="form-control validate" id="dataInicioInserir" title="dataInicio">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="salvarRegistro">Salvar</button>
                <button type="button" class="btn btn-default fechaModal" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagioPeriodoLetivoIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlEdit: '<?php echo $urlEdit;?>',
            urlRemove: '<?php echo $urlRemove;?>',
            urlCampus: '<?php echo $urlCamous;?>',
            urlCurso: '<?php echo $urlCurso;?>',
            urlPeriodo: '<?php echo $urlPeriodo;?>',
            urlListagem: '<?php echo $urlListagem;?>',
            urlPortaria: '<?php echo $urlPortaria;?>',
            urlNucleos: '<?php echo $urlNucleos;?>',
            urlSecretaria: '<?php echo $urlSecretaria;?>',
            urlSalvarData: '<?php echo $urlSalvarData;?>',
            urlSalvarRegistro: '<?php echo $urlSalvarRegistro;?>',
            urlAtividadePeriodo: '<?php echo $urlAtividadePeriodo;?>'
        });
    });
</script>