<?php
$urlListagem = $this->url('vestibular/default', array('controller' => 'inscricao-cursos'));
$paramUrl    = array('controller' => 'inscricao-cursos', 'action' => 'add');

if ($this->arrDados['incricaoCursosId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['incricaoCursosId'];
}
$urlInscricaoResultado = $this
    ->url('vestibular/default', array('controller' => 'inscricao-cursos', 'action' => 'search'));

$urlForm = $this->url('vestibular/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('inscricao-cursos-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="inscricao-cursos-form" novalidate="novalidate"
                          method="post">
                        <fieldset>

                            <input type="hidden" name="incricaoCursosId" id="incricaoCursosId"
                                   value="<?php echo $this->arrDados['incricaoCursosId']; ?>">
                            <legend>Informações pessoais:</legend>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="inscricaoId">Inscrição :</label>
                                    <p id="inscricaoIdStatic"
                                       class="form-control-static inscricaoId">
                                        <?php echo $this->arrDados['inscricaoId']; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inscricaoId">Status:</label>
                                    <p id="inscricaoStatusStatic"
                                       class="form-control-static inscricaoStatus">
                                        <?php echo $this->arrDados['inscricaoStatus']; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="pesNome">Nome do candidato :</label>
                                    <p id="pesNomeStatic"
                                       class="form-control-static pesNome">
                                        <?php echo $this->arrDados['pesNome']; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="edicaoDescricao">Vestibular :</label>
                                    <p id="edicaoDescricaoStatic"
                                       class="form-control-static edicaoDescricao">
                                        <?php echo $this->arrDados['edicaoDescricao']; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inscricaoDataHorarioProva">Data e hora da prova : </label>
                                    <p id="inscricaoDataHorarioProvaStatic"
                                       class="form-control-static inscricaoDataHorarioProva">
                                        <?php echo $this->arrDados['inscricaoDataHorarioProva']; ?>
                                    </p>
                                </div>
                            </div>
                            <legend>Curso:</legend>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campNome">Campus/Curso :</label>
                                    <p id="campNomeStatic"
                                       class="form-control-static campNome">
                                        <?php echo $this->arrDados['campNome']; ?>
                                    </p>
                                    <p id="cursoNomeStatic"
                                       class="form-control-static cursoNome">
                                        <?php echo $this->arrDados['cursoNome']; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inscricaoClassificacao">Classificação :</label>
                                    <p id="inscricaoClassificacaoStatic"
                                       class="form-control-static inscricaoClassificacao">
                                        <?php echo $this->arrDados['inscricaoClassificacao']; ?>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inscricaoClassificacao">Opção :</label>
                                    <p id="inscricaoOpcaoStatic"
                                       class="form-control-static inscricaoOpcao">
                                        <?php echo $this->arrDados['inscricaoOpcao']; ?>
                                    </p>
                                </div>
                            </div>

                            <legend>Resultados do exame :</legend>

                            <div id="inscricaoStatusAlertaDiv" class="col-sm-12 text-center"></div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inscricaoNota">Nota :</label>
                                    <input type="text"
                                           min="0" name="inscricaoNota" id="inscricaoNota" class="form-control"
                                           placeholder="Nota"
                                           value="<?php echo $this->arrDados['inscricaoNota']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inscricaoResultado">Situação :</label>
                                    <input type="text" name="inscricaoResultado" id="inscricaoResultado"
                                           class="form-control"
                                           value="<?php echo $this->arrDados['inscricaoResultado']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"
                                            id="btn-vestibular-inscricao-cursos-salvar">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div>
            <?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.inscricaoCursosAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                inscricaoResultado: '<?php echo $urlInscricaoResultado;?>'
            },
            data: {
                arrInscricaoResultado:<?=json_encode($this->arrInscricaoResultado);?>
            },
        });
    });
</script>