<?php
$urlListagem = $this->url('documentos/default', array('controller' => 'documento-grupo'));
$paramUrl    = array('controller' => 'documento-grupo', 'action' => 'add');

if ($this->arrDados['docgrupoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['docgrupoId'];
}
$urlPesquisaAcessoGrupo   = $this
    ->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));
$urlPesquisaDocumentoTipo = $this
    ->url('documentos/default', array('controller' => 'documento-tipo', 'action' => 'search-for-json'));
$urlForm                  = $this->url('documentos/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('documento-grupo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="documento-grupo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="docgrupoId" id="docgrupoId"
                               value="<?php echo $this->arrDados['docgrupoId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id">Grupo:</label>
                                <input type="text" name="id" id="id" class="form-control"
                                       placeholder="Grupo" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tdoc">Código Tipo De Documento:</label>
                                <input type="text" name="tdoc" id="tdoc" class="form-control"
                                       placeholder="Código Tipo De Documento" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="docgrupoExigencia">Exigencia De Documento:</label>
                                <select name="docgrupoExigencia" id="docgrupoExigencia" class="form-control">
                                    <?php
                                    foreach ($this->arrDocgrupoExigencia as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['docgrupoExigencia']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="docgrupoFormato">Formato De Documento:</label>
                                <select name="docgrupoFormato" id="docgrupoFormato" class="form-control">
                                    <?php
                                    foreach ($this->arrDocgrupoFormato as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['docgrupoFormato']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="docgrupoDescricao">Descrição De Documento:</label>
                                <input type="text" name="docgrupoDescricao" id="docgrupoDescricao" class="form-control"
                                       placeholder="Descrição De Documento" maxlength="45"
                                       value="<?php echo $this->arrDados['docgrupoDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.documentoGrupoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                acessoGrupo: '<?=$urlPesquisaAcessoGrupo;?>',
                documentoTipo: '<?=$urlPesquisaDocumentoTipo;?>'
            },
            data: {},
            value: {
                id:<?=json_encode($this->arrDados['id']); ?>,
                tdoc:<?=json_encode($this->arrDados['tdoc']); ?>
            }
        });
    });
</script>