<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Turma:</label>

            <p class="form-control-static" id="turmaNome">-</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Disciplina:</label>

            <p class="form-control-static" id="disciplinaNome">-</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>N° de alunos:</label>

            <p class="form-control-static" id="numeroDeAlunos">-</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>N° de faltas lançadas:</label>

            <p class="form-control-static" id="numeroDeFaltasLancadas">-</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>N° de notas lançadas:</label>

            <p class="form-control-static" id="numeroDeNotasLancadas">-</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Média das notas lançadas:</label>

            <p class="form-control-static" id="mediaDeNotasLancadas">-</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>N° de anotações lançadas:</label>

            <p class="form-control-static" id="numeroDeAnotacoesLancadas">-</p>
        </div>
    </div>
</div>