<div class="row">
    <input id="diario" name="diario" type="hidden" value="">
    <input id="etapa" name="etapa" type="hidden" value="">
    <input id="docdisc" name="docdisc" type="hidden" value="">
    <input id="extensaoId" name="extensaoId" type="hidden" value="">

    <div class="col-sm-12">
        <div class="form-group">
            <label for="optionEtapa">Selecione a Etapa</label>
            <input class="form-control" type="text" id="optionEtapa" name="optionEtapa"/>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="dataFinalEtapa">Data Final Etapa:</label>
            <input class="form-control" id="dataFinalEtapa" name="dataFinalEtapa" readonly type="text"/>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="extensaoData">Data de Extensão de Entrega:</label>
            <input class="form-control" id="extensaoData" name="extensaoData" type="text" value=""/>
        </div>
    </div>
    <div class="col-sm-6 hidden">
        <div class="form-group">
            <label for="extensaoJustificativa">Justificativa:</label>
            <textarea class="form-control" id="extensaoJustificativa" name="extensaoJustificativa"
                      readonly="readonly"></textarea>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="extensaoObservacao">Observação:</label>
            <textarea class="form-control" id="extensaoObservacao" name="extensaoObservacao"></textarea>
        </div>
    </div>
    <footer class="col-sm-12 text-center">
        <button class="btn btn-sm btn-primary" id="salvarEtapa" type="button">
            Salvar Alterações
        </button>
    </footer>
</div>