<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label>Média 1&ordf; etapa:</label>

            <p class="form-control-static" id="mediaNotasEtapa01">-</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label>Média 2&ordf; etapa:</label>

            <p class="form-control-static" id="mediaNotasEtapa02">-</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label>Média 3&ordf; etapa:</label>

            <p class="form-control-static" id="mediaNotasEtapa03">-</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label>Média geral:</label>

            <p class="form-control-static" id="mediaNotasGeral">-</p>
        </div>
    </div>
    <div class="col-sm-12">
        <table id="notasDataTable" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th>Aluno</th>
                <th class="col-sm-1">1&ordf;&nbsp;etapa</th>
                <th class="col-sm-1">2&ordf;&nbsp;etapa</th>
                <th class="col-sm-1">3&ordf;&nbsp;etapa</th>
                <th class="col-sm-1">Total</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>