<style>
    #anotacaoAnexos .list-group-item-info {
        border-color: #FFFFFF;
    }

    .modal-anotacao {
        max-height: 500px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <table id="anotacoesDataTable" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th class="col-sm-1">Data</th>
                <th>Titulo</th>
                <th class="col-sm-1">Qtd. Anexos</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="anotacao-informacao" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog modal-anotacao-informacao">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Detalhamento da anotação</h4>
            </div>
            <div class="modal-body modal-anotacao">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Data:</label>

                            <p class="form-control-static" id="anotacaoData">-</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Anexos:</label>

                            <p class="form-control-static" id="anotacaoAnexoQtd">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Título:</label>

                            <p class="form-control-static" id="anotacaoTitulo">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Descrição:</label>

                            <p class="form-control-static" id="anotacaoDescricao">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Anexos:</label>

                            <div class="list-group" id="anotacaoAnexos"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>