<?php
$urlSearch   = $this->url("coordenacao/default", array("controller" => "docentes", "action" => "search"));
$urlPainel   = $this->url("coordenacao/default", array("controller" => "docentes", "action" => "painel"));

// dependencias dataTables
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');

// notificacao smart admin
$this->layoutComponent()->addJS('SmartNotification');

// arquivo js da pagina
$this->layoutComponent()->addJS('docentes-index', false, 'App');

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
?>
<style>
    #docentsTable tbody td {
        cursor: pointer;
    }

    #docentes-info {
        padding-top: 5%
    }

    .modal.modal-wide .modal-dialog {
        width: 75%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }

    #turmas-pill-nav {
        width: 20%
    }
</style>
<div id="ajaxLoad"
     style="display:none; height: 100% ;padding-top: 10%; padding-left: 42%;position: absolute; left: 0px;right: 0px;bottom: 0px;top: 0px;background-image: url('/img/preto-transparente.png');background-repeat: repeat;width: 100%;opacity: 1.0;z-index: 9999999;">
    <img src="/img/ring.gif" class="loader" alt="loader"/>
</div>

<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="docentsTable" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Docente</th>
                            <th>N° disciplinas</th>
                            <th>N° alunos</th>
                            <th>Média notas</th>
                            <th>N° anotações</th>
                            <th>Faltas lançadas</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="docentes-info" class="modal modal-wide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><i class="fa fa-graduation-cap"></i> <span id="docenteName"></span></h4>
            </div>
            <div class="modal-body">
                <div class="widget-body">
                    <div class="tabs-left">
                        <ul class="nav nav-tabs tabs-left" id="turmas-pill-nav">
                        </ul>
                        <div class="tab-content" id="content-docente-disciplinas">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.docentesIndex({
            urlSearch: '<?= $urlSearch?>',
            urlPainel: '<?= $urlPainel?>'
        });

        $(".modal-wide").on("show.bs.modal", function () {
            var height = $(window).height() - 200;
            $(this).find(".modal-body").css("max-height", height);
        });
    });
</script>
