<?php
$urlDocentesListagem          = $this->url('coordenacao/default', array('controller' => 'docentes'));
$urlDocenciaInformacao        = $this->url(
    'coordenacao/default',
    array('controller' => 'docentes', 'action' => 'docencia-informacao')
);
$urlDocenciaExtensao          = $this->url(
    'coordenacao/default',
    array('controller' => 'docentes', 'action' => 'docencia-extensao')
);
$urlDocenciaExtensaoGravar    = $this->url(
    "coordenacao/default",
    array("controller" => "docentes", "action" => "docencia-extensao-gravar")
);
$urlDocenciaAnotacoes         = $this->url(
    "coordenacao/default",
    array("controller" => "docentes", "action" => "docencia-anotacoes")
);
$urlDocenciaNotasAlunosEtapas = $this->url(
    "coordenacao/default",
    array("controller" => "docentes", "action" => "docencia-notas-alunos-etapas")
);
$urlDocenciaAnotacaoAnexos    = $this->url(
    "coordenacao/default",
    array("controller" => "docentes", "action" => "docencia-anotacao-anexos")
);
$urlArquivoDownload           = $this->url(
    'gerenciador-arquivos/default',
    array('controller' => 'arquivo', 'action' => 'download')
);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('docentes-painel', false, 'App');
?>
<style>
    .loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    #anotacoesDataTable tbody td,
    #docenciasDataTable tbody td {
        cursor: pointer;
    }

    .tr-active td {
        background-color: #5D5D5D !important;
        color: #FFFFFF;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <input type="hidden" name="docenteId" value="<?= $this->docente->getDocenteId(); ?>">

                    <h3>
                        <?= $this->docente->getPes()->getPes()->getPesNome(); ?>
                    </h3>

                    <div class="col-sm-4">
                        <table id="docenciasDataTable" class="table table-striped table-bordered table-hover"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Turma</th>
                                <th>Disciplina</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="col-sm-12 text-center" id="acoes-pendentes"></div>
                    </div>
                    <div class="col-sm-8">
                        <div id="docenteAcoesAviso" class="col-sm-12">
                            <div class="alert alert-info">Clique em uma disciplina para continuar.</div>
                        </div>
                        <div id="docenteAcoes" class="col-sm-12 hidden">
                            <div class="col-sm-12">
                                <ul id="docente-tab" class="nav nav-tabs bordered" role="tablist">
                                    <li class="active" role="presentation">
                                        <a href="#tab-geral" aria-controls="tab-geral" data-toggle="tab" role="tab">
                                            Geral
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-extensao" aria-controls="tab-extensao" data-toggle="tab"
                                           role="tab">
                                            Extensão de entrega
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-anotacoes" aria-controls="tab-anotacoes" data-toggle="tab"
                                           role="tab">
                                            Anotações
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-notas" aria-controls="tab-notas" data-toggle="tab" role="tab">
                                            Notas
                                        </a>
                                    </li>
                                </ul>
                                <div id="docente-tab-content" class="tab-content padding-10">
                                    <div class="tab-pane fade active in" id="tab-geral" role="tabpanel">
                                        <?= $this->partial('coordenacao/docentes/aba-informacao-docencia.phtml'); ?>
                                    </div>
                                    <div class="tab-pane fade" id="tab-extensao" role="tabpanel">
                                        <?= $this->partial('coordenacao/docentes/aba-extensao-entrega.phtml'); ?>
                                    </div>
                                    <div class="tab-pane fade" id="tab-anotacoes" role="tabpanel">
                                        <?= $this->partial('coordenacao/docentes/aba-anotacoes.phtml'); ?>
                                    </div>
                                    <div class="tab-pane fade" id="tab-notas" role="tabpanel">
                                        <?= $this->partial('coordenacao/docentes/aba-notas.phtml'); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-sm-12 text-center">
                        <a href="<?php echo $urlDocentesListagem; ?>" class="btn btn-default">
                            Voltar para listagem
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.docentesPainel({
            data: {
                docencias: <?php echo $this->docencias;?>,
            },
            url: {
                docenciaInformacao: '<?=$urlDocenciaInformacao;?>',
                docenciaExtensao: '<?=$urlDocenciaExtensao;?>',
                docenciaExtensaoGravar: '<?= $urlDocenciaExtensaoGravar?>',
                docenciaNotasAlunosEtapas: '<?= $urlDocenciaNotasAlunosEtapas?>',
                docenciaAnotacoes: '<?= $urlDocenciaAnotacoes?>',
                docenciaAnotacaoAnexos: '<?= $urlDocenciaAnotacaoAnexos?>',
                arquivoDownload: '<?= $urlArquivoDownload?>'
            },
            value: {
                cursoConfigMetodo: '<?php echo $this->cursoConfigMetodo;?>',
            }
        });
    });
</script>