<?php
$i = 0;
$urlListagem               = $this->url(
    'matricula/default',
    array('controller' => 'acadperiodo-integradora-avaliacao')
);
$urlAutocompleteDisciplina = $this->url(
    'matricula/default',
    array('controller' => 'acadperiodo-matriz-disciplina', 'action' => 'busca-disciplinas')
);
$urlAutocompleteTurma      = $this->url(
    'matricula/default',
    array('controller' => 'acadperiodo-turma', 'action' => 'busca-turmas-por-turno')
);

$this->layoutComponent()->addJS('select2');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addJS('integradora-add', false, 'App');
?>
<style>
    #cadernos .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    #cadernos .list.componente-list .componente-content {
        height: auto;
        padding-top: 8px;
    }

    #cadernos .list.componente-list .componente-item {
        margin-bottom: 9px;
        position: relative;
    }

    .form-control.select2-container {
        padding: 0px;
        border: 0px;
        height: auto;
    }

    .remover-caderno {
        position: absolute;
        right: 5px;
        top: 5px;
    }
</style>
<div id="widget-grid" class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" method="post" id="avaliacao-form" enctype="multipart/form-data">
                        <input type="hidden" name="integavaliacaoId" id="integavaliacaoId" value="<?=$this->integavaliacaoId ? $this->integavaliacaoId : "" ?>">
                        <input type="hidden" name="periodoLetivo" id="periodoLetivo" value="<?= $this->periodoLetivo; ?>">
                        <input type="hidden" name="cursosCampus" id="cursosCampus" value="<?= $this->cursosCampus; ?>">
                        <input type="hidden" name="quantidaQuestoes" id="quantidaQuestoes"
                               value="<?= $this->quantidaQuestoes; ?>">

                        <?php
                        $integavaliacaoId = $this->form->get("integavaliacaoId");

                        echo $this->formRow($this->form->get("integradora"));
                        echo $this->formRow($integavaliacaoId); ?>
                        <h3>
                            <i class="fa fa-file"></i>
                            <?php echo $integavaliacaoId->getValue() ? "Editar " : "Nova"; ?>
                            Avaliação Integradora
                        </h3>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="periodo">Período / Série:</label>
                                <?= $this->formRow($this->form->get("integavaliacaoPeriodo")); ?>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="turno">Turno:</label>
                                <?= $this->formRow($this->form->get("integavaliacaoTurno")); ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nome-completo">Turmas:</label>
                                <?= $this->formRow($this->form->get("turmas")); ?>
                            </div>
                        </div>
                        <div class="col-sm-12 well" id="cadernos">
                            <div class="col-sm-6">
                                <h4>Cadernos</h4>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="btn btn-primary btn-add" id="add-caderno">
                                    <i class="fa fa-plus"></i>
                                    Adicionar
                                </div>
                            </div>
                            <div class="form-group has-error hidden"><span class="help-block"></span>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="list componente-list">

                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-arrow-left"></i>
                                    Voltar
                                </a>
                                <button type="submit" class="btn btn-primary" id="avaliacao-save">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-gabarito" tabindex="-1" role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog modal-gabarito-dialog">
        <div class="modal-content">
            <form enctype="multipart/form-data" id="gabarito-form">
                <div class="modal-body">

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="gabarito-save">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';

        $.integradoraAdd({
            urlAutocompleteDisciplina: '<?php echo $urlAutocompleteDisciplina;?>',
            urlAutocompleteTurma: '<?php echo $urlAutocompleteTurma;?>',
            <?php


                if($this->turmas){
                    echo 'arrTurmas: '.$this->turmas.',';
                }
                if($this->turmasSelecionadas){
                    echo 'turmasSelecionadas: '.$this->turmasSelecionadas.',';
                }

                if($this->disciplinas){
                    echo 'arrDisciplinas: '.$this->disciplinas.',';
                }

                if($this->cadernosSelecionadas){
                    echo 'cadernosSelecionadas: '.$this->cadernosSelecionadas.',';
                }
                if($this->avaliacoes){
                    echo 'avaliacoesCadastradas: '.$this->avaliacoes.',';
                }

            ?>
        });
    });
</script>
