<?php 

    $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
    $this->spineList( $this->config );
    echo $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
    
    
?>    

<script>
    jQuery(function(){
        jQuery("div[class='btn-group pull-right']").append("<a href='<?php echo $this->basePath();?>/matricula/acadperiodo-integradora-caderno/finalizacao'><button class='btn btn-default' name='finalizacao'> <i class='fa fa-exchange'></i> Finalização</button><a>");
        jQuery("div[class='col-lg-6']").find("div").append("<button id='correcao' class='btn btn-default'> <i class='fa fa-check' data-toggle='modal' data-target='baixaModal'></i> Correção </button>");

        jQuery("#correcao").click(function(){
            jQuery("#correcaoModal").modal();
        });
        $("#__LgRemove").detach();
    });

    function buscaCadernos(element){
        var avalicao = element.value;
        if(avalicao != 'NULL'){
            $.ajax({
                method : 'post',
                assysc : true,
                url    : '/matricula/acadperiodo-integradora-caderno/busca-cadernos-por-avaliacao',
                data : {
                    avaliacao : avalicao
                },
                success : function(data){
                    if(data.cadernos != undefined){
                        var row = "";
                        for(var i = 0; i < data.cadernos.length; i++){
                            row = row + "<option value='"+data.cadernos[i].id+"'>"+data.cadernos[i].nome+"</option>";
                        }
                        $("#cadernos").children().detach();
                        $("#cadernos").append(row);
                    }
                },
                error : function (a){
                    alert('Erro ao se conectar ao servidor favor tentar novamente');
                }
            });
        }

    }

    $("#formCorrecao").submit(function(){
        var confirme = confirm("Confirma o envido do arquivos para correcao?");

        if(confirme == false){
            return;
        }
    });
</script>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="correcaoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title text-center" id="myModalLabel"><strong>Correção Prova integradora</strong></h4>
                <?=($this->corrigida ? '<h5 class="modal-title text-center" style="color: red" id="myModalLabel">Atenção a prova já foi corrigida. Ao corrigir novamente os dados irão ser sobrescrevidos!</h5>' : "")?>
            </div>
            <div class="modal-body">

                <form action="/matricula/acadperiodo-integradora-caderno/correcao" method="POST" enctype="multipart/form-data" id="formCorrecao"  class="smart-form">
                    <input type="hidden" name="controller" value="acadperiodo-integradora-avaliacao" />
                    <div class="row">
                        <section class="col-lg-9 col-sm-9 col-xs-9" style="padding-left:30px;">
                            <label class="label">Arquivo de Correção para o primeiro dia: </label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" name="arquivoPrimeiroDia" onchange="this.parentNode.nextSibling.value = this.value">Procurar</div><input type="text" placeholder="Insira o arquivo de correção" readonly="">
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col-lg-9 col-sm-9 col-xs-9" style="padding-left:30px;">
                            <label class="label">Arquivo de Correção para o segundo dia: </label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" name="arquivoSegundoDia" onchange="this.parentNode.nextSibling.value = this.value">Procurar</div><input type="text" placeholder="Insira o arquivo de correção" readonly="">
                            </label>
                        </section>
                    </div>
                    <div class="footer" style="padding-left:16px;">
                        <button type="submit" class="btn btn-primary" style="padding:7px;" >
                            Enviar Correção
                        </button>
                    </div>

                </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
