<?php
$urlTurma                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json-turmas'));

$urlDisciplina                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json-disciplinas'));

$urlGrade                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json'));

$urlPeriodo                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json-periodo'));

$urlCampus                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json-campus'));

$urlCursos                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json-cursos'));

$urlGradeDisciplina                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'search-for-json-grade-disciplinas'));

$urlSalvar                = $this
    ->url('matricula/default', array('controller' => 'grade-horaria', 'action' => 'salvar-grade'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('grade-horaria', false, 'App');

?>
<style>
    table > td{
        width: auto !important;
    }

    h4{
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }
    label,th{
        font-family: "Times New Roman", Times, serif;
        font-size: 17px;
    }

    input[disabled].intervalo{
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        color: #770000;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div class="row">

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="pesquisaCampus">Pesquisar Campus:</label>
                                <input type="text" name="pesquisaCampus" id="pesquisaCampus"
                                       class="form-control" placeholder="Pesquise por Campus">
                            </div>
                        </div>

                        <div class="col-xs-6" id="curso" hidden>
                            <div class="form-group">
                                <label for="pesquisaCurso">Pesquisar Curso:</label>
                                <input type="text" name="pesquisaCurso" id="pesquisaCurso"
                                       class="form-control" placeholder="Pesquise por Curso">
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-xs-6" id="periodo" hidden>
                            <div class="form-group">
                                <label for="pesquisaPeriodo">Pesquisar Período Letivo:</label>
                                <input type="text" name="pesquisaPeriodo" id="pesquisaPeriodo"
                                       class="form-control" placeholder="Pesquise por período letivo">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group" id="turma" hidden>
                                <label for="pesquisaTurma">Pesquisar Turma:</label>
                                <input type="text" name="pesquisaTurma" id="pesquisaTurma"
                                       class="form-control" placeholder="Pesquise pelo nome da turma">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div id="grade" hidden>
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div id="tabelaGrade">
                        <div id="matutino" class="cabecalho" hidden>
                            <h4></h4>
                            <div class="table-responsive">
                                <table class="table" id="semanaGrade"></table>
                            </div>
                        </div>
                        <div id="vespertino" class="cabecalho" hidden>
                            <h4></h4>
                            <div class="table-responsive">
                                <table class="table" id="semanaGrade"></table>
                            </div>
                        </div>
                        <div id="noturno" class="cabecalho" hidden>
                            <h4></h4>
                            <div class="table-responsive">
                                <table class="table" id="semanaGrade"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#modal" id="limpar">Limpar</button>
                <button type="button" class="btn btn-primary" id="salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3><b>ATENÇÃO: &nbsp;<span class="glyphicon glyphicon-flag txt-color-red" aria-hidden="true"></span></b></h3>
            </div>
            <div class="modal-body">
                <h4>Deseja Mesmo Limpar todos os campos ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-warning" id="limparSim" data-dismiss="modal">Sim</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        window.buscaTurma = '<?php echo $urlTurma ?>';
        window.buscaDisciplina = '<?php echo $urlDisciplina ?>';
        window.buscaGrade = '<?php echo $urlGrade ?>';
        window.buscaCurso = '<?php echo $urlCursos ?>';
        window.buscaPeriodo = '<?php echo $urlPeriodo ?>';
        window.buscaCampus = '<?php echo $urlCampus ?>';
        window.salvar = '<?php echo $urlSalvar ?>';
        window.gradeDisciplina = '<?php echo $urlGradeDisciplina ?>';
    });
</script>