<table class="table table-hover">
    <thead>
    <tr>
        <th>Ordem</th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
    </tr>
    <tr>
        <td>2</td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
    </tr>
    <tr>
        <td>3</td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
    </tr>
    <tr>
        <td>4</td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
        <td><input type="text" class="disciplinas"></td>
    </tr>
    </tbody>
</table>