<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-campo-tipo'));
$paramUrl    = array('controller' => 'sis-campo-tipo', 'action' => 'add');

if ($this->arrDados['tipoCampo']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['tipoCampo'];
}

$urlForm = $this->url('sistema/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-campo-tipo-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="sis-campo-tipo-form" novalidate="novalidate"
                              method="post">
                            <input type="hidden" name="tipoCampoOrigin" id="tipoCampoOrigin">
                            <input type="hidden" name="tipoCampoDescOrigin" id="tipoCampoDescOrigin">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="tipoDescricao">Tipo do campo:</label>
                                    <input type="text" name="tipoCampo" id="tipoCampo" class="form-control"
                                           placeholder="Tipo do campo" maxlength="255"
                                           value="<?php echo $this->arrDados['tipoCampo']; ?>">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="tipoDescricao">Descrição:</label>
                                    <input type="text" name="tipoDescricao" id="tipoDescricao" class="form-control"
                                           placeholder="Descrição" maxlength="255"
                                           value="<?php echo $this->arrDados['tipoDescricao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisCampoTipoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {},
            data: {},
            value: {}
        });
    });
</script>