<fieldset>
    <legend>Dados Básicos</legend>
    <div class="col-sm-2">
        <div class="form-group arq">
            <label for="arqCarteirinha">Layout Carteirinha</label>
            <input name="arqCarteirinha" class="form-control" id="arqCarteirinha" type="file"/>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <label for="cursoNome">Nome:</label>
            <input type="text" name="cursoNome" id="cursoNome" class="form-control"
                   placeholder="Informe o nome do curso" maxlength="255"
                   value="<?php echo $this->arrDados['cursoNome']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoSigla">Sigla:</label>
            <input type="text" name="cursoSigla" id="cursoSigla" class="form-control"
                   placeholder="Informe a sigla do curso" maxlength="45"
                   value="<?php echo $this->arrDados['cursoSigla']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoCargaHorariaPratica">Carga Horária Prática:</label>
            <input type="text" name="cursoCargaHorariaPratica" id="cursoCargaHorariaPratica" class="form-control"
                   placeholder="Informe a carga horária Prática do curso" maxlength="11"
                   value="<?php echo $this->arrDados['cursoCargaHorariaPratica']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoCargaHorariaTeorica">Carga Horária Teórica:</label>
            <input type="text" name="cursoCargaHorariaTeorica" id="cursoCargaHorariaTeorica" class="form-control"
                   placeholder="Informe a carga horária Teórica do curso" maxlength="11"
                   value="<?php echo $this->arrDados['cursoCargaHorariaTeorica']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoCargaHoraria">Carga Horária:</label>
            <input type="text" name="cursoCargaHoraria" id="cursoCargaHoraria" class="form-control"
                   placeholder="Informe a carga horária do curso" maxlength="11" readonly
                   value="<?php echo $this->arrDados['cursoCargaHoraria']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoPrazoIntegralizacao">Integralização min.:</label>
            <input type="text" name="cursoPrazoIntegralizacao" id="cursoPrazoIntegralizacao"
                   class="form-control"
                   placeholder="Informe o prazo mínimo para integralização" maxlength="11"
                   value="<?php echo $this->arrDados['cursoPrazoIntegralizacao']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoPrazoIntegralizacao">Integralização max.:</label>
            <input type="text" name="cursoPrazoIntegralizacaoMaxima" id="cursoPrazoIntegralizacaoMaxima"
                   class="form-control"
                   placeholder="Informe o prazo máximo para integralização" maxlength="11"
                   value="<?php echo $this->arrDados['cursoPrazoIntegralizacaoMaxima']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoUnidadeMedida">Integralização Curso:</label>
            <input type="text" name="cursoUnidadeMedida" id="cursoUnidadeMedida" class="form-control"
                   placeholder="Integralizaçao Curso"
                   value="<?php echo $this->arrDados['cursoUnidadeMedida']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <a class="pull-right "
               title="Os cursos cuja a modalidade sejam EAD ou Semipresencial serão integrados com o Ambiente Virtual de Apredizagem cadastrado na configuração de integração.">
                <i class="fa fa-info-circle"></i>
            </a>
            <label for="mod">Modalidade:</label>
            <select name="mod" id="mod" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrModalidade as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['mod']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="nivel">Nível de Ensino:</label>
            <select name="nivel" id="nivel" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrNivel as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['nivel']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="cursoPossuiPeriodoLetivo">Usa Período Letivo:</label>
            <select name="cursoPossuiPeriodoLetivo" id="cursoPossuiPeriodoLetivo" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrCursoPossuiPeriodoLetivo as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['cursoPossuiPeriodoLetivo']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="area">Área:</label>
            <input type="text" name="area" id="area" class="form-control"
                   placeholder="Área de conhecimento do curso">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoNumeroInep">Número INEP:</label>
            <input type="text" name="cursoNumeroInep" id="cursoNumeroInep" class="form-control"
                   placeholder="Informe o número do curso no INEP" maxlength="12"
                   value="<?php echo $this->arrDados['cursoNumeroInep']; ?>">
        </div>
    </div>

    <div class="hidden">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="campuscursoAutorizacao">Autorização:</label>
                <input type="text" name="campuscursoAutorizacao" id="campuscursoAutorizacao"
                       class="form-control" value="<?php echo $this->arrDados['campuscursoAutorizacao']; ?>">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="campuscursoReconhecimento">Reconhecimento:</label>
                <input type="text" name="campuscursoReconhecimento" id="campuscursoReconhecimento"
                       class="form-control" value="<?php echo $this->arrDados['campuscursoReconhecimento']; ?>">
            </div>
        </div>
    </div>

    <div class="col-sm-1">
        <div class="form-group">
            <label for="cursoNumeroOcde">Núm. OCDE:</label>
            <input type="text" name="cursoNumeroOcde" id="cursoNumeroOcde" class="form-control"
                   placeholder="Informe o número do curso no OCDE" maxlength="45"
                   value="<?php echo $this->arrDados['cursoNumeroOcde']; ?>">
        </div>
    </div>
    <div class="col-sm-1">
        <div class="form-group">
            <label for="cursoNumeroMec">Núm. MEC:</label>
            <input type="text" name="cursoNumeroMec" id="cursoNumeroMec" class="form-control"
                   placeholder="Informe o número do curso no MEC" maxlength="45"
                   value="<?php echo $this->arrDados['cursoNumeroMec']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="cursoTurno">Turnos:</label>
            <select name="cursoTurno[]" id="cursoTurno" class="form-control" multiple="multiple">
                <option></option>
                <?php
                foreach ($this->arrCursoTurno as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = (in_array($id, $this->arrDados['cursoTurno'])) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoVagasMatutino">Vagas Matutino:</label>
            <input type="text" name="cursoVagasMatutino" id="cursoVagasMatutino"
                   class="form-control"
                   placeholder="Informe o número de vagas para turno matutino" maxlength="11"
                   value="<?php echo $this->arrDados['cursoVagasMatutino']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoVagasVespertino">Vagas Vespertino:</label>
            <input type="text" name="cursoVagasVespertino" id="cursoVagasVespertino"
                   class="form-control"
                   placeholder="Informe o número de vagas para turno vespertino" maxlength="11"
                   value="<?php echo $this->arrDados['cursoVagasVespertino']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoVagasNoturno">Vagas Noturno:</label>
            <input type="text" name="cursoVagasNoturno" id="cursoVagasNoturno" class="form-control"
                   placeholder="Informe o número de vagas para turno noturno" maxlength="11"
                   value="<?php echo $this->arrDados['cursoVagasNoturno']; ?>">
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <label for="pes">Coordenador:</label>
            <input type="text" name="pes" id="pes"
                   class="form-control"
                   placeholder="selecione a pessoa responsável pela coordenação">
            <a href="#" class="hidden editarPessoa editarPJ">
                <i class="fa fa-edit"></i> Editar dados da pessoa responsável pela coordenação
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoDataFuncionamento" title="Data de funcionamento inicial">Data Inicial:</label>
            <input type="text" name="cursoDataFuncionamento" id="cursoDataFuncionamento"
                   class="form-control"
                   placeholder="Informe a data de funcionamento do inicial do curso" maxlength=""
                   value="<?php echo $this->arrDados['cursoDataFuncionamento']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="cursoSituacao">Situação do curso:</label>
            <input type="text" name="cursoSituacao" id="cursoSituacao" class="form-control"
                   value="<?php echo $this->arrDados['cursoSituacao']; ?>">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="cursoInformacoes">Informações sobre o curso:</label>
            <textarea name="cursoInformacoes" id="cursoInformacoes" class="form-control"
                      placeholder="Informe as informações sobre o curso"
                      rows="5"><?php echo $this->arrDados['cursoInformacoes']; ?></textarea>
        </div>
    </div>
</fieldset>