<fieldset>
    <legend>Outras Configuração:</legend>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="campus">Câmpus que oferecem o curso:</label>
            <input type="text" name="campus" id="campus" class="form-control"
                   placeholder="Informe os câmpus que oferecem o curso">
        </div>
    </div>
    <legend>Configuração dos Critérios Para Desempenho Acadêmico:</legend>
    <div class="col-sm-12">
        <table id="dataTableConfiguracoes"
               class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th title="Período de atividade">Período de Atividade</th>
                <th title="Frequencia mínima">Freq. mín.</th>
                <th title="Nota Máxima">Nota Máx.</th>
                <th title="Nota mínima para aprovação">Nota mín. aprov.</th>
                <th title="Nota mínima para fazer avaliação final">Nota mín. aval. final</th>
                <th title="Média mínima da avaliação final + nota final para aprovação">
                    Média mín. final
                </th>
                <th title="Ações"></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <textarea class="hidden" name="configuracoes" id="configuracoes"></textarea>
    </div>
</fieldset>