<style>
    #modal-configuracao .modal-dialog {
        width: 70%;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-configuracao" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar Configuração</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="" id="configuracao-curso-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="cursoconfigId" value="">
                        <input type="hidden" name="GUID" value="">

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="perAtivId">Período Letivo Inicial:</label>
                                    <input type="text" name="perAtivId" id="perAtivId" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="perDesatId">Período Letivo Final:</label>
                                    <input type="text" name="perDesatId" id="perDesatId" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="cursoconfigDataInicio">Data de Início da Configuração:</label>
                                    <input type="text" name="cursoconfigDataInicio" id="cursoconfigDataInicio"
                                           class="form-control" placeholder="Data de Início da Configuração"
                                           value="<?php echo $this->arrDados['cursoconfigDataInicio']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="cursoconfigDataFim">Data de Término da Configuração:</label>
                                    <input type="text" name="cursoconfigDataFim" id="cursoconfigDataFim"
                                           class="form-control" placeholder="Data de Término da Configuração"
                                           value="<?php echo $this->arrDados['cursoconfigDataFim']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="matrizCurricularId">Matriz Curricular:</label>
                                    <input type="text" name="matrizCurricularId"
                                           placeholder="Selecione uma Matriz Curricular que pertença a este Curso"
                                           id="matrizCurricularId" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="cursoconfigDeferimentoAutomatico"
                                           title="Deferimento do Curso Automático">
                                        Deferimento Automático:
                                    </label>
                                    <select name="cursoconfigDeferimentoAutomatico"
                                            id="cursoconfigDeferimentoAutomatico" class="form-control">
                                        <option value="Não">Não</option>
                                        <option value="Sim">Sim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="cursoconfigSituacaoDeferimento"
                                           title="Situação do Curso do Aluno Pós-Deferimento:">
                                        Situação Pós-Deferimento:
                                    </label>
                                    <input type="text" name="cursoconfigSituacaoDeferimento"
                                           placeholder="Selecione uma Matriz Situação"
                                           id="cursoconfigSituacaoDeferimento" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Critérios de desempenho acadêmico:</legend>

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigNumeroMaximoPendencias">
                                                Máximo de Pendências:
                                            </label>
                                            <input type="text" name="cursoconfigNumeroMaximoPendencias"
                                                   id="cursoconfigNumeroMaximoPendencias" class="form-control"
                                                   placeholder="Número Máximo de Pendências" maxlength="11"
                                                   value="<?php echo $this->arrDados['cursoconfigNumeroMaximoPendencias']; ?>">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigFreqMin">Frequência Mínima(%):</label>
                                            <input type="text" name="cursoconfigFreqMin" id="cursoconfigFreqMin"
                                                   placeholder="Mínimo de frequência para aprovação"
                                                   class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigNotaMax">Nota Máxima:</label>
                                            <input type="text" name="cursoconfigNotaMax" id="cursoconfigNotaMax"
                                                   placeholder="Nota máxima do período"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigNotaMin">Mínimo para Aprovação:</label>
                                            <input type="text" name="cursoconfigNotaMin" id="cursoconfigNotaMin"
                                                   placeholder="Nota mínima para aprovação"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigMetodo">Método Para Cálculo de Notas:</label>
                                            <input type="text" name="cursoconfigMetodo" id="cursoconfigMetodo"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigNotaFracionada">
                                                Quantidade de casas decimais para notas:
                                            </label>
                                            <input type="text" name="cursoconfigNotaFracionada"
                                                   id="cursoconfigNotaFracionada"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigNotaFinal">Mínimo Para Final:</label>
                                            <input type="text" name="cursoconfigNotaFinal" id="cursoconfigNotaFinal"
                                                   placeholder="Nota mínima para fazer avaliação final"
                                                   class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigMediaFinalMin">Mínimo Para Aprovação no Exame
                                                Final:</label>
                                            <input type="text" name="cursoconfigMediaFinalMin"
                                                   id="cursoconfigMediaFinalMin"
                                                   placeholder="Nota mínima para aprovação no exame final"
                                                   class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="cursoconfigMetodoFinal">Método Para Cálculo de Notas
                                                Finais:</label>
                                            <input type="text" name="cursoconfigMetodoFinal" id="cursoconfigMetodoFinal"
                                                   class="form-control">
                                        </div>
                                    </div>

                                </div>

                            </fieldset>
                        </div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-salvar-configuracao">
                                    <i class="fa fa-save"></i>
                                    Salvar Configuração
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>