<?php
$urlListagem = $this->url('matricula/default', array('controller' => 'acad-curso'));
$paramUrl    = array('controller' => 'acad-curso', 'action' => 'add');

if ($this->arrDados['cursoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['cursoId'];
}

$urlPesquisaPessoaFisica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-fisica', 'action' => 'search-for-json'));

$urlMatrizCurricular= $this
    ->url('organizacao/default', array('controller' => 'acadperiodo-matriz-curricular', 'action' => 'search-for-json'));

$urlForm = $this->url('matricula/default', $paramUrl);

$urlPesquisaAcadgeralAreaConhecimento = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));
$urlBuscaCEP                          = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$urlGerenciadorDeArquivosThumb    = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download'));
$urlAcadCurso = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));


$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acad-curso-add', false, 'App');
?>
<style type="text/css">
    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?php echo $urlForm; ?>" id="acad-curso-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="cursoId" id="cursoId"
                               value="<?php echo $this->arrDados['cursoId']; ?>">

                        <div id="acad-curso-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#abaDadosBasicos">
                                            <a href="#abaDadosBasicos" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Básicos</span>
                                            </a>
                                        </li>
                                        <li data-target="#abaOutrasConfiguracoes">
                                            <a href="#abaOutrasConfiguracoes" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Outras Configurações</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="abaDadosBasicos">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acad-curso/add-dados-basicos.phtml',
                                        array(
                                            'arrDados'              => $this->arrDados,
                                            'arrModalidade'         => $this->arrModalidade,
                                            'arrNivel'              => $this->arrNivel,
                                            'arrCursoTurno'         => $this->arrCursoTurno,
                                            'arrCursoPossuiPeriodoLetivo' => $this->arrCursoPossuiPeriodoLetivo,
                                        )
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="abaOutrasConfiguracoes">
                                    <?php
                                    echo $this->partial(
                                        'matricula/acad-curso/add-outras-configuracoes.phtml',
                                        array('arrDados' => $this->arrDados,)
                                    );
                                    ?>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="button" class="btn btn-primary salvar">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-fisica-editar" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php
                echo $this->partial(
                    'pessoa/pessoa-fisica/add.phtml',
                    [
                        'arrPesNacionalidade'        => $this->arrPesNacionalidade,
                        'arrPesSexo'                 => $this->arrPesSexo,
                        'arrPesEstadoCivil'          => $this->arrPesEstadoCivil,
                        'partial'                    => true,
                        'desativaAutocompletePessoa' => true,
                        'ajaxSubmit'                 => true,
                    ]
                ); ?>
            </div>
        </div>
    </div>
</div>
<?php
echo $this->partial('matricula/acad-curso/add-configuracao-modal.phtml', array());
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadCursoAdd({
            url: {
                gerenciadorDeArquivosThumb: '<?=$urlGerenciadorDeArquivosThumb;?>',
                gerenciadorDeArquivosDownload: '<?=$urlGerenciadorDeArquivosDownload;?>',
                pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>',
                matrizCurricular: '<?=$urlMatrizCurricular;?>',
                area: '<?=$urlPesquisaAcadgeralAreaConhecimento;?>',
                acadCurso: '<?=$urlAcadCurso;?>'
            },
            data: {
                campus: <?=json_encode($this->arrCampus);?>,
                periodoLetivo: <?=json_encode($this->arrPeriodoLetivo);?>,
                cursoSituacao: <?=json_encode($this->arrCursoSituacao);?>,
                cursoUnidadeMedida: <?= json_encode($this->arrCursoIntegralizacao) ?>,
                metodo: <?= json_encode($this->arrMetodoDesempenho) ;?>,
                metodoFinal: <?= json_encode($this->arrMetodoDesempenhoFinal) ;?>,
                notaFracionada: <?= json_encode($this->arrNotaFracionada) ;?>,
                situacaoDeferimento: <?= json_encode($this->arrSituacaoDeferimento) ;?>
            },
            value: {
                cursoSituacao: <?=json_encode($this->arrDados['cursoSituacao']);?>,
                arqCarteirinha: <?=json_encode($this->arrDados['arqCarteirinha']);?>,
                area: <?=json_encode($this->arrDados['area']);?>,
                pes: <?=json_encode($this->arrDados['pes']);?>,
                campus: <?=json_encode($this->arrDados['campus']);?>,
                configuracoes: <?=json_encode($this->arrDados['configuracoes']);?>
            }
        });
    });
</script>