<?php
$paramUrl           = array("controller" => "relatorios", "action" => "listagem-cursos");
$urlRelatorio       = $this->url("matricula/default", $paramUrl);
$paramUrl           = array("controller" => "acad-curso", "action" => "add");
$urlAdd             = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("matricula/default", $paramUrl);
$form               = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'listagem-cursos'));
$urlCampus          = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));

$urlCurso = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));

$urlArea = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('acad-curso-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright">
                        <form name='form' action="<?= $urlRelatorio ?>" method="post" target="_blank"
                              data-validate="yes">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne"
                                               aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-chevron-right"></i>
                                                Filtros avançados
                                            </a>
                                        </h4>
                                    </div>
                                    <div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="row">

                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="campus">Campus:</label>
                                                                <input type="text" name="campus"
                                                                       id="campus"
                                                                       class="form-control"
                                                                       placeholder="Pesquise pelo nome de algum campus">
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="areaPesquisa">Área:</label>
                                                                <input type="text" name="areaPesquisa" id="areaPesquisa"
                                                                       class="form-control"
                                                                       placeholder="Pesquise pela área">
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="modalidadePesquisa">Modalidade:</label>
                                                                <input type="text" name="modalidadePesquisa"
                                                                       id="modalidadePesquisa"
                                                                       class="form-control"
                                                                       placeholder="Pesquise pelo código, matrícula e nome">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="nivelPesquisa">Nível de ensino:</label>
                                                                <input type="text" name="nivelPesquisa"
                                                                       id="nivelPesquisa"
                                                                       class="form-control"
                                                                       placeholder="Pesquise pelo código, matrícula e nome">
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="turnoPesquisa">Turno:</label>
                                                                <input type="text" name="turnoPesquisa"
                                                                       id="turnoPesquisa"
                                                                       class="form-control"
                                                                       placeholder="Pesquise pelo Turno">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 text-center">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cursosFiltroExecutar">
                                                        <i class="fa fa-search"></i>
                                                        Filtrar resultados
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            id="cursosFiltroLimpar">
                                                        <i class="fa fa-clear"></i>
                                                        Limpar filtros
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table id="dataTableAcadCurso" class="table table-striped table-bordered table-hover"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Sigla</th>
                                    <th>Coordenador</th>
                                    <th>Modalidade</th>
                                    <th>Nível de ensino</th>
                                    <th>Medida</th>
                                    <th>Carga horária</th>
                                    <th>INEP</th>
                                    <th>OCDE</th>
                                    <th>MEC</th>
                                    <th>Situação</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <footer class="text-center">
                                <a href="<?php echo $urlAdd; ?>" class="btn btn-primary">
                                    Novo Registro
                                </a>
                                <button type="submit" class="btn btn-warning">
                                    Gerar Relatório
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadCursoIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                area: '<?php echo $urlArea;?>',
                campus: '<?php echo $urlCampus;?>',
                curso: '<?php echo $urlCurso;?>'
            },
            data: {
                modalidade: <?= json_encode($this->arrModalidade) ?>,
                nivel: <?= json_encode($this->arrNivel) ?>,
                cursoIntegralizacao: <?= json_encode($this->arrCursoIntegralizacao) ?>,
                turno: <?= json_encode($this->arrCursoTurno) ?>
            }
        });
    });
</script>