<div class="col-xs-12">
    <table id="tbAtividades" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th width="10%">Data de Realização</th>
            <th width="30%">Evento</th>
            <th width="15%">Categoria do Evento</th>
            <th width="15%">Período Letivo</th>
            <th width="25%">Responsável</th>
            <th width="5%">Horas</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-right" id="totalHoras"></td>
        </tr>
        </tfoot>
    </table>
</div>
<div id="atividadeAddEdit" class="modal fade" role="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edição de Atividades</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="atvHoras"><b>Horas:</b></label>
                            <input type="text" name="alunoAtividadeHorasValidas" id="atvHoras"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default fechar" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger salvarHoras">Salvar</button>
            </div>
        </div>
    </div>
</div>
