<?php

$urlAtividadesAlunoSearch = $this->url(
    'atividades/default',
    array('controller' => 'atividades-complementares', 'action' => 'search-for-json')
);
$urlAtividadesPesSearch = $this->url(
    'aluno/default',
    array('controller' => 'atividades', 'action' => 'search')
);

$urlAtividadesAlunoAdd = $this->url(
    'atividades/default',
    array('controller' => 'atividades-complementares', 'action' => 'add')
);

$urlAtividadesAlunoEdit = $this->url(
    'atividades/default',
    array('controller' => 'atividades-complementares', 'action' => 'edit')
);

$urlAtividadesAlunoRemove = $this->url(
    'atividades/default',
    array('controller' => 'atividades-complementares', 'action' => 'remove')
);

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('atividades-complementares/interface-geral', false, 'App');

?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="alunoPesquisa">Pesquisar aluno:</label>
                                <input type="text" name="alunoPesquisa" id="alunoPesquisa"
                                       class="form-control" placeholder="Pesquise pelo código, matrícula e nome">
                            </div>
                        </div>
                    </div>
                    <div id="alunoAbasAviso" class="col-xs-12">
                        <div class="alert alert-info">Selecione um aluno para continuar.</div>
                    </div>
                    <div>&nbsp;</div>
                    <div id="alunoAbas" class="col-xs-12" hidden>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#alunoInformacao" aria-controls="alunoInformacao" role="tab"
                                   data-toggle="tab">
                                    Infomações do aluno
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#eventos" aria-controls="eventos" role="tab"
                                   data-toggle="tab">
                                    Eventos por Categoria
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#atividades" aria-controls="atividades" role="tab"
                                   data-toggle="tab">
                                    Eventos do Aluno
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane row active" id="alunoInformacao">
                                <div class="col-xs-12">
                                    <?= $this->partial(
                                        'atividades/atividades-complementares/informacoes-aluno.phtml',
                                        array()
                                    ) ?>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane row" id="eventos">
                                <div class="col-xs-12">
                                    <?= $this->partial(
                                        'atividades/atividades-complementares/tipos-eventos-aluno.phtml',
                                        array()
                                    ) ?>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane row" id="atividades">
                                <div class="col-xs-12">
                                    <?= $this->partial(
                                        'atividades/atividades-complementares/atividades.phtml',
                                        array()
                                    ) ?>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.alunoAtividadesComplementares({
            url: {
                atividadesPesSearch: '<?=$urlAtividadesPesSearch ?>',
                /**/
                atividadesAlunoSearch: '<?=$urlAtividadesAlunoSearch?>',
                atividadesAlunoAdd: '<?=$urlAtividadesAlunoAdd?>',
                atividadesAlunoEdit: '<?=$urlAtividadesAlunoEdit?>',
                atividadesAlunoRemove: '<?=$urlAtividadesAlunoRemove?>',
            },
            data: {}
        });
    });
</script>