<div class="col-xs-12">
    <table id="tbEvento" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th width="15%">Total de Horas</th>
            <th width="85%">Categoria do Evento</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-right" id="totalHorasEvento"></td>
        </tr>
        </tfoot>
    </table>
</div>