<div style="font-family:Arial, Helvetica, sans-serif; width: 100%; height: 100%; margin: 0;">
    <div
        style="background-color: rgba(255, 255, 255, 0.15); padding: 125px; width: 755px; height: 156px; margin:auto; color: #b1acb3;">
        <h1 style="font-size: 48px; font-weight: 700; text-align: center; margin: 0;">Acesso Negado!</h1>

        <p style="font-size: 17px;">O controle de acessos impediu a sua requisição. Caso você não concorde com isso,
            favor contate a administração.</p><br>
    </div>
</div>