<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-nucleo'));
$paramUrl    = array('controller' => 'estagiogeral-nucleo', 'action' => 'add');

if ($this->arrDados['nucleoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['nucleoId'];
}

$urlForm = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-nucleo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-nucleo-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="nucleoId" id="nucleoId"
                               value="<?php echo $this->arrDados['nucleoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoDescricao">Descrição:</label>
                                <input type="text" name="nucleoDescricao" id="nucleoDescricao" class="form-control"
                                       placeholder="Descrição" maxlength="45"
                                       value="<?php echo $this->arrDados['nucleoDescricao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoCapacidadeTotal">nucleo_capacidade_total:</label>
                                <input type="text" name="nucleoCapacidadeTotal" id="nucleoCapacidadeTotal"
                                       class="form-control"
                                       placeholder="nucleo_capacidade_total" maxlength="45"
                                       value="<?php echo $this->arrDados['nucleoCapacidadeTotal']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoTipo">nucleo_tipo:</label>
                                <select name="nucleoTipo" id="nucleoTipo" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrNucleoTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['nucleoTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoEfetivacaoInicio">nucleo_efetivacao_inicio:</label>
                                <input type="text" name="nucleoEfetivacaoInicio" id="nucleoEfetivacaoInicio"
                                       class="form-control"
                                       placeholder="nucleo_efetivacao_inicio" maxlength=""
                                       value="<?php echo $this->arrDados['nucleoEfetivacaoInicio']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoEfetivacaoFim">nucleo_efetivacao_fim:</label>
                                <input type="text" name="nucleoEfetivacaoFim" id="nucleoEfetivacaoFim"
                                       class="form-control"
                                       placeholder="nucleo_efetivacao_fim" maxlength=""
                                       value="<?php echo $this->arrDados['nucleoEfetivacaoFim']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoDiasFuncionamento">nucleo_dias_funcionamento:</label>
                                <select name="nucleoDiasFuncionamento" id="nucleoDiasFuncionamento" class="form-control"
                                        multiple>
                                    <option></option>
                                    <?php
                                    foreach ($this->arrNucleoDiasFuncionamento as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['nucleoDiasFuncionamento']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoFuncionamentoAbertura">nucleo_funcionamento_abertura:</label>
                                <input type="text" name="nucleoFuncionamentoAbertura" id="nucleoFuncionamentoAbertura"
                                       class="form-control"
                                       placeholder="nucleo_funcionamento_abertura" maxlength=""
                                       value="<?php echo $this->arrDados['nucleoFuncionamentoAbertura']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoFuncionamentoFechamento">nucleo_funcionamento_fechamento:</label>
                                <input type="text" name="nucleoFuncionamentoFechamento"
                                       id="nucleoFuncionamentoFechamento" class="form-control"
                                       placeholder="nucleo_funcionamento_fechamento" maxlength=""
                                       value="<?php echo $this->arrDados['nucleoFuncionamentoFechamento']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoVagas">nucleo_vagas:</label>
                                <input type="text" name="nucleoVagas" id="nucleoVagas" class="form-control"
                                       placeholder="nucleo_vagas" maxlength="11"
                                       value="<?php echo $this->arrDados['nucleoVagas']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralNucleoAdd({
            ,

    });
    })
    ;
</script>