<?php
$urlCampusCurso = $this->url("matricula/default", array("controller" => "campus-curso", "action" => "search-for-json"));
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Edição de Vestibular', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag($this->form);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

?>
<style>
    .SmallBox {
        margin-right: 31px;
    }

    .has-error .select2-selection {
        border-color: rgb(185, 25, 22) !important;
    }

</style>
<fieldset id="parte1">
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoId"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoDescricao"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoAno"));
        echo $this->spineForm()->formInput($this->form->get("edicaoSemestre"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoInicioInscricao"));
        ?>

        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoFimInscricao"));
        ?>
    </div>
    <div class="row">
        <div class="form-group contConf">
            <?= $this->spineForm()->formInput($this->form->get("confcont")); ?>
        </div>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput($this->form->get("edicaoNumCursosOpcionais")); ?>
    </div>
    <div class="row">
        <div class="row">
            <?php
            if ($this->edicaoAgendado == 'Não'):
                ?>
                <div class="col-lg-3" style="margin-left: 45px; margin-bottom: 10px;">
                    <label class="label"></label>
                    <label class='toggle'>
                        <input type='checkbox' name='edicaoAgendado'>
                        <i data-swchon-text='Sim' data-swchoff-text='Não'></i>Agendado
                    </label>
                </div>
                <?php
            endif;
            ?>
            <?php
            if ($this->edicaoAgendado == 'Sim'):
                ?>
                <div class="col-lg-3" style="margin-left: 45px; margin-bottom: 10px;">
                    <label class="label"></label>
                    <label class='toggle'>
                        <input type='checkbox' name='edicaoAgendado' checked="checked">
                        <i data-swchon-text='Sim' data-swchoff-text='Não'></i>Agendado
                    </label>
                </div>
                <?php
            endif;
            ?>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <?php $checked = ($this->edicaoFiliacao == 'Sim') ? 'checked' : ''; ?>
            <div class="col-lg-3" style="margin-left: 45px; margin-bottom: 10px;">
                <label class="label"></label>
                <label class='toggle'>
                    <input type='checkbox' name='edicaoFiliacao' <?= $checked ?>>
                    <i data-swchon-text='Sim' data-swchoff-text='Não'></i>Habilitar Campos de Filiação
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <?php $checked = ($this->edicaoIsencao == 'Sim') ? 'checked' : ''; ?>
            <div class="col-lg-3" style="margin-left: 45px; margin-bottom: 10px;">
                <label class="label"></label>
                <label class='toggle'>
                    <input type='checkbox' name='edicaoIsencao' <?= $checked ?>>
                    <i data-swchon-text='Sim' data-swchoff-text='Não'></i>Habilitar Isenção de Vestibular
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <?php
        echo "<input type='hidden' name='datasId[]' value='{$this->arrayDatas[0]['id']}'/>";
        echo $this->spineForm()->formInput(
            $this->form->get("edicaoDataRealizacao[]")->setValue($this->arrayDatas[0]['data'])
        );
        ?>
        <section class='col-lg-1 col-sm-1 col-xs-1' style='padding-left:30px;'>
            <label class='label'>Horario de Realização:</label>
            <label class='input'>
                <input type='text' name='edicaoHorarioRealizacao[]' placeholder='00:00' class='time'
                       value='<?= $this->arrayDatas[0]['horario']; ?>'>
            </label>
            <div class='note'></div>
        </section>
        <fieldset class="col col-2">
            <label class="input">
                <a class="btn btn-primary" style="padding: 5px" id="novadata">Nova Data</a>
            </label>
        </fieldset>
    </div>
    <div name="datas">
        <?php
        foreach ($this->arrayDatas as $key => $data):
            if ($key != 0):
                ?>
                <div class='row'>
                    <?= "<input type='hidden' name='datasId[]' value='{$data['id']}'/>"; ?>
                    <section class='col-lg-2 col-sm-2 col-xs-2' style='padding-left:30px;'>
                        <label class='label'>Data de Realização:</label>
                        <label class='input'>
                            <input type='text' name='edicaoDataRealizacao[]' required='required'
                                   placeholder='00/00/0000' data-masked='Date' value='<?= $data['data']; ?>'>
                        </label>
                        <div class='note'></div>
                    </section>
                    <section class='col-lg-1 col-sm-1 col-xs-1' style='padding-left:30px;'>
                        <label class='label'>Horario de Realização:</label>
                        <label class='input'>
                            <input type='text' name='edicaoHorarioRealizacao[]' placeholder='00:00' class='time'
                                   value='<?= $data['horario']; ?>'>
                        </label>
                        <div class='note'></div>
                    </section>
                    <fieldset class='col col-2'>
                        <label class='input'>
                            <a class='btn btn-primary' style='padding: 5px' data-click="removeData"
                               data-id='<?= $data['id']; ?>'>Excluir</a>
                        </label>
                    </fieldset>
                </div>
                <?php
            endif;
        endforeach;
        ?>
    </div>

    <div class="container-fluid" name="data0">

    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoDataDivulgacao"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("selcursosValorInscricao"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoEdital"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("edicaoObservacao"));
        ?>
    </div>
    <div class="row">
        <?php
        echo $this->spineForm()->formInput($this->form->get("tiposel"));
        ?>
        <div class="form-group local">
            <section class="col-lg-5 col-sm-6 col-md-12 col-xs-12" style="padding-left:30px;">
                <label class="label">Locais de Aplicação das provas:</label>
                <input name="predio" id="predio" class="form-control" data-validations="Required">
            </section>
        </div>
    </div>
    <footer>
        <label class="input">
            <a class="btn btn-primary" style="" id="proximo">Próximo</a>
        </label>
    </footer>
</fieldset>
<div id="parte2" class="hidden">
    <div class="row">
        <div class="row">
            <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                <label class="label">
                    Câmpus
                </label>
                <label class="select">
                    <select name="camp">
                        <?php
                        foreach ($this->arrayCampus as $campus) {
                            echo "<option value='" . $campus['id'] . "'> " . $campus['text'] . "</option>";
                        }
                        ?>
                    </select>
                </label>
                <div class="note"></div>
            </section>
        </div>
    </div>
    <?php
    if (count($this->arrayCampusCurso) > 1):
        ?>
        <div class="row">
            <fieldset class="col col-2" style="padding-left: 30px">
                <label class="input">
                    <a class="btn btn-primary" id="adicionarcursos" style="padding: 5px" data-toggle="modal"
                       data-target="#modal">Adicionar Cursos</a>
                </label>
            </fieldset>
        </div>
        <?php
    endif;
    ?>
    <div class="container-fluid" id="tables">
        <?php
        foreach ($this->arrayCursos as $campusCurso):
            ?>
            <div class='row' style='margin-top: 5px'>
                <div class='col col-lg-6'>
                    <table class='table table-bordered'>
                        <thead>
                        <tr>
                            <th colspan='10'>Vagas para o curso: <?= $campusCurso['curso_nome']; ?> no
                                câmpus: <?= $campusCurso['camp_nome']; ?> <a class='btn btn-danger pull-right'
                                                                             name='removeTable'
                                                                             data-id='<?= $campusCurso['selcursos_id']; ?>'><i
                                        class='fa fa-minus-circle'></i></a>
                            </th>
                        </tr>
                        <tr>
                            <th>Turno:</th>
                            <th colspan='4'>Vagas:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Matutino</td>
                            <td>
                                <input type='hidden' name='cursoId[]' value='<?= $campusCurso['curso_id']; ?>'/>
                                <input type='hidden' name='campusId[]' value='<?= $campusCurso['campus_id']; ?>'/>
                                <input type='hidden' name='campusCurso[]'
                                       value='<?= $campusCurso['cursocampus_id']; ?>'/>
                                <input type='hidden' name='selCurso[]' value='<?= $campusCurso['selcursos_id']; ?>'/>
                                <input type='text' name='vagasMatutino[]'
                                       value='<?= $campusCurso['selcursos_vagas_matutino']; ?>'/>
                            </td>
                        </tr>
                        <tr>
                            <td>Vespertino</td>
                            <td>
                                <input type='text' name='vagasVespertino[]'
                                       value='<?= $campusCurso['selcursos_vagas_vespertino']; ?>'/>
                            </td>
                        </tr>
                        <tr>
                            <td>Noturno</td>
                            <td>
                                <input type='text' name='vagasNoturno[]'
                                       value='<?= $campusCurso['selcursos_vagas_noturno']; ?>'/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <?php
        endforeach;
        ?>
    </div>
    <footer>
        <div class="row">
            <?php
            echo $this->formRow($this->form->get('Cadastrar'));
            ?>
            <a class="btn btn-primary" style="" id="anterior">Anterior</a>
        </div>
    </footer>
</div>
<?= $this->form()->closeTag(); ?>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Adicionar Cursos</h4>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="addtable">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onlyNumber(fields) {
        $(fields).unbind('keyup').bind('keyup', function (e) { //vou buscar o evento keyup - quando o usuário solta a tecla

            var thisVal = $(this).val(); // atribuo o valor do campo a variável local
            var tempVal = "";

            for (var i = 0; i < thisVal.length; i++) {
                if (RegExp(/^[0-9]$/).test(thisVal.charAt(i))) { // aqui estou usando uma expressão regular para limitar a entrada de apenas numeros ou seja digitos entre 0 e 9
                    tempVal += thisVal.charAt(i); //caso atenda a condição de ser um digito numérico, atribuo a uma variável temporária

                    if (e.keyCode == 8) {
                        tempVal = thisVal.substr(0, i); //o keyCode == 8 é para eu poder usar o backspace para apagar algum numero indesejado.
                    }
                }
            }
            $(this).val(tempVal); // ao terminar, atribuo o valor validado ao valor do campo passado para testar
        });
    }

    jQuery(function () {
        $("input[name='Cadastrar']").removeClass("hidden");

        $("select[name='confcont']").val(<?= json_encode($this->confcont);?>);
        $('.time').mask('00:00');
        $("a[name='removeTable']").click(function () {
            var campusCurso = $(this).closest('thead').siblings().find("[name='campusCurso[]']").val();
            $(this).parent().parent().parent().parent().parent().parent().detach();
            $("#parte2").append(
                "<input name='excluirCursos[]' type='hidden' value='" + campusCurso + "'/>"
            );
        });
        onlyNumber($("input[name='vagasMatutino[]']"));
        onlyNumber($("input[name='vagasVespertino[]']"));
        onlyNumber($("input[name='vagasNoturno[]']"));

        var val = <?=json_encode($this->local);?> ? <?=json_encode($this->local);?> : '';
        $("#predio").select2({multiple: true, data:<?=json_encode($this->arrPredio);?>});
        $("#predio").select2('data', val);

        $("#addtable").click(function (e) {
            campusId = $("input[name='camp']").attr("data-value");
            //TODO: ANALISAR
            //campusId = $("[name='camp']").val();
            campusCurso = $("select[name='curso']").val();
            if (campusCurso != "nenhum") {
                cursoNome = $("option[value='" + campusCurso + "']").attr("name");
                campusNome = $("input[name='camp']").val();
                vagasMatutino = $("input[name='vagasMatutino']").val();
                vagasVespertino = $("input[name='vagasVespertino']").val();
                vagasNoturno = $("input[name='vagasNoturno']").val();
                errorMsg = '';

                if (vagasMatutino == '0') {
                    errorMsg += "Número de vagas para turno Matutino deve ser maior que 0!<br>";
                }

                if (vagasVespertino == '0') {
                    errorMsg += "Número de vagas para turno Vespertino deve ser maior que 0!<br>";
                }

                if (vagasNoturno == '0') {
                    errorMsg += "Número de vagas para turno Noturno deve ser maior que 0!";
                }

                if (errorMsg.length > 0) {
//                    alert(errorMsg);

                    $.smallBox({
                        title: 'Atenção!',
                        content: "<i>" + errorMsg + "</i>",
                        color: '#c79121',
                        icon: 'fa-exclamation-circle'
                    });

                    e.stopPropagation();
                    e.preventDefault();
                    return false;
                }

                table = "<div class='row' style='margin-top: 5px'>"
                    + "<div class='col col-lg-6'>"
                    + "<table class='table table-bordered'>"
                    + "<thead>"
                    + "<tr>"
                    + "<th colspan='10'>Vagas para o curso: " + cursoNome + " no câmpus: " + campusNome + "  <a class='btn btn-danger pull-right' name='removeTable' data-id='" + campusCurso + "'><i class='fa fa-minus-circle'></i></a>"
                    + "</tr>"
                    + "<tr>"
                    + "<th>Turno:</th>"
                    + "<th colspan='4'>Vagas:</th>"
                    + "</tr>"
                    + "</thead>"
                    + "<tbody>"
                    + "<tr>"
                    + "<td>Matutino</td>"
                    + "<td>"
                    + "<input type='hidden' name='campusId[]' value='" + campusId + "'/>"
                    + "<input type='hidden' name='campusCurso[]' value='" + campusCurso + "'/>"
                    + "<input type='text' name='vagasMatutino[]' value='" + vagasMatutino + "'/>"
                    + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td>Vespertino</td>"
                    + "<td>"
                    + "<input type='text' name='vagasVespertino[]' value='" + vagasVespertino + "'/>"
                    + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td>Noturno</td>"
                    + "<td>"
                    + "<input type='text' name='vagasNoturno[]' value='" + vagasNoturno + "'/>"
                    + "</td>"
                    + "</tr>"
                    + "</tbody>"
                    + "</table>"
                    + "</div>"
                    + "</div>";

                $("#tables").append(table);


                $("#modalBody").append(
                    "<div class='alert alert-success alert-dismissible' role='alert'>"
                    + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
                    + "Curso Adicionado com Sucesso."
                    + "</div>");
                onlyNumber($("input[name='vagasMatutinoAdicionar[]']"));
                onlyNumber($("input[name='vagasVespertinoAdicionar[]']"));
                onlyNumber($("input[name='vagasNoturnoAdicionar[]']"));
                /*
                 * Limpando o formulário do modal
                 * Retirando a opção do curso já selecionado.
                 * */
                $("input[name='vagasMatutino']").val("");
                $("input[name='vagasVespertino']").val("");
                $("input[name='vagasNoturno']").val("");
                $("option[value='" + campusCurso + "']").detach();
            } else {
                $.smallBox({
                    title: 'Atenção!',
                    content: "<i>" + 'Selecione pelo menos um curso!' + "</i>",
                    color: '#c79121',
                    icon: 'fa-exclamation-circle'
                });
            }
            $("a[name='removeTable']").click(function () {
                $(this).parent().parent().parent().parent().parent().parent().detach();
            });

        });
    });

    /*
     * Função para funcionar o botão "Nova Data"
     * */
    cont = 1;
    jQuery(function () {
        $("a[data-click='removeData']").on('click', function () {
            id = $(this).attr('data-id');
            $(this).parent().parent().parent().detach();
            $("div[name='datas']").append(
                "<input name='datasExcluir[]' type='hidden' value='" + id + "'/>"
            );
        });
        $("#novadata").addClass('hidden');
        $("input[name='edicaoAgendado']").change(function () {
            if (!$("input[name='edicaoAgendado']:checked").val()) {
                $("#novadata").addClass('hidden');
            }
            else {
                $("#novadata").removeClass('hidden');
            }
        });
        agendado = '<?= $this->edicaoAgendado; ?>';
        if (agendado == 'Sim') {
            $("#novadata").removeClass('hidden');
        }

        $("#novadata").click(function () {
            html = "<div class='row' name='data" + cont + "'>"
                + "<section class='col-lg-2 col-sm-2 col-xs-2' style='padding-left:30px;'>"
                + "<label class='label'>Data de Realização:</label>"
                + "<label class='input'>"
                + "<input type='text' name='edicaoDataRealizacaoAdicionar[]' required='required' placeholder='00/00/0000' data-masked='Date' value=''>"
                + "</label>"
                + "<div class='note'></div>"
                + "</section>"
                + "<section class='col-lg-1 col-sm-1 col-xs-1' style='padding-left:30px;'>"
                + "<label class='label'>Horario de Realização:</label>"
                + "<label class='input'>"
                + "<input type='text' name='edicaoHorarioRealizacaoAdicionar[]' required='required' placeholder='00:00' class='time' value=''>"
                + "</label>"
                + "<div class='note'></div>"
                + "</section>"
                + "<fieldset class='col col-2'>"
                + "<label class='input'>"
                + "<a class='btn btn-primary' style='padding: 5px' id='novadata' onclick='javascript:removeNovaData(" + cont + ")'>Excluir</a>"
                + "</label>"
                + "</fieldset>"
                + "</div>";
            cont++;
            $("div[name='data0']").append(html);
            $("input[data-masked='Date']").mask("99/99/9999");
            /**
             * Validando Data de Realização
             * */
            $("input[name='edicaoDataRealizacao[]']").blur(function () {
                if ($spine().funcValidations.Data($(this).val())) {
                    $(this).parent().removeClass("state-error");
                }
                else {
                    $(this).parent().addClass("state-error");
                }
            });
            $("a[data-click='removeData']").on('click', function () {
//                id = $(this).attr('data-id');
                $(this).parent().parent().parent().detach();

            });
        });
    });

    $("input[name='Cadastrar']").on("click", function () {
        var vs = VersaShared();
        vs.addOverlay($("#widget-grid"),"Aguarde, salvando dados!");
    });

    /**
     * Validação dos formulários.
     * */
    jQuery(function () {
        $("input[name='edicaoAno']").mask("9999");

        /**
         * Validando o Ano.
         * */
        $("input[name='edicaoAno']").blur(function () {
            if ($spine().funcValidations.Integer($(this).val())) {
                $(this).parent().removeClass("state-error");
            }
            else {
                $(this).parent().addClass("state-error");
            }
        });
        /**
         * Validando Data de Início das Inscrições
         * */
        $("input[name='edicaoInicioInscricao']").blur(function () {
            if ($spine().funcValidations.Data($(this).val())) {
                $(this).parent().removeClass("state-error");
            }
            else {
                $(this).parent().addClass("state-error");
            }
        });
        /**
         * Validando Data de Término das Inscrições
         * */
        $("input[name='edicaoFimInscricao']").blur(function () {
            if ($spine().funcValidations.Data($(this).val())) {
                $(this).parent().removeClass("state-error");
            }
            else {
                $(this).parent().addClass("state-error");
            }
        });
        /**
         * Validando Data de Realização
         * */
        $("input[name='edicaoDataRealizacao[]']").blur(function () {
            if ($spine().funcValidations.Data($(this).val())) {
                $(this).parent().removeClass("state-error");
            }
            else {
                $(this).parent().addClass("state-error");
            }
        });
        /**
         * Validando Data de divulgação
         * */
        $("input[name='edicaoDataDivulgacao']").blur(function () {
            if ($spine().funcValidations.Data($(this).val())) {
                $(this).parent().removeClass("state-error");
            }
            else {
                $(this).parent().addClass("state-error");
            }
        });

        $("#proximo").click(function () {
            $(".local").removeClass("has-error");
            $(".contConf").removeClass("state-error");

            if (!$("#predio").val()) {
                $(".local").addClass("has-error");
                return false;
            }

            if (!$("select[name='confcont']").val() || $("select[name='confcont']").val() == "NULL") {
                $(".contConf").addClass("state-error");
                rolar_para("select[name='confcont']");
                return false;
            }

            if ($spine().funcValidations.Integer($("input[name='edicaoAno']").val())) {
                $("input[name='edicaoAno']").parent().removeClass("state-error");
                if ($spine().funcValidations.Data($("input[name='edicaoInicioInscricao']").val())) {
                    $("input[name='edicaoInicioInscricao']").parent().removeClass("state-error");
                    if ($spine().funcValidations.Data($("input[name='edicaoFimInscricao']").val())) {
                        $("input[name='edicaoFimInscricao']").parent().removeClass("state-error");
                        cont = 0;
                        $("input[name='edicaoDataRealizacao[]']").each(function () {
                            if (!$spine().funcValidations.Data($(this).val())) {
                                $(this).parent().addClass("state-error");
                            }
                            else {
                                cont++;
                                $(this).parent().removeClass("state-error")
                            }
                            if ($("input[name='edicaoDataRealizacao[]']").serializeArray().length === cont) {
                                if ($spine().funcValidations.Data($("input[name='edicaoDataDivulgacao']").val())) {
                                    $("input[name='edicaoDataDivulgacao']").parent().removeClass("state-error");
                                    $("#parte1").attr('class', 'hidden');
                                    $("#parte2").removeClass("hidden");
                                }
                                else {
                                    $("input[name='edicaoDataDivulgacao']").parent().addClass("state-error");
                                }
                            }
                        });
                    }
                    else {
                        $("input[name='edicaoFimInscricao']").parent().addClass("state-error");
                        rolar_para("input[name='edicaoAno']");
                    }
                }
                else {
                    $("input[name='edicaoInicioInscricao']").parent().addClass("state-error");
                    rolar_para("input[name='edicaoAno']");
                }
            } else {
                $("input[name='edicaoAno']").parent().addClass("state-error");
                rolar_para("input[name='edicaoAno']");
            }
        });

        $("#anterior").click(function () {
            $("#parte2").attr('class', 'hidden');
            $("#parte1").removeClass("hidden");
        });

        /*
         * Funçao para buscar o select do curso para o câmpus.
         * */
        $("#adicionarcursos").click(function () {
            idCampus = $("[name='camp']").val();
            var arrCampusCurso = jQuery('[name="campusCurso[]"]');
            var naoIncluirCampusCurso = [];

            jQuery.map(arrCampusCurso, function (element, i) {
                naoIncluirCampusCurso.push(jQuery(element).val());
            });

            $("#modalBody").empty();
            if (verificaCampusVazio(idCampus)) {
                jQuery.ajax({
                    url: "<?=$this->basePath()?>/vestibular/selecao-edicao/option",
                    type: 'POST',
                    data: {'naoIncluirCampusCurso': naoIncluirCampusCurso, campId: idCampus},
                    success: function (html) {
                        $("#modalBody").append(html);
                        $("#addtable").removeClass("hidden");
                        //alert('Concluído');
                        onlyNumber($("input[name='vagasMatutino']"));
                        onlyNumber($("input[name='vagasVespertino']"));
                        onlyNumber($("input[name='vagasNoturno']"));
                    },
                    erro: function (data) {
                        alert("Erro ao buscar: " + data);
                    },
                });
            }
            else {
                $("#modalBody").append("<div class='alert alert-danger' role='alert'>Você deve escolher um Câmpus.</div>");
                $("#addtable").addClass("hidden");
            }
        });
    });
    function removeNovaData(num) {
        $("div[name='data" + num + "']").detach();
    }


    /**
     * Função para verificar se o usuário já selecionou um câmpus.
     * Retorna verdadeiro se o campo estiver vazio e falso se ele estiver preenchido.
     * */
    function verificaCampusVazio(valor) {
        //valor = $("input[name='camp']").attr("data-value");
        if (valor != null)
            return true;
        else
            return false;
    }

    function rolar_para(elemento) {
        $('html, body').animate({
            scrollTop: $(elemento).offset().top
        }, 500);
    }


    function formatReal(int) {
        var tmp = int + '';
        tmp = tmp.replace(/([0-9]{1})$/g, ",$1");
        if (tmp.length > 6)
            tmp = tmp.replace(/([0-9]{3}),([0-9]{2}$)/g, ".$1,$2");

        return tmp;
    }
    function getMoney(str) {
        return parseInt(str.replace(/[\D]+/g, ''));
    }
    jQuery(function () {
        $("input[name='selcursosValorInscricao']").keypress(function () {
            this.value = formatReal(getMoney(this.value));
        });
        $("input[name='edicaoIsencao']").change(function () {
            $("input[name='selcursosValorInscricao']").closest('.row')[this.checked ? 'hide' : 'show']();
        }).trigger('change');
    });
</script>
