<?php

$urlVestibular = $this
    ->url('vestibular/default', array('controller' => 'selecao-edicao', 'action' => 'search'));

$urlEdit = $this
    ->url('vestibular/default', array('controller' => 'selecao-edicao-fechamento', 'action' => 'edit'));

$urlAdd = $this
    ->url('vestibular/default', array('controller' => 'selecao-edicao', 'action' => 'add'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('selecao-edicao-index', false, 'App');

?>

<style>
    td a:link {
        color: black;
    }

    td a:visited {
        color: black;
    }
</style>

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div role="tabpanel" class="tab-pane row" id="vestibular-listagem">
                        <fieldset>
                            <div class="col-sm-12">
                                <table id="table-vestibular"
                                       class="table table-striped table-bordered table-hover"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Vestibular</th>
                                        <th>Início das inscrições</th>
                                        <th>Término das Inscrições</th>
                                        <th>Divulgação</th>
                                        <th>Inscrições Aceitas</th>
                                        <th>Inscrições Solicitadas</th>
                                        <th>Total</th>
                                        <th>Último Encerramento</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="text-center">
                                    <a href="<?= $urlAdd ?>" class="btn btn-primary">
                                        Novo Registro
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modalEncerramento" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Encerramento do Vestibular</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" id="formDatasConclusao">

                        <div class="form-group">
                            <div class="col-sm-6 form-group">
                                <label for="qtd">Informe a quantidade de Classificados:</label> <input type="text"
                                                                                                       class="form-control"
                                                                                                       id="qtd"
                                                                                                       name="qtd">
                            </div>
                        </div>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary" id="salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        window.vestibular = '<?php echo $urlVestibular;?>';
        window.edit = '<?php echo $urlEdit;?>';
    });
</script>