<form class="smart-form">
    <div class="row">
        <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
            <label>
                Curso:
            </label>
            <label class="select">
                <i></i>
                <select name="curso" required="required">
                    <option value="nenhum">Nenhum</option>
                    <?php
                    foreach ($this->cursos as $curso):
                        ?>
                        <option value="<?= $curso['cursocampus_id'] ?>" name="<?= $curso['curso_nome']; ?>"><?= $curso['curso_nome']; ?></option>
                    <?php
                    endforeach;
                    ?>
                </select>
            </label>
            <div class="note"></div>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
            <label class="label">
                Vagas Matutino:
            </label>
            <label class="input">
                <input type="text" name="vagasMatutino" value="0"/>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
            <label class="label">
                Vagas Vespertino:
            </label>
            <label class="input">
                <input type="text" name="vagasVespertino" value="0"/>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
            <label class="label">
                Vagas Noturno:
            </label>
            <label class="input">
                <input type="text" name="vagasNoturno" value="0"/>
            </label>
        </section>
    </div>
</form>
