<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagioperiodo-aluno-nucleo'));
$paramUrl    = array('controller' => 'estagioperiodo-aluno-nucleo', 'action' => 'add');

if ($this->arrDados['alunonucleoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['alunonucleoId'];
}

$urlPesquisaEstagioPeriodoLetivo = $this
    ->url('atividades/default', array('controller' => 'atividade-periodo-letivo', 'action' => 'search-for-json'));

$urlPesquisaEstagiogeralNucleo = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-nucleo', 'action' => 'search-for-json'));

$urlPesquisaAcadperiodoAluno = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-aluno', 'action' => 'search-for-json'));
$urlForm                     = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagioperiodo-aluno-nucleo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagioperiodo-aluno-nucleo-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="alunonucleoId" id="alunonucleoId"
                               value="<?php echo $this->arrDados['alunonucleoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="perId">Código:</label>
                                <input type="text" name="perId" id="perId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['perId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoId">Código:</label>
                                <input type="text" name="nucleoId" id="nucleoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['nucleoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoperId">Código:</label>
                                <input type="text" name="alunoperId" id="alunoperId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['alunoperId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoperiodoDataInscricao">alunoperiodo_data_inscricao:</label>
                                <input type="text" name="alunoperiodoDataInscricao" id="alunoperiodoDataInscricao"
                                       class="form-control"
                                       placeholder="alunoperiodo_data_inscricao" maxlength=""
                                       value="<?php echo $this->arrDados['alunoperiodoDataInscricao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoperiodoDataFechamento">alunoperiodo_data_fechamento:</label>
                                <input type="text" name="alunoperiodoDataFechamento" id="alunoperiodoDataFechamento"
                                       class="form-control"
                                       placeholder="alunoperiodo_data_fechamento" maxlength=""
                                       value="<?php echo $this->arrDados['alunoperiodoDataFechamento']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoperiodoTotalHoras">alunoperiodo_total_horas:</label>
                                <input type="text" name="alunoperiodoTotalHoras" id="alunoperiodoTotalHoras"
                                       class="form-control"
                                       placeholder="alunoperiodo_total_horas" maxlength="11"
                                       value="<?php echo $this->arrDados['alunoperiodoTotalHoras']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoperiodoObservacoes">alunoperiodo_observacoes:</label>
                                <input type="text" name="alunoperiodoObservacoes" id="alunoperiodoObservacoes"
                                       class="form-control"
                                       placeholder="alunoperiodo_observacoes" maxlength="45"
                                       value="<?php echo $this->arrDados['alunoperiodoObservacoes']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagioperiodoAlunoNucleoAdd({

                urlPesquisaEstagioPeriodoLetivo: '<?=$urlPesquisaEstagioPeriodoLetivo;?>',

                urlPesquisaEstagiogeralNucleo: '<?=$urlPesquisaEstagiogeralNucleo;?>',

                urlPesquisaAcadperiodoAluno: '<?=$urlPesquisaAcadperiodoAluno;?>',

            <?php echo $this->arrDados['perId'] ? "\n,perId:".json_encode($this->arrDados['perId']) : ''; ?>,

            <?php echo $this->arrDados['nucleoId'] ? "\n,nucleoId:".json_encode($this->arrDados['nucleoId']) : ''; ?>,

        <?php echo $this->arrDados['alunoperId'] ? "\n,alunoperId:".json_encode($this->arrDados['alunoperId']) : ''; ?>
    });
    })
    ;
</script>