<?php
$paramUrl = array("controller" => "aluno-nucleo", "action" => "add");
$urlAdd   = $this->url("atividades/default", $paramUrl);

$paramUrl   = array("controller" => "aluno-nucleo", "action" => "search-for-json-nucleo");
$urlNucleos = $this->url("atividades/default", $paramUrl);

$paramUrl['action'] = 'search';
$urlSearch          = $this->url("atividades/default", $paramUrl);

$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("atividades/default", $paramUrl);

$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("atividades/default", $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('aluno-nucleo-index', false, 'App');

?>
<style>
    .app-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTableAlunoNucleo" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Reg. Período</th>
                            <th>Nome Aluno</th>
                            <th>Curso</th>
                            <th>Turma</th>
                            <th>Portifólio</th>
                            <th>Total de Horas</th>
                            <th>Situação</th>
                            <th>Inscrições</th>
                            <th>Nova</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAdd" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Inscrição</h4>
            </div>
            <input type="text" class="hidden" id="alunoNucleoId">
            <input type="text" class="hidden" id="alunoperId">
            <input type="text" class="hidden" id="alunoNucleoEdita">
            <div class="modal-body">
                <div class="form-group">
                    <label for="alunoNucleoDesc">Núcleo deste registro</label>
                    <div class="form-control-static alunoNucleoDesc">-</div>
                </div>
                <div class="form-group">
                    <label for="pesquisaNucleo">Selecione o Núcleo:</label>
                    <input type="text" class="form-control" id="pesquisaNucleo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="salvarAlunoNucleo">Salvar</button>
                <button type="button" class="btn btn-default fechaModal" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.atividadeAlunoNucleoIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlEdit: '<?php echo $urlEdit;?>',
            urlRemove: '<?php echo $urlRemove;?>',
            urlAdd: '<?php echo $urlAdd;?>',
            urlNucleos: '<?php echo $urlNucleos;?>'
        });
    });
</script>