<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-robo'));
$paramUrl    = array('controller' => 'sis-robo', 'action' => 'add');

if ($this->arrDados['roboId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['roboId'];
}

$urlForm = $this->url('sistema/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-robo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="sis-robo-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="roboId" id="roboId" value="<?php echo $this->arrDados['roboId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="roboNome">Nome:</label>
                                <input type="text" name="roboNome" id="roboNome" class="form-control"
                                       placeholder="Nome" maxlength="45"
                                       value="<?php echo $this->arrDados['roboNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="roboUrl">URL:</label>
                                <input type="text" name="roboUrl" id="roboUrl" class="form-control" placeholder="URL"
                                       value="<?php echo $this->arrDados['roboUrl']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="roboTempoExecucao">Tempo de Execucão(segundos):</label>
                                <input type="text" name="roboTempoExecucao" id="roboTempoExecucao" class="form-control"
                                       placeholder="Tempo de Execucão(segundos)" maxlength="11"
                                       value="<?php echo $this->arrDados['roboTempoExecucao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="roboUltimaExecucao">Última Execução:</label>
                                <input type="text" name="roboUltimaExecucao" id="roboUltimaExecucao"
                                       class="form-control" readonly
                                       placeholder="Última Execução"
                                       value="<?php echo $this->arrDados['roboUltimaExecucao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="roboSituacao">Situação:</label>
                                <select name="roboSituacao" id="roboSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrRoboSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['roboSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisRoboAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {},
            data: {},
            value: {},
        });
    });
</script>