<?php
$urlListagem        = $this->url('protocolo/default', array('controller' => 'protocolo'));
$paramUrl           = array('controller' => 'protocolo', 'action' => 'add');
$paramUrl['action'] = 'edit';
$urlEditar          = $this->url('protocolo/default', $paramUrl);
$paramUrl['action'] = 'add';
$urlNovo            = $this->url('protocolo/default', $paramUrl);

$urlDownFile = $this->url("gerenciador-arquivos/default", array("controller" => "arquivo", "action" => "download"));

if ($this->arrDados['protocoloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['protocoloId'];
}

$urlForm = $this->url('protocolo/default', $paramUrl);

$paramUrl             = array('controller' => 'protocolo-mensagem', 'action' => 'add');
$urlProtocoloMensagem = $this->url('protocolo/default', $paramUrl);

$paramUrl                    = array('controller' => 'protocolo-mensagem', 'action' => 'add-file');
$urlProtocoloMensagemArquivo = $this->url('protocolo/default', $paramUrl);

$paramUrl         = array('controller' => 'protocolo-mensagem', 'action' => 'search-protocolo-arquivo');
$urlSearchArquivo = $this->url('protocolo/default', $paramUrl);

$paramUrl  = array('controller' => 'protocolo-mensagem', 'action' => 'search');
$urlSearch = $this->url('protocolo/default', $paramUrl);

$paramUrl            = array('controller' => 'protocolo', 'action' => 'atualiza-situacao');
$urlAtualizaSituacao = $this->url('protocolo/default', $paramUrl);

$paramUrl          = array('controller' => 'protocolo-mensagem-padrao', 'action' => 'search-for-json');
$urlMensagemPadrao = $this->url('protocolo/default', $paramUrl);

$paramUrl    = array('controller' => 'protocolo', 'action' => 'imprimir');
$urlImprimir = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('jquery.form', false, 'App');
$this->layoutComponent()->addJS('protocolo-edit', false, 'App');
$this->layoutComponent()->addCSS('protocolo-edit', false, 'App');
?>
<style>
    .infoProtocol {
        max-height: 450px;
        overflow: auto;
    }

    .imprimir-protocolo {
        width: 100%;
    }

    .modal-title {
        font-family: 'Trebuchet MS', Arial, sans-serif;
        font-weight: bold;
    }
</style>
<section id="widget-grid" class="edit-body">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 chat">
            <fieldset>
                <legend>
                    <p class="form-control-static protocoloAssunto"></p>
                </legend>
                <div class="chat-fieldset">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="chat_corpo">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <form action="<?= $urlProtocoloMensagem ?>" method="post" id="formProtocoloMensagem"
                  enctype="multipart/form-data">
                <input type="hidden" id="fecharAposEnvio" name="fecharAposEnvio">
                <input type="hidden" id="alterarSituacaoAposEnvio" name="alterarSituacaoAposEnvio">
                <input type="hidden" name="protocolo">
                <input type="hidden" name="ajax" value=false>

                <fieldset class="msg-box">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" name="mensagemPadrao" placeholder="Mensagens Padrão"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12 msg-fieldset camposMessagem">
                        <div class="form-group">
                            <textarea name="mensagemConteudo" class="form-control" id="mensagemConteudo"></textarea>
                        </div>
                    </div>
                    <input style="display: none" type="file" name="arrArquivo[]" id="anexoInput">

                    <div class="div-anexos" id="arrMensagemAnexos"></div>

                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="checkbox" name="mensagemSolicitanteVisivel" id="mensagemSolicitanteVisivel"
                                       class="" value="Sim" checked>
                                <label for="mensagemSolicitanteVisivel" style="font-size: 140%">
                                    Visível Solicitante
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 text-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-ver-anexos"
                                    data-toggle="modal" data-target="#protocoloMensagemArquivo-modal">
                                Anexar na Mensagem &nbsp; <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </button>
                            <button type="submit" class="btn btn-info" id="btn-enviar">
                                Enviar &nbsp; <i class="fa fa-paper-plane " aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary" id="btn-imprimir">
                                Imprimir&nbsp; <i class="fa fa-print" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </fieldset>
                <div class="col-sm-12">
                    <ul style="list-style: none" class="list-inline inline">
                        <li><i class='fa fa-flag text-danger'></i>
                            &nbsp;Mensagem <strong>não visível</strong> ao solicitante
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form action="<?php echo $urlForm; ?>" novalidate="novalidate" method="post" id="form-info">
                <input type="hidden" name="protocoloId" value="<?php echo $this->arrDados['protocoloId']; ?>">
                <fieldset>
                    <legend>Informações do Protocolo:</legend>
                </fieldset>
                <div class="infoProtocol">
                    <div class="col-sm-6">
                        <label>Data de criação:</label>

                        <div class="form-group">
                            <p data-info="dataProtocoloCriacao" class="form-control-static dataProtocoloCriacao">-</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Última atualização:</label>

                        <div class="form-group">
                            <p data-info="dataProtocoloAtualizacao"
                               class="form-control-static dataProtocoloAtualizacao">
                                -</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>CPF:</label>

                            <p data-info="pes_cpf" class="form-control-static">-</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label>Aluno:</label>

                        <p data-info="aluno_id" class="form-control-static">-</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Matrícula:</label>

                            <p data-info="alunocurso_id" class="form-control-static">-</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Responsável:</label>

                            <button class="btn btn-sm btn-warning item-responsavel " title="Alterar Responsável"
                                    style="float:right"
                                    data-target="#protocolo-responsavel-modal" data-toggle="modal" type="button"><i
                                    class="fa fa-bell-o fa-inverse fa-lg"></i></button>

                            <p data-info="nome_responsavel" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Setor/Solicitação:</label>
                            <button class="btn btn-sm btn-success item-transferencia" title="Transferir Protocolo"
                                    style="float:right"
                                    data-target="#protocolo-transferencia-modal" data-toggle="modal" type="button">
                                <i class="fa fa-exchange fa-lg"></i>
                            </button>

                            <p class="form-control-static">
                                <span data-info="protocoloSetor"></span> /
                                <span data-info="solicitacao"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Solicitante:</label>

                            <p data-info="protocoloSolicitanteNome" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Aluno/Curso:</label>

                            <p data-info="protocoloSolicitanteAlunocurso" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>E-mail Solicitante:</label>

                            <p data-info="protocoloSolicitanteEmail" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Telefone/Celular Solicitante:</label>

                            <p data-info="protocoloSolicitanteTelefone" class="form-control-static">
                                <span data-info="protocoloSolicitanteTelefone"></span> /
                                <span data-info="protocoloSolicitanteCelular"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="protocoloSituacao">Situação:</label>
                        <input type="text" name="protocoloSituacao"
                               class="form-control"
                               value="Aberto">
                    </div>
                </div>
                <div class="col-sm-12 text-center" style="margin-top: 2%">
            </form>
        </div>
    </div>
</section>
<div class="modal fade imprimir-protocolo"
     data-keyboard="false" data-backdrop="static" id="imprimir-protocolo-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 100% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">-</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <iframe id="corpo-impressao-modal" style="border: none; min-height: 300px;" src="about:blank"
                                class="col-sm-12"></iframe>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-default close-Iframe">
                                    <i class="fa fa-times"></i>
                                    Fechar
                                </button>
                                <button type="button" class="btn btn-primary"
                                        id="imprimirProtocolo">
                                    <i class="fa fa-print"></i>
                                    Imprimir
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloEdit({
            url: {
                novo: '<?php echo $urlNovo; ?>',
                editar: '<?php echo $urlEditar; ?>',
                search: '<?php echo $urlSearch ?>',
                protocoloMensagem: '<?php echo $urlProtocoloMensagem ?>',
                atualizaSituacao: '<?php echo $urlAtualizaSituacao ?>',
                mensagemPadrao: '<?php echo $urlMensagemPadrao ?>',
                searchArquivo: '<?php echo $urlSearchArquivo ?>',
                downloadArquivo: '<?php echo $urlDownFile ?>',
                imprimir: '<?php echo $urlImprimir ?>'
            },
            data: {},
            value: {
                arrDados:<?=json_encode($this->arrDados); ?>,
                arrProtocoloSituacao:<?=json_encode($this->arrProtocoloSituacao); ?>,
                permissaoImprimir:<?=json_encode($this->permissaoImprimir); ?>
            }
        });
    });
</script>