<?php
$paramUrl = array("controller" => "protocolo", "action" => "add");

$urlAdd             = $this->url("protocolo/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("protocolo/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("protocolo/default", $paramUrl);
$paramUrl['action'] = 'transferencia';
$urlTransferencia   = $this->url("protocolo/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("protocolo/default", $paramUrl);

$urlPesquisaProtocoloSolicitante = $this
    ->url('protocolo/default', array('controller' => 'protocolo', 'action' => 'search-for-json'));
$urlPesquisaSolicitacao          = $this
    ->url('protocolo/default', array('controller' => 'protocolo-solicitacao', 'action' => 'search-for-json'));
$urlPesquisaSetor                = $this
    ->url('protocolo/default', array('controller' => 'protocolo-setor', 'action' => 'search-for-json'));
$urlPesquisaSolicitante          = $this
    ->url('protocolo/default', array('controller' => 'protocolo-controler', 'action' => 'searchAction'));
$urlAcessoPessoas                = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAlunoCurso  = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-curso', 'action' => 'search-for-json'));
$urlPesquisaPessoa               = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$paramUrl         = array('controller' => 'protocolo-mensagem', 'action' => 'search-protocolo-arquivo');
$urlSearchArquivo = $this->url('protocolo/default', $paramUrl);

$urlDownFile = $this->url("gerenciador-arquivos/default", array("controller" => "arquivo", "action" => "download"));

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-index', false, 'App');
?>
<style>
    #protocolo-edit-modal .modal-dialog {
        width: 90%;
    }

    #protocolo-edit-modal .modal-content {
        height: 60%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-protocolo">

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" id="acordion"
                                       href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-chevron-right"></i>
                                        Filtros avançados
                                    </a>
                                </h4>
                            </div>
                            <div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="setorFiltro">Setor:</label>
                                                    <input type="text" name="setorFiltro" id="setorFiltro"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="solicitacaoFiltro">Solicitação:</label>
                                                    <input name="solicitacaoFiltro" id="solicitacaoFiltro"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="situacaoFiltro">Situação:</label>
                                                    <input type="text" name="situacaoFiltro" id="situacaoFiltro"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="protocoloSolicitanteAluno">Aluno:</label>
                                                    <input type="text" name="protocoloSolicitanteAluno"
                                                           id="protocoloSolicitanteAluno"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="protocoloSolicitanteFiltroInterno">
                                                        Solicitante Interno:
                                                    </label>
                                                    <input type="text" name="protocoloSolicitanteFiltroInterno"
                                                           id="protocoloSolicitanteFiltroInterno"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="protocoloSolicitanteFiltroOutros">
                                                        Solicitante Externo/Outros:
                                                    </label>
                                                    <input type="text" name="protocoloSolicitanteFiltroOutros"
                                                           id="protocoloSolicitanteFiltroOutros"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="protocoloResponsavel">
                                                        Responsável:
                                                    </label>
                                                    <input type="text" name="protocoloResponsavel"
                                                           id="protocoloResponsavel"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <fieldset>
                                                <legend>Cadastrado Por/Em:</legend>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label for="operadoresCadastroFiltro">Operadores:</label>
                                                        <input type="text" name="operadoresCadastroFiltro"
                                                               id="operadoresCadastroFiltro" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="dataCadastroInicial">Data Inicial:</label>
                                                        <input type="text" name="dataCadastroInicial"
                                                               id="dataCadastroInicial" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="dataCadastroFinal">Data Final:</label>
                                                        <input type="text" name="dataCadastroFinal"
                                                               id="dataCadastroFinal"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-12">
                                            <fieldset>
                                                <legend>Alterado Por/Em:</legend>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label for="operadoresAlteracaoFiltro">Operadores:</label>
                                                        <input type="text" name="operadoresAlteracaoFiltro"
                                                               id="operadoresAlteracaoFiltro" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="dataAlteracaoInicial">Data Inicial:</label>
                                                        <input type="text" name="dataAlteracaoInicial"
                                                               id="dataAlteracaoInicial"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="dataAlteracaoFinal">Data Final:</label>
                                                        <input type="text" name="dataAlteracaoFinal"
                                                               id="dataAlteracaoFinal"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary"
                                                        id="protocolosFiltroExecutar">
                                                    <i class="fa fa-search"></i>
                                                    Filtrar resultados
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                        id="protocolosFiltroLimpar">
                                                    <i class="fa fa-clear"></i>
                                                    Limpar filtros
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="dataTableProtocolo" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Protocolo</th>
                            <th>Setor</th>
                            <th>Solicitação</th>
                            <th>Assunto</th>
                            <th>Responsável</th>
                            <th>Solicitante</th>
                            <th>Cadastro</th>
                            <th>Alteração</th>
                            <th>Situação</th>
                            <th style="width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-protocolo-add">
                            Novo Registro
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="protocolo-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fechar-janela-protocolo-add" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar protocolo</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('protocolo/protocolo/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="protocolo-edit-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true" style="height: auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fechar-janela-protocolo" aria-hidden="true">×</button>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('protocolo/protocolo/edit.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="protocolo-transferencia-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Transferência de protocolo</h4>

                <div class="text-right">
                    <span class="procotoloTextTitulo">Código:</span>&nbsp;
                    <span class="protocoloIdTitulo">-</span>
                </div>
            </div>
            <div class="modal-body floating-label" az>
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('protocolo/protocolo/transferencia.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="protocolo-responsavel-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Responsável pelo Protocolo</h4>

                <div class="text-right">
                    <span class="procotoloTextTitulo">Código:</span>&nbsp;
                    <span class="protocoloIdTitulo">-</span>
                </div>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('protocolo/protocolo/responsavel.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>

<div id="protocoloMensagemArquivo-modal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static"
     style="overflow: hidden;">
    <div class="modal-dialog" style="width: 1000px;">

        <!-- Modal content-->
        <div class="modal-content" style="height: 700px;">
            <div class="modal-header">
                <button type="button" class="close">&times;</button>
                <h4 class="modal-title">Arquivos</h4>
            </div>
            <div class="modal-body">
                <table id="dataTableProtocoloMensagemArquivo" class="table table-striped table-bordered table-hover"
                       width="100%">
                    <thead>

                    <tr>
                        <td>Data de Envio</td>
                        <td>Emitente</td>
                        <td>Arquivo</td>
                        <td>Ações</td>
                    </tr>

                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" id="btn-anexar">
                            Adicionar Anexo <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        <?php $estilo = $this->basePath() . '/css/universa/protocolo/protocolo/protocolo-edit.css';?>
        CKEDITOR.config.contentsCss = "<?php echo $estilo ?>";
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                transferencia: '<?php echo $urlTransferencia;?>',
                remove: '<?php echo $urlRemove;?>',
                pesquisaSolicitacao: '<?php echo $urlPesquisaSolicitacao;?>',
                protocolo: '<?php echo $urlPesquisaProtocoloSolicitante;?>',
                pesquisaSetor: '<?php echo $urlPesquisaSetor;?>',
                acessoPessoas: '<?php echo $urlAcessoPessoas;?>',
                pessoa: '<?php echo $urlPesquisaPessoa;?>',
                pesquisaAluno: '<?php echo$urlPesquisaAcadgeralAlunoCurso;?>'

            },
            data: {
                arrProtocoloSituacao:<?=json_encode($this->arrProtocoloSituacao);?>,
                arrUsuarioLogado: <?=json_encode($this->arrUsuarioLogado);?>
            }
        });
        $.protocoloEdit({
            value: {
                arrDados:<?=json_encode($this->arrDados); ?>,
                arrProtocoloSituacao:<?=json_encode($this->arrProtocoloSituacao); ?>
            },
            url: {
                searchArquivo: '<?php echo $urlSearchArquivo ?>',
                downloadArquivo: '<?php echo $urlDownFile ?>'
            },
            data: {
                arrUsuarioLogado: <?=json_encode($this->arrUsuarioLogado);?>
            }
        });
    });
</script>