<?php
$arrDados = $this->arrDados;
?>
<head xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?= $this->basePath(); ?>/smart-admin/css/bootstrap.min.css">
    <style>
        * {
            font-family: 'Trebuchet MS', Arial, sans-serif;
            font-size: small;
            font-weight: bold;
        }

        td {
            border: 1px solid #000;
        }

        .linha {
            border-bottom: 1px solid #000 !important;
            margin-top: 1%;
            margin-bottom: 2%;
        }

    </style>
</head>
<body>
<div class="form-group" style="font-size: large; text-align: center">
    Impressão de Protocolo
</div>
<table style="width: 100%">
    <tr>
        <td style="width: 40%">Protocolo: <?php echo $arrDados['protocoloId'] ?></td>
        <td style="width: 30%">Data de Criação: <?php echo $arrDados['protocoloDataCadastroFormatado'] ?></td>
        <td style="width: 30%">Data de Alteração: <?php echo $arrDados['protocoloDataAlteracaoFormatado'] ?></td>
    </tr>
    <tr>
        <td colspan="3">Setor/Solicitação:
            <?php echo $arrDados['setorDescricao'] . ' / ' . $arrDados['solicitacaoDescricao'] ?></td>
    </tr>
    <tr>
        <td colspan="3">Responsável: <?php echo $arrDados['pesResponsavel'] ?></td>

    </tr>
    <tr>
        <td style="width: 40%">CPF: <?php echo $arrDados['pesCpf'] ?></td>
        <td style="width: 30%">Aluno: <?php echo $arrDados['aluno_id'] ?></td>
        <td style="width: 30%">Matrícula: <?php echo $arrDados['matricula'] ?></td>

    </tr>
    <tr>
        <td style="width: 100%" colspan="3">Solicitante: <?php echo $arrDados['protocoloSolicitantePesNome'] ?></td>
    </tr>
    <tr>
        <td style="width: 100%" colspan="3">Aluno/Curso: <?php echo $arrDados['protocoloSolicitanteAlunocurso'] ?></td>
    </tr>
    <tr>
        <td>E-mail Solicitante: <?php echo $arrDados['protocoloSolicitanteEmail'] ?></td>
        <td colspan="2">Telefone/Celular Solicitante: <?php echo $arrDados['protocoloSolicitanteTelefone'] ?></td>
    </tr>
</table>
<div class="col-sm-12">
    <fieldset>
        <legend>Mensagens</legend>
        <?php foreach ($this->arrDados['arrMensagem'] as $dados) { ?>

            <div class="msg" style="text-align:<?php echo($dados['autor'] == 'OPERADOR' ? 'right' : 'left') ?>;">
                <div class="msg_header ">
                    <strong><?php echo $dados['autor'] . " " . $dados['data'] ?></strong>
                </div>
                <div class="msg_body"><?php
                    $mensagem = $dados['mensagem'];
                    $mensagem = preg_replace('#(<br>\s*)+#', '<br>', $mensagem);
                    $mensagem = preg_replace('#(<p>&nbsp;</p>\s*)+#', '<br>', $mensagem);
                    $mensagem = preg_replace('#(<br>\s*<hr>)+#', '<hr>', $mensagem);
                    echo $mensagem;
                    ?></div>
                <div class="linha"></div>
            </div>
        <?php } ?>
        <div class="form-group" style="font-size: small; text-align: center">
            Documento impresso em: <?php echo (new \DateTime())->format("d/m/Y H:i:s") ?>
        </div>
    </fieldset>
</div>
</body>
<script type="text/javascript">
    window.onload = function () {
        window.print();
    }
</script>