<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo'));
$paramUrl    = array('controller' => 'protocolo', 'action' => 'transferencia');

if ($this->arrDados['protocoloId']) {
    $paramUrl['action'] = 'transferencia';
    $paramUrl['action'] = 'transferencia';
    $paramUrl['id']     = $this->arrDados['protocoloId'];
}
$urlPesquisaProtocoloSolicitacao = $this
    ->url('protocolo/default', array('controller' => 'protocolo-solicitacao', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas        = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas        = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaPessoa               = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAlunoCurso  = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-curso', 'action' => 'search-for-json'));
$urlPesquisaProtocoloSetor       = $this
    ->url('protocolo/default', array('controller' => 'protocolo-setor', 'action' => 'search-for-json'));
$urlForm                         = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <form action="<?php echo $urlForm; ?>" id="protocolo-transferencia-form" novalidate="novalidate"
                      method="post">
                    <input type="hidden" name="protocoloId"
                           value="<?php echo $this->arrDados['protocoloId']; ?>">
                    <input type="hidden" name="acao-origem" value="">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="setorId">Setor:</label>
                            <input type="text" name="setorId"
                                   class="form-control"
                                   placeholder="Setor" maxlength="100"
                                   value="<?php echo $this->arrDados['setor']; ?>">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="solicitacao">solicitação:</label>
                            <input type="text" name="solicitacao"
                                   class="form-control"
                                   placeholder="Solicitacao" maxlength="100"
                                   value="<?php echo $this->arrDados['solicitacao']; ?>" disabled>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Transferir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>