<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-titulo-config'));
$paramUrl    = array('controller' => 'financeiro-titulo-config', 'action' => 'add');

if ($this->arrDados['tituloconfId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['tituloconfId'];
}
$urlPesquisaCampusCurso          = $this
    ->url('matricula/default', array('controller' => 'campus-curso', 'action' => 'search-for-json'));
$urlPesquisaAcadperiodoLetivo    = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaBoletoConfConta      = $this
    ->url('financeiro/default', array('controller' => 'boleto-conf-conta', 'action' => 'search-for-json'));
$urlForm                         = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-titulo-config-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-titulo-config-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="tituloconfId" id="tituloconfId"
                               value="<?php echo $this->arrDados['tituloconfId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="    tituloconfNome">Descrição:</label>
                                <input type="text" name="tituloconfNome" id="tituloconfNome" class="form-control"
                                       placeholder="Nome da Configuração">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cursocampus">Câmpus/Curso:</label>
                                <input type="text" name="cursocampus" id="cursocampus" class="form-control"
                                       placeholder="Câmpus/Curso">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotitulo">Tipo De Título:</label>
                                <input type="text" name="tipotitulo" id="tipotitulo" class="form-control"
                                       placeholder="Tipo De Título">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="confcont">Configuração De Conta Bancária:</label>
                                <input type="text" name="confcont" id="confcont" class="form-control"
                                       placeholder="Configuração De Conta Bancária">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="per">Período Letivo:</label>
                                <input type="text" name="per" id="per" class="form-control"
                                       placeholder="Período Letivo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloconfDataInicio">Data de Início de Uso:</label>
                                <input type="text" name="tituloconfDataInicio" id="tituloconfDataInicio"
                                       class="form-control"
                                       placeholder="Data de Início de Uso"
                                       value="<?php echo $this->arrDados['tituloconfDataInicio']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloconfDataFim">Data de Fim de Uso:</label>
                                <input type="text" name="tituloconfDataFim" id="tituloconfDataFim" class="form-control"
                                       placeholder="Data de Fim de Uso"
                                       value="<?php echo $this->arrDados['tituloconfDataFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloconfDiaVenc">Dia de Vencimento:</label>
                                <input type="text" name="tituloconfDiaVenc" id="tituloconfDiaVenc" class="form-control"
                                       placeholder="Dia de Vencimento" maxlength="11"
                                       value="<?php echo $this->arrDados['tituloconfDiaVenc']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a class="pull-right" title="Aplicado apenas para a captação externa de aluno.">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <label for="tituloconfVencimentoFixo">Data de Vencimento Fixo:</label>
                                <select name="tituloconfVencimentoFixo" id="tituloconfVencimentoFixo"
                                        class="form-control">
                                    <option value="Não">Não</option>
                                    <option value="Sim">Sim</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a class="pull-right" title="Aplicado apenas para a captação externa de aluno.">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <label for="tituloconfVencimentoAlteravel">Data de Vencimento Alterável:</label>
                                <select name="tituloconfVencimentoAlteravel" id="tituloconfVencimentoAlteravel"
                                        class="form-control">
                                    <option value="Não">Não</option>
                                    <option value="Sim">Sim</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloconfMulta">Percentual de Multa:</label>
                                <input type="text" name="tituloconfMulta" id="tituloconfMulta" class="form-control"
                                       placeholder="Multa"
                                       value="<?php echo $this->arrDados['tituloconfMulta']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a class="pull-right"
                                   title="O cálculo de multa e juros será retroativo ao vencimento e só será acrescido após vencimento somado com a quantidade de dias informada no campo.">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <label for="tituloconfDiaJuros">
                                    Aplicar Multa e Juros Após:
                                </label>
                                <input type="text" name="tituloconfDiaJuros" id="tituloconfDiaJuros"
                                       class="form-control"
                                       placeholder="Informe a quantidade de dias."
                                       value="<?php echo $this->arrDados['tituloconfDiaJuros']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloconfJuros">Percentual de Juros:</label>
                                <input type="text" name="tituloconfJuros" id="tituloconfJuros" class="form-control"
                                       placeholder="Juros" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloconfJuros']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <a class="pull-right"
                                   title="Exibir informações de multa, juros e descontos nas intruções do boleto.">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <label for="tituloconfigInstrucaoAutomatico">Instruções do Boleto Automática:</label>
                                <input type="text" name="tituloconfigInstrucaoAutomatico"
                                       id="tituloconfigInstrucaoAutomatico" class="form-control"
                                       placeholder="Configuração de geração para instrução" maxlength="10"
                                       value="<?php echo $this->arrDados['titutloconfInstrucaoAutomatica']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloconfDescontoIncentivoAcumulativo">Desconto Acumulativo:</label>
                                <a class="pull-right"
                                   title="O desconto de incentivo será somado aos demais descontos?">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <input type="text" name="tituloconfDescontoIncentivoAcumulativo"
                                       id="tituloconfDescontoIncentivoAcumulativo"
                                       class="form-control"
                                       placeholder="Desconto Acumulativo">
                            </div>
                        </div>
                        <legend>Configuração Principal de Desconto de Incentivo:</legend>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="tituloconfDiaDesc">Dias de Antecipação:</label>
                                <input type="text" name="tituloconfDiaDesc" id="tituloconfDiaDesc" class="form-control"
                                       placeholder="Dia de Desconto" maxlength="11"
                                       value="<?php echo $this->arrDados['tituloconfDiaDesc']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="tituloconfValorDesc">Valor de Desconto:</label>
                                <input type="text" name="tituloconfValorDesc" id="tituloconfValorDesc"
                                       class="form-control"
                                       placeholder="Valor de Desconto"
                                       value="<?php echo $this->arrDados['tituloconfValorDesc']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="tituloconfPercentDesc">Percentual de Desconto:</label>
                                <input type="text" name="tituloconfPercentDesc" id="tituloconfPercentDesc"
                                       class="form-control"
                                       placeholder="Percentual de Desconto"
                                       value="<?php echo $this->arrDados['tituloconfPercentDesc']; ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="pull-right"
                               title="De acordo com os dias de antecipação, será concedido desconto até que o mesmo não seja excedido em conformidade com a data de vencimento do título!">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </a>
                            <legend>Configuração Secundária de Desconto de Incentivo:</legend>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="tituloconfDiaDesc2">Dias de Antecipação:</label>
                                    <input type="text" name="tituloconfDiaDesc2" id="tituloconfDiaDesc2"
                                           class="form-control"
                                           placeholder="Dia para segundo desconto"
                                           value="<?php echo $this->arrDados['tituloconfDiaDesc2']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="tituloconfValordesc2">Valor Desconto:</label>
                                    <input type="text" name="tituloconfValordesc2" id="tituloconfValordesc2"
                                           class="form-control"
                                           placeholder="valor de Desconto"
                                           value="<?php echo $this->arrDados['tituloconfValordesc2']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="tituloconfPercentDesc2">Percentual de Desconto:</label>
                                    <input type="text" name="tituloconfPercentDesc2" id="tituloconfPercentDesc2"
                                           class="form-control"
                                           placeholder="Percentual de Desconto"
                                           value="<?php echo $this->arrDados['tituloconfPercentDesc2']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroTituloConfigAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                campusCurso: '<?=$urlPesquisaCampusCurso;?>',
                acadperiodoLetivo: '<?=$urlPesquisaAcadperiodoLetivo;?>',
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                boletoConfConta: '<?=$urlPesquisaBoletoConfConta;?>'
            },
            data: {
                titutloconfInstrucaoAutomaticaSelect2:<?=json_encode($this->titutloconfInstrucaoAutomaticaSelect2);?>,
                constDescontoIncentivoAcumulativoSim: <?=json_encode($this->constDescontoIncentivoAcumulativoSim);?>,
                arrTituloconfDescontoIncentivoAcumulativo:<?=json_encode($this->arrTituloconfDescontoIncentivoAcumulativo);?>
            },
            value: {
                cursocampus:<?=json_encode($this->arrDados['cursocampus']); ?>,
                per:<?=json_encode($this->arrDados['per']); ?>,
                tipotitulo:<?=json_encode($this->arrDados['tipotitulo']); ?>,
                confcont:<?=json_encode($this->arrDados['confcont']); ?>,
                tituloconfDescontoIncentivoAcumulativo:<?=json_encode($this->arrDados['tituloconfDescontoIncentivoAcumulativo']); ?>,
                vencimentoFixo:<?=json_encode($this->arrDados['tituloconfVencimentoFixo']); ?>,
                vencimentoAlteravel:<?=json_encode($this->arrDados['tituloconfVencimentoAlteravel']); ?>
            }
        });
    });
</script>