<?php
$this->SpineJarvis()->OpenJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Dashboard', 'icon' => 'fa fa-gear'));

?>
    <head>
        <script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/flot/jquery.flot.cust.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/flot/jquery.flot.resize.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/flot/jquery.flot.fillbetween.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/flot/jquery.flot.orderBar.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/flot/jquery.flot.pie.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/flot/jquery.flot.tooltip.min.js"></script>
        <script>
            var $chrt_border_color = "#efefef";
            var $chrt_grid_color = "#DDD";
            var $chrt_main = "#E24913";
            /* red       */
            var $chrt_second = "#6595b4";// Azul claro
            /* blue      */
            var $chrt_third = "#FF9F01";
            /* orange    */
            var $chrt_fourth = "#7e9d3a"; //Verde
            /* green     */
            var $chrt_fifth = "#BD362F";
            /* dark red  */
            var $chrt_mono = "#000";

            var $chrt_preto = '#666';

            $(document).ready(function() {

                // DO NOT REMOVE : GLOBAL FUNCTIONS!
                pageSetUp();

                /* pie chart */
                data_pie = [];

                data_pie[0] = {
                    label: 'Em Análise',
                    data: parseInt($("[data-name='analise']").html())
                };
                data_pie[1] = {
                    label: 'Aceita',
                    data: parseInt($("[data-name='aceita']").html())
                };
                data_pie[2] = {
                    label: 'Solicitada',
                    data: parseInt($("[data-name='solicitada']").html())
                };
                $.plot($("#pie-chart"), data_pie, {
                    series : {
                        pie : {
                            show : true,
                            innerRadius : 0,
                            radius : 1,
                            label : {
                                show : false,
                                radius : 2 / 3,
                                formatter : function(label, series) {
                                    return '<div style="font-size:11px;text-align:center;padding:4px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                                },
                                threshold : 0.1
                            }
                        }
                    },
                    legend : {
                        show : true,
                        noColumns : 1, // number of colums in legend table
                        labelFormatter : null, // fn: string -> string
                        labelBoxBorderColor : "#000", // border color for the little label boxes
                        container : null, // container (as jQuery object) to put legend in, null means default on top of graph
                        position : "ne", // position of default legend container within plot
                        margin : [5, 10], // distance from grid edge to default legend container within plot
                        backgroundColor : "#efefef", // null means auto-detect
                        backgroundOpacity : 1 // set to 0 to avoid background
                    },
                    grid : {
                        hoverable : true,
                        clickable : true
                    },
                    tooltip : true,
                    tooltipOpts : {
                        content : "<b>%s</b> = <span>%y</span>",
                        defaultTheme : false
                    }
                });
                /* end pie chart */

            });
        </script>
    </head>
    <div class="row">
        <legend style="margin-left: 15px">Inscrições</legend>
        <section class="col-lg-6">
            <div id="pie-chart" class="chart" style="padding: 0px; position: relative;">
            </div>
        </section>
        <section class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td><b>Tipo de Inscrição</b></td>
                    <td><b>Quantidade</b></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Em Análise</td>
                    <td data-name="analise"><?= $this->inscTipo['boleto']; ?></td>
                </tr>
                <tr>
                    <td>Aceita</td>
                    <td data-name="aceita"><?= $this->inscTipo['aceita']; ?></td>
                </tr>
                <tr>
                    <td>Solicitada</td>
                    <td data-name="solicitada"><?= $this->inscTipo['res']; ?></td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td><b><?= $this->inscTipo['res'] + $this->inscTipo['aceita'] + $this->inscTipo['boleto']; ?></b></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
<?php
$this->SpineJarvis()->CloseJarvis();
echo $this->spineJarvis()->closeWidget();
?>