<?php
$urlListagem = $this->url(
    'atividades/default',
    array('controller' => 'estagiogeral-processo-estagioperiodo-aluno-nucleo')
);
$paramUrl    = array('controller' => 'estagiogeral-processo-estagioperiodo-aluno-nucleo', 'action' => 'add');

if ($this->arrDados['alunoprocessoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['alunoprocessoId'];
}

$urlPesquisaEstagiogeralProcesso = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-processo', 'action' => 'search-for-json'));

$urlPesquisaEstagioperiodoAlunoNucleo = $this
    ->url('atividades/default', array('controller' => 'estagioperiodo-aluno-nucleo', 'action' => 'search-for-json'));
$urlForm                              = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-processo-estagioperiodo-aluno-nucleo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-processo-estagioperiodo-aluno-nucleo-form"
                          novalidate="novalidate" method="post">

                        <input type="hidden" name="alunoprocessoId" id="alunoprocessoId"
                               value="<?php echo $this->arrDados['alunoprocessoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioprocessoId">Código:</label>
                                <input type="text" name="estagioprocessoId" id="estagioprocessoId" class="form-control"
                                       placeholder="Código" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioprocessoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunonucleoId">Código:</label>
                                <input type="text" name="alunonucleoId" id="alunonucleoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['alunonucleoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoprocessoDataInicio">alunoprocesso_data_inicio:</label>
                                <input type="text" name="alunoprocessoDataInicio" id="alunoprocessoDataInicio"
                                       class="form-control"
                                       placeholder="alunoprocesso_data_inicio" maxlength=""
                                       value="<?php echo $this->arrDados['alunoprocessoDataInicio']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoprocessoDataFim">alunoprocesso_data_fim:</label>
                                <input type="text" name="alunoprocessoDataFim" id="alunoprocessoDataFim"
                                       class="form-control"
                                       placeholder="alunoprocesso_data_fim" maxlength=""
                                       value="<?php echo $this->arrDados['alunoprocessoDataFim']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoprocessoObservacoes">alunoprocesso_observacoes:</label>
                                <input type="text" name="alunoprocessoObservacoes" id="alunoprocessoObservacoes"
                                       class="form-control"
                                       placeholder="alunoprocesso_observacoes" maxlength="45"
                                       value="<?php echo $this->arrDados['alunoprocessoObservacoes']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralProcessoEstagioperiodoAlunoNucleoAdd({

                urlPesquisaEstagiogeralProcesso: '<?=$urlPesquisaEstagiogeralProcesso;?>',

                urlPesquisaEstagioperiodoAlunoNucleo: '<?=$urlPesquisaEstagioperiodoAlunoNucleo;?>',

            <?php echo $this->arrDados['estagioprocessoId'] ? "\n,estagioprocessoId:".json_encode($this->arrDados['estagioprocessoId']) : ''; ?>,

        <?php echo $this->arrDados['alunonucleoId'] ? "\n,alunonucleoId:".json_encode($this->arrDados['alunonucleoId']) : ''; ?>
    });
    })
    ;
</script>