<?php

$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Criação de novas Turmas', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag( $this->form );

$periodo = $this->form->get('per');
$periodo2 = $this->form->get('per');
?>
<div class="row" style="padding-top:20px;">
    <?=$this->spineForm()->formInput($periodo->setAttributes(['label' => 'Periodo de Origem:', 'onchange' => 'exibeSelectDestino(this)'])); ?>
</div>
<div class="row" hidden="hidden">
    <?=$this->spineForm()->formInput($periodo2->setAttributes(['label' => 'Periodo de Destino:', 'name' => 'perDest'])); ?>
</div>

<div class="row" style="padding-left:30px;padding-bottom:30px;">
    <button type="button" style="padding:7px;" class="btn btn-primary pull-left" onclick="listaTurmasOrigerDestinoSugestao()">Clonar Turmas</button>
</div>
<div id="turmasOrigemDestino">

</div>
<?php
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>

<script>
    function exibeSelectDestino( element ){
        if($(element).val() != 'NULL'){
            $("select[name='perDest']").parent().parent().parent().removeAttr('hidden');
        } else {
            $("select[name='perDest']").parent().parent().parent().attr('hidden','hidden');
        }
    }
    function listaTurmasOrigerDestinoSugestao(){
        var perOrigem = $("select[name='per']").val();
        var perDestino = $("select[name='perDest']").val();

        if( perOrigem == 'NULL'){
            alert("Favor selecionar a turma de origem");
            return false;
        }
        if(perDestino == 'NULL'){
            alert("Favor selecionar a turma de destirno");
            return false;
        }

        $.ajax({
            assync: false,
            type: "POST",
            url: '/matricula/acadperiodo-turma/turmas-origem-destino-sugestao',
            data: {
                perOrigem : perOrigem,
                perDestino : perDestino
            },
            success: function(data){
                $("#turmasOrigemDestino").children().remove();
                if(data.turmas != undefined){
                    var rows = "";

                    rows = rows +
                        '<fieldset>'+
                        '<legend>Confirme a pré matricula dos alunos nas seguintes turmas</legend>'+
                        '</fieldset>'+
                        '<div class="row">'+
                        '<section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">'+
                        '<label for="">Turma origem:</label>'+
                        '</section>'+
                        '<section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">'+
                        '<label for="">Turma destino:</label>'+
                        '</section>'+
                        '</div>';
                    for(var i = 0; i < data.turmas.length; i++){
                        rows = rows +
                            '<div class="row">'+
                            '<section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">'+
                            '<label for="" class="input">'+
                            '<input type="text" name="turmaOrigem[]" value="'+data.turmas[i].origem.turmaNome+'">'+
                            '</label>'+
                            '</section>'+
                            '<section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">'+
                            '<label class="select">'+
                            '<i></i>'+
                            '<select name="turmaDestino[]"  >';
                            for(var j = 0; j < data.turmas[i].destino.length; j++){
                                if(data.turmas[i].origem.turmaId == data.turmas[i].destino[j].turmaId){
                                    rows = rows + '<option value="'+data.turmas[i].destino[j].turmaId+'" selected>'+data.turmas[i].destino[j].turmaNome+'</option>';
                                } else {
                                    rows = rows + '<option value="'+data.turmas[i].destino[j].turmaId+'">'+data.turmas[i].destino[j].turmaNome+'</option>';
                                }
                            }
                            rows = rows +
                            '</select>'+
                            '</label>'+
                            '</section>'+
                            '</div>';
                    }
                    rows = rows +
                        '<footer>'+
                        '<button type="submit" class="btn btn-primary pull-left">Salvar</button>'+
                        '</footer>';
                    $("#turmasOrigemDestino").append(rows);

                }
            },
            error: function(a){
                alert("Erro ao conectar ao servidor verifique sua conexão a internet!");
            }
        });

        $("#FormTurma").submit(function(){
            var result = confirm("Deseja realmente salvar estas alteraçoes?");
            if(result == false){
                return false;
            }
        });
    }

</script>

