<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
$this->spineList( $this->config );
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();


?>
<script>
    $(function(){
        $("div[class='btn-group']").append("<a href='<?php echo $this->basePath();?>/matricula/acadperiodo-turma/criar-novas-turmas'><button class='btn btn-default'> <i class='fa fa-check'></i> Clonar Turmas</button><a>");
    });
</script>
