<?php
$paramUrl = array("controller" => "acadperiodo-turma", "action" => "add");

$urlAdd             = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("matricula/default", $paramUrl);
$paramUrl['action'] = 'criar-novas-turmas';
$urlClone           = $this->url("matricula/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadperiodo-turma-index', false, 'App');
?>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"
                         id="container-acadperiodo-turma">
                        <table id="dataTableAcadperiodoTurma" class="table table-striped table-bordered table-hover"
                               width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>Turma</th>
                                <th>Período Letivo</th>
                                <th>Turno</th>
                                <th>Série</th>
                                <th>Capacidade</th>
                                <th>Número de Alunos</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <footer class="text-center">
                            <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-add">
                                Novo Registro
                            </a>
                            <button type="button" class="btn btn-secondary" id="btn-remove">
                                Excluir
                            </button>
                            <a href="<?= $urlClone ?>" class="btn btn-success" id="btn-clone">
                                Clonar
                            </a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadperiodoTurmaIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                clone: '<?php echo $urlClone;?>'
            }
        });
    });
</script>