<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-nucleo-sala'));
$paramUrl    = array('controller' => 'estagiogeral-nucleo-sala', 'action' => 'add');

if ($this->arrDados['estagiogeralSalaNucleoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['estagiogeralSalaNucleoId'];
}

$urlPesquisaEstagiogeralNucleo = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-nucleo', 'action' => 'search-for-json'));

$urlPesquisaInfraSala = $this
    ->url('infraestrutura/default', array('controller' => 'infra-sala', 'action' => 'search-for-json'));
$urlForm              = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-nucleo-sala-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-nucleo-sala-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="estagiogeralSalaNucleoId" id="estagiogeralSalaNucleoId"
                               value="<?php echo $this->arrDados['estagiogeralSalaNucleoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoId">Código:</label>
                                <input type="text" name="nucleoId" id="nucleoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['nucleoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="salaId">Código:</label>
                                <input type="text" name="salaId" id="salaId" class="form-control"
                                       placeholder="Código" maxlength="11"
                                       value="<?php echo $this->arrDados['salaId']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralNucleoSalaAdd({

                urlPesquisaEstagiogeralNucleo: '<?=$urlPesquisaEstagiogeralNucleo;?>',

                urlPesquisaInfraSala: '<?=$urlPesquisaInfraSala;?>',

            <?php echo $this->arrDados['nucleoId'] ? "\n,nucleoId:".json_encode($this->arrDados['nucleoId']) : ''; ?>,

        <?php echo $this->arrDados['salaId'] ? "\n,salaId:".json_encode($this->arrDados['salaId']) : ''; ?>
    });
    })
    ;
</script>