<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'atividadeperiodo-evento'));
$paramUrl    = array('controller' => 'atividadeperiodo-evento', 'action' => 'add');

if ($this->arrDados['eventoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['eventoId'];
}
$urlPesquisaPessoaFisica = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$urlPesquisaAtividadegeralTipo = $this
    ->url('atividades/default', array('controller' => 'atividadegeral-atividades', 'action' => 'search-for-json'));

$urlAtividadeSecretaria = $this
    ->url('atividades/default', array('controller' => 'atividadegeral-secretaria', 'action' => 'search-for-json'));

$urlAtividadePeriodoEvento = $this
    ->url('atividades/default', array('controller' => 'atividadeperiodo-evento', 'action' => 'search-for-json'));

$urlAtividadeResponsavel = $this
    ->url(
        'atividades/default',
        array('controller' => 'atividadegeral-nucleo-responsavel', 'action' => 'search-for-json')
    );

$urlForm = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('atividadeperiodo-evento-add', false, 'App');
?>
<style type="text/css">
    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="atividadeperiodo-evento-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="eventoId" id="eventoId"
                               value="<?php echo $this->arrDados['eventoId']; ?>">

                        <input type="hidden" name="usuarioCadastro" id="usuarioCadastro"
                               value="<?php echo $this->arrDados['usuarioCadastro']; ?>">

                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="atividadeSecretariaNome">Secretaria:</label>
                                    <input type="text" name="atividadeSecretariaNome" id="atividadeSecretariaNome"
                                           class="form-control"
                                           placeholder="Nome da secretaria" maxlength="45"
                                           value="<?php echo $this->arrDados['atividadeSecretariaNome']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="tipoAtividadeEvento">Categoria:</label>
                                    <input name="tipoAtividadeEvento" id="tipoAtividadeEvento"
                                           class="form-control" placeholder="Categoria do Evento"
                                           value="<?php echo $this->arrDados['tipoAtividadeEvento']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="eventoTipo">Tipo:</label>
                                    <input name="eventoTipo" id="eventoTipo"
                                           class="form-control" placeholder="Tipo do evento"
                                           value="<?php echo $this->arrDados['eventoTipo']; ?>">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="eventoNome">Nome:</label>
                                    <input type="text" name="eventoNome" id="eventoNome" class="form-control"
                                           placeholder="Nome do evento" maxlength="45" autocomplete="off"
                                           value="<?php echo $this->arrDados['eventoNome']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="eventoResponsavel">Responsável:</label>
                                    <input type="text" name="eventoResponsavel" id="eventoResponsavel"
                                           class="form-control" autocomplete="off"
                                           placeholder="Pessoa responsável" maxlength="45"
                                           value="<?php echo $this->arrDados['eventoResponsavel']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="eventoData">Data:</label>
                                    <input type="text" name="eventoData" id="eventoData" class="form-control"
                                           placeholder="Data do evento"
                                           value="<?php echo $this->arrDados['eventoData']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="eventoLotacao">Lotação do Evento:</label>
                                    <input type="text" name="eventoLotacao" id="eventoLotacao" class="form-control"
                                           placeholder="Lotação do evento"
                                           value="<?php echo $this->arrDados['eventoLotacao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="eventoHorasValidas">Horas de Evento:</label>
                                    <input type="text" name="eventoHorasValidas"
                                           placeholder="Duração em horas"
                                           id="eventoHorasValidas" class="form-control"
                                           value="<?php echo $this->arrDados['eventoHorasValidas']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="eventoDescricao">Descrição:</label>
                                    <textarea name="eventoDescricao" id="eventoDescricao" class="form-control"
                                              placeholder="Descrição do evento"
                                              rows="5"><?php echo $this->arrDados['eventoDescricao']; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.atividadeperiodoEventoAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>',
                atividadegeralTipo: '<?=$urlPesquisaAtividadegeralTipo;?>',
                atividadeSecretaria: '<?=$urlAtividadeSecretaria;?>',
                atividadePeriodoEvento: '<?= $urlAtividadePeriodoEvento;?>',

            },
            data: {
                dadosEvento: '<?=$this->arrDados;?>'
            },
            value: {}
        });
    });
</script>