<script>
    $(function () {
        $('form>footer').prepend(
            '<input type="button" name="addAction" id="addAction" value="Adicionar ação" class="btn btn-primary pull-left" />'
        );

        var insereLinhaAcao = function (dados, indiceAcao, funcionalidade) {
            dados = dados || [];
            var dadosDefault = [
                {"name": "actNome", "value": ""},
                {"name": "actLabel", "value": ""},
                {"name": "actIcon", "value": ""},
                {"name": "actInfo", "value": ""},
                {"name": "actTipo", "value": "Escrita"},
                {"name": "actVisivelUsuarioFinal", "value": "S"}
            ];

            dados = $.extend([], dadosDefault, dados);
            var $container = $("#actions");
            var id = false;

            indiceAcao = indiceAcao || false;
            funcionalidade = funcionalidade || false;

            if (indiceAcao) {
                id = indiceAcao;
            } else {
                indiceAcao = window.indiceAcao || 0
            }
            var getCampoNome = function (nome) {
                return 'acessoActions[' + indiceAcao + '][' + nome + ']';
            };

            var $linha = $("<tr/>");

            $.each(dados, function (indice, valor) {
                var coluna = '';
                var campoName = getCampoNome(valor.name);
                var validate = '';

                if (valor.name == "actNome" || valor.name == "actLabel") {
                    validate = ' data-validations="Required"';
                }

                if (valor.name == 'actVisivelUsuarioFinal') {
                    coluna = '<td>' +
                        '<label><input type="radio" name="' + campoName + '" value="S"' + (valor.value == 'S' ? ' checked' : '') + '> Sim</label><br>' +
                        '<label><input type="radio" name="' + campoName + '" value="N"' + (valor.value == 'N' ? ' checked' : '') + '> Não</label>' +
                        '</td>';
                } else if (valor.name == 'actTipo') {
                    coluna = '<td>' +
                        '<label><input type="radio" name="' + campoName + '" value="Leitura"' + (valor.value == 'Leitura' ? ' checked' : '') + '> Leitura</label><br>' +
                        '<label><input type="radio" name="' + campoName + '" value="Escrita"' + (valor.value == 'Escrita' ? ' checked' : '') + '> Escrita</label>' +
                        '</td>';
                } else {
                    coluna += '<td> <input type="text"' + validate + ' name="' + campoName + '" value="' + valor.value + '" /> </td>';
                }

                $linha.append(coluna);
            });

            $linha.append(
                '<td>' +
                '<button type="button" id="buscaNovasActionsFilhas" data-action-indice="' + indiceAcao + '" class="btn btn-primary"> <i class="fa fa-gear"></i> </button>' +
                '<div id="hiddenSubActions-' + indiceAcao + '"></div>' +
                '</td><td>' +
                '<button type="button" id="removeAction" class="btn btn-danger"> <i class="fa fa-minus-circle"></i> </button>' +
                '</td>'
            );

            if (id) {
                $linha.find('td:first').prepend(
                    '<input type="hidden" name="' + getCampoNome('id') + '" value="' + id + '" />'
                );
            }

            if (funcionalidade) {
                $linha.find('td:first').prepend(
                    '<input type="hidden" name="' + getCampoNome('funcionalidade') + '" value="' + funcionalidade + '" />'
                );
            }

            $container.append($linha);
            window.indiceAcao = indiceAcao + 1;
        };
        //carrega modal
        $.ajax({
            url: "<?=$this->basePath()?>" + "/acesso/acesso-funcionalidades/pesquisa-funcionalidades",
            type: 'post',
            async: false,
            data: {layout: false},
            success: function (html) {
                var modal = $spine().criaModal({
                    titulo: "Lista de actions",
                    conteudo: html,
                    returnHtml: true,
                    id: "modal-funcionalidades",
                    buttonOk: "Adicionar"
                });

                var $modal = $(modal);
                $modal.hide();
                $('body').append($modal);
            }
        });

        if ($("input[name=id]").val() != "") {
            $.ajax({
                url: "<?=$this->basePath()?>" + "/acesso/acesso-actions/search-for-json",
                data: {funcionalidade: $("input[name='id']").val()},
                type: 'post',
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data.data.length > 0) {
                        $("#actionNull").hide();
                    }

                    $.each(data.data, function (indice, value) {
                        insereLinhaAcao([
                            {"name": "actNome", "value": value.act_nome},
                            {"name": "actLabel", "value": value.act_label},
                            {"name": "actIcon", "value": value.act_icon},
                            {"name": "actInfo", "value": value.act_info},
                            {"name": "actTipo", "value": value.act_tipo},
                            {"name": "actVisivelUsuarioFinal", "value": value.act_visivel_usuario_final}
                        ], value.id, value.funcionalidade);

                        //  realiza uma busca para puxar as acoes filha da action pai
                        var id = value.id;

                        $.ajax({
                            url: "<?=$this->basePath()?>" + "/acesso/acesso-actions/busca-actions-filhas",
                            type: 'post',
                            data: {action: value.id},
                            async: false,
                            success: function (data) {
                                var inputs = "";

                                $.each(data.data, function (index, value) {
                                    inputs += '<input type="hidden" name="acessoSubActions[' + id + '][]" value="' + value + '" />';
                                });

                                $("#hiddenSubActions-" + id).html(inputs);
                            }
                        });
                    });
                }
            });
        }

        var indiceActions = 0;

        $("#addAction").click(function () {
            $("#actionNull").hide();
            insereLinhaAcao();
        });

        $(document).on("click", "button[id=removeAction]", function () {
            var $linha = $(this).closest('tr');
            var id = $linha.find('input[name*="[id]"]').val() || '';
            var removeLinha = function () {
                $linha.remove();

                if ($("#actions").find("tr").length == 1) {
                    $("#actionNull").show();
                }
            };

            if (id) {
                $.ajax({
                    url: "<?=$this->basePath()?>" + "/acesso/acesso-actions/remove",
                    data: {id: id, is_json: true},
                    datType: "json",
                    type: 'post'
                }).done(function (data) {
                    if (data.erro != undefined) {
                        $spine().criaModal({
                            titulo: "Mensagem do sistema",
                            id: 'msgSistema',
                            conteudo: "Ocorreu um erro remover a ação."
                            //conteudo: data.erro.msg || data.erro.erro.msg || data.erro.erro || data.erro || data
                        });
                    } else {
                        removeLinha();
                    }
                }).fail(function (a) {
                    $spine().criaModal({
                        titulo: "Mensagem do sistema",
                        id: 'msgSistema',
                        conteudo: "Ocorreu um erro remover a ação."
                    });
                });
            } else {
                removeLinha();
            }
        });

        $("#modal-funcionalidades button[id=buttonOk]").click(function (e) {
            var inputs = "";
            var id = $('#modal-funcionalidades').data('action') || "";

            $('#modal-funcionalidades input[name="acessoActions[]"]:checked').each(function () {
                inputs += '<input type="hidden" name="acessoSubActions[' + id + '][]" value="' + this.value + '" />';
            });

            $("#hiddenSubActions-" + id).html(inputs);
            $('#modal-funcionalidades input[name="acessoActions[]"]:checked').attr('checked', false);
            $('#modal-funcionalidades').modal('hide');
        });

        $(document).on("click", "button[id=buscaNovasActionsFilhas]", function () {
            var id = $(this).attr('data-action-indice');
            $('#modal-funcionalidades').data('action', id);
            $('#modal-funcionalidades :checkbox').prop('checked', '');

            $("#hiddenSubActions-" + id + ' input').each(function () {
                $('#modal-funcionalidades [value=' + this.value + ']:checkbox').prop('checked', 'checked');
            });
            $("#modal-funcionalidades").modal();
        });
    });
</script>
<?php
$this->spineJarvis()->openJarvis();

echo $this->spineJarvis()->openWidget(array('title' => 'Cadastro de funcionalidades', 'icon' => 'fa fa-gear'));

echo $this->form()->openTag($this->form);
echo "<fieldset>";

echo "<div class='row'>";
echo $this->formHidden($this->form->get("id"));
echo $this->spineForm()->formInput($this->form->get("funcNome"));
echo $this->spineForm()->formInput($this->form->get("funcController"));
echo "</div>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("modulo"));
echo $this->spineForm()->formInput($this->form->get("funcIcon"));
echo "</div>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("funcInfo"));
echo $this->spineForm()->formInput($this->form->get("funcStatus"));
echo $this->spineForm()->formInput($this->form->get("funcVisivel"));
echo "</div>";
?>
<div class="row">
    <div class="col col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="8" class="text-center">Ações vinculadas a funcionalidade</th>
            </tr>
            <tr>
                <th style="width: 20%;">Nome</th>
                <th style="width: 15%;">Label</th>
                <th style="width: 15%;">Ícone</th>
                <th style="width: 10%;">Info</th>
                <th style="width: 15%;">Tipo</th>
                <th style="width: 15%;">Visível ao usuário final</th>
                <th colspan="2" style="width: 10%;" class="text-center">
                    <i class="fa fa-gears"></i>
                </th>
            </tr>
            </thead>
            <tbody id="actions">
            <tr id="actionNull">
                <td colspan="8" class="text-center">Nenhuma ação vinculada</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<?php

echo "</fieldset>";
echo $this->spineForm()->formInput($this->form->get("enviar"));
echo $this->form()->closeTag();

echo $this->spineJarvis()->closeWidget();

$this->spineJarvis()->closeJarvis();
?>

