<?php
echo "<div class='tree smart-form'>";
echo "<ul id='_listaFuncionalidades'>";
foreach ($this->dados['sistemas'] as $sistema) {
    echo "<li>";
    echo "<span><i class='{$sistema['sis_icon']}'></i> {$sistema['sis_nome']} </span>";
    if (count($this->dados['modulos'][$sistema['id']]) > 0) {
        echo "<ul>";
        foreach ($this->dados['modulos'][$sistema['id']] as $modulo) {
            echo "<li>";
            echo "<span><i class='{$modulo['mod_icon']}'></i> {$modulo['mod_nome']} </span>";
            if (count($this->dados['funcionalidades'][$modulo['id']]) > 0) {
                echo "<ul>";

                foreach ($this->dados['funcionalidades'][$modulo['id']] as $func) {
                    echo "<li>";
                    echo "<span><i class='{$func['func_icon']}'></i> {$func['func_nome']} </span>";

                    if (count($this->dados['actions'][$func['id']]) > 0) {
                        echo "<ul>";

                        $acoes = array('Leitura' => array(), 'Escrita' => array());

                        foreach ($this->dados['actions'][$func['id']] as $action) {
                            foreach (array_keys($acoes) as $act) {
                                if ($action['act_tipo'] == $act) {
                                    $acoes[$act][] = '
                                    <li class="parent_li_li visible">
                                        <span>
                                            <input type="checkbox" data-check-parent="" value="' . $action['id'] . '" data-nome="' . $action['act_nome'] . '" name="acessoActions[]">
                                            <i class="' . $action['act_icon'] . '"></i> ' . ($action['act_label'] ? $action['act_label'] : $action['act_nome']) . '
                                        </span>
                                    </li>';
                                }
                            }
                        }

                        foreach ($acoes as $act => $arrAcoes) {
                            if (empty($arrAcoes)) {
                                continue;
                            }

                            echo '
                                <li>
                                    <span><i class=""></i>' . $act . '</span>
                                    <ul>
                                    ' . implode("", $arrAcoes) . '
                                    </ul>
                                </li>';
                        }
                        echo "</ul>";
                    }
                    echo "</li>";
                }
                echo "</ul>";
            }
            echo "</li>";
        }
        echo "</ul>";
    }
    echo "</li>";
}
echo "</ul>";
echo "</div>";
?>
<script type="text/javascript">
    <?php if($this->layout):?>$(function () {<?php endif;?>
        $('.tree li:has(ul)').each(function () {
            var $this = $(this);

            if (!$this.hasClass('parent_li')) {
                $this.addClass('parent_li')
            }
        });

        $('.tree li.parent_li > span').each(function (index, item) {
            var $item = $(item);

            if ($item.find('i.collapsable').length > 0) {
                return;
            }

            var $collapse = $('<i class="fa fa-minus-square-o collapsable">&nbsp;</i>');
            var $checkbox = $('<input type="checkbox" class="checkable">');
            $item.prepend('&nbsp;');
            $item.prepend($checkbox);
            $item.prepend($collapse);
        });

        $(document).on('click', 'i.collapsable', function (e) {
            var $parent = $(this).closest('li.parent_li');
            var $children = $parent.find('>ul>li');

            if ($children.is(":visible")) {
                $children.hide('fast', function () {
                    $parent
                        .find('>span>i.collapsable')
                        .addClass('fa-plus-square-o')
                        .removeClass('fa-minus-square-o');
                });
            } else {
                $children.show('fast', function () {
                    $parent
                        .find('>span>i.collapsable')
                        .addClass('fa-minus-square-o')
                        .removeClass('fa-plus-square-o');
                });
            }

            e.stopPropagation();
        });

        $(document).on('click', '.checkable', function (e) {
            var $this = $(this);
            var $parent = $this.closest('li.parent_li');
            var $list = $parent.find('>ul');
            var checked = $this.is(":checked");

            $list.find(':checkbox:checked').removeAttr('checked');

            if (checked) {
                $list.find(':checkbox').prop('checked', 'checked');
            }
        });
        <?php if($this->layout):?>
    });
    <?php endif;?>
</script>