<?php
$paramUrl = array('controller' => 'acad-curso', 'action' => 'search-for-json');
$urlCurso = $this->url('matricula/default', $paramUrl);

$paramUrl      = array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json');
$urlBuscaTurma = $this->url('matricula/default', $paramUrl);

$paramUrl = array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json');
$urlTurma = $this->url('matricula/default', $paramUrl);

$paramUrl           = array('controller' => 'acadperiodo-matriz-disciplina', 'action' => 'search-for-json');
$urlBuscaDisciplina = $this->url('matricula/default', $paramUrl);

$urlPeriodo = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));

$paramUrl                           = array(
    'controller' => 'acadperiodo-matriz-disciplina',
    'action'     => 'busca-turmas-que-ofertam-disciplina'
);
$urlBuscaTurmaqueOferecemDisciplina = $this->url('matricula/default', $paramUrl);

$paramUrl         = array('controller' => 'org-unidade-estudo', 'action' => 'search-for-json');
$urlUnidadeEstude = $this->url('organizacao/default', $paramUrl);

$paramUrl          = array('controller' => 'acadgeral-cadastro-origem', 'action' => 'search-for-json');
$urlOrigemCadastro = $this->url('matricula/default', $paramUrl);

$paramUrl             = array('controller' => 'org-agente-educacional', 'action' => 'search-for-json');
$urlAgenteEducacional = $this->url('organizacao/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('acadperiodo-aluno-add', false, 'App');
?>
<style>
    .input .select2-container {
        width: 100%;
    }

    .inputSelect2 .select2-container {
        width: 85%;
    }

    .app-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

</style>
<script language="JavaScript"
        src="<?php echo $this->basePath(); ?>/js/universa/matricula/acadperiodo-aluno/add.js?nocache=<?= date(
            "Y-m-d H:i:s"
        ) ?>"></script>
<script language="JavaScript"
        src="<?php echo $this->basePath(); ?>/js/universa/versa.shared.js?nocache=<?= date("Y-m-d H:i:s") ?>"></script>
<div role="content">
    <?php $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget(array('title' => 'Matricula de Aluno', 'icon' => 'fa fa-gear'));
    ?>

    <div class="widget-body fuelux">
        <div class="row">
            <div class="col-lg-12">
                <?= $this->form()->openTag($this->formAluno); ?>
                <div class="wizard">
                    <ul class="steps" style="margin-left: 0">
                        <li data-target="#step1" class="active">
                            <span class="badge badge-info">1</span>Dados Pessoais<span class="chevron"></span>
                        </li>
                        <li data-target="#step2" class="">
                            <span class="badge badge-info">2</span>Documentos e Responsável<span class="chevron"></span>
                        </li>
                        <li data-target="#step3" class="">
                            <span class="badge badge-info">3</span>Turma e disciplinas<span class="chevron"></span>
                        </li>
                    </ul>
                    <div class="actions">
                        <button type="button" class="btn btn-sm btn-primary btn-prev" id="prev" disabled="disabled">
                            <i class="fa fa-arrow-left"></i>Anterior
                        </button>
                        <button type="button" class="btn btn-sm btn-success" id="next">Próximo<i
                                class="fa fa-arrow-right"></i></button>
                        <input name="submit" id="submit" class="btn btn-sm btn-success btn-next hidden"
                               value="Cadastrar" type="submit">
                    </div>
                </div>

                <div class="step-content" style="padding-top:20px;">
                    <div class="step-pane active" id="step1">
                        <div class="row">
                            <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">

                                <div class="input input-file">
                                    <img id="preview_image" width="160" height="140"
                                         src="<?php echo $this->basePath(); ?>/smart-admin/img/userPerfilM.jpg"/>
                                </div>
                                <div class="note">

                                </div>
                            </section>
                            <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                <div class="row">
                                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                        <label class="label">Forma de Ingresso</label>
                                        <label class="select ">
                                            <i></i>
                                            <?php
                                            if ($this->inscricaoId):
                                                ?>
                                                <input type="hidden" name="alunoFormaIngresso" value="1">
                                                <?php
                                            endif;
                                            ?>

                                            <select name="tiposel" data-validations="Required">
                                                <?php foreach ($this->selecaoTipos as $id => $value): ?>
                                                    <option
                                                        value="<?= $id ?>" <?= ($value === $this->ingresso['ingresso']) ? "selected" : ''; ?>><?= $value ?></option>
                                                <?php endforeach ?>
                                            </select>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <?= $this->spineForm()->formInput(
                                        $this->formAluno->get("pesNacionalidade")->setAttributes(array('col' => 4))
                                    ); ?>
                                </div>
                            </section>
                        </div>

                        <div class="row" style="padding-bottom:30px;">
                            <section class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:30px; ">
                                <div class="input input-file">
                            <span class="button">
                                <input type="file" id="alunoFoto" name="alunoFoto" onchange="previewFile($(this));">Escolher foto
                            </span>
                                </div>
                            </section>
                        </div>

                        <fieldset>
                            <legend>Dados Pessoais</legend>
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesCpf")->setAttributes(array('col' => 1, 'id'))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesDocEstrangeiro")->setAttributes(array('col' => 1))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesNome")->setAttributes(array('col' => 4))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesDataNascimento")->setAttributes(array('col' => 1))
                                ); ?>
                                <?= $this->spineForm()->formInput($this->formAluno->get("pes")); ?>
                            </div>
                            <input type="hidden" name="alunoId">
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesRg")->setAttributes(array('col' => 2))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesRgEmissao")->setAttributes(array('col' => 2))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("alunoEtnia")->setAttributes(array('col' => 1))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesEstadoCivil")->setAttributes(array('col' => 1))
                                ); ?>
                            </div>
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesSexo")->setAttributes(array('col' => 2))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("pesNaturalidade")->setAttributes(array('col' => 2, 'id'))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno
                                        ->get("pesNascUf")
                                        ->setAttributes(array('col' => 2))
                                ); ?>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Filiação</legend>
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("alunoPai")->setAttributes(array('col' => 3))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("alunoMae")->setAttributes(array('col' => 3))
                                ); ?>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Endereço</legend>

                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endCep[]")->setAttributes(array('value' => '1'))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endLogradouro[]")->setAttributes(array('col' => 4))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("tipoEndereco")->setAttributes(array('value' => '1'))
                                ); ?>
                                <?= $this->spineForm()->formInput($this->formEndereco->get("endId[]")); ?>
                            </div>
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endNumero[]")->setAttributes(array('col' => 2))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endComplemento[]")->setAttributes(array('col' => 2))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endBairro[]")->setAttributes(array('col' => 2))
                                ); ?>
                            </div>
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endCidade[]")->setAttributes(array('col' => 3))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formEndereco->get("endEstado[]")->setAttributes(array('col' => 3))
                                ); ?>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>
                                Contato
                            </legend>
                            <div class="row">
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("alunoTelefone")->setAttributes(array('col' => 1))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("alunoCelular")->setAttributes(array('col' => 1))
                                ); ?>
                                <?= $this->spineForm()->formInput(
                                    $this->formAluno->get("alunoEmail")->setAttributes(array('col' => 4))
                                ); ?>
                            </div>
                        </fieldset>
                    </div>
                    <div class="step-pane" id="step2">

                        <?= $this->documentos->montaFormularios(); ?>
                        <div class="row" style="margin-top: 10px">
                            <?= $this->spineForm()->formInput($this->formAlunoCurso->get('alunocursoCarteira')); ?>
                            <?= $this->spineForm()->formInput($this->formAluno->get('alunoCertMilitar')); ?>
                            <?= $this->spineForm()->formInput($this->formAluno->get('alunoTituloEleitoral')); ?>
                            <?= $this->spineForm()->formInput($this->formAluno->get('alunoSecaoEleitoral')); ?>
                            <?= $this->spineForm()->formInput($this->formAluno->get('alunoZonaEleitoral')); ?>
                        </div>
                        <div class="row" style="margin-left: 1%;width:97% ">

                            <div class="col-sm-4 inputSelect2">
                                <label class="label">Agente Educacional</label>
                                <input type="text" name="pesIdAgente"
                                       class='pesIdAgente' placeholder="Selecione o Agente Educacional"
                                       data-validations="Required">
                            </div>

                            <div class="col-sm-4 inputSelect2">
                                <label class="label">Unidade de Estudo</label>
                                <input type="text" name="unidade"
                                       class='unidade' placeholder="Selecione a Unidade de Estudo"
                                       data-validations="Required">
                            </div>

                            <div class="col-sm-4 inputSelect2">
                                <label class="label">Origem de Cadastro</label>
                                <input type="text" name="origem"
                                       class='origem' placeholder="Selecione a Origem de Cadastro"
                                       data-validations="Required">
                            </div>

                        </div>

                        <h4 style="margin-left: 15px"><strong>Responsáveis</strong></h4>
                        <div class="row" style="margin: 10px">
                            <div class="row alert alert-info" style="margin: 0px;">
                                <div class="col-lg-6">
                                    <div class="btn-group active">
                                        <a class="btn btn-default" id='respAdd' style="padding:7px;">
                                            <i class="fa fa-plus"></i> Adicionar Responsável
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Ação</th>
                                    <th>Nome do Responsável</th>
                                    <th>Documento</th>
                                    <th>Vínculo</th>
                                </tr>
                                </thead>
                                <tbody id="tableResponsaveis">
                                </tbody>
                            </table>
                        </div>
                        <section id="resp" class="hidden col-xs-12">
                            <div class='col-lg-6 col-md-6 col-sm-12'>
                                <h3 class="panel-title" style="margin-left: 15px"><strong>Dados Pessoais:</strong></h3>
                                <div class="row">
                                    <?= $this->spineForm()->formInput(
                                        $this->formAlunoResponsavel->get("respNivel[]"),
                                        ['col' => '8', 'wrap' => true]
                                    ); ?>
                                </div>
                                <div class="row">
                                    <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
                                        <label class="label">Nacionalidade</label>
                                        <label class="select">
                                            <i></i>
                                            <select name="respPesNacionalidade" data-validations="Required">
                                                <option value="Brasileiro">Brasileiro</option>
                                                <option value="Estrangeiro">Estrangeiro</option>
                                                <option value="Naturalizado">Naturalizado</option>
                                                <option value="NULL" selected="selected">Selecione</option>
                                            </select>
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </div>
                                <div class="row" id="documentoResp">
                                    <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
                                        <label class="label">CPF/CNPJ</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-credit-card"></i>
                                            <input type="text" name="respPesCnpjCpf"
                                                   onchange="validaResponsavelDocumento(this)" class='cnpjCpf'
                                                   placeholder="Informe o CPF" data-validations="CnpjCpf" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
                                        <label class="label">Nome:</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="respPesNome" placeholder="Informe o Nome"
                                                   data-validations="Required,String" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </div>
                                <div class="row">
                                    <?= $this->spineForm()->formInput(
                                        $this->formAlunoResponsavel->get("respVinculo[]"),
                                        ['col' => '8', 'wrap' => true]
                                    ); ?>
                                </div>
                                <div class="row">
                                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                        <label class="label">RG:</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="respPesRg" placeholder="Informe o RG"
                                                   data-validations="Required" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                        <label class="label">Data de emissão do RG</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-calendar"></i>
                                            <input type="text" name="respPesRgEmissao" placeholder="Data de emissão"
                                                   data-validations="Required,Data" data-masked="Date" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </div>
                                <div class="row" style="padding-left:30px;">
                                    <a class="btn btn-primary" style="padding:7px;" id="adicionarResp">
                                        <i class="fa fa-plus"></i> Adicionar
                                    </a>
                                    <a class="btn btn-success hidden" style="padding:7px;" id="editaResp">
                                        <i class="fa fa-plus"></i> Editar
                                    </a>
                                </div>
                            </div>
                            <div class='col-lg-6 col-md-6 col-sm-12'>
                                <h3 class="panel-title" style="margin-left: 15px"><strong>Dados Residenciais:</strong>
                                </h3>
                                <div class='row'>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endCep[]"),
                                        array('wrap' => true, 'col' => 6, 'data-validations' => 'Required')
                                    ) ?>
                                </div>
                                <div class='row'>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endLogradouro[]"),
                                        array('wrap' => true, 'col' => 8, 'data-validations' => 'Required')
                                    ) ?>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endNumero[]"),
                                        array('wrap' => true, 'col' => 2)
                                    ) ?>
                                </div>
                                <div class='row'>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endComplemento[]"),
                                        array('wrap' => true, 'col' => 5)
                                    ) ?>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endBairro[]"),
                                        array('wrap' => true, 'col' => 5)
                                    ) ?>
                                </div>
                                <div class='row'>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endCidade[]"),
                                        array('wrap' => true, 'col' => 5)
                                    ) ?>
                                    <?= $this->spineForm()->formInput(
                                        $this->formEndereco->get("endEstado[]"),
                                        array('wrap' => true, 'col' => 5)
                                    ) ?>
                                </div>
                                <h3 class="panel-title" style="margin-left: 15px"><strong>Contato:</strong></h3>
                                <div class="row">
                                    <section class="col-lg-5 col-sm-5 col-xs-5" style="padding-left:30px;">
                                        <label class="label">Numero de telefone:</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-phone"></i>
                                            <input type="text" name="respTelefone"
                                                   placeholder="Informe o numero para contato" class="phone" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                    <section class="col-lg-5 col-sm-5 col-xs-5" style="padding-left:30px;">
                                        <label class="label">Numero de Celular:</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-phone"></i>
                                            <input type="text" name="respCelular"
                                                   placeholder="Informe o numero do celular" class="phone" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-lg-6 col-sm-6 col-xs-6" style="padding-left:30px;">
                                        <label class="label">E-mail:</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-envelope"></i>
                                            <input type="text" onchange="validateEmail(this)" name="respEmail"
                                                   placeholder="Informe o e-mail para contato" value="">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="step-pane" id="step3">
                        <input type="hidden" name="cursocampus" id="cursoCampusAddId">
                        <?php foreach ($this->situacoes as $situacao): ?>
                            <input type="hidden" name="situacao" value="<?= $situacao[1] ?>">
                        <?php endforeach ?>

                        <div class="col-sm-11">

                            <input type="hidden" name="cursoCampus" id="cursoCampus">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="idPeriodoLetivo">Periodo Letivo: </label>
                                    <input name="periodoLetivo" class="form-control" data-validations="Required"
                                           id="idPeriodoLetivo">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="cursoId">Curso: </label>
                                    <input name="curso" class="form-control" data-validations="Required" id="cursoId">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="alunoTurmaPrincipalId">Turma: </label>
                                    <input name="alunoTurmaPrincipal" class="form-control" id="alunoTurmaPrincipalId">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <fieldset style="padding: 0 14px 0 5px !important;">
                                <legend>Disciplinas</legend>
                            </fieldset>
                        </div>
                        <fieldset id="blocoDisciplinas" name="blocoDisciplinas">

                            <div class="row">
                                <section class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:30px;">
                                    <label class="text-align-left">
                                        Nome:
                                    </label>
                                </section>
                                <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">
                                    <label class="text-align-left">
                                        Periodo:
                                    </label>

                                </section>
                                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                    <label class="text-align-left">
                                        Turma:
                                    </label>

                                </section>
                            </div>

                        </fieldset>
                        <fieldset>
                            <div id="formBuscaDisciplina" hidden>
                                <div class="row">
                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:20px;">
                                        <label class="label">Disciplinas</label>
                                        <label class="input ">
                                            <input id="disciplinasBusca" name="disciplinasBusca"
                                                   data-validations="Required">
                                        </label>
                                    </section>
                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:20px;">
                                        <label class="label">Turma que ofertam está Disciplina</label>
                                        <label class="input ">
                                            <input id="turmasOfertantes" name="turmasOfertantes"
                                                   data-validations="Required">
                                        </label>
                                    </section>
                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:20px;">
                                        <label class="label">&nbsp</label>
                                        <label>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    onclick="salvaDisciplina()">Salvar Diciplina
                                            </button>
                                        </label>

                                    </section>
                                </div>
                            </div>
                            <div id="BtBuscaDisciplinas" class="row" style="padding-left:20px;">
                                <button type="button" class="btn btn-sm btn-primary"
                                        onclick="ExibeFormBuscaDisciplina(this)" id="btnAdicionarDisciplina"> Adicionar Disciplina
                                </button>
                            </div>
                            <div id="BtCancelaBuscaDisciplinas" class="row" style="padding-left:20px;" hidden="hidden">
                                <button type="button" class="btn btn-sm btn-danger"
                                        onclick="EscondeFormBuscaDisciplina()">Cancelar
                                </button>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
    echo $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
    ?>
    <!-- end widget content -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadperiodoAlunoAdd({
            url: {
                curso: '<?php echo $urlCurso;?>',
                turma: '<?php echo $urlTurma;?>',
                periodo: '<?php echo $urlPeriodo;?>',
                disciplinas: '<?php echo $urlBuscaDisciplina;?>',
                turmaDisciplina: '<?php echo $urlBuscaTurmaqueOferecemDisciplina;?>',
                agenteEducacional: '<?php echo $urlAgenteEducacional;?>',
                unidadeEstudo: '<?php echo $urlUnidadeEstude;?>',
                origemCadastro: '<?php echo $urlOrigemCadastro;?>',
                buscaTurma: '<?php echo $urlBuscaTurma;?>'
            },
            value: {
                arrPeriodo: <?= json_encode($this->arrPeriodo) ?>,
                arrEstadoCivil: <?= json_encode($this->arrEstadoCivil) ?>
            }
        });
    });
</script>