<?php

$getString     = function ($numChars) {
    return str_repeat('_', $numChars);
};
$getStringMask = function ($mask) {
    return str_replace(' ', '_', $mask);
};
?>
<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <style>
        * {
            page-break-inside: auto;
            page-break-inside: avoid;
        }

        p {
            text-align: justify;
            margin: 6px 0px;
        }

        p, pre, table {
            font-size: 0.75em;
        }

        table {
            margin: 0px;
        }

        td {
            padding: 2px;
        }

        .footer {
            border-top: 1px solid;
            text-align: center;
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
        }

        .footer-right {
            position: absolute;
            right: 0px;
            padding: 1px;
        }

        .pagenum {
            background: #999999;
            text-align: center;
            display: block;
            width: 20px;
            height: 20px;
            font-size: 15px;
        }

        .pagenum:before {
            content: counter(page);
        }
    </style>
</head>
<body>
<div class="footer">

    <?= $this->endereco; ?> – tel.: <?= $this->campTelefone; ?>
    <div class="footer-right">
        <div class="pagenum"></div>
    </div>
</div>
<table style="width:90%;">
    <tr>
        <td width="20%">
            <img src="<?php echo $this->logo; ?>" width="180px"/>
        </td>
        <td width="30%" style="text-align: center">
            <h3><?php echo $this->mantenedora; ?></h3>

            <h3>CONTRATO DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS</h3>
        </td>
    </tr>
    <hr>
</table>
<p>
    PELO PRESENTE INSTRUMENTO PARTICULAR DE CONTRATO, O <b><?= $this->mantenedora; ?></b>, ENTIDADE MANTENEDORA DA
    <b><?= $this->iesFantasia; ?></b> - <b><?= $this->iesNome; ?></b>, COM A MATRIZ SITUADA À
    <b><?= $this->iesEndLogradouro; ?></b>, Nº <b><?= $this->iesEndNumero; ?></b>, BAIRRO
    <b><?= $this->iesEndBairro; ?></b>, INSCRITO NO CNPJ/MF <b><?= $this->pesCnpj; ?></b>, E SUA FILIAL SITUADA À
    AV.
    EVANDI AMÉRICO COMARELA, Nº 441, BAIRRO ESPLANADA, SALAS 401 A 414, 501 A 506, 513 A 516 E SALA 523, INSCRITA NO CNPJ/MF
    04.004.880/0002-06, AMBAS SITUADAS EM <b><?= $this->iesEndCidade; ?></b> - <b><?= $this->iesEndEstado; ?></b>,
    POR
    MEIO DE SEU REPRESENTANTE LEGAL, DORAVANTE DENOMINADA <b>CONTRATADA</b>, E POR OUTRO LADO
    <b><?php echo ($this->pes) ? mb_strtoupper($this->pes->getPesNome()) : $getString(60); ?></b>, ALUNO(A) DO CURSO
    DE
    <b><?php echo ($this->alunoCurso['cursocampus']) ? mb_strtoupper(
            $this->alunoCurso['cursocampus']['cursoNome']
        ) : $getString(60); ?></b>, <b><?php echo ($this->alunoCurso['cursocampus']) ? mb_strtoupper(
            $this->alunoCurso['cursocampus']['nivelNome']
        ) : $getString(20); ?></b>, MATRICULADO(A) SOB O Nº
    <b><?php echo ($this->alunoCurso['alunocursoId']) ? mb_strtoupper(
            $this->alunoCurso['alunocursoId']
        ) : $getString(
            12
        ); ?></b>, NO <b><?php echo ($this->matricula->getTurma()->getTurmaSerie()) ? mb_strtoupper(
            $this->matricula->getTurma()->getTurmaSerie()
        ) : $getString(3); ?>º</b> PERÍODO, RESIDENTE À
    <b><?php echo ($this->alunoCurso['endLogradouro']) ? mb_strtoupper(
            $this->alunoCurso['endLogradouro']
        ) : $getString(
            20
        ); ?></b>, Nº <b><?php echo ($this->alunoCurso['endNumero']) ? mb_strtoupper(
            $this->alunoCurso['endNumero']
        ) : $getString(4); ?></b>º BAIRRO: <b><?php echo ($this->alunoCurso['endBairro']) ? mb_strtoupper(
            $this->alunoCurso['endBairro']
        ) : $getString(10); ?></b> MUNICÍPIO: <b><?php echo ($this->alunoCurso['endCidade']) ? mb_strtoupper(
            $this->alunoCurso['endCidade']
        ) : $getString(10); ?></b> ESTADO: <b><?php echo ($this->alunoCurso['endCidade']) ? mb_strtoupper(
            $this->alunoCurso['endCidade']
        ) : $getString(10); ?></b> CEP: <b><?php echo ($this->alunoCurso['endCep']) ? mb_strtoupper(
            $this->alunoCurso['endCep']
        ) : $getString(10); ?></b> RG: <b><?php echo ($this->alunoCurso['pesRg']) ? mb_strtoupper(
            $this->alunoCurso['pesRg']
        ) : $getString(10); ?></b> CPF: <b><?php echo ($this->alunoCurso['pesCpf']) ? mb_strtoupper(
            $this->alunoCurso['pesCpf']
        ) : $getString(10); ?></b>, DORAVANTE DENOMINADO <b>CONTRATANTE</b>, NESTE INSTRUMENTO, TEM JUSTO E
    CONTRATADO O
    SEGUINTE:
</p>

<p>
    <b>CLÁUSULA PRIMEIRA </b>- O objeto do presente contrato é a prestação de serviços educacionais no período
    <b><?php echo ($this->periodo[0]) ? $this->periodo[0]['per_nome'] : '&nbsp;'; ?></b>, com início no mês de
    <b>JULHO/2018</b>, para o <b><?php echo ($this->matricula->getTurma()->getTurmaSerie(
        )) ? mb_strtoupper($this->matricula->getTurma()->getTurmaSerie()) : $getString(3); ?>º</b> Período do curso
    de
    <b><?php echo ($this->alunoCurso['cursocampus']) ? mb_strtoupper(
            $this->alunoCurso['cursocampus']['cursoNome']
        ) : $getString(60); ?></b>, <b><?php echo ($this->alunoCurso['cursocampus']) ? mb_strtoupper(
            $this->alunoCurso['cursocampus']['nivelNome']
        ) : $getString(20); ?></b>, em conformidade com o previsto em conformidade com a Legislação do Ensino Nacional e no
    Regimento Interno da <b><?= $this->iesFantasia; ?></b> - <b><?= $this->iesNome; ?></b>, cujas determinações
    integram o presente instrumento para aplicação subsidiária e em casos omissos.
</p>

<p>
    <b>§ 1º</b> - Reserva-se a <b>CONTRATADA</b>, até 5(cinco) dias antes do início de cada período letivo, o
    direito de
    cancelar qualquer turma cujo número de alunos seja inferior a 25(vinte e cinco), proporcionando ao
    <b>CONTRATANTE</b>, neste caso, o direito de ocupar uma vaga em outra turma da mesma natureza, no mesmo ou em
    outro
    turno, desde que exista tal possibilidade.
    <b>OBSERVAÇÃO: O parágrafo primeiro refere-se somente ao 1º período do ano de ingresso do aluno.</b>
</p>

<p>
    <b>CLÁUSULA SEGUNDA </b>- A prestação de serviços educacionais, obedecida a legislação pertinente, será feita
    conforme proposta educacional da <b><?= $this->iesFantasia; ?></b> - <b><?= $this->iesNome; ?></b>, sendo de
    inteira
    responsabilidade desta, o planejamento de ensino, a elaboração do cronograma para as provas finais, fixação de
    cargas horárias para disciplinas, designação de professores, orientação didático-pedagógica, educacional e
    disciplinar, além de outras que se tornarem necessárias a seu critério.
</p>

<p>
    <b>§ 1º</b> - Os serviços contratados serão prestados nas dependências destinadas para esse fim, na matriz e
    filial
    da
    <b><?= $this->iesFantasia; ?></b> - <b><?= $this->iesNome; ?></b> podendo a <b>CONTRATADA</b> a qualquer tempo
    proceder alterações nas atividades aqui mencionadas, bem como no local de sua realização, procedendo com a
    prévia
    comunicação ao <b>CONTRATANTE</b>, através de qualquer meio de divulgação.
</p>

<p>
    <b>CLÁUSULA TERCEIRA </b>- Pelos serviços educacionais referidos na Cláusula Primeira, o <b>CONTRATANTE</b>
    pagará a
    <b>CONTRATADA</b>, no <b><?php echo ($this->periodo[0]) ? $this->periodo[0]['per_semestre'] : '&nbsp;'; ?>º
        Semestre de <?php echo ($this->periodo[0]) ? $this->periodo[0]['per_ano'] : '&nbsp;'; ?></b>, <?php echo ($this->valoresMatricula[0]) ? $this->valoresMatricula[0]['valoresParcela'] : '&nbsp;'; ?>
    parcela de R$ <?php echo ($this->valoresMatricula[0]) ? $this->valoresMatricula[0]['valoresPreco'] : '&nbsp;'; ?> referente à Matrícula/Rematrícula, e mais
    5 parcelas de R$ <?php echo ($this->valoresMensalidade[0] ) ? number_format(
        $this->valoresMensalidade[0]['valoresPreco'],2,
        ',',
        '.'
    ) : '&nbsp;'; ?>, com vencimento conforme especificado no boleto de cada mês. Após o vencimento o <b>CONTRATANTE</b>, pagará o valor com as devidas taxas constantes na <b>CLÁUSULA
        QUARTA.
</p>

<p>
    <b>§ 1º</b>- A primeira parcela será cobrada no ato da matrícula e/ou da renovação da matrícula,
    sendo ela integral ou parcial, respeitando as políticas e ano de ingresso do aluno e tem caráter de arras/penitenciais(garantia de contratação),
    razão pela qual não será devolvida, no todo ou em parte no caso de desistência por parte do <b>CONTRATANTE</b>, sendo imprescindível sua quitação para celebração e concretização do presente contrato.
</p>

<p>
    <b>§ 2º</b> - Não estão incluídos neste contrato, nem são remunerados pelo preço aqui estabelecido, quaisquer
    serviços
    especiais tais como: atividades extracurriculares, segunda chamada, atividades de freqüência facultativa, exames
    especiais, transporte escolar, refeições e/ou lanches, apostilas, e ainda a realização de atividades
    relacionadas ao
    desenvolvimento de monografia e estágios práticos, bem como o processamento de requerimentos, estando estes e
    outros
    serviços, descritos na Tabela de Serviços Educacionais a disposição na Secretaria e Tesouraria da
    <b>CONTRATADA</b>.
</p>

<p>
    <b>§ 3º</b> - Em conformidade com a Portaria 40 do MEC, estão incluídos nos serviços a expedição de diploma e de
    histórico,
    sendo ambos em papel A4 – 75 g, gerados em impressora laser da própria instituição, recortados em dimensões
    adequadas.
</p>

<p>
    <b>CLÁUSULA QUARTA </b>- Ocorrendo atraso no pagamento de qualquer das parcelas, o <b>CONTRATANTE</b> pagará à
    <b>CONTRATADA</b>,
    além do valor principal, multa de 2% (dois por cento) sobre o valor da prestação em atraso, correção monetária,
    se
    houver, e juros de mora de 0,033% ao dia, pró-rata tempore, sobre o valor principal, acrescidos de correção
    monetária.
</p>

<p>
    <b>§ 1º</b> - No caso de atraso no pagamento das parcelas, a <b>CONTRATADA</b>, ficará desde já autorizada a
    emitir
    contra
    o <b>CONTRATANTE</b> título de crédito com o valor da parcela acrescido de correção, juros e multa já descritos,
    além de efetuar cobrança pelos meios previstos na Legislação comum aplicável e recusar a renovação da matrícula
    para
    o período letivo seguinte.
</p>

<p>
    <b>§ 2º</b>- Poderá a <b>CONTRATADA</b>, para cobrança de seu crédito, valer-se de firma especializada em
    recuperação de
    créditos, ou de profissionais da advocacia, sendo que neste caso o <b>CONTRATANTE</b> inadimplente responderá,
    também, por taxas e honorários devidos aos mesmos, ainda que se dê o pagamento por vias extra-judiciais (Lei
    8.078
    de 11.09.90, art. 51 inciso XII).
</p>

<p>
    <b>CLÁUSULA QUINTA </b>- Pelo valor dos serviços educacionais previamente fixados na <b>CLÁUSULA TERCEIRA</b>, o <b>CONTRATANTE</b>
        cursará todas as disciplinas oferecidas na matriz curricular para o período letivo
        <b><?php echo ($this->periodo[0]) ? $this->periodo[0]['per_nome'] : '&nbsp;'; ?></b>.
</p>

<p>
    <b>§ 1º</b> - Caso o <b>CONTRATANTE</b> venha a pedir dispensa de disciplina, o que dependerá de autorização da
    <b>CONTRATADA</b>
    ou se matricule em número menor do que o ofertado naquele período, ainda assim, a mensalidade permanecerá com o
    valor integral fixado para o período letivo.
</p>

<p>
    <b>CLÁUSULA SEXTA </b>- Os valores das parcelas do presente Contrato de Prestação de Serviços Educacionais,
    válidos
    para o período letivo de <b><?php echo ($this->periodo[0]) ? $this->periodo[0]['per_nome'] : '&nbsp;'; ?></b>,
    só
    poderão ser reajustados por determinação do Poder Público ou alteração na legislação.
</p>

<p>
    <b>CLÁUSULA SÉTIMA </b>- A <b>CONTRATADA</b> poderá, por iniciativa própria, fornecer ao(a) <b>CONTRATANTE</b>,
    descontos nas mensalidades de acordo com a tabela abaixo, além de bolsas ofertadas pelos Governos Federal (FIES)
    Estadual (Nossa Bolsa), Municipal (Convênios) e por empresas particulares.
</p>

<p>
    <b>§ 1º</b> - O <b>CONTRATANTE</b> contemplado com Bolsas ofertadas pela <b>CONTRATADA</b> conforme política e ano de ingresso pagará integralmente
    ou parcialmente a 1ª parcela referente à matrícula e/ou rematrícula e terá o desconto nas demais parcelas (2ª a 6ª parcelas).
</p>
<pre>
( ) NOSSA BOLSA _____;             ( ) 50% SEGUNDA GRADUAÇÃO;<br>
( ) PROUNI _____;                  ( ) 50% TÉCNICOS;<br>
( ) FIES _____;                    ( ) 50% TRANFERÊNCIA;<br>
( ) CDL _____;                     ( ) 50% CONVÊNIO EMPRESARIAL;<br>
( ) INDICAÇÃO DE AMIGO _____;      ( ) 50% ENEM.<br>
AQUISIÇÃO DE OUTRA BOLSA (especificar qual): __________________________________<br>
</pre>
<p>
    <b>§ 2º</b> - O desconto é válido para todas as disciplinas cursadas pela primeira vez, exceto o programa
    PROUNI.
    Caso o
    <b>CONTRATANTE</b> reprove ou abandone a qualquer momento, alguma matéria, quando cursá-la novamente, pagará
    100% de
    seu valor.
</p>

<p>
    <b>§ 3º</b> - O <b>CONTRATANTE</b> será contemplado com a bolsa/financiamento:<br>
    ( ) ATÉ SUA FORMAÇÃO ou; até a mesma ser cancelada ou, por algum motivo, o aluno vier a perdê-la<br>
    
    ( ) DURANTE O SEMESTRE (podendo ser renovada até sua formação). 
</p>

<p>
    <b>CLÁUSULA OITAVA </b>- Serão obedecidas as normas gerais da educação, autorizadas e fiscalizadas pelo Poder
    Público (Constituição Federal - art. 209), conforme Legislação em vigor durante o período do contrato.
</p>

<p>
    <b>CLÁUSULA NONA </b>- Se o contrato for rescindido culposamente, a parte culpada pagará à parte inocente, a
    título
    de reparação de perdas e danos previamente combinada, quantia correspondente à todas as parcelas vincendas,
    corrigidas e reajustadas (art. 159c/c 1.056 e 1.059 do Código Civil).
</p>

<p>
    <b>CLÁUSULA DÉCIMA </b>- Será concedido trancamento e/ou cancelamento de matrícula somente quando solicitado por
    escrito e desde que dentro do período determinado no Calendário Escolar do período letivo, para tanto devendo o
    <b>CONTRATANTE</b>
    estar em dia com a(s) parcela(s) até a data do trancamento e/ou cancelamento.
</p>

<p>
    <b>§ 1º</b> - O trancamento da matrícula só poderá ser efetivado após a conclusão, de no mínimo, 01(um) período
    letivo.
</p>

<p>
    <b>§ 2º</b> - O trancamento e/ou cancelamento será requerido à Secretaria da <b>CONTRATADA</b>, em formulário
    próprio,
    oferecido pela mesma onde o <b>CONTRATANTE</b> deverá informar o período de trancamento, que não poderá
    ultrapassar
    01 (um) ano. Caso não regularize sua matrícula após esse período, sua situação acadêmica será considerada como
    abandono de curso.
</p>

<p>
    <b>§ 3º</b> - Caso o trancamento e/ou cancelamento não seja formalizado, o contrato continuará em vigor e o
    <b>CONTRATANTE</b> deverá pagar todas as parcelas previstas neste contrato, com os valores devidamente
    atualizados.
</p>

<p>
    <b>CLÁUSULA DÉCIMA PRIMEIRA </b>- O <b>CONTRATANTE</b>, menor de 18 (dezoito) anos, no ato da matrícula ou sua
    renovação, deverá assinar o presente Contrato de Prestação de Serviços Educacionais, conjuntamente com o seu
    Responsável Legal.
</p>

<p>
    <b>CLÁUSULA DÉCIMA SEGUNDA </b>- O <b>CONTRATANTE</b>, bem como seu Responsável Legal, tendo conhecimento prévio
    das
    condições deste contrato, aceitando-as, estão cientes de que o estabelecimento de ensino possui Normas Gerais de
    Funcionamento, constante no Regimento Interno da <b>CONTRATADA</b>, bem como no Regimento Próprio da Biblioteca,
    à
    disposição para leitura na Secretaria e Biblioteca da mesma, que integram o contrato, comprometendo-se desde já
    a
    aceitá-las.
</p>

<p>
    <b>CLÁUSULA DÉCIMA TERCEIRA </b>- O <b>CONTRATANTE</b> autoriza a título gratuito, que a <b>CONTRATADA</b>
    utilize
    sua imagem e voz, captados e transmitidos por qualquer meio ou mídia, para promoção e divulgação da própria
    instituição de ensino, sendo vedada a exploração econômica da venda do respectivo material produzido.
</p>

<p>
    <b>CLÁUSULA DÉCIMA QUARTA </b>- Em caso de ajuizada uma ação judicial, no todo ou em parte, sobre os valores,
    condições e determinações constantes deste instrumento, o <b>CONTRATANTE</b> continuará pagando os valores nele
    estabelecido, até decisão final, transitada em julgado.
</p>

<p>
    <b>CLÁUSULA DÉCIMA QUINTA </b>- As partes elegem para dirimir quaisquer dúvidas inerentes a este contrato o foro
    de
    <b><?= $this->iesEndCidade; ?></b> - <b><?= $this->iesEndEstado; ?></b>. E, por estarem justos e acordados,
    assinam
    o presente instrumento em duas vias.
</p>
<br>
<div style="text-align: center">
    <b><?= $this->iesEndCidade; ?></b> - <b><?= $this->iesEndEstado; ?>, 02 de Julho de 2018 </b>
</div>

<br>
<br>
<br>
<table>
    <tr>
        <td style="width: 300px; text-align: center;">
            ______________________________________<br><b>Leandro Xavier Timóteo</b><br>
            <b>CONTRATADA</b>
        </td>
        <td style="width: 300px; padding-left: 30px; text-align: center" >
            ______________________________________<br>
          <b>  Assinatura do aluno</b><br>
            <b>CONTRATANTE</b>
        </td>
    </tr>
</table>

<p style="text-align: inherit; padding-top: 10px">
    _________________________________________________________<br>
    <b>Assinatura do responsável Legal/Fiador</b><br>
    <b>Nome:</b><br>
    <b>CPF:</b>
</p>
<h4>
    Testemunhas
</h4>
<table>
    <tr>
        <td style="width: 350px; border-bottom: solid">
            <b>1)Ass:</b>
        </td>
        <td style="width: 300px; border-bottom: solid">
            <b>2)Ass:</b>
        </td>
    </tr>
    <tr>
        <td>
            Nome:
        </td>
        <td>
            Nome:
        </td>
    </tr>
    <tr>
        <td>
            CPF:
        </td>
        <td>
            CPF:
        </td>
    </tr>
</table>
</body>
