<?php
$getString = function ($numChars) {
    return str_repeat('_', $numChars);
};
$getStringMask = function ($mask) {
    return str_replace(' ', '_', $mask);
};
?>
<head>
    <style>
        * {
            page-break-inside: auto;
            page-break-inside: avoid;
        }

        p {
            text-align: justify;
            margin: 6px 0px;
        }

        table {
            margin: 0px;
        }

        td {
            padding: 2px;
        }

        .footer {
            border-top: 1px solid;
            text-align: center;
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
        }

        .footer-right {
            position: absolute;
            right: 0px;
            padding: 1px;
        }

        .pagenum {
            background: #999999;
            text-align: center;
            display: block;
            width: 20px;
            height: 20px;
            font-size: 15px;
        }

        .pagenum:before {
            content: counter(page);
        }
    </style>
</head>
<body>
<div class="footer">
    Rua Dom Pedro II, 244 – Centro – Governador Valadares - MG – tel.: (33) 3271-2004
    <div class="footer-right"><div class="pagenum"></div></div>
</div>
<table style="width:90%;">
    <tr>
        <td width="20%">
            <img src="<?php echo $this->logo; ?>" width="180px"/>
        </td>
        <td width="30%">
            <h3>SOCIEDADE SIMPLES CULTURA E EDUCAÇÃO MANTENEDORA DA FDVRD</h3>
        </td>
    </tr>
    <hr>
</table>

<h3 style="text-align: center">CONTRATO DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS</h3>
<table width="100%">
    <tr>
        <td width="30%">

        </td>
        <td width="30%">
            <b>Ano <u><?php echo ($this->periodo[0]) ? $this->periodo[0]['per_ano'] : '&nbsp;'; ?></u> -
                <u><?php echo ($this->periodo[0]) ? $this->periodo[0]['per_nome'] : '&nbsp;'; ?></u></b>
        </td>
        <td width="30%">

        </td>
    </tr>
    <tr>
        <td width="30%">

        </td>
        <td width="30%">
            Matricula Nº: <u><?php echo ($this->matricula) ? str_pad(
                    $this->matricula->getAlunocurso()->getAlunocursoId(),
                    10,
                    '0',
                    STR_PAD_LEFT
                ) : '&nbsp;'; ?></u>
        </td>
        <td width="30%">

        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td style="text-align: justify;word-wrap: break-word;height: 520px; vertical-align: bottom;padding: 0px">
    Pelo presente Instrumento de <b>CONTRATO DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS</b>, considerando o disposto no art.
    5º, inc. II; art. 173, § 4º e art. 209, da Constituição Federal; o previsto no Código Civil, na Lei nº 9.870/99 e MP
    2.173, de 23/08/2001; as disposições da Lei nº 8.078/90, de um lado, o(a) aluno (a) (ou seu responsável legal, se
    menor) doravante denominado <b>CONTRATANTE</b>,
    <b><?php echo ($this->pes) ? mb_strtoupper($this->pes->getPesNome()) : $getString(60); ?></b>
    filho de
    <?php echo ($this->acadGeralAluno) ? mb_strtoupper($this->acadGeralAluno->getAlunoMae()) : $getString(60); ?>
    e
    <?php echo ($this->acadGeralAluno) ? mb_strtoupper($this->acadGeralAluno->getAlunoPai()) : $getString(60); ?>
    Nacionalidade
    <?php echo ($this->pes) ? mb_strtoupper($this->pes->getPesNacionalidade()) : $getString(60); ?>
    , Data de Nasc.
    <?php echo ($this->pesFisica) ? mb_strtoupper($this->pesFisica->getPesDataNascimento()) : $getStringMask(
        '  /  /    '
    ); ?>
    , Estado Civil
    <?php echo ($this->pesFisica && $this->pesFisica->getPesEstadoCivil()) ? mb_strtoupper(
        $this->pesFisica->getPesEstadoCivil()
    ) : $getString(15); ?>
    Profissão
    <?php echo $getString(60); ?>, RG N°
    <?php echo ($this->pesFisica) ? mb_strtoupper($this->pesFisica->getPesRg()) : $getString(15); ?>
    , CPF Nº
    <?php echo ($this->pesFisica) ? mb_strtoupper($this->pesFisica->getPesCpf()) : $getString(20); ?>
    residente e domiciliado à Rua/Av.
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndLogradouro()) : $getString(60); ?>
    nº
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndNumero()) : $getString(5); ?>
    , compl.
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndComplemento()) : $getString(50); ?>
    , Bairro
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndBairro()) : $getString(50); ?>
    , CEP
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndCep()) : $getStringMask('     -   '); ?>
    , Cidade / Estado:
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndCidade()) : $getString(50); ?>
    /
    <?php echo ($this->obJendereco) ? mb_strtoupper($this->obJendereco->getEndEstado()) : $getString(10); ?>
    , tel. nª
    <?php echo ($this->telefone[0]) ? mb_strtoupper($this->telefone[0]) : $getStringMask('(  )     -    '); ?>
    cel. nª
    <?php echo ($this->celular[0]) ? mb_strtoupper($this->celular[0]) : $getStringMask('(  )     -    '); ?>
    , "e-mail"
    <?php echo ($this->email[0]) ? mb_strtoupper($this->email[0]) : $getString(50); ?>
    e seu <b>representante legal/financeiro, </b>
    <?php echo ($this->responsavel) ? mb_strtoupper($this->responsavel->getPes()->getPesNome()) : $getString(60); ?>
    Nacionalidade
    <?php echo ($this->pesFisicaResp) ? mb_strtoupper(
        $this->pesFisicaResp->getPes()->getPesNacionalidade()
    ) : $getString(60); ?>
    , Data Nasc.
    <?php echo ($this->pesFisicaResp) ? mb_strtoupper($this->pesFisicaResp->getPesDataNascimento()) : $getStringMask(
        '  /  /    '
    ); ?>
    , Estado Civil
    <?php echo ($this->pesFisicaResp) ? mb_strtoupper($this->pesFisicaResp->getPesEstadoCivil()) : $getString(15); ?>
    RG N°
    <?php echo ($this->pesFisicaResp) ? mb_strtoupper($this->pesFisicaResp->getPesRg()) : $getString(15); ?>
    , CPF Nº
    <?php echo ($this->pesFisicaResp) ? mb_strtoupper($this->pesFisicaResp->getPesCpf()) : $getString(20); ?>
    residente e domiciliado à Rua/Av.
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndLogradouro()) : $getString(60); ?>
    nº
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndNumero()) : $getString(5); ?>
    , compl.
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndComplemento()) : $getString(50); ?>
    , Bairro
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndBairro()) : $getString(50); ?>
    , CEP
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndCep()) : $getStringMask('     -   '); ?>
    , Cidade / Estado:
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndCidade()) : $getString(50); ?>
    /
    <?php echo ($this->respEndereco) ? mb_strtoupper($this->respEndereco->getEndEstado()) : $getString(10); ?>
    , tel. nª
    <?php echo ($this->respTel[0]) ? mb_strtoupper($this->respTel[0]) : $getStringMask('(  )     -    '); ?>
    cel. nª
    <?php echo ($this->respCel[0]) ? mb_strtoupper($this->respCel[0]) : $getStringMask('(  )     -    '); ?>
    , "e-mail"
    <?php echo ($this->respEmail[0]) ? mb_strtoupper($this->respEmail[0]) : $getString(50); ?>
    e,
    de outro lado, doravante denominada <b>CONTRATADA</b>, a <b>SOCIEDADE SIMPLES CULTURA E EDUCAÇÃO</b>,
    mantenedora da Faculdade de Direito do Vale do Rio Doce - Fadivale, sediada na Rua Dom Pedro II, nº 244, Centro,
    35010-090, Governador Valadares - MG, inscrita no CNPJ/MF sob o nº 20.620.449/0002-40, que ora firmam as partes,
    obrigam-se mutuamente, por si ou seus sucessores, a respeitar e cumprir o seguinte:
</td>
</tr>
</table>

<p>
    <b>CLÁUSULA 1ª</b> &#151; O objetivo do presente contrato é a prestação de serviços educacionais de nível superior,
    ministrados coletivamente e em igualdade de condições para todos os alunos da classe normal e regular, durante o
    <b><?php echo $this->periodo[0]['per_nome']; ?></b> letivo de <b><?php echo $this->periodo[0]['per_ano']; ?></b>, no
    <b><?php echo $getString(3)/*$this->matricula->getTurma()->getTurmaSerie()*/; ?>º</b> período do
    <b>CURSO DE DIREITO</b>
    , no TURNO <b><?php echo $getString(15)/*mb_strtoupper($this->matricula->getTurma()->getTurmaTurno())*/; ?></b>,
    que, em conformidade com o previsto na legislação de ensino e no Regimento Interno da Faculdade, a CONTRATADA se
    compromete a prestar, por intermédio de sua mantida.
</p>

<p>
    <b>§ 1º</b> - O aluno, assim que matriculado, estará sujeito às normas do Regimento Escolar que estará à sua
    disposição no site e na Secretaria da Faculdade, integrando-se ao presente Instrumento (direitos e obrigações do
    aluno), para aplicação subsidiária e, em relação aos casos omissos.
</p>

<p>
    <b>§ 2º</b> - Não estão incluídos neste contrato os serviços especiais de adaptação, dependência, exames especiais,
    atividades de frequência facultativa para o aluno, pedido de reingresso, multa de biblioteca, requerimento de 2ª
    chamada de avaliação, análise de currículo, histórico escolar, o fornecimento de certidões, declarações, segunda via
    de documentos escolares, bem como aqueles que não integram a vida acadêmica e demais atividades disciplinadas por
    circulares da direção da Faculdade.
</p>

<p>
    <b>§ 3º</b> - Constitui responsabilidade adicional dos contratantes, com pagamento à parte, o custo com atendimento,
    serviços, equipamentos, pessoal e material especiais de que o aluno, individualmente, por condições próprias,
    necessitar, pago diretamente a terceiros fornecedores ou prestadores quando for o caso, mesmo que a matrícula
    decorra de ato de autoridade competente.
</p>

<p>
    <b>CLÁUSULA 2ª</b> &#151; Como contraprestação pelos serviços educacionais referidos na Cláusula Primeira, o
    CONTRATANTE pagará à CONTRATADA uma SEMESTRALIDADE no valor de R$ 6.090,00 (seis mil e noventa reais), dividida em
    06 (seis) parcelas mensais, fixadas de acordo com a planilha de custos, na forma da lei, cada uma delas no valor de
    <b>R$ 1.015,00 (hum mil e quinze reais)</b>. O valor previsto nesta cláusula poderá sofrer alteração, a cada ano
    letivo, por força de norma federal.
</p>

<p>
    <b>§ 1º</b>- A primeira parcela será paga no ato da matrícula e corresponderá ao mês de <b>JULHO</b>, primeiro da
    semestralidade, podendo ser devolvida quando houver desistência formal (por escrito) do aluno, dirigida à Diretoria
    da Faculdade de Direito, até o dia anterior ao do início do semestre letivo, com retenção de 20% (vinte por cento),
    para cobrir despesas administrativas.
</p>

<p>
    <b>§ 2º</b>- As demais parcelas deverão ser pagas, mensalmente, com vencimento no dia 1º (primeiro) de cada mês, a
    partir de <b>AGOSTO</b>, com direito ao desconto previsto no § 3º, abaixo.
</p>

<p>
    <b>§ 3º</b>- Ao aluno que pagar a sua mensalidade até o dia 05 (cinco) do mês de vencimento, será concedido um
    desconto de R$ 50,00 (cinquenta reais), no valor da mensalidade.
</p>

<p>
    <b>§ 4º</b>- Incidirá sobre a parcela inadimplida, a partir do dia 05 do mês de vencimento, atualização monetária,
    “pro rata die”, com base na variação do INPC, ou outro índice que o substitua, a critério da Faculdade, mais
    acréscimos de 0,033% (zero vírgula zero trinta e três por cento) de juros de mora ao dia, e multa de 2% (dois por
    cento), bem como poderá a CONTRATADA adotar as providências legais de cobrança cabíveis, inclusive, inscrever o nome
    do CONTRATANTE ou de seu responsável legal/financeiro em cadastro ou serviços legalmente constituídos e destinados à
    proteção da cobrança do crédito advindo deste contrato, valendo o presente contrato como título executivo
    extrajudicial, nos termos do art. 585, II do Código de Processo Civil, reconhecendo, o CONTRATANTE ou seu
    representante legal/financeiro, desde já, este título como líquido, certo e exigível ou, ainda, qualquer tipo de
    cobrança prevista na legislação brasileira, independentemente de prévia notificação, podendo tais providências serem
    tomadas isoladas, gradativa ou cumulativamente.
</p>

<p>
    <b>§ 5º</b>- Outras formas de pagamento do valor da semestralidade, especificado no caput, poderão ser objeto de
    acerto entre as partes, onde o valor integral da anuidade deve ser preservado.
</p>

<p>
    <b>§ 6º</b>- O valor da contraprestação acima pactuado poderá ser reajustado quando expressamente permitido por lei,
    bem como para preservar o equilíbrio contratual, caso qualquer mudança legislativa ou normativa altere a equação
    econômico-financeira do presente instrumento.
</p>

<p>
    <b>§ 7º</b>- A CONTRATADA, por mera liberalidade, poderá conceder descontos, a qualquer título, individual ou
    coletivamente, de forma contínua ou sobre determinada parcela específica, sobre valores devidos pelo(s)
    CONTRATANTE(s), o que não caracterizará novação, podendo, desta forma, esses descontos serem reduzidos ou
    cancelados, a qualquer tempo, a critério exclusivo da CONTRATADA. Em caso de inadimplência ou atraso no pagamento
    das mensalidades, o(s) CONTRATANTE(s) perderá todo e qualquer desconto do qual seja eventualmente beneficiário.
</p>

<p>
    <b>§ 8º</b>- O não comparecimento do aluno aos atos acadêmicos ora contratados não o exime do pagamento das
    parcelas, tendo em vista a disponibilidade do serviço colocado à disposição pela CONTRATADA. Da mesma forma, quando
    o CONTRATANTE contratar os serviços da CONTRATADA após o início do período letivo, não fará jus a nenhum tipo de
    desconto ou redução do valor total cobrado pelo respectivo período letivo.
</p>

<p>
    <b>§ 9º</b>- A inadimplência há mais de 90 dias acarretará a inclusão do nome do CONTRATANTE no SCPC, conforme
    previsto no Código de Defesa do Consumidor, art. 43 e parágrafos. A CONTRATADA, ainda, poderá ajuizar ação de
    cobrança no prazo legal após o vencimento de cada mensalidade, ação de execução nos termos da lei, bem como
    extrajudicial do débito, por si ou por meio de escritórios especializados e Cartório de Protestos de Títulos, sendo
    que nestes casos o(s) CONTRATANTE(s) inadimplente(s) responderá (m) também, por honorários a estes devidos.
</p>

<p>
    <b>CLÁUSULA 3ª</b> &#151; O aluno já matriculado, salvo quando inadimplente, terá direito à renovação da matrícula,
    observado o calendário escolar da instituição, o regimento da escola ou cláusula contratual. Ao início do próximo
    semestre letivo, aquele que não providenciou a renovação de sua matrícula para o período em curso, no prazo
    estipulado pela Faculdade e, portanto, não integrando o corpo discente, fica proibido de assistir às aulas de
    quaisquer disciplinas, reconhecendo que se o fizer age dolosamente, não podendo invocar, com tal conduta, qualquer
    benefício.
</p>

<p>
    <b>CLÁUSULA 4ª</b> &#151; Terminado o semestre letivo e permanecendo o aluno inadimplente, a CONTRATADA, nos termos
    da Lei 9.870/99, poderá promover o seu desligamento da Instituição, desobrigando-se de renovar sua matrícula, sem a
    plena quitação do débito remanescente.
</p>

<p>
    <b>CLÁUSULA 5ª</b> &#151; A transferência do aluno durante a vigência do presente contrato deverá ser feita através
    de requerimento por escrito do(a) CONTRATANTE ou de seu representante legal, se for o caso, dirigido à Diretoria da
    Faculdade, observadas as disposições legais e do Regimento Interno, estando o(a) CONTRATANTE ciente de que o
    documento hábil para continuidade de estudos, em outro estabelecimento, será entregue no prazo máximo de 05 dias
    úteis, ficando convencionado que tal procedimento importa em rescisão automática do presente contrato;
</p>

<p>
    <b>§ 1º</b>– Se a rescisão tiver por motivo a transferência, trancamento ou desistência do aluno será calculado o
    valor proporcional da parcela, levando-se em consideração os dias compreendidos entre a data do requerimento e do
    seu efetivo desligamento. No caso da não apresentação do requerimento previsto nesta cláusula, o Contrato continuará
    em vigor e o(s) CONTRATANTE(s) deverá(ão) pagar todas as parcelas previstas neste Contrato, com os valores das
    parcelas devidamente atualizados.
</p>

<p>
    <b>CLÁUSULA 6ª</b> &#151; O CONTRATANTE cede, gratuitamente, o direito de imagem do aluno, para figurar,
    individualmente ou coletivamente, em atividade curricular ou extracurricular de que participar, em campanhas
    institucionais e campanhas publicitárias em geral da CONTRATADA, que não sejam baseadas em pessoa individualizada,
    bem como resultados em concursos, competições, premiações, ou eventos, para todos os efeitos legais, observada a
    moral e os bons costumes, sem que tal divulgação compreenda qualquer direito de pagamento, indenização, participação
    ou compensação, à qualquer título.
</p>

<p>
    <b>CLÁUSULA 7ª</b> &#151; A CONTRATADA não se responsabiliza pela guarda e consequente indenização decorrente do
    extravio ou dos danos causados a qualquer objeto levado ou esquecido ao estabelecimento da CONTRATADA, inclusive
    papel moeda, aparelhos eletrônicos ou documentos, pertencentes ao(s) CONTRATANTE(s) ou sob a posse do(s)
    CONTRATANTE(s), do DISCENTE, ou de seus prepostos, ou acompanhantes, o que isenta a CONTRATADA de qualquer
    responsabilidade, civil ou criminal, exceto se decorrentes de atos de seus subordinados, bem como por meios de
    transportes estacionados (automóveis, motocicletas e bicicletas) nas suas dependências e ou objetos deixados no
    interior dos veículos.
</p>

<p>
    <b>CLÁUSULA 8ª</b> &#151; A CONTRATADA será indenizada pelo(s) CONTRATANTE(s) por qualquer dano ou prejuízo que este
    ou o aluno, preposto ou acompanhante de qualquer um deles, venha causar nos edifícios, instalações, mobiliários ou
    equipamentos da CONTRATADA.
</p>

<p>
    <b>CLÁUSULA 9ª</b> &#151; A CONTRATADA poderá a qualquer tempo e motivo enviar correspondências via correio,
    empresas contratadas e ainda mensagens e textos através de arquivos eletrônicos, exemplificando: emails, sms`s ou
    qualquer outros meio similar ou outro que venha a ser criado em substituição aos informados e ou novas formas de
    envio.
</p>

<p>
    <b>CLÁUSULA 10ª</b> &#151; O presente contrato poderá ser rescindido antes do seu vencimento ou da respectiva
    renovação:
</p>

<div style="padding-left: 30px;">
    <p>
        <b>a)</b> Pela CONTRATADA: pela prática de ato infracional ou por motivo disciplinar dado pelo aluno CONTRATANTE, ou
        outro previsto no Regimento Interno, ou por incompatibilidade ou desarmonia do aluno CONTRATANTE, ou seu
        responsável, com o regime ou filosofia da Faculdade;
    </p>

    <p>
        <b>b)</b> Pelo CONTRATANTE, a qualquer tempo, observando a cláusula 5ª deste Instrumento;
    </p>

    <p>
        <b>c)</b> Por acordo entre as partes;
    </p>

    <p>
        <b>d)</b> Em razão do descumprimento de quaisquer das obrigações previstas neste instrumento;
    </p>
</div>
<p>
    <b>CLÁUSULA 11ª</b> &#151; A CONTRATADA poderá sem prévio aviso transferir os direitos e obrigações deste
    instrumento para outra personalidade jurídica ou terceiros.
</p>

<p>
    <b>CLÁUSULA 12ª</b> &#151; A CONTRATADA não estará obrigada a renovar a matrícula do beneficiário do(s)
    CONTRATANTE(s), para o período letivo posterior, caso este não tenha cumprido rigorosamente as cláusulas do presente
    Contrato.
</p>

<p>
    <b>CLÁUSULA 13ª</b> &#151; Não terá validade a matrícula se houver débito anterior ou se requerida para série não
    permitida ao aluno. O pagamento em cheque, quando aceito, terá caráter provisório e de liberalidade, ficando a
    matrícula condicionada à sua compensação.
</p>

<p>
    <b>CLÁUSULA 14ª</b> &#151; OS CONTRATANTES são responsáveis, civil e penalmente, pela veracidade e autenticidade dos
    dados, declarações, informações e documentos que fornecem e pelas consequências que deles advierem.
</p>

<p>
    <b>CLÁUSULA 15ª</b> &#151; Fica eleito o foro da Comarca de Governador Valadares-MG, para dirimir quaisquer dúvidas,
    porventura oriundas deste instrumento.
</p>

<p>
    E, por se acharem, assim, justos e contratados, mandaram digitar o presente contrato, em 02 (duas) vias de igual
    teor e forma, que assinam, na presença das duas testemunhas instrumentárias, adiante assinadas, para que produzam
    todos os efeitos legais.
</p>

<p style="text-align: center">
    Gov. Valadares-MG, _____ de _______________ de ________.
</p>
<br>
<table>
    <tr>
        <td style="width: 300px;">
            ______________________________________<br>CONTRATANTE
        </td>
        <td style="width: 300px; padding-left: 30px">
            ______________________________________<br>Responsavel Legal/ Reponsável Financeiro
        </td>
    </tr>
</table>
<p style="text-align: center; padding-top: 20px">
    _________________________________________________________<br>
    CONTRATADA
</p>
<h4>
    Testemunhas
</h4>
<table>
    <tr>
        <td style="width: 350px; border-bottom: solid">
            <b>1)Ass:</b>
        </td>
        <td style="width: 300px; border-bottom: solid">
            <b>2)Ass:</b>
        </td>
    </tr>
    <tr>
        <td>
            Nome:
        </td>
        <td>
            Nome:
        </td>
    </tr>
    <tr>
        <td>
            CPF:
        </td>
        <td>
            CPF:
        </td>
    </tr>
</table>
</body>