<?php
$getString = function ($numChars) {
    return str_repeat('_', $numChars);
};
$getStringMask = function ($mask) {
    return str_replace(' ', '_', $mask);
};
?>
<head>
    <style>
        * {
            page-break-inside: auto;
            page-break-inside: avoid;
        }

        p {
            text-align: justify;
            margin: 6px 0px;
        }

        table {
            margin: 0px;
        }

        td {
            padding: 2px;
        }

        .footer {
            border-top: 1px solid;
            text-align: center;
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
        }

        .footer-right {
            position: absolute;
            right: 0px;
            padding: 1px;
        }

        .pagenum {
            background: #999999;
            text-align: center;
            display: block;
            width: 20px;
            height: 20px;
            font-size: 15px;
        }

        .pagenum:before {
            content: counter(page);
        }
    </style>
</head>
<body>
Por favor entre em contato para definir o contrato da instituíção!
</body>