<?php

$paramUrl = array("controller" => "acadperiodo-aluno");

$paramUrl['action']     = 'listagem-alunos';
$urlSearch              = $this->url("matricula/default", $paramUrl);
$paramUrl['action']     = 'add';
$urlAdd                 = $this->url("matricula/default", $paramUrl);
$paramUrl['action']     = 'adiciona-alunos-migracao-que-tem-alunocurso-mas-nao-tem-alunoperido';
$urlMatriculaAlunoCurso = $this->url("matricula/default", $paramUrl);
$paramUrl['action']     = 'edit';
$urlEdit                = $this->url("matricula/default", $paramUrl);

$urlCampusCurso = $this
    ->url('matricula/default', array('controller' => 'campusCurso', 'action' => 'search-for-json'));

$urlCampus = $this
    ->url('organizacao/default', array('controller' => 'orgCampus', 'action' => 'search-for-json'));

$urlCurso = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));

$urlPeriodo = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));

$paramUrl = array("controller" => "acadgeral-alunocurso");

$paramUrl['action'] = 'matricula';
$urlMatricula       = $this->url("matricula/default", $paramUrl);
$urlTurma           = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadperiodo-aluno-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright">
                    <div class="panel-body">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>Informações Acadêmicas:</legend>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="perId">Período:</label>
                                        <input name="perId" id="perId"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="campusCurso">Campus:</label>
                                        <input name="campusCurso" id="campusCurso"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cursoId">Curso:</label>
                                        <input name="cursoId" id="cursoId"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="turmaId">Turma:</label>
                                        <input type="text" name="turmaId" id="turmaId"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="situacao">Situação:</label>
                                        <input type="text" name="situacao" id="situacao"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary"
                                    id="alunosFiltroExecutar">
                                <i class="fa fa-search"></i>
                                Filtrar resultados
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    id="alunosFiltroLimpar">
                                <i class="fa fa-clear"></i>
                                Limpar filtros
                            </button>
                        </div>
                    </div>
                </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dataTable">
                        <table class="table table-striped table-bordered table-hover" width="100%"
                   id="dataTableAcadperiodoAluno">
                <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Período Letivo</th>
                    <th>Campus</th>
                    <th>Curso</th>
                    <th>Turma</th>
                    <th>Situação</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
                        <footer class="text-center">
                            <a href="<?php echo($this->novaTelaDeMatricula ? $urlMatricula : $urlAdd); ?>" type="button"
                               class="btn btn-primary">
                                Nova Matricula
                            </a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="acadperiodoAlunoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadperiodoAlunoIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                add: '<?php echo $urlAdd;?>',
                edit: '<?php echo $urlEdit;?>',
                matriculaAlunoCurso: '<?php echo $urlMatriculaAlunoCurso;?>',
                campusCurso: '<?php echo $urlCampusCurso;?>',
                campus: '<?php echo $urlCampus;?>',
                curso: '<?php echo $urlCurso;?>',
                periodo: '<?php echo $urlPeriodo;?>',
                turma: '<?=$urlTurma;?>'
            },
            data: {
                ultimoPeriodoLetivo: <?=json_encode($this->ultimoPeriodoLetivo);?>,
                arrSituacao: <?=json_encode($this->arrSituacao);?>
            },
            value: {
                periodoLetivo: <?= json_encode($this->periodoLetivo);?>
            }
        });
    });
</script>