<?php
// inclui JS da página
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('prova-integrada', false, 'App');
// url pra salvar gabarito
$urlUpdateGabarito = $this->url(
    "matricula/default",
    array("controller" => "Aluno", "action" => "update-gabarito-integradora")
);

if (!$this->integradora['integradora']) {
    echo '<div class="col-sm-12 text-center">Sem informações disponíveis.</div>';

    return;
}

?>
<style type="text/css">
    .icon {
        padding-top: 1%
    }

    .option-gabarito-10 {
        width: 8%;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
    }

    .area-icone {
        width: 9%;
        display: inline-block;
    }

    .area-gabarito {
        width: 90%;
        display: inline-block;
    }

    .status-error {
        border-color: #e45858;
    }

    .anulada {
        border-color: #4689e4;
    }

    .anuladaIcon {
        width: 3%;
        display: inline-block;
        text-align: center;
    }

    .loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    .subtitle {
        text-align: left;
    }
</style>

<fieldset>
    <div class="row">
        <section class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Disciplina</th>
                        <th>Situação</th>
                        <th>Qtd. Acerto</th>
                        <th>NDI</th>
                        <th>Nota Final</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->integradora['disciplinas'] as $pos => $intg) {
                        if ($intg['NGC']) {
                            $ngc      = $intg['NGC'];
                            $qtd_disc = $intg['QuantDisciplinas'];
                            $peso     = $intg['PontosPorQuestao'];
                        }
                        ?>
                        <tr>
                            <td><?= $pos + 1 ?></td>
                            <td><?= $intg['Disciplina'] ?></td>
                            <td><?= $intg['SituacaoMatricula'] ?></td>
                            <td><?= $intg['AcertosDisciplina'] ?></td>
                            <td><?= $intg['NDI'] ?></td>
                            <td><?= ($intg['NDI'] > $intg['NFD']) ? $intg['NDI'] : $intg['NFD'] ?></td>
                        </tr>
                    <?php } ?>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</fieldset>
<fieldset>
    <div class="row">
        <section class="col-sm-2 margin-left-smart">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th>NGC</th>
                        <th>Qtd. Disc.</th>
                        <th>Peso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><?= $ngc ?></td>
                        <td><?= $qtd_disc ?></td>
                        <td><?= $peso ?></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="col-sm-2">
            <button class="btn btn-default" data-toggle="modal" data-target="#gabarito">Gabarito
            </button>
        </section>
    </div>
</fieldset>

<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="gabarito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p>
                <h5 class="modal-title" id="myModalLabel">Gabarito Integrada: </h5>
                </p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <?php
                    $integradoraId = false;
                    foreach ($this->integradora['disciplinas'] as $intg) {
                        if ($intg['SituacaoMatricula'] == "Presente" || $intg['SituacaoMatricula'] == "Ausente") {
                            if ($intg['integradora_id']) {
                                $integradoraId = $intg['integradora_id'];
                            }
                            ?>
                            <div class="col-sm-12 col-md-6 ">
                                <h6><?= strtoupper($intg['Disciplina']) ?></h6>
                                <input type="hidden" name="alunodisc[]" value="<?= (int)$intg['alunodisc_id'] ?>">
                                <input type="hidden" name="respostasId[]" value="<?= $intg['respostas_id'] ?>">
                                <input type="hidden" name="integradorasId[]" value="<?= $intg['integradora_id'] ?>">

                                <div>
                                    <div class="area-icone">
                                        <i class="fa fa-file-text-o fa-lg fa-1x"></i>
                                    </div>
                                    <div class="area-gabarito">
                                        <?php for ($i = 0; $i < count($intg['gabarito']); $i++) {
                                            $resp     = $intg['AcertosRespostas'][$i];
                                            $valid    = $intg['gabaritoValidate'][$i];
                                            $class    = "";
                                            $readonly = "";

                                            $resp = (ctype_alpha($resp)) ? $resp : '';

                                            if ($valid != 'Sim') {
                                                $resp     = "*";
                                                $class    = "anulada";
                                                $readonly = "readonly";
                                            }
                                            ?>
                                            <input type="text" name="gabaritoAluno[]" maxlength="1"
                                                   class="option-gabarito-10 <?= $class ?>"
                                                   value="<?= $resp ?>" <?= $readonly ?>>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div>
                                    <div class="area-icone">
                                        <i class="fa fa-list-alt fa-lg fa-1x"></i>
                                    </div>
                                    <div class="area-gabarito">
                                        <?php foreach ($intg['gabarito'] as $resp) {
                                            ?>
                                            <div class="option-gabarito-10"><?= $resp ?></div>
                                        <?php } ?>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <?php
                        }
                    }
                    ?>
                </div>
            </div>
            <div class="modal-footer">
                <div class="subtitle">
                    <p>
                        <i class="fa fa-file-text-o fa-lg fa-1x"></i> - Respostas Aluno
                    </p>

                    <p>
                        <i class="fa fa-list-alt fa-lg fa-1x"></i> - Respostas Gabarito
                    </p>

                    <p>
                        <input type="text" name="gabaritoAluno[]" maxlength="1" class="anulada anuladaIcon"
                               value="*" readonly> - Questões Anuladas (Pontos Concedidos)
                    </p>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" id="updateGabarito" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>
<?= $this->layoutComponent()->getJS('header') ?>
<?= $this->layoutComponent()->getJS() ?>
<script type="text/javascript">
    $(document).ready(function () {
        $.provaIntegrada({
            baseUrl: '<?=$this->basePath()?>',
            urlUpdateGabarito: '<?=$urlUpdateGabarito?>',
            gabarito: <?=json_encode(array_column($this->integradora['disciplinas'], 'gabarito'))?>,
            gabaritoValidate: <?=json_encode(array_column($this->integradora['disciplinas'], 'gabaritoValidate'))?>,
            integradoraPrincipal: '<?=$this->integradora['integradora']?>',
            integradoraFechada: '<?=$this->integradora['editaNotasIntegradora']?>'
        });
    });
</script>
