<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        p {
            text-align: justify;
        }

        .linha {
            margin-top: 10px;
        }

        xmp {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
        .quadrado{
            border: 1px solid black;
            width: 20px;
            height: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

        }

        table td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<img src="<?= $this->logo ?>" width="180px">
<br><br>ILMº. Sr(a). Diretor(a) da <?= $this->ies ?>,<br><br>

Eu,<strong> <?= mb_strtoupper($this->pes->getPesNome(), 'UTF-8') ?></strong>, aluno(a) do curso de
<strong><?= $this->curso ?></strong>,
Matrícula Nº
<strong><?= ($this->matricula) ? ltrim($this->matricula->getAlunocurso()->getAlunocursoId(), '0') : ''; ?></strong>,

venho solicitar a V.Sª. matrícula no <strong><?= $this->disciplinas['turmaSerie'] ?>° período</strong> do
curso de <strong><?= $this->curso ?></strong>.<br><br>


<pre style="border: 1px solid black; padding: 4px;">
                            ATUALIZAÇÃO CADASTRAL
Endereço _____________________________________________________ Número ____________
Complemento ______________________________________________________________________
Bairro ____________________________ Cidade _______________________________________
Etnia:( )Branca ( )Parda ( )Negra ( )Indíg. ( )Amarela ( )N. declarada/Não dispõe
UF_________ CEP_________________
Tel. Residencial _____________ Tel. Comercial _____________ Celular ______________
E-mail ___________________________________________________________________________
</pre>
<table style=" font-size: 10px">
    <tr>
        <td style="text-align: center" colspan="2"><b>DISCIPLINAS A SEREM CURSADAS</b></td>
    </tr>
    <tr>
        <td><b>TURMA</b></td>
        <td><b>DISCIPLINA</b></td>
    </tr>
    <?php foreach ($this->disciplinas as $disciplina) { ?>
        <?php if (is_array($disciplina)) { ?>
            <tr>
                <td><?= $this->disciplinas['turmaNome'] ?></td>
                <td><?= $disciplina['discNome'] ?></td>
            </tr>
        <?php } ?>
    <?php } ?>
</table>
</div>
           <div style="position: relative; text-align: center">

               <br>OBSERVAÇÕES
               _______________________________________________________________________________<br>
               _______________________________________________________________________________<br>


    <p style="text-align: center; margin-top:30px">
       ______________________________________________________________________<br>
       <?= mb_strtoupper($this->pes->getPesNome(), 'UTF-8') ?>
    </p>


<div style="width: 100%; border: solid black; padding: 10px; font-size: 9px">

    <h3 style="text-align: center">COMPROVANTE DE REMATRÍCULA:</h3>

    <p>
        NOME DO(A) ALUNO(A): <?= mb_strtoupper($this->pes->getPesNome(), 'UTF-8') ?>
    </p>

    <p>
        CURSO: <?= mb_strtoupper($this->curso, 'UTF-8') ?>
    </p>

    <p>
        PERÍODO:
        <?= mb_strtoupper($this->disciplinas['turmaSerie'], 'UTF-8') ?>° período, TURMA:
        <?= mb_strtoupper($this->disciplinas['turmaNome'], 'UTF-8') ?>, TURNO:
        <?= mb_strtoupper($this->disciplinas['turmaTurno'], 'UTF-8') ?>
    </p>

    <p style="text-align: left">
        DATA____/____/______
    </p>

    <p style="text-align: right">
        ______________________________________________<br>
        Assinatura do funcionário responsável
    </p>
</div>

<div style="position: fixed;left: 460px; bottom: -100px;right: 100px; height: 100px; font-size: 60%">Impresso
    em: <?= $this->dataBase ?></div>
</body>