<?php

?>
<head>
    <style>
p{
    text-align: justify;
        }
        .linha {
    margin-top: 20px;

    </style>
</head>
<body>
    <table width="90%" >
        <tr>
            <td width="20%">
                <img src="<?= $this->logo ?>" width="180px"/>
            </td>
            <td width="30%">
                <h3>ILMº. sr. diretor da <?= $this->ies ?> </h3>
            </td>
        </tr>
        <hr>
    </table>
    <table class="linha">
        <tr>
            <td style="border-bottom: solid; width: 500px">
                <b><?= mb_strtoupper($this->pes->getPesNome()); ?></b>
</td>
<td>
    , Matrícula Nº
</td>
<td style="border-bottom: solid">
    <b><?= ($this->matricula) ? ltrim($this->matricula->getAlunocurso()->getAlunocursoId(), '0') : ''; ?>
</td>
</tr>
</table>
<table class="linha">
    <tr>
        <td style="width: 69px;">
            residente na rua
        </td>
        <td style="width: 300px; border-bottom: solid;">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndLogradouro()) : '' ?>
        </td>
        <td style="width: 3px;">
            Nº
        </td>
        <td style="width: 40px; border-bottom: solid;">
            <b><?= ($this->endereco) ? $this->endereco->getEndNumero() : '' ?></b>
        </td>
        <td style="width: 10px">
            Compl.
        </td>
        <td style="width: 65px; border-bottom: solid">
            <b><?= ($this->endereco->getEndComplemento()) ? mb_strtoupper($this->endereco->getEndComplemento()) : '' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            Bairro
        </td>
        <td style="border-bottom: solid; width: 225px">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndBairro()) : '' ?></b>
        </td>
        <td>
            Fone: resid.
        </td>
        <td style="border-bottom: solid; width: 120px">
            <b><?= ($this->telefone[0]) ? $this->telefone[0] : '(&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-' ?></b>
        </td>
        <td>
            Cel.
        </td>
        <td style="border-bottom: solid; width: 120px">
            <b><?= ($this->celular[0]) ? $this->celular[0] : '(&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            CEP:
        </td>
        <td style="border-bottom: solid; width: 100px">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndCep()) : '' ?></b>
        </td>
        <td>
            na cidade de
        </td>
        <td style="border-bottom: solid; width: 390px;">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndCidade()) : '' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            Estado
        </td>
        <td style="border-bottom: solid; width: 230px">
            <b><?= ($this->endereco) ? mb_strtoupper(explode('-', $this->endereco->getEndEstado())[1]) : '' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            e-mail
        </td>
        <td style="width: 600px; border-bottom: solid">
            <b><?= ($this->email) ? mb_strtoupper($this->email[0]) : '' ?></b>
        </td>
    </tr>
</table>
<p style="margin-top: 15px">
    respeitosamente requer a V.Sª. sua matrícula no CURSO DE GRADUAÇÃO EM <?= $this->curso ?>,
    desta faculdade, desde já declarando ter conhecimento e concordar em cumprir o Regimento Interno da
    <?= $this->ies ?> e seu projeto pedagógico.<br><br>
</p>
    <p>
        <b>1-</b> TER CONHECIMENTO DE QUE O ENQUADRAMENTO NO PERIODO LETIVO ADEQUADO SE FARA APÓS APURAÇÃO DOS RESULTADOS FINAIS, NÃO ESTANDO   DEFINIDO PELA SIMPLES MATRÍCULA;<br><br>
        <b>2-</b> QUE TRÊS REPROVAÇÕES IMPEDEM A MATRICULA NO PERÍODO SEGUINTE;<br><br>
        <b>3- </b>TER CONHECIMENTO E CONCORDAR EM CUMPRIR O REGIMENTO DA <?= $this->ies ?> E SEU PROJETO PEDAGOGICO;

    </p></br></br>
<p>
    Nestes termos.<br><br>
    Pede deferimento.<br><br>
    <?= $this->cidade ?>, _______ de _______________________________ de 20___.
</p>
<p style="text-align: center; margin-top:50px">
    _______________________________________________________<br>
    Assinatura do Requerente
</p>
<div style="width: 100%; border: solid black">
    <h3 style="margin:10px; font-size: 15px">INFORMAÇÕES DA SECRETARIA:</h3>
    <p style="margin: 10px; font-size: 15px">
        _____________________________________________________________________________________<br><br>
        _____________________________________________________________________________________<br><br>

        DATA____/____/______INFORMANTE___________________________________________________
    </p>
</div>
<div style="width: 100%; border: solid black; margin-top: 10px">
    <p style="margin: 10px; font-size: 15px">
        <strong>(&nbsp;&nbsp;&nbsp;) DEFERIDO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) INDEFERIDO</strong><br>
        DATA____/____/______<br><br>
        ASSINATURA DO DIRETOR _________________________________________________
    </p>
</div>
    <div style="position: fixed;left: 470px; bottom: -100px;right: 100px; height: 100px; font-size: 60%">Impresso em: <?= $this->dataBase ?></div>
</body>