<head>
    <style>
        p {
            text-align: justify;
        }

        .linha {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<table width="90%" style="margin-bottom: 10px">
    <tr>
        <td width="20%">
            <img src="<?= $this->logo ?>" width="180px">
        </td>
        <td width="30%">
            <h3>ILMº. sr(a). diretor(a) da <?= $this->ies ?></h3>
        </td>
    </tr>
</table>

Eu,<strong> <?= mb_strtoupper($this->pes->getPesNome(), 'UTF-8') ?></strong>, aluno(a) do curso
<strong><?= $this->curso ?></strong>,
Matrícula Nº
<strong><?= ($this->matricula) ? ltrim($this->matricula->getAlunocurso()->getAlunocursoId(), '0') : ''; ?></strong>,
residente no endereço

<?= ($this->endereco) ? ucwords(mb_strtolower($this->endereco->getEndLogradouro(), 'UTF-8')) : '' ?>

Nº

<?= ($this->endereco) ? $this->endereco->getEndNumero() : '' ?>

Compl.

<?= ($this->endereco->getEndComplemento()) ? $this->endereco->getEndComplemento() : '' ?>

Bairro

<?= ($this->endereco) ? ucwords(mb_strtolower($this->endereco->getEndBairro(), 'UTF-8')) : '' ?>

CEP:

<?= ($this->endereco) ? $this->endereco->getEndCep() : '' ?>

na cidade de

<?= ($this->endereco) ? ucwords(mb_strtolower($this->endereco->getEndCidade(), 'UTF-8')) : '' ?>

Estado

<?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndEstado(), 'UTF-8') : '' ?>,

respeitosamente requer a V.Sª. sua matrícula no 1º período do curso <?= $this->curso ?>,
desta faculdade, desde já declarando ter conhecimento e concordar em cumprir o Regimento Interno da
<?= $this->ies ?> e seu projeto pedagógico.<br><br>

<p>
    Nestes termos.<br><br>
    Pede deferimento.<br><br>
    <?= $this->cidade ?>, _______ de _______________________________ de 20___.
</p>

<p style="text-align: center; margin-top:50px">
    _______________________________________________________<br>
    Assinatura do Requerente
</p>
Parecer_______________________________________________________________________________<br><br>
_____________________________________________________________________________________<br><br>
_____________________________________________________________________________________<br><br>

<div style="width: 100%; border: solid black; padding: 10px">
    <h3 style="text-align: center">COMPROVANTE DE MATRÍCULA:</h3>

    <p>
        NOME DO(A) ALUNO(A): <?= mb_strtoupper($this->pes->getPesNome(), 'UTF-8') ?>
    </p>

    <p>
        CURSO: <?= mb_strtoupper($this->curso, 'UTF-8') ?>
    </p>

    <p>
        PERÍODO:
        <?= mb_strtoupper($this->periodo[0]['per_semestre'], 'UTF-8') ?>° período, TURMA:
        <?= mb_strtoupper($this->periodo[0]['turma_nome'], 'UTF-8') ?>, TURNO:
        <?= mb_strtoupper($this->periodo[0]['turma_turno'], 'UTF-8') ?>
    </p>

    <p style="text-align: left">
        DATA____/____/______
    </p>

    <p style="text-align: right">
        ______________________________________________<br>
        Assinatura do funcionário responsável
    </p>
</div>

<div style="position: fixed;left: 470px; bottom: -100px;right: 100px; height: 100px; font-size: 60%">Impresso
    em: <?= $this->dataBase ?></div>
</body>