<?php

?>
<head>
    <style>
        p{
            text-align: justify;
        }
        .linha {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<table width="90%">
    <tr>
        <td width="20%">
            <img src= <?= $this->logo ?> width="180px"/>
        </td>
        <td width="30%">
            <h3>ILMº. sr(a). diretor(a) da <?= $this->ies ?></h3>
        </td>
    </tr>
    <hr>
</table>
<table class="linha">
    <tr>
        <td style="border-bottom: solid; width: 450px">
            <b><?= mb_strtoupper($this->pes->getPesNome()); ?></b>
        </td>
        <td>
            , Matrícula Nº
        </td>
        <td style="border-bottom: solid">
            <b><?= ($this->matricula) ? ltrim($this->matricula->getAlunocurso()->getAlunocursoId(), '0') : ''; ?>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td style="width: 69px;">
            residente na rua
        </td>
        <td style="width: 300px; border-bottom: solid;">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndLogradouro()) : '' ?>
        </td>
        <td style="width: 3px;">
            Nº
        </td>
        <td style="width: 40px; border-bottom: solid;">
            <b><?= ($this->endereco) ? $this->endereco->getEndNumero() : '' ?></b>
        </td>
        <td style="width: 10px">
            Compl.
        </td>
        <td style="width: 65px; border-bottom: solid">
            <b><?= ($this->endereco->getEndComplemento()) ? mb_strtoupper($this->endereco->getEndComplemento()) : '' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            Bairro
        </td>
        <td style="border-bottom: solid; width: 225px">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndBairro()) : '' ?></b>
        </td>
        <td>
            Fone: resid.
        </td>
        <td style="border-bottom: solid; width: 120px">
            <b><?= ($this->telefone[0]) ? $this->telefone[0] : '(&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-' ?></b>
        </td>
        <td>
            Cel.
        </td>
        <td style="border-bottom: solid; width: 120px">
            <b><?= ($this->celular[0]) ? $this->celular[0] : '(&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            CEP:
        </td>
        <td style="border-bottom: solid; width: 100px">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndCep()) : '' ?></b>
        </td>
        <td>
            na cidade de
        </td>
        <td style="border-bottom: solid; width: 390px;">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndCidade()) : '' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            Estado
        </td>
        <td style="border-bottom: solid; width: 230px">
            <b><?= ($this->endereco) ? mb_strtoupper($this->endereco->getEndEstado()) : '' ?></b>
        </td>
    </tr>
</table>
<table class="linha">
    <tr>
        <td>
            e-mail
        </td>
        <td style="width: 600px; border-bottom: solid">
            <b><?= ($this->email) ? mb_strtoupper($this->email[0]) : '' ?></b>
        </td>
    </tr>
</table>
<p style="margin-top: 15px">
    respeitosamente requer a V.Sª. sua matrícula no 1º período do CURSO DE GRADUAÇÃO EM <?= $this->curso ?>,<br><br>
    desta faculdade, desde já declarando ter conhecimento e concordar em cumprir o Regimento Interno da<br><br>
    <?= $this->ies ?> e seu projeto pedagógico.<br><br>
</p>
<p>
    Nestes termos.<br><br>
    Pede deferimento.<br><br>
    <?= $this->cidade ?>, _______ de _______________________________ de 20___.
</p>
<p style="text-align: center; margin-top:50px">
    _______________________________________________________<br>
    Assinatura do Requerente
</p>
<div style="width: 100%; border: solid black">
    <h3 style="margin:10px">INFORMAÇÕES DA SECRETARIA:</h3>
    <p style="margin: 10px">
        _____________________________________________________________________________________<br><br>
        _____________________________________________________________________________________<br>
        <?php
        if ($this->matricula->getTurma()->getTurmaSerie() == 1 and !is_null($this->inscricao)):
            ?>
            Concurso <u>&nbsp;&nbsp;<?= $this->inscricao->getEdicao()->getEdicaoDescricao() ?>&nbsp;&nbsp;</u> - Classificação <u>&nbsp;&nbsp;<?= $this->clasificacao; ?>º&nbsp;&nbsp;</u> lugar <u>&nbsp;&nbsp;<?= $this->nota ?>&nbsp;&nbsp;</u> pontos.<br><br>
        <?php
        endif;
        ?>
        DATA____/____/______INFORMANTE___________________________________________________
    </p>
</div>
<div style="width: 100%; border: solid black; margin-top: 10px">
    <p style="margin: 10px">
        <strong>(&nbsp;&nbsp;&nbsp;) DEFERIDO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) INDEFERIDO</strong><br>
        DATA____/____/______<br><br>
        ASSINATURA DO DIRETOR _________________________________________________
    </p>
</div >
<div style="position: fixed;left: 470px; bottom: -100px;right: 100px; height: 100px; font-size: 60%">Impresso em: <?= $this->dataBase ?></div>
</body>
