<?php
$urlThumb = $this->url('gerenciador-arquivos/default',array('controller' => 'arquivo','action'=>'thumb'));
?>
<script language="JavaScript" src="<?php echo $this->basePath();?>/js/universa/matricula/acadperiodo-aluno/edit.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>

<div>
    <?=$this->form()->openTag( $this->formAlunoCurso );?>

    <div class="row">
        <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">
            <div class="input input-file" >
                <img id="preview_image" width="160" height="140" src="<?=empty($this->chaveFoto) ? $this->basePath().'/smart-admin/img/userPerfilM.jpg' : $urlThumb."/".$this->chaveFoto."?width=160&height=140"?>" />
            </div>
            <div class="note">

            </div>
        </section>
        <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
            <div class="row">
                <?=$this->spineForm()->formInput($this->formAlunoCurso->get("matricula")->setAttributes(array('col' => 2, 'id')));?>
                <?=$this->spineForm()->formInput($this->formAlunoCurso->get("pesNome")->setAttributes(array('col' => 4)));?>
                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                    <label class="label">Estado: </label>
                    <label class="input">
                        <input type="text" name="matsitDescricao" readonly="readonly"
                               value="<?= $this->dadosAluno['matsitDescricao'] ?>">
                    </label>

                    <div class="note"></div>
                </section>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formAluno->get("turmaNome")->setAttributes(array('col' => 2, 'id')));?>
                <?=$this->spineForm()->formInput($this->formAlunoCurso->get("pesCpf")->setAttributes(array('col' => 4, 'id')));?>
                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                    <label class="label">Periodo Letivo: </label>
                    <label class="input">
                    </label>
                    <label class="input">
                        <input type="text" name="periodoLetivo" readonly="readonly"
                               value="<?= $this->dadosAluno['PeriodoLetivoAtual']->getPerNome() ?>">
                    </label>
                    <div class="note"></div>
                </section>
                <section class="col-lg-2 col-sm-3 col-xs-2" style="padding-left:30px;">
                    <label class="label">Percentual de Desconto: </label>
                    <label class="input">
                        <input type="text" name="percentDesnconto" readonly="readonly"
                               value="<?= $this->dadosAluno['totalPercentualDesconto'] ?>%">
                    </label>

                    <div class="note"></div>
                </section>
            </div>
        </section>


    </div>

    <?php
    echo $this->form()->closeTag();
    ?>
</div>