<?php 
   $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
    $this->spineList( $this->config );
    
    echo $this->spineJarvis()->closeWidget();
    
    $this->spineJarvis()->closeJarvis();
?>


<script>
    $(function(){
        $("#__LgRemove").detach();

        $("td[data-td-name='rematricula']").each(function(){
            if($(this).text() == 'rematriculaAlunosMigracaoQueTemAlunocursoMasNaoTemAlunoperido'){
                $(this).html("<a type='button' href='/matricula/acadperiodo-aluno/adiciona-alunos-migracao-que-tem-alunocurso-mas-nao-tem-alunoperido/"+$(this).parent().children().eq(2).text()+"/1'>Rematricular</a>");
            } else if($(this).text() != "Indisponível"){
                $(this).html("<a type='button' href='/matricula/acadperiodo-aluno/edit/"+$(this).text()+"/1'>Rematricular</a>");
            }
        });
    });

    //    $("#alunoper_id").find("th").eq(1).detach()
    //    $(".active").detach()
</script>
