.file-upload .preview,
.file-upload .message {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 6em;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    word-wrap: break-word;
    overflow: auto;
}