.app-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-size: 1.5em;
    text-align: center;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px #FFF;
}