.componente-list {
    height: 320px;
    overflow: auto;
}

.componente-content {
    height: 350px;
    max-height: 350px;
    overflow: auto;
}

.componente-content .componente-label {
    width: 100%;
    position: relative !important;
}

.componente-content .componente-label,
.componente-content input,
.componente-content select,
.componente-content textarea {
    width: 100%;
}

.componente-content textarea {
    resize: none;
}