<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-filtro'));
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-filtro'));

if ($this->arrDados['filtroId']) {
    $urlForm = $this->url(
        'financeiro/default',
        array('controller' => 'financeiro-filtro', 'action' => 'edit', 'id' => $this->arrDados['filtroId'])
    );
} else {
    $urlForm = $this->url('financeiro/default', array('controller' => 'financeiro-filtro', 'action' => 'add'));
}

$urlPesquisaFinanceiroTituloTipo = $this->url(
    'financeiro/default',
    array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json')
);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-filtro-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-filtro-form" novalidate="novalidate"
                          method="post" enctype="multipart/form-data">
                        <input type="hidden" name="filtroId" id="filtroId"
                               value="<?php echo $this->arrDados['filtroId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="filtroNome">Nome:</label>
                                <input type="text" name="filtroNome" id="filtroNome" class="form-control"
                                       placeholder="Nome" maxlength="60"
                                       value="<?php echo $this->arrDados['filtroNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="tipoTitulo">Tipo Título:</label>
                                <input type="text" name="tipoTitulo" id="tipoTitulo" class="form-control"
                                       placeholder="Tipo Título">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="filtroEstado">Estado:</label>
                                <input type="text" name="filtroEstado" id="filtroEstado" class="form-control"
                                       placeholder="Estado">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="filtroSituacao">Situação:</label>
                                <input type="text" name="filtroSituacao" id="filtroSituacao" class="form-control"
                                       placeholder="Situação">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroFiltroAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>'},
            data: {
                filtroEstado:<?=json_encode($this->arrFiltroEstado); ?>,
                filtroSituacao:<?=json_encode($this->arrFiltroSituacao); ?>
            },
            value: {
                tipoTitulo:<?=json_encode($this->arrDados['tipoTitulo']); ?>
            }
        });
    });
</script>