<html>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    @page {
        margin: 100px 10px;
    }

    @media screen and (orientation: landscape) {
        html {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            width: /* screen width */;
            height: /* screen height */;
            overflow: scroll;
        }
    }

    #header {
        margin: 0 0;
    }

    #headerinfo {
        display: block;
    }

    #footer {
        text-align: center;
        margin: 60px 0 20px
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        font-size: 9px;
        max-width: 200% !important;
        width: 152% !important;
    }

    table td {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

    p {
        text-align: center;
        font-family: 'Kalam', 'trebuchet ms', verdana, sans-serif;
    }

    .borda {
        border: 1px solid black;
    }

    .espacamento {
        margin: 3px 0;
        padding: 5px 0;
    }
</style>
<body style="padding: 30px">

<div id="headerinfo">
    <div>
        &nbsp;
    </div>
</div>

<div id="header">
    <p style="font-family: 'Alex Brush', cursive; font-size: 600%; margin-bottom: 0; color: #7b63039c;">
        Certificado
    </p>

    <p>
        <?= $this->arrAlunoInfo['certificadoInfo'] ?>
    </p>

    <p>
        A <?= $this->arrAlunoInfo['instituicao'] ?>, mantida pelo <?= $this->arrAlunoInfo['mantenedora'] ?>, confere o
        presente
        Certificado de Conclusão de Curso de <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] ?>:
    </p>

    <p style="font-size: 40px; margin: 20px 0 0; font-family: 'Kalam', cursive;">
        <?= $this->arrAlunoInfo['cursoNome'] ?>
    </p>

    <p style="font-size: 20px; font-family: 'Kalam', cursive;">
        Área de concentração: <?= $this->arrAlunoInfo['arrCurso']['areaDescricao'] ?>
    </p>

    <p style="font-size: 20px; font-family: 'Kalam', cursive; margin: 10px 0 0">
        A
    </p>

    <p style="font-size: 30px; font-family: 'Kalam', cursive;">
        <?= $this->arrAlunoInfo['pesNome'] ?>
    </p>

    <p>
        Nacionalidade <?= $this->arrAlunoInfo['pesNacionalidade'] ?>,
        Natural de <?= ucfirst($this->arrAlunoInfo['pesNaturalidade']) ?>,
        Nascido(a) em <?= $this->arrAlunoInfo['pesDataNascimento'] ?>, RG <?= $this->arrAlunoInfo['pesRg'] ?>
        / <?= $this->arrAlunoInfo['pesEmissaoRg'] ?>
    </p>

    <p>
        <?= $this->arrAlunoInfo['iesCidade'] . ' - ' . $this->arrAlunoInfo['iesEstado'] . ', ' . $this->arrAlunoInfo['hoje'] ?>
    </p>
</div>

<div id="footer">
    <div class="col-sm-12" style="display: inline-block;">
        <div class="col-sm-6" style="display: block; padding: 0 50px">
            <p><?= $this->arrAlunoInfo['pesNome'] ?></p>
        </div>
        <div class="col-sm-6" style="display: block; padding: 0 50px">
            <p><?= $this->arrAlunoInfo['diretorGeral'] ?></p>
        </div>
    </div>

    <div class="col-sm-12" style="display: inline-block;">
        <div class="col-sm-6" style="display: block; padding: 0 50px">
            <p>Aluno(a)</p>
        </div>
        <div class="col-sm-6" style="display: block; padding: 0 50px">
            <p>Diretor(a) Geral</p>
        </div>
    </div>
</div>

<div class="row" style="margin: 0 10px; text-align: center">
    <div class="col-sm-4">

        <div class="borda espacamento">
            <p style="text-align: justify; padding: 5px">O curso cumpriu todas as disposições da Resolução CNE/CES 001,
                de 08 de Junho de 2007</p>
        </div>

        <div class="borda espacamento">
            <p style="margin: 0 0 40px;">O(A) <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] ?> foi iniciado(a) no dia
                <?= $this->arrAlunoInfo['alunocursoDataMatricula'] ?> e concluído(a) em
                <?= $this->arrAlunoInfo['alunocursoDataColacao'] ?></p>

            <p><?= $this->arrAlunoInfo['arrCurso']['pesNome'] ?></p>

            <p>Coordenador(a) de <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] ?></p>
        </div>

        <div class="borda espacamento">
            <p><?= $this->arrAlunoInfo['instituicao'] ?></p>

            <p>Registro N° ____ livro ____</p>

            <p style="position: relative;right: 55px;">Folha ____</p>

            <p style="position: relative;left: 76px;top: -30px;">Data</p>

            <p><?= $this->arrAlunoInfo['secretaria'] ?></p>

            <p>Secretário(a) Acadêmico(a)</p>
        </div>

        <div class="borda espacamento">
            <p style="text-align: justify;  padding: 5px">
                <strong>Monografia:</strong>
                <?= $this->arrAlunoInfo['monografia'] ?>
                <br><strong>Professor(a) Orientador(a):</strong>
                <?= $this->arrAlunoInfo['orientador'] ?>
                <br><strong>Conceito Final:</strong>
                <?= $this->arrAlunoInfo['conceitoFinal'] ?>
            </p>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="col-sm-8">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="4">
                        <?= mb_strtoupper(
                            $this->arrAlunoInfo['arrCurso']['nivelNome'] . ' em ' . $this->arrAlunoInfo['cursoNome'],
                            'UTF-8'
                        ) ?>
                    </th>
                </tr>
                <tr>
                    <th scope="col">DISCIPLINA</th>
                    <th scope="col">FREQUÊNCIA</th>
                    <th scope="col">NF</th>
                    <th scope="col">TITULAÇÃO/DOCENTE</th>
                </tr>
                </thead>
                <tbody>
                <?php

                $arrTotalizador = ['cargaHoraria' => 0, 'nota' => 0.00];

                foreach ($this->arrAlunoInfo['resumo'] as $arrResumo) {
                    ?>

                    <tr>
                        <td><?= $arrResumo['disc']['discNome'] ?></td>
                        <td><?= $arrResumo['resalunoCargaHoraria'] ?></td>
                        <td><?= $arrResumo['resalunoNota'] ?></td>
                        <td><?php
                            $arrTotalizador['cargaHoraria'] += $arrResumo['resalunoNota'];
                            $arrTotalizador['nota'] += $arrResumo['resalunoNota'];

                            $titulacaoDocente = $arrResumo['disc']['docente']['docenteTituto'] . '/' .
                                $arrResumo['disc']['docente']['docente']['pes']['pesNome'];

                            if ($titulacaoDocente == "/") {
                                $titulacaoDocente = " - ";
                            }

                            echo $titulacaoDocente;
                            ?>
                        </td>
                    </tr>
                <?php } ?>
                <tr>
                    <td colspan="1"><strong>TOTALIZADOR</strong></td>
                    <td colspan="1"><?= $arrTotalizador['cargaHoraria'] ?></td>
                    <td colspan="1"><?= $arrTotalizador['nota'] ?></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>