<html>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    @page {
        margin: 100px 10px;
    }

    @media screen and (orientation: portrait) {
        html {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            width: /* screen width */;
            height: /* screen height */;
            overflow: scroll;
        }
    }

    #header {
        margin: 0 0
    }

    #headerinfo {
        margin: 0 0 190px;
    }

    #footer {
        text-align: center;
        margin: 80px 30% 0;
        border-bottom: 1px black solid;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        font-size: 9px;
        max-width: 200% !important;
        width: 152% !important;
    }

    table td {
        border: 1px solid black;
    }

    p {
        text-align: center;
        font-family: 'Kalam', 'trebuchet ms', verdana, "Arial", Arial, sans-serif;
    }

</style>
<body style="padding: 30px">

<div id="headerinfo">
    <div style="max-width: 180mm; max-height: 190mm">
        &nbsp;
    </div>

    <div style="position: relative; max-width: 80%; margin-left: 35%;font-size: 9px; top: -70px">
        &nbsp;
    </div>
</div>
<div id="header" class="col-sm-12">
    <p style="font-size: 18px">
        <strong>CERTIDÃO DE CONCLUSÃO DE CURSO</strong>
    </p>

    <p style="text-align: justify; line-height: 150%">
     A <?= $this->arrAlunoInfo['iesNome'] ?> certifica que <strong><?= mb_strtoupper($this->arrAlunoInfo['pesNome'], "UTF-8") ?></strong>,
    portador(a) do CPF N° <?= $this->arrAlunoInfo['pesCpf'] ?>, nascido em <?= $this->arrAlunoInfo['pesDataNascimento'] ? $this->arrAlunoInfo['pesDataNascimento'] : 'Sem informação' ?>, natural do <?= $this->arrAlunoInfo['pesNascUf'] ? $this->arrAlunoInfo['pesNascUf'] : 'Sem informação' ?>,
    concluiu o curso de
        <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] . ' em ' . ucfirst(
            mb_strtolower($this->arrAlunoInfo['cursoNome'], "UTF-8")
        ) ?>, tendo colado grau em <?= $this->arrAlunoInfo['alunocursoDataColacao'] ? $this->arrAlunoInfo['alunocursoDataColacao'] : 'Sem informação' ?>.  <?= $this->arrAlunoInfo['alunocursoDataExpedicaoDiploma'] ? 'O diploma foi expedido em '.$this->arrAlunoInfo['alunocursoDataColacao'] : ' O diploma encontrase em processo de registro' ?>.</p>
</div>

<div class="col-sm-12">
    <p style="text-align: left">
        <?= $this->arrAlunoInfo['iesCidade'] . ' - ' . $this->arrAlunoInfo['iesEstado'] . ', ' . $this->arrAlunoInfo['hoje'] ?>
    </p>

</div>

<div style="margin: 80px 30% 0">
    <div style="border-bottom: 1px solid black"></div>
    <p>
        <?= $this->arrAlunoInfo['secretaria'] ?>
    </p>

    <p>
        Secretário(a) Acadêmico(a)
    </p>
</div>

</body>
</html>
