<html>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    @page {
        margin: 100px 10px;
    }

    @media screen and (orientation: landscape) {
        html {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            width: /* screen width */;
            height: /* screen height */;
            overflow: scroll;
        }
    }

    #header {
        margin: 0 0
    }

    #headerinfo {

    }

    #footer {
        text-align: center;
        margin: 80px 0 0;
        border-bottom: 1px black solid;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        font-size: 9px;
        width: 152% !important;
    }

    table td {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

    p {
        text-align: center;
        font-family: 'Kalam', 'trebuchet ms', verdana, sans-serif;
    }

    .borda {
        border: 1px solid black;
    }

    .espacamento {
        margin: 3px 0;
        padding: 5px 0;
    }
</style>
<body style="padding: 30px">

<div id="headerinfo">
    <div style="max-width: 180mm; max-height: 190mm">
        &nbsp;
    </div>

    <div style="position: relative; max-width: 80%; margin-left: 35%;font-size: 9px; top: -70px">
        &nbsp;
    </div>
</div>
<div id="header" class="col-sm-12">
    <p style="font-size: 15px">
        <strong>CERTIDÃO DE CONCLUSÃO DE CURSO</strong>
    </p>

    <p>
        <?= $this->arrAlunoInfo['certificadoInfo'] ?>
    </p>

    <p style="text-align: justify">
        Certifico que <strong><?= mb_strtoupper($this->arrAlunoInfo['pesNome'], "UTF-8") ?></strong>,
        portador(a) do RG n° <?= $this->arrAlunoInfo['pesRg'] ?>
        , <?= strtolower($this->arrAlunoInfo['pesNacionalidade']) ?>,
        concluiu o curso de <strong>
            <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] . ' em ' . ucfirst(
                mb_strtolower($this->arrAlunoInfo['cursoNome'], "UTF-8")
            ) ?>
        </strong>, com carga horária de <?= $this->arrAlunoInfo['arrCurso']['cursoCargaHoraria'] ?> horas.
        O curso cumpriu todas as disposições da Resolução CNE/CES 001,
        de 08 de Junho de 2007.
    </p>
</div>

<div class="col-sm-12">
    As disciplinas cursadas são apresentadas abaixo:
    <table class="">
        <thead>
        <tr>
            <td scope="col">DISCIPLINA</td>
            <td scope="col">CORPO DOCENTE</td>
            <td scope="col">CH</td>
            <td scope="col">NOTAS</td>
        </tr>
        </thead>
        <tbody>
        <?php
        if ($this->arrAlunoInfo['resumo']) {
            foreach ($this->arrAlunoInfo['resumo'] as $arrResumo) {
                ?>
                <tr>
                    <td><?= $arrResumo['disc']['discNome'] ?></td>
                    <td><?php
                        $titulacaoDocente = $arrResumo['disc']['docente']['docenteTituto'] . '/' .
                            $arrResumo['disc']['docente']['docente']['pes']['pesNome'];

                        if ($titulacaoDocente == "/") {
                            $titulacaoDocente = " - ";
                        }

                        echo $titulacaoDocente;
                        ?>
                    </td>
                    <td><?= $arrResumo['resalunoCargaHoraria'] ?></td>
                    <td><?= $arrResumo['resalunoNota'] ?></td>
                </tr>
                <?php
            }
        } else { ?>
            <tr>
                <td colspan="4">
                    Sem informações
                </td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
<div class="col-sm-12">
    <p style="text-align: right">
        <?= $this->arrAlunoInfo['iesCidade'] . ' - ' . $this->arrAlunoInfo['iesEstado'] . ', ' . $this->arrAlunoInfo['hoje'] ?>
    </p>

    <p style="text-align: justify">
        O aluno apresentou o trabalho final, com o tema “<?= $this->arrAlunoInfo['monografia'] ?>”. A
        nota final obtida pelo aluno foi <?= $this->arrAlunoInfo['conceitoFinal'] ?>.
    </p>
</div>

<div style="margin: 60px 30% 0">
    <div style="border-bottom: 1px solid black"></div>
    <p>
        <?= $this->arrAlunoInfo['secretaria'] ?>
    </p>

    <p>
        Secretário(a) Acadêmico(a)
    </p>
</div>

</body>
</html>
