<html>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    @page {
        margin: 100px 10px;
    }

    @media screen and (orientation: portrait) {
        html {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            width: /* screen width */;
            height: /* screen height */;
            overflow: scroll;
        }
    }

    #header {
        margin: 0 0
    }

    #headerinfo {
        margin: 0 0 190px;
    }

    #footer {
        text-align: center;
        margin: 80px 30% 0;
        border-bottom: 1px black solid;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        font-size: 9px;
        max-width: 200% !important;
        width: 152% !important;
    }

    table td {
        border: 1px solid black;
    }

    p {
        text-align: center;
        font-family: 'Kalam', 'trebuchet ms', verdana, "Arial", Arial, sans-serif;
    }

</style>
<body style="padding: 30px">

<div id="headerinfo">
    <div class="row">

        <div class="col-sm-2" style="position: fixed; max-width: 180mm; max-height: 190mm">
            &nbsp;
        </div>

        <div class="col-sm-6" style="position: fixed; max-width: 80%; margin-left: 35%;font-size: 11px; top: 30px">
            &nbsp;
        </div>

    </div>
</div>
<div id="header" class="col-sm-12">
    <p style="font-size: 18px">
        <strong>DECLARAÇÃO</strong>
    </p>

    <p style="text-align: justify; line-height: 150%">
        Declaramos para devidos fins e efeitos legais, que <strong><?= mb_strtoupper(
                $this->arrAlunoInfo['pesNome'],
                "UTF-8"
            ) ?></strong>,
        matrícula  <strong><?= 'N°'.ltrim($this->arrAlunoInfo['alunocursoId'],0)  ?></strong>,
        portador(a) do
        <strong>CPF: <?= $this->arrAlunoInfo['pesCpf'] ?></strong>, é aluno (a) desta Instituição de Ensino
        e encontra-se devidamente matriculado (a)
        <?php
        $turmaSerie = $this->arrAlunoInfo['turmaSerie'];
        $turmaTurno = $this->arrAlunoInfo['turmaTurno'];

        if ($this->arrAlunoInfo['turmaSerie'] != '') {
            echo " no " . $turmaSerie . "º período (" . $turmaTurno . ")";
        }?> do curso de
        <strong><?= mb_strtoupper($this->arrAlunoInfo['cursoNome'], "UTF-8") ?></strong>.
    <p style="text-align: left">
        Por ser esta a expressão da verdade, firmamos a presente declaração.
    </p>

    <p style="text-align: right">
        <?= $this->arrAlunoInfo['iesCidade'] . ' - ' . $this->arrAlunoInfo['iesEstado'] . ', ' . $this->arrAlunoInfo['hoje'] ?>
    </p>
</div>

<div id="footer">
    <div class="col-sm-12">

    </div>
</div>
<div>
    <p>
        <?= $this->arrAlunoInfo['secretaria'] ?>
    </p>

    <p>
        Secretário(a) Acadêmico(a)
    </p>
</div>
</body>
</html>
