<html>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    @page {
        margin: 100px 10px;
    }

    @media screen and (orientation: landscape) {
        html {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            width: /* screen width */;
            height: /* screen height */;
            overflow: scroll;
        }
    }

    #header {
        margin: 0 0
    }

    #headerinfo {
        margin: 0 0 190px;
    }

    #footer {
        text-align: center;
        margin: 80px 30% 0;
        border-bottom: 1px black solid;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        font-size: 9px;
        max-width: 200% !important;
        width: 152% !important;
    }

    table td {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

    p {
        text-align: center;
        font-family: 'Kalam', 'trebuchet ms', verdana, sans-serif;
    }

    .borda {
        border: 1px solid black;
    }

    .espacamento {
        margin: 3px 0;
        padding: 5px 0;
    }
</style>
<body style="padding: 30px">

<div id="headerinfo">
    <div class="row">

        <div class="col-sm-2" style="position: fixed; max-width: 180mm; max-height: 190mm">
            &nbsp;
        </div>

        <div class="col-sm-6" style="position: fixed; max-width: 80%; margin-left: 35%;font-size: 11px; top: 30px">
            &nbsp;
        </div>

    </div>
</div>
<div id="header" class="col-sm-12">
    <p style="font-size: 15px">
        <strong>DECLARAÇÃO DE MATRÍCULA E FREQUÊNCIA</strong>
    </p>

    <p>
        <?= $this->arrAlunoInfo['certificadoInfo'] ?>
    </p>

    <p style="text-align: justify">
        Declaro para devidos fins e efeitos legais que <strong><?= mb_strtoupper(
                $this->arrAlunoInfo['pesNome'],
                "UTF-8"
            ) ?></strong>,
        matricula: <strong><?= $this->arrAlunoInfo['alunocursoId'] ?></strong>,
        portador(a) do <strong>RG: <?= $this->arrAlunoInfo['pesRg'] ?></strong>,
        <strong>CPF: <?= $this->arrAlunoInfo['pesCpf'] ?></strong>, está frequente e cursando
        <strong><?= mb_strtoupper($this->arrAlunoInfo['cursoNome'], "UTF-8") ?></strong>
        <?php
        $turmaSerie = $this->arrAlunoInfo['turmaSerie'];
        $turmaTurno = $this->arrAlunoInfo['turmaTurno'];

        if ($this->arrAlunoInfo['turmaSerie'] != '') {
            echo "no " . $turmaSerie . " º período(" . $turmaTurno . ")";
        }
        ?>
        , com carga horaria de <?= $this->arrAlunoInfo['arrCurso']['cursoCargaHoraria'] ?> horas. O curso é
        mantido pela <?= $this->arrAlunoInfo['instituicao'] ?> - <?= $this->arrAlunoInfo['sigla'] ?>,
        em conformidade com
        a legislação que rege os cursos de <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] ?>.
    </p>

    <p style="text-align: left">
        Por ser esta a expressão da verdade, firmamos a presente declaração.
    </p>

    <p style="text-align: left">
        Atenciosamente,
    </p>

    <p style="text-align: right">
        <?= $this->arrAlunoInfo['iesCidade'] . ' - ' . $this->arrAlunoInfo['iesEstado'] . ', ' . $this->arrAlunoInfo['hoje'] ?>
    </p>
</div>

<div id="footer">
    <div class="col-sm-12">

    </div>
</div>
<div>
    <p>
        <?= $this->arrAlunoInfo['secretaria'] ?>
    </p>

    <p>
        Secretário(a) Acadêmico(a)
    </p>
</div>
</body>
</html>
