<html>
<head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    @page {
        margin: 100px 10px;
    }

    @media screen and (orientation: landscape) {
        html {
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            width: /* screen width */;
            height: /* screen height */;
            overflow: scroll;
        }
    }

    #header {
        margin: 0 0
    }

    #headerinfo {

    }

    #footer {
        text-align: center;
        margin: 80px 0 0;
        border-bottom: 1px black solid;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        font-size: 9px;
        width: 152% !important;
    }

    table td {
        border: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

    p {
        text-align: center;
        font-family: 'Kalam', 'trebuchet ms', verdana, sans-serif;
    }

    .borda {
        border: 1px solid black;
    }

    .espacamento {
        margin: 3px 0;
        padding: 5px 0;
    }
</style>
<body style="padding: 30px">

<div id="headerinfo">
    <div style="max-width: 180mm; max-height: 190mm">
        &nbsp;
    </div>

    <div style="position: relative; max-width: 80%; margin-left: 35%;font-size: 9px; top: -70px">
        <p style="font-size: 15px">
            <strong>Histórico de Disciplinas</strong>
        </p>

        <p>
            <?= $this->arrAlunoInfo['certificadoInfo'] ?>
        </p>
    </div>
</div>
<div id="header">
    <div class="col-sm-12">
        <p style="text-align: justify">
            Declaro que o(a) aluno(a) <strong><?= mb_strtoupper($this->arrAlunoInfo['pesNome'], "UTF-8") ?></strong>,
            portador(a) do RG n° <?= $this->arrAlunoInfo['pesRg'] ?>
            , <?= strtolower($this->arrAlunoInfo['pesNacionalidade']) ?>,
            cursou as disciplinas do curso de <strong>
                <?= $this->arrAlunoInfo['arrCurso']['nivelNome'] . ' em ' . ucfirst(
                    mb_strtolower($this->arrAlunoInfo['cursoNome'], "UTF-8")
                ) ?>
            </strong> desta instituição.
        </p>
    </div>
</div>

<div class="col-sm-12">
    As disciplinas cursadas são apresentadas abaixo:
    <table class="">
        <thead>
        <tr>
            <td scope="col">DISCIPLINA</td>
            <td scope="col">CH</td>
            <td scope="col">NOTAS</td>
            <td scope="col">SITUAÇÃO</td>
        </tr>
        </thead>
        <tbody>
        <?php
        if ($this->arrAlunoInfo['resumo']) {
            foreach ($this->arrAlunoInfo['resumo'] as $arrResumo) {
                ?>
                <tr>
                <td><?= $arrResumo['disc']['discNome'] ?></td>
                <td><?= $arrResumo['resalunoCargaHoraria'] ?></td>
                <td><?= $arrResumo['resalunoNota'] ?></td>
                <td><?= $arrResumo['resalunoSituacao'] ?></td>
                </tr><?php
            }
        } else { ?>
            <tr>
                <td colspan="4">
                    Sem informações
                </td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>

<div class="col-sm-12">
    <p style="text-align: right">
        <?= $this->arrAlunoInfo['iesCidade'] . ' - ' . $this->arrAlunoInfo['iesEstado'] . ', ' . $this->arrAlunoInfo['hoje'] ?>
    </p>
</div>

<div style="margin: 40px 30% 0">
    <div style="border-bottom: 1px solid black"></div>
    <p>
        <?= $this->arrAlunoInfo['secretaria'] ?>
    </p>

    <p>
        Secretário(a) Acadêmico(a)
    </p>
</div>

</body>
</html>
