<?php
$urlListagem = $this->url('comunicacao/default', array('controller' => 'comunicacao-campanha-regra'));
$paramUrl    = array('controller' => 'comunicacao-campanha-regra', 'action' => 'add');

if ($this->arrDados['regraId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['regraId'];
}
$urlPesquisaComunicacaoCampanha = $this
    ->url('comunicacao/default', array('controller' => 'comunicacao-campanha', 'action' => 'search-for-json'));
$urlForm                        = $this->url('comunicacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('comunicacao-campanha-regra-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="comunicacao-campanha-regra-form"
                              novalidate="novalidate" method="post">
                            <input type="hidden" name="regraId" id="regraId"
                                   value="<?php echo $this->arrDados['regraId']; ?>">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campanha">Código Campanha:</label>
                                    <input type="text" name="campanha" id="campanha" class="form-control"
                                           placeholder="Código Campanha" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="regraChave">Chave:</label>
                                    <select name="regraChave" id="regraChave" class="form-control">
                                        <?php
                                        foreach ($this->arrRegraChave as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['regraChave']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="regraValor">Valor:</label>
                    <textarea name="regraValor" id="regraValor" class="form-control"
                              placeholder="Valor"
                              rows="5"><?php echo $this->arrDados['regraValor']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.comunicacaoCampanhaRegraAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {comunicacaoCampanha: '<?=$urlPesquisaComunicacaoCampanha;?>'},
            data: {},
            value: {campanha:<?=json_encode($this->arrDados['campanha']); ?>}
        });
    });
</script>