/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
/**
* Estilo do autocomplete
*/
.autocomplete-w1 { 
    background-color:black; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:white;; _margin:1px 0 0 0; 
} 
.autocomplete { 
    border:1px solid #999; background-color:black; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; 
    /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; 
} 
.autocomplete .selected { 
    background-color:black; 
} 
.autocomplete div { 
    padding:2px 5px; white-space:nowrap; overflow:hidden; 
} 
.autocomplete strong { 
    font-weight:normal; color:#3399FF; 
}
.autocomplete-suggestion {
    background-color: silver;
}
.autocomplete-suggestion:hover {
    background-color: #3276b1;
    color: white;
}