<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'grupo-bibliografico'));
$paramUrl    = array('controller' => 'grupo-bibliografico', 'action' => 'add');

if ($this->arrDados['grupoBibliograficoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['grupoBibliograficoId'];
}

$urlForm = $this->url('biblioteca/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('versa.shared', false, 'App');
$this->layoutComponent()->addJS('grupo-bibliografico-add', false, 'App');
$this->layoutComponent()->addJS('grupo-bibliografico-index', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="grupo-bibliografico-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="grupoBibliograficoId" id="grupoBibliograficoId"
                               value="<?php echo $this->arrDados['grupoBibliograficoId']; ?>">

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="grupoBibliograficoNome">Nome:</label>
                                    <input type="text" name="grupoBibliograficoNome" id="grupoBibliograficoNome"
                                           class="form-control"
                                           placeholder="Nome" maxlength="60"
                                           value="<?php echo $this->arrDados['grupoBibliograficoNome']; ?>">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="grupoBibliograficoSituacao">Situação:</label>
                                <select name="grupoBibliograficoSituacao" id="grupoBibliograficoSituacao"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrGrupoBibliograficoSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['grupoBibliograficoSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Configurações Bibliográficas</legend>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label for="grupoBibliograficoLocalEdicao">Possui Local de Edição:</label>
                                        <input type="text" name="grupoBibliograficoLocalEdicao"
                                               id="grupoBibliograficoLocalEdicao"
                                               class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="grupoBibliograficoExemplares">Possui Exemplares:</label>
                                        <input type="text" name="grupoBibliograficoExemplares"
                                               id="grupoBibliograficoExemplares"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label for="grupoBibliograficoAutor">Possui Autor:</label>
                                        <input type="text" name="grupoBibliograficoAutor"
                                               id="grupoBibliograficoAutor"
                                               class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="grupoBibliograficoAcessoPortal">Permitir Acesso ao Portal:</label>
                                        <input type="text" name="grupoBibliograficoAcessoPortal"
                                               id="grupoBibliograficoAcessoPortal"
                                               class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-sm-12 text-center" style="margin-top:2%">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>

                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.grupoBibliograficoAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>
        });
    });
</script>