<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-titulo'));
$paramUrl    = array('controller' => 'financeiro-titulo', 'action' => 'add');

if ($this->arrDados['tituloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['tituloId'];
}
$urlPesquisaPessoa               = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas        = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas        = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTitulo     = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo', 'action' => 'search-for-json'));
$urlForm                         = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-titulo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-titulo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="tituloId" id="tituloId"
                               value="<?php echo $this->arrDados['tituloId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="pes">Código Pessoa:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Código Pessoa" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotitulo">Código Tipo De Título:</label>
                                <input type="text" name="tipotitulo" id="tipotitulo" class="form-control"
                                       placeholder="Código Tipo De Título" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usuarioBaixa">Baixa Usuário:</label>
                                <input type="text" name="usuarioBaixa" id="usuarioBaixa" class="form-control"
                                       placeholder="Baixa Usuário" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usuarioAutor">Autor Usuário:</label>
                                <input type="text" name="usuarioAutor" id="usuarioAutor" class="form-control"
                                       placeholder="Autor Usuário" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloNovo">Novo:</label>
                                <input type="text" name="tituloNovo" id="tituloNovo" class="form-control"
                                       placeholder="Novo" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloDescricao">Descrição:</label>
                                <input type="text" name="tituloDescricao" id="tituloDescricao" class="form-control"
                                       placeholder="Descrição" maxlength="255"
                                       value="<?php echo $this->arrDados['tituloDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloParcela">Parcela:</label>
                                <input type="text" name="tituloParcela" id="tituloParcela" class="form-control"
                                       placeholder="Parcela" maxlength="4"
                                       value="<?php echo $this->arrDados['tituloParcela']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloDataProcessamento">Processamento Data:</label>
                                <input type="text" name="tituloDataProcessamento" id="tituloDataProcessamento"
                                       class="form-control"
                                       placeholder="Processamento Data"
                                       value="<?php echo $this->arrDados['tituloDataProcessamento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloDataVencimento">Vencimento Data:</label>
                                <input type="text" name="tituloDataVencimento" id="tituloDataVencimento"
                                       class="form-control"
                                       placeholder="Vencimento Data"
                                       value="<?php echo $this->arrDados['tituloDataVencimento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloTipoPagamento">Pagamento Tipo:</label>
                                <select name="tituloTipoPagamento" id="tituloTipoPagamento" class="form-control"
                                        multiple>
                                    <?php
                                    foreach ($this->arrTituloTipoPagamento as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['tituloTipoPagamento']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloValor">Valor:</label>
                                <input type="text" name="tituloValor" id="tituloValor" class="form-control"
                                       placeholder="Valor" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloValor']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloDataPagamento">Pagamento Data:</label>
                                <input type="text" name="tituloDataPagamento" id="tituloDataPagamento"
                                       class="form-control"
                                       placeholder="Pagamento Data"
                                       value="<?php echo $this->arrDados['tituloDataPagamento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloMulta">Multa:</label>
                                <input type="text" name="tituloMulta" id="tituloMulta" class="form-control"
                                       placeholder="Multa" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloMulta']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloJuros">Juros:</label>
                                <input type="text" name="tituloJuros" id="tituloJuros" class="form-control"
                                       placeholder="Juros" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloJuros']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloEstado">Estado:</label>
                                <select name="tituloEstado" id="tituloEstado" class="form-control">
                                    <?php
                                    foreach ($this->arrTituloEstado as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['tituloEstado']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloValorPago">Pago Valor:</label>
                                <input type="text" name="tituloValorPago" id="tituloValorPago" class="form-control"
                                       placeholder="Pago Valor" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloValorPago']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloValorPagoDinheiro">Dinheiro Pago Valor:</label>
                                <input type="text" name="tituloValorPagoDinheiro" id="tituloValorPagoDinheiro"
                                       class="form-control"
                                       placeholder="Dinheiro Pago Valor" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloValorPagoDinheiro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloDesconto">Desconto:</label>
                                <input type="text" name="tituloDesconto" id="tituloDesconto" class="form-control"
                                       placeholder="Desconto" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloDesconto']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloObservacoes">Observações:</label>
                    <textarea name="tituloObservacoes" id="tituloObservacoes" class="form-control"
                              placeholder="Observações"
                              rows="5"><?php echo $this->arrDados['tituloObservacoes']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloDescontoManual">Manual Desconto:</label>
                                <input type="text" name="tituloDescontoManual" id="tituloDescontoManual"
                                       class="form-control"
                                       placeholder="Manual Desconto" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloDescontoManual']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tituloAcrescimoManual">Manual Acréscimo:</label>
                                <input type="text" name="tituloAcrescimoManual" id="tituloAcrescimoManual"
                                       class="form-control"
                                       placeholder="Manual Acréscimo" maxlength="10"
                                       value="<?php echo $this->arrDados['tituloAcrescimoManual']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroTituloAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                pessoa: '<?=$urlPesquisaPessoa;?>',
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>',
                financeiroTitulo: '<?=$urlPesquisaFinanceiroTitulo;?>'
            },
            data: {},
            value: {
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                tipotitulo:<?=json_encode($this->arrDados['tipotitulo']); ?>,
                usuarioAutor:<?=json_encode($this->arrDados['usuarioAutor']); ?>,
                tituloNovo:<?=json_encode($this->arrDados['tituloNovo']); ?>
            },
        });
    });
</script>