<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div class="col-xs-12">
                        <p>
                            <?php echo $this->mensagem; ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>