<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <?php if (!$this->erro) { ?>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Código:</label>

                                <p class="form-control-static">
                                    <?php echo $this->arrDados['tituloId']; ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Descrição:</label>

                                <p class="form-control-static">
                                    <?php echo $this->arrDados['tituloDescricao']; ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Valor:</label>

                                <p class="form-control-static">
                                    <?php echo number_format($this->arrDados['tituloValorFinal'], 2); ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Responsável:</label>

                                <p class="form-control-static">
                                    <?php echo $this->arrDados['pesNome']; ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Aluno:</label>

                                <p class="form-control-static">
                                    <?php echo $this->arrDados['alunoNome']; ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Curso:</label>

                                <p class="form-control-static">
                                    <?php echo $this->arrDados['cursoNome']; ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $this->arrDados['tituloPagseguroLink']; ?>" class="btn btn-primary">
                                    <i class="fa fa-money"></i>
                                    Efetuar Pagamento com Pagseguro
                                </a>
                            </div>
                        </div>
                    <?php } else { ?>
                        <div class="col-xs-12">
                            <p>
                                <?php echo $this->mensagem; ?>
                            </p>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</section>