<?php
$urlSearch   = $this->url("biblioteca/default", array("controller" => "suspensao", "action" => "search"));
$urlCancelar = $this->url("biblioteca/default", array("controller" => "suspensao", "action" => "cancelar"));

$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('suspensao-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTableSuspensao" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Estado</th>
                            <th>Inicio suspensão</th>
                            <th>Fim suspensão</th>
                            <th>Leitor</th>
                            <th>Título</th>
                            <th>Modalidade</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.suspensaoIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlCancelar: '<?php echo $urlCancelar;?>'
        });
    });
</script>
