<input type="hidden" name="pesId">
<input type="hidden" name="inscricaoResultado">

<!--LINHA 1-->
<div class="row">
    <fieldset>
        <legend>Candidato a Aluno:</legend>
    </fieldset>

    <div class="col-xs-4">
        <div class="form-group">
            <label for="pesCpf">CPF:</label>

            <div class="form-group">
                <input type="text" name="pesCpf"
                       id="pesCpf"
                       class="form-control">
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="form-group">
            <label for="pesNome">Nome:</label>
            <input type="text" name="pesNome" id="pesNome" class="form-control">
        </div>
    </div>
</div>
<!--LINHA 2-->
<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label for="tiposelId">Forma de ingresso:</label>
            <input type="text" name="tiposelId"
                   id="tiposelId"
                   class="form-control">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="edicaoId">Processo Seletivo:</label>
            <input type="text" name="edicaoId"
                   id="edicaoId"
                   class="form-control">
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Nota: </label>

            <p class="form-control-static inscricao_nota">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Classificação: </label>

            <p class="form-control-static inscricao_classificacao">-</p>
        </div>
    </div>
</div>
<!--LINHA 3-->
<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label for="modId">Modalidade:</label>
            <input type="text" name="modId"
                   id="modId"
                   class="form-control" placeholder="Modalidade do curso">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="nivelId">Tipo de Curso:</label>
            <input type="text" name="nivelId"
                   id="nivelId"
                   class="form-control" placeholder="Nível de ensino">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="cursocampusId">Campus / Curso:</label>
            <input type="text" name="cursocampusId"
                   id="cursocampusId"
                   class="form-control">
        </div>
    </div>
</div>
<!--LINHA 4-->
<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label for="perId">Período Letivo: </label>
            <input name="perId" id="perId"
                   class="form-control">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="turmaId">Turma: </label>
            <input name="turmaId" id="turmaId"
                   class="form-control">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="unidadeId">Polo: </label>
            <input name="unidadeId" id="unidadeId"
                   class="form-control">
        </div>
    </div>
</div>
<!--DISCIPLINAS-->
<div class="row lista-disciplinas" style="display: none;">
    <fieldset>
        <legend>Disciplinas:</legend>
    </fieldset>
    <div class="col-sm-12" id="grade-disciplinas">
    </div>
</div>