<div class="col-sm-12">
    <fieldset>
        <legend>Dados Pessoais</legend>
    </fieldset>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="pesNacionalidade">Nacionalidade</label>
                <input type="text" name="pesNacionalidade" id="pesNacionalidade" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>CPF: </label>

                <p class="form-control-static pesCpf">-</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Nome: </label>

                <p class="form-control-static pesNome">-</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesDataNascimento">Data de Nascimento</label>
                <input type="text" name="pesDataNascimento" id="pesDataNascimento" class="form-control"
                       placeholder="Data de nascimento" value="<?php echo $this->arrDados['pesDataNascimento']; ?>">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesNaturalidade">Cidade de Nascimento</label>
                <input type="text" name="pesNaturalidade" id="pesNaturalidade" class="form-control"
                       placeholder="Informe a cidade de Nascimento" autocomplete="off"
                       value="<?php echo $this->arrDados['pesNaturalidade']; ?>">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesNascUf">Estado de nascimento:</label>
                <input type="text" name="pesNascUf" id="pesNascUf" class="form-control"
                       placeholder="Informe o estado do nascimento" autocomplete="off"
                       value="<?php echo $this->arrDados['pesNascUf']; ?>">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="alunoEtnia">Etnia:</label>
                <input name="alunoEtnia" id="alunoEtnia" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesSexo">Sexo:</label>
                <input name="pesSexo" id="pesSexo" class="form-control">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="pesRg">RG:</label>
                <input type="text" name="pesRg" id="pesRg" class="form-control" placeholder="Informe o RG"
                       value="<?php echo $this->arrDados['pesRg']; ?>">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="pesDocEstrangeiro">Documento Estrangeiro</label>
                <input type="text" name="pesDocEstrangeiro" id="pesDocEstrangeiro" class="form-control">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="pessoaNecessidades">Necessidades Especiais</label>
                <input type="text" name="pessoaNecessidades" id="pessoaNecessidades" class="form-control"
                       placeholder="Informe as necessidades especias do aluno">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="alunoMae">Nome da mãe</label>
                <input type="text" name="alunoMae" id="alunoMae" class="form-control"
                       placeholder="Informe o nome da mãe"
                       value="<?php echo $this->arrDados['alunoMae']; ?>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="alunoPai">Nome do pai</label>
                <input type="text" name="alunoPai" id="alunoPai" class="form-control"
                       placeholder="Informe o nome do pai"
                       value="<?php echo $this->arrDados['alunoPai']; ?>">
            </div>
        </div>
    </div>

    <div class="row">
        <fieldset>
            <legend>Origem</legend>
        </fieldset>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="origem">Origem do cadastro</label>
                <input type="text" name="origem" id="origem" class="form-control" placeholder="Origem do cadastro">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="alunocursoPessoaIndicacao">Aluno Indicação:</label>
                <input type="text" name="alunocursoPessoaIndicacao" id="alunocursoPessoaIndicacao"
                       class="form-control"
                       placeholder="Aluno Indicação" maxlength="255"
                       value="<?php echo $this->arrDados['alunocursoPessoaIndicacao']; ?>">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="pesIdAgenciador">Agente Educacional:</label>
                <input name="pesIdAgenciador" id="pesIdAgenciador" class="form-control">
            </div>
        </div>
        <input type="hidden" name="alunoId" id="alunoId">
    </div>

</div>