<div class="col-sm-12 row">
    <fieldset>
        <legend>Plano de Pagamento:</legend>
    </fieldset>

    <div class="col-sm-12 well" id="tipoTitulo">
        <div class="clearfix"></div>
        <div class="list componente-list"></div>
    </div>
</div>