<div class="row">
    <fieldset>
        <legend>Formação Anterior:</legend>
    </fieldset>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="seletorFormacao">Formações do candidato:</label>&nbsp;(<span id="contagemFormacoes"></span>)

            <div class="input-group">
                <input type="text" name="seletorFormacao" id="seletorFormacao" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-md" title="Editar" id="btn-editarFormacao"
                            disabled>
                        <i class="fa fa-pencil"></i>
                        Editar
                    </button>
                    <button type="button" class="btn btn-success btn-md" id="btn-addFormacao">
                        <i class="fa fa-plus"></i>
                        Adicionar
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <fieldset>
        <legend>Plano de Pagamento:</legend>
        <div class="col-xs-12">
            <div class="col-sm-12 well" id="tipoTitulo">
                <div class="clearfix"></div>
                <div class="list componente-list"></div>
            </div>
        </div>
    </fieldset>
</div>