<style>
    .ui-front {
        z-index: 9999999 !important;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-formacao" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" novalidate="novalidate" method="post" id="form-formacao-add"
                  enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cadastrar Formação</h4>
                </div>
                <div class="modal-body floating-label camposFormacao">
                    <div class="row">
                        <input type="hidden" name="formacaoId">

                        <div class="col-sm-12">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="formacaoCurso">Formação:</label>
                                    <input type="text" name="formacaoCurso"
                                           id="formacaoCurso"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="formacaoRegime">Regime:</label>
                                    <input type="text" name="formacaoRegime"
                                           id="formacaoRegime"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="formacaoInstituicao">Instituição:</label>
                                    <input type="text" name="formacaoInstituicao"
                                           id="formacaoInstituicao"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label for="formacaoTipo">Nível de Ensino:</label>
                                    <input type="text" name="formacaoTipo"
                                           id="formacaoTipo"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="formacaoAno">Ano de formação:</label>
                                    <input name="formacaoAno" id="formacaoAno"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="formacaoTipoEnsino">Tipo do ensino:</label>
                                    <input name="formacaoTipoEnsino" id="formacaoTipoEnsino"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="formacaoConcluido">Concluído:</label>
                                    <input name="formacaoConcluido" id="formacaoConcluido"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-info" id="salvar-formacao">
                            Salvar Formação
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>