<head>
    <link rel="stylesheet" type="text/css" media="screen" href="<?php $this->basePath()?>/css/universa/matricula/etapa-final/index.css?time=<?php echo date('his'); ?>">
</head>
<?php

$urlalunoDisciplina            = $this
    ->url('matricula/default', array('controller' => 'etapa-final', 'action' => 'listagem-alunos'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('etapa-final', false, 'App');
?>
<style>
    #ajaxLoad {
        display: none;
        width: 100%;
        height: 100%;
        padding-top: 10%;
        padding-left: 42%;
        position: fixed;
    '' left : 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url('<?=$this->basePath();?>/img/preto-transparente.png');
        background-repeat: repeat;
        opacity: 1.0;
        z-index: 9999999;
    }

    #alunoInformacao label {
        font-weight: 600;
        color: #666;
    }

    #tableHEDisciplinas table {
        text-align: center;
    }

    .tab-pane {
        position: relative;
        min-height: 50px;
    }

    .app-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    .nav-academico li, .nav-academico a {
        border-radius: 0px !important;
    }

    .nav-academico a {
        color: #333 !important;
    }

    .nav-academico .active a {
        webkit-box-shadow: -2px 0 0 #57889c;
        -moz-box-shadow: -2px 0 0 #57889c;
        box-shadow: -2px 0 0 #57889c;
        border-top-width: 0 !important;
        margin-top: 1px !important;
        font-weight: 700;
        background: transparent !important;
    }

    .nav-academico2 .active a {
        background: #57889c !important;
        color: #fff !important;
        font-weight: bold;
        border-radius: 0px !important;
    }

    .nav-academico2 a {
        color: #333 !important;
    }

    .form-control.select2-container {
        padding: 0px;
        border: 0px;
        height: auto;
    }

</style>

<div id="ajaxLoad">
    <img src="/img/ajax-loader.gif" class="loader" alt="loader"/>
</div>

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <fieldset>
                        <div class="col-sm-12">
                            <div><h4>Relação com análise dos alunos para colação de grau</h4></div>
                            <table id="dataTableEtapa"
                                   class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th>Matrícula</th>
                                    <th style="width: 300px">Aluno</th>
                                    <th style="width: 150px">Turma</th>
                                    <th>Período Letivo</th>
                                    <th style="width: 160px">Pendências de Disciplinas</th>
                                    <th style="width: 150px">Pendências Financeiras</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <a href="/matricula/etapa-final" class="btn btn-primary">
        Voltar
    </a>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        window.arrJson = '<?php echo $urlalunoDisciplina; ?>';
    });
</script>