<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => "Etapa Final"));

?>
    <div style="margin-top: 15px; margin-left: 15px">
    <div class="row">
    <div class="col-lg-3 col-md-6">

        <div class="panel panel-blueDark">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-excel-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                        <div>Listagem de formandos com alguma pendência</div>
                    </div>
                </div>
            </div>
            <a href="etapa-final/alunos-disciplina">
                <div class="panel-footer">
                    <span class="pull-left">Acessar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
