<?php

$urlDisciplinas            = $this
    ->url('matricula/default', array('controller' => 'etapa-final', 'action' => 'disciplinas'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('etapa-final', false, 'App');


?>
<style>
    #ajaxLoad {
        display: none;
        width: 100%;
        height: 100%;
        padding-top: 10%;
        padding-left: 42%;
        position: fixed;
    '' left : 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url('<?=$this->basePath();?>/img/preto-transparente.png');
        background-repeat: repeat;
        opacity: 1.0;
        z-index: 9999999;
    }

    #alunoInformacao label {
        font-weight: 600;
        color: #666;
    }

    #tableHEDisciplinas table {
        text-align: center;
    }

    .tab-pane {
        position: relative;
        min-height: 50px;
    }

    .app-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    .nav-academico li, .nav-academico a {
        border-radius: 0px !important;
    }

    .nav-academico a {
        color: #333 !important;
    }

    .nav-academico .active a {
        webkit-box-shadow: -2px 0 0 #57889c;
        -moz-box-shadow: -2px 0 0 #57889c;
        box-shadow: -2px 0 0 #57889c;
        border-top-width: 0 !important;
        margin-top: 1px !important;
        font-weight: 700;
        background: transparent !important;
    }

    .nav-academico2 .active a {
        background: #57889c !important;
        color: #fff !important;
        font-weight: bold;
        border-radius: 0px !important;
    }

    .nav-academico2 a {
        color: #333 !important;
    }

    .form-control.select2-container {
        padding: 0px;
        border: 0px;
        height: auto;
    }

    #dataTableDisciplinas a:link {
        color: black;
        text-decoration: none;
    }

    #dataTableDisciplinas a:visited {
        color: black;
    }
</style>

<div id="ajaxLoad">
    <img src="/img/ajax-loader.gif" class="loader" alt="loader"/>
</div>

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <fieldset>
                        <div class="col-sm-12">
                            <h4>Relação das pendências do aluno para colação de grau</h4><br>
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th>Aluno</th>
                                    <th>Turma</th>
                                    <th>Matrícula</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="nome"></td>
                                    <td id="turma"></td>
                                    <td id="matricula"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table id="dataTableDisciplinas"
                                   class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th>Disciplinas Pendentes</th>
                                    <th width="542px">Períodos</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <a href="/matricula/etapa-final/alunos-disciplina" class="btn btn-primary">
        Voltar
    </a>
</footer>
<div id="modalDatasConclusao" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Datas de Conclusão</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 hidden" id="mensagemDatasConclusao">
                        <p>Não é possível lançar datas de conclusão do aluno.</p>

                        <p></p>
                    </div>
                    <div class="col-sm-12" id="formDatasConclusao">

                        <div class="form-group">
                            <label for="MCInput">Data da Colação:</label>
                            <input type="text" class="form-control" id="dataDaColacao" name="dataDaColacao">
                        </div>
                        <div class="form-group">
                            <label for="MEInput">Data da Expediçao:</label>
                            <input type="text" class="form-control" id="dataDaExpedicao" name="dataDaExpedicao">
                        </div>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary" id="salvarDatasConclusao">Salvar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        window.disciplinas = '<?php echo $urlDisciplinas; ?>';
        window.lancamento = '<?php echo $urlLancamento; ?>';
        window.matricula = '<?= $this->matricula ?>';
    });
</script>