<?php
$urlRemover      = $this->url("biblioteca/default", array("controller" => "biblioteca-virtual", "action" => "remove"));
$urlAdicionar    = $this->url("biblioteca/default", array("controller" => "biblioteca-virtual", "action" => "add"));
$urlSearch       = $this->url("biblioteca/default", array("controller" => "biblioteca-virtual", "action" => 'search'));
$urlAdicionarUrl = $this->url("biblioteca/default", array("controller" => "biblioteca-virtual",
                                                          "action"     => "criar-url"));

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('biblioteca-virtual-index', false, 'App');
?>
<style>
    #ajaxLoad {
        display: none;
        width: 100%;
        height: 100%;
        padding-top: 10%;
        padding-left: 42%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url('<?=$this->basePath();?>/img/preto-transparente.png');
        background-repeat: repeat;
        opacity: 1.0;
        z-index: 9999999;
    }

    #modal-minha-biblioteca > .modal-dialog{
        margin: 0 auto 0 auto !important;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTablePessoa" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Integrado</th>
                            <th>Categoria</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-minha-biblioteca" role="dialog">
    <div class="modal-dialog" style="width: 100%;height: 100%;">
        <div class="modal-content" style="width: 100%;height: 100%;">
            <div style="text-align: right">
                <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <input type="hidden" id="loaded">
            <iframe src="" id="iframe-minha-biblioteca" style="width: 100%;height: 100%;"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.bibliotecaVirtualIndex({
            url: {
                search: '<?= $urlSearch?>',
                integrarAluno: '<?= $urlAdicionar?>',
                acessarBiblioteca: '<?= $urlAdicionarUrl?>',
                remover: '<?= $urlRemover?>'
            }
        });
    });
</script>
