<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
    }

    .tab-content {
        padding-top: 10px;
    }

    #modal-predio .modal-dialog {
        width: 80%;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-predio" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar Prédio</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="" id="predio-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="predioId" value="">
                        <input type="hidden" name="GUID" value="">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="predioTipo">Tipo:</label>
                                <select name="predioTipo" id="predioTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrPredioTipo as $value) {
                                        $id   = $value['id'];
                                        $text = $value['text'];
                                        echo "<option value='" . $id . "'>" . $text . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="predioNome">Nome:</label>
                                <input type="text" name="predioNome" id="predioNome" class="form-control"
                                       placeholder="Informe o nome do prédio">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="predioCep">CEP:</label>

                                <div class="input-group">
                                    <input type="text" name="predioCep" id="predioCep" class="form-control"
                                           placeholder="00000-000">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default buscarCep" type="button"
                                                title="Buscar endereço pelo CEP">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="predioLogradouro">Logradouro:</label>
                                <input type="text" name="predioLogradouro" id="predioLogradouro"
                                       class="form-control"
                                       placeholder="Informe o logradouro">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="predioNumero">Número:</label>
                                <input type="text" name="predioNumero" id="predioNumero" class="form-control"
                                       placeholder="Informe o número">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="predioComplemento">Complemento:</label>
                                <input type="text" name="predioComplemento" id="predioComplemento"
                                       class="form-control" placeholder="Informe o complemento">
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="predioBairro">Bairro:</label>
                                <input type="text" name="predioBairro" id="predioBairro" class="form-control"
                                       placeholder="Informe o bairro">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="predioCidade">Cidade:</label>
                                <input type="text" name="predioCidade" id="predioCidade" class="form-control"
                                       placeholder="Informe a cidade" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="predioEstado">Estado:</label>
                                <input type="text" name="predioEstado" id="predioEstado" class="form-control"
                                       placeholder="Informe o estado" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-salvar-predio">
                                    <i class="fa fa-save"></i>
                                    Salvar Prédio
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>