<fieldset>
    <legend>Dados Básicos</legend>
    <div class="col-sm-6 text-center">
        <div class="form-group arq">
            <label for="arq">Logo Campus</label>
            <input name="arq" id="arq" type="file"/>
        </div>
    </div>
    <div class="col-sm-6 text-center">
        <div class="form-group">
            <label for="arqCarteirinha">Layout Carteirinha</label>
            <input name="arqCarteirinha" class="form-control" id="arqCarteirinha" type="file"/>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="campNome">Nome:</label>
            <input type="text" name="campNome" id="campNome" class="form-control"
                   placeholder="Informe o nome do câmpus" maxlength="45"
                   value="<?php echo $this->arrDados['campNome']; ?>">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="ies">Instituição:</label>
            <input type="text" name="ies" id="ies" class="form-control"
                   placeholder="selecione a instituição de ensino">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="diretoriaPes">Diretoria:</label>
            <input type="text" name="diretoriaPes" id="diretoriaPes"
                   class="form-control"
                   placeholder="selecione a pessoa responsável pela secretaria">
            <a href="#" class="hidden editarPessoa editarPJ">
                <i class="fa fa-edit"></i> Editar dados da pessoa responsável pela diretoria
            </a>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="secretariaPes">Secretaria:</label>
            <input type="text" name="secretariaPes" id="secretariaPes"
                   class="form-control"
                   placeholder="selecione a pessoa responsável pela secretaria">
            <a href="#" class="hidden editarPessoa editarPJ">
                <i class="fa fa-edit"></i> Editar dados da pessoa responsável pela secretaria
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="campTelefone">Telefone:</label>
            <input type="text" name="campTelefone" id="campTelefone" class="form-control"
                   placeholder="Informe o telefone do câmpus" maxlength="45"
                   value="<?php echo $this->arrDados['campTelefone']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="campEmail">E-mail:</label>
            <input type="text" name="campEmail" id="campEmail" class="form-control"
                   placeholder="Informe o email do câmpus" maxlength="45"
                   value="<?php echo $this->arrDados['campEmail']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="campSite">Site:</label>
            <input type="text" name="campSite" id="campSite" class="form-control"
                   placeholder="Informe o site do câmpus" maxlength="45"
                   value="<?php echo $this->arrDados['campSite']; ?>">
        </div>
    </div>
</fieldset>