<fieldset>
    <legend>Prédios</legend>
    <div class="col-sm-12">
        <table id="dataTablePredios"
               class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th title="Ações" class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <textarea class="hidden" name="predios" id="predios"></textarea>
</fieldset>
