<?php
$urlListagem = $this->url('organizacao/default', array('controller' => 'org-campus'));
$paramUrl    = array('controller' => 'org-campus', 'action' => 'add');

if ($this->arrDados['campId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['campId'];
}

$urlForm = $this->url('organizacao/default', $paramUrl);

$urlPesquisaPessoaJuridica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-juridica', 'action' => 'search-for-json'));

$urlPesquisaPessoa = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$urlPesquisaOrgIes = $this
    ->url('organizacao/default', array('controller' => 'org-ies', 'action' => 'search-for-json'));

$urlPesquisaPessoaFisica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-fisica', 'action' => 'search-for-json'));

$urlGerenciadorDeArquivosThumb    = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download'));

$urlBuscaCEP = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('org-campus-add', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();

$variaveis['partial']                    = true;
$variaveis['desativaAutocompletePessoa'] = true;
$variaveis['ajaxSubmit']                 = true;
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1%;
        width: 48%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .file-upload .message {
        display: none;
    }

    .file-upload .preview {
        width: 100%;
        height: 8em;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?php echo $urlForm; ?>" id="org-campus-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="campId" id="campId"
                               value="<?php echo $this->arrDados['campId']; ?>">

                        <div id="org-campus-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#abaDadosBasicos">
                                            <a href="#abaDadosBasicos" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Básicos</span>
                                            </a>
                                        </li>
                                        <li data-target="#abaPredios">
                                            <a href="#abaPredios" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Prédios</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="abaDadosBasicos">
                                    <?php
                                    echo $this->partial('organizacao/org-campus/add-dados-basicos.phtml', $variaveis);
                                    ?>
                                </div>
                                <div class="tab-pane" id="abaPredios">
                                    <?php
                                    echo $this->partial('organizacao/org-campus/add-predios.phtml', $variaveis);
                                    ?>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-fisica-editar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa-fisica/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<?php echo $this->partial('organizacao/org-campus/add-predio-modal.phtml', $variaveis); ?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgCampusAdd({
            url: {
                gerenciadorDeArquivosThumb: '<?=$urlGerenciadorDeArquivosThumb;?>',
                gerenciadorDeArquivosDownload: '<?=$urlGerenciadorDeArquivosDownload;?>',
                pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>',
                ies: '<?=$urlPesquisaOrgIes;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>',
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>,
            },
            value: {
                arq: <?=json_encode($this->arrDados['arq']);?>,
                arqCarteirinha: <?=json_encode($this->arrDados['arqCarteirinha']);?>,
                ies: <?=json_encode($this->arrDados['ies']);?>,
                diretoriaPes: <?=json_encode($this->arrDados['diretoriaPes']);?>,
                secretariaPes: <?=json_encode($this->arrDados['secretariaPes']);?>,
                predios: <?=json_encode($this->arrDados['predios']);?>,
            }
        });
    });
</script>