<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-processo'));
$paramUrl    = array('controller' => 'estagiogeral-processo', 'action' => 'add');

if ($this->arrDados['estagioProcessoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['estagioProcessoId'];
}

$urlPesquisaEstagiogeralNucleoProcesso = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-nucleo-processo', 'action' => 'search-for-json'));
$urlForm                               = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-processo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-processo-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="estagioProcessoId" id="estagioProcessoId"
                               value="<?php echo $this->arrDados['estagioProcessoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoProcessoId">Código:</label>
                                <input type="text" name="nucleoProcessoId" id="nucleoProcessoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['nucleoProcessoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioProcessoDescricao">Descrição:</label>
                                <input type="text" name="estagioProcessoDescricao" id="estagioProcessoDescricao"
                                       class="form-control"
                                       placeholder="Descrição" maxlength="45"
                                       value="<?php echo $this->arrDados['estagioProcessoDescricao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioProcessoDataInicio">estagio_processo_data_inicio:</label>
                                <input type="text" name="estagioProcessoDataInicio" id="estagioProcessoDataInicio"
                                       class="form-control"
                                       placeholder="estagio_processo_data_inicio" maxlength=""
                                       value="<?php echo $this->arrDados['estagioProcessoDataInicio']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioProcessoDataFim">estagio_processo_data_fim:</label>
                                <input type="text" name="estagioProcessoDataFim" id="estagioProcessoDataFim"
                                       class="form-control"
                                       placeholder="estagio_processo_data_fim" maxlength=""
                                       value="<?php echo $this->arrDados['estagioProcessoDataFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralProcessoAdd({

            urlPesquisaEstagiogeralNucleoProcesso: '<?=$urlPesquisaEstagiogeralNucleoProcesso;?>',

            <?php echo $this->arrDados['nucleoProcessoId'] ? "\n,nucleoProcessoId:".json_encode($this->arrDados['nucleoProcessoId']) : ''; ?>
        });
    });
</script>