<?php
$this->layoutComponent()->addJS('select2');
?>

<script language="JavaScript" src="<?php echo $this->basePath(
); ?>/smart-admin/js/notification/SmartNotification.min.js?nocache=<?= date("Y-m-d H:i:s") ?>"></script>

<script language="JavaScript" src="<?php echo $this->basePath(
); ?>/js/universa/matricula/acadperiodo-docente-disciplina/index.js?nocache=<?= date("Y-m-d H:i:s") ?>"></script>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken ">
            <div class="widget-body">
                <table class="table table-striped table-bordered table-hover" width="100%" id="listDocencia">
                    <thead>
                    <tr>
                        <th>Turma</th>
                        <th>Disciplina</th>
                        <th>Professor</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <footer class="text-center">
                    <button type="button" class="btn btn-primary" id="btn-novo" onclick="docente.exibeModal()">
                        Novo
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="docenciaModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Vínculo de Docência</h4>
            </div>
            <div class="modal-body row">

                <form action="/matricula/acadperiodo-docente-disciplina/save" method="POST"
                      enctype="multipart/form-data" id="formDocencia">

                    <div class="row">
                        <section class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <input type="text" name="turma"
                                       id="turma"
                                       class="form-control"
                                       placeholder="Selecione uma Turma">
                            </div>
                        </section>
                    </div>
                    <br>

                    <div class="row" id="displinas-docentes">

                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="form-group">

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Salvar
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <input type="hidden" value='<?= $this->docentesJson ?>' name="docentesJson"/>


    <style type="text/css">
        div.DTTT {
            margin: auto;
            margin-bottom: 1em;
            margin-left: -35%;
        }
    </style>


    <div id="ajaxLoad"
         style="display:none; height: 100% ;padding-top: 20%; padding-left: 42%;position: absolute; left: 0px;right: 0px;bottom: 0px;top: 0px;background-image: url('/img/preto-transparente.png');background-repeat: repeat;width: 100%;opacity: 1.0;z-index: 9999999;">
        <img src="/img/ajax-loader.gif" class="loader" alt="loader"/>
    </div>