<?php
$urlAdd      = $this->url("financeiro/default", array("controller" => "financeiro-remessa", "action" => "add"));
$urlList     = $this->url("financeiro/default", array("controller" => "financeiro-remessa", "action" => "search"));
$urlDownFile = $this->url("gerenciador-arquivos/default", array("controller" => "arquivo", "action" => "download"));

$urlSearchBoleto = $this->url(
    "financeiro/default",
    array("controller" => "financeiro-remessa", "action" => "search-boletos")
);
$urlBuscaBoletos = $this->url(
    "financeiro/default",
    array("controller" => "financeiro-remessa", "action" => "busca-boletos")
);
$urlGeraRemessa  = $this->url(
    "financeiro/default",
    array("controller" => "financeiro-remessa", "action" => "gera-arquivo-remessa")
);

$urlDownload = $this->url("gerenciador-arquivos/default", array("controller" => "arquivo", "action" => "download"));

echo $this->partial('financeiro/financeiro-remessa/remessas.phtml');
$data = (new \DateTime())->format('d/m/Y');

$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

$this->layoutComponent()->addJS('remessa-index', false, 'App');
?>
<style>
    .app-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;

    }

    .modal-dialog {
        width: 90%;
        height: 100%;
    }

    .tab-pane {
        padding: 2%;
    }

    #financeiro-remessas-modal {
        width: 100%;
        height: 100%;
    }

</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="panel-group col-sm-12" id="accordion" role="tablist"
                     aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" id="btn-accordion"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-chevron-down"></i>
                                    Filtro Para Geração de Remessa:
                                </a>
                            </h4>
                        </div>
                        <div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="col-sm-5">
                                        <fieldset>
                                            <legend>Configuração de conta:</legend>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="confConta">Conta Bancária:</label>
                                                    <select name="confConta" id="confConta"
                                                            class="form-control">
                                                        <?php foreach ($this->optsConfConta as $conf) { ?>
                                                            <option
                                                                value="<?= $conf['id'] ?>"><?= $conf['text'] ?>                                    </option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-7">
                                        <fieldset>
                                            <legend>Configurações de Títulos:</legend>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="carteiraBoleto">
                                                        Selecione a Carteira:
                                                    </label>
                                                    <input name="carteiraBoleto" id="carteiraBoleto"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="tituloEstado">Situação dos Títulos:</label>
                                                    <select name="tituloEstado" id="tituloEstado" class="form-control"
                                                            multiple>
                                                        <?php foreach ($this->arrTituloEstado as $tituloEstado) {
                                                            echo(
                                                                '<option value="' . $tituloEstado['id'] . '">' .
                                                                $tituloEstado['text'] .
                                                                '</option>'
                                                            );
                                                        }
                                                        ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="reinclusao">
                                                        Permitir Reinclusão de Títulos:
                                                    </label>
                                                    <select name="reinclusao" id="reinclusao" class="form-control">
                                                        <option value="Não">Não</option>
                                                        <option value="Sim">Sim</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <legend>Processamento de Título</legend>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="dataProcessInicial">Data Inicial</label>
                                                    <input type="text" name="dataProcessInicial"
                                                           id="dataProcessInicial"
                                                           class="form-control" placeholder="00/00/0000"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="dataProcessFinal">Data Final</label>
                                                    <input type="text" name="dataProcessFinal"
                                                           id="dataProcessFinal"
                                                           class="form-control" placeholder="00/00/0000"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <legend>Vencimento do Título</legend>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="dataVencInicial">Data Inicial</label>
                                                    <input type="text" name="dataVencInicial"
                                                           id="dataVencInicial"
                                                           class="form-control" placeholder="00/00/0000"
                                                           value="<?= date("d/m/Y"); ?>"
                                                        />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="dataVencFinal">Data Final</label>
                                                    <input type="text" name="dataVencFinal"
                                                           id="dataVencFinal"
                                                           class="form-control" placeholder="00/00/0000"
                                                           value="<?php
                                                           echo date("d/m/Y", strtotime('last day of this month'));
                                                           ?>"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success" id="filtrar-resultados">
                                            <i class="fa fa-search"></i>
                                            Filtra Resultados
                                        </button>
                                        <button type="button" class="btn btn-secondary" id="limpar-datas">
                                            <i class="fa fa-clear"></i>
                                            Limpar Campos de Data
                                        </button>
                                        <button type="button" class="btn btn-success" id="btn-visualiza-remessa">
                                            <i class="fa fa-th-list"></i>
                                            Visualizar Remessas Geradas
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="painelAbas" class="col-xs-12 hidden">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#boletos-tab" aria-controls="boletos-tab" role="tab"
                               data-toggle="tab">
                                Títulos
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#boletos-remove-tab" aria-controls="boletos-remove-tab" role="tab"
                               data-toggle="tab">
                                Exceções
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#boletos-impedimento-tab" aria-controls="boletos-impedimento-tab"
                               role="tab"
                               data-toggle="tab" class="adm">
                                Títulos com Impedimento
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="boletos-tab">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered table-hover" width="100%"
                                           id="tableBoletos">
                                        <thead>
                                        <tr>
                                            <th title="Remover da Seleção">-</th>
                                            <th>Título</th>
                                            <th>Nosso Número</th>
                                            <th>Tipo</th>
                                            <th>Matrícula</th>
                                            <th>Sacado</th>
                                            <th>Valor Bruto</th>
                                            <th>Processamento</th>
                                            <th>Vencimento</th>
                                            <th>Estado</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-warning hidden" id="gerar-remessa">
                                        <i class="fa fa-plus-square"></i>
                                        Gerar Remessa
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="boletos-remove-tab">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered table-hover" width="100%"
                                           id="tableBoletosRemovidos">
                                        <thead>
                                        <tr>
                                            <th title="Adicionar à seleção">+</th>
                                            <th>Título</th>
                                            <th>Nosso Número</th>
                                            <th>Tipo</th>
                                            <th>Matrícula</th>
                                            <th>Sacado</th>
                                            <th>Valor Bruto</th>
                                            <th>Processamento</th>
                                            <th>Vencimento</th>
                                            <th>Estado</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="text-center">
                                    <button type="button" class="btn btn-info" id="gerar-remessa-excecao">
                                        <i class="fa fa-plus-square"></i>
                                        Gerar Remessa de Exceções
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane row" id="boletos-impedimento-tab">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-striped table-bordered table-hover" width="100%"
                                           id="tableBoletosImpedimento">
                                        <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Nosso Número</th>
                                            <th>Tipo</th>
                                            <th>Matrícula</th>
                                            <th>Sacado</th>
                                            <th>Valor Bruto</th>
                                            <th>Processamento</th>
                                            <th>Vencimento</th>
                                            <th>Estado</th>
                                            <th>Observação</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?= $this->basePath();?>/smart-admin/sound/';
        $("#btn-accordion").click();
        $.financeiroRemessaIndex({
            url: {
                urlListRemessa: '<?= $urlList?>',
                urlNewRemessa: '<?= $urlAdd?>',
                urlDownFile: '<?= $urlDownFile?>',
                urlSearchBoleto: '<?= $urlSearchBoleto?>',
                urlGeraRemessa: '<?= $urlGeraRemessa?>',
                urlBuscaBoletos: '<?= $urlBuscaBoletos?>',
                urlDownload: '<?=$urlDownload?>'

            },
            value: {
                dataAtual: '<?=$data?>',
                quantidadeMaximaBoletos: '<?=$this->quantidadeMaximaBoletos?>'
            }
        });
    });
</script>