<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-remessas-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">Remessas Geradas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover" width="100%"
                               id="tableRemessa">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Código da Remessa</th>
                                <th>Dados Bancários</th>
                                <th>Quantidade de Boletos</th>
                                <th>Data de criação</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="btn-remessa">
                            <button type="button" class="btn btn-danger" id="btn-fechar-remessa">
                                <i class="fa fa-close"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>