<?php
$urlAction   = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'aluno-por-agente'));
$urlListagem = $this
    ->url('matricula/default', array('controller' => 'relatorios'));
$urlAgentes  = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('relatorio-aluno-por-agente', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAction ?>" method="post" target="_blank" id="relatorio-aluno-por-agente">
                        <h4>Relatório Quantitativo de Apuração de Alunos e Cursos Relacionados a Agente:</h4>

                        <fieldset>
                            <legend>Filtros:</legend>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pesIdAgente">Agentes: </label>
                                    <input name="pesIdAgente" id="pesIdAgente" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="alunocursoSituacao">Situação do Aluno</label>
                                    <input name="alunocursoSituacao" id="alunocursoSituacao" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="dataInicio">Data Inícial</label>
                                    <input name="dataInicio" id="dataInicio" class="form-control"
                                           value="<?php echo date("d/m/Y", strtotime('-1 month')); ?>">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="dataFinal">Data Final</label>
                                    <input name="dataFinal" id="dataFinal" class="form-control"
                                           value="<?php echo date("d/m/Y"); ?>">
                                </div>
                            </div>

                        </fieldset>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary" id="gerar">
                                    <i class="fa fa-gear"></i>
                                    Gerar relatório
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.relatorioAlunoPorAgente({
            url: {
                agente: '<?php echo $urlAgentes ?>'
            },
            data: {
                arrAlunoSituacao: <?= json_encode($this->arrAlunoSituacao) ?>
            }
        });
    });
</script>