<?php
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('versa.skeleton', false, 'App', 'header');
$this->layoutComponent()->addJS('matricula/relatorios/index', false, 'App');
?>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken">
            <div class="widget-body">
                <form name='form' action="/matricula/relatorios/alunos-turma-disciplina" method="post" target="_blank"
                      data-validate="yes">
                    <section>
                        <div class="page-header">
                            <h1><b>Relatórios e Formulários:</b> Turma Disciplinas</h1>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <label><b>Campus/Curso:</b></label>
                                <select class="form-control" id="campus_curso" name="campus_curso" required="required">
                                    <option value="">Selecione</option>
                                    <?php foreach ($this->campi as $campus): ?>
                                        <option selected="selected"
                                                value="<?= $campus['cursocampus_id'] ?>"><?= $campus['camp_nome'] . '/' . $campus['curso_nome'] ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label><b>Modelo:</b></label>
                                <select class="form-control" id="tipoRelatorio" name="tipo" data-validations="Required">
                                    <option value="etiquetas">Etiquetas de Provas</option>
                                    <option value="listagem">Lista dos Alunos</option>
                                    <option value="frequencia">Lista dos Chamadas</option>
                                    <option value="alunoFinal">Alunos de Final</option>
                                </select>
                            </div>
                            <div class="col-xs-3" id="tipoAluno">
                                <label><b>Situação do Aluno:</b></label>
                                <select class="form-control" name="filtro">
                                    <option value="Todas">Todas</option>
                                    <option value="Matriculado">Matriculados</option>
                                    <option value="Adaptante">Adaptantes</option>
                                    <option value="Dependente">Dependentes</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label><b>Periodo Letivo:</b></label>
                                <select class="form-control" id="periodoLetivo" name="periodoLetivo"
                                        required="required">
                                    <option value="">Selecione</option>
                                    <?php foreach ($this->periodos as $periodo): ?>
                                        <option value="<?= $periodo->getPerId() ?>"><?= $periodo->getPerNome(
                                            ) ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label><b>Turma:</b></label>
                                <select class="form-control" name="turmas" id="turmas" required="required">
                                    <option value="">Selecione</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <label><b>Disciplina:</b></label>
                                <select class="form-control" id="disciplina" name="disciplina" required="required">
                                    <option value="">Selecione</option>
                                </select>
                            </div>

                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="/matricula/relatorios" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-gear"></i>
                                    Gerar Documento
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>