<html>
<head>
    <style>
        @page {
            margin: 180px 50px;
            font-size: 70%;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -160px;
            right: 0px;
            height: 150px text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: -80px;
            right: 0px;
            height: 110px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }


        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;

        }

        table td {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }
        .logo {
            max-width: 150px;
            max-height: 80px;
        }

    </style>
    <div id="footer">
        <hr>
        Versa Tecnologia - Universa  <b><?= (new \DateTime('now'))->format("d/m/Y H:i") ?></b>
        <p style="text-align:left ">Versa Tecnologia - Universa </p>
        <p class="page" style="text-align: right"> pág </p>
    </div>
    <?php if(count($this->alunos) > 0){?>
<body>
<table width="100%" id="header" style="text-transform: uppercase; text-align: center" >
    <tr>
        <td width="40%" valign="top">
            <img src="<?php echo $this->logo;?>" class="logo"/>
        </td>
        <td width="60%" valign="top" style="text-align: center"  colspan="4" >
            <h3><?= ($this->mantenedora) ?></h3>
            <h3><?= ($this->ies) ?></h3>
            <h4>FORMULÁRIO DE FREQUÊNCIA MANUAL </h4>
            <h2><?= $this->alunos[0]['disciplinaNome']?></h2>
        </td>
    </tr>
    <tr>
        <td style="width:5%;">
            <b>CURSO</b>
        </td>
        <td style="width:10%;">
            <b>PERÍODO</b>
        </td>
        <td style="width:25%;">
            <b>Turno</b>
        </td>
        <td style="width:10%;">
            <b>QUANTIDADE</b>
        </td>
        <td style="width:50%;">
            <b>Turma</b>
        </td>
    </tr>
    <tr>
        <td><?= $this->alunos[0]['cursoNome'] ?></td>
        <td><?= $this->alunos[0]['turmaSerie'].'º'?></td>
        <td><?= $this->alunos[0]['turmaTurno'] ?></td>
        <td><?= count($this->alunos) ?></td>
        <td><?= $this->alunos[0]['turmaNome'].'-'.$this->alunos[0]['perAno'].'/'.$this->alunos[0]['perSemestre']?></td>
    </tr>
</table>
<table id="headerinfo">
    <table width="100%" style="text-align: center">
        <tr>
            <td width="10%" >
                <b>Matrícula</b>
            </td>
            <td width="50%">
                <b>Nome do Aluno</b>
            </td>
            <td width="40%">
                <b>Assinatura</b>
            </td>
            <
        </tr>
    </table>
</table>
<table id="content" style="right: 110px; text-transform: uppercase" width="100%;"  >
    <?php
    foreach($this->alunos as $aluno){
       $situacao = ($aluno['situacaoNome']=== 'Matriculado') ? '' : '<b> ( '.$aluno['situacaoNome'].' )</b>';
        ?>
        <tr>
            <td style="width: 10%; text-align: center">
                <?= $aluno['alunoCursoId']?>
            </td>
            <td style=" width: 50%"><?= $aluno['alunoNome'].$situacao?></td>
            <td style=" width: 40%"></td>
        </tr>
    <?php }?>
</table>
<?php }else{
    echo "<p>NÃO FORAM ENCONTRADOS ALUNOS NESTA TURMA COM BASE NOS FILTROS INFORMADOS.</p>";
} ?>
</html>


