<?php
$urlAction        = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'aluno-por-operador'));
$urlListagem      = $this
    ->url('matricula/default', array('controller' => 'relatorios'));
$urlAcessoPessoas = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('relatorio-aluno-por-operador', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAction ?>" method="post" target="_blank" id="relatorio-aluno-por-operador">
                        <h4>Relatório Quantitativo de Apuração de Alunos e Cursos Cadastrados por Operador:</h4>

                        <fieldset>
                            <div class="col-sm-8">
                                <legend>Filtros:</legend>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="operadormult">Operador de Cadastro: </label>
                                        <input name="operadormult" id="operadormult" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="situacaoaluno">Situação de Matrícula</label>
                                        <input name="situacaoaluno" id="situacaoaluno" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <legend>Data de Cadastro</legend>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="datacadastroinicial">Data Inícial de Cadastro</label>
                                        <input name="datacadastroinicial" id="datacadastroinicial" class="form-control"
                                               value="<?php echo date("d/m/Y", strtotime('-1 month')); ?>">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="datacadastrofinal">Data Final de Cadastro</label>
                                        <input name="datacadastrofinal" id="datacadastrofinal" class="form-control"
                                               value="<?php echo date("d/m/Y"); ?>">
                                    </div>

                                </div>
                            </div>
                        </fieldset>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>

                                <button type="submit" class="btn btn-primary" id="gerar">
                                    <i class="fa fa-gear"></i>
                                    Gerar relatório
                                </button>

                                <button type="button" class="btn btn-secondary" id="limpar">
                                    <i class="fa fa-clear"></i>
                                    Limpar filtros
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.relatorioAlunoPorOperador({
            url: {
                acessoPessoas: '<?php echo $urlAcessoPessoas;?>'
            },
            data: {
                arrAlunoSituacao: <?= json_encode($this->arrAlunoSituacao) ?>
            }
        });
    });
</script>