<?php
$urlcampus    = $this
    ->url('matricula/default', array('controller' => 'campus', 'action' => 'search-for-json'));
$urlCampus         = $this
    ->url('organizacao/default', array('controller' => 'orgCampus', 'action' => 'search-for-json'));
$urlCurso          = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));
$urlPeriodo        = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlTurma          = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json'));
$urlRelatorioAluno = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'relatorio-aluno-contato'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('aluno-contato', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright">
                        <form action="<?= $urlRelatorioAluno?>" method="post" target="_blank" id="relatorio-aluno-contato">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <legend>Informações Acadêmicas:</legend>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="perId">Período:</label>
                                                    <input name="perId" id="perId"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="campus">Campus:</label>
                                                    <input name="campus" id="campus"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="curso">Curso:</label>
                                                    <input name="curso" id="curso"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="serie">Série:</label>
                                                    <input name="serie" id="serie"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="turma">Turma:</label>
                                                    <input type="text" name="turma" id="turma"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="turno">Turno:</label>
                                                    <input name="turno" id="turno"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="situacao">Situação:</label>
                                                    <input type="text" name="situacao" id="situacao"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-file"></i>
                                            Gerar Relatório
                                        </button>
                                        <button type="button" class="btn btn-secondary"
                                                id="alunosFiltroLimpar">
                                            <i class="fa fa-clear"></i>
                                            Limpar filtros
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
            $.alunoContato({
                url: {
                    campus: '<?php echo $urlcampus;?>',
                    campus: '<?php echo $urlCampus;?>',
                    curso: '<?php echo $urlCurso;?>',
                    periodo: '<?php echo $urlPeriodo;?>',
                    turma: '<?=$urlTurma;?>',
                    relatorioAluno: '<?=$urlRelatorioAluno;?>'
                },
                data: {
                    arrSituacao: <?=json_encode($this->arrSituacao);?>
                },
                value: {}
            });
        });
    </script>