<?php
?>
<html>
<head>
    <style>
        @page {
            margin: 180px 50px;
            font-size: 70%;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -150px;
            right: 0px;
            height: 150px text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }


        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

        }

        table td {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }
        .logo {
            max-width: 150px;
            max-height: 80px;
        }

    </style>
    <div id="footer">

        <p style="text-align: center"><b><?= $this->mensagem ?></b></p>
        <p style="text-align:left ">Versa Tecnologia - Universa </p>

        <p class="page" style="text-align: right"> pág </p>
    </div>

    <table id="header">
        <tr>
            <td width="30%" valign="top">
                <img src="<?php echo $this->logo;?>" class="logo"/>
            </td>
            <td width="70%" valign="top" style="text-align: center" colspan="6">
                <h4><?= ($this->mantenedora) ?></h4>
                <h4><?= ($this->ies) ?></h4>
                <h5>PLANILHA DE ALUNOS EM E. FINAL</h5>
                <h3><span><u><?= $this->docente->getDisc()->getDiscNome() ?></u></h3>
            </td>

        </tr>
        <tr>
            <td style="width:40%;">
                <b>Semestre</b>
            </td>
            <td style="width:6%;">
                <b>F. Etapas</b>
            </td>
            <td style="width:7%;">
                <b>F. Final</b>
            </td>
            <td style="width:7%;">
                <b>Turma</b>
            </td>
            <td style="width:7%;">
                <b>C. Horária</b>
            </td>
            <td style="width:3%;">
                <b>Q. ALUNOS</b>
            </td>
            <td style="width:30%;">
                <b>Professor</b>
            </td>
        </tr>
        <tr>
            <?php $teste = date_format($this->docente->getDocdiscDataFechamento(),"d-m-Y")?>
            <td><?= $this->docente->getTurma()->getPer()->getPerSemestre().'/'.$this->docente->getTurma()->getPer()->getPerAno(); ?></td>
            <td><?= is_null($this->docente->getDocdiscDataFechamento())?'-': date_format($this->docente->getDocdiscDataFechamento(),"d/m/Y") ; ?></td>
            <td><?= is_null($this->docente->getDocdiscDataFechamento())?'-': date_format($this->docente->getDocdiscDataFechamentoFinal(),"d-m-Y"); ?></td>
            <td><?= $this->docente->getTurma()->getTurmaNome() ?></td>
            <td><?= $this->cargaHoraria ?> HRS</td>
            <td><?= count($alunos) ?></td>
            <td><?= $this->docente->getDocente()->getPes()->getPes()->getPesNome() ?></td>
        </tr>
    </table>

    <table id="headerinfo">
        <table style="text-align: center " >
            <tr>
                <td  width="5%"><b>MAT.</b></td>
                <td  width="35%"><b>ALUNO</b></td>
                <td  width="10%"><b>Q. FALTAS</b></td>
                <td  width="10%"><b>NOTAS ETAPAS</b></td>
                <td  width="10%"><b>NOTA FINAL</b></td>
                <td  width="10%"><b>RESULTADO</b></td>
                <td  width="20%"><b>SITUACAO FINAL</b></td>

            </tr>
        </table>
    </table>
    <?php foreach($this->alunosFinal as $pos=>$aluno):?>
    <table id="content" >
        <tr>
            <td  width="5%"><?= substr($aluno['alunocurso_id'],-5) ?></td>
            <td  width="35%"><?= $aluno['pes_nome'] ?></td>
            <td  width="10%"><?= $aluno['faltas'] ?></td>
            <td  width="10%"><?= is_null($aluno['etapas'])? 0 : $aluno['etapas'] ?></td>
            <td  width="10%"><?= (is_null($aluno['alunofinal_nota']))? '-' :$aluno['alunofinal_nota'] ?></td>
            <td  width="10%"><?= (is_null($aluno['resaluno_nota']) OR is_null($aluno['alunofinal_nota']) )? '-' :$aluno['resaluno_nota'] ?></td>
            <td  width="20%" STYLE="text-align: center"><?=  (is_null($aluno['alunofinal_id']) OR is_null($aluno['alunofinal_nota']) )? 'E.FINAL': $aluno['resaluno_situacao'] ?></td>
        </tr>
        <?php
        endforeach ?>

<body>

</body>
</html>