<?php

?>
<html>
<head>
    <style>
        @page {
            margin: 180px 10px;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -170px;
            right: 0px;
            height: 150px text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: -100px;
            right: 0px;
            height: 110px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }

        .logo {
            max-width: 150px;
            padding-top: 25px;
            padding-bottom: 25px;
            max-height: 80px;
        }

        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;

        }

        table td {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

    </style>
    <div id="footer">
        <p style="text-align: center">----------------------------------------------------------------------------</p>
        <p style="text-align: center"><?= 'Atendente '.$this->usuario  ?></p>
        <p style="text-align: right" > <b>Versa Tecnologia - Universa</b> -  </p>
    </div>
<table width="100%" id="header" style="text-transform: uppercase; text-align: center; font-size: 90%">
    <tr>
        <td width="40%" valign="center" style="text-align: center">
            <img src="<?php echo $this->logo;?>" class="logo"/>
        </td>
        <td width="60%" valign="center" style="text-align: center" colspan="4">
            <h3><?= ($this->mantenedora) ?></h3>
            <h3><?= ($this->ies) ?></h3>
            <h4>BOLETIM ESCOLAR SEMESTRAL</h4>
        </td>
    </tr>
    <tr>
        <td valign="center" style="width:30%;">
            <b>Semestre Letivo</b>
        </td>
        <td valign="center" style="width:10%;">
            <b>Mat.</b>
        </td>
        <td valign="center" style="width:20%;">
            <b>Período</b>
        </td>
        <td valign="center" style="width:20%;">
            <b>Turma Principal</b>
        </td>
        <td valign="center" style="width:20%;">
            <b>Turno</b>
        </td>
    </tr>
    <tr>
        <td valign="center"><?= $this->dadosGerais->getTurma()->getPer()->getPerAno().'/'.$this->dadosGerais->getTurma()->getPer()->getPerSemestre() ?></td>
        <td valign="center"><?= $this->dadosGerais->getAlunocurso()->getAlunocursoId() ?></td>
        <td valign="center"><?= $this->dadosGerais->getTurma()->getTurmaSerie() ?>º</td>
        <td valign="center"><?= $this->dadosGerais->getTurma()->getTurmaNome() ?></td>
        <td valign="center"><?= $this->dadosGerais->getTurma()->getTurmaTurno() ?></td>
    </tr>
</table>
<?php if(is_null($this->alunosEtapasNotas)):?>
    <p style="text-align: center"><b>Não há informações para o período relacionado. Em caso de duvidas, entre em contato com a secretária da instituição.</b></p>
<?php else: ?>
<body>
<br>
<table width="100%" style="font-size: 90%">
    <tr>
        <td colspan = '10' style="text-align: center;background: #9D9D9E" > <b><span>ALUNO(a): <?= $this->aluno->getAluno()->getPes()->getPes()->getPesNome() ?></span></b></td>
    </tr>
    <tr style="text-align: center">
        <td rowspan="2"><b>Disciplina</b></td>
        <td colspan="3"><b>Etapa de notas</b></td>
        <td rowspan="2"><b>Faltas</b></td>
        <td colspan="5"><b>Resultados</b></td>
    </tr>
    <tr style="text-align: center">
        <td style="text-align: center">1º</td>
        <td style="text-align: center">2º</td>
        <td style="text-align: center">3º</td>
        <td style="text-align: center">MA</td>
        <td style="text-align: center">EF</td>
        <td style="text-align: center">MF</td>
        <td style="text-align: center">FF(%)</td>
        <td style="text-align: center">Situação</td>
    </tr>
    <?php foreach($this->alunosEtapasNotas as $count=>$disciplinas):
        $background = ($count % 2 === 0) ? ' #9D9D9E" ': ''?>
        <tr style="text-align: center;background:  <?= $background ?>">
            <td><?= $disciplinas['discNome']?></td>
            <td><?= $disciplinas['notas'][1]['alunoetapaNota']?></td>
            <td><?= $disciplinas['notas'][2]['alunoetapaNota']?></td>
            <td><?= $disciplinas['notas'][3]['alunoetapaNota']?></td>
            <td><?= $ma = $disciplinas['faltas'] ?></td>
            <td><?=  $disciplinas['notaGeral'] ?></td>
            <td><?=  $disciplinas['mf'] ?></td>
            <td><?=  $mf = $disciplinas['ef']  ?></td>
            <?php
            $maTotal+= $ma;
            $mfTotal += $mf;
            ?>
            <td><?= $disciplinas['percFreq']?></td>
            <?php $frequenciaTotal += $disciplinas['percFreq'] ?>
            <td><?= $disciplinas['situacao']?></td>
        </tr>
    <?php endforeach ?>
</table>
<br>
<table style="width: 100%">
    <tr><td colspan="3" style="text-align: center"><b>Aproveitamento Acadêmico</b></td></tr>
    <tr  style="text-align: center;background:#9D9D9E ">
        <td style="text-align: end; width: 30%"><b>Disciplinas Cursadas:</b>  <?= count($this->alunosEtapasNotas)?></td>
        <td style="text-align: end;width: 40%"><b>Média MF:</b> <?= round($mfTotal / count($this->alunosEtapasNotas),2)?></td>
        <td style="text-align: end;width: 30%"><b>Média FF:</b> <?= round($frequenciaTotal / count($this->alunosEtapasNotas),2)?>%</td>


    </tr>
</table>
<br>
<hr>
<p><b>Observações:</b></p>
<p style="text-align: justify">As atribuições de Avaliação do Desempenho Acadêmico em Disciplinas, seguem as regras contidas no <b>Regimento Geral da Instituição</b> e estão disponíveis na página: <link><span style="color: #0033DD"> <?= ($this->aluno->getCursoCampus()->getCamp()->getCampSite() != null) ? $this->aluno->getCursoCampus()->getCamp()->getCampSite() : 'No site da Instituição' ?> </span></link> na sessão <b>Regimento Escolar.</b></p>
<p><b>Importante:</b> O aluno que estiver com a situação "Cursando" tem seus dados sujeitos a alterações.</p>
<p><b>Dados Gerados em <?= $this->dataBase ?></b></b></p>
<p style="text-align: center"><hr></p>

</body>
    <?php endif?>

