<?php
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('versa.skeleton', false, 'App','header');
$this->layoutComponent()->addJS('matricula/relatorios/index', false, 'App');
?>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken">
            <div class="widget-body">
                <form name='form'    method="post" target="_blank" data-validate="yes">

                    <section>
                        <div class="page-header">

                            <h1><b>Relatórios e Formulários:</b> Boletim do Aluno</h1>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <label><b>Matricula:</b></label>
                                <input class="form-control" type="text" name="matricula"  placeholder="Matricula do Aluno" data-validations="Integer" maxlength="20">

                            </div>
                            <div class="col-xs-3" id="tipoAluno" >
                                <label><b>Semestre Letivo:</b></label>
                                <select class="form-control" name="PeriodoId">
                                <?php foreach($this->semestreLetivos as $semestre):?>
                                    <option value="<?= $semestre->getPerId()?>"><?= 'Período '.$semestre->getPerNome()?></option>
                                <?php endforeach ?>


                                </select>
                            </div>
                    </section>


                    <div class="clearfix">&nbsp;</div>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <a href="/matricula/relatorios" class="btn btn-default">
                                <i class="fa fa-bars"></i>
                                Voltar para relatórios
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-gear"></i>
                                Gerar Documento
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>