<head style="margin:0px">
    <meta charset="utf-8" />
    <style>
        @page { margin: 0px; }
        html { margin: 0px; }
        body{
            padding: 40px 40px 60px 40px;
            /*            background:url('*/<?php //echo $this->basePath().$this->img;?>/*') no-repeat;*/
        }
    </style>
</head>
<body>
<?php

for ($i = 0; $i < count($this->alunosTurma); $i++):
    $aluno = $this->alunosTurma[$i];
    ?>
        <?php
        echo ($i%2==0)?'<table style="width: 100%">':'<table style="margin-top: 482px;page-break-after: always;width: 100%">';
        ?>
            <tr>
                <td style="padding-left: 10px; width: 90%;text-transform: uppercase; font-size: 15px">
                    <?= ($this->campNome) ?><br>
                    <?= ($this->ies) ?>
                </td>
                <td style="padding-left:220px; padding-top: -10px">
                    <?= substr($aluno['alunocurso_id'],-5); ?>
                </td>
                <td style="padding-left: 15px;  padding-top: -10px ">
                    <?= $this->gabarito?>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;" colspan="2">
                    <?= $aluno['pes_nome'];?>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <?= 'Bacharel em Direito Período: '?><?= $aluno['turma_nome']; ?>
                </td>
                <td style="padding-left: -70px">
                    Semestre Letivo: <?= $aluno['per_ano'].'/'.$aluno['per_semestre'] ?>
                </td>
            </tr>
        </table>
<?php
endfor;
?>
</body>
