<?php
$urlAction = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'emissao-certificados'));
$urlListagem = $this
    ->url('matricula/default', array('controller' => 'relatorios'));
$urlPesquisaAlunocurso = $this
    ->url('matricula/default', array('controller' => 'acadgeral-alunocurso', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('relatorio-emissao-certificados', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAction ?>" method="post" target="_blank" id="relatorio-emissao-certificados">
                        <h4>Emissão de certificados</h4>

                        <fieldset>
                            <legend>Filtros:</legend>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="certificadoModelo">Tipo de certificado: </label>
                                    <input name="certificadoModelo" id="certificadoModelo" class="form-control"
                                           placeholder="Selecione o certificado desejado">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="alunocursoId">Aluno: </label>
                                    <input name="alunocursoId" id="alunocursoId" class="form-control"
                                           placeholder="Selecione o aluno para emissão do certificado">
                                </div>
                            </div>
                        </fieldset>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-gear"></i>
                                    Gerar certificado
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.relatorioEmissaoCertificados({
            url: {
                pesquisaAlunocurso: '<?= $urlPesquisaAlunocurso ?>'
            },
            data: {
                arrCertificadoModelo: <?= json_encode($this->arrCertificadoModelo) ?>
            }
        });
    });
</script>