<html>
<head>
    <style>
        @page {
            height: 279mm;
            width: 216mm;
            margin: 13mm 4.5mm;
        }

        body {
            height: 279mm;
            width: 216mm;
            display: block;
            margin: 0;
            padding: 0;
        }

        div {
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
        }

        table {
            width: 100%;
            font-size: small;
            margin: 0;
        }

        td {
            vertical-align: top;
            width: 120mm;
            height: 26mm;
            padding-left: 5mm;
        }

        td.espacamento {
            width: 5mm;
            padding: 0mm;
        }
    </style>
</head>
<?php
$alunosTurma = $this->alunosTurma;
$count = count($alunosTurma);
$numPaginas = ceil($count / 20);
$inicio = 0;
for ($i = 0; $i < $numPaginas; $i++):
    ?>
    <div style=' text-transform: uppercase'>
        <table>
            <tbody>
            <tr>
                <?php
                $fim = $inicio + 20;
                for ($j = $inicio;
                $j < $fim;
                $j++):
                if (!$alunosTurma[$j]) {
                    break;
                }
                if ($alunosTurma[$j]):
                    ?>
                    <td>
                        <?=$this->ies;?><br>
                        NOME DO ALUNO:<br>
                        <b><?= substr($alunosTurma[$j]['pes_nome'], 0, 33); ?></b>
                    </td>
                <?php
                endif;
                if (($j + 1) % 2 == 0):
                ?>
            </tr>
            <tr>
                <?php
                else:
                    ?>
                    <td class="espacamento">
                        &nbsp;
                    </td>
                <?php

                endif;
                ?>
                <?php
                endfor;
                $inicio = $j;
                ?>
            </tr>
            </tbody>
        </table>
    </div>
<?php
endfor;
?>
</html>
<?php
exit(0);
?>

