<?php

?>
<head>
    <style>
        @page {
            margin: 30px 10px 100px 10px;
        }

        .move-ahead {
            counter-increment: page 0;
            position: absolute;
            visibility: hidden;
        }

        .pagenum:after {
            content: ' ' counter(page);
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -150px;
            right: 0px;
            height: 100px;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

        tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 2px;
            padding-bottom: 5px;
        }

        th, td, p {
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        li {
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        body, div#footer, div#headerinfo {
            width: 90%;
            margin: auto;
        }

        .logo {
            max-width: 150px;
            max-height: 80px;
        }

        h1, h2, h3 {
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

    </style>
</head>
<body>
<div id="footer">
    <div class="move-ahead"></div>
    <p style="font-family: 'trebuchet ms', verdana, sans-serif; font-size: 10px; text-align: center;padding-top: -10px; padding-left: 40px">
</div>

<div id="contet" style="width: 713px;padding-left: 2px;">
    <table style="border-collapse: collapse">
        <tr>
            <td width="25%" style="text-align: center;">
                <img src="<?php echo $this->logo; ?>" class="logo"/>
            </td>
            <td width="80%" style="text-align: center;">
                <h1><b><?php echo $this->resumo['instituicao']; ?></b></h1>

                <p><b><?= $this->ies ?></b></p>

                <h1><b>FICHA DE INSCRIÇÃO<b></h1>

                <h3><?= $this->dadosAluno['nivel_nome'] ?></h3>

            </td>
        </tr>
    </table>
</div>
<div style="width: 713px;padding-left: 2px;">
    <table style="border-collapse: collapse">
        <tr style="text-align: center">
            <td colspan="5">
                <b>INFORMAÇÕES CADASTRAIS</b>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <b>REGISTRO DO ALUNO</b>
            </td>
            <td style="text-align: justify;">
                <b>MATRÍCULA NO CURSO</b>
            </td>
            <td style="text-align: justify;">
                <b>UNIDADE DE ESTUDO</b>
            </td>
            <td style="text-align: justify;">
                <b>ORIGEM DE CADASTRO</b>
            </td>
            <td>
                <b>DATA DO CADASTRO</b>
            </td>
        </tr>
        <tr>
            <td style="text-align: justify">
                <?= $this->dadosAluno['aluno_id'] ?>
            </td>
            <td style="text-align: justify;">
                <?= $this->dadosAluno['alunocurso_id'] ?>
            </td>
            <td style="text-align: justify;">
                <?= $this->dadosAluno['unidade_nome'] ?>
            </td>
            <td style="text-align: justify;">
                <?= $this->dadosAluno['origem_nome'] ?>
            </td>
            <td>
                <?= $this->dadosAluno['alunocurso_data_cadastro'] ?>
            </td>
        </tr>
    </table>
</div>
<div>
    <table style="border-collapse: collapse">
        <tr>
            <td colspan="4" style="text-align: center"><b>INFORMAÇÕES DO CURSO</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <b>CURSO:</b>
                <?= $this->dadosAluno['curso_nome'] ?>
            </td>
            <td colspan="2">
                <b>Campus:</b>
                <?= $this->dadosAluno['camp_nome'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <b>AGENTE EDUCACIONAL:</b>
                <?= $this->dadosAluno['pessoaAgente'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <b>INDICADO POR:</b>
            </td>
        </tr>

    </table>
</div>
<div>

    <table style="border-collapse: collapse">
        <tr>
            <td style="text-align: center" colspan="4">
                <b>INFORMAÇÕES PESSOAIS</b>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <b>NOME COMPLETO:</b>
                <?= $this->dadosAluno['pes_nome'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>PAI:</b>
                <?= $this->dadosAluno['aluno_pai'] ?>
            </td>
            <td colspan="2">
                <b>MÃE:</b>
                <?= $this->dadosAluno['aluno_mae'] ?>
            </td>
        </tr>
        <tr>
            <td>
                <b>DATA DE NASCIMENTO:</b>
                <?= $this->dadosAluno['pes_data_nascimento'] ?>
            </td>
            <td>
                <b>SEXO:</b>
                <?= $this->dadosAluno['pes_sexo'] ?>
            </td>
            <td colspan="2">
                <b>ESTADO CIVIL:</b>
                <?= $this->dadosAluno['pes_estado_civil'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>NATURALIDADE:</b>
                <?= $this->dadosAluno['pes_naturalidade'] ?>
            </td>
            <td>
                <b>ESTADO DE NASCIMENTO:</b>
                <?= $this->dadosAluno['pes_nasc_uf'] ?>
            </td>
            <td>
                <b>NACIONALIDADE:</b>
                <?= $this->dadosAluno['pes_nacionalidade'] ?>
            </td>
        </tr>
        <tr>
            <td>
                <b>CPF:</b>
                <?= $this->dadosAluno['pes_cpf'] ?>
            </td>
            <td>
                <b>RG:</b>
                <?= $this->dadosAluno['pes_rg'] ?>
            </td>
            <td colspan="2">
                <b>EMISSOR RG: </b>
                <?= $this->dadosAluno['pes_emissor_rg'] ?>
            </td>
        </tr>
        <tr>
            <td>
                <b>ETNIA: </b>
                <?= $this->dadosAluno['aluno_etnia '] ?>
            </td>
            <td colspan="2">
                <b>CERTIFICADO MILITAR: </b>
                <?= $this->dadosAluno['aluno_cert_militar'] ?>
            </td>
            <td>
                <b>TÍTULO DE ELEITOR: </b>
                <?= $this->dadosAluno['aluno_titulo_eleitoral'] ?>
            </td>
        </tr>
    </table>
</div>
<div>
    <table style="border-collapse: collapse">
        <tr>
            <td colspan="4" style="text-align: center"><b>CONTATO E ENDEREÇO</b>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <b>CEP:</b>
                <?= $this->dadosAluno['end_cep'] ?>
            </td>
            <td colspan="3">
                <b>LOGRADOURO:</b>
                <?= $this->dadosAluno['end_logradouro'] ?>
                <?= $this->dadosAluno['end_numero'] ? '; ' . $this->dadosAluno['end_numero'] : ''; ?>
                <?= $this->dadosAluno['end_complemento'] ? '; ' . $this->dadosAluno['end_complemento'] : ''; ?>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <b>BAIRRO:</b>
                <?= $this->dadosAluno['end_bairro'] ?>
            </td>
            <td colspan="2">
                <b>CIDADE:</b>
                <?= $this->dadosAluno['end_cidade'] ?>
            </td>
            <td>
                <b>ESTADO:</b>
                <?= $this->dadosAluno['end_estado'] ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>E-MAIL:</b>
                <?= $this->dadosAluno['email'] ?>
            </td>
            <td>
                <b>TELEFONE:</b>
                <?= $this->dadosAluno['telefone'] ?>
            </td>
            <td>
                <b>CELULAR:</b>
                <?= $this->dadosAluno['celular'] ?>
            </td>
        </tr>
    </table>
</div>
<?php if ($this->valoresPorTitulo): ?>
    <div>
        <table style="border-collapse: collapse">
            <tr>
                <td colspan="4" style="text-align: center"><b>INFORMAÇÕES DE PAGAMENTO</b></td>
            </tr>
            <tr>
                <td nowrap="nowrap">
                    <b>MODALIDADE / TIPO</b>
                </td>
                <td style="text-align: center" nowrap="nowrap">
                    <b>PLANOS DE PAGAMENTO</b>
                </td>
                <td>
                    <b>VENCIMENTO</b>
                </td>
                <td>
                    <b>OBSERVAÇÃO</b>
                </td>
            </tr>
            <?php
            $selecao = [];

            foreach ($this->valoresPorTitulo as $key => $tipoTitulo):
            if (!$selecao && $tipoTitulo['selecao']) {
                $selecao = $tipoTitulo['selecao'];
            }
            ?>
            <tr style="text-transform: uppercase">
                <td>
                    <?= $key ?>
                </td>
                <td>
                    <?php
                    foreach ($tipoTitulo['valores'] as $valor) {
                        if ($valor['valoresParcela']) {
                            echo $valor['valoresParcela'] ?> &times; <?= $valor['valoresPreco'];
                        } else {
                            echo 'Opcional';
                        }

                        echo ' (<b>' . ($valor['selecao'] ? 'X' : ' &nbsp; ') . '</b>) &nbsp; &nbsp;';
                    }

                    if (!$tipoTitulo['valores']) {
                        echo '______&times;_______ &nbsp; &nbsp;';
                    }
                    ?>
                </td>
                <td><?= $tipoTitulo['selecao']['configPgtoCursoVencimento'] ?></td>
                <td><?= $tipoTitulo['selecao']['configPgtoCursoObs'] ?></td>
            </tr>
        <?php endforeach ?>
        <?php if ($selecao): ?>
            <tr>
                <td>
                    <b>OPERADOR:</b>
                </td>
                <td>
                    <?= $selecao['usuarioAlteracaoLogin']; ?> &nbsp;
                </td>
                <td>
                    <b>SUPERVISOR:</b>
                </td>
                <td>
                    <?= $selecao['usuarioSupervisorLogin']; ?> &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="4"  style="text-align: center" nowrap="nowrap">
                    <b>JUSTIFICATIVA:</b>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <?= $selecao['configPgtoCursoJustificativa']; ?> &nbsp;
                </td>
            </tr>
        <?php endif; ?>
        </table>
    </div>
<?php endif; ?>

<div>
    <table style="border-collapse: collapse">

        <tr>
            <td colspan="4" style="text-align: center">
                <b>RELAÇÃO DE DOCUMENTOS</b></td>
        </tr>
        <tr>
            <td colspan="3">
                <b>DOCUMENTO</b>
            </td>
            <td colspan="1">
                <b>SITUAÇÃO DO DOCUMENTO</b>
            </td>
        </tr>
        <?php foreach ($this->documentos as $documento): ?>
            <tr style="text-transform: uppercase">
                <td colspan="3">
                    <?= $documento['tdocDescricao'] ?>
                </td>
                <td colspan="1">
                    <?= $documento['docpessoaStatus'] ?>
                </td>
            </tr>
        <?php endforeach ?>
    </table>
</div>
<div id="footer">
    <div class="move-ahead"></div>
    <p style="text-align: right; padding-right: -10px; padding-top: -22px" class="pagenum">Página: </p>

    <p style="text-align: center; font-size: 8px; padding-top: 0px; padding-left: 50px">
        <b>Versa Tecnologia&nbsp;&nbsp; - &nbsp;&nbsp;Universa</b>
        <b>&nbsp;&nbsp; - &nbsp;&nbsp;Gerado em:<i>&nbsp;&nbsp;<?= $this->diaAtual ?></i></b>
    </p>
</div>