<?php
$urlListagem   = $this
    ->url('matricula/default', array('controller' => 'relatorios'));
$urlCampus     = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));
$urlAlunoCurso = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-curso', 'action' => 'search-for-json'));
$urlHistorico  = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'historico-aluno'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('historico-aluno', false, 'App');

?>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken">
            <div class="widget-body">
                <form name='form' method="post" target="_blank" id="historicoAluno">
                    <section>
                        <div class="page-header">
                            <h1><b>Relatórios e Formulários:</b> Histórico do Aluno</h1>
                        </div>
                        <input class="hidden" name="salvarHistoricos" id="salvarHistoricos" value="0">
                        <input class="hidden" name="emitirHistorico" id="emitirHistorico" value="1">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label><b>Matrícula:</b></label>
                                <input class="form-control" type="text" name="matricula" id="matricula"
                                       placeholder="Matricula do Aluno">
                            </div>
                            <div class="col-sm-3">
                                <label><b>Campus:</b></label>
                                <input class="form-control" type="text" name="campusId" id="campusId"
                                       placeholder="Campus">
                            </div>
                            <div class="col-sm-2">
                                <label><b>Formato Histórico:</b></label>
                                <select class="form-control" id="formatoHistorico" name="formatoHistorico">
                                    <option value="umaColuna" selected="selected">Uma Coluna</option>
                                    <option value="duasColunas">Duas Colunas</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label><b>Cabeçalho:</b></label>
                                <select class="form-control" id="historicoCabecalho" name="historicoCabecalho">
                                    <option value="exibeCabecalho" >Sim</option>
                                    <option value="naoExibeCabecalho" selected="selected" >Não</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label><b>Sumarizador:</b></label>
                                <select class="form-control" id="historicoSumarizador" name="historicoSumarizador">
                                    <option value="exibeSumarizador" >Sim</option>
                                    <option value="naoExibeSumarizador" selected="selected">Não</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="alteracaoObservacao"><b>Observações Histórico:</b></label>
                                    <textarea name="observacaoHistorico" id="observacaoHistorico" class="form-control"
                                              rows="3"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="alteracaoObservacao"><b>Observações Enade:</b></label>
                                    <textarea name="observacaoEnade" id="observacaoEnade" class="form-control"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                    </section>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <a href="<?= $urlListagem; ?>" class="btn btn-default">
                                <i class="fa fa-bars"></i>
                                Voltar para relatórios
                            </a>
                            <button type="button" class="btn btn-warning" id="salvaObservacao">
                                <i class="fa fa-save"></i>
                                Salvar Observação
                            </button>
                            <button type="button" class="btn btn-primary" id="gerarHistorico">
                                <i class="fa fa-gear"></i>
                                Gerar Documento
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.historicoAluno({
            url: {
                campus: '<?php echo $urlCampus ?>',
                alunoCurso: '<?php echo $urlAlunoCurso ?>',
                historicoAluno: '<?php echo $urlHistorico ?>'
            },
            data: {
                arrCampusSelect:<?=json_encode($this->arrCampusSelect);?>
            },
            value: {
                sumarizadorAtivo:<?=json_encode($this->sumarizador);?>
            }
        });
    });
</script>