<?php
$urlAction   = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'gera-arquivo-catraca'));
$urlListagem = $this
    ->url('matricula/default', array('controller' => 'relatorios'));
$urlTurma  = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('arquivo-catraca', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAction ?>" method="post" target="_blank" id="form-arquivo-catraca">
                        <h4>Geração do arquivo da catraca:</h4>

                        <fieldset>
                            <legend>Filtros:</legend>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="cursocampusId">Campus: </label>
                                    <input name="cursocampusId" id="cursocampusId" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="perId">Periodo</label>
                                    <input name="perId" id="perId" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="turmaId">Turma</label>
                                    <input name="turmaId" id="turmaId" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="matsituacao">Situação</label>
                                    <input name="matsituacao" id="matsituacao" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Tipo de ação</label><br>
                                    <label class="radio-inline"><input type="radio" name="acao" value="N" checked>
                                        Liberar Acesso
                                    </label>
                                    <label class="radio-inline"><input type="radio" name="acao" value="S">
                                        Bloquear Acesso
                                    </label>
                                </div>
                            </div>

                        </fieldset>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="button" class="btn btn-secondary"
                                        id="cursosFiltroLimpar">
                                    <i class="fa fa-clear"></i>
                                    Limpar filtros
                                </button>
                                <button type="submit" class="btn btn-primary" id="gerar">
                                    <i class="fa fa-gear"></i>
                                    Gerar arquivo
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.arquivoCatraca({
            url: {
                turma: '<?php echo $urlTurma ?>'
            },
            data: {
                arrAlunoSituacao: <?= json_encode($this->arrAlunoSituacao) ?>,
                arrCampus: <?= json_encode($this->arrCampus) ?>,
                arrPer: <?= json_encode($this->arrPer) ?>
            }
        });
    });
</script>