<?php
$disc         = $this->disciplinas;
$equivalencia = $this->equivalencia;
?>
<head>
    <style>
        @page {
            margin: 180px 10px 100px 10px;
        }

        .move-ahead {
            counter-increment: page 0;
            position: absolute;
            visibility: hidden;
        }

        .pagenum:after {
            content: ' ' counter(page);
        }

        #header {
            position: relative;
            text-transform: uppercase;
        }

        #headerinfo {
            position: fixed;
            top: -120px;
            left: 40px;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -150px;
            right: 0px;
            height: 100px;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

        tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 1px;
            padding-bottom: 5px;
        }

        th, td, p {
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        .cor {
            background-color: #333333;
            color: #FFFFff;
        }

        li {
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        body, div#footer, div#headerinfo {
            width: 90%;
            margin: auto;
        }

        .logo {
            max-width: 150px;
            max-height: 80px;
        }

        h1, h2, h3 {
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

        .disciplinas {
            text-transform: uppercase;
            margin: 0;
            float: left;
            width: 49.5% !important;
        }

        .margin {
            float: right;
        }

        .caption {
            text-align: center;
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        #estilo-tr > td {
            font-size: 8px;
        }

        .cinza {
            background-color: #A4A4A4;
            color: black;
        }

    </style>
</head>
<body>
<div id="footer">
    <div class="move-ahead"></div>
    <p style="font-family: 'trebuchet ms', verdana, sans-serif; font-size: 10px; text-align: center;padding-top: -10px; padding-left: 40px">
        <?= ucwords($this->resumo['instCidade'] . '-' . $this->resumo['instEstado']) ?>, <?= $this->dia ?>
        de <?= ucwords($this->mes) ?> de <?= $this->ano . ' - ' ?>
        <?= $this->resumo['telefone'] . ' - ' ?>
        <?= $this->resumo['site'] ?>
    </p>
    <p style="text-align: right; padding-right: -10px; padding-top: -22px" class="pagenum">Página: </p>
    <p style="text-align: center; font-size: 8px; padding-top: 0px; padding-left: 50px">
        <b>Versa Tecnologia&nbsp;&nbsp; - &nbsp;&nbsp;Universa</b>
        <b>&nbsp;&nbsp; - &nbsp;&nbsp;Gerado em:<i>&nbsp;&nbsp;<?= $this->dia ?>/<?= $this->mesNum ?>
                /<?= $this->ano ?></i></b>
    </p>
</div>

<?php
if ($this->resumo['exibeCabecalho']) {

    echo '<div id="headerinfo" style="width: 713px;padding-left: 2px;">
    <table style="border-collapse: collapse">
        <tr>
            <td width="25%" style="text-align: center;">
                <img src="' . $this->logo . '" class="logo"/>
            </td>
            <td width="80%" style="text-align: center;">
                <h1><b>' . $this->resumo["instituicao"] . '</b></h1>
                <p>RECONHECIMENTO DO CURSO: DECRETO 74.922 DE 21/11/1974</p>
                <h1>HISTÓRICO ESCOLAR</h1>
            </td>
        </tr>
    </table>
</div>';
}
?>
<table style="border-collapse: collapse;">
    <tr>
        <td colspan="12" class="cinza" style="font-size: 12px !important; text-align: center"><b>
                INFORMAÇÕES PESSOAIS</b></td>
    </tr>
    <tr>
        <td colspan="3"><b>Aluno: </b><?= $this->resumo['nome'] ?></td>
        <td colspan="2"><b>Sexo:</b> <?= $this->resumo['sexo'] ?></td>
        <td colspan="7"><b>Matricula:</b> <?= $this->resumo['matricula'] ?></td>
    </tr>
    <tr>
        <td colspan="3"><b>Pai:</b> <?= $this->resumo['pai'] ?></td>
        <td colspan="9"><b>Mãe:</b> <?= $this->resumo['mae'] ?></td>
    </tr>
    <tr>
        <td colspan="2"><b>Nascimento:</b> <?= $this->resumo['data_de_nascimento'] ?></td>
        <td colspan="3"><b>Naturalidade:</b> <?= $this->resumo['naturalidade'] ?>
            - <?= $this->resumo['naturalidadeUF'] ?></td>
        <td colspan="7"><b>Nacionalidade:</b> <?php
            $nacionalidade = $this->resumo['nacionalidade'];
            $nacionalidade = (substr($nacionalidade, 0, strlen($nacionalidade) - 1));
            $nacionalidade .= 'a';
            echo $nacionalidade;
            ?></td>
    </tr>
    <tr>
        <td colspan="2"><b>RG:</b> <?= $this->resumo['identidade']; ?></td>
        <td colspan="10"><b>Órgão expedidor:</b> <?= $this->resumo['identidade_exp'] ? strtoupper(
                $this->resumo['identidade_exp']
            ) : '-' ?></td>
    </tr>
    <tr>
        <td colspan="2"><b>Título eleitoral:</b> <?= $this->resumo['titulo'] ?></td>
        <td colspan="3"><b>Seção/Zona:</b> <?= $this->resumo['secao'] ?> / <?= $this->resumo['zona'] ?></td>
        <td colspan="7"><b>Serviço Militar:</b> <?= $this->resumo['sm'] ?></td>
    </tr>
</table>

<table style="border-collapse: collapse;">
    <tr>
        <td colspan="12" class="cinza" style="font-size: 12px !important; text-align: center"><b>
                INFORMAÇÕES DE INGRESSO</b></td>
    </tr>
    <tr>
        <td colspan="6"><b>Ensino Médio:</b> <?= $this->info[0]['estabelecimento'] ?></td>
        <td colspan="6"><b>Ano de Conclusão:</b> <?= $this->info[0]['fAno'] ?></td>
    </tr>
    <tr>
        <td colspan="6"><b>Cidade:</b> <?= $this->info[0]['fCidade'] ?></td>
        <td colspan="6"><b>Estado:</b> <?= $this->info[0]['fEstado'] ?></td>
    </tr>
    <tr>
        <td colspan="6"><b>Ingresso:</b> <?= $this->resumo['ingresso'] ?></td>
        <td colspan="6"><b>Classificação no Vestibular:</b> <?= is_null(
                $this->info[0]['vestClassificacao']
            ) ? '*' : $this->info[0]['vestClassificacao'] . 'º' ?></td>
    </tr>
</table>

<table style="border-collapse: collapse;">
    <tr>
        <td colspan="12" class="cinza" style="font-size: 12px !important; text-align: center"><b>INFORMAÇÕES DO
                CURSO</b></td>
    </tr>
    <tr>
        <td colspan="6"><b>Curso :</b> <?= $this->resumo['curso_habilitacao'] ?></td>
        <td colspan="6"><b>Reconhecimento:</b> <?= $this->resumo['reconhecimentoCurso'] ?></td>
    </tr>
    <tr>
        <td colspan="6"><b>Data de colação:</b> <?= $this->resumo['dataColacao'] ?></td>
        <td colspan="6"><b>Data de expedição do diploma:</b> <?= $this->resumo['dataExpedicaoDiploma'] ?></td>
    </tr>
    <tr>
        <td colspan="12"><b>Enade:</b> <?= $this->resumo['observacaoEnade'] ?></td>
    </tr>
</table>

<section id="header">
    <?php
    $resalunoSerie             = "";
    $contador                  = 0;
    $cargaHorariaAluno         = 0;
    $mediaNota                 = 0;
    $quantidadeNotasDispensado = 0;

    for ($a = 0; $a < count($disc); $a++):
        $cargaHorariaAluno +=
            $disc[$a]['resaluno_carga_horaria'] ? floatval($disc[$a]['resaluno_carga_horaria']) : 0;
        $mediaNota +=
            $disc[$a]['nota'] ? floatval($disc[$a]['nota']) : 0;

        if ($disc[$a]['nota'] == "DISP") {
            $quantidadeNotasDispensado++;
        }

        if ($disc[$a]['resaluno_serie'] != $resalunoSerie) {
            $resalunoSerie = $disc[$a]['resaluno_serie'];

            if ($contador > 0) {
                echo "</table>";
            }

            if ($contador % 2 == 1) {
                echo "<table class='disciplinas margin'>";
            } else {
                echo "<div style=\"clear: both;\"></div><table class='disciplinas'>";
            }

            $contador++;
            ?>

            <tr class="cinza" style="font-size: 10px !important; text-align: center">
                <th width="9%">P.</th>
                <th width="15%">Sem.</th>
                <th width="45%">Disciplina</th>
                <th width="10%">CH</th>
                <th width="10%">MF</th>
                <th width="11%">Sit</th>
            </tr>
        <?php } ?>
        <tr style="word-wrap: break-word; overflow-wrap: break-word; <?= $t += 1 ?>" id="estilo-tr">
            <td style="text-align: center;"><?= $disc[$a]['resaluno_serie'] ?></td>
            <td style="text-align: center;"><?= $disc[$a]['resaluno_semestre'] ?>
                / <?= $disc[$a]['resaluno_ano'] ?></td>
            <td style="text-align: left"><?= $disc[$a]['disc_nome_'] == null ? $disc[$a]['disc_nome'] : $disc[$a]['disc_nome_'] ?></td>
            <td style="text-align: center;"><?= $disc[$a]['resaluno_carga_horaria'] ?></td>
            <td style="text-align: center;"><?= $disc[$a]['nota'] ?></td>
            <td style="text-align: center;"><?= substr($disc[$a]['resaluno_situacao'], 0, 1) ?></td>
        </tr>
    <?php endfor; ?>
    </table>
    <div style="clear: both;"></div>
    <table>
        <tr>
            <th colspan="12">
                Carga Horária do Curso:<?php echo $this->resumo['cargaHorarioCurso'] ?> ; Carga Horária do
                Aluno: <?php echo $cargaHorariaAluno ?> ;
                Média de Aproveitamento do Aluno: <?php echo round(
                    ($mediaNota / ($a + 1 - $quantidadeNotasDispensado)),
                    2
                ) ?>
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="12">
                <b>Legenda:</b> DISP – Dispensado / CH – Carga Horária / MF – Média Final / SF – Situação Final / SEM –
                Semestre
            </th>
        </tr>
    </table>

    <?php
    $contador    = 0;
    $instituicao = "";
    for ($i = 0; $i < count($equivalencia); $i++):
        if ($equivalencia[$i]['INSTITUICAO'] != $instituicao):
            $instituicao = $equivalencia[$i]['INSTITUICAO'];

            if ($contador > 0) {
                echo "</table>";
            }

            if ($contador % 2 == 1) {
                echo "<table class='disciplinas margin'>";
            } else {
                echo "<div style=\"clear: both;\"></div><table class='disciplinas'>";
            }

            $contador++;

            ?>
            <tr class="cinza" style="font-size: 10px !important; text-align: center">
                <th colspan="12">EQUIVALÊNCIA DISCIPLINAS CURSADAS NA
                    INSTITUIÇÃO <?= $equivalencia[$i]['INSTITUICAO'] ?></th>
            </tr>
            <tr class="cinza" style="font-size: 10px !important; text-align: center">
                <td colspan="4">DISCIPLINA</td>
                <td colspan="4">EQUIVALÊNCIA</td>
                <td colspan="2">CH</td>
                <td colspan="2">SEM / ANO</td>
            </tr>
        <?php endif; ?>
        <tr style="font-size: 8px !important;">
            <td colspan="4"><?= $equivalencia[$i]['DISCIPLINA'] ?></td>
            <td colspan="4"><?= $equivalencia[$i]['EQUIVALENCIA'] ?></td>
            <td colspan="2"><?= $equivalencia[$i]['CH'] ?>h/a</td>
            <td colspan="2"><?= $equivalencia[$i]['SEM'] ?>/<?= $equivalencia[$i]['ANO'] ?></td>
        </tr>
    <?php endfor; ?>
    </table>

    <table>
        <tr class="cor">
            <th colspan="12">OBSERVAÇÕES</th>
        </tr>
        <tr>
            <td colspan="12"
                style="text-align:center;font-family: 'trebuchet ms', verdana, sans-serif;font-size: 12px;padding: 0 100px; word-wrap:break-word;">
                <?php echo $this->observacao ? $this->observacao : '-'; ?>
            </td>
        </tr>
    </table>
</section>
</body>
