<?php
$disc         = $this->disciplinas;
$equivalencia = $this->equivalencia;
$cabecalho       = $this->alturaCabecalho ? $this->alturaCabecalho : '155';
$rodape       = $this->alturaRodape ? $this->alturaRodape : '100';
$imagem       = $this->imagem ? $this->imagem : '';

if(!$imagem && $_GET['imagem']){
    $imagem = $_GET['imagem'];
}

$imagem = ($imagem ? 'http://universa.local/timbrado-' . $imagem . '.jpg' : '');

?>
<head>
    <style>
        @page {
            margin: <?=$cabecalho?>px 10px <?=$rodape?>px 10px;
        }

        #watermark { position: fixed; top: -<?=$cabecalho?>px; left: -10px; width: 794px; height: 1123px; opacity: .6; }

        .move-ahead {
            counter-increment: page 0;
            position: absolute;
            visibility: hidden;
        }

        .pagenum:after {
            content: ' ' counter(page);
        }

        #header {
            position: relative;
            text-transform: uppercase;
        }

        #headerinfo {
            position: fixed;
            width: 693px;
            left: 40px;
            top: -<?=round($cabecalho*0.60 , 2)?>px;
        }

        #headerinfo2{
            position: fixed;
            width: 693px;
            left: 40px;
            top: -18px;
        }

        #footer {
            position: fixed;
            left: 0;
            bottom: -<?=($rodape+25)?>px;
            right: 0;
            height: -<?=($rodape+5)?>px;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

        tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 1px;
            padding-bottom: 5px;
        }

        th, td, p {
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        .cor {
            background-color: #333333;
            color: #FFFFff;
        }

        li {
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        body, div#footer, div#headerinfo {
            width: 90%;
            margin: auto;
        }

        h1, h2, h3 {
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

        #disciplinas {
            text-transform: uppercase;
        }

        .caption {
            text-align: center;
            font-family: 'trebuchet ms', verdana, sans-serif;
            font-size: 10px;
        }

        #estilo-tr > td {
            font-size: 8px;
        }

    </style>
</head>
<body>

<?php if($imagem){?>
    <div id="watermark"><img src="<?php echo $imagem;?>" height="100%" width="100%"></div>
<?php }?>

<div id="footer">
    <div class="move-ahead"></div>
    <p style="text-align: right; padding-right: -10px; padding-top: -22px" class="pagenum">Página: </p>
</div>

<div id="headerinfo">
    <?php
    if ($this->resumo['exibeCabecalho']) {
        echo '<table style="border-collapse: collapse">
    <tr>
        <td width="25%" style="text-align: center;">
            <img src="' . $this->logo . '" class="logo"/>
        </td>
        <td width="80%" style="text-align: left;">
            <h1><b>' . $this->resumo["instituicao"] . '</b></h1>
            <h1>HISTÓRICO ESCOLAR</h1>
        </td>
    </tr>
</table>';
    }else{ ?>
        <table>
            <tr>
                <td style="border: none; text-align: center">
                    <h1>HISTÓRICO ESCOLAR</h1>
                    <?= ($this->resumo['iesCredenciamento'])? '<h5>'.$this->resumo['iesCredenciamento'].'</h5>': ""?>
                </td>
            </tr>
        </table>
    <?php }
    ?>
</div>
<div id="headerinfo2">
    <table style="border-collapse: collapse;">
        <tr class="cor" style="font-size: 12px !important;">
            <td colspan="12">
                <b>Matricula:</b> <?=$this->resumo['matricula']?> |
                <b>Aluno: <?=$this->resumo['nome']?></b>
            </td>
        </tr>
    </table>
</div>
<section id="header">
    <table>
        <tr class="cor">
            <th colspan="12">INFORMAÇÕES ADICIONAIS</th>
        </tr>
        <tr>
            <td colspan="12">
                <b>Filiação:</b> <?php
                echo $this->resumo['pai'] ? $this->resumo['pai'] . ' e ' . $this->resumo['mae'] : $this->resumo['mae'];
                ?>
            </td>
        </tr>
        <tr>
            <td colspan="2"><b>Nascimento:</b> <?= $this->resumo['data_de_nascimento'] ?></td>
            <td colspan="8"><b>Naturalidade:</b> <?= $this->resumo['naturalidade'] ?>
                - <?= $this->resumo['naturalidadeUF'] ?></td>
            <td colspan="2"><b>Nacionalidade:</b> <?php
                $nacionalidade = $this->resumo['nacionalidade'];
                $nacionalidade = (substr($nacionalidade, 0, strlen($nacionalidade) - 1));
                $nacionalidade .= 'a';
                echo $nacionalidade;
                ?></td>
        </tr>
        <tr>
            <td colspan="4"><b>RG:</b> <?= $this->resumo['identidade'];?></td>
            <td colspan="4"><b>Órgão Expedidor:</b> <?=(is_null($this->resumo['identidade_exp']) or $this->resumo['identidade_exp'] === 'NULL') ? '-' : strtoupper($this->resumo['identidade_exp'])?></td>
            <td colspan="4"><b>Expedição:</b> <?=$this->resumo['emissao_rg']?strtoupper($this->resumo['emissao_rg']):'-'?></td>
        </tr>
        <tr>
            <td colspan="4"><b>Título Eleitoral:</b> <?=$this->resumo['titulo']?></td>
            <td colspan="1"><b>Zona:</b> <?=$this->resumo['zona']?></td>
            <td colspan="1"><b>Seção:</b> <?=$this->resumo['secao']?></td>
            <td colspan="6"><b>Serviço Militar:</b> <?=$this->resumo['sm']?></td>
        </tr>
        <tr class="cor">
            <td colspan="9"><b>Ensino Médio:</b> <?=$this->info[0]['estabelecimento'] ? $this->info[0]['estabelecimento'] : '*'  ?></td>
            <td colspan="3"><b>Ano de Conclusão:</b> <?=$this->info[0]['fAno'] ? $this->info[0]['fAno'] : '*'?></td>
        </tr>
        <tr>
            <td colspan="6"><b>Cidade:</b> <?=$this->info[0]['fCidade'] ? $this->info[0]['fCidade'] : '*'?></td>
            <td colspan="6"><b>Estado:</b> <?=$this->info[0]['fEstado'] ? $this->info[0]['fEstado'] : '*'?></td>
        </tr>
        <tr>
            <td colspan="4"><b>Forma de Ingresso:</b> <?=$this->resumo['forma_ingresso']?></td>
            <td  colspan="4"> <?= ($this->info[0]['tipoVestibularAgendado'] ? '<b>Data</b>: '.$this->info[0]['dataProva'] :
                    ('<b>Vestibular:</b> '.(is_null($this->info[0]['vestAno'])  ?  '' : $this->info[0]['vestAno']).(is_null($this->info[0]['vestSemestre']) ? '' : '/'.$this->info[0]['vestSemestre'])))?> </td>
            <td  colspan="4"> <?=  ($this->info[0]['vestClassificacao'] ? '<b>Classificação:</b>'.$this->info[0]['vestClassificacao'].'° Lugar' :  '<b>Nota: </b>'.$this->info[0]['vestPontuacao'])?> </td>
        </tr>
        <tr class="cor">
            <td colspan="8" ><b>Curso:</b> <?=$this->resumo['curso_habilitacao']?> / <?=$this->resumo['curso_nivel']?></td>
            <td colspan="4"><b>Situacao do Aluno:</b> <?= $this->resumo['situacao'] == 'Deferido' ? 'Cursando' : $this->resumo['situacao'] ?></td>
        </tr>
        <tr>
            <td colspan="12" style="text-align: justify">
                <?= ($this->resumo['autorizacao']? '<b> Autorização do Curso: </b>'.$this->resumo['autorizacao'] : '').
                ($this->resumo['reconhecimento'] ? '<b> Reconhecimento do Curso: </b>'.$this->resumo['reconhecimento']:'')
                ?>
            </td>
        </tr>
        <?php
        if($this->resumo['enade']):?>
            <tr>
                <td colspan="12"><b>Enade:</b> <?= $this->resumo['enade'] ?></td>
            </tr>
        <?php endif ?>
        <tr>
            <td colspan="4"><b>Emissão Histórico:</b> <?=$this->emissao ?></td>
            <td colspan="4"><b>Colação de Grau:</b> <?=$this->resumo['dataColacao'] ?></td>
            <td colspan="4"><b>Expedição do diploma:</b> <?=$this->resumo['dataExpedicaoDiploma']?></td>
        </tr>
    </table>
    <table id='disciplinas'>
        <?php
        $resalunoSerie="";
        $resalunoCargaHoraria = 0;
        $resalunonota = 0;
        for($a=0; $a<count($disc); $a++):
            if($disc[$a]['resaluno_serie'] != $resalunoSerie):
                $resalunoSerie=$disc[$a]['resaluno_serie'];
                ?>
                <tr class="cor">
                    <th width="10%">PERIODO</th>
                    <th width="10%">SEM / ANO</th>
                    <th width="50%">DISCIPLINA</th>
                    <th width="7.5%">CH</th>
                    <th width="7.5%">MF</th>
                    <th width="15%">SF</th>
                </tr>
            <?php endif; ?>
            <tr style="word-wrap: break-word; overflow-wrap: break-word; <?= $t += 1 ?>" id="estilo-tr">
                <td style="text-align: center;"><?= $disc[$a]['resaluno_serie'] ?></td>
                <td style="text-align: center;"><?= $disc[$a]['resaluno_semestre'] ?>
                    / <?= $disc[$a]['resaluno_ano'] ?></td>
                <td style="text-align: left"><?= $disc[$a]['disc_nome_'] == null ? $disc[$a]['disc_nome'] : $disc[$a]['disc_nome_'] ?></td>
                <td style="text-align: center;"><?= $disc[$a]['resaluno_carga_horaria'] ?></td>
                <td style="text-align: center;"><?= $disc[$a]['nota'] ?></td>
                <td style="text-align: center;"><?= $disc[$a]['resaluno_situacao'] ?></td>
            </tr>
        <?php
            $resalunoCargaHoraria +=$disc[$a]['resaluno_carga_horaria'];
            $resalunonota +=$disc[$a]['nota'];
        endfor;?>
    </table>
    <?php

    if($this->resumo['exibeSumarizador']):?>
        <table id ='sumarizador'>
            <tr style="word-wrap: break-word; overflow-wrap: break-word; <?=$t+=1?>" id="estilo-tr">
                <td style="text-align: center;"><b>Carga Horária Cursada:</b> <?= $resalunoCargaHoraria ?></td>
                <td style="text-align: left"><b>Carga Horária do Curso:</b> <?= $this->resumo['curso_carga_horaria'] ?> </td>
                <td style="text-align: center;"><b>Coeficiente de Rendimento:</b> <?= round($resalunonota/ count($disc),2) ?></td>
            </tr>
        </table>
    <?php endif ?>

    <p class="caption">
        Legenda: DISP – Dispensado / CH – Carga Horária / MF – Média Final / SF – Situação Final / SEM – Semestre
    </p>
    <table>
        <?php
        $instituicao = "";
        for ($i = 0; $i < count($equivalencia); $i++):
            if ($equivalencia[$i]['INSTITUICAO'] != $instituicao):
                $instituicao = $equivalencia[$i]['INSTITUICAO'];

                if ($i > 0) {
                    echo '</table><table>';
                }
                ?>
                <tr class="cor">
                    <th colspan="12">EQUIVALÊNCIA DISCIPLINAS CURSADAS NA
                        INSTITUIÇÃO <?= $equivalencia[$i]['INSTITUICAO'] ?></th>
                </tr>
                <tr class="cor">
                    <td colspan="4">DISCIPLINA</td>
                    <td colspan="4">EQUIVALÊNCIA</td>
                    <td colspan="2">CH</td>
                    <td colspan="2">SEM / ANO</td>
                </tr>
            <?php endif; ?>
            <tr style="font-size: 8px !important;">
                <td colspan="4"><?= $equivalencia[$i]['DISCIPLINA'] ?></td>
                <td colspan="4"><?= $equivalencia[$i]['EQUIVALENCIA'] ?></td>
                <td colspan="2"><?= $equivalencia[$i]['CH'] ?>h/a</td>
                <td colspan="2"><?= $equivalencia[$i]['SEM'] ?>/<?= $equivalencia[$i]['ANO'] ?></td>
            </tr>
        <?php endfor; ?>
    </table>
    <?php if($this->observacao):?>
        <table>
            <tr class="cor" >
                <th colspan="12">OBSERVAÇÕES</th>
            </tr>
            <tr>
                <td colspan="12" style="text-align:center;font-family: 'trebuchet ms', verdana, sans-serif;font-size: 12px;padding: 0 100px;">
                    <?php echo $this->observacao ? $this->observacao : '-'; ?>
                </td>
            </tr>
        </table>
    <?php endif?>
</section>
</body>
<?php
//exit(0);
?>