<?php
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <p>Selecione o relatório desejado:</p>

                    <div class="list-group">
                        <?php
                        foreach ($this->arrRelatorios as $arrRelatorio) {
                            $urlRelatorio = $this->url(
                                $arrRelatorio['rota'],
                                array('controller' => $arrRelatorio['controller'], 'action' => $arrRelatorio['action'])
                            );
                            echo '<a href="' . $urlRelatorio . '" class="list-group-item">' .
                                '<i class="fa pull-right fa-arrow-right"></i>' .
                                $arrRelatorio['descricao'] .
                                '</a>';
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>