<?php

$form = $this
    ->url('matricula/default', array('controller' => 'relatorios', 'action' => 'listagem-cursos'));
$urlCampus = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));

$urlCurso = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));

$urlArea = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
?>

<script language="JavaScript"
        src="<?php echo $this->basePath(); ?>/js/universa/matricula/relatorios/index.js?nocache=<?= date("Y-m-d H:i:s") ?>"></script>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken">
            <div class="widget-body">
                <form name='form' action="<?= $form ?>"   method="post" target="_blank" data-validate="yes">
                    <section>
                        <div class="page-header">

                            <h1><b>Relatórios e Formulários:</b> Cursos</h1>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="campus">Campus:</label>
                                    <input type="text" name="campus" id="campus"
                                           class="form-control" placeholder="Pesquise pelo nome de algum campus">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="areaPesquisa">Área:</label>
                                    <input type="text" name="areaPesquisa" id="areaPesquisa"
                                           class="form-control" placeholder="Pesquise pela área">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="modalidadePesquisa">Modalidade:</label>
                                    <input type="text" name="modalidadePesquisa" id="modalidadePesquisa"
                                           class="form-control" placeholder="Pesquise pelo código, matrícula e nome">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="nivelPesquisa">Nível de ensino:</label>
                                    <input type="text" name="nivelPesquisa" id="nivelPesquisa"
                                           class="form-control" placeholder="Pesquise pelo código, matrícula e nome">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="turnoPesquisa">Turno:</label>
                                    <input type="text" name="turnoPesquisa" id="turnoPesquisa"
                                           class="form-control" placeholder="Pesquise pelo Turno">
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="clearfix">&nbsp;</div>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <a href="/matricula/relatorios" class="btn btn-default">
                                <i class="fa fa-bars"></i>
                                Voltar para relatórios
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-gear"></i>
                                Gerar Relatório
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    window.urlCampus = '<?= $urlCampus ?>';
    window.urlCurso = '<?= $urlCurso ?>';
    window.urlArea = '<?= $urlArea ?>';
    window.modalidade = <?= json_encode($this->arrModalidade) ?>;
    window.nivel = <?= json_encode($this->arrNivel) ?>;
    window.turno = <?= json_encode($this->arrCursoTurno) ?>;
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
    });
</script>
