<html>
<head>
    <style>
        @page {
            margin: 120px 50px;
            font-size: 75%;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -115px;
            right: 0px;
            width: 100%;

            text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: -110px;
            right: 0px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }


        h3, h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;
        }

        table td {
            border: 1px solid black;
        }
        td{
            padding: 2px;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

    </style>
    <div id="footer">
        <p style="text-align:left ">Versa Tecnologia - Universa </p>

        <p class="page" style="text-align: right"> pág </p>
    </div>
<?php if(count($this->alunosTurma) > 0){?>
<body>
<table id="header" style="text-transform: uppercase; ">
    <tr style="text-align: center">
        <td width="40%" valign="top" colspan="2">
            <?= ($this->logo ? '<img src="' . $this->logo . '" width="180px"/>' : '') ?>
        </td>
        <td width="60%" valign="top" style="text-align: center" colspan="6">
            <h3><?= ($this->mantenedora) ?></h3>
            <h3><?= ($this->ies) ?></h3>
            <h4>RELATÓRIO DOS ALUNOS - <?= $this->grupo?></h4>
        </td>
    </tr>
    <tr>
        <td>
            <b>CURSO</b>
        </td>
        <td>
            <b>Semestre</b>
        </td>
        <td >
            <b>PERÍODO</b>
        </td>
        <td>
            <b>Turno</b>
        </td>
        <td >
            <b>Nº Alunos</b>
        </td>
        <td >
            <b>Turma</b>
        </td>
        <td><b>Forma de Ingresso</b></td>
        <td><b>Apenas Ingressos</b></td>
    </tr>
    <tr>
        <td height="45"><?= $this->curso?></td>
        <td><?=  $this->alunosTurma[0]['per_ano'].'/'.$this->alunosTurma[0]['per_semestre']?></td>
        <td><?= ($this->filtros == 0) ? $this->periodoTurno : $this->alunosTurma[0]['turma_serie'].'º'?></td>
        <td><?= ($this->filtros == 0) ? $this->periodoSerie : $this->alunosTurma[0]['turma_turno'] ?></td>
        <td ><?= count($this->alunosTurma) ?></td>
        <td ><?= ($this->filtros == 0) ? 'Todas' : $this->alunosTurma[0]['turma_nome'] ?></td>
        <td ><?= $this->formaIngresso === '' ? 'Todas' : $this->formaIngresso  ?></td>
        <td ><?= $this->ingressantes === true ? 'Sim' : 'Não'  ?></td>
    </tr>
</table>
<table id="headerinfo">
    <table width="100%" style="text-align: center; padding-top: 100px">
        <tr>
            <td width="10%">
                <b>Matrícula</b>
            </td>
            <td  width="35%">
                <b>Aluno</b>
            </td>
            <td  width="10%">
                <b>Período</b>
            </td>
            <td  width="15%">
                <b>Turma </b>
            </td>
            <td width="30%">
                <b>Observações</b>
            </td>
        </tr>
    </table>
</table>
<table  style="text-transform: uppercase; font-size: 80%; " width="100%;"  >
    <?php
    $alunos =count($this->alunosTurma);
    $table = round(($alunos/30),0) + 1;
    $key = 0;
    for( $i = 0; $i<count($this->alunosTurma); $i++ ){?>
            <tr>
                <td style="width: 10%; text-align: center">
                    <?= substr($this->alunosTurma[$i]['alunocurso_id'],-5)?>
                </td>
                <td style=" width: 35%  "><?=  $this->alunosTurma[$i]['pes_nome']?></td>
                <td style=" width: 10%  ; text-align: center"><?=  $this->alunosTurma[$i]['turma_serie']?>°</td>
                <td style=" width: 15%  ; text-align: center"><?=  $this->alunosTurma[$i]['turma_nome']?></td>
                <td style=" width: 30% ; text-align: center "><?=  "" ?></td>

            </tr>
    <?php }
    $key +=30;
    $alunos = $alunos - 30;
    $table --;

    echo '
        </table>';
    }else{
    echo "<p>NÃO FORAM ENCONTRADOS ALUNOS NESTA TURMA COM BASE NOS FILTROS INFORMADOS.</p>";
} ?>
</html>
