<?php

?>
<?php

?>
<html>
    <style>
        @page {
            margin: 180px 10px;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -120px;

        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: -40px;
            right: 0px;
            height: 110px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -165px;
            right: 0px;
            height: 150px;
        }

        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;

        }

        table td {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

    </style>


    <table width="100%" id="header" style="text-transform: uppercase; text-align: center; font-size: 75%">
        <tr>
            <td width="40%" valign="top">
                <?= ($this->logo ? '<img src="' . $this->logo . '" width="180px"/>' : '') ?>
            </td>
            <td width="60%" valign="top" style="text-align: center" colspan="3">
                <h4><?= ($this->mantenedora) ?></h4>
                <h4><?= ($this->ies) ?></h4>
                <h4>RELATÓRIO SINTÉTICO DE MATRÍCULADOS POR TURMA</h4>
            </td>
        </tr>
        <tr>
            <td style="width:30%;">
                <b>Semestre Letivo</b>
            </td>
            <td style="width:35%;">
                <b>Tipo de Turma</b>
            </td>
            <td style="width:10%;">
                <b>Turno</b>
            </td>
            <td style="width:15%;">
                <b>Situação dos Alunos</b>
            </td>
        </tr>
        <tr>
            <td><?= $this->periodo->getPerAno().'/'.$this->periodo->getPerSemestre()?></td>
            <td><?= $this->dados['tipoTurma'] ?></td>
            <td><?= $this->dados['periodoTurno'] ?></td>
            <td><?= $this->dados['situacao'] ?></td>
        </tr>
    </table>
    <table style="font-size: 70%" width="100%" id="headerinfo" >
        <tr>
            <td><b>Turma</b></td>
            <td><b>Período/Série</b></td>
            <td><b>N° de Alunos</b></td>
            <td><b>Turno</b></td>
        </tr>
        <?php foreach ($this->matriculados as $cont=>$matriculas):
            $blackground = ($cont % 2 == 0)? '#A8A8A8' : '';
            $total += $matriculas['qtd']?>
            <tr style="background: <?= $blackground ?>" >
                <td><?=  ($cont+1).' - '.$matriculas['turma_nome']?></td>
                <td><?= $matriculas['turma_serie']?>&ordm;</td>
                <td><?= $matriculas['qtd']?></td>
                <td><?= $matriculas['turma_turno']?></td>
            </tr>
        <?php endforeach ?>
    </table>
    <div id="footer">
        <p style="text-align: center"><b><u>Total de alunos : <?= (is_null($total)) ? 0 : $total?></u></b> </p>
        <hr>
        <p style="text-align: center; font-size: 80%;  ">FADIVALE - Rua Dom Pedro II, 244 – Centro – Governador Valadares - MG – tel.: (33)
            3271-2004</p>

        <p style="text-align: right; font-size: 60%"><b><?= $this->dataBase ?> - Versa Tecnologia\Universa</b></p>
    </div>
</html>
