<?php

?>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 130px 50px;
        font-size: 50%
    }

    #header {
        position: fixed;
        left: 0px;
        top: -100px;
        right: 0px;
        height: 150px text-align : center;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: -140px;
        right: 0px;
        height: 100px;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }

    .com {
        border: 1px solid black;
    }

    .tdHeaderInfo {

        border-bottom: 1px solid black;
    }

    .trContent {
        border-right: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
        align-items: center;
    }

</style>
<div id="footer">
    <hr>
    <p class="page" style="text-align: right">Versa Tecnologia/Universa </p>
</div>

<table id="header" class="com" style="height: 80px; width: 100%">
    <tr style="font-size: 90%;">
        <td width="30%" valign="top" class="com" style="text-align: center;">
            <?= ($this->logo ? '<img src="' . $this->logo . '" style="max-width: 140px;max-height:100px;"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5><?= $this->matriz->getMatCurDescricao() ?></h5>
        </td>
    </tr>
</table>
<table class="com" style="margin-top:-20px" width="100%">
    <?php

    for ($i = 1; $i <= count($this->periodos); $i++) {
        ?>
        <tr class="com">
            <td colspan="4" class="com" style="text-align: center" bgcolor="#CCC"><b><?= $i ?>º Periodo</b></td>
            <td colspan="4" class="com" style="text-align: center" bgcolor="#CCC"><b><?= $i + 1 ?>º Periodo</b></td>
        </tr>
        <tr class="com">
            <td class="com" style="text-align: center;" rowspan="2" width="40%"><b>Disciplina</b></td>
            <td class="com" colspan="3" style="text-align: center"><b>Carga Hor.</b></td>
            <td class="com" style="text-align: center" rowspan="2" width="40%"><b>Disciplina</b></td>
            <td class="com" colspan="3" style="text-align: center"><b>Carga Hor.</b></td>
        </tr>
        <tr>
            <td class="com"><b>P</b></td>
            <td class="com"><b>T</b></td>
            <td class="com"><b>E</b></td>
            <td class="com"><b>P</b></td>
            <td class="com"><b>T</b></td>
            <td class="com"><b>E</b></td>
        </tr>
        <?php
        (count($periodos[$i]) >= count($periodos[$i + 1])) ? $row = count($periodos[$i]) : $row = count(
            $periodos[$i + 1]
        );
        for ($y = 0; $y < $row; $y++):?>
            <tr class="com">
                <td class="com"
                    style="text-transform: uppercase"><?= (!empty($periodos[$i][$y])) ? $periodos[$i][$y]['disciplina']->getDiscNome(
                    ) : "" ?></td>
                <td class="com"><?= $periodos[$i][$y]['pratica'] ?></td>
                <td class="com"><?= $periodos[$i][$y]['teorica'] ?></td>
                <td class="com"><?= $periodos[$i][$y]['estagio'] ?></td>
                <?php $subtotal[0] = [
                    'totalEstagio' => $subtotal[0]['totalEstagio'] + $periodos[$i][$y]['estagio'],
                    'totalPratica' => $subtotal[0]['totalPratica'] + $periodos[$i][$y]['pratica'],
                    'totalTeorica' => $subtotal[0]['totalTeorica'] + $periodos[$i][$y]['teorica'],
                ]; ?>
                <td class="com"
                    style="text-transform: uppercase"><?= (!empty($periodos[$i + 1][$y])) ? $periodos[$i + 1][$y]['disciplina']->getDiscNome(
                    ) : "" ?></td>
                <td class="com"><?= $periodos[$i + 1][$y]['pratica'] ?></td>
                <td class="com"><?= $periodos[$i + 1][$y]['teorica'] ?></td>
                <td class="com"><?= $periodos[$i + 1][$y]['estagio'] ?></td>
            </tr>
            <?php $subtotal[1] = [
                'totalEstagio' => $subtotal[1]['totalEstagio'] + $periodos[$i + 1][$y]['estagio'],
                'totalPratica' => $subtotal[1]['totalPratica'] + $periodos[$i + 1][$y]['pratica'],
                'totalTeorica' => $subtotal[1]['totalTeorica'] + $periodos[$i + 1][$y]['teorica'],
            ];
        endfor ?>
        <tr class="com">
            <td class="com"><b>Sub-Total</b></td>
            <td class="com"><b><?= $subtotal[0]['totalPratica'] ?></b></td>
            <td class="com"><b><?= $subtotal[0]['totalTeorica'] ?></b></td>
            <td class="com"><b><?= $subtotal[0]['totalEstagio'] ?></b></td>
            <td class="com"><b>Sub-Total</b></td>
            <td class="com"><b><?= $subtotal[1]['totalPratica'] ?></b></td>
            <td class="com"><b><?= $subtotal[1]['totalTeorica'] ?></b></td>
            <td class="com"><b><?= $subtotal[1]['totalEstagio'] ?></b></td>
        </tr>
        <?php
        $subtotal[0] = [
            'totalPratica' => 0,
            'totalTeorica' => 0,
            'totalEstagio' => 0
        ];
        $subtotal[1] = [
            'totalPratica' => 0,
            'totalTeorica' => 0,
            'totalEstagio' => 0
        ];
        ?>

        <?php $i++;
    }; ?>
</table>
<br><br>
<table class="com">
    <tr>
        <td colspan="2" style="text-align: center"><b>TOTALIZAÇÃO GERAL</b></td>
    </tr>
    <tr>
        <td>DESCRICAO</td>
        <td>CARGA HORARIA</td>
    </tr>
    <tr>
        <td>Carga Horária Exc. de aula teóricas</td>
        <td><?= $this->cargaTeorica; ?></td>
    </tr>
    <tr>
        <td>Carga Horária de Prática Simulada (Aulas de Prática do 8º e 9º per./Estágio)</td>
        <td><?= $this->cargaEstagio ?></td>
    </tr>
    <tr>
        <td>Carga Horária de Prática Real (Estágio nos Núcleos – 7º a 10º período)</td>
        <td><?= $this->cargaPratica ?></td>
    </tr>
    <tr>
        <td>Carga Horária de Atividades Complementares</td>
        <td>0</td>
    </tr>
    <tr>
        <td><b>Carga Horaria Total</b></td>
        <td><b><?= $this->cargaTeorica + $this->cargaPratica + $this->cargaEstagio ?></b></td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td style="text-align: center" class="com">
            <b>Legenda:</b>
            P:Carga horária Prática T:Carga horária Teórica E:Carga horária Estágio
        </td>
    </tr>
</table>
</html>
