<?php
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('versa.skeleton', false, 'App','header');
$this->layoutComponent()->addJS('matricula/relatorios/index', false, 'App');
?>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken">
            <div class="widget-body">
                <form name='form'    method="post" target="_blank" data-validate="yes">

                    <section>
                        <div class="page-header">

                            <h1><b>Relatórios e Formulários:</b> Relação de alunos por turma</h1>
                        </div>

                        <div class="row">
                            <div class="col-xs-1"  hidden="hidden" id="dia">
                                <label><b>Dia:</b></label>
                                <select class="form-control" name="dia" data-validations="Required">
                                    <option value="1" >1</option>
                                    <option value="2" >2</option>

                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label><b>Periodo Letivo:</b></label>
                                <select class="form-control" id="periodo" name="periodo" required="required">
                                    <option value="">Selecione</option>
                                    <?php foreach($this->periodos as $periodo):?>
                                        <option value="<?= $periodo->getPerId()?>"><?= $periodo->getPerNome()?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label><b>Situação do Aluno:</b></label>
                                <select class="form-control" name="situacao">
                                    <option value="matriculado">Matriculados</option>
                                    <option value="Pendências Acadêmicas">Matriculas Pendentes</option>
                                    <option value="Matricula Provisoria">Matriculas Provisoria</option>
                                    <option value="Pré Matricula">Não Matriculados</option>
                                    <option value="Transferencia">Transferidos</option>
                                    <option value="Desistente">Desistentes</option>
                                    <option value="Trancado">Trancados</option>
                                    <option value="cancelada">Cancelados</option>

                                </select>
                            </div>

                    </section>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-2" id="turno">
                            <label><b>Turno:</b></label>
                            <select class="form-control" id="periodoTurno" name="periodoTurno">
                                <option value="Todos"> Todos </option>
                                <option value="Noturno"> Noturno </option>
                                <option value="Matutino"> Matutino </option>
                            </select>
                        </div>

                        <div class="col-xs-2"  id="tipoTurma">
                            <label><b>Turma:</b></label>
                            <select class="form-control" name="tipoTurma" id="tipoTurma"  required="required" >
                                <option value="Todos">Todas</option>
                                <option value="Regular">Regular</option>
                                <option value="Dependência e Adaptacao">Dependencia/Adaptação</option>

                            </select>
                        </div>
                    </div>
                    <div class="row">

                    </div>



                    <div class="clearfix">&nbsp;</div>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <a href="/matricula/relatorios" class="btn btn-default">
                                <i class="fa fa-bars"></i>
                                Voltar para relatórios
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-gear"></i>
                                Gerar Relatório
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    $spine().validateForm();
</script>
