<?php

?>
<html>
    <style>
        @page {
            margin: 160px 10px;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -150px;
            right: 0px;
            height: 150px text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: -100px;
            right: 0px;
            height: 110px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -200px;
            right: 0px;
            height: 150px;
        }


        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;

        }

        table td {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }
    </style>
    <div id="footer">
        <p style="text-align:left ">Versa Tecnologia - Universa </p>

        <p class="page" style="text-align: right"> pág </p>
    </div>

    <table width="100%" id="header" style="text-transform: uppercase; text-align: center; font-size: 90%">
        <tr>
            <td width="40%" valign="top">
                <?= ($this->logo ? '<img src="' . $this->logo . '" width="180px"/>' : '') ?>
            </td>
            <td width="60%" valign="top" style="text-align: center" colspan="4">
                <h3><?= ($this->mantenedora) ?></h3>
                <h3><?= ($this->ies) ?></h3>
                <h4>RELAÇÃO DE DEPENDÊNCIAS</h4>
            </td>
        </tr>
        <tr>
            <td style="width:30%;">
                <b>Semestre Letivo Base</b>
            </td>
            <td style="width:10%;">
                <b>Disciplinas</b>
            </td>
            <td style="width:20%;">
                <b>Serie</b>
            </td>
            <td style="width:20%;">
                <b>Status Alunos</b>
            </td>
            <td style="width:20%;">
                <b>Turnos</b>
            </td>
        </tr>
        <tr>
            <td><?= $this->PeriodoBase->getPerNome()?></td>
            <td>Todas</td>
            <td>Todas</td>
            <td><?= $this->filtros['status'] ?></td>
            <td>Todos</td>
        </tr>
    </table>
    <?php foreach($this->dependencias as $aluno):?>
    <table  width="100%" id="content" style="text-transform: uppercase; text-align: center; font-size: 90%">
            <tr style=" background: #A8A8A8" >
                <td width="40%" colspan="3">Aluno: <b><?=  substr($aluno[0]['alunocurso_id'],-5).' -'.$aluno[0]['pes_nome'] ?></b></td>
            </tr>
            <tr>
                <td ><b>Disciplinas</b></td>
                <td ><b>Ult. Curso (ano/Semestre)</b></td>
                <td ><b>Ult. Curso (Serie)</b></td>
            </tr>
            <?php foreach($aluno as $disciplina): ?>
                <tr>
                    <td><?= $disciplina['discNome']?></td>
                    <td><?=$disciplina['resaluno_ano'].'/'.$disciplina['resaluno_semestre'] ?></td>
                    <td><?= $disciplina['resaluno_serie']?>º</td>
            </tr>
            <?php endforeach ?>

        </table>
    <?php endforeach;?>
</html>

