<?php

?>
<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Relatórios de Dependencia e Reprovações', 'icon' => 'fa fa-gear', 'id' => ''));
?>
<html>
<br><br>
<form method="post" target="_blank" >
    <table>
        <tr >
            <td >
                <label>Periodo Letivo:</label>
                <input class="form-control" type="text"  value="1 Periodo de 2016" readonly>
            </td>
            <td>
                <label>Filtro:</label>
                <select name="filtro" class="form-control" readonly>
<!--                    <option value="1" >Alunos</option>-->
<!--                    <option value="resumido" >Resumido</option>-->
                    <option value="detalhado" >Detalhado</option>

                </select>
            </td>
            <td>
                <label>Estado do Aluno no Semestre:</label>
                <select name="status" class="form-control" readonly>
                                    <option value="Matriculado">Matriculado</option>
                                    <option value="Pré Matricula">Não Matriculado</option>
                                    <option value="Matricula Provisoria">Matricula Provisoria</option>
                                                                                                                                                        </select>
            </td>
        </tr>

    </table>

<!--    <div class="row" style="width: 70%" role="contentinfo">-->
<!--        <div class="col-xs-2">-->
<!--            <label>Digite o ano:</label>-->
<!--            <input type="text" class="form-control" placeholder="2016" value="2016" readonly>-->
<!--        </div>-->
<!--        <div class="col-xs-3">-->
<!--            <label>Digite o Semestre:</label>-->
<!--            <input type="text" class="form-control" placeholder="1" value="1" readonly>-->
<!--        </div>-->
<!--        <div class="col-xs-3">-->
<!--            <label>Digite a situação:</label>-->
<!--            <select class="form-control">-->
<!--                <option value="matriculado">Matriculados</option>-->
<!--                <option value="matriculado">Pré-Matriculados</option>-->
<!--                <option value="matriculado">Todos</option>-->
<!--                <option value="Aluno">Aluno</option>-->
<!---->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <br><br>-->
    <footer>
        <button type="submit" class="btn btn-primary" style="float: right" >Gerar Relatório</button>
    </footer>
</form>
</html>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>