<?php
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('versa.skeleton', false, 'App','header');
$this->layoutComponent()->addJS('matricula/relatorios/index', false, 'App');
?>
<script language="JavaScript"
        src="<?php echo $this->basePath(); ?>/js/universa/matricula/relatorios/index.js?nocache=<?= date("Y-m-d H:i:s") ?>"></script>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken">
            <div class="widget-body">
                <form name='form' action="/matricula/relatorios/relatorio-alunos"   method="post" target="_blank" data-validate="yes">

                    <section>
                        <div class="page-header">

                            <h1><b>Relatórios e Formulários:</b> Turmas</h1>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <label><b>Filtro:</b></label>
                                <select class="form-control" name="relatorio" id="relatorio" data-validations="Required">
                                    <option value="por-turma" >Por Turma</option>
                                    <option value="todos" >Todas as Turmas</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label><b>Modelo:</b></label>
                                <select class="form-control" name="tipo" id="tipo" data-validations="Required" >
                                    <option value="matricula/relatorios/lista-alunos" >Listagem</option>
                                    <option value="matricula/relatorios/etiquetas-simples" > Etiquetas Simples</option>
                                    <option value="matricula/relatorios/etiquetas" >Etiquetas Completa</option>
                                    <option value="matricula/relatorios/cabecalho-gabarito">Gab. Prova Integrada</option>

                                </select>
                            </div>
                            <div class="col-xs-1"  hidden="hidden" id="dia">
                                <label><b>Dia:</b></label>
                                <select class="form-control" name="dia" data-validations="Required">
                                    <option value="1" >1</option>
                                    <option value="2" >2</option>

                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label><b>Situação do Aluno:</b></label>
                                <select class="form-control" name="filtro">
                                    <option value="matriculado">Matriculados</option>
                                    <option value="Pendências Acadêmicas">Matriculas Pendentes</option>
                                    <option value="Matricula Provisoria">Matriculas Provisoria</option>
                                    <option value="Pré Matricula">Não Matriculados</option>
                                    <option value="Transferencia">Transferidos</option>
                                    <option value="Desistente">Desistentes</option>
                                    <option value="Trancado">Trancados</option>
                                    <option value="cancelada">Cancelados</option>

                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label><b>Formas de Ingresso:</b></label>
                                <select class="form-control" name="forma-ingresso" id="forma-ingresso"  >
                                    <option value="<?= '' ?>" > Todos </option>
                                    <?php foreach($this->formasIngresso as $forma):?>
                                    <option value="<?= $forma['tiposel_id']?>" ><?= $forma['tiposel_nome']?> </option>
                                    <?php endforeach?>
                                </select>
                            </div>
                            <div class="col-xs-2"  id="turmasIrregulares"  hidden="hidden">
                                <label><b>Turmas Irregulares:</b></label>
                                <div>
                                    <label class="radio-inline">
                                        <input checked="checked" type="radio" name="turmasIrregulares"  value="true"> Sim
                                    </label>
                                    <label class="radio-inline">
                                        <input  type="radio" name="turmasIrregulares"  value="false"> Não
                                    </label>
                                </div>
                            </div>

                    </section>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-2" id="turno"  hidden="hidden">
                            <label><b>Turno:</b></label>
                            <select class="form-control" id="periodoTurno" name="periodoTurno">
                                <option value="">Todos</option>
                                <option value="Noturno"> Noturno </option>
                                <option value="Matutino"> Matutino </option>
                            </select>
                        </div>
                        <div class="col-xs-2" id="serie"  hidden="hidden">
                            <label><b>Período:</b></label>
                            <select class="form-control" name="periodoSerie">
                                <option value="Todos">Todos</option>

                                <?php for($i=1;$i<=10;$i++):?>
                                    <option value="<?= $i ?> "><?= $i ?></option>
                                <?php endfor?>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <label><b>Campus/Curso:</b></label>
                            <select class="form-control" id="campus_curso" name="campus_curso" required="required">
                                <option value="">Selecione</option>
                                <?php foreach($this->campi as $campus):?>
                                    <option selected="selected" value="<?= $campus['cursocampus_id']?>"><?= $campus['camp_nome'].'/'.$campus['curso_nome'] ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <label><b>Periodo Letivo:</b></label>
                            <select class="form-control" id="periodoLetivo" name="periodoLetivo" required="required">
                                <option value="">Selecione</option>
                                <?php foreach($this->periodos as $periodo):?>
                                    <option value="<?= $periodo->getPerId()?>"><?= $periodo->getPerNome()?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="col-xs-2"  id="turma">
                            <label><b>Turma:</b></label>
                            <select class="form-control" name="turmas" id="turmas" >
                                <option value="0">Todas as Turmas</option>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="col-xs-2"  id="ingressantes">
                            <label><b>Somente Ingressantes:</b></label>
                            <div>
                            <label class="radio-inline">
                                <input type="radio" name="ingressantes"  value="true"> Sim
                            </label>
                            <label class="radio-inline">
                                <input checked="checked" type="radio" name="ingressantes" value="false"> Não
                            </label>
                                </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>



                    <div class="clearfix">&nbsp;</div>

                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <a href="/matricula/relatorios" class="btn btn-default">
                                <i class="fa fa-bars"></i>
                                Voltar para relatórios
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-gear"></i>
                                Gerar Relatório
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    $spine().validateForm();
</script>
