<?php     $form = $this->form;
    $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget( array('title'=>'Impressão de Etiquetas') );
    $form->prepare();
    echo $this->form()->openTag( $form );
?>

    <div class="row col-md-9">
        <?= $this->spineForm()->formInput( $form->get('turma') ); ?>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput( $form->get('tipo') ); ?>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput( $form->get('situacao') ); ?>
    </div>

    <?= $this->spineForm()->formInput( $form->get('Imprimir') ); ?>

<?php
    echo $this->form()->closeTag();
    echo $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
?>