﻿<!DOCTYPE html>
<html lang="pt-BR" id="extr-page">
<head>
    <meta charset="utf-8">
    <title><?php echo $this->layoutInformation()->getTitle(); ?></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/demo.min.css">
    <link rel="shortcut icon" href="<?php echo $this->basePath(); ?>/smart-admin/img/favicon/favicon.ico"
          type="image/x-icon">
    <link rel="icon" href="<?php echo $this->basePath(); ?>/smart-admin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <link rel="apple-touch-icon" href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/ipad-landscape.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/ipad-portrait.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/iphone.png"
          media="screen and (max-device-width: 320px)">

    <style type="text/css">
        iframe {
            border: none;
            float: left;
            position: relative;
            top: -63px;
            left: -130px;
            overflow: hidden;
        }

        .col-xs-12.col-sm-12.col-md-4.col-lg-3 {
            margin-left: 1%;
            overflow: hidden;
        }
    </style>
</head>
<body class="animated fadeInDown">
<header id="header" style="height: 105px !important;">
    <div id="logo-group" style="width: 100%;text-align: center;">
        <div id="logo">
            <img src="<?= $this->basePath($this->layoutInformation()->getLogo()); ?>?width=180&height=80"
                 style="max-width: 100%;max-height: 50px; width: initial;">

            <h1 class="text-center" style="font-size: 1em">
                <?= $this->layoutInformation()->getProjectName(); ?>
            </h1>
        </div>
    </div>
</header>
<div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="row">
            <?php
            $loginDestaques = $this->layoutInformation()->getConfig('loginDestaques');
            $cssClassLogin  = 'col-xs-12 col-md-4 col-md-offset-4';

            if ($loginDestaques) {
                $cssClassLogin = 'col-xs-12 col-sm-12 col-md-4 col-lg-3';
                ?>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                    <iframe src="<?= $loginDestaques; ?>" width="120%" height="500px"></iframe>
                    <script>
                        $('iframe a[target="_blank"]').live('click', function (e) {
                            e.preventDefault(); //stops it opening in a new window
                            var url = $(this).attr('href');
                            $('iframe').load(url);
                        });
                    </script>
                </div>
                <?php
            }
            ?>
            <div class="<?= $cssClassLogin; ?>">
                <?php
                if (isset($this->erro)) { ?>
                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-danger"></i>
                        <strong>Erro:</strong> <?= is_array($this->erro) ? $this->erro[0] : $this->erro ?>
                    </div>
                    <?php
                } else {
                    if (isset($this->info)) { ?>
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Atenção:</strong> <?= $this->info[0] ?>
                        </div>
                        <?php
                    }
                }
                ?>
                <div class="well no-padding">
                    <form action="<?= $this->url("acesso-autenticacao-login") ?>" id="login-form"
                          class="smart-form client-form" method="post">
                        <input type="hidden" name="dados" value="<?= $this->dados; ?>">
                        <header>
                            <?= $this->titulo ? $this->titulo : 'Entrar no sistema'; ?>
                        </header>
                        <fieldset>
                            <section>
                                <label class="label"><b>Login</b></label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" placeholder="N° Matricula ou Login"
                                           autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entre
                                        com seu email ou login</b></label>
                            </section>
                            <section>
                                <label class="label"><b>Senha</b></label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" placeholder="Entre com sua senha"
                                           autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Entre
                                        com sua senha</b> </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                Esqueceu a senha?
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <?php echo ($this->titulo ? 'Acessar' : 'Logar')?>
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/pace/pace.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="<?php echo $this->basePath(); ?>/js/libs/jquery-2.0.2.min.js"><\/script>');
    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="<?php echo $this->basePath(); ?>/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/bootstrap/bootstrap.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
<!--[if IE 8]>
<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->
<!-- MAIN APP JS FILE -->
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/app.min.js"></script>
<!-- Modal recovery password -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" name="recovery-password">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Recupere sua senha
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="display: none" id="myModalLabel">
                        <div id="alert-message">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-recovery">Login ou Email:</label>
                        <input type="text" name="recovery" class="form-control" id="login-recovery"
                               placeholder="Login ou Email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="recuperar" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function () {
        $("#recuperar").on("click", function () {
            var login = $("#login-recovery").val();
            $.ajax({
                type: "post",
                url: '<?= $this->url('acesso-recovery-password')?>',
                data: {recovery: login},
                success: function (data) {
                    var response = data.response;
                    var button = "<button class='close' data-dismiss='alert'>×</button>";
                    $("#alert-message").removeClass();

                    if (response.type == 'warning') {
                        var message = "<strong>Aviso</strong> " + response.message;
                        var icon = "<i class='fa-fw fa fa-warning'></i>";

                        $("#alert-message").addClass('alert alert-warning fade in').html(button + icon + message);

                    } else if (response.type == 'success') {
                        var message = "<strong>Sucesso</strong> " + response.message;
                        var icon = "<i class='fa-fw fa fa-check'></i>";

                        $("#alert-message").addClass('alert alert-success fade in').html(button + icon + message);

                    } else if (response.type == 'error') {
                        var message = "<strong>Erro</strong> " + response.message;
                        var icon = "<i class='fa-fw fa fa-times'></i>";

                        $("#alert-message").addClass('alert alert-danger fade in').html(button + icon + message);
                    }

                    $("#myModalLabel").show("slow");
                },
                beforeSend: function () {
                    $('#ajaxLoad').css({display: "block"});
                },
                complete: function () {
                    $('#ajaxLoad').css({display: "none"});
                }
            });
        });
    });
</script>
</body>
</html>