<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo-solicitacao'));
$paramUrl    = array('controller' => 'protocolo-solicitacao', 'action' => 'add');

if ($this->arrDados['solicitacaoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['solicitacaoId'];
}
$urlPesquisaProtocoloSetor = $this
    ->url('protocolo/default', array('controller' => 'protocolo-setor', 'action' => 'search-for-json'));
$urlForm                   = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-solicitacao-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="protocolo-solicitacao-form" novalidate="novalidate"
                          method="post" enctype="multipart/form-data">
                        <input type="hidden" name="solicitacaoId" id="solicitacaoId"
                               value="<?php echo $this->arrDados['solicitacaoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="setor">Nome do Setor:</label>
                                <input type="text" name="setor" id="setor" class="form-control"
                                       placeholder="Nome do Setor" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="solicitacaoDescricao">Descrição:</label>
                                <input type="text" name="solicitacaoDescricao" id="solicitacaoDescricao"
                                       class="form-control"
                                       placeholder="Descrição" maxlength="200"
                                       value="<?php echo $this->arrDados['solicitacaoDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="solicitacaoVisibilidade">Visibilidade:</label>
                                <select name="solicitacaoVisibilidade[]" id="solicitacaoVisibilidade"
                                        class="form-control"
                                        multiple>
                                    <?php
                                    foreach ($this->arrSolicitacaoVisibilidade as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['solicitacaoVisibilidade']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloSolicitacaoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {protocoloSetor: '<?=$urlPesquisaProtocoloSetor;?>'},
            data: {},
            value: {setor:<?=json_encode($this->arrDados['setor']); ?>},
        });
    });
</script>