<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-questao-resposta'));
$paramUrl    = array('controller' => 'avaliacao-questao-resposta', 'action' => 'add');

if ($this->arrDados['questaorespostaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['questaorespostaId'];
}
$urlPesquisaAvaliacaoQuestao = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questao', 'action' => 'search-for-json'));
$urlForm                     = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questao-resposta-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-questao-resposta-form"
                              novalidate="novalidate" method="post">
                            <input type="hidden" name="questaorespostaId" id="questaorespostaId"
                                   value="<?php echo $this->arrDados['questaorespostaId']; ?>">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questao">Questão:</label>
                                    <input type="text" name="questao" id="questao" class="form-control"
                                           placeholder="Questão" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questaorespostaDescricao">Descrição:</label>
                                    <input type="text" name="questaorespostaDescricao" id="questaorespostaDescricao"
                                           class="form-control"
                                           placeholder="Descrição" maxlength="255"
                                           value="<?php echo $this->arrDados['questaorespostaDescricao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questaorespostaPosicao">Posição:</label>
                                    <input type="text" name="questaorespostaPosicao" id="questaorespostaPosicao"
                                           class="form-control"
                                           placeholder="Posição" maxlength="11"
                                           value="<?php echo $this->arrDados['questaorespostaPosicao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questaorespostaGabarito">Gabarito:</label>
                                    <select name="questaorespostaGabarito" id="questaorespostaGabarito"
                                            class="form-control">
                                        <?php
                                        foreach ($this->arrQuestaorespostaGabarito as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['questaorespostaGabarito']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestaoRespostaAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {avaliacaoQuestao: '<?=$urlPesquisaAvaliacaoQuestao;?>'},
            data: {},
            value: {questao:<?=json_encode($this->arrDados['questao']); ?>}
        });
    });
</script>