<div class="col-xs-1">
    <div class="form-group">
        <label>Imagem:</label>

        <p class="form-control-static text-center" id="imagemAluno">
            <span>-</span>
            <img src="" alt="Imagem do leitor" class="img-rounded"
                 style="display: none">
        </p>
    </div>
</div>
<div class="col-xs-11">
    <div class="col-xs-12">
        <div class="col-xs-2">
            <div class="form-group">
                <label>Registro do aluno:</label>

                <p class="form-control-static pesId">-</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Nome:</label>

                <p class="form-control-static pesNome">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Nascimento:</label>

                <p class="form-control-static pesDataNascimento">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Sexo:</label>

                <p class="form-control-static pesSexo">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Etnia:</label>

                <p class="form-control-static alunoEtnia">-</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-2">
            <div class="form-group">
                <label>Matrícula No Curso:</label>

                <p class="form-control-static alunocursoId">-</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Período Letivo:</label>

                <p class="form-control-static perNome">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Situação no Período:</label>

                <p class="form-control-static situacaoDescricao">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Data Situação:</label>

                <p class="form-control-static dataSituacao">-</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Curso:</label>

                <p class="form-control-static cursoNome">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Situação no Curso:</label>

                <p class="form-control-static alunocursoSituacao">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Forma de ingresso:</label>

                <p class="form-control-static tiposelNome">-</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Câmpus:</label>

                <p class="form-control-static campNome">-</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Agente Educacional:</label>

                <p class="form-control-static pesNomeAgenteAluno">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Turma:</label>

                <p class="form-control-static turmaNome">-</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Observações:</label>

                <p class="form-control-static alunoperObservacoes">-</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Pai:</label>

                <p class="form-control-static alunoPai">-</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Mãe:</label>

                <p class="form-control-static alunoMae">-</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-2">
            <div class="form-group">
                <label>CPF:</label>

                <p class="form-control-static pesCpf">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>RG:</label>

                <p class="form-control-static pesRg">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Emissão RG:</label>

                <p class="form-control-static pesRgEmissao">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Telefone:</label>

                <p class="form-control-static conContatoTelefone">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Celular:</label>

                <p class="form-control-static conContatoCelular">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>E-mail:</label>

                <p class="form-control-static conContatoEmail">-</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-2">
            <div class="form-group">
                <label>CEP:</label>

                <p class="form-control-static endCep">-</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Logradouro:</label>

                <p class="form-control-static endLogradouro">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Número:</label>

                <p class="form-control-static endNumero">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Complemento:</label>

                <p class="form-control-static endComplemento">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Bairro:</label>

                <p class="form-control-static endBairro">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Cidade:</label>

                <p class="form-control-static endCidade">-</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Estado:</label>

                <p class="form-control-static endEstado">-</p>
            </div>
        </div>
    </div>
</div>