<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
    }

    #modal-historico .modal-dialog {
        width: 80%;
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-historico" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Registro de itens do histórico do aluno</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="" id="historico-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="resId" value="">
                        <input type="hidden" name="resalunoOrigem" value="">
                        <input type="hidden" name="resalunoFaltas" id="resalunoFaltas" class="form-control"
                               maxlength="4">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="formacaoId">Instituição de Origem:</label>
                                <input type="text" name="formacaoId" id="formacaoId" class="form-control"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="discId">Disciplina:</label>
                                <input type="text" name="discId" id="discId" class="form-control"
                                       placeholder="Ex. Português" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="equivalencias">Equivalências de disciplinas internas:</label>
                                <input type="text" name="equivalencias" id="equivalencias" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="resalunoCargaHoraria" title="Carga Horária">C.H.:</label>
                                <input type="text" name="resalunoCargaHoraria" id="resalunoCargaHoraria"
                                       class="form-control"
                                       maxlength="4">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="resalunoNota" title="Nota Final">N.F.:</label>
                                <input type="text" name="resalunoNota" id="resalunoNota" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="resalunoAno">Ano:</label>
                                <input type="text" name="resalunoAno" id="resalunoAno" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="resalunoSemestre" title="Período Letivo">Périodo:</label>
                                <input type="text" name="resalunoSemestre" id="resalunoSemestre" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="resalunoSerie">Série:</label>
                                <input type="text" name="resalunoSerie" id="resalunoSerie" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="resalunoSituacao">Situação:</label>
                                <select name="resalunoSituacao" id="resalunoSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrResalunoSituacao as $value) {
                                        $id   = $value['id'];
                                        $text = $value['text'];
                                        echo "<option value='" . $id . "'>" . $text . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btn-salvar-historico">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>