<div id="modalDatasConclusao" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Datas de Conclusão</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 hidden" id="mensagemDatasConclusao">
                        <p>Não é possível lançar datas de conclusão do aluno.</p>

                        <p></p>
                    </div>
                    <div class="col-sm-12" id="formDatasConclusao">

                        <div class="form-group">
                            <label for="MCInput">Data da Colação:</label>
                            <input type="text" class="form-control" id="dataDaColacao" name="dataDaColacao">
                        </div>
                        <div class="form-group">
                            <label for="MEInput">Data da Expediçao:</label>
                            <input type="text" class="form-control" id="dataDaExpedicao" name="dataDaExpedicao">
                        </div>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary" id="salvarDatasConclusao">Salvar</button>
            </div>
        </div>
    </div>
</div>