<div class="modal fade" data-keyboard="false" data-backdrop="static" id="desligamento-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Desligamento de aluno</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 hidden" id="desligamentoAcaoEfetuada">
                        <p>O aluno já se encontra em situação de desligamento.</p>
                    </div>
                    <div class="col-sm-12" id="desligamentoAcaoEfetuar">
                        <div class="form-group">
                            <label>Selecione o tipo de desligamento:</label>

                            <div class="input-group">
                                <label class="radio">
                                    <input type="radio" name="tipoDesligamento"
                                           value="<?= \Matricula\Service\AcadgeralSituacao::CANCELADA; ?>">
                                    <b>Cancelamento</b>: Alunos de primeiro período que
                                    solicitam desligamento de curso.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tipoDesligamento"
                                           value="<?= \Matricula\Service\AcadgeralSituacao::TRANCADO; ?>">
                                    <b>Trancamento</b>: Alunos a partir do segundo período
                                    que
                                    solicitam desligamento
                                    de curso e não informam o desejo de concluir o curso em
                                    outra instituição.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tipoDesligamento"
                                           value="<?= \Matricula\Service\AcadgeralSituacao::TRANSFERENCIA; ?>">
                                    <b>Transferência</b>: Alunos que desejam migrar de
                                    instituição.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tipoDesligamento"
                                           value="<?= \Matricula\Service\AcadgeralSituacao::OBITO; ?>">
                                    <b>Óbito</b>: Aluno falecido.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="tipoDesligamento"
                                           value="<?= \Matricula\Service\AcadgeralSituacao::DESISTENTE; ?>">
                                    <b>Desistência</b>: Alunos que se ausentaram sem aviso
                                    prévio.
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Pendências:</legend>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>Empréstimos Ativos na Biblioteca</label>

                                        <p class="form-control-static qtdTitulosAbertosBiblioteca">-</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Títulos Financeiros Vencidos:</label>

                                        <p class="form-control-static quantidadeTitulosVencidos">-</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Títulos Financeiros Acadêmicos em Aberto:</label>

                                        <p class="form-control-static qtdTitulosAbertosAcademicos">-</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Títulos Financeiros em Aberto:</label>

                                        <p class="form-control-static qtdTitulosAbertosTodos">-</p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <p>
                                <b>ATENÇÃO:</b>
                                Prossiga apenas se as condições acima estiverem em acordo com o regimento da
                                instituição.<br>
                                O desligamento do aluno não afeta os títulos financeiros em aberto e empréstimos
                                ativos na biblioteca. Oriente o aluno a procurar o setor responsável caso o mesmo
                                possua pendências.
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="motivoDesligamento">Motivo:</label>
                            <textarea name="motivoDesligamento" id="motivoDesligamento"
                                      class="form-control"
                                      placeholder="Descreva o motivo pelo qual o aluno está sendo desligado."
                                      rows="5"></textarea>
                        </div>
                        <div class="col-sm-12 text-center">
                            <input type="button" id="btnCancelamentoEfetuar"
                                   class="btn btn-danger btn-sm"
                                   value="Desligar Aluno">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>