<?php
$urlAction = $this->url(
    'matricula/default',
    array('controller' => 'acadperiodo-aluno', 'action' => 'altera-situacao-aluno')
);
?>
<div id="altera-situacao-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-overlay">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title"><strong>Alterar Situação Do Aluno No Período</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="altera-situacao-form" method="POST" action="<?= $urlAction; ?>">

                            <input name="alunoperId" id="alunoperId" type="hidden">

                            <div class="col-sm-7">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label title="Matrícula do Aluno na instituição">Matricula:</label>

                                        <p class="form-control-static alunocursoId">-</p>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label title="Nome do Aluno">Aluno:</label>

                                        <p class="form-control-static pesNome">-</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label title="Curso">Curso:</label>

                                        <p class="form-control-static cursoNome">-</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="matriculaPeriodoSituacao">Período Letivo:</label>

                                        <p class="form-control-static matriculaPeriodoSituacao">-</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label title="Turma">Turma:</label>

                                        <p class="form-control-static turmaNome">-</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label title="Situação Atual do Aluno no Período">Situação Atual:</label>

                                        <p class="form-control-static situacaoNome">-</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label title="Observacao do Aluno">Observação:</label>

                                        <p class="form-control-static alunoObservacao">-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="situacaoAluno">Nova Situação:</label>
                                        <input type="text" id="situacaoAluno" class="form-control"
                                               name="situacaoAluno">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="alteracaoObservacao">Observações sobre a mudança:</label>
                                            <textarea name="alteracaoObservacao" id="alteracaoObservacao"
                                                      class="form-control"
                                                      rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 hidden atencao">
                                <div class="form-group" style="color: red; font-size: 10px">
                                    <label title="Informativo" style="font-weight: 900">
                                        Atenção:
                                    </label>

                                    <p class="form-control-static">-</p>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" id="salvar" class="btn btn-primary">
                                    <i class="fa fa-save" aria-hidden="true "></i>
                                    Salvar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>