<?php
$arrDados = $this->arrDados;
?>
<head>
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?= $this->basePath(); ?>/smart-admin/css/bootstrap.min.css">
    <style>
        * {
            font-family: 'Trebuchet MS', Arial, sans-serif;
            font-size: small;
        }

        body {
            width: 100%;
        }

        td, th {
            padding: 0.5%;
            vertical-align: middle;
            text-align: left;
        }

        thead tr,
        tr.separator {
            border-bottom: 1px dashed #000 !important;
        }

        .titulo {
            text-align: center;
            font-weight: bold;
        }

        .conteudo {
            text-align: left;
        }

        table {
            width: 99%;
            margin-left: 0.5%;
        }

        @media print {
            thead tr td,
            tr.separator td {
                border-bottom: 1px dashed #000 !important;
            }
        }

        .center {
            padding: 5px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="2" class="titulo">
            COMPROVANTE DE EMPRÉSTIMO<br>
            <?= ($arrDados['mantenedora']) ?><br>
            <?= ($arrDados['ies']) ?>
        </th>
    </tr>
    <tr>
        <td style="width: 10%;">
            Operador: <?= ($arrDados['pessoaLogada'] ? $arrDados['pessoaLogada'] : ''); ?><br>
            Emissão: <?= (new \DateTime())->format('d/m/Y H:i:s'); ?>
        </td>
    </tr>
</table>
<?php
$x = 0;

foreach ($arrDados['exemplares'] as $pessoa) {
    if ($x > 0) {
        echo '<hr style="border-bottom: 1px solid #000 !important; width: 100%; margin-bottom:1px"> </br>';
    }
    ?>
    <table>
        <tbody>
        <tr>
            <td style="width: 10%;"><b>Pessoa:</b></td>
            <td style="width: 90%;" class="conteudo"><?= ($pessoa['pessoaNome']) ?></td>
        </tr>
        </tbody>
    </table>
    <table style="margin-left: 1.5% !important;">
        <tbody>
        <tr>
            <th colspan="2" style="width: 50%">Acervo(s)</th>
        </tr>
        <?php
        foreach ($pessoa['exemplares'] as $arrExemplares) {
            echo '
            <tr>
                <td colspan="2" style="width: 50%">Título:</td>
                <td colspan="2" style="width: 50%" class="conteudo">' . $arrExemplares['exemplarNome'] . '</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%">Exemplar:</td>
                <td colspan="2" style="width: 50%" class="conteudo">' . $arrExemplares['codigo'] . '</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%">Data Emprestimo:</td>
                <td colspan="2" style="width: 50%" class="conteudo">' . $arrExemplares['dataEmprestimo'] . '</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%">Operador do Empréstimo:</td>
                <td colspan="2" style="width: 50%" class="conteudo">' . $arrExemplares['operadorCadastro'] . '</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%">Data Prevista Para Devolução:</td>
                <td colspan="2" style="width: 50%" class="conteudo">' . $arrExemplares['dataEntrega'] . '</td>
            </tr>
            <tr class="separator">
                <td colspan="2" style="width: 50%"></td>
                <td colspan="2" style="width: 50%"></td>
            </tr>';
        }
        ?>
        </tbody>
    </table>
    <br><br>
    <hr style="border-bottom: 1px solid #000 !important; width: 50%; margin-left: 25%;margin-bottom:1px">
    <div class="center">
        <?= ($pessoa['pessoaNome']) ?>
    </div>

    <?php
    $x++;
} ?>
</body>