<?php
$urlListagem              = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo'));
$urlForm                  = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'add'));
$urlPessoa                = $this
    ->url('biblioteca/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlLeitorInformacao      = $this
    ->url('biblioteca/default', array('controller' => 'pessoa', 'action' => 'informacoes-basicas'));
$urlModalidade            = $this
    ->url('biblioteca/default', array('controller' => 'grupo-leitor', 'action' => 'modalidades'));
$urlDevolucao             = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'devolucao'));
$urlHistorico             = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'historico'));
$urlExemplar              = $this
    ->url('biblioteca/default', array('controller' => 'exemplar', 'action' => 'search-for-json'));
$urlEmprestimoListagem    = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'search'));
$urlEmprestimoAcao        = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'acao'));
$urlThumbnail             =
    $this->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlEmprestimoComprovante = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'comprovante'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('emprestimo', false, 'App');
?>
<style>
    .emprestimo-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    .tab-pane.row {
        position: relative;
    }

    .autocomplete-part-10,
    .autocomplete-part-25,
    .autocomplete-part-45 {
        display: inline-block;
        white-space: normal !important;
        font-weight: normal !important;
        vertical-align: middle;
    }

    .autocomplete-part-10 {
        width: 10%;
    }

    .autocomplete-part-25 {
        width: 25%;
    }

    .autocomplete-part-45 {
        width: 45%;
    }

    .ui-menu-item-header {
        font-weight: bold;
        font-size: 11px;
    }

    #modalidadeEmprestimoGrupoRegras th, #modalidadeEmprestimoGrupoRegras td {
        font-size: 11px;
        padding: 2px;
    }

    #modalidadeEmprestimoGrupoRegras th {
        text-align: center;
    }

    .ui-autocomplete {
        max-height: 250px;
        overflow: auto;
    }

    #exemplar-info {
        overflow: auto;
    }

    #exemplar-info::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #000000;
        filter: alpha(opacity=40);
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
        z-index: 1045;
    }

    #exemplar-info .modal-dialog {
        width: 98%;
        z-index: 1050;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?php echo $urlForm; ?>" id="emprestimo-form" novalidate="novalidate" method="post">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#efetuarEmprestimo" aria-controls="efetuarEmprestimo" role="tab"
                                   data-toggle="tab">
                                    Efetuar empréstimos
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#emprestimosAtivos" aria-controls="emprestimosAtivos" role="tab"
                                   data-toggle="tab">
                                    Empréstimos ativos
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane row active" id="efetuarEmprestimo">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="pesquisaLeitor">Pesquisar Leitor:</label>
                                        <input type="text" name="pesquisaLeitor" id="pesquisaLeitor"
                                               class="form-control"
                                               placeholder="Pesquise pelo código, matrícula e nome">
                                    </div>
                                </div>
                                <div id="leitorAcoesAviso" class="col-sm-12">
                                    <div class="alert alert-info">Selecione um leitor para continuar.</div>
                                </div>
                                <div id="leitorAcoes" class="col-sm-12 hidden">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#leitorInformacao" aria-controls="leitorInformacao" role="tab"
                                               data-toggle="tab">
                                                Infomações do leitor
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#leitorEmprestimo" aria-controls="leitorEmprestimo" role="tab"
                                               data-toggle="tab">
                                                Empréstimo
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#leitorEmprestimoDevolucao"
                                               aria-controls="leitorEmprestimoDevolucao"
                                               role="tab" data-toggle="tab">
                                                Devolução
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#leitorEmprestimoHistorico"
                                               aria-controls="leitorEmprestimoHistorico"
                                               role="tab" data-toggle="tab">
                                                Histórico
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane row active" id="leitorInformacao">
                                            <div class="col-sm-12">
                                                <div class="col-sm-1">
                                                    <div class="form-group">
                                                        <label>Imagem:</label>

                                                        <p class="form-control-static text-center" id="imagemAluno">
                                                            <span>-</span>
                                                            <img src="" alt="Imagem do leitor" class="img-rounded"
                                                                 style="display: none">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="pesNome">Nome:</label>

                                                            <p class="form-control-static" id="pesNome">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="grupoLeitorNome">Grupo:</label>

                                                            <p class="form-control-static" id="grupoLeitorNome">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="pesId">Código:</label>

                                                            <p class="form-control-static" id="pesId">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="alunocursoId">Matrícula:</label>

                                                            <p class="form-control-static" id="alunocursoId">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="situacaoMatricula">Situação da
                                                                matricula:</label>

                                                            <p class="form-control-static" id="situacaoMatricula">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="periodoLetivo">Período letivo:</label>

                                                            <p class="form-control-static" id="periodoLetivo">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="turmaNome">Turma:</label>

                                                            <p class="form-control-static" id="turmaNome">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <label for="turmaTurno">Turno:</label>

                                                            <p class="form-control-static" id="turmaTurno">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Curso:</label>

                                                            <p class="form-control-static" id="cursoNome">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Câmpus:</label>

                                                            <p class="form-control-static" id="campNome">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Número de empréstimos:</label>

                                                            <p class="form-control-static"
                                                               id="leitorInfoEmprestimosNum">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Atraso(%):</label>

                                                            <p class="form-control-static"
                                                               id="leitorInfoEmprestimosAtraso">
                                                                -</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Interesses:</label>

                                                            <p class="form-control-static"
                                                               id="leitorInfoEmprestimosInteresse">
                                                                -</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane row" id="leitorEmprestimo">
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="modalidadeEmprestimo">Modalidade de empréstimo:</label>
                                                    <input type="text" name="modalidadeEmprestimo"
                                                           id="modalidadeEmprestimo"
                                                           class="form-control" placeholder="Modalidade do empréstimo">
                                                </div>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="form-group">
                                                    <label for="exemplarPesquisa">Exemplar/Título/Autor:</label>

                                                    <div class="input-group">
                                                        <input type="text" name="exemplarPesquisa" id="exemplarPesquisa"
                                                               class="form-control" placeholder="pesquisa de exemplar">

                                                        <div class="input-group-btn">
                                                            <button class="btn btn-default" type="button"
                                                                    id="exemplarListagemBtn"
                                                                    title="Listagem de exemplares">
                                                                <i class="fa fa-reorder"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <table id="modalidadeEmprestimoGrupoRegras"
                                                       class="table table-striped table-bordered table-hover"
                                                       width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="6">Regras por grupo bibliográfico</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Grupo bibliográfico</th>
                                                        <th>Volumes permitidos</th>
                                                        <th>Volumes restantes</th>
                                                        <th>Prazo máximo</th>
                                                        <th>Data do empréstimo</th>
                                                        <th>Data prevista para entrega</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-12">
                                                <table id="dataTableEmprestimo"
                                                       class="table table-striped table-bordered table-hover"
                                                       width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th title="Código do Exemplar/Tombo">Cód. Exemplar/Tombo</th>
                                                        <th title="Título">Título</th>
                                                        <th>-</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-secondary"
                                                            id="emprestimoExemplarRemoveTodos" disabled>
                                                        <i class="fa fa-trash-o"></i>
                                                        Limpar
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            id="emprestimoExemplarEmprestar" disabled>
                                                        <i class="fa fa-save"></i>
                                                        Efetuar empréstimo
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane row" id="leitorEmprestimoDevolucao">
                                            <div class="col-sm-12">
                                                <table id="dataTableEmprestimoDevolucao"
                                                       class="table table-striped table-bordered table-hover"
                                                       width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th><input type="checkbox" title="Marcar todos"
                                                                   id="marcarTodosEmprestimos"></th>
                                                        <th title="Código do Exemplar/Tombo">Cód. Exemplar/Tombo</th>
                                                        <th title="Título">Título</th>
                                                        <th title="Modalidade de empréstimo">Modalidade</th>
                                                        <th title="Data do empréstimo">Data</th>
                                                        <th title="Previsão de devolução">Previsão</th>
                                                        <th title="Atraso">Atraso</th>
                                                        <th title="Usuário">Responsável</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary" title="Entregar todos"
                                                            disabled id="entregarEmprestimosSelecionados">
                                                        <i class="fa fa-reply-all"></i>
                                                        Entregar
                                                    </button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-success"
                                                            title="Renovar Empréstimo"
                                                            disabled id="renovarEmprestimo">
                                                        <i class="fa fa-refresh " disabled="true"></i>
                                                        Renovar Empréstimo
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane row" id="leitorEmprestimoHistorico">
                                            <div class="col-sm-12">
                                                <table id="dataTableEmprestimoHistorico"
                                                       class="table table-striped table-bordered table-hover"
                                                       width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th title="Código do Exemplar/Tombo">Cód. Exemplar/Tombo</th>
                                                        <th title="Título">Título</th>
                                                        <th title="Modalidade de empréstimo">Modalidade</th>
                                                        <th title="Data do empréstimo">Data</th>
                                                        <th title="Data da entrega">Entrega</th>
                                                        <th title="Atraso">Atraso</th>
                                                        <th title="Usuário">Responsável</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane row" id="emprestimosAtivos">
                                <div class="col-sm-12">
                                    <table id="dataTableEmprestimosAtivos"
                                           class="table table-striped table-bordered table-hover"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th title="Código do Exemplar/Tombo">Cód. Exemplar/Tombo</th>
                                            <th title="Título">Título</th>
                                            <th title="Leitor">Leitor</th>
                                            <th title="Data do empréstimo">Data</th>
                                            <th title="Previsão de devolução">Previsão</th>
                                            <th title="Atraso">Atraso</th>
                                            <th title="Usuário responsável">Responsável</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" title="Entregar todos"
                                                disabled id="entregarEmprestimosAtivosSelecionados">
                                            <i class="fa fa-reply-all"></i>
                                            Entregar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="exemplar-pesquisa-avancada" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Pesquisa avançada de exemplar</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php
                echo $this->partial(
                    'biblioteca/exemplar/index.phtml',
                    [
                        'partial'                => true,
                        'pesquisa'               => true,
                        'jsonGrupoBibliografico' => $this->jsonGrupoBibliografico
                    ]
                ); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade comprovante-emprestimo"
     data-keyboard="false" data-backdrop="static" id="emprestimo-comprovante-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 34% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comprovante de Empréstimo:</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <iframe id="corpo-recibo-modal" style="border: none; min-height: 300px;" src="about:blank"
                                class="col-sm-12"></iframe>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                    Fechar
                                </button>
                                <button type="button" class="btn btn-primary"
                                        id="emprestimo-comprovante-impressao">
                                    <i class="fa fa-print"></i>
                                    Imprimir
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.emprestimo({
            url: {
                pessoa: '<?php echo $urlPessoa;?>',
                leitorInformacao: '<?php echo $urlLeitorInformacao;?>',
                modalidade: '<?php echo $urlModalidade;?>',
                devolucao: '<?php echo $urlDevolucao;?>',
                historico: '<?php echo $urlHistorico;?>',
                exemplar: '<?php echo $urlExemplar;?>',
                emprestimoListagem: '<?php echo $urlEmprestimoListagem;?>',
                emprestimoAcao: '<?php echo $urlEmprestimoAcao;?>',
                thumbnail: '<?php echo $urlThumbnail;?>',
                emprestimoComprovante: '<?php echo $urlEmprestimoComprovante;?>'
            },
            value: {
                dataAtual: '<?php echo $this->dataAtual;?>',
                diasParaRenovacao: '<?php echo $this->diasParaRenovacao;?>',
                quantidadeDeRenovacoes: '<?php echo $this->quantidadeDeRenovacoes;?>'
            }
        });
    });
</script>