<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'area'));
$paramUrl    = array('controller' => 'area', 'action' => 'add');

if ($this->dadosArea['areaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->dadosArea['areaId'];
}

$urlForm = $this->url('biblioteca/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('area-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="area-form" novalidate="novalidate" method="post">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="areaDescricao">Descrição:</label>
                                <input type="text" name="areaDescricao" id="areaDescricao" class="form-control"
                                       placeholder="Exemplo: Direito ambiental"
                                       value="<?php echo $this->dadosArea['areaDescricao']; ?>">
                            </div>
                        </div>
                        <input type="hidden" name="areaTitulos" id="areaTitulos"
                               value="<?php echo $this->dadosArea['areaTitulos']; ?>">
                        <input type="hidden" name="areaId" id="areaId"
                               value="<?php echo $this->dadosArea['areaId']; ?>">

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.areaAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>
        });
    });
</script>