<?php
$urlSearch = $this->url("biblioteca/default", array("controller" => "area", "action" => "search"));

$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('area-index', false, 'App');
?>
<style>
    #dataTableArea tbody td {
        cursor: pointer;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTableArea" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Títulos</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <button type="button" class="btn btn-primary" id="btn-nova-area">
                            Nova
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="nova-area" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog modal-nova-area">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Nova área</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                echo $this->partial($this->urlAreaAdd, array('partial' => true, 'listagem' => true));
                ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.areaIndex({urlSearch: '<?php echo $urlSearch;?>'});
    });
</script>
