<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo-mensagem-padrao'));
$paramUrl    = array('controller' => 'protocolo-mensagem-padrao', 'action' => 'add');

if ($this->arrDados['mensagemId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['mensagemId'];
}
$urlPesquisaProtocoloSetor       = $this
    ->url('protocolo/default', array('controller' => 'protocolo-setor', 'action' => 'search-for-json'));
$urlPesquisaProtocoloSolicitacao = $this
    ->url('protocolo/default', array('controller' => 'protocolo-solicitacao', 'action' => 'search-for-json'));
$urlForm                         = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-mensagem-padrao-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="protocolo-mensagem-padrao-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="mensagemId" id="mensagemId"
                               value="<?php echo $this->arrDados['mensagemId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="setor">Setor:</label>
                                <input type="text" name="setor" id="setor" class="form-control"
                                       placeholder="Setor" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="solicitacao">Solicitação:</label>
                                <input type="text" name="solicitacao" id="solicitacao" class="form-control"
                                       placeholder="Solicitação" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="mensagemDescricao">Descrição:</label>
                                <input type="text" name="mensagemDescricao" id="mensagemDescricao" class="form-control"
                                       placeholder="Descrição" maxlength="150"
                                       value="<?php echo $this->arrDados['mensagemDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="mensagemConteudo">Conteúdo:</label>
                                <textarea name="mensagemConteudo" id="mensagemConteudo" class="form-control"
                                          placeholder="Conteúdo"
                                          rows="5"><?php echo $this->arrDados['mensagemConteudo']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloMensagemPadraoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                protocoloSetor: '<?=$urlPesquisaProtocoloSetor;?>',
                protocoloSolicitacao: '<?=$urlPesquisaProtocoloSolicitacao;?>'
            },
            data: {},
            value: {
                setor:<?=json_encode($this->arrDados['setor']); ?>,
                solicitacao:<?=json_encode($this->arrDados['solicitacao']); ?>
            },
        });
    });
</script>