<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagioperiodo-aluno-portfolio'));
$paramUrl    = array('controller' => 'estagioperiodo-aluno-portfolio', 'action' => 'add');

if ($this->arrDados['portfolioId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['portfolioId'];
}

$urlPesquisaEstagioperiodoAlunoNucleo = $this
    ->url('atividades/default', array('controller' => 'estagioperiodo-aluno-nucleo', 'action' => 'search-for-json'));

$urlPesquisaArquivo = $this
    ->url('gerenciadorarquivos/default', array('controller' => 'arquivo', 'action' => 'search-for-json'));
$urlForm            = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagioperiodo-aluno-portfolio-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagioperiodo-aluno-portfolio-form"
                          novalidate="novalidate" method="post">

                        <input type="hidden" name="portfolioId" id="portfolioId"
                               value="<?php echo $this->arrDados['portfolioId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="alunoperId">Código:</label>
                                <input type="text" name="alunoperId" id="alunoperId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['alunoperId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="portfolioalunoDataEntrega">portfolioaluno_data_entrega:</label>
                                <input type="text" name="portfolioalunoDataEntrega" id="portfolioalunoDataEntrega"
                                       class="form-control"
                                       placeholder="portfolioaluno_data_entrega" maxlength=""
                                       value="<?php echo $this->arrDados['portfolioalunoDataEntrega']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="arqId">Código:</label>
                                <input type="text" name="arqId" id="arqId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['arqId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="portfolioalunoPontuacao">portfolioaluno_pontuacao:</label>
                                <input type="text" name="portfolioalunoPontuacao" id="portfolioalunoPontuacao"
                                       class="form-control"
                                       placeholder="portfolioaluno_pontuacao" maxlength="11"
                                       value="<?php echo $this->arrDados['portfolioalunoPontuacao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="portfolioalunoDataAvaliacao">portfolioaluno_data_avaliacao:</label>
                                <input type="text" name="portfolioalunoDataAvaliacao" id="portfolioalunoDataAvaliacao"
                                       class="form-control"
                                       placeholder="portfolioaluno_data_avaliacao" maxlength=""
                                       value="<?php echo $this->arrDados['portfolioalunoDataAvaliacao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="portfolioAlunoRetorno">portfolio_aluno_retorno:</label>
                    <textarea name="portfolioAlunoRetorno" id="portfolioAlunoRetorno" class="form-control"
                              placeholder="portfolio_aluno_retorno"
                              rows="5"><?php echo $this->arrDados['portfolioAlunoRetorno']; ?></textarea>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="portfolioalunoSituacao">portfolioaluno_situacao:</label>
                                <select name="portfolioalunoSituacao" id="portfolioalunoSituacao" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrPortfolioalunoSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['portfolioalunoSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagioperiodoAlunoPortfolioAdd({

                urlPesquisaEstagioperiodoAlunoNucleo: '<?=$urlPesquisaEstagioperiodoAlunoNucleo;?>',

                urlPesquisaArquivo: '<?=$urlPesquisaArquivo;?>',

            <?php echo $this->arrDados['alunoperId'] ? "\n,alunoperId:".json_encode($this->arrDados['alunoperId']) : ''; ?>,

        <?php echo $this->arrDados['arqId'] ? "\n,arqId:".json_encode($this->arrDados['arqId']) : ''; ?>
    });
    })
    ;
</script>