<?php
$urlMatricularAluno = $this->url('aluno/default', array('controller' => 'alunos', 'action' => 'rematricular-aluno'));
?>
<div class="panel panel-default">
    <div class="media v-middle">
        <div class="media-left">
            <div class="bg-blue-400 text-white">
                <div class="panel-body">
                    <i class="fa fa-university fa-fw fa-2x"></i>
                </div>
            </div>
        </div>
        <div class="media-body">
            Já está disponível a rematrícula!
        </div>
        <div class="media-right media-padding">
            <button type="button" class="btn btn-white paper-shadow relative" id="btn-rematricula"
                    data-target="#modal-pagamento" data-toggle="modal">
                Rematrícular
            </button>
        </div>
    </div>
</div>

<div id="modal-pagamento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Rematrícula:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label>Período:</label>

                            <div class="form-group">
                                <p class="form-control-static perNome">
                                    <?= $this->rematriculaDisponivel['per_nome'] ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Curso:</label>

                            <div class="form-group">
                                <p class="form-control-static cursoNome">
                                    <?= $this->rematriculaDisponivel['curso_nome'] ?>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Turma:</label>

                            <div class="form-group">
                                <p class="form-control-static turmaNome">
                                    <?= $this->rematriculaDisponivel['turma_nome'] ?>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label>Disciplinas:</label>

                            <div class="form-group">
                                <div class="form-control-static">
                                    <ul id="lista-disciplinas"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 well" id="tipoTitulo">
                            <h3>Plano de Pagamento:</h3>

                            <div class="col-sm-12 well" id="tipoTitulo">
                                <div class="clearfix"></div>
                                <div class="list componente-list"></div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <button id="btn-rematricula-efetuar" class="btn btn-success center-block">
                        Efetuar rematrícula
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var arrTitulos = <?= json_encode($this->rematriculaDisponivel['titulos']) ?>;
    var arrDisciplinas = <?= json_encode($this->rematriculaDisponivel['disciplinas']) ?>;
    var rematricula = document.getElementById('btn-rematricula-efetuar');
    var informacoes = document.getElementById('btn-rematricula');

    rematricula.addEventListener('click', function () {
        var vs = VersaShared();
        vs.addOverlay($('#modal-pagamento'), 'Efetuando rematrícula...');

        $.ajax({
            url: '<?= $urlMatricularAluno ?>',
            type: 'json',
            method: 'post',
            data: <?= json_encode($this->rematriculaDisponivel) ?>,
            success: function (data) {
                vs.removeOverlay($('#modal-pagamento'));

                if (data['erro']) {
                    vs.showNotificacaoDanger(data['mensagem'] || 'Erro ao efetuar a rematrícula!', '', 60000);

                    return false;
                }

                vs.showNotificacaoSuccess(data['mensagem'] || 'Rematrícula efetuada com sucesso!', '', 60000);
                location.reload();
                $('#modal-pagamento').modal('hide');
            }
        });
    });

    informacoes.addEventListener('click', function () {
        var $tipoTitulo = $("#tipoTitulo");
        var arrCampos = [];

        $('.componente-list').empty();

        arrCampos.push({
            name: 'tipotituloNome', label: 'Título',
            addCallback: function (e) {
                var field = e.data.field, itemConfig = e.data.itemSettings, config = e.data.settings;
                var $parent = field.parent();
                $parent.addClass('col-sm-4');
                field.addClass('hidden');
                field.before(
                    '<p class="form-control-static">' + itemConfig['tipotituloNome'] + '</p>'
                );
            }
        });
        arrCampos.push({
            name: 'valoresId', label: 'Pagamento',
            addCallback: function (e) {
                var field = e.data.field, itemConfig = e.data.itemSettings;
                var $parent = field.parent();
                $parent.addClass('col-sm-4');
                field.addClass('hidden');
                $.map(itemConfig['financeiroValores'], function (el) {
                    field.before('<p class="form-control-static">' + el['valoresParcela'] + ' x ' + el['valoresPreco'] + '</p>');
                });
            }
        });
        arrCampos.push({
            name: 'vencimento', label: 'Vencimento',
            addCallback: function (e) {
                var field = e.data.field, itemConfig = e.data.itemSettings;
                var $parent = field.parent();
                $parent.addClass('col-sm-4');
                field.addClass('hidden');
                field.before('<p class="form-control-static">' + itemConfig['vencimentoInicial'].replace(/\s.*/, '') + '</p>');
            }
        });

        $tipoTitulo.componente({
            inputName: 'tipoTitulo',
            classCardExtra: '',
            labelContainer: '<div class="form-group"/>',
            tplItem: '\
                        <div>\
                            <div class="componente-content col-sm-12">\
                            </div>\
                        </div>',
            fieldClass: 'form-control',
            fields: arrCampos,
            addCallback: function (e) {
                var itemSettings = e.data.itemSettings;

                itemSettings['financeiroValores'] = itemSettings['financeiroValores'] || [];
            }
        });

        $.each(arrTitulos || [], function (i, item) {
            var obrigatorio = 'Opcional';
            var itemAdd = $.extend({}, item);
            itemAdd['configPgtoCursoAlterado'] = 'Não';

            if (itemAdd['tipotituloMatriculaEmissao'] != 'Sim') {
                obrigatorio = 'Opcional';
            } else if (itemAdd['tipotituloMatriculaEmissao'] != 'Opcional') {
                obrigatorio = 'Obrigatório';
            }

            itemAdd['tipotituloNome'] = itemAdd['tipotituloNome'] + ' (' + obrigatorio + ')';
            itemAdd['tipotituloMatriculaEmissao'] = obrigatorio;

            $('#tipoTitulo').componente(['add', itemAdd]);
        });

        var html = "";

        $.each(arrDisciplinas || [], function (i, item) {
            html += "<li class='list-inline-item'>" + item['disciplinaNome'].toUpperCase() + "</li>";
        });

        $("#lista-disciplinas").html(html);
    });
</script>