<?php
$urlSearch             = $this
    ->url('acesso/default', array('controller' => 'acesso-interface', 'action' => 'search'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('interface-geral', false, 'App');
?>

<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTableAcesso" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Login</th>
                            <th>Grupo</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.search = '<?=$urlSearch?>';
    $(document).ready(function(){
    });
</script>