<?php

$urlAddAgendamentoAluno = $this->url("diario/default", ["controller"=>"agendamento-diario-aluno", "action"=>"add"]);
$urlDatatable           = $this->url("diario/default", ["controller"=>"agendamento-diario-aluno", "action"=>"search"]);
$urlListagem            = $this->url("diario/default", ["controller"=>"agendamento", "action"=>"index"]);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('agendamento-diario-aluno-add', false, 'App');
?>

<form action="#" id="agendamento-aluno-form" novalidate="novalidate" method="post" enctype="multipart/form-data">

    <input type="hidden" name="agendadiarioId" value="<?=$this->agendamento['agendadiario_id']?>">

    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken">
                    <div class="widget-body">
                        <blockquote>
                            <h1>Gestão de agendamentos:</h1>
                        </blockquote>
                        <div class="row">
                            <?= $this->partial(
                                'diario/agendamento-diario-aluno/informacoes-agendamento.phtml',
                                $this->viewModel()->getCurrent()->getVariables()
                            ) ?>
                        </div>
                        <div class="row" style="padding: 5px">
                            <div class="widget-body" id="container-agendamento-aluno">
                                <table id="dataTableAgendamentoAluno" class="table table-striped table-bordered table-hover"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th width="10%">Matrícula</th>
                                        <th width="30%">Nome do Aluno</th>
                                        <th width="10%">Data da Entrega</th>
                                        <th width="10%">Nota do Aluno</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="text-center">
                            <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                <i class="fa fa-bars"></i>
                                Voltar para Listagem
                            </a>
                            <button type="button" class="btn btn-primary" id="btn-agenda-aluno-add">
                                Salvar Notas
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?=$this->basePath();?>/smart-admin/sound/';
        $.agendamentoAlunoAdd({
            url: {
                urlAgendamentoAlunoAdd: '<?=$urlAddAgendamentoAluno?>',
                urlDatatable: '<?=$urlDatatable?>',
            },
            value: {
                agendadiarioId: '<?=(int)$agendamento['agendadiario_id']?>',
                avaliacao: '<?=$agendamento['per_disc_avaliacao']?>',
                dataInicio: '<?=$agendamento['agenda_data_inicio']?>',
                dataFim: '<?=$agendamento['agenda_data_fim']?>',
                agendaNota: '<?=$agendamento['agenda_nota']?>',
            }
        });
    });
</script>