<?php $agendamento = $this->agendamento;?>

<div class="col-xs-12">
    <div class="col-xs-3">
        <div class="form-group">
            <label>Curso:</label>

            <p class="form-control-static" data-info="curso_nome"><?=$agendamento['curso_nome']?></p>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="form-group">
            <label>Disciplina:</label>

            <p class="form-control-static" data-info="disc_nome"><?=$agendamento['disc_nome']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Período Letivo:</label>

            <p class="form-control-static" data-info="per_nome"><?=$agendamento['per_nome']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Etapa:</label>

            <p class="form-control-static" data-info="etapa_descricao"><?=$agendamento['etapa_descricao']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Turma:</label>

            <p class="form-control-static" data-info="turma_nome"><?=$agendamento['turma_nome']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Turno:</label>

            <p class="form-control-static" data-info="turma_turno"><?=$agendamento['turma_turno']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Título do Agendamento:</label>

            <p class="form-control-static" data-info="agenda_titulo"><?=$agendamento['agenda_titulo']?></p>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="form-group">
            <label>Tipo do Agendamento:</label>

            <p class="form-control-static" data-info="agenda_nome"><?=$agendamento['agenda_nome']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Método de Avaliação:</label>

            <p class="form-control-static" data-info="etapa_descricao"><?=$agendamento['per_disc_avaliacao']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Valor do Agendamento:</label>

            <p class="form-control-static" data-info="agenda_nota"><?=$agendamento['agenda_nota']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Data de Entrega:</label>

            <p class="form-control-static" data-info="agenda_data_fim_br"><?=$agendamento['agenda_data_fim_br']?></p>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label>Tipo da Entrega:</label>

            <p class="form-control-static" data-info="agenda_entrega_tipo"><?=$agendamento['agenda_entrega_tipo']?></p>
        </div>
    </div>
</div>


