<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-campo-personalizado'));
$paramUrl    = array('controller' => 'sis-campo-personalizado', 'action' => 'add');

if ($this->arrDados['campoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['campoId'];
}

$urlForm = $this->url('sistema/default', $paramUrl);

$urlEntidade = $this
    ->url('sistema/default', array('controller' => 'sis-campo-entidade', 'action' => 'search-for-json'));

$urlTipo = $this
    ->url('sistema/default', array('controller' => 'sis-campo-tipo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-campo-personalizado-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="sis-campo-personalizado-form" novalidate="novalidate"
                              method="post">
                            <input type="hidden" name="campoId" id="campoId"
                                   value="<?php echo $this->arrDados['campoId']; ?>">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoNome">Nome:</label>
                                    <input type="text" name="campoNome" id="campoNome" class="form-control"
                                           placeholder="Nome" maxlength="64"
                                           value="<?php echo $this->arrDados['campoNome']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoDescricao">Descrição:</label>
                                    <input type="text" name="campoDescricao" id="campoDescricao" class="form-control"
                                           placeholder="Descrição" maxlength="255"
                                           value="<?php echo $this->arrDados['campoDescricao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoTamanhoMin">Mínimo Tamanho:</label>
                                    <input type="text" name="campoTamanhoMin" id="campoTamanhoMin" class="form-control"
                                           placeholder="Mínimo Tamanho" maxlength="2"
                                           value="<?php echo $this->arrDados['campoTamanhoMin']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoTamanhoMax">Máximo Tamanho:</label>
                                    <input type="text" name="campoTamanhoMax" id="campoTamanhoMax" class="form-control"
                                           placeholder="Máximo Tamanho" maxlength="10"
                                           value="<?php echo $this->arrDados['campoTamanhoMax']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoObrigatorio">Obrigatorio:</label>
                                    <select name="campoObrigatorio" id="campoObrigatorio" class="form-control">
                                        <?php
                                        foreach ($this->arrCampoObrigatorio as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['campoObrigatorio']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoVisivelPainel">Painel Visível:</label>
                                    <select name="campoVisivelPainel" id="campoVisivelPainel" class="form-control">
                                        <?php
                                        foreach ($this->arrCampoVisivelPainel as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['campoVisivelPainel']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoExibicaoExterna">Externa Exibição:</label>
                                    <select name="campoExibicaoExterna" id="campoExibicaoExterna" class="form-control">
                                        <?php
                                        foreach ($this->arrCampoExibicaoExterna as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['campoExibicaoExterna']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoAtivo">Ativo:</label>
                                    <select name="campoAtivo" id="campoAtivo" class="form-control">
                                        <?php
                                        foreach ($this->arrCampoAtivo as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['campoAtivo']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoMultiplo">Multiplo:</label>
                                    <select name="campoMultiplo" id="campoMultiplo" class="form-control">
                                        <?php
                                        $teste = $this->arrCampoMultiplo;
                                        foreach ($this->arrCampoMultiplo as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['campoMultiplo']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campoTipo">Tipo:</label>
                                    <input type="text" name="campoTipo" id="campoTipo" class="form-control"
                                           placeholder="Tipo  do campo"
                                           value="<?php echo $this->arrDados['tipoCampo']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoEntidade">Entidade:</label>
                                    <input type="text" name="campoEntidade" id="campoEntidade" class="form-control"
                                           placeholder="Tipo  do campo"
                                           value="<?php echo $this->arrDados['entidadeCampo']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoValores">Valores:</label>
                    <textarea name="campoValores" id="campoValores" class="form-control"
                              placeholder="Valores"
                              rows="5"><?php echo $this->arrDados['campoValores']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoExpressaoRegular">Regular Expressão:</label>
                                    <input type="text" name="campoExpressaoRegular" id="campoExpressaoRegular"
                                           class="form-control"
                                           placeholder="Regular Expressão" maxlength="255"
                                           value="<?php echo $this->arrDados['campoExpressaoRegular']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoValorPadrao">Padrão Valor:</label>
                                    <textarea name="campoValorPadrao" id="campoValorPadrao" class="form-control"
                                              placeholder="Padrão Valor"
                                              rows="5"><?php echo $this->arrDados['campoValorPadrao']; ?></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisCampoPersonalizadoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                entidade: '<?= $urlEntidade;?>',
                tipo: '<?=$urlTipo;?>'
            },
            data: {},
            value: {}
        });
    });
</script>