<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-respondente-resposta'));
$paramUrl    = array('controller' => 'avaliacao-respondente-resposta', 'action' => 'add');

if ($this->arrDados['respondenterespostaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['respondenterespostaId'];
}
$urlPesquisaAvaliacaoQuestionarioQuestao = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questionario-questao', 'action' => 'search-for-json'));
$urlPesquisaAvaliacaoQuestaoResposta = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questao-resposta', 'action' => 'search-for-json'));
$urlPesquisaAvaliacaoQuestionarioRespondente = $this
    ->url(
        'avaliacao/default',
        array('controller' => 'avaliacao-questionario-respondente', 'action' => 'search-for-json')
    );
$urlForm = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-respondente-resposta-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-respondente-resposta-form"
                              novalidate="novalidate" method="post">
                            <input type="hidden" name="respondenterespostaId" id="respondenterespostaId"
                                   value="<?php echo $this->arrDados['respondenterespostaId']; ?>">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questionarioquestao">Código:</label>
                                    <input type="text" name="questionarioquestao" id="questionarioquestao"
                                           class="form-control"
                                           placeholder="Código" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questaoresposta">Questãoresposta:</label>
                                    <input type="text" name="questaoresposta" id="questaoresposta" class="form-control"
                                           placeholder="Questãoresposta" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respondente">Código Respondente:</label>
                                    <input type="text" name="respondente" id="respondente" class="form-control"
                                           placeholder="Código Respondente" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respondenterespostaPeso">Peso Respondenteresposta:</label>
                                    <input type="text" name="respondenterespostaPeso" id="respondenterespostaPeso"
                                           class="form-control"
                                           placeholder="Peso Respondenteresposta" maxlength="45"
                                           value="<?php echo $this->arrDados['respondenterespostaPeso']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respondenterespostaComplemento">Complemento Respondenteresposta:</label>
                                    <input type="text" name="respondenterespostaComplemento"
                                           id="respondenterespostaComplemento" class="form-control"
                                           placeholder="Complemento Respondenteresposta" maxlength="128"
                                           value="<?php echo $this->arrDados['respondenterespostaComplemento']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoRespondenteRespostaAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                avaliacaoQuestionarioQuestao: '<?=$urlPesquisaAvaliacaoQuestionarioQuestao;?>',
                avaliacaoQuestaoResposta: '<?=$urlPesquisaAvaliacaoQuestaoResposta;?>',
                avaliacaoQuestionarioRespondente: '<?=$urlPesquisaAvaliacaoQuestionarioRespondente;?>'
            },
            data: {},
            value: {
                questionarioquestao:<?=json_encode($this->arrDados['questionarioquestao']); ?>,
                questaoresposta:<?=json_encode($this->arrDados['questaoresposta']); ?>,
                respondente:<?=json_encode($this->arrDados['respondente']); ?>
            }
        });
    });
</script>