<?php
$paramUrl = array("controller" => "sis-fila-email", "action" => "add");

$urlAdd             = $this->url("sistema/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("sistema/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("sistema/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("sistema/default", $paramUrl);
$paramUrl['action'] = 'executar';
$urlExecutar        = $this->url("sistema/default", $paramUrl);
$paramUrl['action']    = 'correcao-automatica';
$urlCorrecaoAutomatica = $this->url("sistema/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-fila-email-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-sis-fila-email">
                    <table id="dataTableSisFilaEmail" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Conta</th>
                            <th>Assunto</th>
                            <th>Nome</th>
                            <th>E-Mail</th>
                            <th>Cadastro</th>
                            <th>Processamento</th>
                            <th>Finalização</th>
                            <th>Situação</th>
                            <th style="min-width: 40px"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-sis-fila-email-add">
                            Novo Registro
                        </a>
                        <button class="btn btn-secondary" id="btn-sis-fila-email-executar">
                            Executar
                        </button>
                        <button class="btn btn-secondary" id="btn-sis-fila-email-correcaoAutomatica">
                            Correção automática
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="sis-fila-email-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar fila de e-mail</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('sistema/sis-fila-email/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisFilaEmailIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                executar: '<?php echo $urlExecutar;?>',
                correcaoAutomatica: '<?php echo $urlCorrecaoAutomatica;?>'
            }
        });
    });
</script>