<?php


$meses = [
    0 => 'Janeiro',
    1 => 'Fevereiro',
    2 => 'Março',
    3 => 'Abril',
    4 => 'Maio',
    5 => 'Junho',
];
?>

<script language="JavaScript" src="<?=$this->basePath()?>/js/universa/boleto/pagamento-lote/mapeamentoTecladoAndMouse.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<script language="JavaScript" src="<?=$this->basePath()?>/js/universa/boleto/pagamento-lote/index.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken ">
            <div class="widget-body">
                <legend>Quitação multipla de titulos</legend>
                <table class="table table-striped table-bordered table-hover" width="100%" id="listaAlunos">
                    <thead >
                    <tr>
                        <th>Matricula</th>
                        <th>Nome</th>
                        <th>Turma</th>
                    </tr>
                    </thead>
                    <tbody >

                    </tbody>
                </table>
                <div id="quitacao" hidden>
                    <legend>Quitação</legend>
                    <div class="table-responsive">
                        <table id="tableTitulos" class="table table-striped table-bordered table-hover dataTable no-footer ">
                            <thead>
                            <tr>
                                <th>Matricula</th>
                                <th>Tipo</th>
                                <th>Parcela/Mês</th>
                                <th>Data Vencimento</th>
                                <th>Valor R$</th>
                                <th>Descontos R$</th>
                                <th>Acréscimos R$</th>
                                <th>Valor a Receber R$</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php for($i = 0; $i < 6; $i++):?>

                                <tr>
                                    <!--<td class='msg-credito' rel='popover' data-content='Lucas Rafael / MAT 1 NOT A'  data-placement="top" data-original-title='Informações sobre o aluno'>24025  <img src='/img/button_round_questionmark_blue.png' /></td>-->
                                    <td>24024</td>
                                    <td>Mensalidade</td>
                                    <td><?=$meses[$i]?></td>
                                    <td>10/0<?=$i+1?>/2016</td>
                                    <td>1.015,00</td>
                                    <td>515,00</td>
                                    <td>00,00</td>
                                    <td>500,00</td>
                                </tr>

                            <?php endfor?>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total R$:</strong></td><td name="totaQuitacao"><span name="spanTotal">3.000,00</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <footer class="text-center">
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="pagamentoLote.cancelaQuitacao()">
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-primary" id="btn-novo"  onclick="pagamentoLote.abreQuitacaotitulosModal()" >
                                Quitar
                            </button>
                        </footer>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal modal-wide fade" id="titulosAlunoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <div id="dadosAluno"></div>
                <h4 class="modal-title" id="myModalLabel"><strong>Titulos abertos</strong></h4>
            </div>
            <div class="modal-body row">

                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="table-responsive">
                            <section class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <select name='tipoTitulo' class="select2 select2-offscreen" tabindex="-1" title="">
                                        <optgroup label="Tipo Titulo" >
                                            <option value=""  >Todos</option>
                                            <option value="">Mensalidades</option>
                                            <option value="">Taxas</option>
                                            <option value="">Adaptações</option>
                                            <option value="">Dependencias</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <table id="tableMensalidades" class="table table-bordered ">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center"><input name="btSelectAll" type="checkbox" checked/></th>
                                            <th>Tipo</th>
                                            <th>Parcela/Mês</th>
                                            <th>Data Vencimento</th>
                                            <th>Valor R$</th>
                                            <th>Descontos R$</th>
                                            <th>Acréscimos R$</th>
                                            <th>Valor a Receber R$</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php for($i = 0; $i < 6; $i++):?>

                                            <tr>
                                                <td><input name="btSelectAll" type="checkbox" checked/></td>
                                                <td>Mensalidade</td>
                                                <td><?=$meses[$i]?></td>
                                                <td>10/0<?=$i+1?>/2016</td>
                                                <td>1.015,00</td>
                                                <td>515,00</td>
                                                <td>00,00</td>
                                                <td>500,00</td>
                                            </tr>
                                        <?php endfor?>
                                        </tbody>
                                    </table>
                                </div>
                            </section>


                        </div>

                    </div>
                </div>
                <div class="form-group">

                    <button type="button" class="btn btn-primary" onclick="pagamentoLote.abretitulosAlunoModal()">
                        <i class="fa fa-save"></i>
                        Salvar
                    </button>
                </div>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal modal-wide fade" id="quitacaoTitulosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"><strong>Quitação de Titulos</strong></h4>
            </div>
            <div class="modal-body row">

                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="table-responsive">
                            <div role="content" class="smart-form text-left" id="viewPagamento">
                                <form method="post" action="#" >
                                    <fieldset>
                                        <div class="row" style="margin: 10px;">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr colspan="2">
                                                    <th>Acrecimo Manual</th>
                                                    <th>Desconto Manual</th>
                                                    <th>Crédito Fies</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tableAcrescimos">
                                                <tr name="trAcrescimoManual">
                                                    <td>

                                                        <label class=" col-sm-4 input">
                                                            <input data-decimal="," name="valorAcrescimoManual"
                                                                   onkeyup="pagamentoLote.atualizaValorTotal(this)" value="0,00"
                                                                   style="box-sizing:border-box;" type="text"
                                                                   class="form-control input input-sm moeda">
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class='input col-sm-4'>
                                                            <input data-thousands="." data-decimal="," name="valorDescontoManual"
                                                                   onkeyup="pagamentoLote.calculaDescontoManual(this)" value="0,00"
                                                                   style='box-sizing:border-box;' type='text'
                                                                   class='form-control input input-sm moeda'/>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class='input col-sm-4'>
                                                            <input data-thousands="." data-decimal="," name="valorCreditoFies"
                                                                   onkeyup="pagamentoLote.calculaDescontoManual(this)" value="0,00"
                                                                   style='box-sizing:border-box;' type='text'
                                                                   class='form-control input input-sm moeda'/>
                                                        </label>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="margin: 10px;">
                                            <label class="checkbox text-left">
                                                <input type="checkbox" name="isentarJuros">
                                                <i></i>Isentar Juros
                                            </label>
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>N° de titulos</th>
                                                    <th>Total de multa/juros R$</th>
                                                    <th>Total de descontos R$</th>
                                                    <th>Valor a pagar R$</th>
                                                </tr>
                                                </thead>
                                                <tbody id="dadosTitulo">
                                                <tr>
                                                    <td>6</td>
                                                    <td>0,00</td>
                                                    <td>3.090,00</td>
                                                    <td>3.000,00</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row" style="margin: 10px;">

                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Tipo Pagamento</th>
                                                    <th>Valor R$</th>
                                                </tr>
                                                </thead>
                                                <tbody name="tableFormaPagamento">

                                                <tr data-edit="false">
                                                    <td>
                                                        <span name="titpoPagamento">Dinheiro</span>
                                                    </td>

                                                    <td>
                                                        <label class='input col-sm-4'>
                                                            <input data-thousands="." data-decimal="," name="valorTipoPagamento"
                                                                   onkeyup="pagamentoLote.calculaDescontoManual(this)" value="3.000,00"
                                                                   style='box-sizing:border-box;' type='text'
                                                                   class='form-control input input-sm moeda'/>
                                                        </label>
                                                    </td>
                                                    <input type="hidden" name="tituloTipoPagamento[]" value="Dinheiro">
                                                    <input type="hidden" name="valorFormaPagamento[]" value="1073.00">
                                                </tr>

                                                </tbody>
                                            </table>
                                            <div class="row  " style="margin: 0;margin-top: 10px;" name="btAdicionarFormaPagamento">
                                                <div class="col-lg-1">
                                                    <div>
                                                        <a class="btn btn-primary" onclick="pagamentoLote.criaFormaPagamento(this)"
                                                           style="padding:7px;">
                                                            <i class="fa fa-plus"></i> Forma de Pagamento
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div name="divFormaPagamento" style="display: none">
                                            <div class="row">
                                                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                    <label class="label">Tipo Pagamento</label>
                                                    <label class="select">
                                                        <i></i>
                                                        <select name="tipoPagamentoInput" onchange="pagamentoLote.exibeFormTipo(this)">
                                                            <option value="Cheque">Cheque</option>
                                                            <option value="Deposito">Deposito</option>
                                                            <option value="Crédito Fies">Crédito Fies</option>
                                                            <option value="NULL" selected="selected">Selecione</option>
                                                        </select>
                                                    </label>

                                                    <div class="note"></div>
                                                </section>
                                                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                    <label class="label">Valor Total R$</label>
                                                    <label class='input'>
                                                        <input data-thousands="." data-decimal="," name="valorFormaPagamentoInput" style='box-sizing:border-box;' type='text' class='form-control input input-sm moeda'/>
                                                    </label>

                                                    <div class="note"></div>
                                                </section>
                                                <div class="row">

                                                    <section class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:30px;">
                                                        <label class="label">Parcelas:</label>
                                                        <label class="input">
                                                            <input min="1" max="100" type="text" name="pagamentoParcelas" value="1">
                                                        </label>

                                                        <div class="note"></div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div name="tipoCheque" style="display: none">
                                                <input type="hidden" name="chequeIdInput">
                                                <input type="hidden" name="chequeValorUtilizadoInput">
                                                <input type="hidden" name="chequeValorRestanteInput">


                                                <div class="row">
                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">CNPJ/CPF: </label>
                                                        <label class="input">
                                                            <input class="cnpjCpf" type="text" name="chequeCpfCnpj" value="">
                                                        </label>

                                                        <div class="note"></div>
                                                    </section>

                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">Nome Emitente: </label>
                                                        <label class="input">
                                                            <input type="text" name="chequeEmitenteInput" value=""
                                                                   onfocus="pagamentoLote.buscaChequeEuristica()">
                                                        </label>

                                                        <div class="note"></div>
                                                    </section>

                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">Banco</label>
                                                        <label class="select">
                                                            <select name="chequeBancoInput">
                                                                <option value="Banco do Brasil S.A.">Banco do Brasil S.A.</option>
                                                                <option value="Banco do Nordeste do Brasil S.A.">Banco do Nordeste do Brasil S.A.</option>
                                                                <option value="Banco Santander (Brasil) S.A.">Banco Santander (Brasil) S.A.</option>
                                                                <option value="Banco Bradesco BBI S.A.">Banco Bradesco BBI S.A.</option>
                                                                <option value="Caixa Econômica Federal">Caixa Econômica Federal</option>
                                                                <option value="Banco Itaú BBA S.A.">Banco Itaú BBA S.A.</option>
                                                                <option value="Banco Bradesco S.A.">Banco Bradesco S.A.</option>
                                                                <option value="Banco ABC Brasil S.A.">Banco ABC Brasil S.A.</option>
                                                                <option value="Itaú Unibanco S.A.">Itaú Unibanco S.A.</option>
                                                                <option value="Banco Mercantil do Brasil S.A.">Banco Mercantil do Brasil S.A.</option>
                                                                <option value="HSBC Bank Brasil S.A. - Banco Múltiplo">HSBC Bank Brasil S.A. - Banco Múltiplo</option>
                                                                <option value="UNIBANCO - União de Bancos Brasileiros S.A.">UNIBANCO - União de Bancos Brasileiros S.A.</option>
                                                                <option value="SICOOB Credileste">SICOOB Credileste</option>
                                                                <option value="UNICRED">UNICRED</option>
                                                                <option value="NULL" selected="selected">Selecione</option>
                                                            </select>
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">Conta</label>
                                                        <label class="input">
                                                            <input type="text" name="chequeContaInput" value="">
                                                        </label>

                                                    </section>

                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">Agencia</label>
                                                        <label class="input">
                                                            <input type="text" name="chequeAgenciaInput" value="">
                                                        </label>

                                                    </section>

                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">Praça</label>
                                                        <label class="input">
                                                            <input type="text" name="chequePracaInput" value="">
                                                        </label>

                                                    </section>

                                                </div>

                                                <div  name="chequeAddParcela">

                                                    <div class="row">
                                                        <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                            <label class="label">n° cheque 1: </label>
                                                            <label class="input">
                                                                <input type="text" name="chequeNumInput" value="">
                                                            </label>

                                                            <div class="note"></div>
                                                        </section>
                                                        <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                            <label class="label">Data vencimento</label>
                                                            <label class="input">
                                                                <input type="text" name="chequeVencimentoInput"
                                                                       value="<?= date("d/m/Y") ?>"
                                                                       class="placeholder" placeholder="__/__/____">
                                                            </label>
                                                        </section>
                                                        <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                            <label class="label">Valor R$</label>
                                                            <label class='input'>
                                                                <input data-thousands="." data-decimal="," name="valorFormaPagamentoInput" style='box-sizing:border-box;' type='text' class='form-control input input-sm moeda'/>
                                                            </label>

                                                            <div class="note"></div>
                                                        </section>
                                                    </div>

                                                </div>

                                                <div class="row" name="divChequeValorRestante">
                                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                                        <label class="label">Valor Restante cheque R$</label>
                                                        <label class="input">
                                                            <input type="text" name="chequeValorRestanteInputDisabled" value=""
                                                                   class="money" disabled="disabled">
                                                        </label>

                                                        <div class="note"></div>
                                                    </section>
                                                </div>
                                            </div>

                                            <div class="row text-left" style="padding-left:30px;padding-bottom:15px;">
                                                <a class="btn btn-danger" style="padding:7px;"
                                                   onclick="pagamentoLote.limpaFormFormaPagamento()" id="cancelaFormaPagamento">
                                                    <i class="fa fa-remove"></i> Fechar
                                                </a>
                                                <a class="btn btn-primary" style="padding:7px;"
                                                   onclick="pagamentoLote.salvarFormaPagamento()" id="adicionarFormaPagamento">
                                                    <i class="fa fa-plus"></i> Salvar
                                                </a>
                                            </div>
                                        </div>

                                        <div class="row " style="margin: 10px;">

                                            <table class="table table-bordered" style="width: 50%;float: left;">
                                                <thead>
                                                <th class="text-center" colspan="2"><h3>Totalização</h3></th>
                                                </thead>
                                                <tr>

                                                    <td>
                                                        <h3><strong>Total a Pagar R$: </strong></h3>
                                                    </td>
                                                    <td><h3><span style="color: red"> 3.000,00</span></h3></td>
                                                </tr>
                                                <tr>

                                                    <td>
                                                        <h4><strong>Total Pago R$:</strong></h4>
                                                    </td>
                                                    <td name="totalBaseAPagar" data-valbase="3.000,00">
                                                        <h4><span style="color: green"> 3.000,00</span></h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5><strong>Troco R$: </strong></h5>
                                                    </td>
                                                    <td name="totalTroco">
                                                        <h5><span style="color: blue"> 0,00</span></h5>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="row" style="padding-left:30px;padding-right:30px;">
                                            <section class="col-lg-7 col-sm-7 col-xs-7" style="width: 100%;">
                                                <label class="label">Observações:</label>
                                                <label class="textarea">
                                                    <textarea name="tituloObservacoes" wrap="1" rows="5" ></textarea>
                                                </label>

                                                <div class="note"></div>
                                            </section>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">

                    <button type="button" class="btn btn-primary" onclick="pagamentoLote.abreQuitacaotitulosModal()">
                        <i class="fa fa-save"></i>
                        Quitar
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>





<style type="text/css">
    div.DTTT {
        margin: auto;
        float: right;
        margin-bottom: 1em;
    }

    .msg-credito img {
        float: right;
        right: 5px;
        position: relative;
        top: 3px;
    }

    .modal.modal-wide .modal-dialog {
        width: 75%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }


    /* irrelevant styling */

    .modal {
        text-align: center;
    }

    body p {
        max-width: 400px;
        margin: 20px auto;
    }

    #tallModal .modal-body p {
        margin-bottom: 900px
    }
    #viewPagamento th {
        width: 16%;
    }
    #viewPagamento td {
        width: 16%;
    }
</style>


<div id="ajaxLoad"
     style="display:none; height: 100% ;padding-top: 20%; padding-left: 42%;position: absolute; left: 0px;right: 0px;bottom: 0px;top: 0px;background-image: url('<?=$this->basePath()?>/img/preto-transparente.png');background-repeat: repeat;width: 100%;opacity: 1.0;z-index: 9999999;">
    <img src="/img/ajax-loader.gif" class="loader" alt="loader"/>
</div>
