<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-cheque'));
$paramUrl    = array('controller' => 'financeiro-cheque', 'action' => 'add');

if ($this->arrDados['chequeId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['chequeId'];
}

$urlForm                = $this->url('financeiro/default', $paramUrl);
$urlPesquisaBoletoBanco = $this
    ->url('financeiro/default', array('controller' => 'boleto-banco', 'action' => 'search-for-json'));
$urlBuscaCEP            = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlPesquisaPessoa      = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-cheque-add', false, 'App');
?>
<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-cheque-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="chequeId"
                               value="<?php echo $this->arrDados['chequeId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pes">Aluno/Pessoa Responsável Pelo Cheque:</label>
                                <input type="text" name="pes" class="form-control"
                                       placeholder="selecione a pessoa responsável pelo cheque">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="chequeEmitente">Nome do Emitente:</label>
                                <input type="text" name="chequeEmitente" class="form-control"
                                       placeholder="Emitente" maxlength="255"
                                       value="<?php echo $this->arrDados['chequeEmitente']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="chequeBanco">Banco:</label>
                                <input type="text" name="chequeBanco" class="form-control"
                                       placeholder="Banco" maxlength="45" autocomplete="off"
                                       value="<?php echo $this->arrDados['chequeBanco']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="chequeAgencia">Agência:</label>
                                <input type="text" name="chequeAgencia" class="form-control"
                                       placeholder="Agência" maxlength="45"
                                       value="<?php echo $this->arrDados['chequeAgencia']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="chequeConta">Conta:</label>
                                <input type="text" name="chequeConta" class="form-control"
                                       placeholder="Conta" maxlength="45"
                                       value="<?php echo $this->arrDados['chequeConta']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="chequeNum">Número:</label>
                                <input type="text" name="chequeNum" class="form-control"
                                       placeholder="Número" maxlength="45"
                                       value="<?php echo $this->arrDados['chequeNum']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="chequePraca">Praça:</label>
                                <input type="text" name="chequePraca" class="form-control"
                                       placeholder="Praça" maxlength="45"
                                       value="<?php echo $this->arrDados['chequePraca']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="chequeEmissao">Emissão:</label>
                                <input type="text" name="chequeEmissao" class="form-control"
                                       placeholder="Emissão" value="<?php echo $this->arrDados['chequeEmissao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="chequeVencimento">Vencimento:</label>
                                <input type="text" name="chequeVencimento" class="form-control"
                                       placeholder="Vencimento"
                                       value="<?php echo $this->arrDados['chequeVencimento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="chequeValor">Valor:</label>
                                <input type="text" name="chequeValor" class="form-control"
                                       placeholder="Valor" maxlength="10"
                                       value="<?php echo $this->arrDados['chequeValor']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-23">
                            <div class="form-group">
                                <label for="chequeObservacao">Observações:</label>
                                <textarea name="chequeObservacao" class="form-control"
                                          placeholder="Observações sobre o cheque"
                                          rows="5"><?php echo $this->arrDados['chequeObservacao']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-editar" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php
                echo $this->partial(
                    'pessoa/pessoa/add.phtml',
                    [
                        'arrPesNacionalidade'        => $this->arrPesNacionalidade,
                        'arrPesSexo'                 => $this->arrPesSexo,
                        'arrPesEstadoCivil'          => $this->arrPesEstadoCivil,
                        'partial'                    => true,
                        'desativaAutocompletePessoa' => true,
                        'ajaxSubmit'                 => true,
                    ]
                ); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroChequeAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                boletoBanco: '<?=$urlPesquisaBoletoBanco;?>',
                pessoa: '<?=$urlPesquisaPessoa;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>'
            },
            data: {},
            value: {
                pes: <?=json_encode($this->arrDados['pes']);?>
            }
        });
    });
</script>