<?php
$paramUrl = array("controller" => "financeiro-cheque", "action" => "add");

$urlAdd             = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("financeiro/default", $paramUrl);

$paramUrl['action'] = 'retorna-dados-cheque';
$urlInfo            = $this->url("financeiro/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-cheque-index', false, 'App');
?>
<style>
    #modal-financeiro-cheque > .modal-dialog {
        width: 85%;
        height: 70%;
    }
</style>

<?php
$variaveis             = $this->viewModel()->getCurrent()->getVariables();
$variaveis['partial']  = true;
$variaveis['listagem'] = true;
echo $this->partial('financeiro/financeiro-cheque/view.phtml', $variaveis);
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-financeiro-cheque">
                    <table id="dataTableFinanceiroCheque" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Pessoa/Aluno</th>
                            <th>Emitente</th>
                            <th>Banco</th>
                            <th class="text-right">Valor</th>
                            <th title="Usuário de cadastro">Usuário</th>
                            <th>Emissão</th>
                            <th>Compensação</th>
                            <th class="text-right" title="Número de títulos vínculados">Títulos</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-financeiro-cheque-add">
                            Novo Registro
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-cheque-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar cheque</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('financeiro/financeiro-cheque/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroChequeIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                info: '<?php echo $urlInfo;?>'
            },
            value:{
                permissaoAdicionarCheque:'<?= $this->permissaoAdicionarCheque ?>',
                permissaoEditaCheque:'<?= $this->permissaoEditaCheque ?>'
            }
        });
    });
</script>