<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-financeiro-cheque" role="dialog"
     style="width: 100%"
     aria-labelledby="label" aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" class="chequeId hidden">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="row">
                    <form id="form-financeiro-cheque" novalidate="novalidate" method="get"
                          enctype="multipart/form-data">
                        <fieldset>
                            <legend>
                                <b>Informações Bancárias</b>
                            </legend>
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Aluno/Pessoa Responsável Pelo Cheque:</label>

                                                    <p class="form-control-static " id="chequePes-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Banco:</label>

                                                    <p class="form-control-static"
                                                       id="banco-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <label>Agência:</label>

                                                    <p class="form-control-static" id="agencia-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <label>Conta:</label>

                                                    <p class="form-control-static " id="conta-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <label>Número:</label>

                                                    <p class="form-control-static" id="numero-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="form-group">
                                                    <label>Valor do Cheque:</label>

                                                    <p class="form-control-static" id="chequeValor-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>Data de Emissão:</label>

                                                    <p class="form-control-static " id="dataEmissao-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>Data de Compensação:</label>

                                                    <p class="form-control-static " id="dataVencimento-static">-</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Emitente:</label>

                                                    <p class="form-control-static " id="emitente-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Praça:</label>

                                                    <p class="form-control-static" id="praca-static">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>Usuario de Cadastro:</label>

                                                    <p class="form-control-static " id="usarioCadastro-static">-</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label><span><button type="button" class="btn btn-xs btn-primary btn-edita-observacao" title="Editar observação cheque">
                                                    <i class="fa fa-pencil fa-inverse"></i></button>
                                                    </span>Observações:</label>

                                                <p class="form-control-static " id="chequeObservacao-static">-</p>

                                                <div class="edicaoObservacao hidden">
                                                    <textarea name="chequeObservacao" id="chequeObservacao"
                                                              class="form-control">
                                                </textarea>
                                                    <div class="text-center">
                                                        <button type="button" id="salvarObsevacao" class="btn btn-primary">
                                                            <i class="fa fa-save"></i>
                                                            Salvar
                                                        </button>
                                                        <button type="button" id="cancelarEdicaoObservacao" class="btn btn-danger">
                                                            <i class="fa fa-cancel"></i>
                                                            Cancelar
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><b>Títulos Vinculados</b></legend>

                            <div class="widget-body" id="container-financeiro-cheque-informacoes">
                                <table id="dataTableFinanceiroChequeInformacoes"
                                       class="table table-striped table-bordered table-hover"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th style="width: 30%">Aluno</th>
                                        <th style="width: 5%">Título</th>
                                        <th style="width: 30%">Descrição</th>
                                        <th style="width: 10%" class="text-right" title="Valor do título">Valor</th>
                                        <th style="width: 10%" class="text-right" title="Valor utilizado do cheque">
                                            Valor Utilizado
                                        </th>
                                        <th style="width: 15%" title="Usuário de Cadastro">Usuário</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                    <tr>
                                        <td id="dataTableFinanceiroTituloTotais" colspan="6"
                                            class="text-right" style="display: none;"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>