<?php
$urlSearch = $this
    ->url('aluno/default', array('controller' => 'financeiro', 'action' => 'search'));

$urlBoletoExibe = $this
    ->url('boleto-bancario/default', array('controller' => 'boleto', 'action' => 'exibe'));

$urlPagseguroCobranca = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo', 'action' => 'pagseguro-cobranca'));

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('aluno-financeiro', false, 'App');
?>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    Financeiro
                </h1>

                <p class="turma-name text-subhead text-white">
                    Títulos
                </p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Aluno</span>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-section">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina - Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?= $this->disciplinas()->mountLiDisciplinas(); ?>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="tabbable tabs-blocks">

                    <!-- Tabs -->
                    <ul class="nav nav-tabs" tabindex="4" style="overflow: hidden; outline: none;">
                        <li class="active"><a href="#blocks-home-1" data-toggle="tab" aria-expanded="true"
                                              onclick="buscaFrequenciaPorDisciplina()"><i
                                    class="fa fa-calendar"></i> Todos os títulos</a></li>
                    </ul>
                    <!-- // END Tabs -->

                    <!-- Panes -->
                    <div class="tab-content">
                        <div class="page-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tabbable tabs-blocks">
                                        <table id="dataTablesFinanceiro" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Descrição</th>
                                                <th>Valor Bruto</th>
                                                <th>Vencimento</th>
                                                <th>Data Baixa</th>
                                                <th>Valor Pago</th>
                                                <th>Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // END Panes -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.pesquisaTitulos = '<?= $urlSearch ?>';
    window.boletoExibe = '<?= $urlBoletoExibe ?>';
    window.pagseguroCobranca = '<?= $urlPagseguroCobranca ?>';
</script>
