<?php
$urlSearch       = $this
    ->url('financeiro/default', array('controller' => 'financeiro-pessoa', 'action' => 'boletos-aluno-table'));
$urlCampusCurso  = $this
    ->url('matricula/default', array('controller' => 'campusCurso', 'action' => 'search-for-json'));
$urlCampus       = $this
    ->url('organizacao/default', array('controller' => 'orgCampus', 'action' => 'search-for-json'));
$urlCurso        = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));
$urlPeriodo      = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlTurma        = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json'));
$urlBoletosAluno = $this
    ->url('boleto-bancario/default', array('controller' => 'boleto', 'action' => 'exibe-multiplos-boletos'));
$urlTipoTitulo   = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('boletos-aluno', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend>Filtros Acadêmicos:</legend>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="perId">Período Letivo:</label>
                                                <input name="perId" id="perId"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="campusCurso">Campus:</label>
                                                <input name="campusCurso" id="campusCurso"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="cursoId">Curso:</label>
                                                <input name="cursoId" id="cursoId"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="turmaId">Turma:</label>
                                                <input type="text" name="turmaId" id="turmaId"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="situacao">Situação:</label>
                                                <input type="text" name="situacao" id="situacao"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Filtros Financeiros:</legend>
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <legend>Tipo do título:</legend>

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="tituloTipo">Tipo:</label>
                                                    <input type="text" name="tituloTipo" id="tituloTipo"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-6">
                                        <fieldset>
                                            <legend>Data de Vencimento</legend>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="vencTituloInicial">Inicial:</label>
                                                    <input type="text" name="vencTituloInicial" id="vencTituloInicial"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="vencTituloFinal">Final:</label>
                                                    <input type="text" name="vencTituloFinal" id="vencTituloFinal"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary"
                                            id="alunosFiltroExecutar">
                                        <i class="fa fa-search"></i>
                                        Filtrar resultados
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            id="alunosFiltroLimpar">
                                        <i class="fa fa-clear"></i>
                                        Limpar filtros
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 pai">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#boletosSelecionados" aria-controls="boletosSelecionados" role="tab"
                                       data-toggle="tab">
                                        Boletos selecionados
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#boletosRemovidos" aria-controls="boletosRemovidos" role="tab"
                                       data-toggle="tab">
                                        Boletos Removidos
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane row active" id="boletosSelecionados">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="table table-striped table-bordered table-hover" width="100%"
                                               id="dataTableAlunoBoleto">
                                            <thead>
                                            <tr>
                                                <th width="14%">Boleto</th>
                                                <th width="14%">Matricula</th>
                                                <th width="30%">Nome</th>
                                                <th width="14%">Tipo título</th>
                                                <th width="9%">Valor Bruto</th>
                                                <th width="14%">Vencimento</th>
                                                <th width="5%"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <footer class="text-center">
                                            <button type="button" class="btn btn-primary"
                                                    id="gerarBoletos">
                                                <i class="fa fa-print"></i>
                                                Gerar Boletos
                                            </button>
                                        </footer>
                                    </div>
                                </div>
                                <div class="tab-pane row" id="boletosRemovidos">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="table table-striped table-bordered table-hover" width="100%"
                                               id="dataTableAlunoBoletoRemovidos">
                                            <thead>
                                            <tr>
                                                <th width="14%">Boleto</th>
                                                <th width="14%">Matricula</th>
                                                <th width="30%">Nome</th>
                                                <th width="14%">Tipo título</th>
                                                <th width="9%">Valor Bruto</th>
                                                <th width="14%">Vencimento</th>
                                                <th width="5%"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <footer class="text-center">
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.boletosAluno({
            url: {
                search: '<?php echo $urlSearch;?>',
                campusCurso: '<?php echo $urlCampusCurso;?>',
                campus: '<?php echo $urlCampus;?>',
                curso: '<?php echo $urlCurso;?>',
                periodo: '<?php echo $urlPeriodo;?>',
                turma: '<?=$urlTurma;?>',
                exibeBoletos: '<?=$urlBoletosAluno;?>',
                financeiroTipoTitulo: '<?=$urlTipoTitulo;?>'
            },
            data: {
                arrSituacao: <?=json_encode($this->arrSituacao);?>
            },
            value: {
                dataAtual:<?= json_encode((new \DateTime())->format("d/m/Y"));?>
            }
        });
    });
</script>