<?php

$urlAction     = $this
    ->url('financeiro/default', array('controller' => 'relatorio', 'action' => 'comissao-agentes'));
$urlListagem   = $this
    ->url('financeiro/default', array('controller' => 'relatorio'));
$urlTipoTitulo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlAgente     = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlNivelEnsino = $this
    ->url('matricula/default', array('controller' => 'acad-nivel', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('relatorio-comissao-agentes', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlAction ?>" method="post" target="_blank">
                        <h4>Relatório de apuração de comissão de agentes</h4>

                        <fieldset>
                            <legend>Filtros:</legend>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="agente">Agente:</label>
                                    <input name="agente" id="agente" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="relatorioTipo">Tipo Relatório:</label>
                                    <input name="relatorioTipo" id="relatorioTipo" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="nivelEnsino">Nível de Ensino:</label>
                                    <input name="nivelEnsino" id="nivelEnsino" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="tipoTitulo">Tipo de Título:</label>
                                    <input name="tipoTitulo" id="tipoTitulo" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="dataInicio">Data Inícial:</label>
                                    <input name="dataInicio" id="dataInicio" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="dataFinal">Data Final:</label>
                                    <input name="dataFinal" id="dataFinal" class="form-control">
                                </div>
                            </div>
                        </fieldset>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary" id="gerar">
                                    <i class="fa fa-gear"></i>
                                    Gerar relatório de comissão de agentes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.relatorioComissaoAgente({
            url: {
                financeiroTituloTipo: '<?=$urlTipoTitulo;?>',
                orgAgenteEducacional: '<?=$urlAgente;?>',
                nivelEnsino: '<?=$urlNivelEnsino;?>'
            }
        });
    });
</script>