<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 160px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px text-align : center;
    }

    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: -200px;
        right: 0px;
        height: 150px;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }

    .com {
        border: 1px solid black;
    }

    .tdHeaderInfo {
        border-bottom: 1px solid black;
    }

    .trContent {
        border-right: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

</style>
<div id="footer">
    <hr>
    <p style="text-align: center">
        <?php
        echo $this->iesFantasia . ' - ' . $this->endereco;
        echo '<br> Tel.: ' . $this->iesTelefone . ' - ' . $this->campSite;
        ?>
    </p>

    <p style="text-align: right"><b>Versa Tecnologia\Universa</b></p>
</div>
<table id="header">
    <tr>
        <td width="30%" valign="top">
            <?= ($this->logo ? '<img src="' . $this->logo . '" width="180px"/>' : '') ?>
        </td>
        <td width="70%" valign="center" style="text-align: center">
                <span>
                    <p>
                        <p><?= ($this->mantenedora) ?></p>
                        <p><?= ($this->ies) ?></p>
                        <b><?= ($this->cnpj) ?></b>
                    </p>
                </span>
            </span>
                <span>
                    <p>
                        <b>COMPROVANTE DE PAGAMENTO DE IMPOSTO DE RENDA NA FONTE</b>
                    </p>
                </span>
        </td>
    </tr>
</table>
<hr>

<?php if (!$this->alunos) { ?>
    <p><b>ALUNO NÃO ENCONTRADO OU SEM TITULOS PAGOS PARA A DATA INFORMADA</b></p>
<?php } else { ?>
    <?php $pag = count($this->alunos);
    $pos       = 0;
    do {
        ?>
        <p style="text-align: center; text-transform: uppercase; height: 50px"><b><?= $this->cidade ?>
                , <?= $this->data[0] ?> DE <?= $this->mesBase ?> DE <?= $this->data[2] ?></b></p>
        <body>
        <p style="height: 150px; text-align: justify"> &nbsp; &nbsp; &nbsp; &nbsp;Declaramos para os devidos fins de
            comprovação junto a Receita Federal que, <b><span
                    style="text-transform: capitalize"> <?= $this->alunos[$pos]['pes_nome'] ?></span></b>, portador do
            <b><?= $this->alunos[$pos]['pes_tipo']=='Fisica'? "CPF: ".$this->alunos[$pos]['pes_cpf']:"CNPJ: ".$this->alunos[$pos]['pes_cpf'] ?></b>,
            aluno(a) nesta Instituição de Ensino, pagou a importância de R$
            <b><?= $this->alunos[$pos]['totalFormatado'] . '&nbsp;( ' . $this->alunos[$pos]['valorExtenso'] . ' )' ?></b>,
            no ano de
            <b><?= $this->ano ?>.</b>
        </p><br><br><br>

        <p style="text-align: center;height: 10px"><b>____________________________________________________________________________</b>
        </p>

        <p style="text-align: center">Tesoureiro/Diretor Financeiro</p></br></br>
        </body>

        <?php
        $pag--;
        $pos++;
        if ($pag > 0) {
            ?>
            <p style="page-break-before: always;"></p>
        <?php }
    } while ($pag > 0);
} ?>

</html>