<?php

$urlPessoa = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('componente', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('comprovante-renda', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form id="comprovante-renda-form" action="<?= $urlAction ?>" method="post" target="_blank">
                        <h4><b>IMPRESSÃO DE COMPROVANTE DE RENDA:</h4>

                        <section class="col-lg-4 col-sm-4 col-xs-4" hidden="hidden">
                            <input type="text" id="date-now" value="<?= $this->data ?>" hidden="hidden">
                        </section>

                        <legend></legend>

                        <fieldset>
                            <div class="col-sm-3"></div>

                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label for="pesId">Nome da pessoa:</label>
                                    <input name="pesId" id="pesId" class="form-control"
                                           data-validations="Integer" required>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="anoBase">Ano Base:</label>
                                    <input name="anoBase" id="anoBase" class="form-control" maxlength="4" required>
                                </div>
                            </div>

                        </fieldset>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?= $this->basePath() ?>/financeiro/relatorio" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary" id="titulos">Gerar Comprovante</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.comprovanteRenda({
            url: {
                pessoa: '<?php echo $urlPessoa; ?>'
            },
            value: {}
        });
    });
</script>