<?php

$urlAction      = $this->url("financeiro/default", array("controller" => "financeiro-titulo", "action" => ""));
$urlCampusCurso = $this->url(
    "matricula/default",
    array("controller" => "campus-curso", "action" => "search-for-json")
);

$urlResponsavelPagamento = $this->url(
    "acesso/default",
    array("controller" => "acesso-pessoas", "action" => "search-for-json")
);

$urlMeioPagamento = $this->url(
    "financeiro/default",
    array("controller" => "financeiro-meio-pagamento", "action" => "search-for-json")
);
$urlTipoTitulo    = $this->url(
    "financeiro/default",
    array("controller" => "financeiro-titulo-tipo", "action" => "search-for-json")
);

$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('componente', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('fechamento-caixa', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form id="fechamento-caixa-form" novalidate="novalidate" method="post" target="_blank">
                        <fieldset>
                            <legend>Selecione os filtros</legend>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="campusCurso">
                                        Campus/Curso:
                                    </label>
                                    <label for="campusCurso-filtro">
                                        <input name="campusCurso-filtro" type="radio" value="IN" checked>Incluir na
                                        busca
                                        <input name="campusCurso-filtro" type="radio" value="NOT IN">Excluir na busca
                                    </label>
                                    <input type="text" name="campusCurso" id="campusCurso"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pagamentoUsuario">
                                        Atendente:
                                    </label>
                                    <label for="pagamentoUsuario-filtro">
                                        <input name="pagamentoUsuario-filtro" type="radio" value="IN" checked>Incluir na
                                        busca
                                        <input name="pagamentoUsuario-filtro" type="radio" value="NOT IN">Excluir na
                                        busca
                                    </label>
                                    <input type="text" name="pagamentoUsuario" id="pagamentoUsuario"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="tipoTitulo">
                                        Tipo de Título:
                                    </label>
                                    <label for="tipoTitulo-filtro">
                                        <input name="tipoTitulo-filtro" type="radio" value="IN" checked>Incluir na busca
                                        <input name="tipoTitulo-filtro" type="radio" value="NOT IN">Excluir na busca
                                    </label>
                                    <input type="text" name="tipoTitulo" id="tipoTitulo"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="meioPagamento">
                                        Meio de Pagamento:
                                    </label>
                                    <label for="meioPagamento-filtro">
                                        <input name="meioPagamento-filtro" type="radio" value="IN" checked>Incluir na
                                        busca
                                        <input name="meioPagamento-filtro" type="radio" value="NOT IN">Excluir na busca
                                    </label>
                                    <input type="text" name="meioPagamento" id="meioPagamento"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="tipoRelatorio">Tipo de Relatório:</label>
                                    <input type="text" name="tipoRelatorio" id="tipoRelatorio"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="dataInicial">Data Inicial:</label>
                                    <input type="text" name="dataInicial" id="dataInicial"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="dataFinal">Data Final:</label>
                                    <input type="text" name="dataFinal" id="dataFinal"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <br>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Gerar Relatório
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.fechamentoCaixa({
            url: {
                campusCurso: '<?php echo $urlCampusCurso; ?>',
                responsavelPagamento: '<?php echo $urlResponsavelPagamento; ?>',
                meioPagamento: '<?php echo $urlMeioPagamento; ?>',
                tipoTitulo: '<?php echo $urlTipoTitulo; ?>'
            },
            value: {
                gruposNaListagemUsarios: '<?=$this->gruposNaListagemUsarios;?>'
            }
        });
    });
</script>