<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <p>Selecione o relatório desejado:</p>

                    <div class="list-group">
                        <?php
                        foreach ($this->relatorios as $action => $descricao) {
                            $urlRelatorio = $this->url(
                                'financeiro/default',
                                array('controller' => 'relatorio', 'action' => $action)
                            );
                            echo '<a href="' . $urlRelatorio . '" class="list-group-item">' .
                                '<i class="fa pull-right fa-arrow-right"></i>' .
                                $descricao .
                                '</a>';
                        }

                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>