<?php
$urlRelatorios                        = $this
    ->url('financeiro/default', array('controller' => 'relatorio'));
$urlRelatorioDesconto                 = $this
    ->url('financeiro/default', array('controller' => 'relatorio', 'action' => 'relatorio-desconto'));
$urlPesquisaAcadgeralAreaConhecimento = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));
$urlPesquisaOrgCampus                 = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));
$urlPesquisaAcadCurso                 = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo      = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaPessoa                    = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlAcessoPessoas                     = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlAcadPeriodoLetivo                 = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlTurmaAluno                        = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json'));
$urlDescontoTipo                      = $this
    ->url('financeiro/default', array('controller' => 'financeiro-desconto-tipo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('relatorio-desconto', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlRelatorioDesconto; ?>" id="relatorio-desconto-form" method="post"
                          target="_blank">
                        <h4>Relatório de Descontos</h4>

                        <div class="col-sm-12">
                            <label>Modelo de informação</label>
                            <input name="tipoRelatorio" id="tipoRelatorio" class="form-control">
                        </div>


                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Acadêmico:</legend>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="areaId">Área de conhecimento:</label>
                                        <input name="areaId" id="areaId" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="campusCurso">Câmpus:</label>
                                        <input name="campusCurso" id="campusCurso" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="curso">Curso:</label>
                                        <input name="curso" id="curso" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="periodoLetivo">Período Letivo:</label>
                                        <input name="periodoLetivo" id="periodoLetivo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="turma">Turma:</label>
                                        <input name="turma" id="turma" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Informações dos Títulos</legend>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="tipoTitulo">Tipo Título:</label>
                                        <input name="tipoTitulo" id="tipoTitulo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="estadoTitulo">Título Estado:</label>
                                        <input name="estadoTitulo" id="estadoTitulo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <fieldset>
                                        <legend>Data de Vencimento:</legend>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="vencimentoInicial">Início:</label>
                                                <input name="vencimentoInicial" id="vencimentoInicial"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="vencimentoFim">Fim:</label>
                                                <input name="vencimentoFim" id="vencimentoFim" class="form-control">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Informações do Desconto</legend>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="tiposDesconto">Tipo de Desconto:</label>
                                        <input name="tiposDesconto" id="tiposDesconto" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="estadoDesconto">Situação do Desconto:</label>
                                        <input name="estadoDesconto" id="estadoDesconto" class="form-control"
                                               placeholder="Situação do Desconto">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="situacaoDesconto">Situação do Desconto no Título:</label>
                                        <input name="situacaoDesconto" id="situacaoDesconto" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="usuarioDesconto">Operador de Criação:</label>
                                        <input name="usuarioDesconto" id="usuarioDesconto" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <fieldset>
                                        <legend>Percentual de Desconto</legend>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="percentualInicial">Inicial:</label>
                                                <input type="number"
                                                       min="0"
                                                       name="percentualInicial" id="percentualInicial" class="form-control"
                                                       placeholder="Mínimo">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="percentualFinal">Final:</label>
                                                <input type="number"
                                                       min="0"
                                                       name="percentualFinal" id="percentualFinal" class="form-control"
                                                       placeholder="Máximo">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <a href="<?= $urlRelatorios; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para relatórios
                                    </a>
                                    <button type="button" class="btn btn-default" id="limpar">
                                        <i></i>
                                        Limpar Filtros
                                    </button>
                                    <button type="submit" class="btn btn-primary" name="tipo" value="PDF"
                                            id="gerar-pdf">
                                        <i class="fa fa-file-pdf-o"></i>
                                        Gerar PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.relatorioDesconto({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                acadgeralAreaConhecimento: '<?=$urlPesquisaAcadgeralAreaConhecimento;?>',
                acadCurso: '<?=$urlPesquisaAcadCurso;?>',
                orgCampus: '<?=$urlPesquisaOrgCampus;?>',
                acessoPessoas: '<?=$urlAcessoPessoas;?>',
                acadPeriodoLetivo: '<?=$urlAcadPeriodoLetivo;?>',
                turmaAluno: '<?=$urlTurmaAluno;?>',
                descontoTipo: '<?=$urlDescontoTipo;?>'
            },
            data: {
                arrTituloEstado: <?= json_encode($this->arrTituloEstado);?>,
                arrDescontoSituacao: <?= json_encode($this->arrDescontoSituacao);?>,
                arrPeriodoAtual: <?= json_encode($this->arrPeriodoAtual);?>,
                pessoaLogada: <?= json_encode($this->pessoaLogada);?>
            },
            value: {
                dataAtual: <?= json_encode($this->dataAtual);?>,
                grupoUsuariosFiltro: <?= json_encode($this->grupoUsuariosFiltro);?>
            }
        });
    });
</script>