<head>
    <meta charset="utf-8">
    <style>
        body, p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }

        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<?php $dataAtual = new \DateTime('now', new \DateTimeZone('America/Sao_Paulo')); ?>
<div>
    ---------------------------------------------
</div>
<p style="text-align: left;">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>

<p>
    &nbsp;ESPELHO DO MOVIMENTO DE CAIXA
</p>

<p>
    &nbsp;&nbsp;Data Atual: <?= $dataAtual->format("d/m/Y"); ?>
    &nbsp;&nbsp;Hora: <?= $dataAtual->format("h:i:s"); ?> <br>
    &nbsp;&nbsp;Atendente.: <?= $this->responsavel; ?> <br>
    &nbsp;&nbsp;Curso.............: <?= $this->curso; ?> <br>
    &nbsp;&nbsp;Tipo de Titulo..: <?= $this->tipoTitulo; ?> <br>
    &nbsp;&nbsp;Meio de Pagamento..: <?= $this->meioPagamento; ?> <br>
    &nbsp;&nbsp;Inicio.: <?= $this->dataIni; ?> Final.: <?= $this->dataFim; ?>
</p>

<?php
//ESSE LAÇO PERCORRE OS CURSOS
foreach ($this->informacaoPorCursoEMeioDePagamento as $cursoId => $arrPorCurso) {
    echo '<strong>';
    echo '<br>' . $this->informacaoPorCurso[$cursoId]['nome'];
    echo '</strong>';

    //ESSE LAÇO PERCORRE OS MEIOS DE PAGAMENTO DE CADA CURSO
    foreach ($arrPorCurso as $meioDePagamentoId => $arrPorCursoEMeioDePagamento) {
        echo '<br>';
        echo str_pad($arrPorCursoEMeioDePagamento['nome'], 25, '.', STR_PAD_RIGHT) . ':&nbsp;'
            . number_format($arrPorCursoEMeioDePagamento['totais']['titulo_valor_pago'], 2, ',', '.');
    }

    echo '<br><strong>Total Curso</strong>...................: ' .
        number_format($this->informacaoPorCurso[$cursoId]['totais']['titulo_valor_pago'], 2, ',', '.');

    echo '<div>---------------------------------------------</div>';
}

echo '<div><strong>Totalizador</strong></div>';

echo '<p>';
echo '&nbsp;&nbsp;Total.............................: ' .
    number_format($this->informacaoGeral['totais']['titulo_valor_pago'], 2, ',', '.') . '</br>';
echo '</p>';
echo '<div>---------------------------------------------</div>';

?>
</body>