<head>
    <meta charset="utf-8">
    <style>
        body, p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }

        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<?php $dataAtual = new \DateTime('now', new \DateTimeZone('America/Sao_Paulo')); ?>
<div>
    ---------------------------------------------
</div>
<p style="text-align: left;">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>

<p>
    &nbsp;ESPELHO DO MOVIMENTO DE CAIXA
</p>

<p>
    &nbsp;&nbsp;Data Atual: <?= $dataAtual->format("d/m/Y"); ?>
    &nbsp;&nbsp;Hora: <?= $dataAtual->format("h:i:s"); ?><br>
    &nbsp;&nbsp;Atendente.: <?= $this->responsavel; ?> <br>
    &nbsp;&nbsp;Curso.............: <?= $this->curso; ?> <br>
    &nbsp;&nbsp;Tipo de Titulo..: <?= $this->tipoTitulo; ?> <br>
    &nbsp;&nbsp;Meio de Pagamento..: <?= $this->meioPagamento; ?> <br>
    &nbsp;&nbsp;Inicio.: <?= $this->dataIni; ?> Final.: <?= $this->dataFim; ?>
</p>
<?php
//ESSE LAÇO PERCORRE OS CURSOS
foreach ($this->informacaoPorCursoEMeioDePagamento as $cursoId => $arrPorCurso) {
    echo '<br>&nbsp;&nbsp;<strong>' . strtoupper($this->informacaoPorCurso[$cursoId]['nome']) . '</strong>';
    echo '<br><div>---------------------------------------------</div>';

    //ESSE LAÇO PERCORRE OS MEIOS DE PAGAMENTO DE CADA CURSO
    foreach ($arrPorCurso as $meioDePagamentoId => $arrPorCursoEMeioDePagamento) {
        echo '&nbsp;&nbsp;<strong>' . $arrPorCursoEMeioDePagamento['nome'] .'</strong><br>';

        foreach ($arrPorCursoEMeioDePagamento['titulos'] as $titulo) {
            echo '&nbsp;&nbsp;&nbsp;' . $titulo['titulo_data_pagamento'] .' '.
                $titulo['alunocurso_id'] .' '.
                number_format($titulo['pagamento_valor_final'],2,',','.') . '<br>';
        }

        echo '&nbsp;&nbsp;<strong>Total Líquido:</strong>&nbsp;' .
            number_format($arrPorCursoEMeioDePagamento['totais']['titulo_valor_pago'],2,',','.') .'<br><br>';
    }
}
echo '<div>---------------------------------------------</div>';

echo '<div>Totalizador<br></div>';

echo '<p>';
echo '&nbsp;&nbsp;<b>Total Líquido: ' .
    number_format($this->informacaoGeral['totais']['titulo_valor_pago'], 2, ',', '.') . '</b></br>';
echo '&nbsp;&nbsp;<b>Total de Titulos: ' .
    $this->informacaoGeral['totais']['titulos'] . '</b></br>';
echo '</p>';
echo '<div>---------------------------------------------</div>';

?>
</body>