<?php
$urlRelatorios                        = $this
    ->url('financeiro/default', array('controller' => 'relatorio'));
$urlRelatorioSintetico                = $this
    ->url('financeiro/default', array('controller' => 'relatorio', 'action' => 'sintetico'));
$urlPesquisaFinanceiroTituloTipo      = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaPessoa                    = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAreaConhecimento = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));
$urlPesquisaAcadCurso                 = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));
$urlPesquisaOrgCampus                 = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));
$urlPesquisaOrgAgenteEducacional      = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlAcessoPessoas                     = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlMeioPagamento                     = $this
    ->url('financeiro/default', array('controller' => 'financeiro-meio-pagamento', 'action' => 'search-for-json'));
$urlPeriodoLetivo                     = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlTurma                             = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'search-for-json'));
$urlNivel                             = $this
    ->url('matricula/default', array('controller' => 'acad-nivel', 'action' => 'search-for-json'));
$urlUnidade                           = $this
    ->url('organizacao/default', array('controller' => 'org-unidade-estudo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('relatorio-sintetico', false, 'App');
?>
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlRelatorioSintetico; ?>" id="relatorio-sintetico-form" method="post"
                          target="_blank">
                        <h4>Relação Financeiro Sintético</h4>

                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="tipoRelatorio">Modelo de informação:</label>
                                    <input name="tipoRelatorio" id="tipoRelatorio" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Acadêmico:</legend>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="areaId">Área de conhecimento:</label>
                                        <input name="areaId" id="areaId" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nivelEnsino">Nível de Ensino:</label>
                                        <input name="nivelEnsino" id="nivelEnsino" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="campId">Câmpus:</label>
                                        <input name="campId" id="campId" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="unidadeId">Unidade:</label>
                                        <input name="unidadeId" id="unidadeId" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cursoId">Curso:</label>
                                        <input name="cursoId" id="cursoId" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usuarioCadastroAluno">Operador Cadastro Aluno:</label><br>
                                    <input type="text" name="usuarioCadastroAluno" id="usuarioCadastroAluno"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pesIdAgente">Agente Educacional:</label>
                                    <label>
                                        <input type="radio" name="agentesOpcao" value="incluirAgente" checked>
                                        Incluir na busca &nbsp;
                                    </label>
                                    <label>
                                        <input type="radio" name="agentesOpcao" value="excluirAgente">
                                        Excluir na busca
                                    </label>
                                    <input type="text" name="pesIdAgente" id="pesIdAgente" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="periodoLetivo">Período Letivo:</label><br>
                                    <input type="text" name="periodoLetivo" id="periodoLetivo"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="situacaoalunoPeriodoLetivo">Situação do Aluno no Período
                                        Letivo:</label><br>
                                    <input type="text" name="situacaoalunoPeriodoLetivo" id="situacaoalunoPeriodoLetivo"
                                           class="form-control" placeholder="Situação do Aluno no Período
                                        Letivo">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="alunosTurma">Turma:</label><br>
                                    <input type="text" name="alunosTurma" id="alunosTurma"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Filtros:</legend>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="tituloParcela">Parcela:</label>
                                        <label>
                                            <input type="radio" name="parcela" value="incluirParcela" checked>
                                            Incluir na busca &nbsp;
                                        </label>
                                        <label>
                                            <input type="radio" name="parcela" value="excluirParcela">
                                            Excluir na busca &nbsp;
                                        </label>
                                        <input name="tituloParcela" id="tituloParcela" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="tipotituloId">Tipo de Título:</label>
                                        <input name="tipotituloId" id="tipotituloId" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="meioDePagamento">Meio de Pagamento: </label>
                                    <label>
                                        <input type="radio" name="meioPag" value="incluirMeioPag" checked>
                                        Incluir na busca &nbsp;
                                    </label>
                                    <label>
                                        <input type="radio" name="meioPag" value="excluirMeioPag">
                                        Excluir na busca
                                    </label>
                                    <input name="meioDePagamento" id="meioDePagamento" class="form-control">
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="tituloEstado">Estado:</label>
                                        <input name="tituloEstado" id="tituloEstado" class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <legend>Responsável:</legend>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="usuarioAutor">Operador Criação:</label><br>
                                        <input type="text" name="usuarioAutor" id="usuarioAutor"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="usuarioBaixa">Operador Baixa/Alteração:</label><br>
                                        <input type="text" name="usuarioBaixa" id="usuarioBaixa"
                                               class="form-control">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <fieldset>
                                    <legend>Data de Emissão:</legend>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataProcessamentoInicio">Início:</label>
                                            <input type="text" name="tituloDataProcessamentoInicio"
                                                   id="tituloDataProcessamentoInicio" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataProcessamentoFim">Fim:</label>
                                            <input type="text" name="tituloDataProcessamentoFim"
                                                   id="tituloDataProcessamentoFim"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset>
                                    <legend>Data de Vencimento:</legend>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataVencimentoInicio">Início:</label>
                                            <input type="text" name="tituloDataVencimentoInicio"
                                                   id="tituloDataVencimentoInicio"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataVencimentoFim">Fim:</label>
                                            <input type="text" name="tituloDataVencimentoFim"
                                                   id="tituloDataVencimentoFim"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset>
                                    <legend>Data de Pagamento:</legend>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataPagamentoInicio">Início:</label>
                                            <input type="text" name="tituloDataPagamentoInicio"
                                                   id="tituloDataPagamentoInicio"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataPagamentoFim">Fim:</label>
                                            <input type="text" name="tituloDataPagamentoFim" id="tituloDataPagamentoFim"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <fieldset>
                                    <legend>Data de Baixa:</legend>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataBaixaInicio">Início:</label>
                                            <input type="text" name="tituloDataBaixaInicio" id="tituloDataBaixaInicio"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tituloDataBaixaFim">Fim:</label>
                                            <input type="text" name="tituloDataBaixaFim" id="tituloDataBaixaFim"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-6">
                                <fieldset>
                                    <legend>Data de Cadastro Aluno:</legend>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="alunoCadastroInicio">Início:</label>
                                            <input type="text" name="alunoCadastroInicio"
                                                   id="alunoCadastroInicio" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="alunoCadastroFim">Fim:</label>
                                            <input type="text" name="alunoCadastroFim"
                                                   id="alunoCadastroFim" class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <a href="<?= $urlRelatorios; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para relatórios
                                    </a>
                                    <button type="button" class="btn btn-default" id="limpar">
                                        <i></i>
                                        Limpar Filtros
                                    </button>
                                    <button type="submit" class="btn btn-primary" name="tipo" value="PDF"
                                            id="gerar-pdf">
                                        <i class="fa fa-file-pdf-o"></i>
                                        Gerar PDF
                                    </button>
                                    <button type="submit" class="btn btn-warning" name="tipo" value="xlsx"
                                            id="gerar-xlsx">
                                        <i class="fa fa-file-pdf-o"></i>
                                        Gerar Excel
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.relatorioSintetico({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                acadgeralAreaConhecimento: '<?=$urlPesquisaAcadgeralAreaConhecimento;?>',
                acadCurso: '<?=$urlPesquisaAcadCurso;?>',
                orgCampus: '<?=$urlPesquisaOrgCampus;?>',
                orgAgenteEducacional: '<?=$urlPesquisaOrgAgenteEducacional;?>',
                acessoPessoas: '<?=$urlAcessoPessoas;?>',
                meioPagamento: '<?=$urlMeioPagamento;?>',
                periodoLetivo: '<?=$urlPeriodoLetivo;?>',
                turmaAlunos: '<?=$urlTurma;?>',
                nivel: '<?=$urlNivel;?>',
                unidade: '<?=$urlUnidade;?>'
            },
            data: {
                arrSituacaoAlunoPeriodo:<?=json_encode($this->arrSituacaoAlunoPeriodo);?>,
                arrRelatorios: <?=json_encode($this->arrRelatorios); ?>,
                arrTituloEstado: <?=json_encode($this->arrTituloEstado); ?>
            }
        });
    });
</script>