<?php

$urlListagem = $this->url('matricula/default', array('controller' => 'acadgeral-disciplina'));
$paramUrl    = array('controller' => 'acadgeral-disciplina', 'action' => 'add');

if ($this->arrDados['discId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['discId'];
}

$urlForm               = $this->url('matricula/default', $paramUrl);

$urlDisciplinaAdd = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-disciplina', 'action' => 'add')
);

$urlPesquisaDisciplinaCursos = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-disciplina-curso', 'action' => 'search-for-json')
);

$urlPesquisaCursos     = $this->url(
    'matricula/default',
    array('controller' => 'acad-curso', 'action' => 'search-for-json')
);

//datatables
$urlDisciplinaCursosDatatables = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-disciplina-curso', 'action' => 'search')
);

$urlDisciplinaCursosEdit = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-disciplina-curso', 'action' => 'edit')
);


$urlDisciplinaCursosAdd = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-disciplina-curso', 'action' => 'add')
);


$urlDisciplinaCursosRemove = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-disciplina-curso', 'action' => 'remove')
);

$urlDisciplinaDocenciaPadrao = $this->url('matricula/default',
    array('controller' => 'acadgeral-docente', 'action' => 'search-for-json'));


$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadgeral-disciplina-add', false, 'App');
?>

<div id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <blockquote>
                        <h1>Cadastro de disciplinas:</h1>
                    </blockquote>
                    <form action="<?php echo $urlForm; ?>" id="acadgeral-disciplina-form" novalidate="novalidate"
                          method="post" enctype="multipart/form-data">
                        <input type="hidden" name="discId" id="discId" value="<?= $this->arrDados['discId']; ?>">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label for="discNome">Nome:</label>
                                    <input placeholder="Informe o nome da disciplina" type="text" name="discNome"
                                           id="discNome" class="form-control" maxlength="128"
                                           value="<?php echo $this->arrDados['discNome']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-6">
                                <div class="form-group">
                                    <label for="discSigla">Sigla:</label>
                                    <input placeholder="Informe uma sigla para disciplina" type="text"
                                           id="discSigla" name='discSigla' class="form-control" maxlength="45"
                                           value="<?= $this->arrDados['discSigla'] ?>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-group">
                                    <label>Docente padrão:</label>
                                    <input placeholder="Informe o docente padrão da disciplina" type="text"
                                           name="docenteRegente" id="doc_padrao" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table id="dataTableAcadgeralDisciplinaCursos"
                                       class="table table-striped table-bordered table-hover nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th width="65%">Curso</th>
                                        <th width="15%">Tipo da disciplina</th>
                                        <th width="5%">Ativa</th>
                                        <th width="15%">Ação</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-sm btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-disc-curso" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">Adicionar cursos a disciplina</h4>
            </div>
            <div class="modal-body floating-label">
                <form id="form-modal" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label>Selecione o Curso:</label>
                                <input placeholder="Curso que será ofertada a disciplina" type="text"
                                       id="cursos" name='curso_id' class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <div class="form-group">
                                <label for="tdiscId">Tipo da Disciplina:</label>

                                <select id="tdiscId" name='tdisc_id' class="form-control">
                                    <option></option>
                                    <?php
                                    $tdiscIdSelected = $this->arrDados['tdiscId'];
                                    if (!$tdiscIdSelected) {
                                        $tdiscIdSelected = $this->arrDefaultValues['tipoDisc'];
                                    }
                                    foreach ($this->arrTdiscId as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $tdiscIdSelected) ? " selected" : "";
                                        echo "<option value='$id' {$selected}> {$descricao} </option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <div class="form-group">
                                <label for='disc_ativo'
                                       style="display: block !important; min-height: 18px;">Ativa:</label>
                                <?php
                                $discAtivoSelected = $this->arrDados['discAtivo'];
                                if (!$discAtivoSelected) {
                                    $discAtivoSelected = $this->arrDefaultValues['ativo'];
                                }
                                foreach ($this->arrDiscAtivo as $value) {
                                    $checked = ($value['id'] == $discAtivoSelected) ? "checked" : "";
                                    ?>
                                    <input type="radio" name='disc_ativo' value="<?= $value['id'] ?>" <?= $checked ?>>
                                    <?= $value['text'] ?>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label for="coRequisito">Correquisito:</label>
                                <input placeholder="Co-requisitos para a disciplina " type="text"
                                       name='disc_co_requisito' id="coRequisito" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label>Pré-Requisito:</label>
                                <input placeholder="Pŕe-requisitos para a disciplina" type="text"
                                       name='disc_pre_requisito' id="preRequisito" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <div class="form-group">
                                <label>Equivalência:</label>
                                <input placeholder="Informe outras disciplinas equivalentes" type="text"
                                       name='disc_equivalencia' id="equivalencia" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-primary" id="btn-enviar-curso">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        var acadDisc = $.acadgeralDisciplinaAdd({
            urlPesquisaCursos: '<?=$urlPesquisaCursos?>',
            urlPesquisaDisciplinaCursos: '<?= $urlPesquisaDisciplinaCursos?>',
            urlPesquisaDisciplinaCursosDatatable: '<?= $urlDisciplinaCursosDatatables?>',
            urlPesquisaDocente: "<?=$urlDisciplinaDocenciaPadrao?>",
            urlDisciplinaAdd: '<?=$urlDisciplinaAdd?>',
            urlDisciplinaCursosEdit: '<?=$urlDisciplinaCursosEdit?>',
            urlDisciplinaCursosAdd: '<?=$urlDisciplinaCursosAdd?>',
            urlDisciplinaCursosRemove: '<?= $urlDisciplinaCursosRemove?>',
            discId: '<?=$this->arrDados['discId']?>',
        });
    });
</script>