<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Cadastro de Caderno de Provas', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag($this->cadernoForm);
echo $this->formRow($this->cadernoForm->get('cadId'));
echo $this->formRow($this->provaEdicaoForm->get('proedicaoId'));
?>
<style>
    .bloco {
        margin-top: 10px;
    }
</style>
<div id="parte1" class="bloco">
    <div class="row">
        <?= $this->spineForm()->formInput($this->provaEdicaoForm->get('edicao'))?>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput($this->cadernoForm->get('cadDescricao'))?>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <fieldset class="row">
                <div class="col-lg-6">
                    <?= $this->spineForm()->formInput($this->provaEdicaoForm->get('prova'))?>
                </div>
                <div class="col-lg-6">
                    <?=$this->spineForm()->formInput($this->provaEdicaoForm->get('provaEstrangeira'))?>
                </div>
            </fieldset>
            <fieldset class="row" style="margin-left: 30px" id="quest">
            </fieldset>
        </div>
        <div class="col-lg-4">
            <section class="col-lg-12 col-sm-12 col-xs-12" style="padding-left:30px;" >
                <label class="label">Cursos</label>
                <div id="cursos">
                </div>
                <div class="note"></div>
            </section>
        </div>
    </div>
</div>
<div id="parte2" class="hidden bloco">
    <div id="tablesGabarito">

    </div>
</div>
<footer>
    <?php
    echo $this->formRow($this->provaEdicaoForm->get('Cadastrar'));
    ?>
    <a class="btn btn-primary pull-right" id="proximo">Cadastrar Gabarito</a>
    <a class="btn btn-primary pull-right hidden" id="voltar">Voltar</a>
</footer>
<?php
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<script>
    /*
    * A variável provas é utilizada para controlar a criação dos formularios de quantidade de questões e ordem.
    * */
    provas = {};

    row = 1;
    provasEstrangeiras = new Array();
    numQuestProvaEstrangeira = 0;

    // É utilizada para calcular o número das questões.
    numUltiQuest = 1;

    arrayProvas = new Array();
    arrayGabarito = new Array();

    estrangeiraSelecionada = 0;
    jQuery(function () {
        // Funções para o botão próximo.
        $('#proximo').click(function () {
            campoVazio = 0;
            $("input[name='ordem[]']").each(function () {
                obrigatorio($(this));
                if($(this).val() == '') {
                    campoVazio = 1;
                }
            });
            $("input[name='quantQuestoes[]']").each(function () {
                obrigatorio($(this));
                if($(this).val() == '') {
                    campoVazio = 1;
                }
            });
            obrigatorio($("input[name='cadDescricao']"));
            if($("input[name='cadDescricao']").val() == ''){
                campoVazio = 1;
            }
            selectObrigatorio($("select[name='edicao']"));
            if($("select[name='edicao']").val() == 'NULL'){
                campoVazio = 1;
            }
            if($("input[name='selcursos[]']:checked").val() == null){
                campoVazio = 1;
                alert("Você deve selecionar pelo menos uma opção de curso.");
            }
            if($("input[name='prova[]']:checked").val() == null){
                campoVazio = 1;
                alert("Para cadastrar um gabarito, você deve selecionar no mínimo uma prova.");
            }

            if (!campoVazio){
                $('#parte1').addClass('hidden');
                $('#proximo').addClass('hidden');
                $('#parte2').removeClass('hidden');
                $('#voltar').removeClass('hidden');
                numUltiQuest = 1;
                geraGabarito();
            }
        });
        // Funções para o botão voltar.
        $('#voltar').click(function () {
            $('#parte2').addClass('hidden');
            $('#voltar').addClass('hidden');
            $('#parte1').removeClass('hidden');
            $('#proximo ').removeClass('hidden');
        });
        $("input[name='prova[]']").click(function () {
            id = this.value;
            texto = $(this).parent().text();
            if(provas[id] == null){
                provas[id] = texto;
                html =
                    "<div class='row' id='"+ id +"'>" +
                    "<section class='col-lg-5'>" +
                    "<label class='label'>Prova</label>"+
                    "<label class='input'>"+
                    "<input type='text' name='provaNome[]' disabled='true' value='"+provas[id]+"'>"+
                    "<input type='hidden' name='procadedicaoId[]' value='"+id+"'>"+
                    "</label>"+
                    "</section>"+
                    "<section class='col-lg-2' style='margin-left: 5px'>"+
                    "<label class='label'>Quantidade de Questões</label>"+
                    "<label class='input'>"+
                    "<input type='text' name='quantQuestoes[]'>" +
                    "<div class='note'></div>"+
                    "</label>"+
                    "</section>"+
                    "<section class='col-lg-1' style='margin-left: 5px'>"+
                    "<label class='label'>Ordem</label>"+
                    "<label class='input'>"+
                    "<input type='text' name='ordem[]' value=''>"+
                    "<div class='note'></div>"+
                    "</label>"+
                    "</section>"+
                    "</div>";
                $("#quest").append(html);

            } else {
                $("#"+id+"").detach();
                provas[id] = null;
            }
            /*
            * A variável cont é utilizada para armazenar a ordem com que o usuário clicou para inserir uma nova prova no caderno.
            * A cada seleção de uma nova prova a ordem sugerida é recalculada.
            * */
            cont = 1;
            $("input[name='ordem[]']").each(function () {
                onlyNumber($(this));// Adicionando o evento que permite apenas a inserção de números.
                this.value = cont;
                cont++;
            });
            $("input[name='quantQuestoes[]']").each(function () {
                onlyNumber($(this));
            });
        });


        $("input[name='provaEstrangeira[]']").click(function () {
            id = this.value;
            texto = $(this).parent().text();
            if(provas[id] == null){
                provas[id] = texto;
                if (estrangeiraSelecionada == 0) {
                    html =
                        "<div class='row' id='"+ id +"'>" +
                        "<section class='col-lg-5'>" +
                        "<label class='label'>Prova</label>"+
                        "<label class='input'>"+
                        "<input type='text' name='provaNome[]' disabled='true' value='Linguas Estrangeiras'>"+
                        "<div id='estrangeirasId'>" +
                        "<input type='hidden' name='estrangeirasId[]' value='"+id+"'>"+
                        "</div>"+
                        "</label>"+
                        "</section>"+
                        "<section class='col-lg-2' style='margin-left: 5px'>"+
                        "<label class='label'>Quantidade de Questões</label>"+
                        "<label class='input'>"+
                        "<input type='text' name='quantQuestoes[]'>" +
                        "<div class='note'></div>"+
                        "</label>"+
                        "</section>"+
                        "<section class='col-lg-1' style='margin-left: 5px'>"+
                        "<label class='label'>Ordem</label>"+
                        "<label class='input'>"+
                        "<input type='text' name='ordem[]' value=''>"+
                        "<div class='note'></div>"+
                        "</label>"+
                        "</section>"+
                        "</div>";
                    $("#quest").append(html);
                    estrangeiraSelecionada++;
                }
                else {
                    $("#estrangeirasId").append("<input type='hidden' name='estrangeirasId[]' value='"+id+"'>");
                    estrangeiraSelecionada++;
                }

            } else {
                if (estrangeiraSelecionada == 1){
                    $("#estrangeirasId").parent().parent().parent().empty();
                    provas[id] = null;
                    estrangeiraSelecionada = 0;
                }
                else{
                    provas[id] = null;
                    $("input[name='estrangeirasId[]'][value='"+this.value+"']").detach();
                    estrangeiraSelecionada -= 1;
                }
            }
            /*
             * A variável cont é utilizada para armazenar a ordem com que o usuário clicou para inserir uma nova prova no caderno.
             * A cada seleção de uma nova prova a ordem sugerida é recalculada.
             * */
            cont = 1;
            $("input[name='ordem[]']").each(function () {
                onlyNumber($(this));// Adicionando o evento que permite apenas a inserção de números.
                this.value = cont;
                cont++;
            });
            $("input[name='quantQuestoes[]']").each(function () {
                onlyNumber($(this));
            });
        });


    });
    /*
    * A função geraGabarito é utilizada quando o usuário clicar em próximo, ela criará o gabarito
    * com o número de questões e a órdem que o usuário colocou.
    * */
    function geraGabarito() {
        $("#tablesGabarito").empty();
        quantQuestoes = new Array();
        ordem = new Array();
        provaNome = new Array();
        procadedicaoId = new Array();
        arrayProvas.length = 0;

        $("input[name='quantQuestoes[]']").each(function () {
            quantQuestoes.push(this.value);
        });
        $("input[name='ordem[]']").each(function () {
            ordem.push(this.value);
        });
        $("input[name='provaNome[]']").each(function () {
            provaNome.push(this.value);
        });
        $("input[name='procadedicaoId[]']").each(function () {
            procadedicaoId.push(this.value);
        });
//        arrayForm = $("form[name='infoProva[]']").serializeArray();
        for (i = 0; i < provaNome.length; i++){
            prova = {
                nome: provaNome[i],
                quantQuestoes: quantQuestoes[i],
                procadedicaoId: procadedicaoId[i],
                ordem: ordem[i],
                estrangeira: false
            };
            arrayProvas.push(prova);
        }
        for (l = 0; l < arrayProvas.length; l++) {
            if (arrayProvas[l].nome === 'Linguas Estrangeiras') {
                quantQuestoes = arrayProvas[l].quantQuestoes;
                ordem = arrayProvas[l].ordem;
                arrayProvas.splice(l, 1);
                /*
                * Para cada lingua estrangeira selecionada, irá adicionar um objeto no array.
                * */
                $("input[name='estrangeirasId[]']").each(function () {
                    prova = {
                        nome: provas[this.value],
                        quantQuestoes: quantQuestoes,
                        procadedicaoId: this.value,
                        ordem: ordem,
                        estrangeira: true
                    };
                    $("#estrangeirasId").append("<input type='hidden' name='ordemEstrangeiras[]' value='"+prova.ordem+"'>");
                    $("#estrangeirasId").append("<input type='hidden' name='quantQuestoesEstrangeiras[]' value='"+prova.quantQuestoes+"'>");
                    arrayProvas.push(prova);
                });
            }
        }
        arrayProvas.sort(function (prova_a, prova_b) {return prova_a.ordem > prova_b.ordem});
        for(j = 0; j < arrayProvas.length; j++){
            geraTable(arrayProvas[j]);
        }
    }

    function geraTable(prova){
        if(prova.estrangeira && !(numQuestProvaEstrangeira > 0) ){
            numQuestProvaEstrangeira = numUltiQuest;
        }
        table =
        "<div class='row' style='margin: 10px'>" +
        "<div class='row alert alert-info fade in' style='margin-bottom: 0px'>" +
        "<p>"+ prova.nome +"</p>" +
        "</div>"+
        "<table class='table table-bordered' style='margin: 0px'>"+
        "<thead>"+
        "<tr>"+
        "<th>Ordem</th>"+
        "<th>Resposta</th>"+
        "<th>Peso</th>"+
        "<th>Valida</th>"+
        "</tr>"+
        "</thead>"+
        "<tbody id='"+prova.provaId+"'>"+
        geraLinha(prova) +
        "</tbody>"+
        "</table>" +
        "</div>";

        $("#tablesGabarito").append(table);
        addEventos();
    }

    function geraLinha(prova){
        retorno = '';
        if(prova.estrangeira){
            numUltiQuest = numQuestProvaEstrangeira;
        }
        retorno += geraLinhaVazia(prova);
        return retorno;
    }

    function geraLinhaVazia(prova){
        for(i = 1; i <= prova.quantQuestoes; i++) {
            linha =
                "<tr>" +
                "<input type='hidden' name='gabId[]'>" +
                "<td><input type='text' name='ordemQuestao[]' value='" + numUltiQuest + "'>" +
                "<input type='hidden' name='procadId[]' value='"+prova.procadedicaoId+"'></td>" +
                "<td><input type='text' name='resposta[]' style='text-transform: uppercase' value=''></td>" +
                "<td><input type='text' name='peso[]' value='1'></td>" +
                "<td><input type='hidden' name='valida[]' value='1' data-switch='" + row + "'>" +
                "<label class='toggle'><input type='checkbox' name='questaoValida[]' checked='' data-value='" + row + "'><i data-swchon-text='Sim' data-swchoff-text='Não' name='" + row + "' data-click='onOff'></i></label>" +
                "</td>" +
                "</tr>";
            retorno += linha;
            numUltiQuest++;
            row++;
        }
        return retorno;
    }

    /*
     * Função que adiciona os eventos aos elementos da tabela.
     * */
    function addEventos(){
        $("i[data-click='onOff']").click(function () {
            value = $(this).attr('name');
            if($("input[data-value='" + value + "']:checked").val() == null){
                $("input[data-switch='"+ value +"']").val('1');
            } else {
                $("input[data-switch='"+ value +"']").val('0');
            }
        });
        $("input[name='peso[]']").each(function () {
            onlyNumber($(this));
        });
        $("input[name='resposta[]']").mask('a');
    }


    jQuery(function () {
        $("select[name='edicao']").change(function () {
            $('#cursos').empty();
            jQuery.ajax({
                url: "<?=$this->basePath()?>/provas/prova-caderno/busca-selecao-cursos",
                type: 'POST',
                data: {'string': this.value},
                dataType: 'json',
                success: function (html) {
                    for (i = 0; i < html.json.length; i++) {
                        option =
                            "<label class='checkbox'>"+
                            "<input type='checkbox' name='selcursos[]' label='Cursos' col='4' value='"+html.json[i].selcursosId+"'><i></i>"+html.json[i].cursoNome+
                            "</label>";
                        $('#cursos').append(option);
                    }
                },
                erro: function (data) {
                    alert("Erro ao buscar: " + data);
                },
            });
        });

    });

    function onlyNumber(fields){
        $(fields).unbind('keyup').bind('keyup',function(e){ //vou buscar o evento keyup - quando o usuário solta a tecla

            var thisVal = $(this).val(); // atribuo o valor do campo a variável local
            var tempVal = "";

            for(var i = 0; i<thisVal.length; i++){
                if(RegExp(/^[0-9]$/).test(thisVal.charAt(i))){ // aqui estou usando uma expressão regular para limitar a entrada de apenas numeros ou seja digitos entre 0 e 9
                    tempVal += thisVal.charAt(i); //caso atenda a condição de ser um digito numérico, atribuo a uma variável temporária

//                    if(e.keyCode == 8){
//                        tempVal = thisVal.substr(0,i); //o keyCode == 8 é para eu poder usar o backspace para apagar algum numero indesejado.
//                    }
                }
            }
            $(this).val(tempVal); // ao terminar, atribuo o valor validado ao valor do campo passado para testar
        });
    }

    function obrigatorio(elemento){
        if ($(elemento).val() == "") {
            $(elemento).parent().addClass('state-error');
            $(elemento).parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
        } else {
            $(elemento).parent().removeClass('state-error');
            $(elemento).parent().parent().find("div[class^='note']").removeClass('note-error').html("");
        }
    }

    function selectObrigatorio(elemento){
        if ($(elemento).children(':selected').text() === "Selecione" || $(elemento).val() <= 0) {
            $(elemento).parent().addClass('state-error');
            $(elemento).parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
        } else {
            $(elemento).parent().removeClass('state-error');
            $(elemento).parent().parent().find("div[class^='note']").removeClass('note-error').html("");
        }
    }

</script>
