<?php

if(!$this->provasCandidato){
    echo "<script>alert('Não foram encontradas provas para esta inscrição');</script>";
    return;
}
echo $this->form()->openTag($this->provaInscritoForm );
echo "<header> Provas do candidato: <strong>".$this->provasCandidato[0]['pesNome']."</strong></header>";
//pre($this->provasCandidato);
foreach($this->provasCandidato as $prova){
    $form = '<div class="row">';
    $this->provaInscritoForm->setData($prova);
    $form .= $this->formInput( $this->provaInscritoForm->get('provainscId')->setAttribute('name', 'provainscId[]') );
    $form .= $this->formInput( $this->provaInscritoForm->get('inscricao')->setAttributes(['name' => 'inscricao[]', 'hidden' => 'hidden']) );
    $form .= $this->formInput( $this->provaInscritoForm->get('proedicao')->setAttribute('name', 'proedicao[]'));
    $form .= $this->spineForm()->formInput( $this->provaInscritoForm->get('provaNome'), ['name' => 'provaNome[]'] );
//    $form .= $this->spineForm()->formInput( $this->provaInscritoForm->get('provainscAcertos'), ['name' => 'provainscAcertos[]'] );
    $form .= $this->spineForm()->formInput( $this->provaInscritoForm->get('provainscPontuacao'), ['name' => 'provainscPontuacao[]'] );
//    $form .= $this->spineForm()->formInput( $this->provaInscritoForm->get('provainscPercentual'), ['name' => 'provainscPercentual[]'] );
    $form .= '</div>';
    echo $form;
}
echo $this->spineForm()->formInput( $this->provaInscritoForm->get('salvar') );
echo $this->form()->closeTag();
