<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Correção de Provas', 'icon' => 'fa fa-gear'));

?>
<div>
    <?= $this->form()->openTag($this->provaInscritoForm); ?>
    <header>
        Inserção manual de notas
    </header>
    <section>
        <div class="row">
            <?= $this->spineForm()->formInput($this->provaInscritoForm->get('inscricao')); ?>
            <section class="col-lg-1">
                <a id="buscar" class="btn btn-primary" style="padding: 5px; margin-top: 25px; margin-left: 5px">Buscar Provas</a>
            </section>
        </div>
    </section>
    <?= $this->form()->closeTag(); ?>
</div>
<div id="provasCandidato">
</div>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<script>
    $(function () {
        $("#buscar").click(function () {
            jQuery.ajax({
                url: "<?php echo $this->basePath();?>/provas/prova-caderno/busca-provas-candidato",
                dataType: 'html',
                type: 'post',
                data: {inscricao: jQuery("input[name='inscricao']").val()},
                success: function (data) {
                    $("#provasCandidato").empty();
                    $("#provasCandidato").append(data);
                },
                erro: function () {
                    alert('Candidato não encontrado');
                }
            });
        });
    });
</script>