<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Correção de Provas', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag($this->formCorrecao);
?>
<style>
    .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba(0,0,0,0.6);
    }

    body.loading {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .modal {
        display: block;
    }

    .overlay-loader {
        display: block;
        margin: auto;
        width: 97px;
        height: 97px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .loader {
        position: absolute;
        top: 600px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 97px;
        height: 97px;
        animation-name: rotateAnim;
        -o-animation-name: rotateAnim;
        -ms-animation-name: rotateAnim;
        -webkit-animation-name: rotateAnim;
        -moz-animation-name: rotateAnim;
        animation-duration: 0.4s;
        -o-animation-duration: 0.4s;
        -ms-animation-duration: 0.4s;
        -webkit-animation-duration: 0.4s;
        -moz-animation-duration: 0.4s;
        animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    .loader div {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid rgb(14,121,235);
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .loader div:nth-child(odd) {
        border-top: none;
        border-left: none;
    }
    .loader div:nth-child(even) {
        border-bottom: none;
        border-right: none;
    }
    .loader div:nth-child(2) {
        border-width: 2px;
        left: 0px;
        top: -4px;
        width: 12px;
        height: 12px;
    }
    .loader div:nth-child(3) {
        border-width: 2px;
        left: -1px;
        top: 3px;
        width: 18px;
        height: 18px;
    }
    .loader div:nth-child(4) {
        border-width: 3px;
        left: -1px;
        top: -4px;
        width: 23px;
        height: 23px;
    }
    .loader div:nth-child(5) {
        border-width: 3px;
        left: -1px;
        top: 4px;
        width: 31px;
        height: 31px;
    }
    .loader div:nth-child(6) {
        border-width: 4px;
        left: 0px;
        top: -4px;
        width: 39px;
        height: 39px;
    }
    .loader div:nth-child(7) {
        border-width: 4px;
        left: 0px;
        top: 6px;
        width: 49px;
        height: 49px;
    }


    @keyframes rotateAnim {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    @-o-keyframes rotateAnim {
        from {
            -o-transform: rotate(360deg);
        }
        to {
            -o-transform: rotate(0deg);
        }
    }

    @-ms-keyframes rotateAnim {
        from {
            -ms-transform: rotate(360deg);
        }
        to {
            -ms-transform: rotate(0deg);
        }
    }

    @-webkit-keyframes rotateAnim {
        from {
            -webkit-transform: rotate(360deg);
        }
        to {
            -webkit-transform: rotate(0deg);
        }
    }

    @-moz-keyframes rotateAnim {
        from {
            -moz-transform: rotate(360deg);
        }
        to {
            -moz-transform: rotate(0deg);
        }
    }
</style>
<script>
    $(document).ready(function(){
        $('form').submit(function(){
            if($('select').val() != "NULL" &&  $('input[name="arquivoCorrecaoRedacao"]').val() != '' && $('input[name="arquivoCorrecao"]').val() != ''){
                $('body').addClass("loading");
            }

        });
    });
</script>

<header>
    Correção por arquivo
</header>
    <div class="row">
        <?=$this->spineForm()->formInput($this->formCorrecao->get('caderno'));?>
    </div>
    <div class="row">
        <?=$this->spineForm()->formInput($this->formCorrecao->get('arquivoCorrecaoRedacao'));?>
    </div>
    <div class="row">
        <?=$this->spineForm()->formInput($this->formCorrecao->get('arquivoCorrecao'));?>
    </div>
    <div class="modal">
        <div class="overlay-loader">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
<?php
echo $this->spineForm()->formInput($this->formCorrecao->get('iniciar'));
?>
<?php
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>