<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
$this->spineList( $this->config );
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<script>
    jQuery(function () {
        jQuery("div[class='col-lg-6']").find("div").append("<a href='<?php echo $this->basePath();?>/provas/prova-caderno/correcao'><button class='btn btn-default'> <i class='fa fa-check '></i> Correção </button><a>");
        jQuery("div[class='col-lg-6']").find("div").append("<a href='<?php echo $this->basePath();?>/provas/prova-caderno/correcao-manual'><button class='btn btn-default'> <i class='fa fa-check '></i> Correção Manual </button><a>");
    });
</script>