<?php
$urlListagem = $this->url('documentos/default', array('controller' => 'documento-emissao'));
$paramUrl    = array('controller' => 'documento-emissao', 'action' => 'add');

if ($this->arrDados['emissaoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['emissaoId'];
}
$urlPesquisaDocumentoModelo = $this
    ->url('documentos/default', array('controller' => 'documento-modelo', 'action' => 'search-for-json'));
$urlPesquisaPessoa          = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas   = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlForm                    = $this->url('documentos/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('documento-emissao-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="documento-emissao-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="emissaoId" id="emissaoId"
                               value="<?php echo $this->arrDados['emissaoId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="modelo">Código Modelo:</label>
                                <input type="text" name="modelo" id="modelo" class="form-control"
                                       placeholder="Código Modelo" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="pes">Código Pessoa:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Código Pessoa" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="emissaoData">Data Emissão:</label>
                                <input type="text" name="emissaoData" id="emissaoData" class="form-control"
                                       placeholder="Data Emissão" value="<?php echo $this->arrDados['emissaoData']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usuarioIdEmissao">Código Usuário:</label>
                                <input type="text" name="usuarioIdEmissao" id="usuarioIdEmissao" class="form-control"
                                       placeholder="Código Usuário" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.documentoEmissaoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                documentoModelo: '<?=$urlPesquisaDocumentoModelo;?>',
                pessoa: '<?=$urlPesquisaPessoa;?>',
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>'
            },
            data: {},
            value: {
                modelo:<?=json_encode($this->arrDados['modelo']); ?>,
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                usuarioIdEmissao:<?=json_encode($this->arrDados['usuarioIdEmissao']); ?>
            }
        });
    });
</script>