<fieldset>
    <legend>Dados Básicos</legend>
    <div class="campoPesCnpj col-sm-2">
        <div class="form-group">
            <label for="pesCnpj">CNPJ:</label>

            <div class="input-group">
                <input type="text" name="pesCnpj" class="form-control" placeholder="CNPJ"
                       value="<?php echo $this->arrDados['pesCnpj']; ?>">

                <div class="input-group-btn">
                    <button class="btn btn-default buscarDocumentoPessoa" type="button"
                            title="Buscar pessoas cadastradas no banco pelo documento">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <label for="pesNome">Razão Social:</label>
            <input type="text" name="pesNome" class="form-control" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNome']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesSigla">Sigla:</label>
            <input type="text" name="pesSigla" class="form-control" autocomplete="off"
                   value="<?php echo $this->arrDados['pesSigla']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesNomeFantasia">Nome Fantasia:</label>
            <input type="text" name="pesNomeFantasia" class="form-control" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNomeFantasia']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesNaturezaJuridica">Natureza Jurídica:</label>
            <input type="text" name="pesNaturezaJuridica" class="form-control"
                   autocomplete="off"
                   value="<?php echo $this->arrDados['pesNaturezaJuridica']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesInscMunicipal">Inscrição municipal:</label>
            <input type="text" name="pesInscMunicipal" class="form-control"
                   placeholder="Informe inscrição municipal" value="<?php echo $this->arrDados['pesInscMunicipal']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesInscEstadual">Inscrição estadual:</label>
            <input type="text" name="pesInscEstadual" class="form-control"
                   placeholder="Informe inscrição estadual" value="<?php echo $this->arrDados['pesInscEstadual']; ?>">
        </div>
    </div>
</fieldset>