<?php
$urlListagem   = $this
    ->url('pessoa/default', array('controller' => 'pessoa-juridica'));
$urlPesquisaPJ = $this
    ->url('pessoa/default', array('controller' => 'pessoa-juridica', 'action' => 'search-for-json'));
$urlBuscaCEP   = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$paramUrl = array('controller' => 'pessoa-juridica', 'action' => 'add');

if ($this->arrDados['pesId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['pesId'];
}

$urlForm = $this->url('pessoa/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('pessoa-juridica-add', false, 'App');
$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1%;
        width: 48%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .file-upload .message {
        display: none;
    }

    .file-upload .preview {
        width: 100%;
        height: 8em;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?= $urlForm; ?>" id="pessoa-juridica-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" value="<?php echo $this->arrDados['pesId']; ?>">

                        <div id="pessoa-juridica-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#pessoa-juridica-dados-pessoais">
                                            <a href="#pessoa-juridica-dados-pessoais" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Informações Básicas</span>
                                            </a>
                                        </li>
                                        <li data-target="#pessoa-juridica-contato">
                                            <a href="#pessoa-juridica-contato" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Contato e Endereço</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="pessoa-juridica-dados-pessoais">
                                    <?php
                                    echo $this->partial(
                                        'pessoa/pessoa-juridica/add-informacoes-basicas.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="pessoa-juridica-contato">
                                    <?php
                                    echo $this->partial(
                                        'pessoa/pessoa-juridica/add-contato-endereco.phtml',
                                        $variaveis
                                    );
                                    ?>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial): ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php endif; ?>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.pessoaJuridicaAdd({
            url: {
                pesquisaPJ: '<?=$urlPesquisaPJ;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>'
            },
            desativaAutocompletePessoa: <?=(int)$this->desativaAutocompletePessoa;?>,
            ajaxSubmit: <?=(int)$this->ajaxSubmit;?>,
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>
            },
            value: {}
        });
    });
</script>