<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-campo-entidade'));
$paramUrl    = array('controller' => 'sis-campo-entidade', 'action' => 'add');

if ($this->arrDados['entidadeId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['entidadeId'];
}

$urlForm = $this->url('sistema/default', $paramUrl);

$urlPesquisaForJson = $this
    ->url('sistema/default', array('controller' => 'sis-campo-entidade', 'action' => 'busca-registros-internos'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-campo-entidade-add', false, 'App');
?>
<style>
    .app-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="sis-campo-entidade-form" novalidate="novalidate"
                              method="post">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="entidadeId">Entidade:</label>
                                    <input type="text" name="entidadeId" id="entidadeId" class="form-control"
                                           placeholder="Entidade" maxlength="255"
                                           value="<?php echo $this->arrDados['entidadeId']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="entidadeTabela">Tabela:</label>
                                    <input type="text" name="entidadeTabela" id="entidadeTabela" class="form-control"
                                           placeholder="Tabela" maxlength="255"
                                           value="<?php echo $this->arrDados['entidadeTabela']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="entidadeChave">Chave:</label>
                                    <input type="text" name="entidadeChave" id="entidadeChave" class="form-control"
                                           placeholder="Chave" maxlength="255"
                                           value="<?php echo $this->arrDados['entidadeChave']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="entidadeDescricao">Descrição:</label>
                                    <textarea name="entidadeDescricao" id="entidadeDescricao" class="form-control"
                                              rows="3"
                                              maxlength="255"><?php echo $this->arrDados['entidadeDescricao']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-pesquisaPF: '<?= $urlPesquisaPF; ?>',save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisCampoEntidadeAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                urlPesquisa: '<?=$urlPesquisaForJson;?>'
            },
            data: {
                arrTabelas: <?= json_encode($this->arrTabelas) ?>
            },
            value: {}
        });
    });
</script>