<?php
$urlListagem = $this->url('matricula/default', array('controller' => 'acadgeral-docente'));
$paramUrl    = array('controller' => 'acadgeral-docente', 'action' => 'add');

if ($this->arrDados['docenteId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['docenteId'];
}
$urlPesquisaPessoaFisica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-fisica', 'action' => 'search-for-json'));
$urlForm                 = $this->url('matricula/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadgeral-docente-add', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();

$variaveis['partial']                    = true;
$variaveis['desativaAutocompletePessoa'] = true;
$variaveis['ajaxSubmit']                 = true;
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="acadgeral-docente-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="docenteId" id="docenteId"
                               value="<?php echo $this->arrDados['docenteId']; ?>">
                        <input type="hidden" name="docenteDataInicio" id="docenteDataInicio"
                               value="<?php echo $this->arrDados['docenteDataInicio']; ?>">
                        <input type="hidden" name="docenteDataFim" id="docenteDataFim"
                               value="<?php echo $this->arrDados['docenteDataFim']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="docenteTituto">Título:</label>
                                <input type="text" name="docenteTituto" id="docenteTituto" class="form-control"
                                       placeholder="Título" maxlength="45"
                                       value="<?php echo $this->arrDados['docenteTituto']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pes">Pessoa:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Pessoa física">
                                <a href="#" class="hidden editarPessoa">
                                    <i class="fa fa-edit"></i> Editar dados da pessoa
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="docenteCurLattes">Lattes:</label>
                                <input type="text" name="docenteCurLattes" id="docenteCurLattes" class="form-control"
                                       placeholder="Lattes Curso" maxlength="255"
                                       value="<?php echo $this->arrDados['docenteCurLattes']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="docenteNumMec">Número No MEC:</label>
                                <input type="text" name="docenteNumMec" id="docenteNumMec" class="form-control"
                                       placeholder="Número No MEC" maxlength="11"
                                       value="<?php echo $this->arrDados['docenteNumMec']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="docenteAtivo">Ativo:</label>
                                <select name="docenteAtivo" id="docenteAtivo" class="form-control">
                                    <?php
                                    foreach ($this->arrDocenteAtivo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['docenteAtivo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<?php if (!$this->partial) { ?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-fisica-editar" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa-fisica/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<?php } ?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadgeralDocenteAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>'},
            data: {},
            value: {pes:<?=json_encode($this->arrDados['pes']); ?>},
        });
    });
</script>