<?php
$urlListagem = $this->url('pessoa/default', array('controller' => 'contato'));
$paramUrl    = array('controller' => 'contato', 'action' => 'add');

if ($this->arrDados['conId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['conId'];
}
$urlPesquisaPessoa      = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaTipoContato = $this
    ->url('pessoa/default', array('controller' => 'tipo-contato', 'action' => 'search-for-json'));
$urlForm                = $this->url('pessoa/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('contato-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="contato-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="conId" id="conId" value="<?php echo $this->arrDados['conId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pessoa">Pessoa:</label>
                                <input type="text" name="pessoa" id="pessoa" class="form-control"
                                       placeholder="Pessoa" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="tipoContato">Tipo:</label>
                                <input type="text" name="tipoContato" id="tipoContato" class="form-control"
                                       placeholder="Tipo" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="conContato">Contato:</label>
                                <input type="text" name="conContato" id="conContato" class="form-control"
                                       placeholder="Contato" maxlength="255"
                                       value="<?php echo $this->arrDados['conContato']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.contatoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                pessoa: '<?=$urlPesquisaPessoa;?>',
                tipoContato: '<?=$urlPesquisaTipoContato;?>'
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>
            },
            value: {
                pessoa:<?=json_encode($this->arrDados['pessoa']); ?>,
                tipoContato:<?=json_encode($this->arrDados['tipoContato']); ?>
            },
        });
    });
</script>