<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 160px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px text-align : center;
    }
    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
    }


    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }


    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }


    .com  {
        border: 1px solid black;
    }
    .tdHeaderInfo{
        border-bottom: 1px solid black;
    }

    .trContent{
        border-right: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }
</style>
<div id="footer">
    <hr>
    <p class="page"   style="text-align: right">Versa Tecnologia\Universa - pág </p>
</div>
<table width="90%" id="header" >
    <tr style="font-size: 80%">
        <td  width="20%" valign="top">
            <img src="<?=$this->logo?>" width="100px"/>
        </td>
        <td width="30%" valign="top" style="text-align: center">
            <h3><?= $this->mantenedora?></h3>
            <h3><?= $this->edicao['edicao']; ?></h3>
            <h4 style="text-transform: capitalize"> Relatório: <?=($this->tipo === 'desclassificado')? 'Não Aprovados' : $this->tipo.'s' ?> Ordem: <?= $this->ordem;?><h4>
        </td>
    </tr>
    <hr>
</table>

<table id="headerinfo">
    <table  style="width: 100%;  "   >
        <tr style="width: 100%; font-size: 80%;text-transform: uppercase" >
            <?php
            if($this->ordem === 'Alfabética'){?>
                <td width=5%"  style="text-align: center" ></td>
            <?php } else{?>
                <td width=5%"  style="text-align: center" ><b>CLAS.</b></td>
            <?php } ?>
            <td width="15%"  style="text-align: center"><b>INSCRIÇÃO</b></td>
            <td width="40%"  ><b>CANDIDATO</b></td>
            <td width="10"  style="text-align: center"><b>REDAÇÃO</b></td>
            <td width="10%"  style="text-align: center"><b>PORT.</b></td>
            <td width="10%"  style="text-align: center"><b>C. GERAIS</b></td>
            <td width="10%"  style="text-align: center"><b>TOTAL</b></td>
        </tr>
    </table>
</table>
<table id="content"  width="100%" >

    <?php foreach ($this->classificados as $classificado) { ?>
        <tr style="width: 100%; font-size: 80%;text-transform: uppercase" >
            <td width="5%" style="text-align: center" ><?= $classificado['classificacao']?></td>
            <td width="15%" style="text-align: center" ><?=$classificado['inscricao_id']?></td>
            <td width="40%"  ><?= $classificado['pes_nome']?></td>
            <td width="10%" style="text-align: center"   ><?= $classificado['redacao'] ?></td>
            <td width="10%" style="text-align: center"><?= $classificado['portugues']?></td>
            <td width="10%"  style="text-align: center"><?= $classificado['conhecimento']?></td>
            <td width="10%" style="text-align: center" ><?= $classificado['inscricao_nota']?></td>

        </tr>
    <?php } ?>

</table>
<?php if(count($this->classificados) === 0){?>
    <p style="text-align: center"><b>NÃO EXISTE PROCESSO DE CLASSIFICAÇÃO OU CANDIDATOS NESTA SITUAÇÃO PARA ESTE PROCESSO SELETIVO.</b></p>
<?php }?>
</html>
