<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
$this->spineList( $this->config );
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<div hidden="hidden" id="formBusca">
    <form class="smart-form" method="post">
            <input type="text" placeholder="Pesquisar por Nome" data-parent-id="" data-search-listgenerator="true" class="form-control" name="pesNome">
            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="Pesquisar"></label>
    </form>
</div>
<script>
    jQuery(function () {
        $(".btn-group").detach();
        $(".icon-addon").empty();
        var busca = $("#formBusca").html();
        $(".icon-addon").append(busca);
    });
</script>