<?php     $form = $this->form;
    $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget( array('title'=>'Relatorio de classificação') );
    $form->prepare();
    echo $this->form()->openTag( $form );
?>
<!--    <header>-->
<!--        Relatório dos Aprovados no Vestibular - Ordem de classificação-->
<!--    </header>-->
    <div class="row col-md-9">
        <?= $this->spineForm()->formInput( $form->get('edicaoId') ); ?>
        <?= $this->spineForm()->formInput( $form->get('ordem') ); ?>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput( $form->get('tipo') ); ?>
    </div>


    <?= $this->spineForm()->formInput( $form->get('Imprimir') ); ?>
   
<?php
    echo $this->form()->closeTag();
    echo $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
?>