<?php
$urlPesquisaSetor       = $this
    ->url('biblioteca/default', array('controller' => 'setor', 'action' => 'search-for-json'));
$urlPesquisaLocalizacao = $this
    ->url('biblioteca/default', array('controller' => 'exemplar', 'action' => 'search-for-json'));
$urlForm                = $this
    ->url('biblioteca/default', array('controller' => 'colecao', 'action' => 'add'));

$urlListagem = $this->url('biblioteca/default', array('controller' => 'exemplar'));
$paramUrl    = array('controller' => 'exemplar', 'action' => 'add');

if ($this->dadosExemplar['exemplarId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->dadosExemplar['exemplarId'];
}

$urlForm = $this->url('biblioteca/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('exemplar-add', false, 'App');

$arrExemplarAcesso = array(
    array('value' => 'Livre', 'text' => 'Livre'),
    array('value' => 'Restrito', 'text' => 'Restrito'),
    array('value' => 'Kit Saraiva', 'text' => 'Kit Saraiva')
);
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="exemplar-form" novalidate="novalidate" method="post">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exemplarId">Código:</label>
                                <input type="hidden" name="exemplarId" id="exemplarId"
                                       value="<?php echo $this->dadosExemplar['exemplarId']; ?>">

                                <p id="exemplarIdLabel" class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exemplarCodigo">Exemplar:</label>
                                <input type="hidden" name="exemplarCodigo" id="exemplarCodigo"
                                       value="<?php echo $this->dadosExemplar['exemplarCodigo']; ?>">

                                <p id="exemplarCodigoLabel" class="form-control-static"></p>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exemplarEmprestado">Emprestado:</label>
                                <input type="hidden" name="exemplarEmprestado" id="exemplarEmprestado"
                                       value="<?php echo $this->dadosExemplar['exemplarEmprestado']; ?>">

                                <p id="exemplarEmprestadoLabel" class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exemplarReservado">Reservado:</label>
                                <input type="hidden" name="exemplarReservado" id="exemplarReservado"
                                       value="<?php echo $this->dadosExemplar['exemplarReservado']; ?>">

                                <p id="exemplarReservadoLabel" class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="exemplarAcesso">Acesso:</label>
                                <select name="exemplarAcesso" id="exemplarAcesso" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($arrExemplarAcesso as $value) {
                                        $id        = $value['value'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->dadosExemplar['exemplarAcesso']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="setor">Setor:</label>
                                <input type="text" name="setor" id="setor" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exemplarLocalizacao">Localização:</label>
                                <input type="text" name="exemplarLocalizacao" id="exemplarLocalizacao"
                                       class="form-control"
                                       value="<?php echo $this->dadosExemplar['exemplarLocalizacao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="exemplarBaixaData">Data da Baixa:</label>
                                <input type="hidden" name="exemplarBaixaData" id="exemplarBaixaData"
                                       value="<?php echo $this->dadosExemplar['exemplarBaixaData']; ?>">

                                <p id="exemplarBaixaDataLabel" class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="exemplarBaixaMotivo">Motivo da Baixa:</label>
                                <input type="text" name="exemplarBaixaMotivo" id="exemplarBaixaMotivo"
                                       class="form-control"
                                       value="<?php echo $this->dadosExemplar['exemplarBaixaMotivo']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="numeroDeExemplares">Número de exemplares:</label>
                                <input type="text" name="numeroDeExemplares" id="numeroDeExemplares"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12" id="gerar-novo-codigo" style="display: none;">
                            <div class="form-group">
                                <label for="exemplarCodigoNovo">Alterar código do exemplar:</label>

                                <div class="input-group">
                                    <input type="text" name="exemplarCodigoNovo" id="exemplarCodigoNovo"
                                           value="<?php echo $this->dadosExemplar['exemplarCodigoNovo']; ?>"
                                           class="form-control" readonly>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-info"
                                                title="Gerar novo código para o exemplar">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.exemplarAdd({
            tituloScreen: <?php echo $this->tituloScreen?1:0;?>,
            url: {
                setor: '<?php echo $urlPesquisaSetor;?>',
                localizacao: '<?php echo $urlPesquisaLocalizacao;?>'
            },
            value: {
                <?php
                if ($this->dadosExemplar['setor']) {
                    echo "\n,setor:" . json_encode($this->dadosExemplar['setor']);
                }
                ?>
            }
        });
    });
</script>