<?php
$urlAdd              = $this
    ->url("biblioteca/default", array("controller" => "exemplar", "action" => "add"));
$urlSearch           = $this
    ->url("biblioteca/default", array("controller" => "exemplar", "action" => "search"));
$urlBaixa            = $this
    ->url("biblioteca/default", array("controller" => "exemplar", "action" => "baixa"));
$urlTituloEdit       = $this
    ->url('biblioteca/default', array('controller' => 'titulo', 'action' => 'edit'));
$urlPesquisaAssunto  = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'search-for-json'));
$urlPesquisaAreaCnpq = $this
    ->url('biblioteca/default', array('controller' => 'area-cnpq', 'action' => 'search-for-json'));
$urlPesquisaEmpresa  = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));
$urlPesquisaAutor    = $this
    ->url('biblioteca/default', array('controller' => 'autor', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('exemplar-index', false, 'App');

$arrExemplarAcesso = array(
    array('id' => 'Livre', 'text' => 'Livre'),
    array('id' => 'Restrito', 'text' => 'Restrito'),
    array('id' => 'Kit Saraiva', 'text' => 'Kit Saraiva')
);

?>
<style>
    .biblioteca-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }
</style>
<div id="widget-grid" class="">
    <div class="row"><?php if (!$this->partial) { ?>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body"><?php } ?>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-chevron-right"></i>
                                        Filtros avançados
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="grupoBibliografico">Grupo bibliográfico:</label>
                                            <input name="grupoBibliografico" id="grupoBibliografico"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="editora">Editora:</label>
                                            <input type="text" name="editora" id="editora" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="autor">Autor:</label>
                                            <input type="text" name="autor" id="autor" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="assunto">Assunto:</label>
                                            <input type="text" name="assunto" id="assunto" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="areaCnpq">Área CNPq:</label>
                                            <input type="text" name="areaCnpq" id="areaCnpq" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="exemplarAcesso">Acesso:</label>
                                            <input type="text" name="exemplarAcesso" id="exemplarAcesso"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" id="titulosFiltroExecutar">
                                                <i class="fa fa-search"></i>
                                                Filtrar resultados
                                            </button>
                                            <button type="button" class="btn btn-secondary" id="titulosFiltroLimpar">
                                                <i class="fa fa-clear"></i>
                                                Limpar filtros
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="dataTableTitulo" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Título</th>
                            <th class="col-sm-1">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <?php
                    if (!$this->partial) {
                    ?>
                </div>
            </div>
        </div><?php } ?>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="exemplar-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Informações do exemplar</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.exemplarIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlBaixa: '<?php echo $urlBaixa;?>',
            url: {
                assunto: '<?php echo $urlPesquisaAssunto;?>',
                areaCnpq: '<?php echo $urlPesquisaAreaCnpq;?>',
                empresa: '<?php echo $urlPesquisaEmpresa;?>',
                autor: '<?php echo $urlPesquisaAutor;?>',
                titulo: '<?php echo $urlTituloEdit;?>'
            },
            data: {
                grupoBibliografico: <?php echo $this->jsonGrupoBibliografico;?>,
                exemplarAcesso: <?php echo json_encode($arrExemplarAcesso);?>,
                pesquisa: <?=(int)((bool)$this->pesquisa);?>
            }
        });
    });
</script>