<?php
$urlListagem = $this->url('crm/default', array('controller' => 'crm-operador'));
$paramUrl    = array('controller' => 'crm-operador', 'action' => 'add');

if ($this->arrDados['operadorId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['operadorId'];
}
$urlPesquisaAcessoPessoas = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaCrmTime       = $this
    ->url('crm/default', array('controller' => 'crm-time', 'action' => 'search-for-json'));
$urlForm                  = $this->url('crm/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addComponent('datetimepicker', array('layout' => 'App'));
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-operador-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="crm-operador-form" novalidate="novalidate" method="post">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="operador">Usuário:</label>
                                <input type="text" name="operador" id="operador" class="form-control"
                                       placeholder="Usuário">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="time">Time:</label>
                                <input type="text" name="time" id="time" class="form-control"
                                       placeholder="Time" maxlength="10">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="operadorEntrada1">Entrada 1:</label>
                                <input type="text" name="operadorEntrada1" id="operadorEntrada1" class="form-control"
                                       placeholder="Entrada 1"
                                       value="<?php echo $this->arrDados['operadorEntrada1']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="operadorSaida1">Saída 1:</label>
                                <input type="text" name="operadorSaida1" id="operadorSaida1" class="form-control"
                                       placeholder="Saída 1" value="<?php echo $this->arrDados['operadorSaida1']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="operadorEntrada2">Entrada 2:</label>
                                <input type="text" name="operadorEntrada2" id="operadorEntrada2" class="form-control"
                                       placeholder="Entrada 2"
                                       value="<?php echo $this->arrDados['operadorEntrada2']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="operadorSaida2">Saída 2:</label>
                                <input type="text" name="operadorSaida2" id="operadorSaida2" class="form-control"
                                       placeholder="Saída 2" value="<?php echo $this->arrDados['operadorSaida2']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="operadorPercentual">Percentual:</label>
                                <input type="text" name="operadorPercentual" id="operadorPercentual"
                                       class="form-control"
                                       placeholder="Percentual"
                                       value="<?php echo $this->arrDados['operadorPercentual']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="operadorRamal">Ramal:</label>
                                <input type="text" name="operadorRamal" id="operadorRamal"
                                       class="form-control"
                                       placeholder="Ramal"
                                       value="<?php echo $this->arrDados['operadorRamal']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="operadorSituacao">Situação:</label>
                                <select name="operadorSituacao" id="operadorSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrOperadorSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['operadorSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmOperadorAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>',
                crmTime: '<?=$urlPesquisaCrmTime;?>'
            },
            data: {},
            value: {
                operador:<?=json_encode($this->arrDados['operador']); ?>,
                time:<?=json_encode($this->arrDados['time']); ?>
            },
        });
    });
</script>