<?php
$paramUrl                      = ['controller' => 'financeiro-pagamento', 'action' => 'pagamento-cartao-recorrencia'];
$urlPagamentoRecorrenciaCartao = $this->url('financeiro/default', $paramUrl);

$paramUrl        = ['controller' => 'financeiro-pagamento', 'action' => 'valida-cartao'];
$urlValidaCartao = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('jquery-ui', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('bootstrap.min', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent(
    'font-awesome',
    array('CssCheck' => '.min', 'mode' => 'CSS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('smartadmin-production', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('smartadmin-skins', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('versa.skeleton', array('layout' => 'VersaSkeleton', 'mode' => 'JS'));
$this->layoutComponent()->addComponent(
    'maskedinput',
    array('JsCheck' => '.min', 'mode' => 'JS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('app', array('JsCheck' => '.min', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.colVis', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.tableTools', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.bootstrap', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));

$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate', false, 'SmartAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

$this->layoutComponent()->addJS('store', false, 'App');

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');

$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('card', false, 'App');
$this->layoutComponent()->addJS('recorrencia-cartao', false, 'App');
?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath(); ?>/css/card.css">
<section id="widget-grid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?php echo $urlPagamentoRecorrenciaCartao; ?>" id="recorrencia-cartao-form"
                          novalidate="novalidate"
                          method="post">
                        <div class="form-group">
                            <fieldset>
                                <legend>Boletos com pagamento não autorizado usando cartão</legend>

                                <input type="hidden" name="token"
                                       value="<?php echo $this->token; ?>">

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered table-hover" width="100%"
                                               id="tableRecorrencia">
                                            <thead>
                                            <tr>
                                                <th title="Remover da Seleção"></th>
                                                <th>Matricula</th>
                                                <th>Título</th>
                                                <th>Descrição</th>
                                                <th>valor</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <div class="text-center">
                                            <span style="font-size: 10px; color: red">
                                            Caso deseje pagar algum dete(s) boleto(s) com cartão selecione 'Cartão' no campo 'Forma de Pagamento' e depois de preencher o
                                                cartao em clieque em Salvar.
                                                Caso queira pagar com boleto apenas clique em Salvar. </span>

                                            <div class="col-sm-12"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="alunoNome">Aluno:</label>

                                                <p class="form-control-static" id="alunoNome">
                                                    <?= $this->alunoNome ? $this->alunoNome : '-'; ?></p>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="tituloCurso">Curso:</label>

                                                <p class="form-control-static" id="tituloCurso">
                                                    <?= $this->alunoCurso ? $this->alunoCurso : '-'; ?></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="pagamentoForma">Forma de Pagamento:</label>
                                                <input type="text" name="pagamentoForma" id="pagamentoForma"
                                                       class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 hidden pagamentoCartao">
                                        <?php echo $this->partial('matricula/acadgeral-aluno/cartao.phtml') ?>
                                    </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Salvar
                            </button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.recorrenciaCartao({
            url: {
                pagamento: '<?=$urlPagamentoRecorrenciaCartao;?>',
                validaCartao: '<?=$urlValidaCartao;?>'
            },
            data: {
                arrDataTable:<?=json_encode($this->arrDataTable);?>
            },
            value: {
                token:<?=json_encode($this->token);?>
            }
        });
    });
</script>