<?php
$urlListagem = $this->url('acesso/default', array('controller' => 'acesso-pessoas'));
$paramUrl    = array('controller' => 'acesso-pessoas', 'action' => 'add');
$objGrupo    = json_encode($this->arrDados['acessoGrupo']);

if ($this->arrDados['id']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['id'];
}
$urlTesteLogin             = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'ifLoginIsUsed'));
$urlPesquisaAcessoUsuarios = $this
    ->url('acesso/default', array('controller' => 'acesso-usuarios', 'action' => 'search-for-json'));
$urlPesquisaAcessoGrupo    = $this
    ->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));
$urlPesquisaPessoaFisica   = $this
    ->url('pessoa/default', array('controller' => 'pessoa-fisica', 'action' => 'search-for-json'));
$urlPesquisaPessoaJuridica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-juridica', 'action' => 'search-for-json'));

$urlAddPessoa = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'add'));

$urlCampusCurso = $this
    ->url('matricula/default', array('controller' => 'campus-curso', 'action' => 'search-for-json'));

$urlAddPessoaJuridica = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'add'));

$urlForm = $this->url('acesso/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acesso-pessoas-add', false, 'App');
$variaveis = $this->viewModel()->getCurrent()->getVariables();

$variaveis['partial']                    = true;
$variaveis['desativaAutocompletePessoa'] = true;
$variaveis['ajaxSubmit']                 = true;
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="acesso-pessoas-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="id" id="id" value="<?php echo $this->arrDados['id']; ?>">

                        <div id="divPessoaFisica">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pesFisica">Pessoa Física:</label>
                                    <input type="text" name="pesFisica" id="pesFisica" class="form-control"
                                           placeholder="Pessoa Física" maxlength="11">
                                    <a href="#" class="hidden editarPessoa editarPF">
                                        <i class="fa fa-edit"></i> Editar dados da pessoa física
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="divPessoaJuridica">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pesJuridica">Pessoa Jurídica:</label>
                                    <input type="text" name="pesJuridica" id="pesJuridica" class="form-control"
                                           placeholder="Pessoa Jurídica" maxlength="11">
                                    <a href="#" class="hidden editarPessoa editarPJ">
                                        <i class="fa fa-edit"></i> Editar dados da pessoa jurídica
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="login">Login:</label><span id="loginMsg" hidden></span>
                                <input type="text" name="login" id="login" class="form-control"
                                       placeholder="Login" maxlength="45" data-check="false"
                                       value="<?php echo $this->arrDados['login']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="text" name="email" id="email" class="form-control"
                                       placeholder="E-mail" maxlength="255" autocomplete="off" readonly
                                       onfocus="this.removeAttribute('readonly');"
                                       value="<?php echo $this->arrDados['email']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input type="password" name="senha" id="senha" class="form-control"
                                       placeholder="Senha" maxlength="255"
                                       autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                                       value="<?php echo $this->arrDados['senha']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="passwordCheck">Confirmação de Senha:</label>
                                <input type="password" name="passwordCheck" id="passwordCheck" class="form-control"
                                       placeholder="Senha" maxlength="255"
                                       autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                                       value="<?php echo $this->arrDados['senha']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label style="font-weight: bolder">Visualizar:</label>
                                <button type="button" class="btn btn-link" id="viewPassword" disabled><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"
                                        style="margin-left: 10px; border: solid #b8b9bc 1px;"></span></button>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="acessoGrupo">Grupo: </label>
                                <input type="text" name="acessoGrupo" id="acessoGrupo" class="form-control"
                                       placeholder="Grupos">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="usrStatus">Status</label>
                                <input type="text" name="usrStatus" id="usrStatus" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="campusCurso">Campus/curso: </label>
                                <input type="text" name="campusCurso" id="campusCurso" class="form-control"
                                       placeholder="Limitar acesso do usuário a alguns cursos">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary" style="margin-top: 10px"
                                        id="enviarFormularioAddAcesso">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-editar" role="dialog" aria-hidden="true"
     style="overflow: hidden">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar Pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.grupo = <?=$objGrupo;?>;
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acessoPessoasAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                acessoUsuarios: '<?=$urlPesquisaAcessoUsuarios;?>',
                pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>',
                pessoaJuridica: '<?=$urlPesquisaPessoaJuridica;?>',
                grupo: '<?=$urlPesquisaAcessoGrupo;?>',
                campusCurso: '<?=$urlCampusCurso;?>',
                addPessoa: '<?=$urlAddPessoa;?>',
                addPessoaJuridica: '<?=$urlAddPessoaJuridica;?>',
                testeLogin: '<?=$urlTesteLogin;?>'
            },
            data: {},
            value: {
                usuario:<?=json_encode($this->arrDados['usuario']); ?>,
                pesFisica:<?=json_encode($this->arrDados['pesFisica']); ?>,
                pesJuridica:<?=json_encode($this->arrDados['pesJuridica']); ?>
            },
        });
    });
</script>