<?php

if (!isset($this->openJarvis)) {
    $this->spineJarvis()->openJarvis();
    $this->spineJarvis()->openWidget(array('id' => uniqid(), 'icon' => 'fa fa-table', 'title' => 'Cadastro Login',));

    echo $this->form()->openTag($this->form);
    echo "<fieldset>";

    if ($this->form->get("id")->getValue() == null) {
        echo "<div class='row'>";
        echo $this->spineForm()->formInput($this->form->get("pesquisa"));
        echo "</div>";
        echo "<div class='row'>";
        echo $this->spineForm()->formInput($this->form->get("login"));
    } else {
        echo "<div class='row'>";
        echo $this->spineForm()->formInput($this->form->get("login"), array('readonly' => "readonly"));
        echo $this->spineForm()->formInput($this->form->get("id"));
    }

    echo $this->spineForm()->formInput($this->form->get("usuario"));
    echo $this->spineForm()->formInput($this->form->get("pesFisica"));
    echo "</div>";
    echo "<div class='row'>";
    echo $this->spineForm()->formInput($this->form->get("email"));
    echo "</div>";
} else {
    echo "<div class='row'>";
    echo $this->spineForm()->formInput($this->form->get("login"));
    echo $this->spineForm()->formInput($this->form->get("usuario"));
    echo $this->spineForm()->formInput($this->form->get("pesFisica")->setValue($pesId));
    echo $this->spineForm()->formInput($this->form->get("id"));
    echo "</div>";

    echo "<div class='row'>";
    echo $this->spineForm()->formInput($this->form->get("email")->setValue($email));
    echo "</div>";
}

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("senha"));
echo "</div>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("confimeSenha"));
echo "</div>";

if (!isset($this->openJarvis)) {
    echo $this->spineForm()->formInput($this->form->get("grupos"));
    echo $this->spineForm()->formInput($this->form->get("actions"));

    echo "<div id='inputGrupo'>";
    echo "</div>";

    echo "<div id='inputActions'>";
    echo "</div>";

    echo "</fieldset>";

    echo $this->spineForm()->formInput($this->form->get("enviar"));
    echo $this->form()->closeTag();

    $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
} else {
    echo "<div class='row'>";
    echo $this->spineForm()->formInput($this->form->get("gruposSelect[]"));
    echo "</div>";
    echo "<div class='row'>";
    echo $this->spineForm()->formInput($this->form->get("actions"));
    echo "</div>";
    echo "<div id='inputActions'> ";
    echo "</div>";
    echo "</div>";
}
?>
<?php
if (!isset($this->openJarvis)) {
    ?>
    <script>
        $(document).ready(function () {
            function marcaGrupos() {
                // busca pelos grupos ja cadastrados e actions ja vinculadas
                $.ajax({
                    url: "<?= $this->basePath() ?>/acesso/acesso-usuarios/busca-grupos-usr",
                    data: {usuario: "<?= $this->form->get("usuario")->getValue() ?>"},
                    type: "post",
                    async: false,
                    success: function (data) {
                        var count = 0;
                        $.each(data.grupos, function (index, value) {
                            count++;
                            console.log("value:" + value + " index:" + index);
                            $("input[name^=acessoGrupo][value=" + value + "]").attr("checked", true);
                        });
                        console.log("count:" + count);
                        inputs = "";
                        $("input[name='acessoGrupo[]']:checked").each(function () {
                            inputs += "<input type='hidden' name='grupo[]' value='" + this.value + "' />";
                        });
                        $("#inputGrupo").html(inputs);
                    },
                    erro: function (ex) {
                        console.log("Error ao marcar grupos:" + ex);
                    }
                });
            }

            $.ajax({
                url: "<?= $this->basePath() ?>/acesso/acesso-grupo/search-for-json",
                type: "post",
                success: function (data) {
                    trs = "";
                    $.each(data.grupos, function (index, value) {
                        //                        trs += " <tr> <td class='smart-form'> <label class='checkbox'><input type='checkbox' name='acessoGrupo[]' value='" + value.id + "' /> <i></i> </label></td> <td>" + value.grup_nome + "</td> <td>" + value.grup_info + "</td> <td>" + value.grup_icon + "</td> </tr> ";
                        trs += " <tr> <td class='smart-form'> <label class='checkbox'><input type='checkbox' name='acessoGrupo[]' value='" + value.id + "' /> <i></i> </label></td> <td>" + value.grup_nome + "</td> <td>" + value.grup_info + "</td> </tr> ";
                    });
                    $("#listaDeGrupos").html(trs);
                    marcaGrupos();
                },
                erro: function (ex) {
                    console.log("Error ao listar os grupos do acesso:" + ex);
                }
            });

            function marcaFuncionalidades() {
                $.ajax({
                    url: "<?=$this->basePath()?>/acesso/acesso-usuarios/busca-privilegios-usr",
                    data: {usuario: "<?= $this->form->get("usuario")->getValue() ?>"},
                    type: "post",
                    async: false,
                    success: function (data) {
                        $.each(data.actions, function (index, value) {
                            $("#listaActions input[name='acessoActions[]'][value='" + value + "']").attr("checked", true);
                        });

                        var inputs = "";

                        $("#exibeFuncionalidades input[name='acessoActions[]']:checked").each(function () {
                            inputs += "<input type='hidden' name='acessoActions[]' value='" + this.value + "' />";
                        });

                        $("#inputActions").html(inputs);
                    },
                    erro: function (ex) {
                        console.log("Error ao marca os grupos do acesso:" + ex);
                    }
                });
            }

            $.ajax({
                url: "<?= $this->basePath() ?>/acesso/acesso-funcionalidades/pesquisa-funcionalidades",
                type: "post",
                dataType: "html",
                data: {layout: false},
                success: function (html) {
                    $("#exibeFuncionalidades").html(html);
                    marcaFuncionalidades();
                },
                erro: function (ex) {
                    console.log("Error ao listar os funcionalidades do acesso:" + ex);
                }
            });


            $("#addGrupo").click(function () {
                $("#listaGrupos").modal();
            });

            $("#addAction").click(function () {
                $('#listaActions :checkbox').prop('checked', '');

                $("#inputActions input").each(function () {
                    $('#listaActions [value=' + this.value + ']:checkbox').prop('checked', 'checked');
                });

                $("#listaActions").modal();
            });

            $("#marcaGrupos").click(function () {
                var check = this.checked;

                $("input[name='acessoGrupo[]']").each(function () {
                    this.checked = check;
                });
            });

            $("#addGruposHidden").click(function () {
                var inputs = "";

                $("input[name='acessoGrupo[]']:checked").each(function () {
                    inputs += "<input type='hidden' name='grupo[]' value='" + this.value + "' />";
                });

                $("#inputGrupo").html(inputs);
            });

            $("#addActionsHidden").click(function () {
                var inputs = "";

                $("#exibeFuncionalidades input[name='acessoActions[]']:checked").each(function () {
                    inputs += "<input type='hidden' name='acessoActions[]' value='" + this.value + "' />";
                });

                $("#inputActions").html(inputs);
            });

            $(".tree li.parent_li_li> span > label").on('click', function (e) {
                console.log("oik");
            });

            $(".checked").on('click', function (e) {
                console.log("oik");
            });
        });

        var id = $("input[name=id]");
        var pessoa = $("input[name=pesFisica]");
        var pesquisa = $("input[name=pesquisa]");
        var login = $("input[name=login]");
        var email = $("input[name=email]");
        var senha = $("input[name=senha]");
        var confimeSenha = $("input[name=confimeSenha]");

        pesquisa.focusout(function (e) {
            if ($(this).attr("data-value") != undefined) {
                jQuery.ajax({
                    url: "<?= $this->basePath() ?>/acesso/acesso-pessoas/busca-email",
                    dataType: "json",
                    type: 'post',
                    data: {pesId: pesquisa.attr('data-value')},
                    success: function (data) {
                        pesquisa.parent().parent().find("div.note").text("").removeClass("note-error");
                        pesquisa.parent().removeClass("state-error");
                        pesquisa.parent().addClass("state-success");

                        if (email.val() == "") {
                            email.val(data.email);
                        }

                        pessoa.val(pesquisa.attr('data-value'));
                    },
                    erro: function (ex) {
                        console.log("Error ao buscar email da pessoa:" + ex);
                    }
                });
            } else {
                jQuery.ajax({
                    success: function () {
                        pesquisa.parent().parent().find("div.note").text("Usuário inexistente").addClass("note-error");
                        pesquisa.parent().removeClass("state-success");
                        pesquisa.parent().addClass("state-error");
                    }
                });
            }
        });

        // Validar o login do usuário
        login.focusout(function (e) {
            if (!login.attr('readonly')) {
                jQuery.ajax({
                    url: "<?= $this->basePath() ?>/acesso/acesso-pessoas/check-login",
                    dataType: 'json',
                    type: 'post',
                    data: {loginUser: login.val()},
                    success: function (data) {
                        if (data.aData) {
                            login.parent().parent().find("div.note").text("").removeClass("note-success");
                            login.parent().parent().find("div.note").text("Login existente!").addClass("note-error");
                            login.parent().removeClass("state-success");
                            login.parent().addClass("state-error");
                        } else {
                            login.parent().parent().find("div.note").text("").removeClass("note-error");
                            login.parent().parent().find("div.note").text("").addClass("note-success");
                            login.parent().removeClass("state-error");
                            login.parent().addClass("state-success");
                        }
                    },
                    erro: function (ex) {
                        console.log("Error ao chegar existencia do login:" + ex);
                    }
                });
            }
        });

    </script>

    <div class="modal fade in" id="listaGrupos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Lista de grupos</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="smart-form"><label class='checkbox'><input type='checkbox' name="marcaTodos"
                                                                                  id="marcaGrupos"/> <i></i> </label>
                            </th>
                            <th>Grupo</th>
                            <th>Descrição</th>
                        </tr>
                        </thead>
                        <tbody id="listaDeGrupos">

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="addGruposHidden" data-dismiss="modal">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="listaActions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Lista de Permissões</h4>
                </div>
                <div class="modal-body" id="exibeFuncionalidades">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="addActionsHidden" data-dismiss="modal">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>

<?php } else { ?>
    <script>
        $(document).ready(function () {
            var xHtml = '';
            xHtml += '<div class="modal fade in" id="listaActions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >';
            xHtml += '    <div class="modal-dialog">';
            xHtml += '<div class="modal-content">';
            xHtml += '<div class="modal-header">';
            xHtml += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">';
            xHtml += '                        ×';
            xHtml += '</button>';
            xHtml += '<h4 class="modal-title" id="myModalLabel">Lista de Permissões</h4>';
            xHtml += '</div>';
            xHtml += '<div class="modal-body" id="exibeFuncionalidades">';

            xHtml += '</div>';
            xHtml += '<div class="modal-footer">';
            xHtml += '<button type="button" class="btn btn-default" data-dismiss="modal">';
            xHtml += 'Cancelar';
            xHtml += '</button>';
            xHtml += '<button type="button" class="btn btn-primary" id="addActionsHidden" data-dismiss="modal">';
            xHtml += 'Salvar';
            xHtml += '</button>';
            xHtml += '</div>';
            xHtml += '</div>';
            xHtml += '</div>';
            xHtml += '</div>';

            $("#widget-grid").append(xHtml);
            buscaIdUsuario();

            $("#addAction").click(function () {
                $('#listaActions :checkbox').prop('checked', '');

                $("#exibeFuncionalidades input").each(function () {
                    $('#inputActions [value=' + this.value + ']:checkbox').prop('checked', 'checked');
                });

                $("#listaActions").modal();
            });

            $("#addActionsHidden").click(function () {
                var inputs = "";

                $("#exibeFuncionalidades input[name='acessoActions[]']:checked").each(function () {
                    inputs += "<input type='hidden' name='acessoActions[]' value='" + this.value + "' />";
                });

                $("#inputActions").html(inputs);
            });

        });

        var id = $("input[name = 'id']");
        var pesFisica = $("input[name = 'pesFisica']");
        var login = $("input[name = 'login']");
        var email = $("input[name = 'email']");
        var usuario = $("input[name = 'usuario']");
        // Validar o login do usuário
        login.focusout(function (e) {
            if (!login.attr('readonly')) {
                jQuery.ajax({
                    url: "<?= $this->basePath() ?>/acesso/acesso-pessoas/check-login",
                    dataType: 'json',
                    type: 'post',
                    data: {loginUser: login.val()},
                    success: function (data) {
                        if (data.aData) {
                            login.parent().parent().find("div.note").text("").removeClass("note-success");
                            login.parent().parent().find("div.note").text("Login existente!").addClass("note-error");
                            login.parent().removeClass("state-success");
                            login.parent().addClass("state-error");
                        } else {
                            login.parent().parent().find("div.note").text("").removeClass("note-error");
                            login.parent().parent().find("div.note").text("").addClass("note-success");
                            login.parent().removeClass("state-error");
                            login.parent().addClass("state-success");
                        }
                    },
                    erro: function (ex) {
                        console.log("Error ao checar existencia do login:" + ex);
                    }
                });
            }
        });

        function buscaIdUsuario() {
            jQuery.ajax({
                url: "<?= $this->basePath() ?>/acesso/acesso-pessoas/busca-usuario",
                dataType: 'json',
                type: 'post',
                data: {pesId: pesFisica.val()},
                success: function (data) {
                    if (data.dados.length > 0) {
                        login.val(data.dados[0].login);
                        login.attr("readonly", "true");
                        id.val(data.dados[0].id);
                        usuario.val(data.dados[0].usuario);
                        email.val(data.dados[0].email);
                        acessoGrupo();

                    }
                    funcionalidades();
                },
                erro: function (ex) {
                    console.log("Error ao buscar dados do usuário: " + ex);
                }
            });
        }

        function marcaGrupos() {
            // busca pelos grupos ja cadastrados e actions ja vinculadas
            $.ajax({
                url: "<?= $this->basePath() ?>/acesso/acesso-usuarios/busca-grupos-usr",
                data: {usuario: usuario.val()},
                type: "post",
                async: false,
                success: function (data) {
                    var count = 0;
                    $.each(data.grupos, function (index, value) {
                        count++;
                        console.log("value:" + value + " index:" + index);
                        if ($('[name^=gruposSelect]').find("[value=" + value + "]")) {
                            jQuery("select[name='gruposSelect[]'").val(value);
                        }
                    });
                },
                erro: function (ex) {
                    console.log("Error ao marcar grupos:" + ex);
                }
            });
        }

        function acessoGrupo() {
            jQuery.ajax({
                url: "<?= $this->basePath() ?>/acesso/acesso-grupo/search-for-json",
                type: "post",
                success: function (data) {
                    var options = "";
                    options = '<option value="NULL">Selecione</option>';
                    $.each(data.grupos, function (index, value) {
                        options += '<option value="' + value.id + '">' + value.grup_nome + '</option>';
                    });
                    $("#gruposSelect").html(options);
                    marcaGrupos();
                },
                erro: function (ex) {
                    console.log("Error ao listar os grupos do acesso:" + ex);
                }
            });
        }

        function marcaFuncionalidades() {
            $.ajax({
                url: "<?=$this->basePath()?>/acesso/acesso-usuarios/busca-privilegios-usr",
                data: {usuario: usuario.val()},
                type: "post",
                async: false,
                success: function (data) {
                    $.each(data.actions, function (index, value) {
                        $("#listaActions input[name='acessoActions[]'][value='" + value + "']").attr("checked", true);
                    });

                    var inputs = "";

                    $("#exibeFuncionalidades input[name='acessoActions[]']:checked").each(function () {
                        inputs += "<input type='hidden' name='acessoActions[]' value='" + this.value + "' />";
                    });

                    $("#inputActions").html(inputs);
                },
                erro: function (ex) {
                    console.log("Error ao marca os grupos do acesso:" + ex);
                }
            });
        }

        function funcionalidades() {
            $.ajax({
                url: "<?= $this->basePath() ?>/acesso/acesso-funcionalidades/pesquisa-funcionalidades",
                type: "post",
                dataType: "html",
                data: {layout: false},
                success: function (html) {
                    $("#exibeFuncionalidades").html(html);
                    marcaFuncionalidades();
                },
                erro: function (ex) {
                    console.log("Error ao listar os funcionalidades do acesso:" + ex);
                }
            });
        }
    </script>
<?php } ?>