<?php
$paramUrl           = array("controller" => "acesso-pessoas", "action" => "add");
$objGrupo           = json_encode($this->arrDados['acessoGrupo']);
$urlAdd             = $this->url("acesso/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("acesso/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("acesso/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("acesso/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acesso-pessoas-index', false, 'App');
?>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-acesso-pessoas">
                    <table id="dataTableAcessoPessoas" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Pessoa</th>
                            <th>Login</th>
                            <th style="width: 260px">Grupo</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-acesso-pessoas-add">
                            Novo Registro
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="acesso-pessoas-modal" tabindex="-1" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" style="height: 670px;overflow: hidden">
        <div class="modal-content" style="height: 100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar pessoas</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('acesso/acesso-pessoas/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acessoPessoasIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>'
            },
            data:{
                grupo: <?=$objGrupo;?>
            }
        });
    });
</script>