<script>
    $(function () {
        $("#listGeneratorSearch").click(function () {
            $('#modalBusca').modal();
            $.ajax({
                url: "/acesso/acesso-pessoas/show-form",
                success: function (html) {
                    $("#modalBuscaContent").html(html);
                },
                error: function (a, b, c) {
                    alert("Erro");
                }
            });
        });

        $("#formBuscar").click(function () {
            $($(this).parent().parent().find("form")[0]).submit();
        });

    });
</script>
<?php
$this->spineJarvis()->openJarvis();

echo $this->spineJarvis()->openWidget(
    array('toolbar' => false, 'title' => 'Lista de usuários', 'icon' => 'fa fa-user', 'id' => 'testando')
);
$this->spineList(
    array(
        // id da tabela
        'table'       => array(
            'id'     => 'teste',
            'dados'  => $this->dados,
            'labels' => array(
                'id'         => 'Índice',
                'usuario'    => 'Id do usuário',
                'pes_fisica' => 'Pessoa Responsável',
                'login'      => 'Login',
                'senha'      => 'Senha',
                'edit'       => array(
                    'type'   => 'link',
                    // chave parametro rota, valor nome do campo pra pegar o valor do mesmo
                    //                    'params' => array('chave'=>'id','pessoa'=>'pes_fisica'),
                    'params' => 'id',
                    'href'   => '/acesso/acesso-pessoas/editar',
                    'label'  => 'Editar',
                    'icon'   => 'fa fa-edit',
                    'text'   => 'Editando'
                ),
                'delete'     => array(
                    'type'   => 'link',
                    'params' => 'id',
                    'href'   => '/acesso/acesso-pessoas/excluir',
                    'label'  => 'Remover',
                    'icon'   => 'fa fa-edit',
                    'text'   => 'Remover'
                ),
            )
        ),
        'paginacao'   => array(
            'count' => $this->count,
        ),
        'headActions' => array(
            //            'edit' => true,
            //            'add' => array('url'=>'/acesso/acesso-pessoas/adicionar'),
            'search' => true,
        ),
        'headButtons' => array(
            'search' => true,
            //          'print' => true,
            //          'save' => true
        ),
    )
);

echo $this->spineJarvis()->closeWidget();

$this->spineJarvis()->closeJarvis();

?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modalBusca">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="modalBuscaContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="formBuscar" type="button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>
