<head>
    <style>
        table {
            font-size: small;
            margin-top: -30px;
            margin-left: -10px;
            margin-right: -30px;
        }
        .coluna2 {
            padding-left: 75px;
        }
        .linha2 {
            padding-top: 45px;
        }
    </style>
</head>
<?php
$inscricoes = $this->inscricoes;
$count = count($this->inscricoes);
$numPaginas = ceil($count / 20);
$inicio = 0;
for($i = 0; $i < $numPaginas; $i++):
?>
    <div style='page-break-after: always;'>
        <table>
            <tbody>
            <?php
            $fim = $inicio + 20;
            for($j = $inicio; $j < $fim; $j+= 2):
                if(!$inscricoes[$j])
                    break;
            ?>
                <tr>
                    <?php
                    if($inscricoes[$j]):
                    ?>
                        <td class="<?= ($j != $inicio)? 'linha2': ''; ?>" style="white-space: nowrap">
                            <?= $this->ies; ?><br>
                            <?= $inscricoes[$j]['inscricao_id'];?>-<?= $inscricoes[$j]['pes_nome']; ?><br>
                            <?= $inscricoes[$j]['inscricao_lingua_estrangeira']; ?>
                        </td>
                    <?php
                    endif;
                    if($inscricoes[$j+1]):
                        ?>
                        <td class="coluna2 <?= ($j != $inicio)? 'linha2': '';  ?>" style="white-space: nowrap">
                            <?= $this->ies; ?><br>
                            <?= $inscricoes[$j+1]['inscricao_id'];?>-<?= $inscricoes[$j+1]['pes_nome']; ?><br>
                            <?= $inscricoes[$j+1]['inscricao_lingua_estrangeira']; ?>
                        </td>
                    <?php
                    endif;
                    ?>
                </tr>
            <?php
            endfor;
            $inicio = $j;
            ?>
            </tbody>
        </table>
    </div>
<?php
endfor;
?>
