<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => "Formulários"));
?>
    <div style="margin-top: 15px; margin-left: 15px">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blueDark">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file-excel-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Relatório de inscritos</div>
                            </div>
                        </div>
                    </div>
                    <a href="formularios/relatorio-inscritos" target="_blank">
                        <div class="panel-footer">
                            <span class="pull-left">Imprimir</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file-pdf-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Formulário de Redação e Gabarito</div>
                            </div>
                        </div>
                    </div>
                    <a href="selecao-inscricao/impressao-ficha">
                        <div class="panel-footer">
                            <span class="pull-left">Imprimir</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-blueDark">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file-excel-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Relatório de Salas</div>
                            </div>
                        </div>
                    </div>
                    <a href="formularios/relatorios-salas">
                        <div class="panel-footer">
                            <span class="pull-left">Imprimir</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file-excel-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Relatório dos Classificação</div>
                            </div>
                        </div>
                    </div>
                    <a href="lista-aprovados/relatorio-vestibular">
                        <div class="panel-footer">
                            <span class="pull-left">Imprimir</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
