<head>
    <style>
        body {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: -45px;
            margin-bottom: -10px;
        }
    </style>
</head>
<body>
<table width="90%">
    <tr>
        <td width="20%">
            <img src="<?=$this->logo?>" width="100px"/>
        </td>
        <td width="30%">
            <h3>Lista de Candidatos por Sala</h3>
            <h4 style="margin: 0px"><?= $this->vestibularDescricao ?> --- <?= $this->salaNome ?></h4>
        </td>
    </tr>
    <hr>
</table>
<table style="margin 0px; width: 100%; font-size: smaller;">
    <thead>
    <tr style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;">
        <td width="50%">Nome do Candidato</td>
        <td width="10%">Inscrição</td>
        <td width="20%">Língua Estrangeira</td>
    </tr>
    </thead>
    <?php
    $ingles = 0;
    $espanhol = 0;
    foreach($this->inscricoes as $inscricao):
        if($inscricao['inscricao_lingua_estrangeira'] === 'INGLES'){
            $ingles++;
        } else {
            $espanhol++;
        }
        ?>
        <tr>
            <td>
                <?= mb_strtoupper($inscricao['pes_nome']) ?>
            </td>
            <td>
                <?= $inscricao['inscricao_id'] ?>
            </td>
            <td>
                <?= $inscricao['inscricao_lingua_estrangeira'] ?>
            </td>
        </tr>
    <?php
    endforeach;
    ?>
    <hr>
</table>
<table style="width: 100%; margin-top: -5px">
    <thead>
    <tr>
        <td width="30%"><b>Total Geral: <?= count( $this->inscricoes ) ?></b></td>
        <td width="30%"><b>Total Ingles: <?= $ingles ?></b></td>
        <td width="30%"><b>Total Espanhol: <?= $espanhol ?></b></td>
    </tr>
    </thead>
</table>
</body>
