<head>
    <style>
        body {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: -45px;
            margin-bottom: -10px;
        }
    </style>
</head>
<table width="90%">
    <tr>
        <td width="20%">
            <img src="<?=$this->logo?>" width="100px"/>
        </td>
        <td width="30%">
            <h5><?= $this->mantenedora?></h5>
            <h5><?= $this->edicao; ?></h5>
            <h5>Relatório dos Candidatos Inscritos<h3>
        </td>
    </tr>
    <hr>
</table><table style="margin 0px; width: 100%; font-size: smaller;">
    <thead>
        <tr style = "font-weight: bold; margin-top: 5px; margin-bottom: 5px;" >
            <td width = "5%"></td>
            <td width = "15%" > Inscriçao</td >
            <td width = "50%" > Nome do Candidato </td >
            <td width = "15%" > Lingua Estrangeira</td >
        </tr >
        <?php
        foreach ($this->inscritos as $dados):
            $ordem++;
        ?>
        <tr>
            <td>
            <?= mb_strtoupper($ordem) ?>
            </td>
        <td>
            <?= mb_strtoupper($dados['inscricao']) ?>
        </td>
        <td>
            <?= mb_strtoupper($dados['nome']) ?>
        </td>
        <td>
            <?= mb_strtoupper($dados['lingua']) ?>
        </td>
        </tr>
        <?php
        endforeach;
     ?>
    </thead>
</table>
