<?php
    $form = $this->form;
    $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget( array('title'=>'Lista de presença') );
    $form->prepare();
    echo $this->form()->openTag( $form );
?>
    <header>
        Relatório de salas
    </header>
    <div class="row">
        <?= $this->spineForm()->formInput( $form->get('sala') ); ?>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput( $form->get('tipo') ); ?>
    </div>
    <?= $this->spineForm()->formInput( $form->get('Imprimir') ); ?>
<?php
    echo $this->form()->closeTag();
    echo $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
?>