.cke_editable {
    height: 1000px !important;
    width: 100% !important;
    overflow: hidden;
}

.chat-fieldset {
    display: block;
    position: static;
    height: 250px;
    padding: 10px 20px;
    overflow: auto;
}

.btn-green {
    color: #fff;
    background-color: #356b35;
    border-color: #356b35;
}

.btn-green:hover {
    color: #fff;
}

#mensagemConteudo {
    height: 50px;
}

.edit-body legend, .edit-body label, .edit-body h1 {
    font-weight: bolder;
}

.msg_recebida, .msg_enviada {
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    width: 95%;
    border-radius: 5px;
}

.msg_enviada {
    text-align: right;
    margin-left: 5%;
}

.msg_recebida {
    text-align: right;
    margin-right: 5%;
}

.msg_header {
    padding: 0% 1%;
    background: rgb(105, 128, 141);
    font-size: 13px;
    color: #fffefd;
}

.msg_body {
    padding: 1%;
    background: rgb(248, 248, 243);
    width: 100%;
}

.msg_body p {
    font-size: 12px;
}

.chat_corpo {
    margin-top: 10px;
}

.chat-legend {
    font-weight: 300;
}

.protocoloIdTitulo, .procotoloTextTitulo, .protocoloAssuntoTitulo {
    font-size: 150%;
    font-weight: bolder;
}

.destacado {
    background-color: rgb(206, 90, 90);
}