<?php

?>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 160px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px text-align : center;
    }
    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
    }


    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }


    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }

    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
        text-align: center;
    }

    .com  {
        border: 1px solid black;
        text-align: center;
    }
    .tdHeaderInfo{
        border-bottom: 1px solid black;
    }

    .trContent{
        border-right: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

</style>
<div id="footer">
    <hr>
    <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
</div>

<table id="header">
    <tr style="font-size: 80%;">
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="2" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5>RELATÓRIO DE CHEQUES  - ANALÍTICO </h5>
        </td>
    </tr>
    <tr style="font-size: 80%;">
        <td style="width:30%;" class="com">
            <b>PERIODO</b>
        </td>
        <td style="width:10%;" class="com">
            <b>DATA BASE</b>
        </td>
        <td style="width:30%;" class="com">
            <b>CHEQUES</b>
        </td>

    </tr>
    <tr style="font-size: 80%;">
        <td class="com"><?=$this->info['data-fim'].' - '.$this->info['data-inicio'] ?></td>
        <td class="com"><?= $this->dataBase ?> HRS</td>
        <td class="com"><?= $this->info['estado-cheque'] ?> </td>
    </tr>
</table>
<br><br><br><p>RELATÓRIO EM DESENVOLVIMENTO</p>
</body>
</html>
