<?php

?>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 160px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px text-align : center;
    }
    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
    }


    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }


    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }


    .com  {
        border: 1px solid black;
        text-align: center;
    }
    .tdHeaderInfo{
        border-bottom: 1px solid black;
    }

    .trContent{
        border-right: 1px solid black;
    }
    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
        text-align: center;
    }


    #footer .page:after {
        content: counter(page, upper);
    }

</style>
<div id="footer">
    <hr>
    <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
</div>

<table id="header">
    <tr style="font-size: 80%;">
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="2" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5>RELATÓRIO DE CHEQUES  - SINTÉTICO </h5>
        </td>
    </tr>
    <tr style="font-size: 80%;">
        <td style="width:30%;" class="com">
            <b>PERIODO</b>
        </td>
        <td style="width:10%;" class="com">
            <b>DATA BASE</b>
        </td>
        <td style="width:30%;" class="com">
            <b>CHEQUES</b>
        </td>

    </tr>
    <tr style="font-size: 80%;">
        <td class="com"><?=$this->info['data-fim'].' - '.$this->info['data-inicio'] ?></td>
        <td class="com"><?= $this->dataBase ?> HRS</td>
        <td class="com"><?= $this->info['estado-cheque'] ?> </td>
    </tr>
    <br><br>
</table>
<?php
$this->dados;
if(count($this->dados) !== 0):?>
<table id="headerinfo">
    <table  style="width: 100%;  "   >
        <tr BGCOLOR=#9D9D9E style="font-size: 80%; ">
            <td width="2%">
                <b>N.</b>
            </td>
            <td width="5%" >
                <b>MAT</b>
            </td>
            <td width="30%" >
                <b>ALUNO</b>
            </td>
            <td width="30%">
                <b>EMITENTE</b>
            </td>
            <td width="10%" >
                <b>CHEQUE</b>
            </td>
            <td width="10%" >
                <b>PAGO</b>
            </td>
            <td  width="10%" >
                <b>COMP.</b>
            </td>
            <td  width="3%" >
                <b>ATV</b>
            </td>

        </tr>
    </table>
</table>
<body>

<?php
$desc = count($this->dados);
$table  =round($desc/30,0);
$key = 0;
do{
    $desc - 30 > 30 ? $limite = 30 : $limite =  $desc;
    ?>
    <table id="content"  width="100%" >
        <?php for ($i = $key; $i < $limite; $i++):
            if($i%2 == 0):?>
                <tr style="width: 100%; font-size: 80%;text-transform: uppercase" >
                    <td width="2%"   > <?= $i + 1?></td>
                    <td width="5%"  ><?= substr($this->dados[$i]['alunocurso_id'],-5)?></td>
                    <td width="30%"  ><?=$this->dados[$i]['aluno']?></td>
                    <td width="30%"  ><?= $this->dados[$i]['cheque_emitente']?></td>
                    <td width="10"   >R$<?= $this->dados[$i]['cheque_valor'] ?></td>
                    <td width="10%"  >R$<?= $this->dados[$i]['titulocheque_valor']?></td>
                    <td width="10%"  ><?=( new \DateTime(str_replace("/","-",$this->dados[$i]['cheque_vencimento'])))->format("d-m-y")?></td>
                    <td width="3%"  ><?=($this->dados[$i]['titulocheque_estado'] == "Ativo") ? 'S':'N'?></td>

                </tr>
                <?php else: ?>
                <tr style="width: 100%; font-size: 80%;text-transform: uppercase" BGCOLOR=#9D9D9E>
                    <td width="2%"   > <?= $i + 1?></td>
                    <td width="5%"  ><?=substr($this->dados[$i]['alunocurso_id'],-5)?></td>
                    <td width="30%"  ><?=$this->dados[$i]['aluno']?></td>
                    <td width="30%"  ><?= $this->dados[$i]['cheque_emitente']?></td>
                    <td width="10"   >R$<?= $this->dados[$i]['cheque_valor'] ?></td>
                    <td width="10%"  >R$<?= $this->dados[$i]['titulocheque_valor']?></td>
                    <td width="10%"  ><?=( new \DateTime(str_replace("/","-",$this->dados[$i]['cheque_vencimento'])))->format("d-m-y")?></td>
                    <td width="3%"  ><?=($this->dados[$i]['titulocheque_estado'] == "Ativo") ? 'S':'N'?></td>

                </tr>
            <?php endif;
        endfor;?>

    <?php
    $key +=30;
    $alunos -= 30;
    $table --;
}while( $table >0 );
?>
<?php else: ?>
<p><b>NÃO EXISTE REGISTROS NO INTERVALO SELECIONADO.<b><p>
                <?php endif; ?>

</body>
</html>
