<?php

?>
<form method="post" class="smart-form" name="descontos" id="descontos-relatorio" action="<?=$this->basePath()?>/boleto-bancario/financeiro-relatorios/cheques" target="_blank" data-validate="yes">
    <br><label><b>RELATÓRIO DE CHEQUES POR SEMESTRE:</b></label><br><br>

    <section class="col-lg-4 col-sm-4 col-xs-4" hidden="hidden">
        <input type="text" id="date-now" value="<?php echo $this->dataAtual ?>" hidden="hidden"><input>
    </section>

    <div class="col-md-12">
        <br><br>
        <div class="row">
        </div>
        <table class="table table-bordered" >
            <tbody>
            <tr>
                <td COLSPAN="2" style="text-align: center" >
                <b>INTEREVALO DE ENTRADA DOS CHEQUES</b>
                </td>
            </tr>
            </tbody>
            <tbody>

            <tr>
                <td>
                    <section class="col-lg-4 col-sm-4 col-xs-4">
                        <label class="label">Data de Início:</label>
                        <label class="input">
                            <i class="icon-calendar">
                            </i>
                            <input type="text" name="data-inicio"  id="data-inicio" placeholder="00/00/0000" value="" data-masked="Date" data-validations="Data" required="required">
                        </label>
                        <div class="note"></div>
                    </section>
                </td>
                <td>
                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                        <label class="label">Data de Fim:</label>
                        <label class="input">
                            <i class="icon-calendar"></i>
                            <input type="text" name="data-fim" id="data-fim" placeholder="00/00/0000" value="" data-masked="Date" data-validations="Data" required="required">
                        </label>
                        <div class="note"></div>
                    </section>
                </td>

            </tr>
            </tbody>
        </table>
        </br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:50%">Modelo Relatorio</th>
                <th style="width:50%">Estado</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio-cheque" id="Sintetico-cheques" checked="checked" value="boleto/financeiro-relatorios/cheques-sintetico">
                        <i></i>Sintetico</label>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio-cheque" id="Analitico-cheques" value="<?=$this->basePath()?>/boleto/financeiro-relatorios/cheques-analitico">
                        <i></i>Analitico</label>
                </td>
                <td>
                    <label class="radio">
                        <input type="radio" name="estado-cheque" id="Todos" checked="checked" value="Todos">
                        <i></i>Todos</label>
                    <label class="radio">
                        <input type="radio" name="estado-cheque" id="Compensados" checked="checked" value="Compensação">
                        <i></i>Compensação</label>
                    <label class="radio">
                        <input type="radio" name="estado-cheque" id="NCompensados" value="Aberto">
                        <i></i>Não Compensados</label>
                    <label class="radio">
                        <input type="radio" name="estado-cheque" id="Cancelados" value="Cancelados">
                        <i></i>Cancelados</label>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
        </div>
    </div>
    <footer>
        <button type="submit" class="btn btn-primary" id="titulos">Gerar Relatório</button>
    </footer>
</form>
<script>
    $spine().validateForm();
    validaDatas();
    validaCampos()

</script>

