<?php
$urlCursos  = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'busca-turmas'));
?>

<style>
    .limpar{
        width: 86%;
        padding-bottom: 10px;
    }

    .btn,.btn-default{
        padding: 8px !important;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form method="post" class="smart-form" name="dependencia-adaptacao" id="dependencia-adaptacao" action="<?=$this->basePath()?>/boleto-bancario/financeiro-relatorios/dependencia-adaptacao" target="_blank" data-validate="yes">
                        <h4>
                            <b>Relatório de Dependência e Adaptação</b>:
                        </h4>

                        <div class="col-sm-12">
                            <br>
                            <label for="turmas"><b>Turmas:</b></label><br>
                            <input type="text" id="turmas" class="limpar" name="turmas[]"/>
                        </div>

                        <div class="col-sm-2">
                            <label ><b>Situação:</b></label><br>
                            <div class="input-group">
                                <input type="radio" name="titulotipo" id="pago" value="pago" checked>
                                <label for="pago">Pagos</label><br>
                                <input type="radio" name="titulotipo" id="cancelado" value="cancelado">
                                <label for="cancelado">Cancelados</label><br>
                                <input type="radio" name="titulotipo" id="aberto" value="aberto">
                                <label for="aberto">Abertos</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label ><b>Tipo de Título:</b></label><br>
                            <div class="input-group">
                                <input type="checkbox" name="situacao[]" id="adaptacao" value="27" checked>
                                <label for="adaptacao">Adaptação</label><br>
                                <input type="checkbox" name="situacao[]" id="dependencia" value="26" checked>
                                <label for="dependencia">Dependência</label>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <br>
                            <div class="input-group">
                                <label for="dataInicial"><b>Data incial:</b></label>
                                <input type="text" name="dataInicial" id="dataInicial" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <br>
                            <div class="input-group">
                                <label for="dataFinal"><b>Data Final:</b></label>
                                <input type="text" name="dataFinal" id="dataFinal" class="form-control" required>
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center btn-style">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-gear"></i>
                                    Gerar inventário
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    window.urlBuscaTurmas = '<?php echo $urlCursos ?>';
$(function(){
        $spine().validateForm();
        validaDatas();

    });
</script>
