<?php
ini_set('memory_limit', '-1');
ini_set('max_execution_time', 400);

?>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<style>
    @page {
        margin: 140px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -130px;
        right: 0px;
        height: 150px text-align : center;
    }


    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }


    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }

    .com  {
        border: 1px solid black;
        text-align: center;
    }
    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
        text-align: center;
    }


    #footer .page:after {
        content: counter(page, upper);
    }

</style>
<div id="footer">
    <hr>
    <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
</div>

<table id="header">
    <tr>
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="4" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5>RELATÓRIO DE DESCONTOS SEMESTRAL- ANALÍTICO </h5>
        </td>
    </tr>
    <tr>
        <td style="width:30%;" class="com">
            <b>Semetre</b>
        </td>
        <td style="width:6%;" class="com">
            <b>Data Base</b>
        </td>
        <td style="width:5%;" class="com">
            <b>Turno</b>
        </td>
        <td style="width:24%;" class="com">
            <b>Período</b>
        </td>
        <td style="width:20%;" class="com">
            <b>Descontos</b>
        </td>

    </tr>
    <tr>
        <td class="com"><?= $this->semestre?></td>
        <td class="com"><?= $this->dataAtual?></td>
        <td class="com"><?= $this->dados['turnos'] ?></td>
        <td class="com">Semestral</td>
        <td class="com"><?= $this->dados['tipo_desconto']?></td>
    </tr>
    <br><br><br>
</table>
<body>

<?php if(!empty($this->descAlunos)) {?>
    <?php

    foreach ( $this->descAlunos as  $contAluno=>$aluno):
        $rowspan = count($aluno['descontos']);
        $quebra = $quebra + 1 ;
        ?>
        <table id="content" style="right: 110px; font-size: 9px ; border: 1px solid black; text-align: center" width="100%" >
            <tr>
                <td width="20%" valign="center" rowspan="<?= $rowspan + 3 ?>"  style="text-align: center; vertical-align: middle">
                    <b><?= $aluno['aluno']['matricula'].'-'.$aluno['aluno']['nome']?></b> </br>
                    <b><?= $aluno['aluno']['turma'].'-'.$aluno['aluno']['serie']?>Periodo</b></br>
                    <b><?= $aluno['aluno']['turno']?></b>


                </td>
                <td style="width: 20%; text-transform: uppercase; text-end-overflow: 10%" class="com" >
                    <b>DESCONTO</b>
                </td>
                <td style="width: 5%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                    <b>MENSALIDADE</b>
                </td>
                <td style="width: 20%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                    <b>VALOR CONCEBIDO</b>
                </td>
                <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                    <b>TIPO DESCONTO</b>
                </td>
                <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                    <b>ESTADO</b>
                </td>
            </tr>
            <?php for($y=0;$y<count($aluno['descontos']);$y++):?>
                <tr>
                    <td style="width: 8%; text-transform: uppercase; text-end-overflow: 10%" class="com" >
                       <?= $aluno['descontos'][$y]['descricao'] ?>
                    </td>
                    <td style="width: 8%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                        <?= '-' ?>
                    </td>
                    <td style="width: 8%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                        <?= $aluno['descontos'][$y]['valor'] ?>
                    </td>
                    <td style="width: 8%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                       <?= $aluno['descontos'][$y]['tipo'] ?>
                    </td>
                    <td style="width: 8%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                        <?= $aluno['descontos'][$y]['status'] ?>
                    </td>
                </tr>

            <?php endfor?>
             <tr>
                <td style="width: 20%; text-transform: uppercase; text-end-overflow: 10%" class="com" >
                    <b>TOTAIS:</b>
                </td>
                <td style="width: 5%; text-transform: uppercase; text-end-overflow: 10% " class="com" colspan="2" >
                    <b>DESCONTOS ATIVO: R$ </b>
                    <?= number_format(round($aluno['descontosAtivos']['totalAtivo'],0), 2, ',', '.') ?>
                </td>
                <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com" colspan="2" >
                    <b>DESCONTOS INATIVO: R$ </b>
                    <?= number_format(round($aluno['descontosInativo']['totalInativo'],0), 2, ',', '.') ?>
            </tr>
        </table>
    <?php
    if($contAluno % 3 == 0 and $contAluno ==! 0 ):?>
        </table>
        <?php if((sizeof($this->descAlunos)-1) ==! $contAluno)?>
                <p style="page-break-before: always;"></p>
    <?php endif;
    endforeach;?>
<?php }else {
    echo "SEM REGISTROS PARA ESTE INTERVALO DE DATAS";
}
?>
</body>
</html>

