<?php

?>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 160px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px text-align : center;
    }
    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
    }


    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }


    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }
    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
        text-align: center;
    }



    .com  {
        border: 1px solid black;
        text-align: center;
    }
    .tdHeaderInfo{
        border-bottom: 1px solid black;
    }

    .trContent{
        border-right: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

</style>
<div id="footer">
    <hr>
    <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
</div>

<table id="header">
    <tr>
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="4" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5>RELATÓRIO DE DESCONTOS SEMESTRAL- SINTÉTICO</h5>
        </td>
    </tr>
    <tr>
        <td style="width:30%;" class="com">
            <b>Semetre</b>
        </td>
        <td style="width:6%;" class="com">
            <b>Data Base</b>
        </td>
        <td style="width:5%;" class="com">
            <b>Turno</b>
        </td>
        <td style="width:24%;" class="com">
            <b>Período</b>
        </td>
        <td style="width:20%;" class="com">
            <b>Descontos</b>
        </td>

    </tr>
    <tr>
        <td class="com"><?= $this->semestre?></td>
        <td class="com"><?= $this->dataAtual?></td>
        <td class="com">Todos</td>
        <td class="com">Semestral</td>
        <td class="com">Todos</td>
    </tr>
    <br><br>
</table>
<?php if(count($this->descontos) !== 0):?>
<table id="headerinfo">
    <table  style="width: 100%; text-align: center "   >
        <tr>
            <td width="2%"  class="com" ><b>N.</b></td>
            <td width="16%" class="com">
                <b>DESCONTO</b>
            </td>
            <td width="15%" class="com">
                <b>TIPO</b>
            </td>
            <td width="5%" class="com">
                <b>(%) MAX</b>
            </td>
            <td width="7%" class="com" >
                <b>VAL. MAX</b>
            </td>
            <td width="7%"  class="com">
                <b>QTD. ALUNOS</b>
            </td>
            <td  width="16%" class="com" >
                <b>TOTAL BRUTO</b>
            </td>
            <td  width="16%" class="com" >
                <b>DESCONTO</b>
            </td>
            <td  width="16%" class="com" >
                <b>PERC.(%)</b>
            </td>
        </tr>
    </table>
</table>
<body>

<?php
$desc = count($this->descontos);
$table  =round($desc/30,0);
$key = 0;
do{
    $desc - 30 > 30 ? $limite = 30 : $limite =  $desc;
    $valorTotal = 0;
    $totalGeral = 0;
    $beneficiados = 0;
    ?>
    <table id="content"  width="100%" >
        <?php for ($i = $key; $i < $limite; $i++):
            if($this->descontos[$i]['beneficiados'] > 0):?>
                <tr style="width: 100%; ">
                    <td width="2%"  class="com" > <?= $i + 1?></td>
                    <td width="16%" class="com" ><?= $this->descontos[$i]['desctipo_descricao'] ?></td>
                    <td width="15%" class="com"><?= $this->descontos[$i]['desctipo_modalidade'] ?></td>
                    <td width="5%"  class="com" ><?= $this->descontos[$i]['desctipo_percmax'] ?></td>
                    <td width="7%"  class="com" ><?= $this->descontos[$i]['desctipo_valormax'] ?></td>
                    <td width="7%"  class="com" style="text-align: center                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       "><?= $this->descontos[$i]['beneficiados'] ?></td>
                    <td width="16%" class="com" style="text-align: right"><?=   number_format(($this->descontos[$i]['mensalidades'] * $this->mensalidadeValor), 2, ',', '.')?></td>
                    <td width="16%" class="com" style="text-align: right"><?= number_format($this->descontos[$i]['total'], 2, ',', '.') ?></td>
                    <td width="16%" class="com" style="text-align: right"><?=  round((($this->descontos[$i]['total'] / ($this->descontos[$i]['mensalidades'] * $this->mensalidadeValor ))*100),0) ?>%</td>
                </tr>
        <?php
            $valorTotal += $this->descontos[$i]['mensalidades'] * $this->mensalidadeValor;
            $totalGeral += $this->descontos[$i]['total'];
            $beneficiados += $this->descontos[$i]['beneficiados'];
                endif;
        endfor;?>
    </table>
    <br>
    <p><b>ALUNOS BENEFICIADOS: <?=  $beneficiados?> </b></p>
    <p><b>TOTAL BRUTO: <?=   number_format($valorTotal, 2, ',', '.')?></b> </p>
<p><b>TOTAL DESCONTOS CONCEDIDO: <?= number_format($totalGeral, 2, ',', '.') ?></b> </p>
    <?php
    $key +=30;
    $alunos -= 30;
    $table --;
}while( $table >0 );
?>
<?php else: ?>
<p><b>NÃO EXISTE REGISTROS NO INTERVALO SELECIONADO.<b><p>
                <?php endif; ?>

</body>
</html>
