<?php
ini_set('memory_limit', '-1');
ini_set('max_execution_time', 300);

?>
    <style>
        @page {
            margin: 160px 50px;
        }

        #header {
            position: fixed;
            left: 0;
            top: -150px;
            right: 0;
            height: 150px text-align : center;
        }

        #footer {
            position: fixed;
            left: 0;
            bottom: -181px;
            right: 0;
            height: 150px;
        }

        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
            font-size: 15px;

        }

        .com {
            border: 1px solid black;
            text-align: center;
        }
        .logo{
            max-width: 180px;
            text-align: center;
            max-height: 120px;
            text-align: center;
        }


        #footer .page:after {
            content: counter(page, upper);
        }
    </style>
    <div id="footer">
        <hr>
        <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
    </div>

    <table id="header">
        <tr>
            <td width="30%" valign="top" class="com">
                <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
            </td>
            <td width="70%" valign="top" style="text-align: center" colspan="4" class="com">
                <h4><?= ($this->mantenedora) ?></h4>
                <h4><?= ($this->ies) ?></h4>
                <h5>RELATÓRIO DE DESCONTOS SEMESTRAL- ANALÍTICO </h5>
            </td>
        </tr>
        <tr>
            <td style="width:30%;" class="com">
                <b>Semetre</b>
            </td>
            <td style="width:6%;" class="com">
                <b>Data Base</b>
            </td>
            <td style="width:5%;" class="com">
                <b>Turno</b>
            </td>
            <td style="width:24%;" class="com">
                <b>Período</b>
            </td>
            <td style="width:20%;" class="com">
                <b>Descontos</b>
            </td>

        </tr>
        <tr>
            <td class="com"><?= $this->semestre ?></td>
            <td class="com"><?= $this->dataAtual ?></td>
            <td class="com"><?= $this->dados['turnos'] ?></td>
            <td class="com">Semestral</td>
            <td class="com">Todos</td>
        </tr>
        <br><br>
    </table>
<?php if (!empty($this->descontos)) { ?>
    <?php
    $parcela  = 0;
    $acresc   = 0;
    $valor    = 0;
    $desconto = 0;

    for ($i = 0; $i < count($this->descontos); $i++):
        $total[1] += $this->descontos[$i][1];
        $total[2] += $this->descontos[$i][2];
        $total[3] += $this->descontos[$i][3];
        $total[4] += $this->descontos[$i][4];
        $total[5] += $this->descontos[$i][5];
        $total[6] += $this->descontos[$i][6];
        $total[7] += $this->descontos[$i][7];
        $total[8] += $this->descontos[$i][8];
        $total[9] += number_format($this->descontos[$i][9], 2, ',', '.');
        $total[10] += $this->descontos[$i][10]; ?>
        <table id="content" style="right: 110px; border: 1px solid black; text-align: " width="100%">
            <tr class="com">
                <td width="100%" colspan="10" valign="center" style="text-align: center; vertical-align: middle">
                    <b><u><?= $this->descontos[$i]['desctipo_descricao']; ?></u></b>
                </td>
            </tr>
            <tr class="com">
                <td width="100%" colspan="10" style="text-align: center" class="com">
                    <b>PERIODOS</b>
                </td>
            </tr>
            <tr class="com">
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>1º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>2º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>3º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>4º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>5º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>6º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>7º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>8º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>9º</b>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <b>10º</b>
                </td>
            </tr>
            <tr class="com">
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][1], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][2], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][3], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][4], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][5], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][6], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][7], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][8], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][9], 2, ',', '.') ?>
                </td>
                <td style="width: 8%; text-transform: uppercase;" class="com">
                    <?= number_format($this->descontos[$i][10], 2, ',', '.') ?>
                </td>
            </tr>
        </table>
        <?php
        if ($i == 3) {
            ?>
            <p style="page-break-before: always;"></p>

        <?php }
    endfor; ?>
    <table id="content" style="right: 110px; border: 1px solid black; text-align: " width="100%">
        <tr class="com">
            <td width="20%" valign="center" rowspan="9" style="text-align: center; vertical-align: middle">
                <b><u>TOTAIS DE DESCONTOS</u></b>
            </td>
            <td width="80%" colspan="10" style="text-align: center" class="com">
                <b>PERIODOS</b>
            </td>
        </tr>
        <tr>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>1º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>2º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>3º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>4º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>5º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>6º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>7º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>8º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>9º</b>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <b>10º</b>
            </td>
        </tr>
        <tr class="com">
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[1], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[2], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[3], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[4], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[5], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[6], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[7], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[8], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[9], 2, ',', '.') ?>
            </td>
            <td style="width: 8%; text-transform: uppercase;" class="com">
                <?= number_format($total[10], 2, ',', '.') ?>
            </td>
        </tr>
    </table>

<?php } else {
    echo "SEM REGISTROS PARA ESTE INTERVALO DE DATAS";
}
?>