<?php

?>
<form method="post" class="smart-form" name="descontos" id="descontos-relatorio"
      action="<?=$this->basePath()?>/boleto-bancario/financeiro-relatorios/descontos" target="_blank" data-validate="yes">
    <br><label><b>RELATÓRIO DE DESCONTOS POR SEMESTRE:</b></label><br><br>

    <section class="col-lg-4 col-sm-4 col-xs-4" hidden="hidden">
        <input type="text" id="date-now" value="29/09/2015" hidden="hidden"><input>
    </section>

    <div class="col-md-12">
        <br><br>

        <div class="row">
        </div>
        <table class="table table-bordered" hidden="hidden">
            <tbody>
            <tr>
                <th style="width:45%">Data Inicio</th>
                <th style="width:45%">Data Fim</th>
            </tr>

            </tbody>
            <tbody>
            <tr>
                <td>
                    <section class="col-lg-4 col-sm-4 col-xs-4">
                        <label class="label">Data de Início:</label>
                        <label class="input">
                            <i class="icon-calendar">
                            </i>
                            <input type="text" name="data-inicio" id="data-inicio" placeholder="00/00/0000" value=""
                                   data-masked="Date" data-validations="Data">
                        </label>

                        <div class="note"></div>
                    </section>
                </td>
                <td>
                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                        <label class="label">Data de Fim:</label>
                        <label class="input">
                            <i class="icon-calendar"></i>
                            <input type="text" name="data-fim" id="data-fim" placeholder="00/00/0000" value=""
                                   data-masked="Date" data-validations="Data">
                        </label>

                        <div class="note"></div>
                    </section>
                </td>

            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:50%">Modelo Relatorio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio" id="modelo-relatorio-sintetico" checked="checked"
                               value="<?=$this->basePath()?>/boleto/financeiro-relatorios/descontos-sintetico">
                        <i></i>Sintetico</label>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio" id="modelo-relatorio-analitico"
                               value="<?=$this->basePath()?>/boleto/financeiro-relatorios/descontos-analitico">
                        <i></i>Analitico</label>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered" id="filtros-sintetico">
            <thead>
            <tr>
                <th style="width:50%">Filtros</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio-sintetico" id="descontos_sintetico" checked="checked"
                               value="descontos">
                        <i></i>Geral</label>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio-sintetico" id="alunos_sintetico"
                               value="alunos_sintetico">
                        <i></i>Alunos</label>
                </td>
            </tr>
            </tbody>
        </table>
        <table>

        <div class="row">
        </div>
        <table class="table table-bordered" id="modelo-analitico" hidden="hidden" style="width:100%">
            <thead>
            <tr>
                <th style="width:30%" id="coluna-serie">Filtro</th>
                <th style="width:35%">Turno</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="radio">
                        <input type="radio" name="periodo-turmas" checked="checked" value="periodo" id="periodo-turmas-turma">
                        <i></i>Turma</label>
                    <label class="radio">
                        <input type="radio" name="periodo-turmas"
                               value="<?=$this->basePath()?>/boleto/financeiro-relatorios/descontos-analitico-alunos" id="periodo-turmas-alunos">
                        <i></i>Aluno</label>
                </td>

                <td>
                    <label class="label"></label>
                    <section>
                        <label class="select">
                            <select class="col-lg-4 col-sm-4 col-xs-4" data-validations="Required" name="turnos">
                                <option value="Todos">Todos</option>
                                <option value="Matutino">Matutino</option>
                                <option value="Noturno">Noturno</option>
                            </select>
                        </label>
                    </section>

                </td>

            </tr>
            </tbody>
        </table>
            <table  class="table table-bordered" id="filtro-descontos" hidden="hidden" style="width:100%">
                <th style="width:50%">Tipo de Desconto</th>

                <tr>
                    <td>
                        <label class="label"></label>
                        <section>
                            <label class="select">
                                <select class="col-lg-4 col-sm-4 col-xs-4" data-validations="Required" name="tipo_desconto">
                                    <?php foreach($this->descontos as $desconto):?>
                                        <option value="<?=$desconto['desctipo_descricao'] ?>"><?= $desconto['desctipo_descricao'] ?></option>
                                    <?php endforeach?>  
                                    <option value="Dispensa de Disciplina">Dispensa de Disciplina</option>
                                </select>
                            </label>
                        </section>

                    </td>
                </tr>
            </table>
    </div>
    <footer>
        <button type="submit" class="btn btn-primary" id="titulos">Gerar Relatório</button>
    </footer>
</form>
<script>
    $spine().validateForm();
    validaDatas();
    validaCampos()

</script>

