<?php

?>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<style>
    @page {
        margin: 160px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -150px;
        right: 0px;
        height: 150px text-align : center;
    }
    #headerinfo {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 110px;
    }


    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }


    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        font-size: 12px;

    }


    .com  {
        border: 1px solid black;
        text-align: center;
    }
    .tdHeaderInfo{
        border-bottom: 1px solid black;
    }
    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
        text-align: center;
    }

    .trContent{
        border-right: 1px solid black;
    }

    #footer .page:after {
        content: counter(page, upper);
    }

</style>
<div id="footer">
    <hr>
    <p style="text-align: end; color: #a20000"> *Este relatório não considera os financiamentos para sua geração. </p>

    <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
</div>

<table id="header">
    <tr>
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="4" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5>RELATÓRIO DE DESCONTOS SEMESTRAL- SINTÉTICO</h5>
        </td>
    </tr>
    <tr>
        <td style="width:30%;" class="com">
            <b>Semetres</b>
        </td>
        <td style="width:6%;" class="com">
            <b>Data Base</b>
        </td>
        <td style="width:5%;" class="com">
            <b>Turno</b>
        </td>
        <td style="width:24%;" class="com">
            <b>Período</b>
        </td>
        <td style="width:20%;" class="com">
            <b>Descontos</b>
        </td>

    </tr>
    <tr>
        <td class="com"><?= $this->semestre?></td>
        <td class="com"><?= $this->dataAtual?></td>
        <td class="com">Todos</td>
        <td class="com">Semestral</td>
        <td class="com">Todos</td>
    </tr>
    <br><br>
</table>
<?php if(count($this->descontos) !== 0):?>
<table id="headerinfo">
    <table  style="width: 100%;  background: #A8A8A8 ">
        <tr>
            <td width="7%"  ><b>N.</b></td>
            <td width="10%" >
                <b>Matricula</b>
            </td>
            <td width="40%" >
                <b>Aluno</b>
            </td>
            <td width="13%" >
                <b>Turma</b>
            </td>
            <td width="22%"  >
                <b>Desconto</b>
            </td>
            <td width="8%"  >
                <b>Perc(%)</b>
            </td>
        </tr>
    </table>
</table>

    <?php foreach($this->descontos as $cont=>$desconto):?>
        <table id="content"  style="width: 100%">

        <?php $blackground = ($cont % 2 === 0)? '#A8A8A8' : '';
        ?>

     <tr  style="background: <?= $blackground ?>" >
         <td width="7%" ><?= $cont ?></td>
         <td width="10%"><?= substr($desconto['matricula'],-5)?></td>
         <td width="40%"><?= $desconto['pes_nome']?></td>
         <td width="13%"><?= $desconto['turma_nome']?></td>
         <td width="25%"><?= $desconto['desconto']?></td>
         <td width="5%"><?= $desconto['percentual']?></td>
     </tr>
        </table>
    <?php
    $sumPerc += $desconto['percentual'];
        endforeach?>
    <br>
  <p style="text-align: center"><b><u>TOTAL REPRESENTATIVO DE BOLSAS INTEGRAIS: <?= round($sumPerc/100,2) ?><u></b></p>
<?php endif ?>

