<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Relatórios Financeiros', 'icon' => 'fa fa-gear', 'id' => 'oi'));
?>
<script src="<?= $this->basePath(); ?>/material-admin/assets/js/libs/select2/select2.js"></script>
<script src="<?= $this->basePath(); ?>/material-admin/assets/js/libs/select2/select2_locale_pt-BR.js"></script>
<script src="<?= $this->basePath(); ?>/material-admin/assets/js/libs/inputmask/jquery.inputmask.bundle.js"></script>
<script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>
<script src="<?= $this->basePath(); ?>/js/jquery.validate.extra.br.js"></script>
<script src="<?= $this->basePath(); ?>/material-admin/assets/js/libs/jquery-validation/src/localization/messages_pt_BR.js"></script>
<script src="<?=$this->basePath()?>/js/universa/boleto/financeiro-relatorios/index.js?nocache=<?= date("Y-m-d H:i:s") ?>"></script>
<script src="<?= $this->basePath(); ?>/js/datepicker-pt-BR.js"></script>
<script src="<?=$this->basePath()?>/js/universa/boleto/financeiro-relatorios/multa-juros.js"></script>

<div role="content" style="display: block; padding-left: 15px">

    <!-- widget edit box -->
    <div class="jarviswidget-editbox" >
        <!-- This area used as dropdown edit box -->

    </div>

    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

        <form class="smart-form" name="relatorios" id="relatorios" method="post">

            <fieldset>
                <section>
                    <label class="label"><b>Selecione o tipo de Relatorio ou Documento:</b></label><br>

                    <div class="inline-group ">
                        <label class="radio">
                            <input type="radio" name="in-radio" id="titulos" value="">
                            <i></i>Mensalidades</label>
                        <label class="radio">
                            <input type="radio" name="in-radio" id="descontos">
                            <i></i>Descontos</label>
                        <label class="radio">
                            <input type="radio" name="in-radio" id="cheques">
                            <i></i>Cheques</label>
                        <label class="radio">
                            <input type="radio" name="in-radio" id="comprovante-renda">
                            <i></i>Comprovante de Renda</label>
                        <label class="radio">
                            <input type="radio" name="in-radio" id="dependencia-adaptacao">
                            <i></i>Dependências e Adaptações</label>
                        <label class="radio">
                            <input type="radio" name="in-radio" id="multas-juros">
                            <i></i>Multas e Juros</label>
                    </div>
                </section>
            </fieldset>
        </form>
        <div id="blocks-profile-taxas" class="tab-pane">

        </div>

        <div id="blocks-profile-titulos" class="tab-pane">

        </div>

        <div id="blocks-profile-descontos" class="tab-pane">

        </div>

        <div id="blocks-profile-cheques" class="tab-pane">

        </div>
        <div id="blocks-profile-comprovante-renda" class="tab-pane">

        </div>
        <div id="blocks-profile-dependencia-adaptacoes" class="tab-pane">

        </div>
        <div id="blocks-profile-multas-juros" class="tab-pane">

        </div>
    </div>
    <!-- end widget content -->

</div>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
