<?php
ini_set('memory_limit', '-1');
ini_set('max_execution_time', 300);
?>
<html>
<style>
    @page {
        margin: 140px 50px;
    }

    #header {
        position: fixed;
        left: 0px;
        top: -130px;
        right: 0px;
        height: 150px text-align : center;
    }

    #footer {
        position: fixed;
        left: 0px;
        bottom: -181px;
        right: 0px;
        height: 150px;
    }

    h4, h5 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;

    }
    .logo{
        max-width: 180px;
        text-align: center;
        max-height: 120px;
        text-align: center;
    }


    .com  {
        border: 1px solid black;
        text-align: center;
    }

    /*#footer .page:after {*/
        /*content: counter(page, upper);*/
    /*}*/

</style>


<table id="header">
    <tr>
        <td width="30%" valign="top" class="com">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>
        <td width="70%" valign="top" style="text-align: center" colspan="5" class="com">
            <h4><?= ($this->mantenedora) ?></h4>
            <h4><?= ($this->ies) ?></h4>
            <h5><?= ($this->dados['forma-pagamento'] !== 'pagos' ) ? "RELATÓRIO ANALÍTICO DOS ALUNOS INADIMPLENTES" :  "RELATÓRIO ANALÍTICO DOS ALUNOS ADIMPLENTES" ?></h5>
        </td>
    </tr>
    <tr>
        <td style="width:30%;" class="com">
            <b>Semestre</b>
        </td>
        <td style="width:6%;" class="com">
            <b>Data Base</b>
        </td>
        <td style="width:5%;" class="com">
            <b>Turno</b>
        </td>
        <td style="width:4%; " class="com" >
            <b>Turma</b>
        </td>
        <td style="width:20%;" class="com">
            <b>Período</b>
        </td>
        <td style="width:15%;" class="com">
            <b>Formas de Pagamento</b>
        </td>
    </tr>
    <tr>
        <td class="com"><?= $this->semestre?></td>
        <td class="com"><?= $this->dataBase?></td>
        <td class="com"><?= $this->dados['turnos']?></td>
        <td class="com"><?= $this->dados['turmas']?></td>
        <td class="com"><?= $this->dados['data-inicio']?>-<?= $this->dados['data-fim'] ?></td>
        <?php if($this->dados['forma-pagamento'] !== 'pagos'): ?>
            <td class="com"style="text-align: center; text-transform: lowercase" > -</td>
        <?php else: ?>
            <td class="com"><?= $this->dados['dinheiro']?> <?= $this->dados['cheque'] ?></td>
        <?php endif ?>
    </tr>
    <br><br>
</table>
<table id="footer">
    <p class="page" style="text-align: right">- </p>
</table>
<body>
<?php
$cont = 0;
foreach ($this->alunos as $aluno) { ?>
    <table id="content" style="right: 300px; font-size: 10px; border: 1px solid black;" width="100%" >
        <?php
        $cont ++;
        $quebra ++;
        $count = count($aluno['mensalidade']) + 2;
        ?>
        <tr class="com">
                <td width="40%" valign="center" rowspan="<?=$count ?>" class="com" style="text-align: center">
                <?= $aluno['informacoes']['nome']?><br>
                Mat:<?= substr($aluno['informacoes']['mat'],-5) ?> - Turma: <?= $aluno['informacoes']['turma'] ?><br>
                Fone:<?= $aluno['informacoes']['telefone'] ?> - <?= $aluno['informacoes']['celular'] ?><br>
                Email: <?= $aluno['informacoes']['email'] ?><br>
                End: <?= $aluno['informacoes']['rua'] ?><br>
                Bairro: <?= $aluno['informacoes']['bairro'] ?><br>
                <?= $aluno['informacoes']['cidade'] . ' - '.$aluno['informacoes']['cep'] ?><br><br><br><br>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <b>Vencimento</b>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <b><?= ($this->dados['forma-pagamento'] !== 'pagos' ) ? "DIAS DE ATRASO" :  "PAGAMENTO" ?></b>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <b>Parcela</b>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% "class="com">
                <b>Valor</b>
            </td>

            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10%" class="com" >
                <b>Descontos</b>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10%" class="com" >
                <b>Acréscimo</b>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <b>VALOR FINAL</b>
            </td>
        <?php
        foreach ($aluno['mensalidade'] as $mensalidades):
        if($this->dados['forma-pagamento'] !== 'pagos'){ ?>
        <tr>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= (new \DateTime($mensalidades['vencimento']))->format("d-m-Y"); ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= $mensalidades['dias']; ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= $mensalidades['mes_parcela'] ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= $mensalidades['valor'] ?>
            </td>

            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?php if (empty($mensalidades['descontos'])) {
                } ?>
                <?= number_format($mensalidades['descontos'], 2, ',', '.') ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= $mensalidades['acrescimo'] ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= number_format($mensalidades['valorFinal'], 2, ',', '.') ?>
            </td>
        </tr>
    <?php ;
        }else{?>
        <tr>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= ( new \DateTime($mensalidades['vencimento']))->format("d-m-Y"); ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= ( new \DateTime($mensalidades['pagamento']))->format("d-m-Y"); ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10%  " class="com">
                <?= $mensalidades['mes_parcela'] ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= $mensalidades['valor'] ?>

            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= number_format($mensalidades['descontos'], 2, ',', '.') ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= number_format(round($mensalidades['acrescimo'],0), 2, ',', '.')  ?>
            </td>
            <td style="width: 10%; text-transform: uppercase; text-end-overflow: 10% " class="com">
                <?= number_format($mensalidades['valorPago'], 2, ',', '.') ?>
            </td>
        </tr>
    <?php }

    endforeach?>
        <tr>
            <td colspan="7" style="text-align: center"><b>TOTAL LIQUIDO:<?= number_format($aluno['totalizador']['valor'], 2, ',', '.').' - DESCONTOS: '.number_format($aluno['totalizador']['desconto'], 2, ',', '.').'- ACRESCIMOS: '.number_format($aluno['totalizador']['acrescimo'], 2, ',', '.').' - VALOR FINAL: '.number_format($aluno['totalizador']['valorFinal'], 2, ',', '.') ?></b></td>
        </tr>
    </table><br>
        <?php if($cont == 3){?>
            <p style="page-break-before: always;"></p>
        <?php }?>
<?php }

?>
</body>

</html>
