    <html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        @page {
            margin: 160px 50px;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -150px;
            right: 0px;
            height: 150px text-align : center;
        }
        #headerinfo {
            position: fixed;
            left: 0px;
            top: -58px;
            right: 0px;
            height: 110px;
        }


        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }


        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

        }


        .com  {
            border: 1px solid black;
            text-align: center;
        }
        .tdHeaderInfo{
            border-bottom: 1px solid black;
        }
        .logo{
            max-width: 180px;
            text-align: center;
            max-height: 120px;
            text-align: center;
        }

        .trContent{
            border-right: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

    </style>
    <div id="footer">
        <hr>
        <p class="page" style="text-align: right">Versa Tecnologia\Universa - pág </p>
    </div>

    <table id="header">
        <tr>
            <td width="30%" valign="top" class="com">
                <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
            </td>
            <td width="70%" valign="top" style="text-align: center" colspan="5" class="com">
                <h4><?= ($this->mantenedora) ?></h4>
                <h4><?= ($this->ies) ?></h4>
                <h5><?= ($this->dados['forma-pagamento'] !== 'pagos' ) ? "RELATÓRIO SINTÉTICO DOS ALUNOS INADIMPLENTES" :  "RELATÓRIO SINTÉTICO DOS ALUNOS ADIMPLENTES" ?><h5>
            </td>
        </tr>
        <tr>
            <td style="width:30%;" class="com">
                <b>Semetres</b>
            </td>
            <td style="width:6%;" class="com">
                <b>Data Base</b>
            </td>
            <td style="width:5%;" class="com">
                <b>Turno</b>
            </td>
            <td style="width:4%; " class="com" >
                <b>Turma</b>
            </td>
            <td style="width:20%;" class="com">
                <b>Período</b>
            </td>
            <td style="width:15%;" class="com">
                <b>Formas de Pagamento</b>
            </td>
        </tr>
        <tr>
            <td class="com"><?= $this->semestre?></td>
            <td class="com"><?= $this->dataBase?></td>
            <td class="com"><?= $this->dados['turnos']?></td>
            <td class="com"><?= $this->dados['turmas']?></td>
            <td class="com"><?= $this->dados['data-inicio']?>-<?= $this->dados['data-fim'] ?></td>
            <?php if($this->dados['forma-pagamento'] !== 'pagos'): ?>
                <td class="com"style="text-align: center"> -</td>
            <?php else: ?>
                <td class="com"><?= $this->dados['dinheiro']?> <?= $this->dados['cheque'] ?></td>
            <?php endif ?>
        </tr>
        <br><br>
    </table>
    <?php if(count($this->infoAluno) !== 0):?>
    <table id="headerinfo" style="width: 100%">
            <tr >
                <td width="3%" >
                    <b>N.</b>
                </td>
                <td width="7%" >
                    <b>MAT.</b>
                </td>
                <td width="36%"  >
                    <b>NOME DO ALUNO</b>
                </td>
                <td width="12%"  >
                    <b>TURMA</b>
                </td>
                <td width="4%" >
                    <b>QTD</b>
                </td>
                <td  width="10%"  style="text-align: right">
                    <b>LIQUIDO</b>
                </td>
                <td  width="10%"  style="text-align: right">
                    <b>JUROS</b>
                </td>
                <td  width="10%"  style="text-align: right">
                    <b>DESC</b>
                </td>
                <td  width="10%"  style="text-align: right">
                    <b>V. FINAL</b>
                </td>
            </tr>
        <hr>
    </table>

    <body>


        
        <?php foreach($this->infoAluno as $pos=>$aluno){?>
            <table id="content"  style="width: 100%">
            <?php if($pos %2 == 1): ?>
                <tr BGCOLOR=#9D9D9E >
                    <td width="3%" class="trContent" > <?= $pos + 1?></td>
                    <td width="7%" ><?= substr( $aluno['matricula'],-5) ?></td>
                    <td width="36%" ><?= substr($aluno['nome'],0,30) ?></td>
                    <td width="18%" ><?= $aluno['Turma']  ?></td>
                    <td width="4%"  ><?=  $aluno['qtd'] ?></td>
                    <td width="10%" style="text-align: right"><?= number_format($aluno['valor'], 2, ',', '.') ?></td>
                    <td width=10%"  style="text-align: right"><?=  number_format(round($aluno['acrescimo'],0), 2, ',', '.') ?></td>
                    <td width="10%" style="text-align: right"><?= number_format( $aluno['desconto'], 2, ',', '.') ?></td>
                    <?php if($this->dados['forma-pagamento'] !== 'pagos'):
                        $totalGeral += $aluno['valor'] + $aluno['acrescimo']- $aluno['desconto'];
                        ?>
                        <td width="10%"  style="text-align: right" ><?= number_format($aluno['valor'] + $aluno['acrescimo'] - $aluno['desconto'], 2, ',', '.') ?></td>
                    <?php else: ?>
                        <td width="10%"  style="text-align: right"><?= number_format($aluno['pago'], 2, ',', '.') ?></td>
                    <?php endif;?>
                </tr>
            <?php else: ?>
                <tr>
                    <td width="3%" class="trContent" > <?= $pos + 1?></td>
                    <td width="7%" ><?= substr( $aluno['matricula'],-5) ?></td>
                    <td width="36%" ><?=substr($aluno['nome'],0,30) ?></td>
                    <td width="18%" ><?= $aluno['Turma']  ?></td>
                    <td width="4%"  ><?=  $aluno['qtd'] ?></td>
                    <td width="10%" style="text-align: right"><?= number_format($aluno['valor'], 2, ',', '.') ?></td>
                    <td width=10%"  style="text-align: right"><?=  number_format(round($aluno['acrescimo'],0), 2, ',', '.') ?></td>
                    <td width="10%" style="text-align: right"><?= number_format( $aluno['desconto'], 2, ',', '.') ?></td>
                    <?php if($this->dados['forma-pagamento'] !== 'pagos'):
                        $totalGeral += $aluno['valor'] + $aluno['acrescimo']- $aluno['desconto'];
                        ?>
                        <td width="10%"  style="text-align: right" ><?= number_format($aluno['valor'] + $aluno['acrescimo'] - $aluno['desconto'], 2, ',', '.') ?></td>
                    <?php else: ?>
                        <td width="10%"  style="text-align: right"><?= number_format($aluno['pago'], 2, ',', '.') ?></td>
                    <?php endif;?>
                </tr>
            <?php endif; ?>
                <?php
                $valorTotal += $aluno['valor'];
                $totalGeral += $aluno['valorTotal'];
                $acrescimo += $aluno['acrescimo'];
                $desconto += $aluno['desconto'];
                ?>
            </table>
        <?php }
        if($valorTotal !== 0):?>
        <br>
        <p><b>VALOR BRUTO :</b> R$ <?= number_format( $valorTotal, 2, ',', '.'); ?></p>
        <p><b>VALOR FINAL :</b> R$ <?php if($this->dados['forma-pagamento'] !== 'pagos'):
                $totalGeral += $this->infoAluno[$i]['valor'] + $this->infoAluno[$i]['acrescimo'];
                ?>
                <?= number_format( $valorTotal + $acrescimo - $desconto, 2, ',', '.'); ?>
            <?php else: ?>
                <?= number_format( $totalGeral , 2, ',', '.'); ?>
            <?php endif;?></p>
        <?php endif; ?>





    <?php else: ?>
        <p><b>NÃO EXISTE REGISTROS NO INTERVALO SELECIONADO.<b><p>
    <?php endif; ?>

    </body>
    </html>
