<?php
$urlCursos  = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-turma', 'action' => 'busca-turmas'));
?>
<form method="post" class="smart-form" name="titulos" id="titulos-relatorio" action="<?=$this->basePath()?>/boleto-bancario\financeiro-relatorios\mensalidades" target="_blank" data-validate="yes">
<br><label><b>RELATÓRIO DE MENSALIDADES:</b></label><br><br>

        <section class="col-lg-4 col-sm-4 col-xs-4" hidden="hidden">
                <input type="text" id="date-now" value="<?= $this->data ?>" hidden="hidden"><input>
        </section>

    <div class="col-md-12">
        <br><br>
        <table class="table table-bordered">
            <div>
                <tr>
                    <th>Turmas/Períodos</th>
                </tr>
            </div>
            <div class="col-sm-12">
                <tr>
                    <td>
                         <label for="turmas">
                             <b>Turmas:</b>
                         </label><br>
                         <input class="col-sm-11" type="text" id="turmas" class="limpar" name="turmas[]"/>
                    </td>
                </tr>
            </div>
        </table>
        <table class="table table-bordered">
            <tr>
                <th style="width:45%">Data Inicio</th>
                <th style="width:45%">Data Fim</th>
            </tr>
            </thead>
            <tbody>
            <div class="row">
                <td>
                    <section class="col-lg-4 col-sm-4 col-xs-4">
                        <label class="label">Data de Início:</label>
                        <label class="input">
                            <i class="icon-calendar">
                            </i>
                            <input type="text" name="data-inicio"  id="data-inicio" placeholder="00/00/0000" value="" data-masked="Date" data-validations="Data" required="required">
                        </label>
                        <div class="note"></div>
                    </section>
                </td>
                <td>
                <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                    <label class="label">Data de Fim:</label>
                    <label class="input">
                        <i class="icon-calendar"></i>
                        <input type="text" name="data-fim" id="data-fim" placeholder="00/00/0000" value="" data-masked="Date" data-validations="Data" required="required">
                    </label>
                    <div class="note"></div>
                </section>
                </td>
            </div>
            </tbody>
        </table><br>

        <table class="table table-bordered"  hidden="hidden">
            <thead>
            <tr>
                <th style="width:45%">Turno</th>
                <th style="width:45%" id="coluna-turmas">Turma</th>
            </tr>
            </thead>
            <tbody>
         <div class="row">
                <td>
                    <label class="label"></label>
                    <section>
                        <label class="select">
                            <select class="col-lg-4 col-sm-4 col-xs-4" data-validations="Required" name="turnos">
                                <option value="Todos">Todos</option>
                                <?php foreach($this->turnos as $turno):?>
                                    <option value="<?= $turno['turma_turno']?>"><?= $turno['turma_turno']?></option>
                                <?php endforeach?>
                            </select>
                        </label>
                    </section>

                </td>
         </div>
            </tbody>
        </table><br>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:50%">Modelo Relatorio</th>
                <th style="width:50%">Filtrar por</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio" id="sintetico" checked="checked" value="sintetico">
                        <i></i>Sintetico</label>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio" id="analitico" value="analitico">
                        <i></i>Analitico</label>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio" id="pagamento-integral" value="pagamento-integral">
                        <i></i>Pagamento Integral</label>
                </td>
                <td>
                    <div class="btn-toolbar radios">
                        <div class="btn-group">
<!--                            <label class="radio">-->
<!--                                <input type="radio" id="todos" name="forma-pagamento" checked="checked" value="todos">-->
<!--                                <i></i>Todos</label>-->
                            <label class="radio">
                                <input type="radio" id="pagos" name="forma-pagamento" value="pagos" >
                                <i></i>Pagos</label>
                            <label class="radio">
                                <input type="radio" id="abertos"  name="forma-pagamento" value="abertos" checked="chequed">
                                <i></i>Abertos</label>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table><br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Formato do Relatorio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="radio">
                            <input type="radio" id="radioPdf"  name="forma-relatorio" value="pdf" checked="chequed">
                            <i></i>PDF</label>
                        <label class="radio">
                            <input type="radio" id="radioXls"  name="forma-relatorio" value="xlsx">
                            <i></i>XLS (Excel)</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" id="forma-pagamentos" hidden="hidden">
            <thead>
            <tr>
                <th style="width:100%">Forma de pagamento</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="dinheiro" checked="checked" value="dinheiro">
                        <i></i>Dinheiro</label>
                    <label class="checkbox">
                        <input type="checkbox" name="cheque" checked="checked" value="cheque">
                        <i></i>Cheque</label>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <button type="submit" class="btn btn-primary" id="titulos">Gerar Relatório</button>
    </footer>
</form>
<script type="text/javascript">
    window.urlBuscaTurmas = '<?php echo $urlCursos ?>';
    $(function(){
        $spine().validateForm();
        validaDatas();
    });
</script>


