<?php
$urlMultasJuros  = $this
    ->url('boleto/default', array('controller' => 'Financeiro-relatorios', 'action' => 'multas-juros'));
?>
<script src="<?=$this->basePath()?>/js/universa/boleto/financeiro-relatorios/multa-juros.js"></script>

<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form method="post" class="smart-form" name="multas-juros" id="multas-juros" action="<?=$this->basePath()?>/boleto-bancario/financeiro-relatorios/multas-juros" target="_blank" data-validate="yes">
                        <h4>
                            <b>Relatório de Multas e Juros</b>:
                        </h4>
                        <table class="table table-bordered">
                            <tr>
                                <th style="width:45%">Data Inicio</th>
                                <th style="width:45%">Data Fim</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div class="row">
                                <td>
                                    <section class="col-lg-4 col-sm-4 col-xs-4">
                                        <label class="label">Data de Início:</label>
                                        <label class="input">
                                            <i class="icon-calendar">
                                            </i>
                                            <input type="text" name="data-inicio"  id="data-inicio" placeholder="00/00/0000" value="" data-masked="Date" data-validations="Data" required="required">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </td>
                                <td>
                                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                        <label class="label">Data de Fim:</label>
                                        <label class="input">
                                            <i class="icon-calendar"></i>
                                            <input type="text" name="data-fim" id="data-fim" placeholder="00/00/0000" value="" data-masked="Date" data-validations="Data" required="required">
                                        </label>
                                        <div class="note"></div>
                                    </section>
                                </td>
                            </div>
                            </tbody>
                        </table><br>

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width:50%">Modelo Relatorio</th>
                                <th style="width:50%">Filtrar por</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="radio">
                                        <input type="radio" name="modelo-relatorio" checked="checked" value="sintetico">
                                        <i></i>Sintético</label>
                                    <label class="radio">
                                        <input type="radio" name="modelo-relatorio" value="analitico">
                                        <i></i>Analítico</label>
                                </td>
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <!--                            <label class="radio">-->
                                            <!--                                <input type="radio" id="todos" name="forma-pagamento" checked="checked" value="todos">-->
                                            <!--                                <i></i>Todos</label>-->
                                            <label class="radio">
                                                <input type="radio" id="pagos" name="forma-pagamento" value="pagos" >
                                                <i></i>Pagos</label>
                                            <label class="radio">
                                                <input type="radio" id="abertos"  name="forma-pagamento" value="abertos" checked="chequed">
                                                <i></i>Abertos</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table><br>
                        <table class="table table-bordered" id="forma-pagamentos" hidden="hidden">
                            <thead>
                            <tr>
                                <th style="width:100%">Forma de pagamento</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" name="dinheiro" checked="checked" value="dinheiro">
                                        <i></i>Dinheiro</label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="cheque" checked="checked" value="cheque">
                                        <i></i>Cheque</label>
                                </td>

                            </tr>
                            </tbody>
                        </table>


                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default" style="padding: 6px 12px !important">
                                    <i class="fa fa-bars"></i>
                                    Voltar para relatórios
                                </a>
                                <button type="submit" class="btn btn-primary" style="padding: 6px 12px !important">
                                    <i class="fa fa-gear"></i>
                                    Gerar Relatório
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    window.urlMultasJuros = '<?php echo $urlMultasJuros?>';
    $(function(){
        $spine().validateForm();
        validaDatas();
    });
</script>
