<?php

?>
<form class="smart-form" name="taxas" id="taxas-relatorio" action="" method="post">
    <header>
        <p class="alert alert-info">
            RELATÓRIOS DE TAXAS
        </p>
    </header>

    <fieldset>
        <section class="col-lg-4 col-sm-4 col-xs-4">
            <label class="label">Data de Início:</label>
            <label class="input state-error">
                <i class="icon-calendar">

                </i>
                <input type="text" name="data" id="data" placeholder="00/00/0000" value="">
            </label>
        </section>
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
            <label class="label">Data de Início:</label>
            <label class="input state-error">
                <i class="icon-calendar">

                </i>
                <input type="text" name="dataFim" placeholder="00/00/0000" value="">
            </label>
        </section>

    </fieldset>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:50%">Modelo Relatorio</th>
                <th style="width:50%">Filtrar por</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio" checked="checked">
                        <i></i>Sintetico</label>
                    <label class="radio">
                        <input type="radio" name="modelo-relatorio">
                        <i></i>Analitico</label>
                </td>
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <label class="radio">
                                <input type="radio" id="todos" name="forma-pagamento" checked="checked">
                                <i></i>Todos</label>
                            <label class="radio">
                                <input type="radio" id="pagos" name="forma-pagamento" >
                                <i></i>Pagos</label>
                            <label class="radio">
                                <input type="radio" id="abertos"  name="forma-pagamento">
                                <i></i>Abertos</label>
                            <label class="radio">
                                <input type="radio" id="Isentos"  name="forma-pagamento">
                                <i></i>Isentos</label>

                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table><br>
        <table class="table table-bordered" id="forma-pagamentos" hidden="hidden">
            <thead>
            <tr>
                <th style="width:100%">Forma de pagamento</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" checked="checked">
                        <i></i>Dinheiro</label>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" checked="checked">
                        <i></i>Cheque</label>
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" checked="checked">
                        <i></i>Isento</label>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <button type="submit" class="btn btn-primary" id="titulos">
            Imprimir
        </button>
        <button type="submit" class="btn btn-primary" id="titulos">
            Voltar
        </button>
    </footer>
</form>
<script>
    formaspagamento();
</script>

