<div class="modal fade" data-keyboard="false" data-backdrop="static" id="crm-lead-atividade-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Atividade de Lead</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="#" id="crm-lead-atividade-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="pesId" value="">
                        <input type="hidden" name="atividadeId" value="">
                        <input type="hidden" name="GUID" value="">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Tipo Atividade:</label>
                                <input type="text" name="atividadeTipo" class="form-control"
                                       placeholder="Tipo Atividade">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Forma Contato:</label>
                                <select name="atividadeFormaContato" class="form-control">
                                    <?php
                                    if (!$this->arrDados['atividadeFormaContato']) {
                                        $this->arrDados['atividadeFormaContato'] = 'Outros';
                                    }

                                    foreach ($this->arrAtividadeFormaContato as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeFormaContato']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <span id="leadAgendamento">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Agendar Para:</label>
                                    <input type="text" name="atividadeAgendamento" class="form-control"
                                           placeholder="Agendamento"
                                           value="<?php echo $this->arrDados['atividadeAgendamento']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="atividadeFormaContatoAgendamento">Retornar Via:</label>
                                    <select name="atividadeFormaContatoAgendamento" class="form-control">
                                        <?php
                                        if (!$this->arrDados['atividadeFormaContatoAgendamento']) {
                                            $this->arrDados['atividadeFormaContatoAgendamento'] = 'Outros';
                                        }

                                        foreach ($this->arrAtividadeFormaContatoAgendamento as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['atividadeFormaContatoAgendamento']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </span>

                        <div class="col-sm-4" id="leadDesistencia">
                            <div class="form-group">
                                <label>Desistir do lead:</label>

                                <div class="radio-container">
                                    <label class="radio-inline">
                                        <input type="radio" name="atividadeDesistencia"
                                               value="Sim"> Sim
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="atividadeDesistencia"
                                               value="Não" checked> Não
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Comentário:</label>

                                    <textarea name="atividadeComentario" class="form-control" placeholder="Comentário"
                                        ><?php echo $this->arrDados['atividadeComentario']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>