<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="pesNome">Nome:</label>
            <input type="text" name="pesNome" class="form-control" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNome']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="pesDataNascimento">Data de Nascimento</label>
            <input type="text" name="pesDataNascimento" class="form-control"
                   placeholder="Data de nascimento"
                   value="<?php echo $this->arrDados['pesDataNascimento']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="pesSexo">Sexo:</label>
            <select name="pesSexo" id="pesSexo" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrPesSexo as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['pesSexo']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="pesEstadoCivil">Estado cívil:</label>
            <select name="pesEstadoCivil" id="pesEstadoCivil" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrPesEstadoCivil as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['pesEstadoCivil']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesProfissao">Profissão</label>
            <input type="text" name="pesProfissao" class="form-control"
                   placeholder="Profissão"
                   value="<?php echo $this->arrDados['pesProfissao']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesEmpresa">Empresa</label>
            <input type="text" name="pesEmpresa" class="form-control"
                   placeholder="Empresa"
                   value="<?php echo $this->arrDados['pesEmpresa']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="fonte">Fonte:</label>
            <input type="text" name="fonte" id="fonte" class="form-control"
                   placeholder="Fonte">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="mediador">Mediador:</label>
            <input type="text" name="mediador" id="mediador" class="form-control"
                   placeholder="Mediador">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="campanha">Campanha:</label>
            <input type="text" name="campanha" id="campanha" class="form-control"
                   placeholder="Campanha">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label>Interesses:</label>
            <input type="text" name="interesse" id="interesse" class="form-control"
                   placeholder="Interesses">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="operador">Operador:</label>
            <input type="text" name="operador" id="operador" class="form-control"
                   placeholder="Operador">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="leadStatus">Status:</label>
            <select name="leadStatus" id="leadStatus" class="form-control">
                <?php
                foreach ($this->arrLeadStatus as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['leadStatus']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="leadObs">Observação:</label>
        <textarea name="leadObs" id="leadObs" class="form-control" placeholder="Observação"
                  rows="5"><?php echo $this->arrDados['leadObs']; ?></textarea>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="leadDataCadastro">Data de Cadastro:</label>

            <p class="form-control-static leadDataCadastro">
                <?php
                echo $this->arrDados['leadDataCadastro'] ? $this->arrDados['leadDataCadastro'] : '-';
                ?>
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="leadDataAlteracao">Data de Alteração:</label>

            <p class="form-control-static leadDataAlteracao">
                <?php
                echo $this->arrDados['leadDataAlteracao'] ? $this->arrDados['leadDataAlteracao'] : '-';
                ?>
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="leadDataAtribuicao">Data de Atribuição:</label>

            <p class="form-control-static leadDataAtribuicao">
                <?php
                echo $this->arrDados['leadDataAtribuicao'] ? $this->arrDados['leadDataAtribuicao'] : '-';
                ?>
            </p>
        </div>
    </div>
</div>