<?php
$urlListagem = $this->url('crm/default', array('controller' => 'crm-lead'));
$paramUrl    = array('controller' => 'crm-lead', 'action' => 'add');

if ($this->arrDados['pesId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['pesId'];
}
$urlPesquisaPessoa            = $this
    ->url('crm/default', array('controller' => 'crm-lead', 'action' => 'search-for-json'));
$urlBuscaCEP                  = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlPesquisaCrmFonte          = $this
    ->url('crm/default', array('controller' => 'crm-fonte', 'action' => 'search-for-json'));
$urlPesquisaCrmMediador       = $this
    ->url('crm/default', array('controller' => 'crm-mediador', 'action' => 'search-for-json'));
$urlPesquisaCrmCampanha       = $this
    ->url('crm/default', array('controller' => 'crm-campanha', 'action' => 'search-for-json'));
$urlPesquisaCrmOperador       = $this
    ->url('crm/default', array('controller' => 'crm-operador', 'action' => 'search-for-json'));
$urlPesquisaCrmAtividadeTipo = $this
    ->url('crm/default', array('controller' => 'crm-atividade-tipo', 'action' => 'search-for-json'));
$urlForm                      = $this->url('crm/default', $paramUrl);
$urlCrmAtividadeListagem      = $this
    ->url('crm/default', array('controller' => 'crm-lead-atividade', 'action' => 'search'));
$urlPesquisaCrmInteresse      = $this
    ->url('crm/default', array('controller' => 'crm-interesse', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addComponent('datetimepicker', array('layout' => 'App'));
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('jquery.form.min', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-lead-add', false, 'App');
$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1%;
        width: 48%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="crm-lead-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="pesId" value="<?php echo $this->arrDados['pesId']; ?>">

                        <div id="crm-lead-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#crm-lead-dados-pessoais">
                                            <a href="#crm-lead-dados-pessoais" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Pessoais</span>
                                            </a>
                                        </li>
                                        <li data-target="#crm-lead-contato">
                                            <a href="#crm-lead-contato" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Contato e Endereço</span>
                                            </a>
                                        </li>
                                        <li data-target="#crm-lead-atividade">
                                            <a href="#crm-lead-atividade" data-toggle="tab">
                                                <span class="step">3</span>
                                                <span class="title">Atividades</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="crm-lead-dados-pessoais">
                                    <?php
                                    echo $this->partial('crm/crm-lead/add-dados-pessoais.phtml', $variaveis);
                                    ?>
                                </div>
                                <div class="tab-pane" id="crm-lead-contato">
                                    <?php
                                    echo $this->partial('pessoa/pessoa-fisica/add-contato-endereco.phtml', $variaveis);
                                    ?>
                                </div>
                                <div class="tab-pane" id="crm-lead-atividade">
                                    <div class="row">
                                        <table id="dataTableLeadAtividade"
                                               class="table table-striped table-bordered table-hover"
                                               width="100%">
                                            <thead>
                                            <tr>
                                                <th>Data</th>
                                                <th>Operador</th>
                                                <th>Incidêcia</th>
                                                <th>Forma Contato</th>
                                                <th>Agendamento</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<?php
if (!$this->partial) {
    $variaveis             = $this->viewModel()->getCurrent()->getVariables();
    $variaveis['partial']  = true;
    $variaveis['listagem'] = true;

    echo $this->partial('crm/crm-lead/visualizar-atividade.phtml', $variaveis);
}
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmLeadAdd({
            url: {
                pesquisaPF: '<?=$urlPesquisaPessoa;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>',
                pessoa: '<?=$urlPesquisaPessoa;?>',
                crmFonte: '<?=$urlPesquisaCrmFonte;?>',
                crmMediador: '<?=$urlPesquisaCrmMediador;?>',
                crmCampanha: '<?=$urlPesquisaCrmCampanha;?>',
                crmOperador: '<?=$urlPesquisaCrmOperador;?>',
                crmInteresse: '<?=$urlPesquisaCrmInteresse;?>',
                crmAtividadeTipo: '<?=$urlPesquisaCrmAtividadeTipo;?>',
                atividadesDatatables: '<?=$urlCrmAtividadeListagem;?>'
            },
            desativaAutocompletePessoa: <?=(int)$this->desativaAutocompletePessoa;?>,
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            data: {
                necessidadesEspeciais: <?=json_encode($this->arrNecessidadesEspeciais);?>
            },
            value: {
                pessoaNecessidades: <?=json_encode($this->arrDados['pessoaNecessidades']);?>,
                atividades: <?=json_encode($this->arrDados['atividades']);?>,
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                fonte:<?=json_encode($this->arrDados['fonte']); ?>,
                mediador:<?=json_encode($this->arrDados['mediador']); ?>,
                campanha:<?=json_encode($this->arrDados['campanha']); ?>,
                operador:<?=json_encode($this->arrDados['operador']); ?>
            }
        });
    });
</script>