<?php
$urlCrmAtividadeListagem     = $this
    ->url('crm/default', array('controller' => 'crm-lead-atividade', 'action' => 'search'));
$urlCrmAtividadeAdd          = $this
    ->url('crm/default', array('controller' => 'crm-lead-atividade', 'action' => 'add'));
$urlCrmLeadAtualizar         = $this
    ->url('crm/default', array('controller' => 'crm-lead', 'action' => 'atualizar'));
$urlCrmOperadorChamar        = $this
    ->url('crm/default', array('controller' => 'crm-operador', 'action' => 'efetuar-chamada'));
$urlPesquisaCrmInteresse     = $this
    ->url('crm/default', array('controller' => 'crm-interesse', 'action' => 'search-for-json'));
$urlPesquisaCrmAtividadeTipo = $this
    ->url('crm/default', array('controller' => 'crm-atividade-tipo', 'action' => 'search-for-json'));
$urlAcadgeralAlunoEditar     = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'edit'));
$urlAcadgeralAlunoAdd        = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'add'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addComponent('datetimepicker', array('layout' => 'App'));
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-lead-atendimento', false, 'App');
$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="crm-lead-atendimento" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Atendimento de Lead</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="#" id="crm-lead-atendimento-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="pesId" value="">
                        <input type="hidden" name="alunoId" value="">
                        <input type="hidden" name="GUID" value="">

                        <div class="col-sm-5">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Código:</label>

                                    <p class="form-control-static pesId"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Data de Cadastro:</label>

                                    <p class="form-control-static leadDataCadastro"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Data de Atribuição:</label>

                                    <p class="form-control-static leadDataAtribuicao"></p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nome:</label>

                                    <p class="form-control-static pesNome"></p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Email:</label>

                                    <p class="form-control-static conContatoEmail"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Telefone:</label>

                                    <p class="form-control-static conContatoTelefone"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Celular:</label>

                                    <p class="form-control-static conContatoCelular"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cidade:</label>

                                    <p class="form-control-static endCidade"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Estado:</label>

                                    <p class="form-control-static endEstado"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Data de Nascimento:</label>

                                    <p class="form-control-static pesDataNascimento"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Estado Cívil:</label>

                                    <p class="form-control-static pesEstadoCivil"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Empresa:</label>

                                    <p class="form-control-static pesEmpresa"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Profissão:</label>

                                    <p class="form-control-static pesProfissao"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Mediador:</label>

                                    <p class="form-control-static mediadorNome"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Status:</label>

                                    <p class="form-control-static leadStatus"></p>
                                </div>
                            </div>
                            <div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Interesses:</label>
                                        <input type="text" name="interesse" class="form-control"
                                               placeholder="Interesses">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Observações:</label>

                                    <textarea name="leadObs" class="form-control" placeholder="Observações"
                                        ><?php echo $this->arrDados['leadObs']; ?></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-lead-salvar-informacoes">
                                            <i class="fa fa-save"></i>
                                            Salvar
                                        </button>
                                        <button type="button" class="btn btn-primary btn-lead-converter">
                                            <i class="fa fa-user"></i>
                                            Converter em Aluno
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-lead-aluno">
                                            <i class="fa fa-user"></i>
                                            Editar Aluno
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <fieldset>
                                <legend>Atividades</legend>
                                <table id="dataTableAtendimentoAtividade"
                                       class="table table-striped table-bordered table-hover"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Operador</th>
                                        <th>Incidêcia</th>
                                        <th>Forma Contato</th>
                                        <th>Agendamento</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <footer class="text-center">
                                    <button type="button" class="btn btn-primary btn-atividade-add">
                                        Lançar Atividade
                                    </button>
                                </footer>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
$variaveis             = $this->viewModel()->getCurrent()->getVariables();
$variaveis['partial']  = true;
$variaveis['listagem'] = true;

echo $this->partial('crm/crm-lead/add-lead-atividade.phtml', $variaveis);
echo $this->partial('crm/crm-lead/lead-atividade-visualizar.phtml', $variaveis);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmLeadAtendimento({
            url: {
                crmAtividadeTipo: '<?=$urlPesquisaCrmAtividadeTipo;?>',
                crmInteresse: '<?=$urlPesquisaCrmInteresse;?>',
                crmLeadAtualizar: '<?=$urlCrmLeadAtualizar;?>',
                crmLeadConverter: '<?=$urlAcadgeralAlunoAdd;?>',
                crmOperadorChamar: '<?=$urlCrmOperadorChamar;?>',
                alunoEditar: '<?=$urlAcadgeralAlunoEditar;?>',
                crmLeadAtividadeAdd: '<?=$urlCrmAtividadeAdd;?>',
                atividadesDatatables: '<?=$urlCrmAtividadeListagem;?>'
            },
            value: {
                click2CallAtivo:<?=(int)$this->click2CallAtivo;?>
            }
        });
    });
</script>