<?php

$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('jquery-ui', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('bootstrap.min', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent(
    'font-awesome',
    array('CssCheck' => '.min', 'mode' => 'CSS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('smartadmin-production', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('smartadmin-skins', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('versa.skeleton', array('layout' => 'VersaSkeleton', 'mode' => 'JS'));
$this->layoutComponent()->addComponent(
    'maskedinput',
    array('JsCheck' => '.min', 'mode' => 'JS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('app', array('JsCheck' => '.min', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.colVis', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.tableTools', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.bootstrap', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));

$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate', false, 'SmartAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

$this->layoutComponent()->addJS('store', false, 'App');

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('titulo-consulta', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                <i class="fa fa-plus"></i>
                                Cadastrar lead
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="jarviswidget jarviswidget-color-darken">
                                        <form method="post">
                                            <input type="hidden" name="leadStatus" value="Novo">

                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Nome:</label>
                                                    <input type="text" name="pesNome" class="form-control"
                                                           placeholder="Informe um nome" required>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Celular:</label>
                                                    <input type="text" name="conContatoCelular" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Telefone:</label>
                                                    <input type="text" name="conContatoTelefone"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Email:</label>
                                                    <input type="email" name="conContatoEmail" class="form-control"
                                                           placeholder="" required>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 text-center">
                                                <button type="submit" class="btn btn-success">
                                                    Enviar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("[name='conContatoCelular']").inputmask({
            showMaskOnHover: false,
            mask: ['(9{0,2})9{0,5}-9{0,4}'],
            allowMinus: false
        });

        $("[name='conContatoTelefone']").inputmask({
            showMaskOnHover: false,
            mask: ['(9{0,2})9{0,4}-9{0,4}'],
            allowMinus: false
        });
    });
</script>