<?php
$paramUrl = array("controller" => "crm-lead", "action" => "add");

$urlAdd                  = $this->url("crm/default", $paramUrl);
$paramUrl['action']      = 'search';
$urlSearch               = $this->url("crm/default", $paramUrl);
$paramUrl['action']      = 'edit';
$urlEdit                 = $this->url("crm/default", $paramUrl);
$paramUrl['action']      = 'remove';
$urlRemove               = $this->url("crm/default", $paramUrl);
$paramUrl['action']      = 'captura-leads-email';
$urlCapturaLeadEmail     = $this->url("crm/default", $paramUrl);
$paramUrl['action']      = 'importacao-csv';
$urlCrmLeadImportacaoCSV = $this->url("crm/default", $paramUrl);
$paramUrl['action']      = 'distribuir';
$urlCrmLeadDistribuir    = $this->url("crm/default", $paramUrl);

$urlPesquisaCrmFonte         = $this
    ->url('crm/default', array('controller' => 'crm-fonte', 'action' => 'search-for-json'));
$urlPesquisaCrmMediador      = $this
    ->url('crm/default', array('controller' => 'crm-mediador', 'action' => 'search-for-json'));
$urlPesquisaCrmCampanha      = $this
    ->url('crm/default', array('controller' => 'crm-campanha', 'action' => 'search-for-json'));
$urlPesquisaCrmOperador      = $this
    ->url('crm/default', array('controller' => 'crm-operador', 'action' => 'search-for-json'));
$urlPesquisaCrmAtividadeTipo = $this
    ->url('crm/default', array('controller' => 'crm-atividade-tipo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('jquery.form', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-lead-index', false, 'App');
?>
<style>
    .modal-dialog {
        width: 80%;
    }

    #crm-lead-atividade-visualizar-modal .modal-dialog,
    #crm-lead-atividade-modal .modal-dialog {
        width: 50%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-crm-lead">
                    <form name='form' action="#" method="post" target="_blank"
                          data-validate="yes" id="crm-lead-form-filtro">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa fa-chevron-right"></i>
                                            Filtros avançados
                                        </a>
                                    </h4>
                                </div>
                                <div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="fonteFiltro">Fonte:</label>
                                                        <input type="text" name="fonte" id="fonteFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="mediadorFiltro">Mediador:</label>
                                                        <input type="text" name="mediador" id="mediadorFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="campanhaFiltro">Campanha:</label>
                                                        <input type="text" name="campanha" id="campanhaFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="operadorFiltro">Operador:</label>
                                                        <input type="text" name="operador" id="operadorFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label for="leadStatusFiltro">Status:</label>
                                                        <select name="leadStatus" id="leadStatusFiltro" multiple
                                                                class="form-control">
                                                            <?php
                                                            foreach ($this->arrLeadStatus as $value) {
                                                                $id        = $value['id'];
                                                                $descricao = $value['text'];
                                                                $selected  = ($id == $this->arrDados['leadStatus']) ? " selected" : "";
                                                                echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Última Atividade:</label>
                                                        <input type="text" name="ultimaAtividade" class="form-control"
                                                               placeholder="Última Atividade">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="dataCadastroInicialFiltro">
                                                                Data de cadastro Inicial:
                                                            </label>
                                                            <input type="text" name="dataCadastroInicial"
                                                                   id="dataCadastroInicialFiltro" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="dataCadastroFinalFiltro">
                                                                Data de cadastro Final:
                                                            </label>
                                                            <input type="text" name="dataCadastroFinal"
                                                                   id="dataCadastroFinalFiltro" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="agendamentoInicialFiltro">
                                                                Data de Agendamento Inicial:
                                                            </label>
                                                            <input type="text" name="agendamentoInicial"
                                                                   id="agendamentoInicialFiltro" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="agendamentoFinalFiltro">
                                                                Data de Agendamento Final:
                                                            </label>
                                                            <input type="text" name="agendamentoFinal"
                                                                   id="agendamentoFinalFiltro" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="dataAtividadeInicial">
                                                                Data de último Contato Inicial:
                                                            </label>
                                                            <input type="text" name="dataAtividadeInicial"
                                                                   id="dataAtividadeInicial" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="dataAtividadeFinal">
                                                                Data de último Contato Final:
                                                            </label>
                                                            <input type="text" name="dataAtividadeFinal"
                                                                   id="dataAtividadeFinal" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="dataAtribuicaoInicial">
                                                                Data de atribuição inicial:
                                                            </label>
                                                            <input type="text" name="dataAtribuicaoInicial"
                                                                   id="dataAtribuicaoInicial" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="dataAtribuicaoFinal">
                                                                Data de atribuição final:
                                                            </label>
                                                            <input type="text" name="dataAtribuicaoFinal"
                                                                   id="dataAtribuicaoFinal" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary"
                                                        id="leadFiltroExecutar">
                                                    <i class="fa fa-search"></i>
                                                    Filtrar resultados
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                        id="leadFiltroLimpar">
                                                    <i class="fa fa-clear"></i>
                                                    Limpar filtros
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="dataTableCrmLead" class="table table-striped table-bordered table-hover"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Operador</th>
                                <th>Data Cadastro</th>
                                <th title="Última Atividade">Ult. Inc.</th>
                                <th title="Data da Última Atividade">Data Ult. Inc.</th>
                                <th>Agendamento</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <footer class="text-center" id="crm-lead-btn-list">
                            <a href="<?= $urlAdd; ?>" class="btn btn-primary" id="btn-crm-lead-add">
                                Novo Registro
                            </a>
                            <button type="button" class="btn btn-secondary" id="btn-crm-lead-importar-lead-email">
                                Importar leads de e-mail
                            </button>
                            <button type="button" class="btn btn-secondary" id="btn-crm-lead-importar-csv">
                                Importar leads de arquivo
                            </button>
                            <button type="button" class="btn btn-secondary" id="btn-crm-lead-distribuir">
                                Distribuir/Redistribuir Leads
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="crm-lead-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar lead</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('crm/crm-lead/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="crm-lead-modal-import-csv" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Importar Arquivo CSV</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form id="crm-lead-enviar-csv" action="<?= $urlCrmLeadImportacaoCSV ?>" method="POST"
                          enctype="multipart/form-data">
                        <div class="col-sm-12">
                            <div class="form-group arq">
                                <label for="arq">Arquivo CSV</label>
                                <input name="arq" id="arq" type="file"/>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" id="enviar-arquivo">
                                Enviar Arquivo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
$variaveis             = $this->viewModel()->getCurrent()->getVariables();
$variaveis['partial']  = true;
$variaveis['listagem'] = true;

echo $this->partial('crm/crm-lead/atendimento.phtml', $variaveis);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmLeadIndex({
            url: {
                search: '<?=$urlSearch;?>',
                edit: '<?=$urlEdit;?>',
                remove: '<?=$urlRemove;?>',
                capturaLeadEmail: '<?=$urlCapturaLeadEmail;?>',
                importacaoCSV: '<?=$urlCrmLeadImportacaoCSV;?>',
                leadDistribuir: '<?=$urlCrmLeadDistribuir;?>',
                crmFonte: '<?=$urlPesquisaCrmFonte;?>',
                crmMediador: '<?=$urlPesquisaCrmMediador;?>',
                crmCampanha: '<?=$urlPesquisaCrmCampanha;?>',
                crmOperador: '<?=$urlPesquisaCrmOperador;?>',
                crmAtividadeTipo: '<?=$urlPesquisaCrmAtividadeTipo;?>'
            },
            value: {
                atendimento:<?=(int)$this->atendimento;?>,
                click2CallAtivo:<?=(int)$this->click2CallAtivo;?>,
                operador:<?=json_encode($this->operador);?>
            }
        });
    });
</script>