<div class="modal fade" data-keyboard="false" data-backdrop="static" id="crm-lead-atividade-visualizar-modal"
     role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Atividade de Lead</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="#" id="crm-lead-atividade-visualizar-form" novalidate="novalidate" method="post">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label>Nome:</label>

                                <p class="form-control-static pes_nome"></p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Data de Cadastro do Lead:</label>

                                <p class="form-control-static lead_data_cadastro"></p>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Tipo de Atividade:</label>

                                <p class="form-control-static atividade_tipo_nome"></p>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Operador/TIme:</label>

                                <p class="form-control-static operador_nome"></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Data da Atividade:</label>

                                <p class="form-control-static atividade_data_cadastro"></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Forma de Contato:</label>

                                <p class="form-control-static atividade_forma_contato"></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Agendamento para:</label>

                                <p class="form-control-static atividade_agendamento"></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Contactar Agendamento Via:</label>

                                <p class="form-control-static atividade_forma_contato_agendamento"></p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Operador Manisfestou Desistência:</label>

                                <p class="form-control-static atividade_desistencia"></p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Comentário:</label>

                                <p class="form-control-static atividade_comentario"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>