<fieldset>
    <legend>Dados Pessoa Física</legend>

    <div class="campoPesCpf col-sm-2">
        <div class="form-group">
            <label for="pesCpf">CPF:</label>

            <div class="input-group">
                <input type="text" name="pesCpf" class="form-control" placeholder="CPF"
                       value="<?php echo $this->arrDados['pesCpf']; ?>">

                <div class="input-group-btn">
                    <button class="btn btn-default buscarDocumentoPessoa" type="button"
                            title="Buscar pessoas cadastradas no banco pelo documento">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 campoPesDocEstrangeiro hidden">
        <div class="form-group">
            <label for="pesDocEstrangeiro">Documento Estrangeiro:</label>

            <div class="input-group">
                <input type="text" name="pesDocEstrangeiro" class="form-control"
                       placeholder="Documento Estrangeiro"
                       value="<?php echo $this->arrDados['pesDocEstrangeiro']; ?>">

                <div class="input-group-btn">
                    <button class="btn btn-default buscarDocumentoPessoa" type="button"
                            title="Buscar pessoas cadastradas no banco pelo documento">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesDataNascimento">Data de Nascimento</label>
            <input type="text" name="pesDataNascimento" class="form-control"
                   placeholder="Data de nascimento" value="<?php echo $this->arrDados['pesDataNascimento']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesNaturalidade">Cidade de Nascimento</label>
            <input type="text" name="pesNaturalidade" class="form-control"
                   placeholder="Informe a cidade de Nascimento" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNaturalidade']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesNascUf">Estado de nascimento:</label>
            <input type="text" name="pesNascUf" class="form-control"
                   placeholder="Informe o estado do nascimento" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNascUf']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesSexo">Sexo:</label>
            <select name="pesSexo" id="pesSexo" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrPesSexo as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['pesSexo']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesEstadoCivil">Estado cívil:</label>
            <select name="pesEstadoCivil" id="pesEstadoCivil" class="form-control">
                <option></option>
                <?php
                foreach ($this->arrPesEstadoCivil as $value) {
                    $id        = $value['id'];
                    $descricao = $value['text'];
                    $selected  = ($id == $this->arrDados['pesEstadoCivil']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesRg">RG:</label>
            <input type="text" name="pesRg" class="form-control" placeholder="Informe o RG"
                   value="<?php echo $this->arrDados['pesRg']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesRgEmissao">Órgão Emissor</label>
            <input type="text" name="pesEmissorRg" id="pesEmissorRg" class="form-control"
                   placeholder="Órgão Emissor"
                   value="<?php echo $this->arrDados['pesEmissorRg']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesRgEmissao">Data de emissão do RG</label>
            <input type="text" name="pesRgEmissao" class="form-control"
                   placeholder="Data de emissão"
                   value="<?php echo $this->arrDados['pesRgEmissao']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pessoaNecessidades">Necessidades Especiais</label>
            <input type="text" name="pessoaNecessidades" id="pessoaNecessidades" class="form-control"
                   placeholder="Informe as necessidades especias do aluno">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesProfissao">Profissão</label>
            <input type="text" name="pesProfissao" class="form-control"
                   placeholder="Profissão"
                   value="<?php echo $this->arrDados['pesProfissao']; ?>">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesEmpresa">Empresa</label>
            <input type="text" name="pesEmpresa" class="form-control"
                   placeholder="Empresa"
                   value="<?php echo $this->arrDados['pesEmpresa']; ?>">
        </div>
    </div>
</fieldset>