<fieldset>
    <legend>Dados Básicos</legend>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesTipo">Tipo:</label>
            <select name="pesTipo" class="form-control">
                <?php
                foreach ($this->arrPesTipo as $value) {
                    $id       = $value['id'];
                    $text     = $value['text'];
                    $selected = ($id == $this->arrDados['pesTipo']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesNacionalidade">Nacionalidade:</label>
            <select name="pesNacionalidade" class="form-control">
                <?php
                foreach ($this->arrPesNacionalidade as $value) {
                    $id       = $value['id'];
                    $text     = $value['text'];
                    $selected = ($id == $this->arrDados['pesNacionalidade']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <label for="pesNome">Nome/Razão Social:</label>
            <input type="text" name="pesNome" class="form-control" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNome']; ?>">
        </div>
    </div>
</fieldset>