<div class="row">
    <div class="col-sm-4">
        <fieldset>
            <legend>Contato</legend>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="conContatoTelefone">Telefone:</label>
                    <input type="text" name="conContatoTelefone" id="conContatoTelefone" class="form-control"
                           placeholder="(00) 0000-0000" value="<?php echo $this->arrDados['conContatoTelefone']; ?>">
                    <input type="hidden" name="conContatoTelefoneId" id="conContatoTelefoneId"
                           value="<?php echo $this->arrDados['conContatoTelefoneId']; ?>">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="conContatoCelular">Celular:</label>
                    <input type="text" name="conContatoCelular" id="conContatoCelular" class="form-control"
                           placeholder="(00) 0000-0000" value="<?php echo $this->arrDados['conContatoCelular']; ?>">
                    <input type="hidden" name="conContatoCelularId" id="conContatoCelularId"
                           value="<?php echo $this->arrDados['conContatoCelularId']; ?>">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="conContatoEmail">Email:</label>
                    <input type="text" name="conContatoEmail" id="conContatoEmail" class="form-control"
                           placeholder="email@pessoa.com.br" value="<?php echo $this->arrDados['conContatoEmail']; ?>">
                    <input type="hidden" name="conContatoEmailId" id="conContatoEmailId"
                           value="<?php echo $this->arrDados['conContatoEmailId']; ?>">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-8">
        <fieldset>
            <legend>Endereço</legend>
            <input type="hidden" name="endId" id="endId" value="<?php echo $this->arrDados['endId']; ?>">

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="endCep">CEP:</label>

                    <div class="input-group">
                        <input type="text" name="endCep" id="endCep" class="form-control" placeholder="00000-000"
                               value="<?php echo $this->arrDados['endCep']; ?>">

                        <div class="input-group-btn">
                            <button class="btn btn-default buscarCep" type="button" title="Buscar endereço pelo CEP">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="endLogradouro">Logradouro:</label>
                    <input type="text" name="endLogradouro" id="endLogradouro" class="form-control"
                           placeholder="Informe o logradouro" value="<?php echo $this->arrDados['endLogradouro']; ?>">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="endNumero">Número:</label>
                    <input type="text" name="endNumero" id="endNumero" class="form-control"
                           placeholder="Informe o número"
                           value="<?php echo $this->arrDados['endNumero']; ?>">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="endComplemento">Complemento:</label>
                    <input type="text" name="endComplemento" id="endComplemento" class="form-control"
                           placeholder="Informe o complemento" value="<?php echo $this->arrDados['endComplemento']; ?>">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <label for="endBairro">Bairro:</label>
                    <input type="text" name="endBairro" id="endBairro" class="form-control"
                           placeholder="Informe o bairro"
                           value="<?php echo $this->arrDados['endBairro']; ?>">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="endCidade">Cidade:</label>
                    <input type="text" name="endCidade" id="endCidade" class="form-control"
                           placeholder="Informe a cidade"
                           autocomplete="off" value="<?php echo $this->arrDados['endCidade']; ?>">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="endEstado">Estado:</label>
                    <input type="text" name="endEstado" id="endEstado" class="form-control"
                           placeholder="Informe o estado"
                           autocomplete="off" value="<?php echo $this->arrDados['endEstado']; ?>">
                </div>
            </div>
        </fieldset>
    </div>
</div>