<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-desconto'));
$paramUrl    = array('controller' => 'financeiro-desconto', 'action' => 'add');

if ($this->arrDados['descontoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['descontoId'];
}
$urlPesquisaFinanceiroDescontoTipo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-desconto-tipo', 'action' => 'search-for-json'));
$urlPesquisaAcadperiodoAluno       = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-aluno', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas          = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAluno         = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'search-for-json'));
$urlForm                           = $this->url('financeiro/default', $paramUrl);
$urlFinanceiroTitulo               = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo', 'action' => 'search'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-desconto-add', false, 'App');
$this->layoutComponent()->addJS('maskMoney');
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .tab-content {
        padding-top: 10px;
    }

    .modal-dialog {
        width: 80%;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-desconto-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="descontoId" id="descontoId"
                               value="<?php echo $this->arrDados['descontoId']; ?>">

                        <div id="financeiro-desconto-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#abaDadosBasicos">
                                            <a href="#abaDadosBasicos" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Básicos</span>
                                            </a>
                                        </li>
                                        <li data-target="#abaTitulosVinculados">
                                            <a href="#abaTitulosVinculados" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Títulos Vinculados</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="abaDadosBasicos">
                                    <fieldset>
                                        <legend>Informações sobre o desconto:</legend>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="aluno">Aluno:</label>
                                                <input type="text" name="aluno" id="aluno" class="form-control"
                                                       placeholder="Aluno">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="desctipo">Tipo De Desconto:</label>
                                                <input type="text" name="desctipo" id="desctipo" class="form-control"
                                                       placeholder="Tipo De Desconto">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <fieldset>
                                                <legend>Informações sobre o típo de desconto</legend>

                                                <div class="form-group">
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="desctipoPercmax">Percentual Máximo de
                                                                Desconto:</label>

                                                            <p id="desctipoPercmax" class="form-control-static">
                                                                -
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="desctipoValormax">Valor Máximo de
                                                                Desconto:</label>

                                                            <p id="desctipoValormax" class="form-control-static">
                                                                -
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="desctipoModalidade">Modalidade:</label>

                                                            <p id="desctipoModalidade" class="form-control-static">
                                                                -
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="desctipoLimitaVencimento">Limitado ao
                                                            Vencimento:</label>

                                                        <p id="desctipoLimitaVencimento"
                                                           class="form-control-static">
                                                            -
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="tipotituloNome">Tipos de título
                                                            permitidos:</label>

                                                        <p id="tipotituloNome" class="form-control-static">
                                                            -
                                                        </p>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </div>
                                        <div class="col-sm-4">
                                            <fieldset>
                                                <legend>Dados do desconto</legend>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="descontoPercentual">Percentual:</label>
                                                        <input type="text" name="descontoPercentual"
                                                               id="descontoPercentual"
                                                               class="form-control"
                                                               placeholder="Percentual" maxlength="6"
                                                               value="<?php echo $this->arrDados['descontoPercentual']; ?>">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="descontoValor">Valor:</label>
                                                        <input type="text" name="descontoValor" id="descontoValor"
                                                               class="form-control"
                                                               placeholder="Valor" maxlength="10"
                                                               value="<?php echo $this->arrDados['descontoValor']; ?>">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="descontoStatus">Situação:</label>
                                                        <select name="descontoStatus" id="descontoStatus"
                                                                class="form-control">
                                                            <?php
                                                            foreach ($this->arrDescontoStatus as $value) {
                                                                $id        = $value['id'];
                                                                $descricao = $value['text'];
                                                                $selected  = ($id == $this->arrDados['descontoStatus']) ? " selected" : "";
                                                                echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="descontoObservacao">Observação</label>
                                                <textarea type="text" name="descontoObservacao" class="form-control"
                                                          id="descontoObservacao" rows="3" placeholder="Observação"
                                                ><?php echo $this->arrDados['descontoObservacao']; ?></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="tab-pane" id="abaTitulosVinculados">
                                    <fieldset>
                                        <legend>Títulos Vinculados ao Desconto:</legend>
                                        <div class="col-sm-12">
                                            <table id="dataTableTitulosVinculados"
                                                   class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Responsável</th>
                                                    <th>Curso</th>
                                                    <th>Descrição</th>
                                                    <th>Valor</th>
                                                    <th>Valor Desconto</th>
                                                    <th>Aplicado</th>
                                                    <th>Situação</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <textarea class="hidden" name="titulosVinculados"
                                                      id="titulosVinculados"></textarea>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="button" class="btn btn-primary hidden"
                                        id="btn-financeiro-desconto-deferir">
                                    <i class="fa fa-check"></i>
                                    Deferir e Salvar
                                </button>
                                <button type="submit" class="btn btn-success" id="btn-salvarDesconto">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-descontoTitulo" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">Seleção de títulos para concessão de desconto</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dataTableTitulosAbertosPessoa"
                               class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Responsável</th>
                                <th>Curso</th>
                                <th>Valor Bruto</th>
                                <th>Descontos Vinculados</th>
                                <th>Valor Líquido</th>
                                <th>Emissão</th>
                                <th>Vencimento</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroDescontoAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                financeiroDescontoTipo: '<?=$urlPesquisaFinanceiroDescontoTipo;?>',
                financeiroTitulo: '<?=$urlFinanceiroTitulo;?>',
                acadperiodoAluno: '<?=$urlPesquisaAcadperiodoAluno;?>',
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>',
                acadgeralAluno: '<?=$urlPesquisaAcadgeralAluno;?>'
            },
            data: {},
            value: {
                desctipo:<?=json_encode($this->arrDados['desctipo']); ?>,
                alunoper:<?=json_encode($this->arrDados['alunoper']); ?>,
                usuario:<?=json_encode($this->arrDados['usuario']); ?>,
                aluno:<?=json_encode($this->arrDados['aluno']); ?>,
                titulosVinculados:<?=json_encode($this->arrDados['titulosVinculados']); ?>
            }
        });
    });
</script>