
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-descontoTitulo" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">Seleção de títulos para concessão de desconto</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dataTableTitulosAbertosPessoa"
                               class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Responsável</th>
                                <th>Curso</th>
                                <th>Valor</th>
                                <th>Emissão</th>
                                <th>Vencimento</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>