<?php
$paramUrl = array("controller" => "financeiro-desconto", "action" => "add");

$urlAdd             = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("financeiro/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("financeiro/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-desconto-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-financeiro-desconto">
                    <table id="dataTableFinanceiroDesconto" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Aluno</th>
                            <th>Usuário</th>
                            <th>Valor</th>
                            <th>Percentual</th>
                            <th title="Número de títulos vinculados ao desconto">Qtd.</th>
                            <th>Situaçao</th>
                            <th style="min-width: 40px;"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-financeiro-desconto-add">
                            Novo Registro
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " data-keyboard="false" data-backdrop="static" id="financeiro-desconto-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar desconto</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('financeiro/financeiro-desconto/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<?php
$variaveis             = $this->viewModel()->getCurrent()->getVariables();
$variaveis['partial']  = true;
$variaveis['listagem'] = true;

echo $this->partial('financeiro/financeiro-desconto/view.phtml', $variaveis);
//echo $this->partial('financeiro/financeiro-desconto/edit.phtml', $variaveis);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroDescontoIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>'
            }
        });
    });
</script>