<?php
$urlForm = $this->url('financeiro/default', array('controller' => 'financeiro-desconto', 'action' => 'view'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-desconto-view', false, 'App');
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-desconto-view-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">Visualizar desconto</h4>
            </div>
            <div class="modal-body floating-label">
                <style>
                    .progress {
                        width: 78.5em;
                        margin: 0 11em;
                        position: absolute;
                        top: 20px;
                        z-index: 1;
                    }

                    .tab-content {
                        padding-top: 10px;
                    }

                    .modal-dialog {
                        width: 90%;
                    }
                </style>
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget jarviswidget-color-darken">
                                <?php if (!$this->partial) { ?>
                                <div class="widget-body"><?php } ?>
                                    <form action="<?php echo $urlForm; ?>" id="financeiro-desconto-form-view"
                                          novalidate="novalidate"
                                          method="post">
                                        <input type="hidden" name="descontoId" id="descontoId-view"
                                               value="<?php echo $this->arrDados['descontoId']; ?>">

                                        <div id="financeiro-desconto-wizard-view" class="col-sm-12">
                                            <div class="form-bootstrapWizard">
                                                <div class="form-wizard-nav">
                                                    <ul class="bootstrapWizard form-wizard">
                                                        <li class="active" data-target="#abaDadosBasicosDesconto-view">
                                                            <a href="#abaDadosBasicosDesconto-view" data-toggle="tab">
                                                                <span class="step">1</span>
                                                                <span class="title">Dados Básicos</span>
                                                            </a>
                                                        </li>
                                                        <li data-target="#abaTitulosVinculadosDescontos-view">
                                                            <a href="#abaTitulosVinculadosDescontos-view" data-toggle="tab">
                                                                <span class="step">2</span>
                                                                <span class="title">Títulos Vinculados</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="progress progress-micro">
                                                        <div class="progress-bar progress-bar-primary"></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="abaDadosBasicosDesconto-view">
                                                    <fieldset>
                                                        <legend>Informações sobre o desconto:</legend>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <label for="alunoDesconto">Aluno:</label>

                                                                <p class="form-control-static" id="alunoDesconto-view">
                                                                    <?= (
                                                                    $this->arrDados['aluno']['text'] ?
                                                                        $this->arrDados['aluno']['text'] :
                                                                        '-'
                                                                    ); ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="desctipoDescricao">Tipo De Desconto:</label>

                                                                <p class="form-control-static" id="desctipoDescricao-view">
                                                                    <?= (
                                                                    $this->arrDados['desctipo']['desctipoDescricao'] ?
                                                                        $this->arrDados['desctipo']['desctipoDescricao'] :
                                                                        '-'
                                                                    ); ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <fieldset>
                                                                <legend>Informações sobre o típo de desconto</legend>

                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="desctipoPercmax">
                                                                            Percentual Máximo de Desconto:
                                                                        </label>

                                                                        <p id="desctipoPercmax-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['desctipo']['desctipoPercmax'] ?
                                                                                $this->arrDados['desctipo']['desctipoPercmax'] : '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="desctipoValormax">
                                                                            Valor Máximo de Desconto:
                                                                        </label>

                                                                        <p id="desctipoValormax-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['desctipo']['desctipoValormax'] ?
                                                                                $this->arrDados['desctipo']['desctipoValormax'] :
                                                                                '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label
                                                                            for="desctipoModalidade">Modalidade:</label>

                                                                        <p id="desctipoModalidade-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['desctipo']['desctipoModalidade'] ?
                                                                                $this->arrDados['desctipo']['desctipoModalidade'] :
                                                                                '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="desctipoLimitaVencimento">
                                                                            Limitado ao Vencimento:
                                                                        </label>

                                                                        <p id="desctipoLimitaVencimento-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['desctipo']['desctipoLimitaVencimento'] ?
                                                                                $this->arrDados['desctipo']['desctipoLimitaVencimento'] :
                                                                                '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="tipotituloNome">Tipos de título
                                                                            permitidos:</label>

                                                                        <p id="tipotituloNome-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['desctipo']['tipotituloNome'] ?
                                                                                $this->arrDados['desctipo']['tipotituloNome'] :
                                                                                'TODOS'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <fieldset>
                                                                <legend>Dados do desconto</legend>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label
                                                                            for="descontoPercentual">Percentual:</label>

                                                                        <p id="descontoPercentual-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['descontoPercentual'] ?
                                                                                $this->arrDados['descontoPercentual'] :
                                                                                '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="descontoValor">Valor:</label>

                                                                        <p id="descontoValor-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['descontoValor'] ?
                                                                                $this->arrDados['descontoValor'] : '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="descontoDiaLimite">Dia
                                                                            Limite:</label>

                                                                        <p id="descontoDiaLimite-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['descontoDiaLimite'] ?
                                                                                $this->arrDados['descontoDiaLimite'] :
                                                                                '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="descontoStatus">Status:</label>

                                                                        <p id="descontoStatus-view"
                                                                           class="form-control-static">
                                                                            <?= (
                                                                            $this->arrDados['descontoStatus'] ?
                                                                                $this->arrDados['descontoStatus'] :
                                                                                '-'
                                                                            ); ?>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label for="descontoObservacao">Observação</label>
                                                                <p id="descontoObservacao-view"
                                                                   class="form-control-static">
                                                                    <?= ($this->arrDados['descontoObservacao']); ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="tab-pane" id="abaTitulosVinculadosDescontos-view">
                                                    <fieldset>
                                                        <legend>Títulos Vinculados ao Desconto:</legend>
                                                        <div class="col-sm-12">
                                                            <table id="dataTableTitulosVinculadosDescontos-view"
                                                                   class="table table-striped table-bordered table-hover"
                                                                   width="100%">
                                                                <thead>
                                                                <tr>
                                                                    <th>Código</th>
                                                                    <th>Descrição</th>
                                                                    <th>Valor</th>
                                                                    <th>Valor Desconto</th>
                                                                    <th>Aplicado</th>
                                                                    <th>Situação</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <li class="previous disabled">
                                                                <a href="javascript:void(0);"
                                                                   class="btn btn-lg btn-default">
                                                                    Anterior
                                                                </a>
                                                            </li>
                                                            <li class="next">
                                                                <a href="javascript:void(0);"
                                                                   class="btn btn-lg txt-color-darken">
                                                                    Próxima
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <?php if (!$this->partial) { ?>
                                </div><?php } ?>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroDescontoView({
            data: {},
            value: {
                arrDados:<?=json_encode($this->arrDados); ?>
            }
        });
    });
</script>