<?php
$urlSearch                = $this->url(
    "matricula/default",
    array("controller" => "acadperiodo-docentes", "action" => "search")
);
$urlGetInfo               = $this->url(
    "matricula/default",
    array("controller" => "acadperiodo-docentes", "action" => "get-info-diario")
);
$urlSaveInfo              = $this->url(
    "matricula/default",
    array("controller" => "acadperiodo-docentes", "action" => "save-info-diario")
);
$urlAnotacoesRel          = $this->url(
    "professor/default",
    array("controller" => "acadperiodo-anotacao", "action" => "relatorio-anotacao")
);
$urlAnotacoesSemestralRel = $this->url(
    "professor/default",
    array("controller" => "relatorios", "action" => "diario-anotacoes-semestral")
);
$urlPeriodos              = $this->url(
    "matricula/default",
    array("controller" => "acadperiodo-docentes", "action" => "get-periodos")
);

$urlFrequenciaRel   = $this->url("professor/default", array("controller" => "relatorios", "action" => "diario"));
$urlEncerramentoRel = $this->url("professor/default", array("controller" => "relatorios", "action" => "diario-notas"));

// dependencias de datePicker, inputMask
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
// notificacao smart admin
$this->layoutComponent()->addJS('SmartNotification');

// select2
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');

// arquivo js da pagina
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadperiodo-docentes/docentes-index', false, 'App');
?>
<style type="text/css">
    #docentsTable tbody td {
        cursor: pointer;
    }

    #diario-info {
        padding-top: 5%
    }

    .modal.modal-wide .modal-dialog {
        width: 75%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }

    #turmas-pill-nav {
        width: 20%
    }

    .mes {
        padding-top: 3%
    }

    .download {
        padding-top: 2.5%
    }

    #ajaxLoad {
        display: none;
        height: 100%;
        padding-top: 10%;
        padding-left: 42%;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background-image: url('<?php echo $this->basePath();?>/img/preto-transparente.png');
        background-repeat: repeat;
        width: 100%;
        opacity: 1.0;
        z-index: 9999999;
    }
</style>

<div id="ajaxLoad">
    <img src="/img/ring.gif" class="loader" alt="loader"/>
</div>

<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="form-group">
                    <label for="periodo"><b>Semestre: </b></label>
                    <input type="text" class="form-control" name="periodo" id="periodo">
                </div>
                <div class="widget-body">
                    <table id="docentsTable" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Docente</th>
                            <th>Turmas</th>
                            <th>Diários de Frequencia</th>
                            <th>Diários de Anotações</th>
                            <th>Diário Final Entregue</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <footer class="text-center">
                </footer>
            </div>
        </div>
    </div>
</div>

<div id="diario-info" class="modal modal-wide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><i class="fa fa-graduation-cap"></i> <span id="docenteName"></span></h4>
            </div>
            <div class="modal-body">
                <div class="widget-body">
                    <div class="tabs-left">
                        <ul class="nav nav-tabs tabs-left" id="turmas-pill-nav">
                        </ul>
                        <div class="tab-content" id="content-docente-disciplinas">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>

<template id="template-turma">
    <li class=''>
        <a href='tab' data-toggle='tab' aria-expanded='false'>
            <span class='badge bg-color-blueDark txt-color-white'></span>
        </a>
    </li>
</template>

<template id="template-turma-content">
    <div class="tab-pane" id="tab" display="none">
        <div class="widget-body  col-lg-offset-2 col-sm-offset-2 col-xs-offset-2">
            <div class="panel-group smart-accordion-default" id="accordion-2">
            </div>
        </div>
    </div>
</template>

<template id="template-disciplina-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse" aria-expanded="false"
                   class="collapse in collapsed">
                    <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                    <i class="fa fa-fw fa-minus-circle txt-color-red"></i>
                </a>
            </h4>
        </div>
        <div id="collapse" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
            </div>
        </div>
    </div>
</template>

<template id='form-diario'>
    <form id="docente-form" action="#">
        <input type="hidden" name="docdiscId" value="">

        <div class="row">
            <h4 class="col-sm-2">Mês</h4>
            <h4 class="col-sm-3">Frequência</h4>
            <h4 class="col-sm-5 col-sm-offset-2">Anotações</h4>
        </div>
        <hr>
        <div id="fields-form">
        </div>
        <footer class="modal-footer">
            <button type="button" id="salvarEtapa" class="btn btn-sm btn-primary">Salvar Alterações</button>
        </footer>
    </form>
</template>

<template id="template-row-mes">
    <div class="row">
        <section class="col-sm-2 ">
            <div class="form-group">
                <input type="hidden" name="diarioEntregaId[]"/>
                <input type="hidden" name="diarioEntregaMes[]"/>

                <h6 id="mes"></h6>
            </div>
        </section>
        <section class="col-sm-3">
            <div class="form-group">
                <input type="text" placeholder="Data de Entrega" name="frequencia[]" class="form-control"/>
            </div>
        </section>
        <section class="col-sm-2">
            <a href="#" id="downFrequencia" target="_blank">
                <button type="button" class="btn btn-default"><span
                        class="glyphicon glyphicon-circle-arrow-down"></span></button>
            </a>
        </section>
        <section class="col-sm-3">
            <div class="form-group">
                <input type="text" placeholder="Data de Entrega" name="anotacoes[]" class="form-control"/>
            </div>
        </section>
        <section class="col-sm-2">
            <a href="#" id="downAnotacoes" target="_blank">
                <button type="button" class="btn btn-default"><span
                        class="glyphicon glyphicon-circle-arrow-down"></span></button>
            </a>
        </section>
    </div>
</template>

<template id="template-encerramento">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <h4>Documentos de Encerramento</h4>
        </div>
    </div>
    <div class="row">
        <fieldset>
            <section class="col-sm-2 mes">
                <div class="form-group">
                    <input type="hidden" name="encerramentoId"/>
                    <input type="hidden" name="entregaEncerramento" value="encerramento"/>
                    <h6 id="mes">Diários</h6>
                </div>
            </section>
            <section class="col-sm-3 mes">
                <div class="form-group">
                    <input type="text" placeholder="Data de Entrega" name="encerramento" class="form-control"/>
                </div>
            </section>
            <section class="col-sm-2 download">
                <a href="#" class="downEncerramento" target="_blank">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                            title="Diário de notas e Frequência">
                        <span class="glyphicon glyphicon-circle-arrow-down"> </span>
                    </button>
                </a>
                <a href="#" class="downEncerramentoAnotacoes" target="_blank">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                            title="Diário de Anotações">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    </button>
                </a>
            </section>

            <section class="col-sm-2 download">

            </section>
        </fieldset>
    </div>
</template>
<script type="text/javascript">
    window.BuscaPeriodos = '<?php echo $urlPeriodos?>';
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.docentesIndex({
            urlSearch: '<?= $urlSearch?>',
            urlGetInfo: '<?= $urlGetInfo?>',
            urlSaveInfo: '<?= $urlSaveInfo?>',
            urlAnotacoesRel: '<?= $urlAnotacoesRel?>',
            urlAnotacoesSemestralRel: '<?= $urlAnotacoesSemestralRel?>',
            urlFrequenciasRel: '<?= $urlFrequenciaRel?>',
            urlEncerramentoRel: '<?= $urlEncerramentoRel?>'
        });

        $(".modal-wide").on("show.bs.modal", function () {
            var height = $(window).height() - 200;
            $(this).find(".modal-body").css("max-height", height);
        });
    });
</script>