<script language="JavaScript" src="<?=$this->basePath()?>/js/universa/boleto/financeiro-desconto/edit.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<?php

$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Cadastro de descontos', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag( $this->form );
?>
<input type="hidden" name="voltaFinanceiro" value="<?=$this->voltaFinanceiro?>" />
<fieldset>
    <div id="dadosAluno"></div>
    <div class="row">
        <?=$this->spineForm()->formInput($this->form->get("desctipo"));?>
    </div>

    <div id="desconto">
        <div class="row">
            <?=$this->spineForm()->formInput($this->form->get("desctipoValormax"));?>
            <?=$this->spineForm()->formInput($this->form->get("desctipoPercmax"));?>
            <?=$this->spineForm()->formInput($this->form->get("valorMensalidade"));?>

        </div>
        <div class="row">
            <?=$this->spineForm()->formInput($this->form->get("descontoValor"));?>
            <?=$this->spineForm()->formInput($this->form->get("descontoPercentual"));?>
            <?=$this->spineForm()->formInput($this->form->get("descontoDiaLimite"));?>
        </div>
        <div class="row">
            <?=$this->spineForm()->formInput($this->form->get("desctipoModalidade"));?>
            <?=$this->spineForm()->formInput($this->form->get("desctipoLimitaVencimento"));?>
        </div>
        <div class="row">
            <section style="padding-left:30px;">
                <label class="label">Descontos nas parcelas</label>
                <div class="inline-group">
                    <?php for($i = 1; $i <= 6; $i ++):?>
                        <label class="checkbox">
                            <input name="descontoMensalidades[]" value="<?=$i?>" <?=$this->mensalidades[$i] == $i ?
                                ($this->financeiroMensalidades[$i-1]['estado'] == "Pago" && $this->financeiroMensalidades[$i-1]['usuario_baixa'] != null ? " onclick='enableCheckBoxMensalidades(this)' checked='checked' " : "checked='checked'") : ( $this->financeiroMensalidades[$i-1]['estado'] == "Pago" ? "onclick='disabledCheckBoxMensalidades(this)'" : ""  )?> type="checkbox">
                            <i></i><?=$i?>°
                        </label>
                    <?php endfor?>
                </div>
            </section>
        </div>
    </div>

    <div id="infoEdit">
        <input name="parcelasCadastradas" type="hidden" value="<?=$this->parcelas?>">
    </div>
    <div>
        <?=$this->formHidden($this->form->get("descontoId"));?>
        <?=$this->spineForm()->formInput($this->form->get("alunoper")->setAttribute('type','hidden'));?>
    </div>
</fieldset>

<footer>

    <?php if($this->voltaFinanceiro): ?>
        <a href="<?=$this->basePath()?>/boleto-bancario/financeiro/dados-aluno/<?=$this->acadperiodoAluno;?>" class="btn btn-primary pull-left" >Voltar</a>
    <?php else: ?>
        <a href="<?=$this->basePath()?>/boleto-bancario/financeiro-desconto" class="btn btn-primary pull-left" >Voltar</a>
    <?php endif ?>
    <?=$this->formSubmit($this->form->get("salvar"));?>
</footer>





<?php
echo $this->spineJarvis()->closeWidget();
echo $this->form()->closeTag();
$this->spineJarvis()->closeJarvis();



