<?php
$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('jquery.caret', false, 'App');
$this->layoutComponent()->addComponent('jquery.atwho', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-config-painel-index', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();

$urlForm = $this->url("sistema/default", ["controller" => "sis-config-painel", "action" => "edit"]);
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-sis-config">
                    <form action="<?= $urlForm ?>" id="sis-config-painel-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <fieldset>
                            <legend>Configurações do Sistema</legend>

                            <div class="col-sm-12">
                                <div class="alert alert-warning">
                                    <span class="fa fa-warning"></span> Atenção! A modificação de variáveis do
                                    sistema pode impactar no funcionamento do sistema.
                                </div>
                            </div>

                            <div class="tabs-left col-md-12 col-xs-12">
                                <ul class="nav nav-tabs tabs-left col-xs-4 col-md-2">
                                    <?php
                                    $ativo = ' class="active"';

                                    foreach ($this->arrCampos as $idAba => $arrAba) {
                                        $nameTab = ucfirst($idAba); ?>
                                        <li<?= $ativo; ?>>
                                            <a href="#tab<?= $nameTab; ?>" data-toggle="tab">
                                                <?= $arrAba['descricao']; ?>
                                            </a>
                                        </li>
                                        <?php
                                        $ativo = "";
                                    } ?>
                                </ul>

                                <div class="tab-content">
                                    <?php
                                    $ativo = "active";

                                    foreach ($this->arrCampos as $nameTab => $arrAba) {
                                        $nameTab = ucfirst($nameTab); ?>
                                        <div class="tab-pane <?= $ativo ?>" id="tab<?= $nameTab ?>">
                                            <div class='col-sm-10 col-xs-10'>
                                                <legend>Configurações &gt; <?= $arrAba['descricao']; ?></legend>
                                                <?php
                                                $ativo = "";
                                                foreach ($arrAba['blocos'] as $nRow => $cadaRow) {
                                                    if (is_string($nRow)) { ?>
                                                        <legend><?= $nRow; ?></legend>
                                                    <?php } ?>
                                                    <div class='row'>
                                                        <?php foreach ($cadaRow as $name => $cadaElemento) {
                                                            $columns = $cadaElemento['columns'] ? $cadaElemento['columns'] : 6;
                                                            ?>
                                                            <div class='col-md-<?= $columns; ?> col-xs-12'>
                                                                <div class='form-group'>
                                                                    <?php
                                                                    if ($descricao = $cadaElemento['descricao']) {
                                                                        echo '
                                                                        <a class="pull-right"
                                   title="' . $descricao . '" >
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>';
                                                                    }

                                                                    echo $this
                                                                        ->sisConfig()
                                                                        ->criarCampo($name, $cadaElemento);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        <?php } ?>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisConfigPainelIndex({
            ajaxSubmit: 1,
            listagem: 1
        });
    });
</script>