<?php
$urlListagem                        = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional'));
$urlPessoa                          = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaOrgAgenteEducacional    = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlPesquisaBoletoBanco             = $this
    ->url('financeiro/default', array('controller' => 'boleto-banco', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralCadastroOrigem = $this
    ->url('matricula/default', array('controller' => 'acadgeral-cadastro-origem', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('org-agente-educacional-add', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1%;
        width: 48%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .file-upload .message {
        display: none;
    }

    .file-upload .preview {
        width: 100%;
        height: 8em;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="org-agente-educacional-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" id="pesId" value="<?php echo $this->arrDados['pesId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pesIdIndicacao">Pessoa:</label>
                                <input type="text" name="pesIdAgente" id="pesIdAgente" class="form-control"
                                       placeholder="Pessoa física ou jurídica por trás do agente">
                                <a href="#" class="hidden editarPessoa">
                                    <i class="fa fa-edit"></i> Editar dados da pessoa
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pesIdIndicacao">Agente que efetuou a indicação:</label>
                                <input type="text" name="pesIdIndicacao" id="pesIdIndicacao" class="form-control"
                                       placeholder="Agente que efetuou a indicação">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="origem">Como conheceu a intituição:</label>
                                <input type="text" name="origem" id="origem" class="form-control"
                                       placeholder="Como conheceu a intituição">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="agenteMaxNivel">Nível Máximo:</label>
                                <input type="text" name="agenteMaxNivel" id="agenteMaxNivel" class="form-control"
                                       placeholder="Nível Máximo de Comissionamento" maxlength="1" readonly
                                       value="<?= $this->arrDados['agenteMaxNivel'] ? $this->arrDados['agenteMaxNivel'] : 3; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="agenteComissaoPrimeiroNivel">Comissão(%) 1º nível:</label>
                                <input type="text" name="agenteComissaoPrimeiroNivel"
                                       id="agenteComissaoPrimeiroNivel" class="form-control"
                                       placeholder="Percentual de comissão 1º nível"
                                       value="<?php echo $this->arrDados['agenteComissaoPrimeiroNivelFormatado']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="agenteComissaoDemaisNiveis">Comissão(%) demais níveis:</label>
                                <input type="text" name="agenteComissaoDemaisNiveis" id="agenteComissaoDemaisNiveis"
                                       class="form-control" placeholder="Percentual de comissão demais níveis"
                                       value="<?php echo $this->arrDados['agenteComissaoDemaisNiveisFormatado']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="banc">Banco:</label>
                                <input type="text" name="banc" id="banc" class="form-control" placeholder="Banco"
                                       maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="agenteContaTipo">Tipo Conta:</label>
                                <select name="agenteContaTipo" id="agenteContaTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrAgenteContaTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['agenteContaTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="agenteContaAgencia">Agência Conta:</label>
                                <input type="text" name="agenteContaAgencia" id="agenteContaAgencia"
                                       class="form-control"
                                       placeholder="Agência Conta" maxlength="20"
                                       value="<?php echo $this->arrDados['agenteContaAgencia']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="agenteContaNumero">Número Conta:</label>
                                <input type="text" name="agenteContaNumero" id="agenteContaNumero"
                                       class="form-control"
                                       placeholder="Número Conta" maxlength="20"
                                       value="<?php echo $this->arrDados['agenteContaNumero']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="agenteContaTitular">Titular Conta:</label>
                                <input type="text" name="agenteContaTitular" id="agenteContaTitular"
                                       class="form-control"
                                       placeholder="Titular Conta" maxlength="100"
                                       value="<?php echo $this->arrDados['agenteContaTitular']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="agenteObservacao">Observação:</label>
                                <textarea name="agenteObservacao" id="agenteObservacao" class="form-control"
                                          placeholder="Observação"
                                          rows="5"><?php echo $this->arrDados['agenteObservacao']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="agenteLogin">Login:</label>

                                <p class="form-control-static"><?= ($this->arrDados['acesso'] ? $this->arrDados['acesso']['login'] : '-'); ?></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="agenteDataCadastro">Data de Cadastro:</label>

                                <p class="form-control-static"><?= ($this->arrDados['agenteDataCadastro'] ? $this->arrDados['agenteDataCadastro'] : '-'); ?></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="agenteDataAtualizacao">Login:</label>

                                <p class="form-control-static"><?= ($this->arrDados['agenteDataAtualizacao'] ? $this->arrDados['agenteDataAtualizacao'] : '-'); ?></p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="agenteSituacao">Situação:</label>
                                <select name="agenteSituacao" id="agenteSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrAgenteSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['agenteSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<?php
$variaveis                               = [];
$variaveis['partial']                    = true;
$variaveis['desativaAutocompletePessoa'] = true;
$variaveis['ajaxSubmit']                 = true;
$variaveis['arrPesSexo']                 = $this->arrPesSexo;
$variaveis['arrEstados']                 = $this->arrEstados;
$variaveis['arrPesEstadoCivil']          = $this->arrPesEstadoCivil;

?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-editar" role="dialog" aria-hidden="true"
     style="overflow: hidden">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Editar Pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgAgenteEducacionalAdd({
            url: {
                orgAgenteEducacional: '<?=$urlPesquisaOrgAgenteEducacional;?>',
                pessoa: '<?=$urlPessoa;?>',
                acadgeralCadastroOrigem: '<?=$urlPesquisaAcadgeralCadastroOrigem;?>',
                boletoBanco: '<?=$urlPesquisaBoletoBanco;?>'
            },
            value: {
                pesIdAgente:<?=json_encode($this->arrDados['pesIdAgente']); ?>,
                pesIdIndicacao:<?=json_encode($this->arrDados['pesIdIndicacao']); ?>,
                origem:<?=json_encode($this->arrDados['origem']); ?>,
                banc:<?=json_encode($this->arrDados['banc']); ?>
            }
        });
    });
</script>