<?php
$paramUrl = array("controller" => "org-agente-educacional", "action" => "add");

$urlAdd                 = $this->url("organizacao/default", $paramUrl);
$paramUrl['action']     = 'search';
$urlSearch              = $this->url("organizacao/default", $paramUrl);
$paramUrl['action']     = 'edit';
$urlEdit                = $this->url("organizacao/default", $paramUrl);
$paramUrl['action']     = 'remove';
$urlRemove              = $this->url("organizacao/default", $paramUrl);
$paramUrl['action']     = 'busca-informacoes-agente-educacional';
$urlPesquisaDadosPessoa = $this->url("organizacao/default", $paramUrl);

$urlBuscaCEP               = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlPesquisaCadastroOrigem = $this
    ->url('matricula/default', array('controller' => 'acadgeral-cadastro-origem', 'action' => 'search-for-json'));
$urlComunicacaoModelo      = $this
    ->url('organizacao/default', array('controller' => 'org-comunicacao-modelo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('org-agente-educacional-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-chevron-right"></i>
                                        Filtros avançados
                                    </a>
                                </h4>
                            </div>
                            <div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="origemCadastro">Origem de Cadastro:</label>
                                                    <input type="text" name="origemCadastro" id="origemCadastro"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="estadoAgente">Estado:</label>
                                                    <input type="text" name="estadoAgente" id="estadoAgente"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="cidadeAgente">Cidade:</label>
                                                    <input name="cidadeAgente" id="cidadeAgente"
                                                           class="form-control"
                                                           placeholder="Escolha a Cidade depois de selecionar o Estado">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset>
                                                <legend>Cadastrado Em:</legend>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="dataCadastroInicial">Data Inicial:</label>
                                                        <input type="text" name="dataCadastroInicial"
                                                               id="dataCadastroInicial"
                                                               class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="dataCadastroFinal">Data Final:</label>
                                                        <input type="text" name="dataCadastroFinal"
                                                               id="dataCadastroFinal"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-6">
                                            <fieldset>
                                                <legend>Alterado Em:</legend>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="dataAlteracaoInicial">Data Inicial:</label>
                                                        <input type="text" name="dataAlteracaoInicial"
                                                               id="dataAlteracaoInicial"
                                                               class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="dataAlteracaoFinal">Data Final:</label>
                                                        <input type="text" name="dataAlteracaoFinal"
                                                               id="dataAlteracaoFinal"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary"
                                                        id="agentesFiltroExecutar">
                                                    <i class="fa fa-search"></i>
                                                    Filtrar resultados
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                        id="agentesFiltroLimpar">
                                                    <i class="fa fa-clear"></i>
                                                    Limpar filtros
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="dataTableOrgAgenteEducacional" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>CPF/CNPJ</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Comissão(%) 1º</th>
                            <th>Comissão(%) 2ª +</th>
                            <th>Cadastro</th>
                            <th>Situacão</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary">
                            Novo Registro
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ENVIO DE COMUNICAÇÃO AOS AGENTES -->
<?php echo $this->partial('/organizacao/org-comunicacao-modelo/index-modal-enviar-comunicacao.phtml'); ?>
<!-- MODAL DE EXIBIÇÃO DOS DADOS DO AGENTE -->
<?php echo $this->partial('/organizacao/org-agente-educacional/modal-visualizar-agente.phtml'); ?>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgAgenteEducacionalIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                buscaCEP: '<?php echo $urlBuscaCEP;?>',
                cadastroOrigem: '<?php echo$urlPesquisaCadastroOrigem;?>',
                comunicacaoModelo: '<?php echo $urlComunicacaoModelo; ?>',
                pesquisaDadosPessoa: '<?php echo $urlPesquisaDadosPessoa ?>'
            }
        });
    });
</script>