<div id="modal-visualizar-agente" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="width: 80%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Código do Agente: <span id="agenteInfo" class="text-danger"></span></strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 form-static-agente">
                        <fieldset>
                            <legend>Informações Pessoais</legend>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Nome: </label>

                                    <p class="form-control-static pesNome">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Nascimento: </label>

                                    <p class="form-control-static pesDataNascimento">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Sexo: </label>

                                    <p class="form-control-static pesSexo">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">CPF: </label>

                                    <p class="form-control-static pesCpf">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">RG: </label>

                                    <p class="form-control-static pesRg">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Naturalidade: </label>

                                    <p class="form-control-static pesNaturalidade">-</p>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Informações de Contato</legend>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Email: </label>

                                    <p class="form-control-static conContatoEmail">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Celular: </label>

                                    <p class="form-control-static conContatoCelular">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Telefone: </label>

                                    <p class="form-control-static conContatoTelefone">-</p>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset>
                            <legend>Informações Residenciais</legend>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Logradouro:</label>

                                    <p class="form-control-static endLogradouro">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">N°:</label>

                                    <p class="form-control-static endNumero">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Cep:</label>

                                    <p class="form-control-static endCep">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Bairro:</label>

                                    <p class="form-control-static endBairro">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Cidade:</label>

                                    <p class="form-control-static endCidade">-</p>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset>
                            <legend>Informações do Agente</legend>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Indicação:</label>

                                    <p class="form-control-static pesNomeIndicacao">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Login:</label>

                                    <p class="form-control-static login">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Situacao:</label>

                                    <p class="form-control-static agenteSituacao">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Nível:</label>

                                    <p class="form-control-static agenteMaxNivel">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Origem:</label>

                                    <p class="form-control-static origem">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Cadastro:</label>

                                    <p class="form-control-static agenteDataCadastro">-</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="text-muted">Última Atualização:</label>

                                    <p class="form-control-static agenteDataAtualizacao">-</p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>