<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-desconto-tipo'));
$paramUrl    = array('controller' => 'financeiro-desconto-tipo', 'action' => 'add');

if ($this->arrDados['desctipoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['desctipoId'];
}

$urlForm                         = $this->url('financeiro/default', $paramUrl);
$urlPesquisaFinanceiroTituloTipo = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-desconto-tipo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-desconto-tipo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="desctipoId" id="desctipoId"
                               value="<?php echo $this->arrDados['desctipoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="desctipoDescricao">Descrição:</label>
                                <input type="text" name="desctipoDescricao" id="desctipoDescricao" class="form-control"
                                       placeholder="Descrição" maxlength="45"
                                       value="<?php echo $this->arrDados['desctipoDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="desctipoPercmax">Percentual Máximo de Desconto:</label>
                                <input type="text" name="desctipoPercmax" id="desctipoPercmax" class="form-control"
                                       placeholder="Percentual Máximo de Desconto" maxlength="6"
                                       value="<?php echo $this->arrDados['desctipoPercmax']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="desctipoValormax">Valor Máximo de Desconto:</label>
                                <input type="text" name="desctipoValormax" id="desctipoValormax" class="form-control"
                                       placeholder="Valor Máximo de Desconto" maxlength="10"
                                       value="<?php echo $this->arrDados['desctipoValormax']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="desctipoModalidade">Modalidade:</label>
                                <select name="desctipoModalidade" id="desctipoModalidade" class="form-control">
                                    <?php
                                    foreach ($this->arrDesctipoModalidade as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['desctipoModalidade']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="desctipoLimitaVencimento">Limitado ao Vencimento:</label>
                                <select name="desctipoLimitaVencimento" id="desctipoLimitaVencimento"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrDesctipoLimitaVencimento as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['desctipoLimitaVencimento']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="desctipoDescontoAcumulativo">Desconto Acumulativo:</label>
                                <a class="pull-right"
                                   title="Este desconto será somado a demais descontos?">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <input type="text" name="desctipoDescontoAcumulativo"
                                       id="desctipoDescontoAcumulativo"
                                       class="form-control"
                                       placeholder="Desconto Acumulativo?">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="permissao">Tipos de título permitidos:</label>
                                <input type="text" name="permissao" id="permissao" class="form-control"
                                       placeholder="Tipos de título permitidos">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroDescontoTipoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
            },
            data: {},
            value: {
                permissao:<?=json_encode($this->arrDados['permissao']); ?>,
                desctipoDescontoAcumulativo:<?=json_encode($this->desctipoDescontoAcumulativo); ?>
            }
        });
    });
</script>