<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'atividadeperiodo-aluno'));
$paramUrl    = array('controller' => 'atividadeperiodo-aluno', 'action' => 'add');

if ($this->arrDados['alunoAtividadeId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['alunoAtividadeId'];
}
$urlPesquisaAcadperiodoAluno       = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-aluno', 'action' => 'search-for-json'));
$urlPesquisaAtividadeAlunoEdit   = $this
    ->url('atividades/default', array('controller' => 'atividadeperiodo-aluno', 'action' => 'edit'));
$urlPesquisaAlunoCurso             = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-curso', 'action' => 'search-for-json'));
$urlPesquisaAtividadeperiodoEvento = $this
    ->url('atividades/default', array('controller' => 'atividadeperiodo-evento', 'action' => 'search-for-json'));
$urlPeriodoLetivo                  = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlForm                           = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('atividadeperiodo-aluno-add', false, 'App');
$this->layoutComponent()->addJS('atividadeperiodo-evento-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="atividadeperiodo-aluno-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="alunoAtividadeId" id="alunoAtividadeId"
                               value="<?php echo $this->arrDados['alunoAtividadeId']; ?>">

                        <input type="hidden" name="usuarioCadastro" id="usuarioCadastro">
                        <input type="hidden" name="alunoAtividadeDataLancamento" id="alunoAtividadeDataLancamento">

                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="evento">Evento:</label>
                                    <input type="text" name="evento" id="evento" class="form-control"
                                           placeholder="Evento" maxlength="11">

                                    <a href="#" class="hidden editarEvento">
                                        <i class="fa fa-edit"></i> Editar dados do evento
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="periodoLetivo">Período Letivo:</label>
                                    <input type="text" name="periodoLetivo" id="periodoLetivo" class="form-control"
                                           placeholder="Selecione um período letivo">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="alunoper">Aluno:</label>
                                    <input type="text" name="alunoper" id="alunoper" class="form-control"
                                           placeholder="Código Aluno No Período" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label title="Matricula do aluno">Matrícula:</label>

                                    <p class="form-control-static alunoMatricula">-</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label title="Curso do aluno">Curso:</label>

                                    <p class="form-control-static alunoCurso">-</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label title="Situação do aluno">Situação aluno:</label>

                                    <p class="form-control-static situacaoAluno">-</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="alunoAtividadeDataRealizacao">Data Realização:</label>
                                    <input type="text" name="alunoAtividadeDataRealizacao"
                                           id="alunoAtividadeDataRealizacao"
                                           class="form-control" placeholder="Data atividade"
                                           value="<?php echo $this->arrDados['alunoAtividadeDataRealizacao']; ?> ">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="alunoAtividadeHorasReais">Horas Reais de Evento:</label>
                                    <input type="text" name="alunoAtividadeHorasReais" id="alunoAtividadeHorasReais"
                                           class="form-control"
                                           placeholder="Reais Horas Evento" maxlength="10"
                                           value="<?php echo $this->arrDados['alunoAtividadeHorasReais']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <a class="pull-right"
                                       title="O valor máximo para este campo não pode ser maior do que as horas máxima para o evento ou para categoria que ela pertence.">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                    <label for="alunoAtividadeHorasValidas">Horas Validas Evento:</label>
                                    <input type="text" name="alunoAtividadeHorasValidas" id="alunoAtividadeHorasValidas"
                                           class="form-control"
                                           placeholder="Validas Horas Evento" maxlength="10"
                                           value="<?php echo $this->arrDados['alunoAtividadeHorasValidas']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="alunoAtividadeObservacao">Observação Atividade:</label>
                                    <textarea name="alunoAtividadeObservacao" id="alunoAtividadeObservacao"
                                              class="form-control"
                                              placeholder="Observação Atividade"
                                              rows="5"><?php echo $this->arrDados['alunoAtividadeObservacao']; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="atividadeperiodo-evento-modal" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar Evento</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('atividades/atividadeperiodo-evento/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.atividadeperiodoAlunoAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                acadperiodoAluno: '<?=$urlPesquisaAcadperiodoAluno;?>',
                atividadeAlunoEdit: '<?=$urlPesquisaAtividadeAlunoEdit;?>',
                atividadeperiodoEvento: '<?=$urlPesquisaAtividadeperiodoEvento;?>',
                acadgeralAlunocurso: '<?=$urlPesquisaAcadperiodoAluno;?>',
                periodoLetivo: '<?= $urlPeriodoLetivo;?>'
            },
            data: {},
            value: {
                alunoper:<?=json_encode($this->arrDados['alunoper']); ?>,
                evento:<?=json_encode($this->arrDados['evento']); ?>,
                usuarioCadastro:<?=json_encode($this->arrDados['usuarioCadastro']); ?>
            }
        });
    });
</script>