<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-atividades-disciplina'));
$paramUrl    = array('controller' => 'estagiogeral-atividades-disciplina', 'action' => 'add');

if ($this->arrDados['atividadediscId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['atividadediscId'];
}

$urlPesquisaEstagiogeralConfiguracoesAtividades = $this
    ->url(
        'atividades/default',
        array('controller' => 'estagiogeral-configuracoes-atividades', 'action' => 'search-for-json')
    );

$urlPesquisaAcadgeralDisciplina = $this
    ->url('matricula/default', array('controller' => 'acadgeral-disciplina', 'action' => 'search-for-json'));
$urlForm                        = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-atividades-disciplina-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-atividades-disciplina-form"
                          novalidate="novalidate" method="post">

                        <input type="hidden" name="atividadediscId" id="atividadediscId"
                               value="<?php echo $this->arrDados['atividadediscId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfatividadeId">Código:</label>
                                <input type="text" name="estagioconfatividadeId" id="estagioconfatividadeId"
                                       class="form-control"
                                       placeholder="Código" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfatividadeId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="discId">Código:</label>
                                <input type="text" name="discId" id="discId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['discId']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralAtividadesDisciplinaAdd({

                urlPesquisaEstagiogeralConfiguracoesAtividades: '<?=$urlPesquisaEstagiogeralConfiguracoesAtividades;?>',

                urlPesquisaAcadgeralDisciplina: '<?=$urlPesquisaAcadgeralDisciplina;?>',

            <?php echo $this->arrDados['estagioconfatividadeId'] ? "\n,estagioconfatividadeId:".json_encode($this->arrDados['estagioconfatividadeId']) : ''; ?>,

        <?php echo $this->arrDados['discId'] ? "\n,discId:".json_encode($this->arrDados['discId']) : ''; ?>
    });
    })
    ;
</script>