<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo-setor-grupo'));
$paramUrl    = array('controller' => 'protocolo-setor-grupo', 'action' => 'add');

if ($this->arrDados['setorGrupoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['setorGrupoId'];
}
$urlPesquisaProtocoloSetor = $this
    ->url('protocolo/default', array('controller' => 'protocolo-setor', 'action' => 'search-for-json'));
$urlPesquisaAcessoGrupo    = $this
    ->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));
$urlForm                   = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-setor-grupo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="protocolo-setor-grupo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="setorGrupoId" id="setorGrupoId"
                               value="<?php echo $this->arrDados['setorGrupoId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="setor">Código Setor:</label>
                                <input type="text" name="setor" id="setor" class="form-control"
                                       placeholder="Código Setor" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="grupo">Grupo:</label>
                                <input type="text" name="grupo" id="grupo" class="form-control"
                                       placeholder="Grupo" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloSetorGrupoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                protocoloSetor: '<?=$urlPesquisaProtocoloSetor;?>',
                acessoGrupo: '<?=$urlPesquisaAcessoGrupo;?>'
            },
            data: {},
            value: {
                setor:<?=json_encode($this->arrDados['setor']); ?>,
                grupo:<?=json_encode($this->arrDados['grupo']); ?>
            },
        });
    });
</script>