<?php
$urlListagem = $this->url('documentos/default', array('controller' => 'documento-modelo'));
$paramUrl    = array('controller' => 'documento-modelo', 'action' => 'add');

$urlSearchGrupo          = $this->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));

if ($this->arrDados['modeloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['modeloId'];
}
$urlPesquisaDocumentoTipo             = $this
    ->url('documentos/default', array('controller' => 'documento-tipo', 'action' => 'search-for-json'));
$urlPesquisaOrgCampus                 = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));
$urlPesquisaAcadCurso                 = $this
    ->url('matricula/default', array('controller' => 'acad-curso', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAreaConhecimento = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo      = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlForm                              = $this->url('documentos/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('documento-modelo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="documento-modelo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="modeloId" id="modeloId"
                               value="<?php echo $this->arrDados['modeloId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tdoc">Tipo De Documento:</label>
                                <input type="text" name="tdoc" id="tdoc" class="form-control"
                                       placeholder="Tipo De Documento" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="area">Área:</label>
                                <input type="text" name="area" id="area" class="form-control"
                                       placeholder="Área" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="camp">Câmpus:</label>
                                <input type="text" name="camp" id="camp" class="form-control"
                                       placeholder="Câmpus" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="curso">Curso:</label>
                                <input type="text" name="curso" id="curso" class="form-control"
                                       placeholder="Curso" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="tipotitulo">Tipo De Título:</label>
                                <input type="text" name="tipotitulo" id="tipotitulo" class="form-control"
                                       placeholder="Tipo De Título">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="modeloDataInicio">Data de Início:</label>
                                <input type="text" name="modeloDataInicio" id="modeloDataInicio" class="form-control"
                                       placeholder="Data de Início"
                                       value="<?php echo $this->arrDados['modeloDataInicio']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="modeloDataFim">Data Final:</label>
                                <input type="text" name="modeloDataFim" id="modeloDataFim" class="form-control"
                                       placeholder="Data Final" value="<?php echo $this->arrDados['modeloDataFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="modeloDescricao">Descrição:</label>
                                <input type="text" name="modeloDescricao" id="modeloDescricao" class="form-control"
                                       placeholder="Descrição" maxlength="150"
                                       value="<?php echo $this->arrDados['modeloDescricao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="grupoId">Grupos:</label>
                                <input type="text" name="grupoId" id="grupoId" class="form-control"
                                       placeholder="Grupos que terão acesso ao modelo" maxlength="150">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="modeloContexto">Contexto:</label>
                                <select name="modeloContexto" id="modeloContexto" class="form-control">
                                    <?php
                                    foreach ($this->arrModeloContexto as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['modeloContexto']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="modeloConteudo">Conteúdo:</label>
                                <textarea name="modeloConteudo" id="modeloConteudo" class="form-control"
                                          placeholder="Conteúdo"
                                          rows="5"><?php echo $this->arrDados['modeloConteudo']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.documentoModeloAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                documentoTipo: '<?=$urlPesquisaDocumentoTipo;?>',
                orgCampus: '<?=$urlPesquisaOrgCampus;?>',
                acadCurso: '<?=$urlPesquisaAcadCurso;?>',
                acadgeralAreaConhecimento: '<?=$urlPesquisaAcadgeralAreaConhecimento;?>',
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                acessoGrupo: '<?= $urlSearchGrupo; ?>'
            },
            data: {},
            value: {
                tdoc:<?=json_encode($this->arrDados['tdoc']); ?>,
                camp:<?=json_encode($this->arrDados['camp']); ?>,
                curso:<?=json_encode($this->arrDados['curso']); ?>,
                area:<?=json_encode($this->arrDados['area']); ?>,
                tipotitulo:<?=json_encode($this->arrDados['tipotitulo']); ?>,
                grupo: <?=json_encode($this->arrDados['arrGrupo']); ?>
            }
        });
    });
</script>