<?php
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
?>
<style>
    .logo-universa {
        width: 100%;
        text-align: center;
    }

    .logo-universa img {
        max-width: 300px;
        max-height: 70px;
        width: initial;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div class="container">
                        <div class="logo-universa">
                            <img src="<?= $this->basePath(
                                $this->layoutInformation()->getLogo()
                            ); ?>?width=300&height=70">
                        </div>
                        <div class="text-center">
                            <span class="text-lg text-bold text-primary"><?php
                                echo $this->layoutInformation()->getProjectName();
                                ?>
                            </span>
                            <?php if ($this->layoutInformation()->getProjectVersion()) { ?>
                                <br>
                                <span class="text-version"><?php
                                    echo "Versão " . $this->layoutInformation()->getProjectVersion();
                                    ?></span>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>