<fieldset>
    <legend>Dados Pessoais</legend>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesNacionalidade">Nacionalidade:</label>
            <select name="pesNacionalidade" id="pesNacionalidade" class="form-control">
                <?php
                foreach ($this->arrPesNacionalidade as $value) {
                    $id       = $value['id'];
                    $text     = $value['text'];
                    $selected = ($id == $this->arrDados['pesNacionalidade']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="campoPesCpf col-sm-2">
        <div class="form-group">
            <label for="pesCpf">CPF:</label>

            <div class="input-group">
                <input type="text" name="pesCpf" id="pesCpf" class="form-control" placeholder="CPF"
                       value="<?php echo $this->arrDados['pesCpf']; ?>">

                <div class="input-group-btn">
                    <button class="btn btn-default buscarDocumentoPessoa" type="button"
                            title="Buscar pessoas cadastradas no banco pelo documento">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 campoPesDocEstrangeiro hidden">
        <div class="form-group">
            <label for="pesDocEstrangeiro">Documento Estrangeiro:</label>

            <div class="input-group">
                <input type="text" name="pesDocEstrangeiro" id="pesDocEstrangeiro" class="form-control"
                       placeholder="Documento Estrangeiro"
                       value="<?php echo $this->arrDados['pesDocEstrangeiro']; ?>">

                <div class="input-group-btn">
                    <button class="btn btn-default buscarDocumentoPessoa" type="button"
                            title="Buscar pessoas cadastradas no banco pelo documento">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pesNome">Nome:</label>
            <input type="text" name="pesNome" id="pesNome" class="form-control" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNome']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesDataNascimento">Data de Nascimento</label>
            <input type="text" name="pesDataNascimento" id="pesDataNascimento" class="form-control"
                   placeholder="Data de nascimento" value="<?php echo $this->arrDados['pesDataNascimento']; ?>">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="pesNaturalidade">Cidade de Nascimento</label>
            <input type="text" name="pesNaturalidade" id="pesNaturalidade" class="form-control"
                   placeholder="Informe a cidade de Nascimento" autocomplete="off"
                   value="<?php echo $this->arrDados['pesNaturalidade']; ?>">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="pesNascUf">Estado de nascimento:</label>
            <input type="text" name="pesNascUf" id="pesNascUf" class="form-control"
                   placeholder="Informe o estado do nascimento" autocomplete="off"
                   value="<?php echo($this->arrDados['pesNascUf'] ? $this->arrDados['pesNascUf'] : $this->arrDados['endEstado']); ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Sexo:</label>

            <div class="input-group">
                <label class="radio-inline">
                    <input type="radio" name="pesSexo" id="pesSexo1"
                           value="Masculino" <?php echo $this->arrDados['pesSexo'] == 'Masculino' ? 'checked' : ''; ?>>Masculino
                </label>
                <label class="radio-inline">
                    <input type="radio" name="pesSexo" id="pesSexo2"
                           value="Feminino" <?php echo $this->arrDados['pesSexo'] == 'Feminino' ? 'checked' : ''; ?> >Feminino
                </label>
            </div>
            <span style="display: none" class="error help-block">Campo obrigatório!</span>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesRg">RG:</label>
            <input type="text" name="pesRg" id="pesRg" class="form-control" placeholder="Informe o RG"
                   value="<?php echo $this->arrDados['pesRg']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="pesRgEmissao">Data de emissão do RG</label>
            <input type="text" name="pesRgEmissao" id="pesRgEmissao" class="form-control"
                   placeholder="Data de emissão"
                   value="<?php echo $this->arrDados['pesRgEmissao']; ?>">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="pessoaNecessidades">Necessidades Especiais</label>
            <input type="text" name="pessoaNecessidades" id="pessoaNecessidades" class="form-control"
                   placeholder="Informe as necessidades especias do aluno">
        </div>
    </div>
    <?php if ($this->edicaoFiliacao) { ?>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="paiNome">Nome do pai</label>
                <input type="text" name="paiNome" id="paiNome" class="form-control"
                       placeholder="Informe o nome do pai"
                       value="<?php echo $this->arrDados['paiNome']; ?>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="paiCpf">CPF do pai</label>
                <input type="text" name="paiCpf" id="paiCpf" class="form-control"
                       placeholder="Informe o CPF do pai"
                       value="<?php echo $this->arrDados['paiCpf']; ?>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="maeNome">Nome da mãe</label>
                <input type="text" name="maeNome" id="maeNome" class="form-control"
                       placeholder="Informe o nome da mãe"
                       value="<?php echo $this->arrDados['maeNome']; ?>">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="maeCpf">CPF da mãe</label>
                <input type="text" name="maeCpf" id="maeCpf" class="form-control"
                       placeholder="Informe o CPF da mãe"
                       value="<?php echo $this->arrDados['maeCpf']; ?>">
            </div>
        </div>
    <?php } ?>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="inscricaoEntregaDoc">Entregou documentos:</label>
            <select name="inscricaoEntregaDoc" id="inscricaoEntregaDoc" class="form-control">
                <?php
                foreach ($this->arrInscricaoEntregaDoc as $value) {
                    $id       = $value['id'];
                    $text     = $value['text'];
                    $selected = ($id == $this->arrDados['inscricaoEntregaDoc']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="inscricaoStatus">Status:</label>
            <select name="inscricaoStatus" id="inscricaoStatus" class="form-control" disabled>
                <?php
                foreach ($this->arrInscricaoStatus as $value) {
                    $id       = $value['id'];
                    $text     = $value['text'];
                    $selected = ($id == $this->arrDados['inscricaoStatus']) ? " selected" : "";
                    echo "<option value='" . $id . "'" . $selected . ">" . $text . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="usuarioAcesso">Usuário:</label>

            <p id="usuarioAcesso" class="form-control-static">
                <?= $this->arrDados['acesso']['login']; ?>
            </p>
        </div>
    </div>
</fieldset>