<fieldset>
    <legend>Curso e local de prova:</legend>
    <div class="col-sm-12 well" id="inscricaoCursos">
        <label>Opções de curso:</label>

        <div class="clearfix"></div>
        <div class="list componente-list"></div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="inscricaoLinguaEstrangeira">Lingua estrangeira:</label>
            <input type="text" name="inscricaoLinguaEstrangeira" id="inscricaoLinguaEstrangeira" class="form-control"
                   placeholder="Informe a opção de lingua estrangeira">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="seletipoedicao">Forma de ingresso:</label>
            <input type="text" name="seletipoedicao" id="seletipoedicao" class="form-control"
                   placeholder="Informe a forma de ingresso">
        </div>
    </div>
    <?php if ($this->agendado) { ?>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="inscricaoDataHorarioProva">Data da prova:</label>
                <input type="text" name="inscricaoDataHorarioProva" id="inscricaoDataHorarioProva" class="form-control"
                       placeholder="Data que deseja realizar a prova"
                       value="<?php echo $this->arrDados['inscricaoDataHorarioProva']; ?>">
            </div>
        </div>
    <?php } ?>
    <div class="<?= ($this->agendado ? 'col-sm-6' : 'col-sm-8'); ?>">
        <div class="form-group">
            <label for="selelocais">Local de Realização da Prova:</label>
            <input type="text" name="selelocais" id="selelocais" class="form-control"
                   placeholder="Informe o local da prova">
        </div>
    </div>
</fieldset>
<fieldset id="opcoesEnem" class="hidden">
    <legend>Notas do Enem:</legend>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="inscricaoNotaEnemCiencHumanas">Ciências humanas:</label>
            <input type="text" name="inscricaoNotaEnemCiencHumanas" id="inscricaoNotaEnemCiencHumanas"
                   class="form-control" placeholder="Informe a nota de ciências humanas"
                   value="<?php echo $this->arrDados['inscricaoNotaEnemCiencHumanas']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="inscricaoNotaEnemCiencNatureza">Ciências da natureza:</label>
            <input type="text" name="inscricaoNotaEnemCiencNatureza" id="inscricaoNotaEnemCiencNatureza"
                   class="form-control" placeholder="Informe a nota de ciências da natureza"
                   value="<?php echo $this->arrDados['inscricaoNotaEnemCiencNatureza']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="inscricaoNotaEnemPortugues">Português:</label>
            <input type="text" name="inscricaoNotaEnemPortugues" id="inscricaoNotaEnemPortugues" class="form-control"
                   placeholder="Informe a nota de português"
                   value="<?php echo $this->arrDados['inscricaoNotaEnemPortugues']; ?>">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="inscricaoNotaEnemRedacao">Redação:</label>
            <input type="text" name="inscricaoNotaEnemRedacao" id="inscricaoNotaEnemRedacao" class="form-control"
                   placeholder="Informe a nota de redação"
                   value="<?php echo $this->arrDados['inscricaoNotaEnemRedacao']; ?>">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="inscricaoNotaEnemMatematica">Matemática:</label>
            <input type="text" name="inscricaoNotaEnemMatematica" id="inscricaoNotaEnemMatematica" class="form-control"
                   placeholder="Informe a nota de matemática"
                   value="<?php echo $this->arrDados['inscricaoNotaEnemMatematica']; ?>">
        </div>
    </div>
</fieldset>
<fieldset id="opcoesNovoTitulo" class="hidden">
    <h3 class="panel-title"><strong>Informações do título Atual:</strong></h3>

    <div class="col-sm-4">
        <div class="form-group">
            <label for="inscricaoUltimaFormacao">Última formação(Curso):</label>
            <input type="text" name="inscricaoUltimaFormacao" id="inscricaoUltimaFormacao" class="form-control"
                   placeholder="Informe a última formação"
                   value="<?php echo $this->arrDados['inscricaoUltimaFormacao']; ?>">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="inscricaoFormacaoInstituicao">Instituição:</label>
            <input type="text" name="inscricaoFormacaoInstituicao" id="inscricaoFormacaoInstituicao"
                   class="form-control"
                   placeholder="Informe a instituição"
                   value="<?php echo $this->arrDados['inscricaoFormacaoInstituicao']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="inscricaoDataFormacao">Data de formação:</label>
            <input type="text" name="inscricaoDataFormacao" id="inscricaoDataFormacao" class="form-control"
                   placeholder="Informe a data de formação"
                   value="<?php echo $this->arrDados['inscricaoDataFormacao']; ?>">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="inscricaoCidadeFormacao">Cidade de formação:</label>
            <input type="text" name="inscricaoCidadeFormacao" id="inscricaoCidadeFormacao" class="form-control"
                   placeholder="Informe a cidade de formação"
                   value="<?php echo $this->arrDados['inscricaoCidadeFormacao']; ?>">
        </div>
    </div>
</fieldset>