<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget( array('title'=>'Salas Preenchidas') );
?>
<div class="row" style="margin: 3px">
    <?php
    foreach($this->salas as $sala):
    ?>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title"><strong><?= $sala['sala_nome']; ?></strong><a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
            </div>
            <div class="panel-body">
                Esssa sala possui <strong><?= $sala['insc']; ?></strong> inscritos.<br>
                Capacidade: <strong><?= $sala['sala_capacidade']; ?> </strong>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" data-id="<?= $sala['sala_id'] ?>" data-name="<?= $sala['sala_nome']; ?>" data-toggle="modal" data-target="#myModal">Ver Alunos</button>
            </div>
        </div>
    </div>
    <?php
    endforeach;
        ?>
</div>
<form class="smart-form" action="<?=$this->basePath()?>/vestibular/selecao-inscricao/alocacao" name="realocacao">
    <footer>
        <input type="submit" value="Redistribuir candidatos" class="btn btn-primary pull-left">
    </footer>
</form>
<?php
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Candidatos na sala: <strong id="salaNome"></strong></h4>
            </div>
            <div class="modal-body" id="modalBody">

            </div><!-- /.modal-content -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary" id="salvar">Salvar</button>
            </div>
        </div><!-- /.modal-dialog -->
    </div>
</div>
<script>
    $(function () {
        $("[data-toggle='modal']").click(function () {
            var nameSala = $(this).attr('data-name');
            var idSala = $(this).attr('data-id');
            $("#modalBody").empty();//Limpando corpo do modal.
            $("#salaNome").empty();//Limpando titulo do modal.
            $("#salaNome").append(nameSala);
            jQuery.ajax({
                url: "<?=$this->basePath()?>/vestibular/selecao-inscricao/candidatos-sala",
                type: 'POST',
                data: {'id': idSala},
                success: function (html) {
                    $("#modalBody").append(html);
                },
                erro: function (data) {
                    alert("Erro ao conectar-se ao servidor tente novamente");
                }
            });
        });
        $("[name='realocacao']").submit(function () {
            if(confirm("Ao realocar os candidatos todas as alterações de salas serão desfeitas. Tem certeza que deseja continuar?")){
                return true;
            } else{
                return false;
            }
        });
    });
    $("#salvar").click(function () {
        $("[name='candidatoSala']").submit();
    });
</script>
