<?php
$this->SpineJarvis()->OpenJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Processo de  Cadastro Vestibular', 'icon' => 'fa fa-gear'));
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
?>
<script>
    basePath = "<?= $this->basePath(); ?>";
</script>
<div id="cadastrado" class="alert alert-danger col-9" style="display: none">
    <button class="close" data-dismiss="alert">
        ×
    </button>
    <strong>Candidato já cadastrado neste processo de Vestibular!</strong>
</div>
<h3 class="panel-title"><strong>Dados Pessoais:</strong></h3>
<?= $this->form()->openTag($this->formCadastro) ?>
<fieldset>
    <?= $this->formRow($this->formCadastro->get("inscricaoId")); ?>

    <div class='row'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesNacionalidade"),
            array('col' => 4, 'label' => 'Nacionalidade')
        ) ?>
    </div>
    <div class='row'>
        <div id='documento'>
            <?php
            echo $this->spineForm()->formInput(
                $this->formCadastro->get("pesCpf"),
                array('wrap' => true, 'col' => 4, 'id' => 'pesCpf')
            );
            ?>
        </div>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesNome"),
            array('wrap' => true, 'col' => 4, 'label' => 'Nome do candidato')
        ) ?>
    </div>
    <div class='row'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesDataNascimento"),
            array('wrap' => true, 'col' => 4, 'data-validations' => 'Data')
        ) ?>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesRg"),
            array('wrap' => true, 'col' => 4, 'data-validations' => '')
        ) ?>
    </div>
    <div class='row'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesNaturalidade"),
            array('wrap' => true, 'col' => 4, 'data-validations' => '')
        ) ?>


        <div class="col-lg-4 col-sm-4 col-xs-4" style="padding-left: 32px">
            <label for="sel1">Estado de Nascimento:</label>

            <div class="form-group" style="padding-top: 1%"></div>
            <select class="form-control" id="pesNascUf" name="pesNascUf">
                <?php
                echo "<option value='Selecione'>Selecione</option>";
                foreach ($this->arrEstados as $estado) {
                    echo "<option value='" . $estado . "'>" . $estado . "</option>";
                }
                ?>
            </select>
        </div>

    </div>
    <div class='row'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesSexo"),
            array('wrap' => true, 'col' => 4, 'label' => 'Genero:', 'data-validations' => 'Required')
        ) ?>
    </div>
    <div class='row' id='possui_necessidades'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("possuiNecessidades"),
            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
        ) ?>
    </div>
    <div class='row' style=" display: none" id='necessidades'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("pesNecessidades"),
            array('wrap' => true, 'col' => 4, 'data-validations' => '')
        ) ?>
    </div>
    <h3 class="panel-title"><strong>Filiação:</strong></h3>

</fieldset>
<fieldset>

    <?php if ($this->edicaoFiliacao) { ?>
        <h3 class="panel-title"><strong>Filiação:</strong></h3>
        <fieldset>
            <div class='row'>
                <div id='documento'>
                    <?= $this->spineForm()->formInput(
                        $this->formCadastro->get("maeCpf")->setAttribute('data-validations', '')
                    ); ?>
                </div>
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("maeNome")->setAttribute('data-validations', '')
                ) ?>
            </div>
            <div class='row'>
                <div id='documento'>
                    <?= $this->spineForm()->formInput($this->formCadastro->get("paiCpf")); ?>
                </div>
                <?= $this->spineForm()->formInput($this->formCadastro->get("paiNome")) ?>
            </div>
        </fieldset>
    <?php } ?>
    <h3 class="panel-title"><strong>Dados Residenciais:</strong></h3>
</fieldset>
<fieldset>
    <div id='endereco'>
        <div class='row'>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endCep[]"),
                array('wrap' => true, 'col' => 2, 'data-validations' => '')
            ) ?>
        </div>
        <div class='row'>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endLogradouro[]"),
                array('wrap' => true, 'col' => 4, 'data-validations' => '')
            ) ?>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endNumero[]"),
                array('wrap' => true, 'col' => 1, 'data-validations' => '')
            ) ?>
        </div>
        <div class='row'>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endComplemento[]"),
                array('wrap' => true, 'col' => 4, 'data-validations' => '')
            ) ?>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endBairro[]"),
                array('wrap' => true, 'col' => 4, 'data-validations' => '')
            ) ?>
        </div>
        <div class='row'>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endCidade[]"),
                array('wrap' => true, 'col' => 4, 'data-validations' => '')
            ) ?>
            <?= $this->spineForm()->formInput(
                $this->formEndereco->get("endEstado[]"),
                array('wrap' => true, 'col' => 4, 'data-validations' => '')
            ) ?>
        </div>
    </div>
    <h3 class="panel-title"><strong>Dados complementares:</strong></h3>
</fieldset>
<fieldset>
    <div class='row'>
        <section class="col-lg-4 col-sm-3 col-xs-3" style="padding-left:30px;">
            <label class="label">Selecione o câmpus:</label>
            <label class="select">
                <select name="campus" id="campus" class="form-control" data-validations="Required">
                    <?php
                    $fisrtCampus = reset($this->arrCampus); // pega o primeiro elemento array element do array
                    foreach ($this->arrCampus as $campus) {
                        foreach ($this->arrCampusCursos[$campus['idCampus']] as $curso) {
                            $arrDataCursos[$campus['idCampus']][] = [
                                'id'   => $curso['idCursoSelecao'],
                                'text' => $curso['nomeCurso']
                            ];
                        }
                        ?>
                        <option value="<?= $campus['idCampus'] ?>"><?= $campus['nomeCampus'] ?></option>
                    <?php } ?>
                </select>
            </label>

            <div class="note"></div>
        </section>
        <section class="col-lg-4 col-sm-3 col-xs-3" style="padding-left:30px;">
            <label class="label">Selecione o Curso:</label>
            <label class="select">
                <i></i>
                <input name="cursoSelecao" id="cursoSelecao" class="form-control" data-validations="Required">
            </label>

            <div class="note"></div>
        </section>
        <?php if ($this->agendado): ?>
            <div class="row">
                <section class="col-lg-2 col-sm-2 col-xs-2 col-xs-1" style="padding-left:30px;">
                    <label class="label">Data da prova:</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" name="inscricaoDataProva" data-validations="Required, Data"
                               placeholder="Data que deseja realizar a prova" data-masked="Date" value="">
                    </label>

                    <div class="note"></div>
                </section>
            </div>
        <?php endif; ?>
    </div>
    <div class='row'>
        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("seletipoedicao"),
            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
        ) ?>

        <?= $this->spineForm()->formInput(
            $this->formCadastro->get("inscricaoLinguaEstrangeira"),
            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
        ) ?>
        <?php if ($this->agendado): ?>
            <section id="sectionHorario" class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:40px;" hidden="hidden">
                <label class="label">Horário Agendado</label>

                <div class="inline-group" id="horariosProva">
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                </div>
            </section>
            <section id="sectionHorario" class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:40px;">
                <label class="label">Outro Horário</label>

                <div class="inline-group" id="horariosProva">
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" name="edicaoHorarioRealizacao" placeholder="00:00" class="time" value=""
                               data-masked="Time"></label>
                </div>
            </section>

        <?php endif; ?>
    </div>

    <div class="row" style="padding-left:30px;">


        <div class="row">
            <section class="col-lg-8 col-sm-8 col-xs-6" style="padding-left:15px;">
                <label class="label">Selecione o local da prova:</label>
                <label class="select">
                    <i></i>
                    <input name="selelocais" id="selelocais" class="form-control">
                </label>
            </section>
        <div class="note"></div>
        <div id="enem" hidden="hidden">

            <h3 class="panel-title"><strong>Notas do Enem:</strong></h3>

            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoNotaEnemCiencHumanas"),
                    array('col' => 4, 'value' => '0.00')
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoNotaEnemCiencNatureza"),
                    array('col' => 4, 'value' => '0.00')
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoNotaEnemPortugues"),
                    array('col' => 4, 'value' => '0.00')
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoNotaEnemRedacao"),
                    array('col' => 4, 'value' => '0.00')
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoNotaEnemMatematica"),
                    array('col' => 4, 'value' => '0.00')
                ) ?>
            </div>
        </div>
        <div id="titulo" hidden="hidden">
            <h3 class="panel-title"><strong>Informações do Título Atual:</strong></h3>

            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoUltimaFormacao"),
                    array('col' => 4)
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoDataFormacao"),
                    array('col' => 4)
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoCidadeFormacao"),
                    array('col' => 4)
                ) ?>
            </div>
            <div class="row">
                <?= $this->spineForm()->formInput(
                    $this->formCadastro->get("inscricaoFormacaoInstituicao"),
                    array('col' => 4)
                ) ?>
            </div>
        </div>
</fieldset>
<fieldset>
    <h3 class="panel-title"><strong>Contato:</strong></h3>

    <div class="row">
        <?= $this->spineForm()->formInput(
            $this->formContato->get("contEmail"),
            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
        ) ?>
        <?= $this->spineForm()->formInput(
            $this->formContato->get("contTel"),
            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
        ) ?>
    </div>
    <h3 class="panel-title"> Dados de Acesso:</h3>
</fieldset>
<fieldset>
    <div class="row">
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
            <label class="label">Login para acesso:</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="text" data-validations="Required" readonly="readonly" id="username" name="username"
                       value="" disabled>
                <input type="hidden" name='username' value="">
            </label>

            <div class="note"></div>
        </section>
        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
            <label class="label">Senha para acesso:</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="text" data-validations="Required" readonly="readonly"
                       value="Sua senha será enviada para o seu e-mail" disabled="disabled">
            </label>

            <div class="note"></div>
        </section>
    </div>
    <div class="row">
        <?= $this->spineForm()->formInput($this->formCadastro->get("tipoPagamento")) ?>
    </div>
</fieldset>
<div class='row'>
    <?= $this->spineForm()->formInput($this->formCadastro->get("submit")) ?>
</div>
<?php
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();

$this->spineJarvis()->closeJarvis();
?>

<script type='text/javascript'>

    var options = {
        campusCursos: <?= json_encode($arrDataCursos)?>,
        unidadeEstudo: <?= json_encode($this->unidadeEstudo)?>
    };

    jQuery('[name=submit]').prop("disabled", false);
    jQuery(".smart-form").on("submit", function (e) {
        if (!$("#cursoSelecao").val()) {
            alert("Selecione o curso!");

            return false;
        }
        jQuery('[name=submit]').prop("disabled", true);
    });


    jQuery(function () {
        $("#campus").select2({language: 'pt-BR'});

        $("#cursoSelecao").select2({
            language: 'pt-BR',
            allowClear: true,
            formatNoMatches: function () {
                return 'Nenhum Curso Disponível para o Câmpus selecionado'
            },
            data: function () {
                return {results: options.campusCursos[$("#campus").val()] || []};
            }
        });

        $("#selelocais").select2({
            language: 'pt-BR',
            allowClear: true,
            formatNoMatches: function () {
                return 'Nenhuma unidade disponível!'
            },
            data: function () {
                return {results: options.unidadeEstudo || []};
            }
        });

        if ($("[name=turno]").length == 1) {
            $("[name=turno]").attr('checked', true).parent().parent().hide();
        }
        $("select[name='seletipoedicao']").change(function () {
            var text = $(this).find("option[value='" + $(this).val() + "']").text();
            if (text == 'Notas do Enem' || text == 'Enem e Vestibular') {
                $("#enem").show();
                $("#titulo").hide();
            } else if (text == 'Obtenção de Novo Título') {
                $("#titulo").show();
                $("#enem").hide();
            } else {
                $("#titulo").hide();
                $("#enem").hide();
            }
        });
        $("select[name='pesNacionalidade']").change(function () {
            if (this.value == 'Estrangeiro') {
                $("input[name='pesCpf']").parent().parent().addClass('hidden');
                $("#documento").append("<section class='col-lg-4 col-sm-4 col-xs-4' style='padding-left:30px;'><label class='label'>Documento Estrangeiro:</label><label class='input'><i class='icon-prepend fa fa-credit-card'></i><input name='pesDocEstrangeiro' placeholder='Informe o documento estrangeiro' data-validations='Required' value='' type='text'></label><div class='note'></div></section>");
                jQuery("input[name='pesDocEstrangeiro']").blur(function () {
                    jQuery("#username").val(jQuery("input[ name = 'pesDocEstrangeiro']").val());
                    jQuery("input[name=username]").val(jQuery("input[ name = 'pesDocEstrangeiro']").val());
                });
            }
            else {
                $("input[name='pesCpf']").parent().parent().removeClass('hidden');
                $("input[name='pesDocEstrangeiro']").parent().parent().detach();
            }
        });
        jQuery("#addEnd").click(function () {
            html = jQuery("#formEndAuxiliar").css("display", 'block').html();
            jQuery("#endereco").append(html);
            jQuery("#formEndAuxiliar").css("display", 'none');
        });

        // Remove atividade adicionado-funcao Desativada.
        jQuery(document).on("click", "input[id='removeEnd']", function () {
            jQuery(this).parent().parent().parent().parent().remove();
        });

        // Adiciona campo para adicionar necessidades especiais.

        jQuery("input[name = 'possuiNecessidades']").change(function () {
            var possuiNecessidades = jQuery("input[name='possuiNecessidades']:checked").val();

            if (possuiNecessidades === 'Sim') {
                jQuery("#necessidades").css("display", 'block').html();
            } else {
                jQuery("#necessidades").css("display", 'none').html();
            }
        });
    });

    jQuery("#pesCpf").blur(function () {
        cad = true;
        jQuery.ajax({
            url: "<?=$this->basePath()?>/vestibular/selecao-inscricao/busca-cadastro-ativo",
            dataType: 'json',
            type: 'post',
            async: false,
            data: {cpf: jQuery("input[name='pesCpf']").val()},
            success: function (data) {
                if (data.dados !== false) {
                    cad = false;
                    jQuery("#cadastrado").css("display", 'block').html;
                    jQuery("input[name='pesCpf']").val('');
                    return false;
                }
            },
            erro: function () {
                alert('Erro! Verifique sua conexão com a internet.');
            }
        });
        if (!cad) {
            return false;
        }
    });

    //Busca CEP automaticamente
    jQuery(function () {
        jQuery("input[name='endCep[]']").mask('99999-999', {
            completed: function () {
                jQuery.ajax({
                    url: "<?=$this->basePath()?>/pessoa/cidade/busca-info-cep",
                    dataType: 'json',
                    type: 'post',
                    data: {cep: jQuery("input[name='endCep[]']").val()},
                    success: function (data) {
                        jQuery("input[name='endLogradouro[]']").val(data.dados.logr_nome);
                        jQuery("input[name='endCidade[]']").val(data.dados.cid_nome);
                        jQuery("select[name='endEstado[]']").val(data.dados.est_id);
                        jQuery("input[name='endBairro[]']").val(data.dados.bai_nome);
                    },
                    erro: function () {
                        alert('Opa2');
                    }
                });
            }
        });
        jQuery("input[name='pesCpf']").blur(function () {
            jQuery("input[name='pesNome']").val('');
            jQuery("input[name='contEmail']").val('');
            jQuery("input[name='contTel']").val('');
            jQuery("input[name='pesRg']").val('');
            jQuery("input[name='pesDataNascimento']").val('');
            jQuery("input[name='pesSexo']").each(function () {
                $(this).removeAttr('checked');
            });
            $("input[name^=end]").each(function () {
                $(this).val('');
            });
            jQuery.ajax({
                url: "<?=$this->basePath()?>/vestibular/selecao-inscricao/busca-cadastro-pessoa-fisica",
                dataType: 'json',
                type: 'post',
                async: false,
                data: {cpf: jQuery("input[name='pesCpf']").val()},
                success: function (data) {
                    jQuery("input[name='pesNome']").val(data.dados.nome);
                    jQuery("input[name='contEmail']").val(data.dados.email);
                    jQuery("input[name='contTel']").val(data.dados.tel);
                    jQuery("input[name='pesRg']").val(data.dados.rg);
                    jQuery("input[name='pesDataNascimento']").val(data.dados.pesDataNascimento);
                    jQuery("input[value='" + data.dados.pesSexo + "']").attr('checked', 'checked');

                    for (j in data.dados.endereco) {
                        $("[name='" + j + "[]']").val(data.dados.endereco[j]);
                    }
                },
                erro: function () {
                    alert('Opa2');
                }
            });

        });

        //Adiciona no campo login o cpf do candidato.
        if ("input['name = 'pesCpf']") {
            jQuery("input[ name = 'pesCpf']").blur(function () {
                usuario = jQuery("input[ name = 'pesCpf']").val();
                usuario = usuario.replace('.', '');
                usuario = usuario.replace('.', '');
                usuario = usuario.replace('-', '');
                jQuery("#username").val(usuario);
                jQuery("input[name=username]").val(usuario);
            });
        }

        <?php if($this->agendado):?>

        var datasProvas = <?=json_encode($this->datasProvas)?>;
        var datasProvasArray = new Array;
        for (var i = 0; i < datasProvas.length; i++) {
            datasProvasArray.push(datasProvas[i].dataFormt2)
        }

        var availableDates = datasProvasArray;

        function available(date) {
            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
            if ($.inArray(dmy, availableDates) != -1) {
                return [true, "", "Available"];
            } else {
                return [false, "", "unAvailable"];
            }
        }


        $("input[name='inscricaoDataProva']").datepicker({
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            beforeShowDay: available,
            dateFormat: 'dd/mm/yy',
        });

        $("input[name='inscricaoDataProva']").on('change', function () {
            $("#sectionHorario").show();
            $("#horariosProva").children().detach();
            for (var i = 0; i < datasProvas.length; i++) {
                if ($("input[name='inscricaoDataProva']").val() == datasProvas[i].dataFormt1) {
                    var html = '<label class="radio">' +
                        '<input type="radio" name="inscricaoHorarioProva" checked="checked" value="' + datasProvas[i].horario + '">' +

                        '<i></i>' + datasProvas[i].horario + '</label>';

                    $("#horariosProva").append(html);

                }
            }
        });
        <?php endif; ?>
    });


</script>
