<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?= $this->basePath(); ?>/smart-admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?= $this->basePath(); ?>/smart-admin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?= $this->basePath(); ?>/smart-admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?= $this->basePath(); ?>/smart-admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support is under construction
         This RTL CSS will be released in version 1.5
    <link rel="stylesheet" type="text/css" media="screen" href="<?= $this->basePath(
    ); ?>/smart-admin/css/smartadmin-rtl.min.css"> -->

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="<?= $this->basePath(
    ); ?>/smart-admin/css/your_style.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?= $this->basePath(); ?>/smart-admin/css/demo.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?= $this->basePath(); ?>/smart-admin/css/main.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="<?= $this->basePath(); ?>/smart-admin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<?= $this->basePath(); ?>/smart-admin/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="<?= $this->basePath(); ?>/smart-admin/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="<?= $this->basePath(); ?>/smart-admin/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="<?= $this->basePath(); ?>/smart-admin/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="<?= $this->basePath(); ?>/smart-admin/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="<?= $this->basePath(); ?>/smart-admin/img/splash/ipad-landscape.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="<?= $this->basePath(); ?>/smart-admin/img/splash/ipad-portrait.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="<?= $this->basePath(); ?>/smart-admin/img/splash/iphone.png"
          media="screen and (max-device-width: 320px)">
    <script type="text/javascript" async="" src="//www.google-analytics.com/ga.js"></script>
    <script>
        //                    localStorage.setItem("sm-setmenu","top");
    </script>
    <script src="<?= $this->basePath(); ?>/smart-admin/js/libs/jquery-2.0.2.min.js"></script>
    <script src="<?= $this->basePath(); ?>/smart-admin/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script src="<?= $this->basePath(); ?>/versa-skeleton/js/versa.skeleton.js"></script>
    <style type="text/css">.jqstooltip {
            position: absolute;
            left: 0;
            top: 0;
            visibility: hidden;
            background-color: rgba(0, 0, 0, 0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .select2-hidden-accessible {
            display: none;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;

        iframe {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .fuelux .wizard {
            background-color: #EDEDED;
        }

        .fuelux .wizard ul li {
            position: relative;
            float: left;
            height: 46px;
            padding: 0 4.5px 0 30px;
            margin: 0;
            font-size: 16px;
            line-height: 46px;
            color: #999;
            cursor: default;
            background: #ededed;
        }

        /* FIM Novo estilo 08/05/2015 09:15 */

        }</style>
    <script>
        basePath = "<?= $this->basePath(); ?>";
    </script>
</head>

<body style="overflow: auto;">
<div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false"
     data-widget-deletebutton="false" role="widget" style="position: relative; opacity: 1; margin: 0">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->

    <!-- widget div-->
    <div role="content">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div id="cadastrado" class="alert alert-danger col-9" style="display: none">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <strong>Candidato já cadastrado neste processo de Vestibular!</strong>
        </div>

        <div class="row">
            <?php

            if (isset($this->erro)) { ?>

                <div class="alert alert-danger fade in">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <i class="fa-fw fa fa-danger"></i>
                    <strong>Erro:</strong> <?= $this->erro[0] ?>
                </div>
                <?php
            } else {
                if (isset($this->warning)) { ?>
                    <div class="alert alert-warning fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>Atenção:</strong> <?= $this->warning[0] ?>
                    </div>
                    <?php
                } else {
                    if (isset($this->success)) { ?>
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-success"></i>
                            <?= $this->success[0] ?>
                        </div>
                        <?php
                    }
                }
            }
            ?>
        </div>
        <?= $this->form()->openTag($this->formCadastro) ?>
        <div class="widget-body fuelux">

            <div class="wizard">
                <ul class="steps" style="margin-left: 0">
                    <li data-target="#step1" class="active">
                        <span class="badge badge-info">1</span>Dados Pessoais<span class="chevron"></span>
                    </li>
                    <li data-target="#step2" class="">
                        <span class="badge">2</span>Dados Residenciais<span class="chevron"></span>
                    </li>
                    <li data-target="#step3" class="">
                        <span class="badge">3</span>Dados Complementares<span class="chevron"></span>
                    </li>
                    <li data-target="#step4" class="">
                        <span class="badge">4</span>Dados de Contato<span class="chevron"></span>
                    </li>
                    <li data-target="#step5" class="">
                        <span class="badge">5</span>Dados de Acesso<span class="chevron"></span>
                    </li>

                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active" id="step1">
                    <h3 class="panel-title"><strong>Dados Pessoais:</strong></h3>
                    <?= $this->formRow($this->formCadastro->get("inscricaoId")); ?>
                    <div class="row">
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesNacionalidade"),
                            array('col' => 4, 'label' => 'Nacionalidade')
                        ) ?>
                    </div>
                    <div class='row'>
                        <div id='documento'>
                            <?php
                            echo $this->spineForm()->formInput(
                                $this->formCadastro->get("pesCpf"),
                                array('wrap' => true, 'col' => 4, 'id' => 'pesCpf')
                            );
                            ?>
                        </div>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesNome"),
                            array('wrap' => true, 'col' => 4, 'label' => 'Nome do candidato')
                        ) ?>
                    </div>

                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesDataNascimento"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required, Data')
                        ) ?>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesRg"),
                            array('wrap' => true, 'col' => 4)
                        ) ?>
                    </div>
                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesNaturalidade"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => '')
                        ) ?>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro
                                ->get("pesNascUf")
                                ->setValueOptions(
                                    $this->formEndereco->get("endEstado[]")->getValueOptions()
                                )
                                ->setAttributes(array('col' => 4))
                        ); ?>
                    </div>

                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesSexo"),
                            array('wrap' => true, 'col' => 4, 'label' => 'Genero:')
                        ) ?>
                        <span id='possui_necessidades'>
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("possuiNecessidades"),
                                array('wrap' => true, 'col' => 4, 'data-validations' => '', 'value' => 'Nao')
                            ) ?>
                        </span>
                    </div>
                    <div class='row' style=" display: none" id='necessidades'>
                        <?= $this->spineForm()->formInput(
                            $this->formCadastro->get("pesNecessidades"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => '')
                        ) ?>
                    </div>

                    <?php if ($this->edicaoFiliacao) { ?>
                        <h3 class="panel-title"><strong>Filiação:</strong></h3>
                        <fieldset>
                            <div class='row'>
                                <div id='documento'>
                                    <?= $this->spineForm()->formInput(
                                        $this->formCadastro->get("maeCpf")->setAttribute('data-validations', '')
                                    ); ?>
                                </div>
                                <?= $this->spineForm()->formInput(
                                    $this->formCadastro->get("maeNome")->setAttribute('data-validations', '')
                                ) ?>
                            </div>
                            <div class='row'>
                                <div id='documento'>
                                    <?= $this->spineForm()->formInput($this->formCadastro->get("paiCpf")); ?>
                                </div>
                                <?= $this->spineForm()->formInput($this->formCadastro->get("paiNome")) ?>
                            </div>
                        </fieldset>
                    <?php } ?>
                </div>

                <div class="step-pane " id="step2">
                    <h3 class="panel-title"><strong>Dados Residenciais:</strong></h3>

                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endCep[]"),
                            array('wrap' => true, 'col' => 2, 'data-validations' => 'Required')
                        ) ?>
                    </div>
                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endLogradouro[]"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
                        ) ?>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endNumero[]"),
                            array('wrap' => true, 'col' => 1, 'data-validations' => 'Required')
                        ) ?>
                    </div>
                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endComplemento[]"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => '')
                        ) ?>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endBairro[]"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
                        ) ?>
                    </div>
                    <div class='row'>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endCidade[]"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
                        ) ?>
                        <?= $this->spineForm()->formInput(
                            $this->formEndereco->get("endEstado[]"),
                            array('wrap' => true, 'col' => 4, 'data-validations' => 'Required')
                        ) ?>
                    </div>
                </div>

                <div class="step-pane" id="step3">
                    <h3 class="panel-title"><strong>Dados complementares:</strong></h3>
                    <fieldset>
                        <div class='row'>
                            <?php
                            for ($i = 0; $i < $this->edicaoNumCursosOpcionais; $i++): ?>
                                <div class="col-lg-12 col-sm-12 col-xs-12 curso-container">
                                    <div class="col-lg-1 col-sm-1 col-xs-1">
                                        <label class="label"><strong><?= ($i + 1); ?> &ordm; Opção:</strong></label>
                                    </div>
                                    <div class="row"></div>

                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                        <label class="label">Selecione o Câmpus/Curso:</label>
                                        <label class="select">
                                            <input type="text" name="campusCurso[]" class="form-control"
                                                   data-validations="Required">
                                        </label>

                                        <div class="note"></div>
                                    </section>

                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                        <label class="label">Selecione o Turno:</label>
                                        <label class="select">
                                            <i></i>
                                            <input name="inscricaoTurno[]" class="form-control "
                                                   data-validations="Required" disabled>
                                        </label>

                                        <div class="note"></div>
                                    </section>
                                </div>
                            <?php endfor; ?>
                            <?php if ($this->agendado): ?>
                                <div class="row">
                                    <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                                        <label class="label">Data da prova:</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-calendar"></i>
                                            <input type="text" name="inscricaoDataProva"
                                                   data-validations="Required, Data"
                                                   placeholder="Data que deseja realizar a prova" data-masked="Date"
                                                   value="" readonly="readonly">
                                        </label>

                                        <div class="note"></div>
                                    </section>
                                </div>
                            <?php endif; ?>
                        </div>
                        <!--                        aqui sao os turnos-->
                        <div class="row">

                        </div>

                        <div class='row'>
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("seletipoedicao"),
                                array('wrap' => true, 'col' => 5, 'data-validations' => 'Required')
                            ) ?>

                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoLinguaEstrangeira"),
                                array('wrap' => true, 'col' => 5, 'data-validations' => 'Required')
                            ) ?>

                            <?php if ($this->agendado): ?>
                                <section id="sectionHorario" class="col-lg-2 col-sm-2 col-xs-2"
                                         style="padding-left:30px;" hidden>
                                    <label class="label">Horário prova:</label>

                                    <div class="inline-group" id="horariosProva">

                                    </div>
                                </section>
                            <?php endif; ?>
                        </div>
                        <fieldset>
                            <?php if ($this->provaLocais): ?>
                                <div class="row">
                                    <div class="row">
                                        <section class="col-lg-5 col-sm-5 col-xs-4" style="padding-left:15px;">
                                            <label class="label">Selecione o local da prova:</label>
                                            <label class="select">
                                                <i></i>
                                                <input name="selelocais" id="selelocais" class="form-control">
                                            </label>
                                        </section>
                                    </div>
                                </div>
                            <?php endif ?>
                        </fieldset>
                    </fieldset>
                    <div id="enem" hidden="hidden">

                        <h3 class="panel-title"><strong>Notas do Enem:</strong></h3>

                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoNotaEnemCiencHumanas"),
                                array('col' => 4, 'value' => '0.00')
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoNotaEnemCiencNatureza"),
                                array('col' => 4, 'value' => '0.00')
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoNotaEnemPortugues"),
                                array('col' => 4, 'value' => '0.00')
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoNotaEnemRedacao"),
                                array('col' => 4, 'value' => '0.00')
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoNotaEnemMatematica"),
                                array('col' => 4, 'value' => '0.00')
                            ) ?>
                        </div>
                    </div>
                    <div id="titulo" hidden="hidden">
                        <h3 class="panel-title"><strong>Informações do Título Atual:</strong></h3>

                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoUltimaFormacao"),
                                array('col' => 4)
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoDataFormacao"),
                                array('col' => 4)
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoCidadeFormacao"),
                                array('col' => 4)
                            ) ?>
                        </div>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formCadastro->get("inscricaoFormacaoInstituicao"),
                                array('col' => 4)
                            ) ?>
                        </div>
                    </div>
                </div>

                <div class="step-pane" id="step4">
                    <h3 class="panel-title"><strong>Contato:</strong></h3>
                    <fieldset>
                        <div class="row">
                            <?= $this->spineForm()->formInput(
                                $this->formContato->get("contEmail"),
                                array('wrap' => true, 'col' => 4)
                            ) ?>
                            <?= $this->spineForm()->formInput(
                                $this->formContato->get("contTel"),
                                array('wrap' => true, 'col' => 4)
                            ) ?>
                        </div>
                    </fieldset>
                </div>

                <div class="step-pane" id="step5">
                    <h3 class="panel-title"><strong>Dados de Acesso:</strong></h3>
                    <fieldset>
                        <div class="row">
                            <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                <label class="label">Login para acesso:</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" data-validations="Required" readonly="readonly" id="username"
                                           name='username' value="" disabled="disabled">
                                    <input type="hidden" name='username' value="">
                                </label>

                                <div class="note"></div>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                <label class="label">Senha para acesso:</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" data-validations="Required" readonly="readonly"
                                           value="Sua senha será enviada para o seu e-mail" disabled="disabled">
                                </label>

                                <div class="note"></div>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                                <div class="g-recaptcha" data-sitekey="6LcerwgUAAAAAJD7q8ne53KqQ8s398vfBqZ2ZetZ"></div>
                            </section>
                        </div>
                    </fieldset>
                </div>

                <footer>
                    <div>
                        <button type="button" class="btn btn-sm btn-success" id="next">Proximo<i
                                class="fa fa-arrow-right"></i></button>
                        <input name="submit" id="submit" class="btn btn-sm btn-success btn-next hidden"
                               value="Cadastrar" type="submit">
                        <button type="button" class="btn btn-sm btn-primary btn-prev" id="prev" disabled="disabled">
                            <i class="fa fa-arrow-left"></i>Anterior
                        </button>
                    </div>
                </footer>
            </div>
        </div>
        <?= $this->form()->closeTag(); ?>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<div id='preloader'
     style="position: absolute; left: 0px;right: 0px;bottom: 0px;top: 0px;background-image: url('/img/preto-transparente.png');background-repeat: repeat;width: 100%;height: 100%;display: none;opacity: 1.0;z-index: 9999999;">
    <img src='/img/ajax-loader.gif' style='position: absolute; left: 50%; top: 50%'></div>
<!-- END SHORTCUT AREA -->
<div>
    <!-- script recaptcha google -->
    <script src="https://www.google.com/recaptcha/api.js?hl=pt-BR"></script>
    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options="{ &quot;restartOnRequestAfter&quot;: true }"
            src="<?= $this->basePath(); ?>/smart-admin/js/plugin/pace/pace.min.js"></script>

    <script>
        if (!window.jQuery) {
            document.write('<script src="<?= $this->basePath();?>/smart-admin/js/libs/jquery-2.0.2.min.js"><\/script>');
        }
    </script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="<?= $this->basePath();?>/smart-admin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="<?= $this->basePath(
    ); ?>/smart-admin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

    <!-- BOOTSTRAP JS -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="<?= $this->basePath() ?>/js/jquery.mask.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <!-- <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/select2/select2.min.js"></script> -->
    <script type="text/javascript"
            src="<?= $this->basePath(); ?>/material-admin/assets/js/libs/select2/select2.js"></script>
    <script type="text/javascript"
            src="<?= $this->basePath(); ?>/material-admin/assets/js/libs/select2/select2_locale_pt-BR.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>

    <h1>O seu navegador de internet está desatualizado, por favor acesse www.microsoft.com/download e atualize-o.</h1>

    <![endif]-->

    <!-- Demo purpose only -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/demo.min.js"></script>

    <!-- MAIN APP JS FILE -->
    <script src="<?= $this->basePath(); ?>/smart-admin/js/app.min.js"></script>

    <!-- PAGE RELATED PLUGIN(S) -->

    <!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
    <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->

    <script src="<?= $this->basePath(); ?>/smart-admin/js/jquery-autocomplete.min.js"></script>

    <script
        src="<?= $this->basePath(); ?>/smart-admin/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="<?= $this->basePath(); ?>/smart-admin/js/plugin/fuelux/wizard/wizard.min.js"></script>
    <script>
        $(document).ready(function () {
//                                localStorage.setItem("sm-setmenu","top");
            $spine().autocompleteAjax();
            $spine().validateForm();

            // DO NOT REMOVE : GLOBAL FUNCTIONS!
            pageSetUp();
        });

    </script>
    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <script type="text/javascript">
        $(document).ready(function () {
            var options = {
                campusCursos: <?= json_encode($this->arrCampusCursos)?>
            };
            var optionsTurnos = {
                cursoTurnos: <?= json_encode($this->arrCursoTurnos)?>
            };
            var optionsLocais = {
                unidadeEstudo: <?= json_encode($this->provaLocais)?>
            };

            retornaCampusCurso = function () {
                var arrRetorno = [];
                var arrCampusCurso = options.campusCursos || [];
                var arrCampos = $("[name^=campusCurso]"),
                    tamanhoArrCampos = arrCampos.length - 1,
                    tamanhoArrCamposCurso = arrCampusCurso.length - 1,
                    i = 0, x;


                for (i; i <= tamanhoArrCampos; i++) {
                    var campusCursoId = '';
                    campusCursoId = $(arrCampos[i]).val();

                    if (campusCursoId) {
                        x = 0;
                        for (x; x <= tamanhoArrCampos; x++) {
                            arrCampusCurso[x]['selecionado'] ? arrCampusCurso[x]['selecionado'] :
                                arrCampusCurso[x]['selecionado'] = false;

                            if (arrCampusCurso[x]['id'] == campusCursoId) {
                                arrCampusCurso[x]['selecionado'] = true;
                            }
                        }
                    }
                }

                x = 0;

                for (x; x <= tamanhoArrCamposCurso; x++) {
                    if (!arrCampusCurso[x]['selecionado']) {
                        arrRetorno.push(arrCampusCurso[x]);
                    }
                }

                return {results: arrRetorno};
            };

            passo = 1;

            $("#selelocais").select2({
                language: 'pt-BR',
                allowClear: true,
                formatNoMatches: function () {
                    return 'Nenhuma unidade disponível!'
                },
                data: function () {
                    return {results: optionsLocais.unidadeEstudo || []};
                }
            });

            $("[name^=campusCurso]").select2({
                language: 'pt-BR',
                data: retornaCampusCurso
            }).on("change", function (e) {
                $("[name^=campusCurso]").each(function (i, campusCurso) {
                    var arrDados = [];
                    var inscricaoTurno = $($("[name^=inscricaoTurno]")[i]);

                    if (inscricaoTurno) {
                        if ($(campusCurso).val()) {
                            arrDados = $(campusCurso).select2("data");
                            inscricaoTurno.select2("enable");
                            inscricaoTurno.select2({"data": [optionsTurnos.cursoTurnos[arrDados['idCursoSelecao']]]})
                        } else {
                            inscricaoTurno.select2("disable");
                            inscricaoTurno.select2({"data": []});
                        }
                    }
                });

                e.preventDefault();
                e.stopPropagation();
            });

            $("[name^=inscricaoTurno]").select2({
                language: 'pt-BR',
                allowClear: true,
                formatNoMatches: function () {
                    return 'Nenhum curso disponível para o câmpus selecionado'
                },
                data: []
            });
            $("[name^=inscricaoTurno]").select2("disable", true);

            $("[name^=cursoSelecao]").change(function () {
                var $inscricaoTurno = $(this).closest('.curso-container').find("[name^=inscricaoTurno]");
                $inscricaoTurno.select2('val', '');

                var curso = $(this).val() || '';
                var opts = [];

                if (curso) {
                    $.each(optionsTurnos.cursoTurnos[curso] || [], function (i, opt) {
                        opts.push({id: opt, text: opt});
                    });
                }

                $("#inscricaoTurno").hide();

                if (opts != '') {
                    $inscricaoTurno.select2({data: opts});
                    $("#inscricaoTurno").show();
                    $inscricaoTurno.select2('enable');

                }
            }).trigger('change');

            $("select[name='seletipoedicao']").change(function () {
                var text = $(this).find("option[value='" + $(this).val() + "']").text();
                if (text == 'Notas do Enem' || text == 'Enem e Vestibular') {
                    $("#enem").show();
                    $("#titulo").hide();
                } else if (text == 'Obtenção de Novo Título') {
                    $("#titulo").show();
                    $("#enem").hide();
                } else {
                    $("#titulo").hide();
                    $("#enem").hide();
                }
            });
            $("select[name='pesNacionalidade']").change(function () {
                if (this.value == 'Estrangeiro') {
                    $("input[name='pesCpf']").parent().parent().addClass('hidden');
                    $("#documento").append("<section class='col-lg-4 col-sm-4 col-xs-4' style='padding-left:30px;'><label class='label'>Documento Estrangeiro:</label><label class='input'><i class='icon-prepend fa fa-credit-card'></i><input name='pesDocEstrangeiro' placeholder='Informe o documento estrangeiro' data-validations='Required' value='' type='text'></label><div class='note'></div></section>");
                    jQuery("input[name='pesDocEstrangeiro']").blur(function () {
                        jQuery("#username").val(jQuery("input[ name = 'pesDocEstrangeiro']").val());
                        jQuery("input[name=username]").val(jQuery("input[ name = 'pesDocEstrangeiro']").val());
                    });
                }
                else {
                    $("input[name='pesCpf']").parent().parent().removeClass('hidden');
                    $("input[name='pesDocEstrangeiro']").parent().parent().detach();
                }
            });

            $("#next").click(function () {
                if (passo == 1) {
                    var cpf = obrigatorio($("input[name='pesCpf']"));
                    var docEstrangeiro = obrigatorio($("input[name='pesDocEstrangeiro']"));
                    var nascimento = obrigatorio($("input[name='pesDataNascimento']"));
                    var sexo = obrigatorio($("input[name='pesSexo']"));
                    var nacionalidade = selectObrigatorio($("select[name='pesNacionalidade']"));

                    if ($('[name=pesSexo]:checked').length == 0) {
                        $("input[name='pesSexo']").parent().addClass('state-error');
                        $("input[name='pesSexo']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
                        return false;
                    } else {
                        $("input[name='pesSexo']").parent().removeClass('state-error');
                        $("input[name='pesSexo']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
                    }

                    $("input[name='pesNome']").val($("input[name='pesNome']").val().trim());
                    var nome = obrigatorio($("input[name='pesNome']"));

                    // valida se caso os dados de mae e pai não forem preenchidos, o campo está validado pois não são obrigatórios,
                    // caso esteja preechido é preciso validar se ambos são iguais ou igual ao do candidato
                    var maeCpf = $("input[name='maeCpf']").val() || true;
                    var paiCpf = $("input[name='paiCpf']").val() || true;

                    if ((cpf || docEstrangeiro) && nascimento && nome && nacionalidade && sexo) {
                        if ($("input[name='pesCpf']").val() != maeCpf && paiCpf != $("input[name='maeCpf']").val()) {
                            wizardProximo(passo);
                            passo++;
                            $("#prev").attr('disabled', false);
                            return;
                        } else {
                            alert("CPF do pai e da mãe não podem ser iguais ou o mesmo do candidato!");
                        }
                    }
                }
                if (passo == 2) {
                    var cep = obrigatorio(jQuery("input[name='endCep[]']"));
                    var logradouro = obrigatorio(jQuery("input[name='endLogradouro[]']"));
                    var numero = obrigatorio(jQuery("input[name='endNumero[]']"));
                    var bairro = obrigatorio(jQuery("input[name='endBairro[]']"));
                    var estado = selectObrigatorio(jQuery("input[name='endEstado[]']"));

                    if (cep && logradouro && numero && bairro && estado) {
                        wizardProximo(passo);
                        passo++;
                        $("#prev").attr('disabled', false);
                        return;
                    }
                }
                if (passo == 3) {
                    var campusCurso1 = $($("[name^=campusCurso]")['0']);
                    turno = true;

                    lingua = selectObrigatorio($("select[name='inscricaoLinguaEstrangeira']"));
                    inscricaoDataProva = selectObrigatorio($("select[name='inscricaoDataProva']"));
                    forma = selectObrigatorio($("select[name='seletipoedicao']"));

                    if (!campusCurso1.val()) {
                        campusCurso1.closest('label').addClass('state-error').addClass('has-error');
                        campusCurso1.closest('label').parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");

                        return false;
                    } else {
                        campusCurso1.closest('label').removeClass('state-error').removeClass('has-error');
                        campusCurso1.closest('label').parent().find("div[class^='note']").removeClass('note-error').html("");
                    }

                    $("[name^=campusCurso]").each(function (i, campusCurso) {
                        var inscricaoTurno = $($("[name^=inscricaoTurno]")[i]);

                        if ($(campusCurso).val()) {
                            if (!inscricaoTurno.val() && JSON.stringify($($("[name^=inscricaoTurno]")[i]).select2("data")) != {}) {
                                inscricaoTurno.closest('label').addClass('state-error').addClass('has-error');
                                inscricaoTurno.closest('label').parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");

                                turno = false;
                            } else {
                                inscricaoTurno.closest('label').removeClass('state-error').removeClass('has-error');
                                inscricaoTurno.closest('label').parent().find("div[class^='note']").removeClass('note-error').html("");

                                turno = true;
                            }
                        }
                    });

                    inscricaoDataProva = obrigatorio($("input[name='inscricaoDataProva']"));
                    lingua = selectObrigatorio($("select[name='inscricaoLinguaEstrangeira']"));
                    forma = selectObrigatorio($("select[name='seletipoedicao']"));

                    if (lingua && forma && inscricaoDataProva && turno) {
                        wizardProximo(passo);
                        passo++;
                        return;
                    }
                }
                if (passo == 4) {
                    $("input[name='contEmail']").val($("input[name='contEmail']").val().trim());
                    email = obrigatorio($("input[name='contEmail']"));


                    $("input[name='contTel']").val($("input[name='contTel']").val().trim());
                    contTell = obrigatorio($("input[name='contTel']"));

                    if (email && contTell) {
                        wizardProximo(passo);
                        passo++;
                        return;
                    }
                }
                if (passo == 5) {
                    pass = obrigatorio($("input[name='password']"));
                    $(this).text('Finalizar');
                    if (pass) {
                        $(this).attr('type', 'submit');
                    }
                }
            });
            $("#prev").click(function () {
                wizardAnterior(passo);
                passo--;
            });

            jQuery("#addEnd").click(function () {
                html = jQuery("#formEndAuxiliar").css("display", 'block').html();
                jQuery("#endereco").append(html);
                jQuery("#formEndAuxiliar").css("display", 'none');
            });

            // Remove atividade adicionado-funcao Desativada.
            jQuery(document).on("click", "input[id='removeEnd']", function () {
                jQuery(this).parent().parent().parent().parent().remove();
            });

            // Adiciona campo para adicionar necessidades especiais.
            jQuery("input[name = 'possuiNecessidades']").change(function () {
                var possuiNecessidades = jQuery("input[name='possuiNecessidades']:checked").val();

                if (possuiNecessidades === 'Sim') {
                    jQuery("#necessidades").css("display", 'block').html();
                } else {
                    jQuery("#necessidades").css("display", 'none').html();
                }
            });

            jQuery("#pesCpf").blur(function () {
                cad = true;

                jQuery.ajax({
                    url: "<?=$this->basePath()?>/vestibular/selecao-inscricao/busca-cadastro-ativo",
                    dataType: 'json',
                    type: 'post',
                    async: false,
                    data: {cpf: jQuery("input[name='pesCpf']").val()},
                    success: function (data) {
                        if (data.dados !== false) {
                            cad = false;
                            jQuery("#cadastrado").css("display", 'block').html;
//                        jQuery("input[name='pesCpf']").val( jQuery('') );
                            return false;
                        }
                    },
                    erro: function () {
                        alert('Erro ao se conectar no servidor, favor entrar em contato com o suporte!');
                    }
                });

                if (!cad) {
                    return false;
                }
            });

            //Busca CEP automaticamente
            jQuery("input[name='pesCpf']").blur(function () {
                jQuery("input[name='pesNome']").val('');
                jQuery("input[name='contEmail']").val('');
                jQuery("input[name='contTel']").val('');
                jQuery("input[name='pesRg']").val('');
                jQuery("input[name='pesDataNascimento']").val('');
                jQuery("input[name='pesSexo']").each(function () {
                    $(this).removeAttr('checked');
                });
                $("input[name^=end]").each(function () {
                    $(this).val('');
                });
                jQuery.ajax({
                    url: '<?=$this->basePath()?>/vestibular/selecao-inscricao/busca-cadastro-pessoa-fisica',
                    dataType: 'json',
                    type: 'post',
                    async: false,
                    data: {cpf: jQuery("input[name='pesCpf']").val()},
                    success: function (data) {
                        if (data.dados) {
                            jQuery("input[name='pesNome']").val(data.dados.nome);
                            jQuery("input[name='contEmail']").val(data.dados.email);
                            jQuery("input[name='contTel']").val(data.dados.tel);
                            jQuery("input[name='pesRg']").val(data.dados.rg);
                            jQuery("input[name='pesDataNascimento']").val(data.dados.pesDataNascimento);
                            jQuery("input[value='" + data.dados.pesSexo + "']").prop('checked', true);
                            jQuery("input[name='pesNaturalidade']").val(data.dados.pesNaturalidade);
                            jQuery("[name='pesNascUf']").val(data.dados.pesNascUf);

                            for (j in data.dados.endereco) {
                                $("[name='" + j + "[]']").val(data.dados.endereco[j]);
                            }
                        }
                    },
                    erro: function () {
                        alert('Opa2');
                    }
                });

            });

            //Adiciona no campo login o cpf do candidato.
            if ("input['name = 'pesCpf']") {
                jQuery("input[ name = 'pesCpf']").blur(function () {
                    usuario = jQuery("input[ name = 'pesCpf']").val();
                    usuario = usuario.replace('.', '');
                    usuario = usuario.replace('.', '');
                    usuario = usuario.replace('-', '');
                    jQuery("#username").val(usuario);
                    jQuery("input[name=username]").val(usuario);
                });
            }


            function obrigatorio(elemento) {
                if ($(elemento).val() == "") {
                    $(elemento).parent().addClass('state-error');
                    $(elemento).parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
                    return false;
                } else {
                    $(elemento).parent().removeClass('state-error');
                    $(elemento).parent().parent().find("div[class^='note']").removeClass('note-error').html("");
                    return true;
                }
            }

            /**
             * @param elemento : deve receber os elementos checkbox com a opção checked ex $("input[name='exemplo']:checked")
             * */
            function radioObrigatorio(elementoChecked, elemento) {
                if ($(elementoChecked).length == 0) {
                    $(elemento).parent().addClass('state-error');
                    $(elemento).parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
                    return false;
                } else {
                    $(elemento).parent().removeClass('state-error');
                    $(elemento).parent().parent().find("div[class^='note']").removeClass('note-error').html("");
                    return true;
                }
            }

            function selectObrigatorio(elemento) {
                if ($(elemento).val() == 'NULL' || $(elemento).val() == '') {
                    $(elemento).closest('label').addClass('state-error').addClass('has-error');
                    $(elemento).closest('label').parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
                    return false;
                } else {
                    $(elemento).closest('label').removeClass('state-error').removeClass('has-error');
                    $(elemento).closest('label').parent().find("div[class^='note']").removeClass('note-error').html("");
                    return true;
                }
            }

            function select2Obrigatorio(seletor) {
                var error = 0;
                $(seletor).each(function (i, elemento) {
                    if ($(elemento).val() == 'NULL' || $(elemento).val() == '') {
                        $(elemento).closest('label').addClass('state-error').addClass('has-error');
                        $(elemento).closest('label').parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
                        error++;
                    } else {
                        $(elemento).closest('label').removeClass('state-error').removeClass('has-error');
                        $(elemento).closest('label').parent().find("div[class^='note']").removeClass('note-error').html("");
                    }
                });
                return error == 0 ? false : true;
            }

            function wizardProximo(stepAtual) {
                atual = "#step" + stepAtual;
                proximo = "#step" + (stepAtual + 1);
                $("li[data-target='" + atual + "']").removeClass('active');
                $("li[data-target='" + proximo + "']").addClass('active');
                $(atual).removeClass('active');
                $(proximo).addClass('active');
                if (atual + 1 > 1) {
                    $("#prev").attr('disabled', false);
                }
            }

            function wizardAnterior(stepAtual) {
                atual = "#step" + stepAtual;
                anterior = "#step" + (stepAtual - 1);
                $("li[data-target='" + atual + "']").removeClass('active');
                $("li[data-target='" + anterior + "']").addClass('active');
                $(atual).removeClass('active');
                $(anterior).addClass('active');
                if (stepAtual - 1 == 1) {
                    $("#prev").attr('disabled', true);
                }
            }

            $("form").submit(function (e) {
                if (!grecaptcha.getResponse()) {
                    alert('Preencha o captcha!');
                    return false;
                    e.preventDefault();
                }
                $('#preloader').fadeIn();
            });

            $('form').on("keyup keypress", function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>
    <script type="text/javascript">
        <?php if($this->agendado):?>

        var datasProvas = <?=json_encode($this->datasProvas)?>;
        var datasProvasArray = new Array;
        for (var i = 0; i < datasProvas.length; i++) {
            datasProvasArray.push(datasProvas[i].dataFormt2)
        }

        var availableDates = datasProvasArray;

        function available(date) {
            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
            if ($.inArray(dmy, availableDates) != -1) {
                return [true, "", "Available"];
            } else {
                return [false, "", "unAvailable"];
            }
        }


        $("input[name='inscricaoDataProva']").datepicker({
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            beforeShowDay: available,
            dateFormat: 'dd/mm/yy',
        });

        $("input[name='inscricaoDataProva']").on('change', function () {
            $("#sectionHorario").show();
            $("#horariosProva").children().detach();
            for (var i = 0; i < datasProvas.length; i++) {
                if ($("input[name='inscricaoDataProva']").val() == datasProvas[i].dataFormt1) {
                    var html = '<label class="radio">' +
                        '<input type="radio" name="inscricaoHorarioProva" checked="checked" value="' + datasProvas[i].horario + '">' +
                        '<i></i>' + datasProvas[i].horario + '</label>';

                    $("#horariosProva").append(html);
                }
            }
        });
        <?php endif;?>
    </script>
</div>

</body>
</html>