<head>
    <meta charset="utf-8">
    <!-- Basic Styles -->
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/smart-admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/smart-admin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/smart-admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/smart-admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/css/smartadmin-rtl.min.css"> -->

    <!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/css/your_style.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/smart-admin/css/demo.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<?=$this->basePath()?>/smart-admin/css/main.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="<?=$this->basePath()?>/smart-admin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<?=$this->basePath()?>/smart-admin/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="<?=$this->basePath()?>/smart-admin/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<?=$this->basePath()?>/smart-admin/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<?=$this->basePath()?>/smart-admin/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<?=$this->basePath()?>/smart-admin/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="<?=$this->basePath()?>/smart-admin/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="<?=$this->basePath()?>/smart-admin/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="<?=$this->basePath()?>/smart-admin/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <script>
        //          localStorage.setItem("sm-setmenu","top");
    </script>
    <script src="<?=$this->basePath()?>/smart-admin/js/libs/jquery-2.0.2.min.js"></script>
    <script src="<?=$this->basePath()?>/smart-admin/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script src="<?=$this->basePath()?>/versa-skeleton/js/versa.skeleton.js"></script>
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0, 0, 0, 0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;

        body.desktop-detected.pace-done{
            background-color: #F8F8F8 !important;
        }

        }</style></head>

</head>
<?php

//$this->SpineJarvis()->openJarvis();
//echo $this->spineJarvis()->openWidget(array('title' => 'Dados do candidato', 'icon' => 'fa fa-gear'));
?>
<div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false" role="widget" style="position: relative; opacity: 1;">
    <div role="content">
        <?php
        if($this->dados['docEntregue'] == 'Não'):
        ?>
        <div class="alert alert-warning fade in">
            <i class="fa-fw fa fa-warning"></i>
            <strong>Atenção:</strong> sua inscrição so será validada após a entrega dos documentos de comprovação da nota do enem ou obtenção de novo título.
        </div>
        <?php
        endif;
        if($this->classificacao):
        ?>
            <div class="alert alert-success fade in">
                <i class="fa-fw fa fa-success"></i>
                <strong>Vestibular Encerrado!</strong> Verifique sua colocação no portal da instituição.
            </div>
        <?php
        endif;
        ?>
        <fieldset id="dados">
            <div class = 'row' >
                <?= $this->form()->openTag($this->form) ?>
                <div class = 'row'>
                    <?= $this->spineForm()->formInput($this->form->get("pesNome"), array('label' => 'Nome do Candidato:', 'readonly' => 'readonly')) ?>
                </div>
                <?php $i=0;foreach($opcoesCurso as $opcaoCurso): ?>
                <div class="row">
                    <section class="col-lg-12 col-sm-12 col-xs-12" style="padding-left:30px;">
                        <label class="label"><strong><?= ++$i; ?> &ordm; Opção</strong>:</label>
                    </section>
                    <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">
                        <label class="label">Câmpus:</label>
                        <label class="input">
                            <input type="text" name="campus" disabled="disabled" value="<?=$opcaoCurso['campus']?>">
                        </label>
                    </section>
                    <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:10px;">
                        <label class="label">Curso:</label>
                        <label class="input">
                            <input type="text" name="curso" disabled="disabled" value="<?=$opcaoCurso['curso']?>">
                        </label>
                    </section>
                </div>
                <?php endforeach; ?>
                <div class = 'row'>
                    <?= $this->spineForm()->formInput($this->form->get("statusInscricao"), array('col' => 4, 'readonly' => 'readonly', 'disabled' => true)) ?>
                </div>
                <div class = 'row'>
                    <?= $this->spineForm()->formInput($this->form->get("dataProva"), array('col' => 4, 'disabled' => 'disabled')) ?>
                </div>
                <div class="row">
                    <?php if($this->localProva):?>
                        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                            <label class="label">Local Prova:</label>
                            <strong>
                                <?=$this->localProva->getPredio()->getPredioNome()." - Endereço: ".$this->localProva->getPredio()->getPredioLogradouro().", ".$this->localProva->getPredio()->getPredioNumero().", ".$this->localProva->getPredio()->getPredioCidade().", ".$this->localProva->getPredio()->getPredioEstado().", ".$this->localProva->getPredio()->getPredioCep()?>
                            </strong>
                        </section>
                    <?php endif?>
                </div>
                <?= $this->form()->closeTag();?>
                <div class="row">
                    <?php if(!$this->edicaoIsencao) { ?>
                    <section class="col-lg-2 col-sm-2 col-xs-2">
                        <?php if(!empty($this->boletoId) and $this->edicaoFim === 'Nao'):?>
                            <a href="<?=$this->url('boleto-bancario/default', array('controller' => 'boleto', 'action' => 'exibe', 'id' => $this->boletoId))?>" type="button" name="boleto" style="width: 100%; height: 30px;" class="btn btn-primary" value="" target="_blank"><?=$this->gerarNovaDataVencimento == false ? 'Imprimir Boleto' : 'Imprimir 2° via Boleto'?><a/>
                        <?php endif?>
                         <input type="hidden" name="gerarboleto" value="<?=$this->gerarNovaDataVencimento?>">
                         <input type="hidden" name="idBoleto" value="<?=$this->boletoId?>">
                    </section>
                    <?php } ?>
                    <?php
                        if ($this->status === 'Aceita'):
                    ?>
                    <section class="col-lg-2 col-sm-2 col-xs-2">
                        <a type="button" style="width: 100%; height: 30px;" class="btn btn-success" href="<?=$this->basePath()?>/vestibular/selecao-inscricao/ficha/<?= $this->inscricaoId; ?>" target="_blank">Ficha de Inscrição</a>
                    </section>

                    <?php
                        endif;
                    ?>
                    <section class="col-lg-2 col-sm-2 col-xs-2" style="margin-bottom: 12px">
                        <button type="button" name="trocarSenha" style="width: 100%; height: 30px;" class="btn btn-default" value="">Trocar Senha</button>
                    </section>
                    <section class="col-lg-1 col-sm-1 col-xs-1" style="margin-bottom: 12px">
                        <a href="<?=$this->basePath()?>/vestibular/selecao-inscricao/logout"><button type="button" name="boleto" style="width: 100%; height: 30px;" class="btn btn-default" value="">Sair</button></a>
                    </section>
                </div>

            </div>
        </fieldset>
        <fieldset id="trocaSenha" hidden="hidden">
            <a class="btn btn-default" style="padding: 3px" id="voltar">
                <i class="fa fa-arrow-left"></i>
                Voltar
            </a>
            <form action="<?=$this->basePath()?>/acesso/acesso-pessoas/recovery-password" method="POST" name="trocaSenhaForm" data-validate="yes" class="smart-form">
                <input type="hidden" name="usuId" value="<?= $this->usuario->getId() ?>">
                <div class="row">
                    <?= $this->spineForm()->formInput($this->form->get("password"), array('col' => 4, 'label' => 'Informe sua senha atual:', 'name' => 'senhaAtual', 'data-validations' => 'Required', 'data-password' => 'yes')) ?>
                </div>
                <div class="row">
                    <?= $this->spineForm()->formInput($this->form->get("password"), array('col' => 4, 'label' => 'Informe a nova senha:', 'name' => 'novaSenha', 'data-validations' => 'Required', 'data-password' => 'yes')) ?>
                    <?= $this->spineForm()->formInput($this->form->get("password"), array('col' => 4, 'label' => 'Repita a nova senha:', 'name' => 'novaSenhaVerif', 'data-validations' => 'Required', 'data-password' => 'yes')) ?>
                    <?= $this->spineForm()->formInput($this->recuperarSenha->get('redirectRoute'), ['value' => 'vestibular/default']); ?>
                    <?= $this->spineForm()->formInput($this->recuperarSenha->get('redirectController'), ['value' => 'selecao-inscricao']); ?>
                    <?= $this->spineForm()->formInput($this->recuperarSenha->get('redirectAction'), ['value' => 'login']); ?>
                </div>
                <div class="row">
                    <?= $this->spineForm()->formInput($this->form->get("submit"), array('value' => 'Trocar Senha')) ?>
                </div>
            </form>
        </fieldset>
    </div>
</div>
<?php
//echo $this->spineJarvis()->closeWidget();
//$this->spineJarvis()->closeJarvis();
?>
<!-- END SHORTCUT AREA -->

<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="<?=$this->basePath()?>/smart-admin/js/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="<?=$this->basePath()?>/js/libs/jquery-2.0.2.min.js"><\/script>');
    }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="<?=$this->basePath()?>/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
		<script src="<?=$this->basePath()?>/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

<!-- BOOTSTRAP JS -->
<script src="<?=$this->basePath()?>/smart-admin/js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="<?=$this->basePath()?>/smart-admin/js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="<?=$this->basePath()?>/smart-admin/js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- Demo purpose only -->
<script src="<?=$this->basePath()?>/smart-admin/js/demo.min.js"></script>

<!-- MAIN APP JS FILE -->
<script src="<?=$this->basePath()?>/smart-admin/js/app.min.js"></script>

<!-- PAGE RELATED PLUGIN(S) -->

<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/flot/jquery.flot.cust.min.js"></script>
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/flot/jquery.flot.resize.min.js"></script>
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/flot/jquery.flot.fillbetween.min.js"></script>
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/flot/jquery.flot.orderBar.min.js"></script>
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/flot/jquery.flot.pie.min.js"></script>
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/flot/jquery.flot.tooltip.min.js"></script>

<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Full Calendar -->
<script src="<?=$this->basePath()?>/smart-admin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

<script src="<?=$this->basePath()?>/smart-admin/js/jquery-autocomplete.min.js"></script>
<script>
    $(document).ready(function() {
        $("[name='trocarSenha']").click(function () {
            $("#dados").hide();
            $("#trocaSenha").show();
        });
        $("#voltar").click(function () {
            $("#dados").show();
            $("#trocaSenha").hide();
        });
        $("[name='trocaSenhaForm']").submit(function () {
            var atual    = $("[name='senhaAtual']").val();
            var nova     = $("[name='novaSenha']").val();
            var novaConf = $("[name='novaSenhaVerif']").val();

            if ($("[name='senhaAtual']").val() == "") {
                $("[name='senhaAtual']").parent().addClass('state-error');
                $("[name='senhaAtual']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
            } else {
                $("[name='senhaAtual']").parent().removeClass('state-error');
                $("[name='senhaAtual']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
            }
            if ($("[name='novaSenha']").val() == "") {
                $("[name='novaSenha']").parent().addClass('state-error');
                $("[name='novaSenha']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
            } else {
                $("[name='novaSenha']").parent().removeClass('state-error');
                $("[name='novaSenha']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
            }
            if ($("[name='novaSenhaVerif']").val() == "") {
                $("[name='novaSenhaVerif']").parent().addClass('state-error');
                $("[name='novaSenhaVerif']").parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
            } else {
                $("[name='novaSenhaVerif']").parent().removeClass('state-error');
                $("[name='novaSenhaVerif']").parent().parent().find("div[class^='note']").removeClass('note-error').html("");
            }

            if($("input[data-password='yes']").parent().hasClass('state-error')){
                return false;
            }
            if(nova === novaConf){
                return true;
            } else {
                alert("As senhas informadas não conferem.");
                return false;
            }
        });
        obrigatorio($("[name='senhaAtual']"), false);
        obrigatorio($("[name='novaSenha']"), false);
        obrigatorio($("[name='novaSenhaVerif']"), false);

        jQuery("a[name='boleto']").click(function(){
            var gerar = jQuery("input[name='gerarboleto']").val();
            var idBoleto = jQuery("input[name='idBoleto']").val();
            if(gerar){
                jQuery.ajax({
                    async   : true,
                    type    : 'POST',
                    url     : '<?=$this->basePath()?>/vestibular/selecao-inscricao/altera-data-vencimento-titulo',
                    data    : {
                        idBoleto  : idBoleto
                    },
                    success : function( data ){
                        if( data.result != undefined){
                            jQuery("input[name='gerarboleto']").val(false);
                        }
                        location.reload();
                    },
                    error   : function( a ){
                        alert("Não foi possivel gerar segunda via do boleto favor entar em contato com a instituição!")
                        jQuery("a[name='boleto']").attr({'href':'', 'target': '_self' });
                    }
                });
            }
        });


        function obrigatorio(elemento, blur){
            $(elemento).blur(function () {
                if ($(elemento).val() == "") {
                    $(elemento).parent().addClass('state-error');
                    $(elemento).parent().parent().find("div[class^='note']").addClass('note-error').html("Este campo é obrigatório");
                } else {
                    $(elemento).parent().removeClass('state-error');
                    $(elemento).parent().parent().find("div[class^='note']").removeClass('note-error').html("");
                }
            });
        }

//                                localStorage.setItem("sm-setmenu","top");

        $spine().autocompleteAjax();
//        $spine().validateForm();

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();

        /*
         * PAGE RELATED SCRIPTS
         */

        $(".js-status-update a").click(function() {
            var selText = $(this).text();
            var $this = $(this);
            $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            $this.parents('.dropdown-menu').find('li').removeClass('active');
            $this.parent().addClass('active');
        });

        /*
         * TODO: add a way to add more todo's to list
         */

        // initialize sortable
        $(function() {
            $("#sortable1, #sortable2").sortable({
                handle : '.handle',
                connectWith : ".todo",
                update : countTasks
            }).disableSelection();
        });

        // check and uncheck
        $('.todo .checkbox > input[type="checkbox"]').click(function() {
            var $this = $(this).parent().parent().parent();

            if ($(this).prop('checked')) {
                $this.addClass("complete");

                // remove this if you want to undo a check list once checked
                //$(this).attr("disabled", true);
                $(this).parent().hide();

                // once clicked - add class, copy to memory then remove and add to sortable3
                $this.slideUp(500, function() {
                    $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                    $this.remove();
                    countTasks();
                });
            } else {
                // insert undo code here...
            }

        })
        // count tasks
        function countTasks() {
            $('.todo-group-title').each(function() {
                var $this = $(this);
                $this.find(".num-of-tasks").text($this.next().find("li").size());
            });

        }

        /*
         * RUN PAGE GRAPHS
         */

        /* TAB 1: UPDATING CHART */
        // For the demo we use generated data, but normally it would be coming from the server

        var data = [], totalPoints = 200, $UpdatingChartColors = $("#updating-chart").css('color');

        function getRandomData() {
            if (data.length > 0)
                data = data.slice(1);

            // do a random walk
            while (data.length < totalPoints) {
                var prev = data.length > 0 ? data[data.length - 1] : 50;
                var y = prev + Math.random() * 10 - 5;
                if (y < 0)
                    y = 0;
                if (y > 100)
                    y = 100;
                data.push(y);
            }

            // zip the generated y values with the x values
            var res = [];
            for (var i = 0; i < data.length; ++i)
                res.push([i, data[i]])
            return res;
        }

        // setup control widget
        var updateInterval = 1500;
        $("#updating-chart").val(updateInterval).change(function() {
            var v = $(this).val();
            if (v && !isNaN(+v)) {
                updateInterval = +v;
                $(this).val("" + updateInterval);
            }

        });

        // setup plot
        var options = {
            yaxis : {
                min : 0,
                max : 100
            },
            xaxis : {
                min : 0,
                max : 100
            },
            colors : [$UpdatingChartColors],
            series : {
                lines : {
                    lineWidth : 1,
                    fill : true,
                    fillColor : {
                        colors : [{
                            opacity : 0.4
                        }, {
                            opacity : 0
                        }]
                    },
                    steps : false

                }
            }
        };

        var plot = $.plot($("#updating-chart"), [getRandomData()], options);

        /* live switch */
        $('input[type="checkbox"]#start_interval').click(function() {
            if ($(this).prop('checked')) {
                $on = true;
                updateInterval = 1500;
                update();
            } else {
                clearInterval(updateInterval);
                $on = false;
            }
        });

        function update() {
            if ($on == true) {
                plot.setData([getRandomData()]);
                plot.draw();
                setTimeout(update, updateInterval);

            } else {
                clearInterval(updateInterval)
            }

        }

        var $on = false;

        /*end updating chart*/

        /* TAB 2: Social Network  */

        $(function() {
            // jQuery Flot Chart
            var twitter = [[1, 27], [2, 34], [3, 51], [4, 48], [5, 55], [6, 65], [7, 61], [8, 70], [9, 65], [10, 75], [11, 57], [12, 59], [13, 62]], facebook = [[1, 25], [2, 31], [3, 45], [4, 37], [5, 38], [6, 40], [7, 47], [8, 55], [9, 43], [10, 50], [11, 47], [12, 39], [13, 47]], data = [{
                label : "Twitter",
                data : twitter,
                lines : {
                    show : true,
                    lineWidth : 1,
                    fill : true,
                    fillColor : {
                        colors : [{
                            opacity : 0.1
                        }, {
                            opacity : 0.13
                        }]
                    }
                },
                points : {
                    show : true
                }
            }, {
                label : "Facebook",
                data : facebook,
                lines : {
                    show : true,
                    lineWidth : 1,
                    fill : true,
                    fillColor : {
                        colors : [{
                            opacity : 0.1
                        }, {
                            opacity : 0.13
                        }]
                    }
                },
                points : {
                    show : true
                }
            }];

            var options = {
                grid : {
                    hoverable : true
                },
                colors : ["#568A89", "#3276B1"],
                tooltip : true,
                tooltipOpts : {
                    //content : "Value <b>$x</b> Value <span>$y</span>",
                    defaultTheme : false
                },
                xaxis : {
                    ticks : [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"], [13, "JAN+1"]]
                },
                yaxes : {
                }
            };

            var plot3 = $.plot($("#statsChart"), data, options);
        });

        // END TAB 2

        // TAB THREE GRAPH //
        /* TAB 3: Revenew  */

        $(function() {
            var trgt = [[1354586000000, 153], [1364587000000, 658], [1374588000000, 198], [1384589000000, 663], [1394590000000, 801], [1404591000000, 1080], [1414592000000, 353], [1424593000000, 749], [1434594000000, 523], [1444595000000, 258], [1454596000000, 688], [1464597000000, 364]], prft = [[1354586000000, 53], [1364587000000, 65], [1374588000000, 98], [1384589000000, 83], [1394590000000, 980], [1404591000000, 808], [1414592000000, 720], [1424593000000, 674], [1434594000000, 23], [1444595000000, 79], [1454596000000, 88], [1464597000000, 36]], sgnups = [[1354586000000, 647], [1364587000000, 435], [1374588000000, 784], [1384589000000, 346], [1394590000000, 487], [1404591000000, 463], [1414592000000, 479], [1424593000000, 236], [1434594000000, 843], [1444595000000, 657], [1454596000000, 241], [1464597000000, 341]], toggles = $("#rev-toggles"), target = $("#flotcontainer");

            var data = [{
                label : "Target Profit",
                data : trgt,
                bars : {
                    show : true,
                    align : "center",
                    barWidth : 30 * 30 * 60 * 1000 * 80
                }
            }, {
                label : "Actual Profit",
                data : prft,
                color : '#3276B1',
                lines : {
                    show : true,
                    lineWidth : 3
                },
                points : {
                    show : true
                }
            }, {
                label : "Actual Signups",
                data : sgnups,
                color : '#71843F',
                lines : {
                    show : true,
                    lineWidth : 1
                },
                points : {
                    show : true
                }
            }]

            var options = {
                grid : {
                    hoverable : true
                },
                tooltip : true,
                tooltipOpts : {
                    //content: '%x - %y',
                    //dateFormat: '%b %y',
                    defaultTheme : false
                },
                xaxis : {
                    mode : "time"
                },
                yaxes : {
                    tickFormatter : function(val, axis) {
                        return "$" + val;
                    },
                    max : 1200
                }

            };

            plot2 = null;

            function plotNow() {
                var d = [];
                toggles.find(':checkbox').each(function() {
                    if ($(this).is(':checked')) {
                        d.push(data[$(this).attr("name").substr(4, 1)]);
                    }
                });
                if (d.length > 0) {
                    if (plot2) {
                        plot2.setData(d);
                        plot2.draw();
                    } else {
                        plot2 = $.plot(target, d, options);
                    }
                }

            };

            toggles.find(':checkbox').on('change', function() {
                plotNow();
            });
            plotNow()

        });

        /*
         * VECTOR MAP
         */

        data_array = {
            "US" : 4977,
            "AU" : 4873,
            "IN" : 3671,
            "BR" : 2476,
            "TR" : 1476,
            "CN" : 146,
            "CA" : 134,
            "BD" : 100
        };

        $('#vector-map').vectorMap({
            map : 'world_mill_en',
            backgroundColor : '#fff',
            regionStyle : {
                initial : {
                    fill : '#c4c4c4'
                },
                hover : {
                    "fill-opacity" : 1
                }
            },
            series : {
                regions : [{
                    values : data_array,
                    scale : ['#85a8b6', '#4d7686'],
                    normalizeFunction : 'polynomial'
                }]
            },
            onRegionLabelShow : function(e, el, code) {
                if ( typeof data_array[code] == 'undefined') {
                    e.preventDefault();
                } else {
                    var countrylbl = data_array[code];
                    el.html(el.html() + ': ' + countrylbl + ' visits');
                }
            }
        });

        /*
         * FULL CALENDAR JS
         */

        if ($("#calendar").length) {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({
                editable : true,
                draggable : true,
                selectable : false,
                selectHelper : true,
                unselectAuto : false,
                disableResizing : false,

                header : {
                    left : 'title', //,today
                    center : 'prev, next, today',
                    right : 'month, agendaWeek, agenDay' //month, agendaDay,
                },

                select : function(start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent', {
                                title : title,
                                start : start,
                                end : end,
                                allDay : allDay
                            }, true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },

                events : [{
                    title : 'All Day Event',
                    start : new Date(y, m, 1),
                    description : 'long description',
                    className : ["event", "bg-color-greenLight"],
                    icon : 'fa-check'
                }, {
                    title : 'Long Event',
                    start : new Date(y, m, d - 5),
                    end : new Date(y, m, d - 2),
                    className : ["event", "bg-color-red"],
                    icon : 'fa-lock'
                }, {
                    id : 999,
                    title : 'Repeating Event',
                    start : new Date(y, m, d - 3, 16, 0),
                    allDay : false,
                    className : ["event", "bg-color-blue"],
                    icon : 'fa-clock-o'
                }, {
                    id : 999,
                    title : 'Repeating Event',
                    start : new Date(y, m, d + 4, 16, 0),
                    allDay : false,
                    className : ["event", "bg-color-blue"],
                    icon : 'fa-clock-o'
                }, {
                    title : 'Meeting',
                    start : new Date(y, m, d, 10, 30),
                    allDay : false,
                    className : ["event", "bg-color-darken"]
                }, {
                    title : 'Lunch',
                    start : new Date(y, m, d, 12, 0),
                    end : new Date(y, m, d, 14, 0),
                    allDay : false,
                    className : ["event", "bg-color-darken"]
                }, {
                    title : 'Birthday Party',
                    start : new Date(y, m, d + 1, 19, 0),
                    end : new Date(y, m, d + 1, 22, 30),
                    allDay : false,
                    className : ["event", "bg-color-darken"]
                }, {
                    title : 'Smartadmin Open Day',
                    start : new Date(y, m, 28),
                    end : new Date(y, m, 29),
                    className : ["event", "bg-color-darken"]
                }],

                eventRender : function(event, element, icon) {
                    if (!event.description == "") {
                        element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description + "</span>");
                    }
                    if (!event.icon == "") {
                        element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon + " '></i>");
                    }
                }
            });

        };

        /* hide default buttons */
        $('.fc-header-right, .fc-header-center').hide();

        // calendar prev
        $('#calendar-buttons #btn-prev').click(function() {
            $('.fc-button-prev').click();
            return false;
        });

        // calendar next
        $('#calendar-buttons #btn-next').click(function() {
            $('.fc-button-next').click();
            return false;
        });

        // calendar today
        $('#calendar-buttons #btn-today').click(function() {
            $('.fc-button-today').click();
            return false;
        });

        // calendar month
        $('#mt').click(function() {
            $('#calendar').fullCalendar('changeView', 'month');
        });

        // calendar agenda week
        $('#ag').click(function() {
            $('#calendar').fullCalendar('changeView', 'agendaWeek');
        });

        // calendar agenda day
        $('#td').click(function() {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        });

        /*
         * CHAT
         */

        $.filter_input = $('#filter-chat-list');
        $.chat_users_container = $('#chat-container > .chat-list-body')
        $.chat_users = $('#chat-users')
        $.chat_list_btn = $('#chat-container > .chat-list-open-close');
        $.chat_body = $('#chat-body');

        /*
         * LIST FILTER (CHAT)
         */

        // custom css expression for a case-insensitive contains()
        jQuery.expr[':'].Contains = function(a, i, m) {
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
        };

        function listFilter(list) {// header is any element, list is an unordered list
            // create and add the filter form to the header

            $.filter_input.change(function() {
                var filter = $(this).val();
                if (filter) {
                    // this finds all links in a list that contain the input,
                    // and hide the ones not containing the input while showing the ones that do
                    $.chat_users.find("a:not(:Contains(" + filter + "))").parent().slideUp();
                    $.chat_users.find("a:Contains(" + filter + ")").parent().slideDown();
                } else {
                    $.chat_users.find("li").slideDown();
                }
                return false;
            }).keyup(function() {
                // fire the above change event after every letter
                $(this).change();

            });

        }

        // on dom ready
        listFilter($.chat_users);

        // open chat list
        $.chat_list_btn.click(function() {
            $(this).parent('#chat-container').toggleClass('open');
        })

        $.chat_body.animate({
            scrollTop : $.chat_body[0].scrollHeight
        }, 500);

    });

</script>
<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

