<?php
$this->SpineJarvis()->OpenJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Processo de Edição do Cadastro Vestibular', 'icon' => 'fa fa-gear'));
?>
<h3 class="panel-title"><strong>Dados Pessoais:</strong></h3>
<?= $this->form()->openTag($this->formCadastro) ?>
<?php if($this->data['inscricaoDataHorarioProva']):?>
    <input type="hidden" id="horarioProva" value="<?=$this->data['inscricaoDataHorarioProva']->format('H:i')?>" />
    <input type="hidden" id="dataProva" value="<?=$this->data['inscricaoDataHorarioProva']->format('d/m/Y')?>" />
<?php endif;?>

<fieldset>
    <?= $this->formRow($this->formCadastro->get("inscricaoId")); ?>
    <div class='row'>
        <?= $this->spineForm()->formInput($this->formCadastro->get("pesNacionalidade"), array('col' => 4, 'label' => 'Nacionalidade')) ?>
    </div>
    <div class ='row'>
        <div id='documento'>
            <?php
            if($this->data['pesNacionalidade'] == 'Brasileiro' || $this->data['pesNacionalidade'] == 'Naturalizado'){
                echo $this->spineForm()->formInput($this->formCadastro->get("pesCpf"), array('wrap' => true, 'col' => 4));
            } else {
                echo $this->spineForm()->formInput($this->formCadastro->get("pesDocEstrangeiro"), array('wrap' => true, 'col' => 4));
            }
            ?>
        </div>
        <?= $this->spineForm()->formInput($this->formCadastro->get("pesNome"), array('wrap' => true, 'col' => 4, 'label' => 'Nome do candidato')) ?>
    </div>
    <div class = 'row'>
        <?= $this->spineForm()->formInput($this->formCadastro->get("pesDataNascimento"), array('wrap' => true, 'col' => 4, 'data-validations' => 'Data')) ?>
        <?= $this->spineForm()->formInput($this->formCadastro->get("pesRg"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
    </div>
    <div class = 'row'>
        <?= $this->spineForm()->formInput($this->formCadastro->get("pesSexo"), array('wrap' => true, 'col' => 4, 'label' => 'Genero:', 'data-validations' => '')) ?>
    </div>
    <div class = 'row' id = 'possui_necessidades'>
        <?= $this->spineForm()->formInput($this->formCadastro->get("possuiNecessidades"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
    </div>
    <div class = 'row' style=" display: none" id = 'necessidades'>
        <?= $this->spineForm()->formInput($this->formCadastro->get("pesNecessidades"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
    </div>
    <h3 class="panel-title"><strong>Filiação:</strong></h3>

</fieldset>

<?php if($this->edicaoFiliacao) { ?>
    <h3 class="panel-title"><strong>Filiação:</strong></h3>
    <fieldset>
        <div class ='row'>
            <div id='documento'>
                <?=$this->spineForm()->formInput($this->formCadastro->get("maeCpf")->setAttribute('data-validations', ''));?>
            </div>
            <?= $this->spineForm()->formInput($this->formCadastro->get("maeNome")->setAttribute('data-validations', '')) ?>
        </div>
        <div class ='row'>
            <div id='documento'>
                <?=$this->spineForm()->formInput($this->formCadastro->get("paiCpf"));?>
            </div>
            <?= $this->spineForm()->formInput($this->formCadastro->get("paiNome")) ?>
        </div>
    </fieldset>
<?php }?>
<fieldset>
    <div id = 'endereco'>
        <?= $this->formInput($this->formEndereco->get("endId[]") ); ?>
        <div class = 'row'>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endCep[]"), array('wrap' => true, 'col' => 2, 'data-validations' => '')) ?>
        </div>
        <div class = 'row'>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endLogradouro[]"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endNumero[]"), array('wrap' => true, 'col' => 1, 'data-validations' => '')) ?>
        </div>
        <div class = 'row'>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endComplemento[]"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endBairro[]"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class = 'row'>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endCidade[]"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
            <?= $this->spineForm()->formInput($this->formEndereco->get("endEstado[]"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
        </div>
    </div>
    <h3 class = "panel-title"><strong>Dados complementares:</strong></h3>
</fieldset>
<fieldset>
    <div class='row'>
        <?php for ($i = 0; $i < $this->edicaoNumCursosOpcionais; $i++){ ?>
            <div class="col-lg-12 col-sm-12 col-xs-12 curso-container">
                <div class = "col-lg-1 col-sm-1 col-xs-1">
                    <label class="label"><strong><?=($i+1); ?> &ordm; Opção:</strong></label>
                </div>
                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                    <label class="label">Selecione o Câmpus:</label>
                    <label class="select">
                        <select name="campus[]" class="form-control" data-validations="Required">
                            <?php
                            $fisrtCampus = reset($this->arrCampus); // pega o primeiro elemento array element do array
                            foreach ($this->arrCampus as $campus) {
                                ?>
                                <option value="<?=$campus['idCampus']?>"><?=$campus['nomeCampus']?></option>
                            <?php } ?>
                        </select>
                    </label>
                    <div class="note"></div>
                </section>
                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                    <label class="label">Selecione o Curso:</label>
                    <label class="select">
                        <i></i>
                        <input name="cursoSelecao[]" class="form-control" data-validations="Required">
                    </label>
                    <div class="note"></div>
                </section>
            </div>
        <?php }?>
        <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
            <input type="hidden" name="incricaoCursosId" value="<?=$this->incricaoCursosId?>">
            <label class="label">Selecione o Câmpus:</label>
            <label class="select">
                <select name="campus" id="campus" class="form-control" data-validations="Required">
                    <?php
                    foreach ($this->arrCampus as $campus) {
                        foreach ($this->arrCampusCursos[$campus['idCampus']] as $curso) {
                            $arrDataCursos[$campus['idCampus']][] = [
                                'id'   => $curso['idCursoSelecao'],
                                'text' => $curso['nomeCurso']
                            ];
                        }
                        $selected = ($this->campusSelected == $campus['idCampus']) ? 'selected' :'';
                        ?>
                        <option <?=$selected?> value="<?=$campus['idCampus']?>"><?=$campus['nomeCampus']?></option>
                    <?php } ?>
                </select>
            </label>
            <div class="note"></div>
        </section>
        <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
            <label class="label">Selecione o Curso:</label>
            <label class="select">
                <i></i>
                <input name="cursoSelecao" id="cursoSelecao" class="form-control" data-validations="Required">
            </label>
            <div class="note"></div>
        </section>
        <?php if($this->agendado):?>
            <div class="row">
                <section class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;">
                    <label class="label">Data da prova:</label>
                    <label class="input">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <input type="text" name="inscricaoDataProva" data-validations="Required, Data" placeholder="Data que deseja realizar a prova" data-masked="Date" value="">
                    </label><div class="note"></div>
                </section>
            </div>
        <?php endif;?>
    </div>
    <div class = 'row'>
        <?= $this->spineForm()->formInput($this->formCadastro->get("seletipoedicao"), array('wrap' => true, 'col' => 3)) ?>

        <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoLinguaEstrangeira"), array('wrap' => true, 'col' => 3)) ?>
        <?php if($this->agendado):?>
            <section id="sectionHorario" class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:30px;" hidden>
                <label class="label">Horário prova:</label>
                <div class="inline-group" id="horariosProva">

                </div>
            </section>
        <?php endif;?>
    </div>
    <fieldset>
        <?php if($this->provaLocais):?>
            <div class="row">
                <div class="row">
                    <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                        <label class="label">Selecione o local de Realização da prova:</label>

                        <?php foreach($this->provaLocais as $locais):?>
                            <label class="radio">
                                <?php if($this->data['selelocais'] == $locais->getSelelocaisId()):?>
                                    <input type="radio" checked name="selelocais" data-validations="Required" value="<?=$locais->getSelelocaisId()?>">
                                <?php else :?>
                                    <input type="radio" name="selelocais" data-validations="Required" value="<?=$locais->getSelelocaisId()?>">
                                <?php endif?>
                                <i></i><?=$locais->getPredio()->getPredioNome()." - Endereço: ".$locais->getPredio()->getPredioLogradouro().", ".$locais->getPredio()->getPredioNumero().", ".$locais->getPredio()->getPredioCidade().", ".$locais->getPredio()->getPredioEstado().", ".$locais->getPredio()->getPredioCep()?>
                            </label>
                        <?php endforeach;?>
                        <div class="note">

                        </div>
                    </section>
                </div>

            </div>

        <?php endif?>
    </fieldset>

    <div id="enem" hidden="hidden">

        <h3 class = "panel-title"><strong>Notas do Enem:</strong></h3>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoNotaEnemCiencHumanas"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoNotaEnemCiencNatureza"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoNotaEnemPortugues"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoNotaEnemRedacao"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoNotaEnemMatematica"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
    </div>
    <div id="titulo" hidden="hidden">
        <h3 class = "panel-title"><strong>Informações do Título Atual:</strong></h3>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoUltimaFormacao"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoDataFormacao"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoCidadeFormacao"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
        <div class="row">
            <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoFormacaoInstituicao"), array('col' => 4, 'data-validations' => '')) ?>
        </div>
    </div>
    <div class="row" id="docEntregue" hidden="hidden">
        <?= $this->spineForm()->formInput($this->formCadastro->get("inscricaoEntregaDoc")) ?>
    </div>
    <h3 class = "panel-title"><strong>Contato:</strong></h3>
</fieldset>
<fieldset>
    <div class="row">
        <?= $this->spineForm()->formInput($this->formContato->get("contEmail"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
        <?= $this->spineForm()->formInput($this->formContato->get("contTel"), array('wrap' => true, 'col' => 4, 'data-validations' => '')) ?>
    </div>
</fieldset>
<footer>

    <a href="<?=$this->basePath()?>/vestibular/selecao-inscricao/redefinir-senha/<?= $this->data['inscricaoId'] ?>" class="btn btn-warning pull-left" id="redefinirSenha">Redefinir Senha</a>
    <?php if(!$this->edicaoIsencao && $this->data['tituloFinanceiro']) { ?>
        <?php if($this->data['tituloFinanceiro'][sizeof($this->data['tituloFinanceiro'])-1]->getTituloTipoPagamento() != "Boleto"): ?>
            <a target="_blank" href="<?=$this->basePath()?>/boleto-bancario/financeiro-titulo/comprovante/<?= $this->data['tituloFinanceiro'][sizeof($this->data['tituloFinanceiro'])-1]->getTituloId() ?>" class="btn btn-primary pull-left" >Comprovante de pagamento</a>
        <?php endif;?>
    <?php } ?>
    <?= $this->formRow($this->formCadastro->get("submit")) ?>
</footer>
<?php
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();

$this->spineJarvis()->closeJarvis();
?>

<script type='text/javascript'>

    var options = {
        campusCursos: <?= json_encode($arrDataCursos)?>,
        cursoSelected: <?= $this->campusCursoSelected?>
    };

    jQuery(function () {
        $("#campus").select2({language: 'pt-BR'}).change(function(){
            $("#cursoSelecao").select2('val', '');
        });

        $("#cursoSelecao").select2({
            language: 'pt-BR',
            allowClear: true,
            formatNoMatches: function() {
                return'Nenhum Curso Disponível para o Câmpus selecionado'
            },
            data: function() {
                return {results:options.campusCursos[$("#campus").val()]|| []};
            }
        });

        $("#cursoSelecao").select2('val', options.cursoSelected);

        if($("[name=turno]").length == 1){
            $("[name=turno]").attr('checked', true).parent().parent().hide();
        }
        jQuery("#addEnd").click(function () {
            html = jQuery("#formEndAuxiliar").css("display", 'block').html();
            jQuery("#endereco").append(html);
            jQuery("#formEndAuxiliar").css("display", 'none');
        });

        // Remove atividade adicionado-funcao Desativada.
        jQuery(document).on("click", "input[id='removeEnd']", function () {
            jQuery(this).parent().parent().parent().parent().remove();
        });

        // Adiciona campo para adicionar necessidades especiais.
        var possuiNecessidade = '<?php echo $this->data['possuiNecessidades'] ?>';
        if(possuiNecessidade == 'Sim'){
            jQuery("#necessidades").css("display", 'block').html();
        }
        jQuery("input[name = 'possuiNecessidades']").change(function () {
            var possuiNecessidades = jQuery("input[name='possuiNecessidades']:checked").val();

            if (possuiNecessidades === 'Sim') {
                jQuery("#necessidades").css("display", 'block').html();
            } else {
                jQuery("#necessidades").css("display", 'none').html();
                jQuery("[name='pesNecessidades[]']").removeAttr('checked');
            }
        });
    });

    jQuery(function () {
        var text = $("select[name='seletipoedicao']").find("option[value='"+$("select[name='seletipoedicao']").val()+"']").text();
        if(text == 'Notas do Enem' || text ==  'Enem e Vestibular'){
            $("#enem").show();
            $("#titulo").hide();
            $('#docEntregue').show();
        } else if (text == 'Obtenção de Novo Título') {
            $("#titulo").show();
            $("#enem").hide();
            $('#docEntregue').show();
        } else {
            $("#titulo").hide();
            $("#enem").hide();
            $('#docEntregue').hide();
        }
    });

    //Busca CEP automaticamente
    jQuery(function () {
        $("select[name='seletipoedicao']").change(function () {
            var text = $(this).find("option[value='"+$(this).val()+"']").text();
            if(text == 'Notas do Enem' || text ==  'Enem e Vestibular'){
                $("#enem").show();
                $("#titulo").hide();
                $('#docEntregue').show();
            } else if (text == 'Obtenção de Novo Título') {
                $("#titulo").show();
                $("#enem").hide();
                $('#docEntregue').show();
            } else {
                $("#titulo").hide();
                $("#enem").hide();
                $('#docEntregue').hide();
            }
        });
        nacionalidade = '<?php echo $this->data['pesNacionalidade'] ?>';
        if(nacionalidade == 'Estrangeira'){
            $("#documento").append("<section class='col-lg-4 col-sm-4 col-xs-4 hidden' style='padding-left:30px;'><label class='label'>CPF:</label><label class='input'><i class='icon-prepend fa fa-credit-card'></i><input name='pesCpf' placeholder='Informe o CPF' data-validations='Required, Cpf' value='' data-masked='Cpf' type='text'></label><div class='note'></div></section>");
        }
        $("select[name='pesNacionalidade']").change(function () {
            if(this.value == 'Estrangeiro'){
                $("input[name='pesCpf']").parent().parent().addClass('hidden');
                $("#documento").append("<section class='col-lg-4 col-sm-4 col-xs-4' style='padding-left:30px;'><label class='label'>Documento Estrangeiro:</label><label class='input'><i class='icon-prepend fa fa-credit-card'></i><input name='pesDocEstrangeiro' placeholder='Informe o documento estrangeiro' data-validations='Required' value='' type='text'></label><div class='note'></div></section>");
//            <label class='label'>CPF</label><label class='input'><i class='icon-prepend fa fa-credit-card'></i><input name='pesCpf' placeholder='Informe o CPF' data-validations='Required,Cpf' data-masked='Cpf' value='' type='text'></label><div class='note'></div>
            }
            else {
                $("input[name='pesCpf']").parent().parent().removeClass('hidden');
                $("input[name='pesDocEstrangeiro']").parent().parent().detach();
            }
        });
        jQuery("input[name='endCep[]']").mask('99999-999', {
            completed: function () {
                jQuery.ajax({
                    url: "<?=$this->basePath()?>/pessoa/cidade/busca-info-cep",
                    dataType: 'json',
                    type: 'post',
                    data: {cep: jQuery("input[name='endCep[]']").val()},
                    success: function (data) {
                        jQuery("input[name='endLogradouro[]']").val(data.dados.logr_nome);
                        jQuery("input[name='endCidade[]']").val(data.dados.cid_nome);
                        jQuery("select[name='endEstado[]']").val(data.dados.est_id);
                        jQuery("input[name='endBairro[]']").val(data.dados.bai_nome);
                    },
                    erro: function () {
                        alert('Opa2');
                    }
                });
            }});
        jQuery("input[name='pesCpf']").blur(function () {
            jQuery.ajax({
                url: "<?=$this->basePath()?>/vestibular/selecao-inscricao/busca-cadastro-pessoa-fisica",
                dataType: 'json',
                type: 'post',
                async: false,
                data: {cpf: jQuery("input[name='pesCpf']").val()},
                success: function (data) {
                    jQuery("input[name='pesNome']").val(data.dados.nome);
                    jQuery("input[name='contEmail']").val(data.dados.email);
                    jQuery("input[name='contTel']").val(data.dados.tel);
                    jQuery("input[name='pesRg']").val(data.dados.rg);
                },
                erro: function () {
                    alert('Opa2');
                }
            });

        });

        //Adiciona no campo login o cpf do candidato.
        if ("input['name = 'pesCpf']") {
            jQuery("input[ name = 'pesCpf']").blur(function () {
                jQuery("#username").val(jQuery("input[ name = 'pesCpf']").val());
                jQuery("#password").val("abcd12345");
            });
        }

        <?php if($this->agendado):?>
        var datasProvas = <?=json_encode($this->datasProvas)?>;
        var datasProvasArray = new Array;
        for(var i = 0; i < datasProvas.length; i++){
            datasProvasArray.push(datasProvas[i].dataFormt2)
        }

        var availableDates = datasProvasArray;

        function available(date) {
            dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
            if ($.inArray(dmy, availableDates) != -1) {
                return [true, "","Available"];
            } else {
                return [false,"","unAvailable"];
            }
        }


        $("input[name='inscricaoDataProva']").datepicker({
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            beforeShowDay: available,
            dateFormat: 'dd/mm/yy',
        });

        var dataProva = $("#dataProva").val();
        var horarioProva = $("#horarioProva").val();

        if(dataProva != undefined) {
            $("input[name='inscricaoDataProva']").datepicker('setDate', dataProva);

            $("#sectionHorario").show();
            $("#horariosProva").children().detach();
            for(var i = 0; i < datasProvas.length; i++) {
                if ($("input[name='inscricaoDataProva']").val() == datasProvas[i].dataFormt1) {
                    if (horarioProva == datasProvas[i].horario) {
                        var html =  '<label class="radio">' +
                            '<input type="radio" name="inscricaoHorarioProva" checked="checked" value="' + datasProvas[i].horario + '">' +
                            '<i></i>' + datasProvas[i].horario + '</label>';
                    } else {
                        var html =  '<label class="radio">' +
                            '<input type="radio" name="inscricaoHorarioProva" value="' + datasProvas[i].horario + '">' +
                            '<i></i>' + datasProvas[i].horario + '</label>';
                    }



                    $("#horariosProva").append(html);
                }
            }
        }

        $("input[name='inscricaoDataProva']").on('change', function(){
            $("#sectionHorario").show();
            $("#horariosProva").children().detach();
            for(var i = 0; i < datasProvas.length; i++) {
                if ($("input[name='inscricaoDataProva']").val() == datasProvas[i].dataFormt1) {
                    var html =  '<label class="radio">' +
                        '<input type="radio" name="inscricaoHorarioProva" checked="checked" value="' + datasProvas[i].horario + '">' +
                        '<i></i>' + datasProvas[i].horario + '</label>';

                    $("#horariosProva").append(html);
                }
            }
        });

        <?php endif;?>



    });

    jQuery("#redefinirSenha").click(function(){
        var email = jQuery("input[name='contEmail']").val();
        if(email == ""){
            alert("Favor cadastrar um email para redefinicão de senha!");
            return false;
        }
    });
</script>