<?php
$urlListagem   = $this
    ->url('vestibular/default', array('controller' => 'selecao-inscricao'));
$urlPesquisaPF = $this
    ->url('vestibular/default', array('controller' => 'selecao-inscricao', 'action' => 'search-for-json'));
$urlBuscaCEP   = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$urlRecuperarSenha = $this
    ->url('vestibular/default', array('controller' => 'selecao-inscricao', 'action' => 'redefinir-senha'));
$urlFicha          = $this
    ->url('vestibular/default', array('controller' => 'selecao-inscricao', 'action' => 'ficha'));
$urlComprovante    = $this
    ->url('boleto-bancario/default', array('controller' => 'financeiro-titulo', 'action' => 'comprovante'));
$urlBoleto         = $this
    ->url('boleto-bancario/default', array('controller' => 'boleto', 'action' => 'exibe'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addJS('selecao-inscricao-add', false, 'App');
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1% 0%;
        width: 100%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-titulo {
        text-align: center;
        padding: 2px;
        font-weight: bold;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .app-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 150;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    .file-upload .message {
        display: none;
    }

    .file-upload .preview {
        width: 100%;
        height: 8em;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="selecao-inscricao-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" id="pesId" value="<?php echo $this->arrDados['pesId']; ?>">
                        <input type="hidden" name="edicaoId" id="edicaoId"
                               value="<?php echo $this->arrDados['edicaoId']; ?>">
                        <input type="hidden" name="inscricaoId" id="inscricaoId"
                               value="<?php echo $this->arrDados['inscricaoId']; ?>">

                        <div id="selecao-inscricao-wizard" class="col-sm-12">
                            <div class="form-bootstrapWizard">
                                <div class="form-wizard-nav">
                                    <ul class="bootstrapWizard form-wizard">
                                        <li class="active" data-target="#abaDadosPessoais">
                                            <a href="#abaDadosPessoais" data-toggle="tab">
                                                <span class="step">1</span>
                                                <span class="title">Dados Pessoais</span>
                                            </a>
                                        </li>
                                        <li data-target="#abaContatoEndereco">
                                            <a href="#abaContatoEndereco" data-toggle="tab">
                                                <span class="step">2</span>
                                                <span class="title">Contato e Endereço</span>
                                            </a>
                                        </li>
                                        <li data-target="#abaCursoLocalProva">
                                            <a href="#abaCursoLocalProva" data-toggle="tab">
                                                <span class="step">3</span>
                                                <span class="title">Curso e Local de Prova</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="progress progress-micro">
                                        <div class="progress-bar progress-bar-primary"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="abaDadosPessoais">
                                    <?php
                                    echo $this->partial(
                                        'vestibular/selecao-inscricao/add-dados-pessoais.phtml',
                                        array(
                                            'arrDados'               => $this->arrDados,
                                            'arrPesNacionalidade'    => $this->arrPesNacionalidade,
                                            'edicaoFiliacao'         => $this->edicaoFiliacao,
                                            'arrInscricaoEntregaDoc' => $this->arrInscricaoEntregaDoc,
                                            'arrInscricaoStatus'     => $this->arrInscricaoStatus,
                                        )
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="abaContatoEndereco">
                                    <?php
                                    echo $this->partial(
                                        'vestibular/selecao-inscricao/add-contato-endereco.phtml',
                                        array('arrDados' => $this->arrDados,)
                                    );
                                    ?>
                                </div>
                                <div class="tab-pane" id="abaCursoLocalProva">
                                    <?php
                                    echo $this->partial(
                                        'vestibular/selecao-inscricao/add-cursos-opcoes.phtml',
                                        array(
                                            'arrDados' => $this->arrDados,
                                            'agendado' => $this->agendado,
                                        )
                                    );
                                    ?>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous disabled">
                                                <a href="javascript:void(0);" class="btn btn-lg btn-default">
                                                    Anterior
                                                </a>
                                            </li>
                                            <li class="next">
                                                <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">
                                                    Próxima
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                                <a href="<?= $urlRecuperarSenha . "/" . $this->arrDados['inscricaoId'] ?>"
                                   class="btn btn-warning" id="redefinirSenha">
                                    Redefinir Senha
                                </a>
                                <a href="<?= $urlFicha . "/" . $this->arrDados['inscricaoId'] ?>" target="_blank"
                                   class="btn btn-success">
                                    Ficha de Inscrição
                                </a>
                                <?php if ($this->arrDados['tituloFinanceiro']['tituloDataPagamento'] != '') { ?>
                                    <a target="_blank"
                                       href="<?= $urlComprovante . "/" . $this->arrDados['tituloFinanceiro']['tituloId'] ?>"
                                       class="btn btn-default">Comprovante de pagamento</a>
                                <?php } elseif ($this->arrDados['tituloFinanceiro']['tituloTipoPagamento'] == "Boleto") { ?>
                                    <a target="_blank"
                                       href="<?= $urlBoleto . "/" . $this->arrDados['boleto']['bolId'] ?>"
                                       class="btn btn-default">Imprimir boleto</a>
                                <?php } ?>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.selecaoInscricaoAdd({
            url: {
                pesquisaPF: '<?=$urlPesquisaPF;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>',
            },
            data: {
                necessidadesEspeciais: <?=json_encode($this->necessidadesEspeciais);?>,
                cursosOpcoes: <?=json_encode($this->selecaoCursos);?>,
                locaisOpcoes: <?=json_encode($this->provaLocais);?>,
                numeroDeCursos: <?=(int)$this->edicaoNumCursosOpcionais;?>,
                linguaEstrangeira: <?=json_encode($this->linguaEstrangeira);?>,
                tipoEdicao: <?=json_encode($this->tipoEdicao);?>,
                dataRealizacaoOpcoes: <?=json_encode($this->arrDataRealizacao);?>,
            },
            value: {
                responsaveis: <?=json_encode($this->arrDados['responsaveis']);?>,
                formacoes: <?=json_encode($this->arrDados['formacoes']);?>,
                inscricaoCursos: <?=json_encode($this->arrDados['inscricaoCursos']);?>,
                pessoaNecessidades: <?=json_encode($this->arrDados['pessoaNecessidades']);?>,
                selelocais: <?=json_encode($this->arrDados['selelocais']);?>,
                seletipoedicao: '<?=$this->arrDados['seletipoedicaoId'];?>',
                inscricaoLinguaEstrangeira: '<?=$this->arrDados['inscricaoLinguaEstrangeira'];?>',
            }
        });
    });
</script>