<style type="text/css">
    * {
        font-family: Arial, Verdana, sans-serif;
    }
</style>

<table width="90%">
    <tr>
        <td width="20%">
            <?= ($this->logo ? '<img src="' . $this->logo . '" width="180px"/>' : '') ?>
        </td>
        <td width="30%" style="text-align: center">
            <h2><?= $this->dados['edicao']?></h2>
            <h3>Comprovante de Inscrição</h3>
        </td>
        <hr>
    </tr>
</table>
<table width="90%">
    <tr>
        <td width="40%"></td>
        <td><h4>Dados do Candidato:</h4></td>
    </tr>
    <tr>
        <td><b>N° de Inscrição: </b><?= $this->dados['inscricaoNumero']; ?></td>
    </tr>
    <tr>
        <td colspan="2"><b>Nome do Candidato: </b><?= $this->dados['nome']; ?></td>
    </tr>
    <tr>
        <td><b>CPF: </b><?= $this->dados['cpf']; ?></td>
    </tr>
    <tr>
        <td><b>RG: </b><?= $this->dados['rg']; ?></td>
    </tr>
    <tr>
        <td><b>Curso: </b><?= $this->dados['curso']; ?></td>
    </tr>
    <hr>
</table>
<table width="90%">
    <tr>
        <td width="40%"></td>
        <td><h4>Local de Aplicaçao da Prova:</h4></td>
    </tr>
    <tr>
        <td><b>Localidade: </b><?= $this->endProva->getPredioNome() ?></td>
    </tr>
    <tr>
        <td><b>Endereço: </b><?= $this->endProva->getPredioLogradouro() ?></td>
        <td><b>Numero: </b><?= $this->endProva->getPredioNumero() ?></td>
    </tr>
    <tr>
        <td><b>Bairro: </b><?= $this->endProva->getPredioBairro() ?></td>
        <td><b>Cidade: </b><?= $this->endProva->getPredioCidade() ?></td>
    </tr>
    <tr>
        <td><b>Estado: </b><?= $this->endProva->getPredioEstado() ?></td>
        <?php if ($this->dataProva): ?>
            <td><b>Data aplicação: </b><?= $this->dataProva ?> às <?= $this->horario ?></td>

        <?php endif; ?>
    </tr>
    <?= $this->dados['sala'] ? "
        <tr>
            <td><b>Sala: </b>" . $this->dados['sala'] . "</td>
        </tr>"
        : ''
    ?>
    <hr>
</table>

<table>
    <tr>
        <td><h3 style="text-align: center"><b>Observações:</b></h3></td>
    </tr>
    <tr>
        <td>
            <?php
            $observacao = trim(nl2br($this->edicaoObservacao));

            if (!$observacao) {
                $observacao = '
                O candidato deve se apresentar com 30 minutos de antecedência ao início da prova, munido da caneta
                esferográfica azul ou preta, documento de identidade com foto e comprovante de inscrição. Não será
                permitido o uso de borracha e/ou corretivo de qualquer espécie durante a realização da prova.
                <br>
                Procure conhecer o local da prova com antecedência.
                <br>
                Será eliminado o candidato que no momento da prova, estiver portando qualquer equipamento eletrônico.';
            }

            echo $observacao;

            ?>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <br>
            <br>
            <br>
            <hr style="width: 80%">
            <?= $this->dados['nome']; ?>
        </td>
    </tr>
</table>
