<head>
    <meta charset="utf-8" />
</head>
<body>
<?php
foreach ($this->inscricoes as $key => $inscricao):
    ?>
    <div <?= (count($this->inscricoes) != $key+1)? "style='page-break-after: always;'" : ''; ?>>
        <table style="margin-left: 15px;margin-top: -40px">
            <tbody>
            <tr>
                <td style="width: 600px;">
                    <?= $this->ies; ?> <?= $inscricao->getSala()->getSalaNome();?>
                </td>
            </tr>
            <tr style="margin-top: -40px ">
                <td><?= $inscricao->getEdicao()->getEdicaoDescricao(); ?></td>
                <td style="padding-left: 30px; margin-right: -40px; margin-top: 30px">
                    <?= str_pad($inscricao->getInscricaoId(), 5, "0", STR_PAD_LEFT); ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $inscricao->getPes()->getPesNome()?>
                </td>
            </tr>
            <tr style="">
                <td style="width: 600px"></td>
                <td style="padding-left: 25px; margin-right: -30px; padding-top: 75px"><?= str_pad($inscricao->getInscricaoId(), 5, "0", STR_PAD_LEFT); ?></td>
            </tr>
            </tbody>
        </table>
    </div>
    <?php
endforeach;
?>
</body>
