<?php
$form = $this->form;
$this->spineJarvis()->OpenJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Impressão da ficha de redação', 'icon' => 'fa fa-gear'));
$form->prepare();
echo $this->form()->openTag($form);
?>
<header>
    Impressão da ficha de inscrição
</header>
<div class="row">
    <?= $this->spineForm()->formInput( $form->get('sala') ); ?>
</div>
<div class="row">
    <?= $this->spineForm()->formInput( $form->get('tipoFicha') ); ?>
</div>
<div class="row">
    <?= $this->spineForm()->formInput( $form->get('tipo') ); ?>
</div>
<div name='inscricoes' hidden="hidden">
    <div class="row">
        <?= $this->spineForm()->formInput( $form->get('inscricao[]') ); ?>
        <section class="col-lg-1">
            <a class='btn btn-primary' style='padding: 6px; padding-left: 8px; padding-right: 8px; margin-top: 25px;margin-left: 5px;' name='add'>
                <i class='fa fa-plus'></i>
            </a>
        </section>
    </div>
</div>
<div hidden="hidden">
    <div name='inscRow'>
        <div class="row">
            <?= $this->spineForm()->formInput( $form->get('inscricao[]') ); ?>
            <section class="col-lg-1">
                <a class='btn btn-danger' style='padding: 6px; padding-left: 8px; padding-right: 8px; margin-top: 25px;margin-left: 5px;' name='remove'>
                    <i class='fa fa-minus'></i>
                </a>
                <a class='btn btn-primary' style='padding: 6px; padding-left: 8px; padding-right: 8px; margin-top: 25px;margin-left: 5px;' name='add'>
                    <i class='fa fa-plus'></i>
                </a>
            </section>
        </div>
    </div>
</div>
<?php
echo $this->spineForm()->formInput( $form->get('Imprimir') );
echo $this->form()->closeTag();
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<script>
    jQuery(function () {
        var inscricaoRow = $("[name='inscRow']").html();
        $("[name='tipo']").change(function () {
            var valor = $(this).val();
            if (valor === 'alguns')
            {
                $("[name='inscricoes']").removeAttr('hidden');
            }
            else
            {
                $("[name='inscricoes']").attr('hidden', 'hidden');
            }
        });
        $("body").on("click", "a[name='add']", function () {
            $("[name='inscricoes']").append(inscricaoRow);
            $("a[name='remove']").click(function () {
                $(this).parent().parent().detach();
            });
        });
        $("[name='impressaoFicha']").submit(function () {
            if(confirm("Atenção! Este procedimento pode demorar alguns minutos.")){
                return true;
            } else {
                return false;
            }
        });
    });
</script>