<head style="margin:0px">
    <meta charset="utf-8" />
    <style>
        @page { margin: 0px; }
        html { margin: 0px; }
        body{
            padding: 5px 20px 62px 40px;
        }
        .bg{
            position: absolute;
            top: 4px;
            left: 20px;
            width: 110%;
            height: 100%;
            z-index: -1;
        }
    </style>
</head>
<body>
<?php

for ($i = 0; $i < count($this->inscricoes); $i++):
    $candidato = $this->inscricoes[$i];
    ?>
    <?php
    echo ($i%2==0)?'<table style="width: 100%">':'<table style="margin-top: 475px;page-break-after: always;width: 100%">';
    ?>
            <tr>
                <td style="padding-left: 20px; width: 90%;text-transform: uppercase; font-size: 15px; padding-top: 40px">
                   <?= $this->ies; ?> 
                </td>
                <td style="padding-left: -35px; padding-top: 40px">
                    <?= $candidato->getInscricaoId(); ?>
                </td>
                <td style="padding-left: -5px; padding-top: 40px">
                1
                </td>
            </tr>
            <tr>
                <td style="padding-left: 23px; padding-top: -30px " colspan="2">
                    <?= $candidato->getEdicao()->getEdicaoDescricao().' - '.$candidato->getSala()->getSalaNome();?>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 23px;">
                    <?=  $candidato->getPes()->getPesNome(); ?>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 23px">
                     Lingua estrangeira: <?= $candidato->getInscricaoLinguaEstrangeira(); ?>
                </td>
            </tr>
        </table>
<?php
endfor;
?>
</body>
