<style type="text/css">
    #selecao-inscricao tbody a {
        color: black
    }
</style>
<?php
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
?>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    <div role="content ">
        <div id="selecao-inscricao" class="widget-body fuelux">
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">
                    <div class="col-lg-6 col-offset-2">
                        <div class="btn-group">
                            <a href="<?= $this->basePath() ?>/vestibular/selecao-inscricao/captacao"
                               class="btn btn-default"> <i class="fa fa-plus"></i> Adicionar </a>
                            <a href="<?= $this->basePath() ?>/vestibular/selecao-inscricao/alocacao-manual">
                                <button class="btn btn-default">
                                    <i class="fa fa-building"></i> Alocação dos candidatos
                                </button>
                            </a>
                            <a href="<?= $this->basePath() ?>/vestibular/selecao-inscricao/relatorio">
                                <button class="btn btn-default"><i class="fa fa-file-archive-o"></i> Relatório</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           id="expandeAccordion"
                                           href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa fa-chevron-right"></i>
                                            Filtros avançados
                                        </a>
                                    </h4>
                                </div>
                                <div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="col-sm-12">
                                                <fieldset>
                                                    <legend>Informações de prova:</legend>

                                                    <div class="col-sm-12">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="dataInicialProva">Data Inicial:</label>
                                                                <input type="text" name="dataInicialProva"
                                                                       id="dataInicialProva"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="dataFinalProva">Data Final:</label>
                                                                <input type="text" name="dataFinalProva"
                                                                       id="dataFinalProva"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="horarioInicialProva">Horário
                                                                    Inicial:</label>
                                                                <input type="text" name="horarioInicialProva"
                                                                       id="horarioInicialProva"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label for="horarioFinalProva">Horário Final:</label>
                                                                <input type="text" name="horarioFinalProva"
                                                                       id="horarioFinalProva"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary"
                                                            id="alunosFiltroExecutar">
                                                        <i class="fa fa-search"></i>
                                                        Filtrar resultados
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            id="alunosFiltroLimpar">
                                                        <i class="fa fa-clear"></i>
                                                        Limpar filtros
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" width="100%"
                               id="selecaoInscricaoTable">
                            <thead>
                            <tr>
                                <th>Inscrição</th>
                                <th>Nome do Candidato</th>
                                <th>Curso</th>
                                <th>Status do cadastro</th>
                                <th>Prova</th>
                                <th>Língua Estrangeira</th>
                                <th>Data de Inscrição</th>
                                <th>Data e Hora da Prova</th>
                                <th>Boleto</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</article>

<script>
    $(document).ready(function () {
        VersaShared.call(this);

        var _inscricao = this;
        var dataInicial = $("#dataInicialProva"),
            dataFinal = $("#dataFinalProva"),
            horarioInicial = $("#horarioInicialProva"),
            horarioFinal = $("#horarioFinalProva");

        var colNum = 0;

        _inscricao.iniciarElementoDatePicker(dataInicial);
        _inscricao.iniciarElementoDatePicker(dataFinal);
        _inscricao.iniciarElementoTimePicker(horarioInicial);
        _inscricao.iniciarElementoTimePicker(horarioFinal);

        $("#selecaoInscricaoTable").dataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "<?=$this->basePath()?>/vestibular/selecao-inscricao/pagination",
                type: "POST",
                data: function (d) {
                    d.filter = d.filter || {};

                    if (dataInicial.val()) {
                        d.filter['dataInicial'] = dataInicial.val();
                    }

                    if (dataFinal.val()) {
                        d.filter['dataFinal'] = dataFinal.val();
                    }

                    if (horarioInicial.val()) {
                        d.filter['horarioInicial'] = horarioInicial.val();
                    }

                    if (horarioFinal.val()) {
                        d.filter['horarioFinal'] = horarioFinal.val();
                    }

                    return d;
                },
                dataSrc: function (json) {

                    var data = json.data;
                    var action = json.action;
                    var basePath = "";

                    if (data) {
                        for (var row in data) {
                            var inscricao = data[row]['inscricao_id'];
                            var titulo = data[row]['financeiro_titulo'];

                            for (var j in data[row]) {
                                if (j == 'financeiro_titulo') {
                                    var linkBoleto = "<a target='_blank' href='<?=$this->basePath(
                                        )?>/boleto-bancario/boleto/exibe/" +
                                        titulo + "'><button type='button' class='btn btn-xs btn-primary btn-item-edit'><i class='fa fa-sign-in'></i></button></a";

                                    data[row][j] = (titulo) ? linkBoleto : '';

                                }

                                // concatena valores de data e hora da prova
                                if (j == 'data_prova') {
                                    data[row][j] = data[row][j] + " - " + data[row]['hora_prova'];
                                }
                                data[row][j] = "<a href='<?=$this->basePath(
                                    )?>/vestibular/selecao-inscricao/edit/" + inscricao + "'>" +
                                    data[row][j] +
                                    "</a>";

                            }
                        }
                        return data;
                    }
                    return [];
                }
            },
            columnDefs: [
                {name: "inscricao_id", targets: colNum++, data: "inscricao_id"},
                {name: "pes_nome", targets: colNum++, data: "pes_nome"},
                {name: "curso", targets: colNum++, data: "curso"},
                {name: "inscricao_status", targets: colNum++, data: "inscricao_status"},
                {name: "prova", targets: colNum++, data: "prova"},
                {name: "inscricao_lingua_estrangeira", targets: colNum++, data: "inscricao_lingua_estrangeira"},
                {name: "data_inscricao", targets: colNum++, data: "inscricao_data"},
                {name: "prova_data", targets: colNum++, data: "data_prova"},
                {name: "financeiro_titulo", targets: colNum++, data: "financeiro_titulo"},
                {name: "hora_prova", data: "hora_prova"},
                {name: "inscricao_id", data: "inscricao_id"},
            ],
            order: [[0, 'desc']],
            "sDom": "<'dt-toolbar'<'col-xs-6'f><'col-xs-6'T>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>",
            "oTableTools": {
                "aButtons": []
            },
            oLanguage: {
                sProcessing: "<i class='fa fa-lg fa-spinner fa-spin'></i>",
                sLengthMenu: "Mostrar _MENU_ registros por página",
                sZeroRecords: "Nenhum registro encontrado",
                sInfo: "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                sInfoEmpty: "Mostrando 0 / 0 de 0 registros",
                sInfoFiltered: "(filtrado de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Início",
                    sPrevious: "Anterior",
                    sNext: "Próximo",
                    sLast: "Último"
                }
            }
        });

        $("#alunosFiltroExecutar").on("click", function (e) {
            $("#selecaoInscricaoTable").DataTable().ajax.reload();

            e.stopImmediatePropagation();
        });

        $("#alunosFiltroLimpar").on("click", function (e) {
            dataInicial.val('');
            dataFinal.val('');
            horarioInicial.val('');
            horarioFinal.val('');

            e.stopImmediatePropagation();
        });

    });
</script>