<style>
    td {
        margin: 0.5%;
    }
    table {
        border-collapse: collapse;
    }
</style>
<table width="90%">
    <tr>
        <td width="20%">
            <?= ($this->logo ? '<img src="' . $this->logo . '" width="180px"/>' : '') ?>
        </td>
        <td width="30%">
            <h3>Relatório de caixa</h3>
        </td>
        <hr>
    </tr>
</table>
<table style="width: 100%;" border="1">
    <thead>
    <tr style="width: 100%">
        <th></th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data Inicial</td>
            <td><?= $this->dataIni ?></td>
        </tr>
        <tr>
            <td>Data Final</td>
            <td><?= $this->dataFim ?></td>
        </tr>
        <tr>
            <td>Total Local</td>
            <td>R$ <?= $this->local ?></td>
        </tr>
        <tr>
            <td>Total Internet</td>
            <td>R$ <?= $this->internet ?></td>
        </tr>
        <tr>
            <td>Total Geral</td>
            <td>R$  <?= $this->total ?></td>
        </tr>
    </tbody>
</table>
<div>
    <p>Total de inscritos local: <?= $this->inscLocal ?></p>
    <p>Total de inscritos internet: <?= $this->inscInternet ?></p>
    <p>Total de inscrições isentas de pagamento: <?= $this->inscIsento ?></p>
    <p>Total de inscritos Geral: <?= $this->inscGeral ?></p>
</div>