<style>
    td {
        margin: 0.5%;
    }
    table {
        border-collapse: collapse;
    }
</style>
<table style="width: 100%;" border="1">
    <thead>
    <tr style="width: 100%">
        <th style="width: 5%;">Nº</th>
        <th style="width: 30%;">Nome</th>
        <th style="width: 10%;">Tipo de Pagamento</th>
        <th style="width: 10%;">Forma de Pagamento</th>
        <th style="width: 10%;">Valor</th>
        <th style="width: 10%;">Valor Pago</th>
        <th style="width: 12%;">Emissão</th>
        <th style="width: 12%;">Pagamento</th>
    </tr>
    </thead>
    <tbody>
    <?php
    foreach ($this->info as $row):
    ?>
    <tr>
        <td style="width: 5%;"><?=  $row['Numero'] ?></td>
        <td style="width: 30%;"><?= $row['Nome'] ?></td>
        <td style="width: 10%;"><?= $row['Tipo'] ?></td>
        <td style="width: 10%;"><?= $row['FormaPagamento'] ?></td>
        <td style="width: 10%;"><?= $row['Valor'] ?></td>
        <td style="width: 10%;"><?= $row['Valor Pago'] ?></td>
        <td style="width: 12%;"><?= $row['Emissao'] ?></td>
        <td style="width: 12%;"><?= $row['Pagamento'] ?></td>
    </tr>
    <?php
    endforeach;
    ?>
    </tbody>
</table>
<div>
    <h4>Valor total recebido em Boletos:-------R$ <?= $this->totalBol; ?></h4>
    <h4>Valor total recebido em Dinheiro:-----R$ <?= $this->totalDim; ?></h4>
</div>