<head>
    <meta charset="utf-8">
    <style>
        p{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
            font-weight: bold;
        }
        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body >
<div>
    -------------------------------------------------
</div>
<p style="text-align: center; padding-bottom: 10px">
    <b>
        <?= $this->mantenedora?>
    </b>
</p>
<p style="text-align: center">
    &nbsp;ESPELHO DO MOVIMENTO DE CAIXA
</p>
<p>
    &nbsp;&nbsp;Data Atual: <?php echo (new \DateTime('now'))->format("d/m/Y"); ?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;Atendente: <?= $this->infoUsrLogged()->getNome(); ?> <br>
    &nbsp;&nbsp;Curso....: Vestibular <br>
    &nbsp;&nbsp;Histórico: Todos <br>
    &nbsp;&nbsp;Inicio.: <?= $this->dataIni; ?> Final.: <?= $this->dataFim; ?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;Total de inscriçoes no local: <?= $this->inscLocal; ?><br>
    &nbsp;&nbsp;Total de inscriçoes na internet: <?= $this->inscInternet; ?><br>
    &nbsp;&nbsp;Total de inscriçoes isentas: <?= $this->inscIsento; ?><br>
    &nbsp;&nbsp;Total geral: <?= $this->inscGeral; ?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;Total Local: <?= $this->local; ?><br>
    &nbsp;&nbsp;Total Internet: <?= $this->internet; ?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp; Total Geral: <?= $this->total; ?>
    <br><br><br><br>
</p>
<div>
    -------------------------------------------------
</div>
<br>
<br>
</body>
<script>
    window.print();
</script>