<?php
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
$this->spineList( $this->config );

echo $this->spineJarvis()->closeWidget();

$this->spineJarvis()->closeJarvis();
?>
<script>
    jQuery(function () {
        jQuery("td[data-td-name='financeiro_titulo']").each(function(){
            jQuery(this).html("<a target='_blank' href='<?=$this->basePath()?>/boleto-bancario/financeiro-titulo/edit/"+jQuery(this).text()+"'>Título Financeiro</a>");
        });
        $("div[class='btn-group pull-right']").append("<a href='<?=$this->basePath()?>/vestibular/selecao-inscricao/relatorio'><button class='btn btn-default'> <i class='fa fa-file-archive-o'></i> Relatorio</button><a>");
    });
</script>
