<p>Olá {{ pessoa.nome }},</p>
<p>Seus novos dados de acesso são:</p>
<p>Usuário: {{ acesso.login }} </p>
<p>Senha: {{ acesso.senha }}</p>
<p>Para acessar clique <a href="{{ linkAcesso }}">Aqui</a></p>