<p>Olá {{ pessoa.pesNome }},</p>
<p>Seja bem vindo à {{ ies.iesFantasia }}!</p>
{% if acesso %}
    <p>O seu usuário de acesso ao sistema é <b>{{ acesso.login }}</b>.</p>
{% endif %}

<p>Atenciosamente,</p>
<p>{{ ies.iesFantasia }}</p>