<p>Olá {{ pessoa.pesNome }},</p>
<p>Obrigado por escolher a {{ ies.iesFantasia }}!</p>
{% if acesso %}
    <p>O seu usuário de acesso ao sistema é <b>{{ acesso.login }}</b>.</p>
{% endif %}
{% if alunoCurso %}
    <p>Segue a sua relação de cursos:</p>
    <ul>
        {% for curso in aluno.alunoCurso %}
            <li>{{ curso.cursoNome }} / {{ curso.campNome }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p>Atenciosamente,</p>
<p>{{ ies.iesFantasia }}</p>