<p>Olá {{ sacado.pesNome }},</p>
<p>Abaixo seguem as suas informações para pagamento:</p>
{% if titulos %}
    <table align="center" border="1" cellpadding="2" cellspacing="0">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Link para pagamento</th>
        </tr>
        {% for arrDados in titulos %}
            <tr>
                <td>{{ arrDados.titulo.tituloId }}</td>
                <td>{{ arrDados.titulo.tituloDescricao }}</td>
                <td>{{ arrDados.titulo.tituloValor|number_format(2, ',', '.') }}</td>
                <td>{{ arrDados.titulo.tituloDataVencimento }}</td>
                <td>
                    <a href="{{ arrDados.titulo.linkBoleto }}" target="_blank">Boleto</a>
                    <a href="{{ arrDados.titulo.linkPagseguro }}" target="_blank">PagSeguro</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <b>Código:</b> {{ titulo.tituloId }}<br>
    <b>Descrição:</b> {{ titulo.tituloDescricao }}<br>
    <b>Valor:</b> {{ titulo.tituloValor|number_format(2, ',', '.') }}<br>
    <b>Vencimento:</b> {{ titulo.tituloDataVencimento }}<br>
    <b>Link para boleto:</b> <a href="{{ titulo.linkBoleto }}" target="_blank">Exibir Boleto</a><br>
{% endif %}

Qualquer dúvida entre em contato com o setor financeiro da instituíção.

<p>Atenciosamente,</p>
<p>{{ cedente.pesNomeFantasia }}</p>