<p>Olá {{ pessoa.pesNome }},</p>
<p>Obrigado por escolher a {{ ies.iesFantasia }}!</p>
{% if acesso %}
    <p>O seu usuário de acesso ao sistema é <b>{{ acesso.login }}</b> e sua senha é <b>{{ acesso.senha }}</b>.</p>
{% endif %}
{% if boleto %}
    <p>Para efetuar o pagamento de sua inscrição clique <a href="{{ linkboleto }}">Aqui</a>.</p>
{% endif %}

<p>Para acessar clique <a href="{{ linkAcesso }}">Aqui</a></p>

<p>Atenciosamente,</p>
<p>{{ ies.iesFantasia }}</p>