<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-processo-tipo'));
$paramUrl    = array('controller' => 'estagiogeral-processo-tipo', 'action' => 'add');

if ($this->arrDados['processoTipoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['processoTipoId'];
}

$urlForm = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-processo-tipo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-processo-tipo-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="processoTipoId" id="processoTipoId"
                               value="<?php echo $this->arrDados['processoTipoId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="processoTipoDescricao">Descrição:</label>
                                <input type="text" name="processoTipoDescricao" id="processoTipoDescricao"
                                       class="form-control"
                                       placeholder="Descrição" maxlength="45"
                                       value="<?php echo $this->arrDados['processoTipoDescricao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="processoTipoObservacao">processo_tipo_observacao:</label>
                                <input type="text" name="processoTipoObservacao" id="processoTipoObservacao"
                                       class="form-control"
                                       placeholder="processo_tipo_observacao" maxlength="45"
                                       value="<?php echo $this->arrDados['processoTipoObservacao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralProcessoTipoAdd({
            ,

    });
    })
    ;
</script>