<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'modalidade-emprestimo'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addJS('modalidade-emprestimo-add', false, 'App');
?>
<style>
    #modalidadeEmprestimoGrupos .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    #modalidadeEmprestimoGrupos .list.componente-list .componente-content {
        height: auto;
        padding-top: 8px;
    }

    #modalidadeEmprestimoGrupos .list.componente-list .componente-item {
        margin-bottom: 9px;
        position: relative;
    }

    .modalidadeEmprestimoGrupo-remover {
        position: absolute;
        right: 5px;
        top: 5px;
    }
</style>
<div id="widget-grid" class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="modalidade-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="modalidadeEmprestimoId" id="modalidadeEmprestimoId"
                               value="<?php echo $this->dadosModalidadeEmprestimo['modalidadeEmprestimoId']; ?>">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="grupoLeitor">Grupo de leitor</label>
                                <select id="grupoLeitor" name="grupoLeitor" class="form-control">
                                    <option></option><?php
                                    foreach ($this->grupoLeitor as $value) {
                                        $id                            = $value['grupo_leitor_id'];
                                        $modalidadeEmprestimoDescricao = $value['grupo_leitor_nome'];
                                        $selected                      = ((int)$id == (int)$this->dadosModalidadeEmprestimo['grupoLeitor']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $modalidadeEmprestimoDescricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="modalidadeEmprestimoDescricao">Descrição:</label>
                                <input type="text" name="modalidadeEmprestimoDescricao"
                                       id="modalidadeEmprestimoDescricao" class="form-control"
                                       placeholder="Informe a descrição"
                                       value="<?php echo $this->dadosModalidadeEmprestimo['modalidadeEmprestimoDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="modalidadeEmprestimoDiasSuspensao">Tempo de suspensão:</label>
                                <input type="text" name="modalidadeEmprestimoDiasSuspensao"
                                       id="modalidadeEmprestimoDiasSuspensao" class="form-control"
                                       placeholder="Informe o tempo de suspensão(dias)"
                                       value="<?php echo $this->dadosModalidadeEmprestimo['modalidadeEmprestimoDiasSuspensao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Situação:</label>

                                <div class="input-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="modalidadeEmprestimoSituacao"
                                               id="modalidadeEmprestimoSituacao1" value="Ativo"
                                            <?php echo $this->dadosModalidadeEmprestimo['modalidadeEmprestimoSituacao'] != 'Inativo' ? 'checked' : ''; ?>
                                            >Ativo
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="modalidadeEmprestimoSituacao"
                                               id="modalidadeEmprestimoSituacao2" value="Inativo"
                                            <?php echo $this->dadosModalidadeEmprestimo['modalidadeEmprestimoSituacao'] == 'Inativo' ? 'checked' : ''; ?>
                                            >Inativo
                                    </label>
                                </div>
                                <span for="modalidadeEmprestimoSituacao" style="display: none" class="error help-block">Campo obrigatório!</span>
                            </div>
                        </div>
                        <div class="col-sm-12 well" id="modalidadeEmprestimoGrupos">
                            <div class="col-sm-6">
                                <h4>Regras por grupo bibliográfico:</h4>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="btn btn-primary btn-add">
                                    <i class="fa fa-plus"></i>
                                    Adicionar
                                </div>
                            </div>
                            <div class="form-group has-error hidden"><span class="help-block"></span>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="list componente-list"></div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.modalidadeEmprestimoAdd({
            grupoBibliografico:<?php echo $this->jsonGrupoBibliografico;?>
            <?php
            if($this->dadosModalidadeEmprestimo['modalidadeEmprestimoGrupo']){
                echo "\n,modalidadeEmprestimoGrupos:" . $this->dadosModalidadeEmprestimo['modalidadeEmprestimoGrupo'];
            }
            ?>
        });
    });
</script>
