<?php
$paramUrl = array("controller" => "modalidade-emprestimo", "action" => "add");

$urlAdd             = $this->url("biblioteca/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("biblioteca/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("biblioteca/default", $paramUrl);

$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('modalidade-emprestimo-index', false, 'App');
?>
<style>
    #dataTableModalidadeEmprestimo tbody td {
        cursor: pointer;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTableModalidadeEmprestimo" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th class="col-sm-8">Descrição</th>
                            <th class="col-sm-2">Grupo</th>
                            <th class="col-sm-2">Situação</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary">
                            Nova modalidade
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.modalidadeEmprestimoIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlEdit: '<?php echo $urlEdit;?>'
        });
    });
</script>
