<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-configuracoes-atividades'));
$paramUrl    = array('controller' => 'estagiogeral-configuracoes-atividades', 'action' => 'add');

if ($this->arrDados['estagioconfatividadeId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['estagioconfatividadeId'];
}

$urlPesquisaEstagiogeralConfiguracoes = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-configuracoes', 'action' => 'search-for-json'));

$urlPesquisaEstagiogeralAtividades = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-atividades', 'action' => 'search-for-json'));
$urlForm                           = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-configuracoes-atividades-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-configuracoes-atividades-form"
                          novalidate="novalidate" method="post">

                        <input type="hidden" name="estagioconfatividadeId" id="estagioconfatividadeId"
                               value="<?php echo $this->arrDados['estagioconfatividadeId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfPortaria">estagioconf_portaria:</label>
                                <input type="text" name="estagioconfPortaria" id="estagioconfPortaria"
                                       class="form-control"
                                       placeholder="estagioconf_portaria" maxlength="45"
                                       value="<?php echo $this->arrDados['estagioconfPortaria']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioatividadeId">Código:</label>
                                <input type="text" name="estagioatividadeId" id="estagioatividadeId"
                                       class="form-control"
                                       placeholder="Código" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioatividadeId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfMinimoDisciplina">estagioconf_minimo_disciplina:</label>
                                <input type="text" name="estagioconfMinimoDisciplina" id="estagioconfMinimoDisciplina"
                                       class="form-control"
                                       placeholder="estagioconf_minimo_disciplina" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfMinimoDisciplina']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagiogeralHorasPraticasMax">estagiogeral__horas_praticas_max:</label>
                                <input type="text" name="estagiogeralHorasPraticasMax" id="estagiogeralHorasPraticasMax"
                                       class="form-control"
                                       placeholder="estagiogeral__horas_praticas_max" maxlength="11"
                                       value="<?php echo $this->arrDados['estagiogeralHorasPraticasMax']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfHorasPraticasMin">estagioconf_horas_praticas_min:</label>
                                <input type="text" name="estagioconfHorasPraticasMin" id="estagioconfHorasPraticasMin"
                                       class="form-control"
                                       placeholder="estagioconf_horas_praticas_min" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfHorasPraticasMin']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfPontuacaoMax">estagioconf_pontuacao_max:</label>
                                <input type="text" name="estagioconfPontuacaoMax" id="estagioconfPontuacaoMax"
                                       class="form-control"
                                       placeholder="estagioconf_pontuacao_max" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfPontuacaoMax']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfPontuacaoMin">estagioconf_pontuacao_min:</label>
                                <input type="text" name="estagioconfPontuacaoMin" id="estagioconfPontuacaoMin"
                                       class="form-control"
                                       placeholder="estagioconf_pontuacao_min" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfPontuacaoMin']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralConfiguracoesAtividadesAdd({

                urlPesquisaEstagiogeralConfiguracoes: '<?=$urlPesquisaEstagiogeralConfiguracoes;?>',

                urlPesquisaEstagiogeralAtividades: '<?=$urlPesquisaEstagiogeralAtividades;?>',

            <?php echo $this->arrDados['estagioconfPortaria'] ? "\n,estagioconfPortaria:".json_encode($this->arrDados['estagioconfPortaria']) : ''; ?>,

        <?php echo $this->arrDados['estagioatividadeId'] ? "\n,estagioatividadeId:".json_encode($this->arrDados['estagioatividadeId']) : ''; ?>
    });
    })
    ;
</script>