<?php
$urlDataAtividadesEstagio = $this
    ->url('aluno/default', array('controller' => 'atividades', 'action' => 'searchEstagio'));

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('aluno-estagio', false, 'App');
$portfolioAtividade = $this->portfolioAtividade;
?>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i  style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    Atividades de Estágio
                </h1>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Aluno</span>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="page-section">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina - Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?= $this->disciplinas()->mountLiDisciplinas(); ?>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <a class="btn btn-primary" role="button" data-target="#collapseExample" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                    Portfólio
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="jumbotrom">
                        <?php
                        if($portfolioAtividade){?>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th width="10%">Data de Entrega</th>
                                        <th width="10%">Data da Avaliação</th>
                                        <th width="15%">Pontuação Alcançada</th>
                                        <th width="15%">Resultado da Avaliação</th>
                                        <th width="50%">Observações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><?= (new \DateTime($portfolioAtividade['portfolioaluno_data_entrega']))->format("d/m/Y") ?></th>
                                        <th><?= (new \DateTime($portfolioAtividade['portfolioaluno_data_avaliacao']))->format("d/m/Y") ?></th>
                                        <th><?= $portfolioAtividade['portfolioaluno_pontuacao'] ?></th>
                                        <th><?= $portfolioAtividade['portfolioaluno_situacao'] ?></th>
                                        <th><?= $portfolioAtividade['portfolio_aluno_retorno'] ?></th>
                                    </tr>
                                </tbody>
                            </table>
                        <?php
                        } else{ ?>
                            <span><h4>Não existem informações de portfólio para este aluno.</h4></span>
                        <?php } ?>
                    </div>
                </div>


                <table id="tableEstagio"
                       class="table table-condensed table-striped"
                       width="100%">
                    <thead>
                    <tr>
                        <th width="10%">Data da Atividade</th>
                        <th width="20%">Período Letivo</th>
                        <th width="60%">Núcleo de Atividade</th>
                        <th width="10%">Horas</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot><tr><td colspan="4" class="text-right" id="total_horas"></td></tr></tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

<!--devido a questão de incompatibilidade de interfaces, na interface aluno utiliza-se dessa maneira a chamada do-->
<!--datatable. -->
<script type="text/javascript">
    window.pesquisaAtividadesEstagio = '<?= $urlDataAtividadesEstagio ?>';
</script>
