<?php
$urlDataAtividades = $this
->url('aluno/default', array('controller' => 'atividades', 'action' => 'search'));

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('aluno-atividades', false, 'App');
?>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    Atividades Complementares
                </h1>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Aluno</span>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="page-section">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina - Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?= $this->disciplinas()->mountLiDisciplinas(); ?>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <table id="tableAtividades"
                       class="table table-condensed table-striped"
                       width="100%">
                    <thead>
                    <tr>
                        <th width="10%">Data de Lançamento</th>
                        <th width="50%">Descrição</th>
                        <th width="30%">Categoria</th>
                        <th width="10%">Horas</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot><tr><td colspan="4" class="text-right" id="total_horas"></td></tr></tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

<!--devido a questão de incompatibilidade de interfaces, na interface aluno utiliza-se dessa maneira a chamada do-->
<!--datatable. -->
<script type="text/javascript">
    window.pesquisaAtividades = '<?= $urlDataAtividades ?>';
</script>
