<?php
$urlListagem = $this->url('organizacao/default', array('controller' => 'org-ies'));
$paramUrl    = array('controller' => 'org-ies', 'action' => 'add');

if ($this->arrDados['iesId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['iesId'];
}

$urlForm = $this->url('organizacao/default', $paramUrl);

$urlPesquisaPessoaJuridica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-juridica', 'action' => 'search-for-json'));

$urlPesquisaPessoa = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$urlPesquisaOrgIes = $this
    ->url('organizacao/default', array('controller' => 'org-ies', 'action' => 'search-for-json'));

$urlPesquisaPessoaFisica = $this
    ->url('pessoa/default', array('controller' => 'pessoa-fisica', 'action' => 'search-for-json'));

$urlGerenciadorDeArquivosThumb    = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download'));
$urlBuscaCEP                      = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('org-ies-add', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();

$variaveis['partial']                    = true;
$variaveis['arrEstados']                 = $this->arrEstados;
$variaveis['desativaAutocompletePessoa'] = true;
$variaveis['ajaxSubmit']                 = true;
?>
<style>
    .progress {
        width: 78.5em;
        margin: 0 11em;
        position: absolute;
        top: 20px;
        z-index: 1;
    }

    .list.componente-list {
        /*height: 350px;*/
        height: auto;
    }

    .list.componente-list .componente-content {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .list.componente-list .componente-item {
        margin: 1%;
        width: 48%;
        position: relative;
        border: 1px solid #BBB;
        border-radius: 5px;
        display: inline-block;
    }

    .list.componente-list .componente-item .form-group {
        margin: 0px;
    }

    .remover-curso {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    .ui-datepicker {
        z-index: 5 !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow: auto;
        z-index: 9999 !important;
    }

    #ui-datepicker-div,
    .ui-datepicker {
        z-index: 9999 !important;
    }

    .tab-content {
        padding-top: 10px;
    }

    .file-upload .message {
        display: none;
    }

    .file-upload .preview {
        width: 100%;
        height: 8em;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="<?php echo $urlForm; ?>" id="org-ies-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="iesId" id="iesId" value="<?php echo $this->arrDados['iesId']; ?>">

                        <div class="col-sm-6 text-center">
                            <div class="form-group arq">
                                <label for="arq">Logo da Instituição</label>
                                <input name="arq" class="form-control" id="arq" type="file"/>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="form-group arq">
                                <label for="arqCarteirinha">Layout Carteirinha</label>
                                <input name="arqCarteirinha" class="form-control" id="arqCarteirinha" type="file"/>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="iesNome">Nome:</label>
                                <input type="text" name="iesNome" id="iesNome" class="form-control"
                                       placeholder="Nome" maxlength="255"
                                       value="<?php echo $this->arrDados['iesNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="iesSigla">Sigla:</label>
                                <input type="text" name="iesSigla" id="iesSigla" class="form-control"
                                       placeholder="Sigla" maxlength="50"
                                       value="<?php echo $this->arrDados['iesSigla']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pesMantenedora">Mantenedora:</label>
                                <input type="text" name="pesMantenedora" id="pesMantenedora"
                                       class="form-control"
                                       placeholder="selecione a instituição jurídica">
                                <a href="#" class="hidden editarPessoa editarPJ">
                                    <i class="fa fa-edit"></i> Editar dados da mantenedora
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="diretoriaPes">Diretoria:</label>
                                <input type="text" name="diretoriaPes" id="diretoriaPes"
                                       class="form-control"
                                       placeholder="selecione a pessoa responsável pela secretaria">
                                <a href="#" class="hidden editarPessoa editarPJ">
                                    <i class="fa fa-edit"></i> Editar dados da pessoa responsável pela diretoria
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="secretariaPes">Secretaria:</label>
                                <input type="text" name="secretariaPes" id="secretariaPes"
                                       class="form-control"
                                       placeholder="selecione a pessoa responsável pela secretaria">
                                <a href="#" class="hidden editarPessoa editarPJ">
                                    <i class="fa fa-edit"></i> Editar dados da pessoa responsável pela secretaria
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="iesCredenciamento">Credenciamento:</label>
                                <input type="text" name="iesCredenciamento" id="iesCredenciamento"
                                       class="form-control" value="<?php echo $this->arrDados['iesCredenciamento']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="iesNumeroMec">Número MEC:</label>
                                <input type="text" name="iesNumeroMec" id="iesNumeroMec"
                                       class="form-control"
                                       placeholder="Número de credenciamento junto ao MEC" maxlength="45"
                                       value="<?php echo $this->arrDados['iesNumeroMec']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="iesOrganizacaoAcademica">Organização Acadêmica:</label>
                                <input type="text" name="iesOrganizacaoAcademica"
                                       id="iesOrganizacaoAcademica"
                                       class="form-control" maxlength="45"
                                       value="<?php echo $this->arrDados['iesOrganizacaoAcademica']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="iesEndCep">CEP:</label>

                                <div class="input-group">
                                    <input type="text" name="iesEndCep" id="iesEndCep" class="form-control"
                                           placeholder="00000-000"
                                           value="<?php echo $this->arrDados['iesEndCep']; ?>">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default buscarCep" type="button"
                                                title="Buscar endereço pelo CEP">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="iesEndLogradouro">Logradouro:</label>
                                <input type="text" name="iesEndLogradouro" id="iesEndLogradouro"
                                       class="form-control"
                                       placeholder="Logradouro" maxlength="45"
                                       value="<?php echo $this->arrDados['iesEndLogradouro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="iesEndNumero">Número:</label>
                                <input type="text" name="iesEndNumero" id="iesEndNumero" class="form-control"
                                       placeholder="Número Endereço" maxlength="11"
                                       value="<?php echo $this->arrDados['iesEndNumero']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="iesEndBairro">Bairro:</label>
                                <input type="text" name="iesEndBairro" id="iesEndBairro" class="form-control"
                                       placeholder="Bairro Endereço" maxlength="45"
                                       value="<?php echo $this->arrDados['iesEndBairro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="iesEndCidade">Cidade:</label>
                                <input type="text" name="iesEndCidade" id="iesEndCidade" class="form-control"
                                       placeholder="Cidade" maxlength="45"
                                       value="<?php echo $this->arrDados['iesEndCidade']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="iesEndEstado">Estado:</label>
                                <input type="text" name="iesEndEstado" id="iesEndEstado" class="form-control"
                                       placeholder="Estado" maxlength="45"
                                       value="<?php echo $this->arrDados['iesEndEstado']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="iesTelefone">Telefone:</label>
                                <input type="text" name="iesTelefone" id="iesTelefone" class="form-control"
                                       placeholder="Telefone" maxlength="15"
                                       value="<?php echo $this->arrDados['iesTelefone']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="iesEmail">E-mail:</label>
                                <input type="text" name="iesEmail" id="iesEmail" class="form-control"
                                       placeholder="E-mail" maxlength="100"
                                       value="<?php echo $this->arrDados['iesEmail']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-fisica-editar" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar pessoa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa-fisica/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="pessoa-juridica-editar" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Editar Empresa</h4>
            </div>
            <div class="modal-body" style="display: inline-block;">
                <?php echo $this->partial('pessoa/pessoa-juridica/add.phtml', $variaveis); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgIesAdd({
            url: {
                gerenciadorDeArquivosThumb: '<?=$urlGerenciadorDeArquivosThumb;?>',
                gerenciadorDeArquivosDownload: '<?=$urlGerenciadorDeArquivosDownload;?>',
                pessoaJuridica: '<?=$urlPesquisaPessoaJuridica;?>',
                pessoaFisica: '<?=$urlPesquisaPessoaFisica;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>'
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>
            },
            value: {
                arq: <?=json_encode($this->arrDados['arq']);?>,
                arqCarteirinha: <?=json_encode($this->arrDados['arqCarteirinha']);?>,
                pesMantenedora: <?=json_encode($this->arrDados['pesMantenedora']);?>,
                diretoriaPes: <?=json_encode($this->arrDados['diretoriaPes']);?>,
                secretariaPes: <?=json_encode($this->arrDados['secretariaPes']);?>
            }
        });
    })
    ;
</script>