<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-fila-sms'));
$paramUrl    = array('controller' => 'sis-fila-sms', 'action' => 'add');

if ($this->arrDados['filaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['filaId'];
}

$urlForm = $this->url('sistema/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-fila-sms-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="sis-fila-sms-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="filaId" id="filaId" value="<?php echo $this->arrDados['filaId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="filaDestinatario">Destinatário:</label>
                                <input type="text" name="filaDestinatario" id="filaDestinatario" class="form-control"
                                       placeholder="Destinatário" maxlength="45"
                                       value="<?php echo $this->arrDados['filaDestinatario']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="filaProvedor">Provedor:</label>
                                <select name="filaProvedor" id="filaProvedor" class="form-control">
                                    <?php
                                    foreach ($this->arrFilaProvedor as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['filaProvedor']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="filaConteudo">Conteúdo:</label>
                                <textarea name="filaConteudo" id="filaConteudo" class="form-control"
                                          placeholder="Conteúdo"
                                          rows="5"><?php echo $this->arrDados['filaConteudo']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="filaRetorno">Retorno:</label>
                                <textarea name="filaRetorno" id="filaRetorno" class="form-control"
                                          placeholder="Retorno" readonly
                                          rows="5"><?php echo $this->arrDados['filaRetorno']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="filaDataCadastro">Cadastro:</label>
                                <input type="text" name="filaDataCadastro" id="filaDataCadastro" class="form-control"
                                       placeholder="Cadastro" readonly
                                       value="<?php echo $this->arrDados['filaDataCadastro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="filaDataProcessamento">Processamento:</label>
                                <input type="text" name="filaDataProcessamento" id="filaDataProcessamento"
                                       class="form-control" readonly placeholder="Processamento"
                                       value="<?php echo $this->arrDados['filaDataProcessamento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="filaDataFinalizacao">Finalização:</label>
                                <input type="text" name="filaDataFinalizacao" id="filaDataFinalizacao"
                                       class="form-control" readonly placeholder="Finalização"
                                       value="<?php echo $this->arrDados['filaDataFinalizacao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="filaSituacao">Situação:</label>
                                <select name="filaSituacao" id="filaSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrFilaSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['filaSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisFilaSmsAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {},
            data: {},
            value: {},
        });
    });
</script>