<script language="JavaScript" src="<?=$this->basePath()?>/js/universa/boleto/financeiro-titulo/add.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<?php

$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Titulos Financeiros', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag( $this->form );
?>

<fieldset>
    <div id="dadosAluno"></div>
    <div class="row">
        <?=$this->spineForm()->formInput($this->form->get("matricula")->setAttributes(['readonly' => false, 'onchange' => 'buscaAluno(this)']));?>
        <?=$this->spineForm()->formInput($this->form->get("pessoaNome")->setAttribute('col',3));?>
    </div>
    <div class="row">
        <?=$this->spineForm()->formInput($this->form->get("tipotitulo")->setAttributes(['disabled' => false, 'label' => 'Taxa:']));?>
        <?=$this->spineForm()->formInput($this->form->get("tituloDataVencimento"));?>
    </div>
    <div class="row">
        <section class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:30px;">
            <label class="label">Valor: </label>
            <label class="input">
                <input type="text" name="titulo_valor" data-prefix="R$ " data-thousands="." data-decimal=","  onkeyup="alteraFormaPagamento(this)" required="required" id="valor"  value="">
            </label>
            <div class="note">

            </div>
        </section>
    </div>


    <div class="row"  style="margin: 10px;width: 43%">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Ação</th>
                <th>Tipo Pagamento</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody id="tableFormaPagamento">
            <?php if( ! empty($this->formasPagamento) ):?>
                <?php $i=0; ?>
                <?php foreach( $this->formasPagamento as $formaPagamento): ?>
                    <tr data-edit="false">
                        <td>
                            <a class='fa fa-edit' onclick='editaFormaPagameto(this)' > Editar</a> |
                            <a class='fa fa-trash-o' onclick='removeFormaPagameto(this)' > Remover</a>
                        </td>
                        <td>
                            <?=$formaPagamento['titulo_tipo_pagamento']?>
                        </td>
                        <td>
                            <?=$this->dados['tituloDescontoCalculado']?>
                        </td>
                        <input type='hidden' name='tituloTipoPagamento[<?=$i?>]' value="<?=$formaPagamento['titulo_tipo_pagamento']?>">
                        <input type='hidden' name='valorFormaPagamento[<?=$i?>]' value="<?=$this->dados['tituloDescontoCalculado']?>">
                    </tr>
                    <?php $i++; ?>
                <?php endforeach?>
            <?php endif?>
            <tr>
                <td></td>
                <td align="right"><strong>Total:</strong></td>
                <td><span id="totalParcial"><?=$this->dados['tituloDescontoCalculado']?></span></td>
            </tr>
            </tbody>
        </table>
        <div class="row " style="margin: 0;margin-top: 10px;" id="btAdicionarFormaPagamento">
            <div class="col-lg-6">
                <div >
                    <a class="btn btn-primary" onclick="exibeFormaPagamento()" style="padding:7px;">
                        <i class="fa fa-plus"></i> Forma de Pagamento
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="formaPagamento" style="display: none">
        <div class="row">
            <?=$this->spineForm()->formInput($this->form->get("tituloTipoPagamento")->setAttribute("onchange","exibeFormTipo(this)"));?>
            <?=$this->spineForm()->formInput($this->form->get("valorFormaPagamento"));?>
        </div>
        <div id="tipoCheque" style="display: none" >
            <div class="row">

                <?=$this->spineForm()->formInput($this->formCheque->get("chequeEmitente"));?>
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeNum"));?>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeBanco"));?>
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeAgencia"));?>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formCheque->get("chequePraca"));?>
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeEmissao"));?>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeVencimento"));?>
            </div>
        </div>

        <div class="row" style="padding-left:30px;padding-bottom:15px;" >
            <a class="btn btn-danger" style="padding:7px;" onclick="limpaFormResponsavel()" id="cancelaFormaPagamento">
                <i class="fa fa-remove"></i> Cancelar
            </a>
            <a class="btn btn-primary" style="padding:7px;" onclick="salvarFormaPagamento()" id="adicionarFormaPagamento">
                <i class="fa fa-plus"></i> Salvar
            </a>
        </div>
    </div>

    <div class="row">
        <?=$this->spineForm()->formInput($this->form->get("tituloObservacoes"));?>
    </div>

    <div>
        <?=$this->spineForm()->formInput($this->form->get("pes"));?>
    </div>

</fieldset>

<footer>
    <a href="<?=$this->basePath()?>/boleto-bancario/financeiro-titulo" class="btn btn-primary pull-left" >Voltar</a>
    <?=$this->formSubmit($this->form->get("salvar"));?>
</footer>

<?php
echo $this->spineJarvis()->closeWidget();
echo $this->form()->closeTag();
$this->spineJarvis()->closeJarvis();
?>
