<style>
    h4 {
        text-align: center;
        margin: 0px;
    }
</style>

<h4><?= ($this->mantenedora) ?></h4>
<h4><?= ($this->ies) ?></h4>
<h4><?= ($this->cnpj) ?></h4>
<h4><?= ($this->telefone) ?></h4>
<p>Data do pagamento: <?php echo $this->tituloReference->getTituloDataPagamento(); ?> Hora: <?php echo $this->tituloReference->getTituloDataHoraPagamento()->format("H:m:s"); ?></p>
<hr>
<h4>COMPROVANTE DE PAGAMENTO</h4>
<p style="text-align: center; "><?php echo $this->edicaoReference->getEdicaoDescricao(); ?> ------ Via instituição</p>
<p>
    Inscrição: <?php echo $this->inscricaoReference->getInscricaoId() ?><br>
    Nome: <?php echo $this->tituloReference->getPes()->getPesNome() ?><br>
    Valor Pago: R$ <?php echo \Boleto\Service\Moeda::decToMoeda($this->tituloReference->getTituloValorPago()) ?><br>
</p>
<hr size="1" style="border:0.5px dashed #000000;">

<h4><?= ($this->mantenedora) ?></h4>
<h4><?= ($this->ies) ?></h4>
<h4><?= ($this->cnpj) ?></h4>
<h4><?= ($this->telefone) ?></h4>
<p>Data do pagamento: <?php echo $this->tituloReference->getTituloDataPagamento(); ?> Hora: <?php echo $this->tituloReference->getTituloDataHoraPagamento()->format("H:m:s"); ?></p>
<hr>
<h4>COMPROVANTE DE PAGAMENTO</h4>
<p style="text-align: center; "><?php echo $this->edicaoReference->getEdicaoDescricao(); ?> ------ Via candidato</p>
<p>
    Inscrição: <?php echo $this->inscricaoReference->getInscricaoId() ?><br>
    Nome: <?php echo $this->tituloReference->getPes()->getPesNome() ?><br>
    Valor Pago: R$ <?php echo \Boleto\Service\Moeda::decToMoeda($this->tituloReference->getTituloValorPago()) ?><br>
</p>