<head>
    <meta charset="utf-8">
    <style>
        p{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }
        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        body {
            font-weight: bold;
        }
    </style>
</head>
<body >
<div>
    -------------------------------------------------
</div>
<p style="text-align: center">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>
<p style="text-align: center">
    &nbsp;COMPROVANTE DE PAGAMENTO
</p>
<p>
    &nbsp;&nbsp;Data do Pagamento: <?=$this->tituloReference->getTituloDataPagamento(); ?><br>
    &nbsp;&nbsp;Hora:<?=$this->tituloReference->getTituloDataHoraPagamento()->format("H:i:s"); ?>
</p>
<div>
    -------------------------------------------------
</div>
<p style="text-align: center">
    &nbsp;&nbsp;Serviço: <?= $this->titulo;?><br>
    &nbsp;&nbsp;Turma: <?= $this->info['turma'];?> - <?= $this->info['serie']; ?>º Periodo<br>

    <?php if(!is_null($this->parcela)){?>
        &nbsp;&nbsp;Parcela: <?= $this->parcela .' Mês: '.$this->mes .' Exercício: '.$this->ano;
    }?>
</p>
<p>
    &nbsp;&nbsp;Matricula: <?=$this->matricula ?><br>
    &nbsp;&nbsp;Nome.....: <?=$this->nome ?> <br>

    <br><br><br><br>
</p>
<div>
    -------------------------------------------------
</div>
<?php
    $totalMultaJuros = round($this->tituloReference->getTituloJuros() + $this->tituloReference->getTituloMulta(),0);
?>
<p style="text-align: center">    <?php if(!is_null($this->parcela)){?><br>
        &nbsp;&nbsp;Valor: <?=\Boleto\Service\Moeda::decToMoeda($this->info['valor']) ?><br>
        &nbsp;&nbsp;Data Vencimento: <?= $this->tituloReference->getTituloDataVencimento();?><br>
        &nbsp;&nbsp;Juros/Multa: <?= \Boleto\Service\Moeda::decToMoeda($totalMultaJuros);?><br>
        &nbsp;&nbsp;Desconto/Fies/Creditos:<?=\Boleto\Service\Moeda::decToMoeda( ($this->tituloReference->getTituloValor() + $totalMultaJuros) - ($this->info['descontoCalculado'] + $this->tituloReference->getTituloDescontoManual()) )?><br>
        &nbsp;&nbsp;Desconto Manual:<?=\Boleto\Service\Moeda::decToMoeda($this->info['DescontoManual']); ?><br>

    <?php } ?>
    &nbsp;&nbsp;Valor Pago: <?=\Boleto\Service\Moeda::decToMoeda($this->tituloReference->getTituloValorPago()) ?><br>

</p>
<div>
    ------------------------------------------------- <br>
    &nbsp;&nbsp;Atendende: <?=$this->usuario; ?><br>
</div>
</body>
<script>
    window.print();
    window.print();
</script>