<head>
    <meta charset="utf-8">
    <style>
        p{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }
        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        body {
            font-weight: bold;
        }
    </style>
</head>
<body >
<div>
    -------------------------------------------------
</div>
<p style="text-align: center">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>
<p style="text-align: center">
    &nbsp;COMPROVANTE DE PAGAMENTO
</p>
<p>
    &nbsp;&nbsp;Data do Pagamento: <?php echo $this->tituloReference->getTituloDataPagamento(); ?><br>
    &nbsp;&nbsp;Hora:<?php echo $this->tituloReference->getTituloDataHoraPagamento()->format("h:i:s"); ?>
</p>
<div>
    -------------------------------------------------
</div>
<p style="text-align: center">
    <?php echo $this->edicaoReference->getEdicaoDescricao(); ?>
</p>
<p>
    &nbsp;&nbsp;Inscrição: <?php echo $this->inscricaoReference->getInscricaoId() ?><br>
    &nbsp;&nbsp;Nome.....: <?php echo $this->tituloReference->getPes()->getPesNome() ?> <br>
    &nbsp;&nbsp;Valor Pago: <?php echo \Boleto\Service\Moeda::decToMoeda($this->tituloReference->getTituloValorPago()) ?>
    <br><br><br><br>
</p>
<div>
    -------------------------------------------------
</div>
</body>
<script>
    window.print();
    window.print();
</script>