<script language="JavaScript" src="<?php echo $this->basePath();?>/js/universa/boleto/financeiro-titulo/edit.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<?php

$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Titulos Financeiros', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag( $this->form );
$tituloDataVencimento = $this->form->get("tituloDataVencimento")->getValue();
$tituloDataProcessamento = $this->form->get("tituloDataProcessamento")->getValue();
?>
<fieldset>
    <div id="dadosAluno"></div>
    <?php $totalDescontos = 0;
    $inadinplenciaValor = round($this->confTituloInadinplencia['valor'],0);
    ?>
    <?php $totalDescontos += $this->form->get("tituloDescontoManual")->getValue() == "" ? 0 : $this->form->get("tituloDescontoManual")->getValue(); ?>

    <div class="row">
        <?=$this->spineForm()->formInput($this->form->get("tituloDescontoManual"));?>
    </div>

    <div class="row"  style="margin: 10px;width: 58%">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>N° parcela:</th>
                <th>Tipo:</th>
                <th>Data de Vencimento</th>
            </tr>
            </thead>
            <tbody id="dadosTitulo">
            <tr>
                <td>
                    <?=$this->form->get("parcela")->getValue();?>
                </td>
                <td>
                    <?=$this->form->get("tipotitulo")->getValue();?>
                </td>
                <td>
                    <?=$tituloDataVencimento?>
                    <input type="hidden" name="tituloDataVencimento" value="<?=$tituloDataVencimento?>" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <?php if( ! empty($this->confTituloInadinplencia) ):?>
        <div class="row"  style="margin: 10px;width: 58%">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Dias em atraso</th>
                    <th>Multa / Juros</th>
                    <th>valor de acréscimo</th>
                </tr>
                </thead>
                <tbody id="Juros">
                <tr>
                    <td>
                        <?=$this->confTituloInadinplencia['dias']?>
                    </td>
                    <td>
                        <?=$this->confTituloInadinplencia['multa']."% / ".$this->confTituloInadinplencia['jurus']."%"?>
                    </td>

                    <td>
                        <?=\Boleto\Service\Moeda::decToMoeda($inadinplenciaValor)?>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <?php endif?>

    <?php if( ! empty($this->desconto) ):?>
        <div class="row"  style="margin: 10px;width: 58%">
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>Desconto</th>
                        <th>Valor</th>
                        <th>Dia vencimento</th>
                    </tr>
                </thead>
                <tbody id="tableDescontos">
                <?php foreach( $this->desconto as $desconto): ?>
                    <tr>
                        <td>
                            <?=$desconto['descricao'] == "" || $desconto['descricao'] == null ? "Desconto Padrão" : $desconto['descricao']?>
                        </td>
                        <td>
                            <?=\Boleto\Service\Moeda::decToMoeda($desconto['valor'])?>
                            <?php $totalDescontos += $desconto['valor']; ?>
                        </td>
                        <td>
                            <?=$desconto['dia_vencimento_desconto']?>
                        </td>
                    </tr>
                <?php endforeach?>
                </tbody>
            </table>
        </div>
    <?php endif?>
    <div class="row"  style="margin: 10px;width: 58%">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Valor Mensalidade</th>
                <th>Total de desconto(s)</th>
                <th>Valor a pagar com desconto(s)</th>
            </tr>
            </thead>
            <tbody id="tableValoresTitulo">
            <tr>
                <td>
                    <strong><span id="tituloValorText"><?=\Boleto\Service\Moeda::decToMoeda($this->dados['tituloValor'])?></span></strong>
                </td>
                <td>
                    <strong><span ><?=\Boleto\Service\Moeda::decToMoeda($totalDescontos)?></span></strong>
                </td>
                <td>
                    <strong><span id="tituloValorAPagarText"><?=\Boleto\Service\Moeda::decToMoeda($this->dados['tituloDescontoCalculado'])?></span></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row"  style="margin: 10px;width: 58%">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Ação</th>
                <th>Tipo Pagamento</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody id="tableFormaPagamento">
            <?php if( ! empty($this->formasPagamento) ):?>
                <?php $i=0; ?>
                <?php foreach( $this->formasPagamento as $formaPagamento): ?>
                    <tr data-edit="false">
                        <td>
                            <a class='fa fa-edit' onclick='editaFormaPagameto(this)' > Editar</a> |
                            <a class='fa fa-trash-o' onclick='removeFormaPagameto(this)' > Remover</a>
                        </td>
                        <td>
                            <?=$formaPagamento['titulo_tipo_pagamento']?>
                        </td>
                        <td>
                            <?=\Boleto\Service\Moeda::decToMoeda($this->dados['tituloDescontoCalculado'])?>
                        </td>
                        <input type='hidden' name='tituloTipoPagamento[<?=$i?>]' value="<?=$formaPagamento['titulo_tipo_pagamento']?>">
                        <input type='hidden' name='valorFormaPagamento[<?=$i?>]' value="<?=$this->dados['tituloDescontoCalculado']?>">
                    </tr>
                    <tr>
                        <td></td>
                        <td><strong>Total:</strong></td>
                        <td><span id="totalParcial"><?=\Boleto\Service\Moeda::decToMoeda($this->dados['tituloDescontoCalculado'])?></span></td>
                    </tr>
                    <?php $i++; ?>
                <?php endforeach?>
            <?php endif?>
            </tbody>
        </table>
        <div class="row " style="margin: 0;margin-top: 10px;" id="btAdicionarFormaPagamento">
            <div class="col-lg-6">
                <div >
                    <a class="btn btn-primary" onclick="exibeFormaPagamento()" style="padding:7px;">
                        <i class="fa fa-plus"></i> Forma de Pagamento
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="formaPagamento" style="display: none">
        <div class="row">
            <?=$this->spineForm()->formInput($this->form->get("tituloTipoPagamento")->setAttribute("onchange","exibeFormTipo(this)"));?>
            <?=$this->spineForm()->formInput($this->form->get("valorFormaPagamento"));?>
        </div>
        <div id="tipoCheque" style="display: none" >
            <div class="row">

                <?=$this->spineForm()->formInput($this->formCheque->get("chequeEmitente"));?>
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeNum"));?>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeBanco"));?>
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeAgencia"));?>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formCheque->get("chequePraca"));?>
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeEmissao"));?>
            </div>
            <div class="row">
                <?=$this->spineForm()->formInput($this->formCheque->get("chequeVencimento"));?>
            </div>
        </div>

        <div class="row" style="padding-left:30px;padding-bottom:15px;" >
            <a class="btn btn-danger" style="padding:7px;" onclick="limpaFormResponsavel()" id="cancelaFormaPagamento">
                <i class="fa fa-remove"></i> Cancelar
            </a>
            <a class="btn btn-primary" style="padding:7px;" onclick="salvarFormaPagamento()" id="adicionarFormaPagamento">
                <i class="fa fa-plus"></i> Salvar
            </a>
        </div>
    </div>

    <div class="row">
        <?=$this->spineForm()->formInput($this->form->get("tituloObservacoes"));?>
    </div>
    <div class="row">
        <section class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:30px;">
            <label class="label">Valor Recebido:</label>
            <label class="input">
                <input type="text" data-prefix="R$ " data-thousands="." data-decimal="," id="valorPagoCaixa" onchange="calculaTroco(this)" value="">
            </label>
            <div class="note"></div>
        </section>
        <section class="col-lg-1 col-sm-1 col-xs-1" style="padding-left:30px;">
            <label class="label">Troco:</label>
            <label class="input">
                <input type="text" data-prefix="R$ " data-thousands="." data-decimal="," id="valorTroco" value="" readonly="readonly">
            </label>
            <div class="note"></div>
        </section>
    </div>
    <div>
        <input type="hidden" name="tituloDataProcessamento" value="<?=$tituloDataProcessamento?>" />
        <input type="hidden" name="tituloDescontoCalculado" value="<?=$this->dados['tituloDescontoCalculado']?>">
        <input type="hidden" name="inadinplenciaValor" value="<?= !empty($this->confTituloInadinplencia) ? $inadinplenciaValor : 0 ?>">
        <input type="hidden" name="tituloJuros" value="<?= !empty($this->confTituloInadinplencia) ? $this->confTituloInadinplencia['jurusCalculado'] : 0 ?>">
        <input type="hidden" name="tituloMulta" value="<?= !empty($this->confTituloInadinplencia) ? $this->confTituloInadinplencia['multaCalculado'] : 0 ?>">
        <?=$this->spineForm()->formInput($this->form->get("matricula")->setAttribute('type','hidden'));?>
        <?=$this->spineForm()->formInput($this->form->get("pessoaNome")->setAttribute('type','hidden'));?>
        <?=$this->spineForm()->formInput($this->form->get("tituloId"));?>
        <?=$this->spineForm()->formInput($this->form->get("pes"));?>
        <?=$this->spineForm()->formInput($this->form->get("usuarioBaixa"));?>
        <?=$this->spineForm()->formInput($this->form->get("tituloEstado"));?>
        <?=$this->spineForm()->formInput($this->form->get("cursocampus"));?>
        <?=$this->spineForm()->formInput($this->form->get("per"));?>
        <?=$this->spineForm()->formInput($this->form->get("tipotitulo")->setAttribute('type','hidden'));?>
        <?=$this->spineForm()->formInput($this->form->get("tituloValor")->setAttribute('type','hidden'));?>
    </div>

</fieldset>

<footer>
    <a href="/boleto-bancario/financeiro-titulo" class="btn btn-primary pull-left" >Voltar</a>
    <?=$this->formSubmit($this->form->get("salvar"));?>
</footer>

<?php
echo $this->spineJarvis()->closeWidget();
echo $this->form()->closeTag();
$this->spineJarvis()->closeJarvis();
?>

<style type="text/css">
    th {
        width: 33%;
    }
    td {
        width: 33%;
    }
</style>
