<style type="text/css">
    #financeiro-vestibuar a{
        color:black
    }
</style>

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    <div role="content ">
        <div id="selecao-inscricao" class="widget-body fuelux" >
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" width="100%" id="financeiro-vestibuar">
                            <thead>
                                <tr>
                                    <th>Título Financeiro</th>
                                    <th>Nome</th>
                                    <th>Tipo Pagamento</th>
                                    <th>Valor</th>
                                    <th>Estado</th>
                                    <th>Tipo</th>
                                    <th>Dt. Processamento</th>
                                    <th>Dt. Vencimento</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<script>

    jQuery(function(){
        jQuery("#financeiro-vestibuar").dataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "<?=$this->basePath()?>/boleto-bancario/financeiro-titulo/pagination",
                type: "POST",
                dataSrc: function (json) {
                    var data   = json.data;
                    var action = json.action;

                    for (var row in data) {
                        var titulo = data[row]['titulo'];
                        for (var j in data[row]) {
                            if(j=="titulo"){
                                data[row][j] = "<a href='/boleto-bancario/financeiro-titulo/edit/" + titulo + "'> "+
                                "<b><i class='fa fa-arrow-circle-down'></i> Baixar Título</b></a>";
                            }
                        }
                    }
                    return data;
                }
            },
            columnDefs: [
                {name: "titulo", targets: 0, data: "titulo"},
                {name: "pes_nome", targets: 1, data: "pes_nome"},
                {name: "tipo_pagamento", targets: 2, data: "tipo_pagamento"},
                {name: "titulo_valor", targets: 3, data: "titulo_valor"},
                {name: "titulo_estado", targets: 4, data: "titulo_estado"},
                {name: "tipo", targets: 5, data: "tipo"},
                {name: "data_processamento", targets: 6, data: "data_processamento"},
                {name: "data_vencimento", targets: 7, data: "data_vencimento"},
                {name: "titulo_id",data: "titulo_id"}
            ],
            "sDom": "<'dt-toolbar'<'col-xs-6'f><'col-xs-6'T>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>",
            "oTableTools": {
                "aButtons": []
            },
            oLanguage: {
                sProcessing: "<i class='fa fa-lg fa-spinner fa-spin'></i>",
                sLengthMenu: "Mostrar _MENU_ registros por página",
                sZeroRecords: "Nenhum registro encontrado",
                sInfo: "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                sInfoEmpty: "Mostrando 0 / 0 de 0 registros",
                sInfoFiltered: "(filtrado de _MAX_ registros)",
                oPaginate: {
                    sFirst: "Início",
                    sPrevious: "Anterior",
                    sNext: "Próximo",
                    sLast: "Último"
                }
            }
        });

        jQuery(".DTTT ").append(
            "<button data-parent-id='bolId' id='baixa' class='btn btn-default'>\
                <i class='fa fa-money' ata-toggle='modal' data-target='baixaModal'></i> Baixa\
            </button>"
        );

        jQuery("#baixa").click(function(){
            jQuery("#baixaModal").modal();
        });
    });

    jQuery("button[name='baixaTitulo']:button").on('click', function(){
        var button = $(this);
        jQuery(button).parent().parent().find("td[data-td-name='titulo_estado']").text("Pago");
        jQuery.ajax({
            async: true,
            type: "POST",
            url: "<?=$this->basePath()?>/boleto-bancario/financeiro-titulo/baixa",
            data: {
                id: $(this).val()
            },
            success: function( data ){
                if( data.result == true){
                    alert("Baixa efetuada com sucesso!");
                    jQuery(button).parent().parent().find("td[data-td-name='titulo_estado']").text("Pago");
                    jQuery(button).parent().html("").text("");
                    window.open(data.link, '_blank');
                }
            },
            error: function( a ){
                alert("Não foi possível efetuar a baixa favor entrar em contato com suporte!");
            }
        })
    });

</script>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="baixaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Baixa Bancaria</h4>
            </div>
            <div class="modal-body">

                <form action="<?=$this->basePath()?>/boleto-bancario/boleto/baixa" method="POST" enctype="multipart/form-data" id="formBaixa" >
                    <div class="row">
                        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                            <div class="input input-file">
                                <span class="button">
                                    <input id="" type="file"  name="file" onchange="this.parentNode.nextSibling.value = this.value"/>
                                </span>

                            </div>
                            <div class="note">

                            </div>
                        </section>
                        <input type="hidden" name="controller" value="financeiro-titulo" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Baixar aquivo
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

