<?php

?>
<head>
    <meta charset="utf-8">
    <style>
        p{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }
        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body >
<?php $dataAtual =  new \DateTime('now', new \DateTimeZone('America/Sao_Paulo')); ?>
<div>
    ---------------------------------------------
</div>
<p style="text-align: center">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>
<p style="text-align: center">
    &nbsp;ESPELHO DO MOVIMENTO DE CAIXA
</p>
<p>
    &nbsp;&nbsp;Data Atual: <?= $dataAtual->format("d/m/Y"); ?>
    &nbsp;&nbsp;Hora: <?= $dataAtual->format("h:i:s"); ?>
</p>
<div>
    ---------------------------------------------
</div>
<p>
    &nbsp;&nbsp;Atendente: <?= ($this->usuario)? $this->usuario->getLogin(): 'Todos'; ?> <br>
    &nbsp;&nbsp;Curso....: Direito <br>
    &nbsp;&nbsp;Histórico: <?= $this->tipoPag; ?> <br>
    &nbsp;&nbsp;Inicio.: <?= $this->dataIni; ?> Final.: <?= $this->dataFim; ?>
</p>
<div>
    ---------------------------------------------
</div>
    <?php if(!empty($this->res['mensalidade'])){?>

<p>
            &nbsp;&nbsp;<b>Mensalidades:</b></br>
        <?php if(!empty($this->res['mensalidade']['dinheiro'])){?>
            &nbsp;&nbsp;Dinheiro: <?php echo number_format($this->res['mensalidade']['dinheiro']['total'],2, ',', '.')?></br>
        <?php }else{?>
                &nbsp;&nbsp;Dinheiro: 0,00 </br>

<?php };?>
    <?php if(!empty($this->res['mensalidade']['cheque-avista'])){?>
            &nbsp;&nbsp;Cheque a vista: <?php echo number_format($this->res['mensalidade']['cheque-avista']['total'],2, ',', '.')?></br>
<?php }else{?>
                &nbsp;&nbsp;Cheque a vista: 0,00 </br>

<?php };?>
    <?php if(!empty($this->res['mensalidade']['cheque-pre'])){?>
            &nbsp;&nbsp;Cheque Pre-datado: <?php echo number_format($this->res['mensalidade']['cheque-pre']['total'],2, ',', '.')?></br>
<?php }else{?>
                &nbsp;&nbsp;Cheque Pre-datado: 0,00 </br>

<?php };?>
    <?php if(!empty($this->res['mensalidade']['cheque-pre']) OR !empty($this->res['mensalidade']['dinheiro']) OR !empty($this->res['mensalidade']['cheque-avista']) ){?>
            &nbsp;&nbsp;Total Dinheiro/Cheques: <?php echo number_format( $this->res['mensalidade']['cheque-avista']['total'] +$this->res['mensalidade']['cheque-pre']['total'] + $this->res['mensalidade']['dinheiro']['total'],2, ',', '.')?></br>
        <?php }else{?>
            &nbsp;&nbsp;Total Dinheiro/Cheques: 0,00
    <?php };?>
</p>
    <?php }else{?>
 &nbsp;&nbsp;<p><b>Total Mensalidades: 0,00</b></p> </br>
 <div>
    ---------------------------------------------
</div>

    <?php } ?>
<?php if(!empty($this->res['taxas'])){?>
<div>
    ---------------------------------------------
</div>
<p>

    <?php if(!empty($this->res['taxas']['deposito']) OR !empty($this->res['taxas']['dinheiro']) OR !empty($this->res['taxas']['cheque']) ){?>
            &nbsp;&nbsp;<b>Taxas:</b> <?php echo number_format($this->res['taxas']['deposito']['total'] +$this->res['taxas']['cheque-pre']['total']+ $this->res['taxas']['cheque-avista']['total'] + $this->res['taxas']['dinheiro']['total'],2, ',', '.')?></br>
<?php }?>
</p>
    <?php }else{?>
    <div>
    ---------------------------------------------
</div>
         &nbsp;&nbsp;<p><b>Total Taxas: 0,00</b></p> </br>

    <?php } ?>
<div>
    ---------------------------------------------
</div>
<p>
    <?php if(!empty($this->res['taxas']['dinheiro']) OR !empty($this->res['taxas']['cheque-pre']) OR !empty($this->res['taxas']['cheque-avista'])
        OR !empty($this->res['mensalidade']['cheque-pre']) OR !empty($this->res['mensalidade']['dinheiro']) OR !empty($this->res['mensalidade']['cheque-avista'])){?>
           <?php $total += $this->res['taxas']['cheque-pre']['total'] +$this->res['taxas']['cheque-avista']['total']+ $this->res['mensalidade']['cheque-avista']['total'] + $this->res['mensalidade']['cheque-pre']['total'] + $this->res['taxas']['dinheiro']['total'] + $this->res['mensalidade']['dinheiro']['total']?>
            &nbsp;&nbsp;<b>Total Geral: <?php echo number_format($total,2, ',', '.') ?></b></br>
    <?php }else{?>
        &nbsp;&nbsp;<b>Total Geral:Total Dinheiro/Cheques: 0,00</b>
    <?php };?>
</p>
<div>
    ---------------------------------------------
</div>
</body>
<script>
    window.print();
</script>