<?php

?>
<head>
    <meta charset="utf-8">
    <style>
p{
    margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }
        div {
    margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body >
<?php $dataAtual =  new \DateTime('now', new \DateTimeZone('America/Sao_Paulo')); ?>
<div>
    -------------------------------------------------
</div>
<p style="text-align: center">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>
<p style="text-align: center">
    &nbsp;ESPELHO DO MOVIMENTO DE CAIXA
</p>
<p>
    &nbsp;&nbsp;Data Atual: <?= $dataAtual->format("d/m/Y"); ?>
    &nbsp;&nbsp;Hora: <?= $dataAtual->format("h:i:s"); ?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;Atendente: <?= ($this->usuario)? $this->usuario->getLogin(): 'Todos'; ?> <br>
    &nbsp;&nbsp;Curso....: Direito <br>
    &nbsp;&nbsp;Histórico: <?= $this->tipoPag; ?> <br>
    &nbsp;&nbsp;Inicio.: <?= $this->dataIni; ?> Final.: <?= $this->dataFim; ?>
</p>
<?php if(!empty($this->res['mensalidade'])){ ?>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;<b>Mensalidades:</b></br>
    <?php if (!empty($this->res['mensalidade']['dinheiro'])) { ?>
            &nbsp;&nbsp;<b><u>Dinheiro:</u></b></br>
            <?php for ($i = 0; $i < count($this->res['mensalidade']['dinheiro']) - 1; $i++) { ?>
            &nbsp;&nbsp;<?php echo  ( new \DateTime($this->res['mensalidade']['dinheiro'][$i+1]['data-pagamento']))->format("d/m/Y H:i").' ' . substr($this->res['mensalidade']['dinheiro'][$i+1]['matricula'], -5) . ' ' . number_format($this->res['mensalidade']['dinheiro'][$i+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    }; ?>
    <?php if (!empty($this->res['mensalidade']['cheque-avista'])) { ?>
            &nbsp;&nbsp;<b><u>Cheque a vista:</u></b></br>
            <?php for ($y = 0; $y < count($this->res['mensalidade']['cheque-avista']) - 1; $y++) { ?>
            &nbsp;&nbsp;<?php echo ( new \DateTime( $this->res['mensalidade']['cheque-avista'][$y+1]['data-pagamento']))->format("d/m/Y H:i"). ' ' . substr($this->res['mensalidade']['cheque-avista'][$y+1]['matricula'], -5) . ' ' . number_format($this->res['mensalidade']['cheque-avista'][$y+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    }; ?>
    <?php if (!empty($this->res['mensalidade']['cheque-pre'])) { ?>
 &nbsp;&nbsp;<b><u>Cheque pre:</u></b></br>
            <?php for ($y = 0; $y < count($this->res['mensalidade']['cheque-pre']) - 1; $y++) { ?>
            &nbsp;&nbsp;<?php echo ( new \DateTime($this->res['mensalidade']['cheque-pre'][$y+1]['data-pagamento']))->format("d/m/Y H:i") . ' ' . substr($this->res['mensalidade']['cheque-pre'][$y+1]['matricula'], -5) . ' ' . number_format($this->res['mensalidade']['cheque-pre'][$y+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    }; ?>
    <?php if (!empty($this->res['mensalidade']['deposito'])) {?>
 &nbsp;&nbsp;<b><u>Deposito:</u></b></br>
            <?php for ($z = 0; $z < count($this->res['mensalidade']['deposito']) - 1; $z++) {?>
            &nbsp;&nbsp;<?php echo (new \DateTime( $this->res['mensalidade']['deposito'][$z+1]['data-pagamento']))->format("d/m/Y H:i") . ' ' . substr($this->res['mensalidade']['deposito'][$z+1]['matricula'], -5) . ' ' . number_format($this->res['mensalidade']['deposito'][$z+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    };
    if (!empty($this->res['mensalidade']['Credito Fies'])) {?>
 &nbsp;&nbsp;<b><u>Credito Fies:</u></b></br>
            <?php for ($z = 0; $z < count($this->res['mensalidade']['Credito Fies']) - 1; $z++) {?>
            &nbsp;&nbsp;<?php echo (new \DateTime($this->res['mensalidade']['Credito Fies'][$z+1]['data-pagamento']))->format("d/m/Y H:i") . ' ' . substr($this->res['mensalidade']['Credito Fies'][$z+1]['matricula'], -5) . ' ' . number_format($this->res['mensalidade']['Credito Fies'][$z+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    };

  }?>

<?php if(!empty($this->res['taxas'])){?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;<b>Taxas:</b></br>
    <?php if (!empty($this->res['taxas']['dinheiro'])) { ?>
            &nbsp;&nbsp;<b><u>Dinheiro:</u></b></br>
            <?php for ($i = 0; $i < count($this->res['taxas']['dinheiro']) - 1; $i++) {
        ?>
            &nbsp;&nbsp;<?php echo (new \DateTime($this->res['taxas']['dinheiro'][$i+1]['data-pagamento']))->format("d/m/Y H:i").' '. substr($this->res['taxas']['dinheiro'][$i+1]['matricula'], -5) . ' ' . number_format($this->res['taxas']['dinheiro'][$i+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    }; ?>
    <?php if (!empty($this->res['taxas']['cheque-avista'])) { ?>
            &nbsp;&nbsp;<b><u>Cheque a vista:</u></b></br>
            <?php for ($y = 0; $y < count($this->res['taxas']['cheque-avista']) - 1; $y++) { ?>
            &nbsp;&nbsp;<?php echo (new \DateTime($this->res['taxas']['cheque-avista'][$y+1]['data-pagamento']))->format("d/m/Y H:i")  . ' ' . substr($this->res['taxas']['cheque-avista'][$y+1]['matricula'], -5) . ' ' . number_format($this->res['taxas']['cheque-avista'][$y+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    }; ?>
    <?php if (!empty($this->res['taxas']['cheque-pre'])) { ?>
 &nbsp;&nbsp;<b><u>Cheque pre:</u></b></br>
            <?php for ($y = 0; $y < count($this->res['taxas']['cheque-pre']) - 1; $y++) { ?>
            &nbsp;&nbsp;<?php echo (new \DateTime($this->res['taxas']['cheque-pre'][$y+1]['data-pagamento']))->format("d/m/Y H:i") . ' ' . substr($this->res['taxas']['cheque-pre'][$y+1]['matricula'], -5) . ' ' . number_format($this->res['taxas']['cheque-avista'][$y+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    }; ?>
    <?php if (!empty($this->res['taxas']['deposito'])) {?>
 &nbsp;&nbsp;<b><u>Deposito:</u></b></br>
            <?php for ($z = 0; $z < count($this->res['taxas']['deposito']) - 1; $z++) {?>
            &nbsp;&nbsp;<?php echo ( new \DateTime($this->res['taxas']['deposito'][$z+1]['data-pagamento']))->format("d/m/Y H:i") . ' ' . substr($this->res['taxas']['deposito'][$z+1]['matricula'], -5) . ' ' . number_format($this->res['taxas']['deposito'][$z+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    };
    if (!empty($this->res['taxas']['Credito Fies'])) {?>
 &nbsp;&nbsp;<b><u>Deposito:</u></b></br>
            <?php for ($z = 0; $z < count($this->res['taxas']['deposito']) - 1; $z++) {?>
            &nbsp;&nbsp;<?php echo (new \DateTime($this->res['taxas']['Credito Fies'][$z+1]['data-pagamento']))->format("d/m/Y H:i") . ' ' . substr($this->res['taxas']['Credito Fies'][$z+1]['matricula'], -5) . ' ' . number_format($this->res['taxas']['Credito Fies'][$z+1]['valor-pago'], 2, ',', '.') ?></br>
            <?php }
    };
    }?>
</p>
<div>
    -------------------------------------------------
</div>
<p>
    &nbsp;&nbsp;<b>Total Geral:</b></br>
    <?php if(!empty($this->res['taxas']['dinheiro']) OR !empty($this->res['mensalidade']['dinheiro']) OR !empty($this->res['mensalidade']['Credito Fies']) OR !empty($this->res['taxas']['Credito Fies']) ){?>
            &nbsp;&nbsp;Dinheiro: <?php echo number_format($total = $this->res['taxas']['dinheiro']['total'] + $this->res['mensalidade']['dinheiro']['total'],2, ',', '.')?></br>
            &nbsp;&nbsp;Cheques: <?php echo  number_format($this->res['taxas']['cheque-pre']['total'] +$this->res['taxas']['cheque-avista']['total']+ $this->res['mensalidade']['cheque-avista']['total'] + $this->res['mensalidade']['cheque-pre']['total'] ,2, ',', '.')?></br>
            <?php $total += $this->res['taxas']['cheque-pre']['total'] +$this->res['taxas']['cheque-avista']['total']+ $this->res['mensalidade']['cheque-avista']['total'] + $this->res['mensalidade']['cheque-pre']['total']?>
            &nbsp;&nbsp;Deposito: <?php echo number_format($this->res['taxas']['deposito']['total'] + $this->res['mensalidade']['deposito']['total'] ,2, ',', '.')?></br>
            &nbsp;&nbsp;Credito Fies: <?php echo number_format($this->res['taxas']['Credito Fies']['total'] + $this->res['mensalidade']['Credito Fies']['total'] ,2, ',', '.')?></br>
            &nbsp;&nbsp;<b>Total Dinheiro/Cheques: <?php echo number_format($total,2, ',', '.') ?></b></br>
    <?php }else{?>
    &nbsp;&nbsp;<b>Total Dinheiro/Cheques: 0,00 </b></br>

    <?php } ?>
</p>
<div>
    -------------------------------------------------
</div>
</body>
<script>
    window.print();
</script>