<script>

    jQuery("#cnpjCpf").on("keydown", function( event ){
        var aKey;

        if (window.event)
            aKey = event.keyCode;
        else
            aKey = event.which;

        //if das teclas precionadas
        if(!(((aKey==67)&&(event.ctrlKey))||((aKey==86)&&(event.ctrlKey))||(aKey==8)||(aKey==9)||(aKey==13)||(aKey==16)||(aKey==17)||(aKey==92)
            ||((aKey>=96)&&(aKey<=105))||((aKey>=48)&&(aKey<=57))||((aKey>=37)&&(aKey<=40))||((aKey>=112)&&(aKey<=123))))
        {
            return false;
        }
    });

    jQuery(document).ready(function(){
        jQuery("input[name='tituloDataProcessamento']").parent().parent().hide();
        jQuery("input[name='valorFormaPagamento']").parent().parent().hide();
        jQuery("input[name='tituloDataPagamento']").parent().parent().hide();
        jQuery("input[name='tituloDescontoManual']").parent().parent().hide();
        jQuery("textarea[name='tituloObservacoes']").parent().parent().hide();


        $("input[name='pessoaNome']").attr('disabled','disabled');

        jQuery("input[name='Voltar']").remove();
        jQuery("input[name='salvar']").parent().prepend('<a href="/boleto-bancario/financeiro-titulo" class="btn btn-primary pull-left">Voltar</a>');
        jQuery("input[name='salvar']").val("Quitar Manualmente").removeAttr('onclick');
        jQuery("input[name='salvar']").addClass("btn btn-success");

        //Não foi possivel retirar pelo form
        $("select[name='tituloTipoPagamento'] option[value='NULL']").remove();


        $("#financeiroTituloForm").attr('action','/boleto-bancario/financeiro-titulo/quita-vestibular');


        jQuery("select[name='confcont']").parent().parent().hide();


        jQuery('input[name="tituloValor"]').maskMoney().attr('');


    });
</script>
<?php

$this->spineJarvis()->openJarvis();

$form = $this->form()->openTag( $this->form );
$form .= $this->spineForm( $this->form );
$form .= $this->form()->closeTag();

$this->spineJarvis()->addWidget( $form, array('id'=>uniqid(),'icon'=>'fa fa-table','title'=>'Titulo Financeiro','toolbar'=>false) );

$this->spineJarvis()->closeJarvis();

?>