<?php
$urlTituloConsulta = $this->url('professor/default', array('controller' => 'biblioteca', 'action' => 'consultar-acervo'));
?>

<style>
    .alert-warning {
        background-color: #004370;
        color: #ffffff;
        font-size: 110%;
        border-radius: 5px;
        border-color: #e2e9e6;
    }
</style>

<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <img src="/smart-admin/img/userPerfilM.jpg" alt="people" class="img-circle width-80"/>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0"><?= $this->infoUsrLogged()->getNome(); ?></h1>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Professor</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-section">
        <?php
        if ($this->pesquisaInstitucionalProfessorAtivado):?>
            <div class="alert alert-warning">
                <?= $this->pesquisaInstitucionalProfessorMsg ?><br>
                <a href="<?= $this->pesquisaInstitucionalProfessorEndereco ?>" target="_blank" style="color: black;"
                   class="btn btn-white paper-shadow relative">Clique aqui para acessar e participe</a>
            </div>
        <?php endif;
        if ($this->bibliotecaPerson) {
            echo $this->partial(
                'aluno/biblioteca/biblioteca-pearson.phtml',
                array(

                    'enderecoBibliotacaPearson' => $this->enderecoBibliotacaPearson,
                    'pesCpf'                    => $this->pesCpf,
                    'tokenBibliotecaPearson'    => $this->tokenBibliotecaPearson
                )
            );
        }
        ?>
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina-Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?php
                            echo $this->disciplinas()->mountLiDisciplinas();
                            ?>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Biblioteca</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <li class="list-group-item">
                                <a class="link-text-color" href="<?= $urlTituloConsulta ?>">
                                    Visualizar Acervos
                                </a>
                            </li>
                            <?php if ($this->bibliotecaPerson): ?>
                                <li class="list-group-item">
                                    <a class="link-text-color" href="#"
                                       onclick="(function (){
                                   $('#biblioteca-pearson-modal').on('show.bs.modal', function () {
                                   $('#biblioteca-pearson-modal .modal-body').css('overflow-y', 'auto');
                                   $('#biblioteca-pearson-modal .modal-body').css('max-height', $(window).height() * 0.9);});
                                   $('#biblioteca-pearson-form').submit();
                                   $('#biblioteca-pearson-modal').modal('show'); return false;
                                   })()">Biblioteca Virtual</a>
                                </li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="media v-middle">
                        <div class="media-left">
                            <div class="bg-green-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-credit-card fa-fw fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            Para manter a sua conta protegida, recomendamos que você altere sua senha periodicamente.
                        </div>
                        <div class="media-right media-padding">
                            <a class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated
                               href="#" id="mostrarTrocaSenha">
                                Alterar Senha
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="changePass" hidden="hidden" class="col-xs-12 col-lg-12">
                        <?php
                        echo $this->TrocaSenha()->render();
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var element = document.getElementById('mostrarTrocaSenha');
        element.addEventListener('click', function () {
            $('#changePass').toggle();
        });

    </script>