<script>
    $(function () {
        $("#addPermissoes").click(function () {
            $("#exibePermissoes").modal();
        });

        function marcaGrupos() {
            $.ajax({
                url: "<?=$this->basePath()?>" + "/acesso/acesso-grupo/busca-actions",
                data: {"grupo": $("input[name='id']").val()},
                dataType: "json",
                type: 'post',
                async: false,
            }).done(function (data) {
                $.each(data.actions, function (index, value) {
                    $("input[type=checkbox][value=" + value + "]").attr('checked', true);
                    $("#inputActions").append('<input type="hidden" name="acessoActions[]" value="' + value + '" />');
                });
            });
        }

        $.ajax({
            url: "<?=$this->basePath()?>" + "/acesso/acesso-funcionalidades/pesquisa-funcionalidades",
            type: 'post',
            data: {'layout': false},
            async: false
        }).done(function (html) {
            $("#exibeFuncionalidades").html(html);
            marcaGrupos();
        });

        $("#salvarActions").click(function () {
            var inputs = "";

            $('#exibePermissoes input[name="acessoActions[]"]:checked').each(function () {
                inputs += '<input type="hidden" name="acessoActions[]" value="' + this.value + '" />';
            });

            $("#inputActions").html(inputs);

            $("#exibePermissoes").modal('hide');
        });
    });
</script>
<?php
$this->spineJarvis()->openJarvis();
$this->spineJarvis()->openWidget(array('title' => 'Cadastro de grupos', 'icon' => 'fa fa-user'));

echo $this->form()->openTag($this->form);
echo "<fieldset>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("grupNome"));
echo $this->formHidden($this->form->get("id"));
echo "</div>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("grupIcon"));
echo "</div>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("grupInfo"));
echo "</div>";

echo "<div class='row'>";
echo $this->spineForm()->formInput($this->form->get("permissoes"));
echo "</div>";

echo "<div id='inputActions'></div>";

echo "</fieldset>";

echo $this->spineForm()->formInput($this->form->get("enviar"));
echo $this->form()->closeTag();
$this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<div class="modal fade in" id="exibePermissoes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Marque as permissões do grupo</h4>
            </div>
            <div class="modal-body" id="exibeFuncionalidades"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="salvarActions" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>