<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="atendimento-form" method="post" target="_blank">
                        <h4>
                            Encerramento do Vestibular:
                        </h4>

                        <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="dataFinal">Informe a quantidade de classificados:</label>
                            </div>
                            <div class="form-group" style="width: 230px">
                                <input type="text" name="dataFinal" id="dataFinal" class="form-control" required="required">
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="/vestibular/selecao-edicao" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para listagem
                                </a>
                                <button type="submit" class="btn btn-primary" id="gerar">
                                    <i class="fa fa-gear"></i>
                                    Encerrar vestibular
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>