<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'boleto-banco'));
$paramUrl    = array('controller' => 'boleto-banco', 'action' => 'add');

if ($this->arrDados['bancId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['bancId'];
}
$urlPesquisaBoletoLayout = $this
    ->url('financeiro/default', array('controller' => 'boleto-layout', 'action' => 'search-for-json'));
$urlForm                 = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('boleto-banco-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="boleto-banco-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="bancId" id="bancId" value="<?php echo $this->arrDados['bancId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="bancCodigo">Codigo:</label>
                                <input type="text" name="bancCodigo" id="bancCodigo" class="form-control"
                                       placeholder="Codigo" maxlength="11"
                                       value="<?php echo $this->arrDados['bancCodigo']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="bancNome">Nome:</label>
                                <input type="text" name="bancNome" id="bancNome" class="form-control"
                                       placeholder="Nome" maxlength="128"
                                       value="<?php echo $this->arrDados['bancNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="layout">Código Layout:</label>
                                <input type="text" name="layout" id="layout" class="form-control"
                                       placeholder="Código Layout" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.boletoBancoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {boletoLayout: '<?=$urlPesquisaBoletoLayout;?>'},
            data: {},
            value: {layout:<?=json_encode($this->arrDados['layout']); ?>},
        });
    });
</script>