<!-- Link de acesso disponvel na chave ENDERECO_BIBLIOTECA_PEARSON (Configuração)-->
<form action=<?= $this->enderecoBibliotacaPearson; ?> method="post"
      id="biblioteca-pearson-form" class="hidden" target="biblioteca-pearson-iframe">
    <input id="login" name="login" type="hidden" value="<?= $this->pesCpf; ?>"/>
    <input name="token" type="hidden" id="token" value="<?= $this->tokenBibliotecaPearson; ?>"/>
    <input name="commit" type="submit" value="Inscrição"/>
</form>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="biblioteca-pearson-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true" aria-labelledby="biblioteca-pearson-modal-titulo">
    <div class="modal-dialog" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title" id="biblioteca-pearson-modal-titulo">Biblioteca Pearson</div>
            </div>
            <div class="modal-body">
                <iframe id="biblioteca-pearson-iframe" name="biblioteca-pearson-iframe"
                        style="width: 100%; height: 60em;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>