<?php
$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate', false, 'SmartAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('titulo-consulta', false, 'App');

?>

<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    Biblioteca
                </h1>
                <p class="text-subhead text-white">
                    Consultar Acervo
                </p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Aluno</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-section">

        <div class="row">
            <div class="col-md-12">
                <?php echo $this->partial(
                    'biblioteca/titulo/consulta-partial.phtml',
                    [
                        'permiteVisualizarAcervo' => $this->permiteVisualizarAcervo,
                        'jsonGrupoBibliografico'  => $this->jsonGrupoBibliografico
                    ]
                );
                ?>
            </div>
        </div>
    </div>
</div>

