<?php
$urlDataBiblioteca = $this->url('aluno/default', array('controller' => 'biblioteca', 'action' => 'search'));

$urlEmprestimoAcao = $this
    ->url('biblioteca/default', array('controller' => 'emprestimo', 'action' => 'renovar-emprestimo-aluno'));

$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('alertify.min', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('aluno-biblioteca', false, 'App');
?>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    Biblioteca
                </h1>
                <p class="text-subhead text-white">
                    Empréstimos de Livros
                </p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Aluno</span>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="page-section">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina - Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?= $this->disciplinas()->mountLiDisciplinas(); ?>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <table id="tableBiblioteca"
                       class="table table-condensed table-striped"
                       width="100%">
                    <thead>
                    <tr>
                        <th width="10%">Data do Empréstimo</th>
                        <th width="29%">Título</th>
                        <th width="18%">Autor</th>
                        <th width="8%">Grupo</th>
                        <th width="5%">Exemplar</th>
                        <th width="10%">Previsão de Devolução</th>
                        <th width="10%">Data da Devolução</th>
                        <th width="10%"></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    window.pesquisaBiblioteca = '<?= $urlDataBiblioteca ?>';
    window.acao = '<?= $urlEmprestimoAcao ?>';
    window.dataAtual = '<?php echo $this->dataAtual;?>';
    window.diasParaRenovacao = <?=(int)$this->diasParaRenovacao;?>;
    window.quantidadeDeRenovacoes = <?=(int)$this->quantidadeDeRenovacoes;?>;
    window.permiteAlunoRenovar = <?=(int)$this->permiteAlunoRenovar;?>;
</script>

