<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-questionario-respondente'));
$paramUrl    = array('controller' => 'avaliacao-questionario-respondente', 'action' => 'add');

if ($this->arrDados['respondenteId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['respondenteId'];
}
$urlPesquisaAvaliacaoSecao = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-secao', 'action' => 'search-for-json'));
$urlPesquisaPessoa         = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlForm                   = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questionario-respondente-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-questionario-respondente-form"
                              novalidate="novalidate" method="post">
                            <input type="hidden" name="respondenteId" id="respondenteId"
                                   value="<?php echo $this->arrDados['respondenteId']; ?>">

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="secao">Seção:</label>
                                    <input type="text" name="secao" id="secao" class="form-control"
                                           placeholder="Seção" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respondenteStatus">Status:</label>
                                    <select name="respondenteStatus" id="respondenteStatus" class="form-control">
                                        <?php
                                        foreach ($this->arrRespondenteStatus as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['respondenteStatus']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="respondenteData">Data:</label>
                                    <input type="text" name="respondenteData" id="respondenteData" class="form-control"
                                           placeholder="Data" value="<?php echo $this->arrDados['respondenteData']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pes">Código Pessoa:</label>
                                    <input type="text" name="pes" id="pes" class="form-control"
                                           placeholder="Código Pessoa" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestionarioRespondenteAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                avaliacaoSecao: '<?=$urlPesquisaAvaliacaoSecao;?>',
                pessoa: '<?=$urlPesquisaPessoa;?>'
            },
            data: {},
            value: {
                secao:<?=json_encode($this->arrDados['secao']); ?>,
                pes:<?=json_encode($this->arrDados['pes']); ?>
            }
        });
    });
</script>