<?php
$paramUrl = array("controller" => "pessoa-fisica", "action" => "add");

$urlAdd             = $this->url("pessoa/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("pessoa/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("pessoa/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("pessoa/default", $paramUrl);
$paramUrl['action'] = 'pessoas-duplicadas';
$urlMesclar         = $this->url("pessoa/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('pessoa-fisica-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTablePessoaFisica" class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary">
                            Novo Registro
                        </a>
                        <?php if ($this->permissaoMesclar): ?>
                            <a href="<?php echo $urlMesclar; ?>" class="btn btn-primary">
                                <i class='fa fa-check-double fa-inverse'></i>
                                Pessoas Duplicadas
                            </a>
                        <?php endif; ?>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.pessoaFisicaIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlEdit: '<?php echo $urlEdit;?>',
            urlRemove: '<?php echo $urlRemove;?>'
        });
    });
</script>