<style>

    .pagination {
        display: inline-block !important;
    }

</style>
<?php

$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

if(!isset($_SERVER['REQUEST_URI'])){
    return false;
}
$urlPattern = $_SERVER['REQUEST_URI'];

$formatUrl = function ($page) use ($urlPattern) {
    if ($this->route) {
        return $this->url($this->route, array('page'=>$page), false, true);
    }
    else if (!preg_match('/page/', $urlPattern)){
        return $urlPattern . '/page/' . (int) $page;
    }
    return preg_replace('@/page/[0-9]+@', '/page/' . (int) $page, $urlPattern);
};


if ($this->pageCount){
    $lista_paginacao = "<ul class='pagination justify-content-center'>";
    $disabled = "";
    if ( !isset($this->previous) ){
        $disabled = "disabled";
        $href = "#";
    } else{
        $href = $formatUrl($this->previous);
    }
    $lista_paginacao .= "<li id='voltar' class='page-item $disabled'><a href='$href' class='page-link' tabindex='-1'>Anterior</a></li>";
    foreach ($this->pagesInRange as $page){
        $ativo = "";
        $href = $formatUrl($page);
        $span = "";
        $disabled = "";
        if ($page == $this->current){
            $ativo = "active";
            $disabled = "disabled";
            $span = "<span class='sr-only'>(current)</span>";
        }
        $lista_paginacao .= "<li class='page-item {$ativo}' data-page='$page'><a href='$href' class='page-link'> {$page} {$span}</a></li>";
    }
    $class = "";
    $proxPage = "#";
    if ( !isset($this->next) ){
        $class = "class= 'disabled'";
    } else{
        $proxPage = $formatUrl($this->next);
    }
    $lista_paginacao .= "<li id='seguir' $class><a href='$proxPage'>Próximo</a></li>";
    $lista_paginacao .= "</ul>";
    echo $lista_paginacao;
}

