<?php
$paramUrl = array("controller" => "pessoa-fisica", "action" => "pessoas-duplicadas", "page"=>$this->page ? $this->page : 1);

$urlMerge          = $this->url("pessoa/paginator-pessoa-duplicada", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('pessoa-fisica-duplicadas', false, 'App');
?>
<style>
    .linha {
        border: 1px solid #ddd;
    }
    .fundo-branco{
        background-color: #f9f9f9;
    }
    .fundo-cinza{
        background-color: #ddd;
    }

</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-merge">
                    <table class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <td colspan="2" width="45%">Pessoas Duplicadas</td>
                                <td width="45%">Pessoas Origem</td>
                                <td width="10%">Merge</td>
                            </tr>

                        </thead>
                        <tbody>
                        <?php

                        $nLinha = 0;

                        foreach($this->pessoasDuplicadas as $pessoasDuplicadas){
                            //criando heuristica para caso tiver mais que 2 pessoas iguais
                            foreach($pessoasDuplicadas as $cadaPessoaPrincipal){
                                $pessoa_principal = false;
                                $class = !($nLinha % 2) ?  "odd" : "even";

                                //criando cada linha da coluna. Aqui é necessário repetir o laço para que funcione
                                foreach($pessoasDuplicadas as $cadaPessoaMerge){
                                    $checkbox = $this->formHelper()->criarCampo("pessoas[{$cadaPessoaPrincipal['pes_id']}][{$cadaPessoaMerge['pes_id']}]", [
                                        "no-label"=>true,
                                        "type"=>"checkbox",
                                        "data-merge"=>"{{$cadaPessoaPrincipal['pes_id']}",
                                        "data-pes"=>"{$cadaPessoaMerge['pes_id']}",
                                        "checked"=>true,
                                        "style"=>"vertical-align: middle",
                                    ]);

                                    $button = "<button type='button' class='btn btn-xs btn-warning pessoa-merge' data-pes='{$cadaPessoaPrincipal['pes_id']}'>
                                                    <i class='fa fa-check fa-inverse'></i>
                                              </button>";

                                    echo "<tr role='row' class='$class'>";
                                    echo "<td width='40%'>{$cadaPessoaMerge['pes_nome']}</td>";
                                    echo "<td width='5%'>$checkbox</td>";

                                    if(!$pessoa_principal){
                                        $rowspan = sizeof($pessoasDuplicadas);
                                        echo "<td rowspan='$rowspan' style='vertical-align: middle'>{$cadaPessoaPrincipal['pes_nome']}</td>";
                                        echo "<td rowspan='$rowspan' style='vertical-align: middle;'>$button</td>";
                                        $pessoa_principal = true;
                                    }
                                    ?>

                                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="visualizar-pessoa-modal-<?=$cadaPessoaMerge['pes_id']?>" role="dialog"
                                         aria-labelledby="label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Visualizar Pessoa</h4>
                                                </div>
                                                <div class="modal-body floating-label">

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <?php
                                    echo "</tr>";
                                }

                                $nLinha++;
                                //não faço repetições para caso tiver somente 2 pessoas
                                if( sizeof($pessoasDuplicadas) == 2){
                                    break;
                                }
                            }
                        }
                        ?>
                        </tbody>
                    </table>
                    <div class="text-center"><?= $this->paginationControl($this->pessoasDuplicadas, 'Sliding', '/pessoa/pessoa-fisica/paginator.phtml'); ?></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.pessoaFisicaDuplicadas({
            url: {
                urlMerge: '<?=$urlMerge;?>',
            }
        });
    });
</script>