<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo-mensagem'));
$paramUrl    = array('controller' => 'protocolo-mensagem', 'action' => 'add');

if ($this->arrDados['mensagemId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['mensagemId'];
}
$urlPesquisaProtocolo     = $this
    ->url('protocolo/default', array('controller' => 'protocolo', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlForm                  = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-mensagem-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="protocolo-mensagem-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="mensagemId" id="mensagemId"
                               value="<?php echo $this->arrDados['mensagemId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="protocolo">Código:</label>
                                <input type="text" name="protocolo" id="protocolo" class="form-control"
                                       placeholder="Código" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mensagemUsuario">Código Usuário Mensagem:</label>
                                <input type="text" name="mensagemUsuario" id="mensagemUsuario" class="form-control"
                                       placeholder="Código Usuário Mensagem" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mensagemData">Data:</label>
                                <input type="text" name="mensagemData" id="mensagemData" class="form-control"
                                       placeholder="Data" value="<?php echo $this->arrDados['mensagemData']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mensagemOrigem">Origem:</label>
                                <select name="mensagemOrigem" id="mensagemOrigem" class="form-control">
                                    <?php
                                    foreach ($this->arrMensagemOrigem as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['mensagemOrigem']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mensagemSolicitanteVisivel">Visível Solicitante:</label>
                                <select name="mensagemSolicitanteVisivel" id="mensagemSolicitanteVisivel"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrMensagemSolicitanteVisivel as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['mensagemSolicitanteVisivel']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mensagemConteudo">Conteúdo:</label>
                    <textarea name="mensagemConteudo" id="mensagemConteudo" class="form-control"
                              placeholder="Conteúdo"
                              rows="5"><?php echo $this->arrDados['mensagemConteudo']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloMensagemAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                protocolo: '<?=$urlPesquisaProtocolo;?>',
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>'
            },
            data: {},
            value: {
                protocolo:<?=json_encode($this->arrDados['protocolo']); ?>,
                mensagemUsuario:<?=json_encode($this->arrDados['mensagemUsuario']); ?>
            },
        });
    });
</script>