<?php
$urlAction = $this->url(
    'matricula/default',
    array('controller' => 'acadgeral-aluno-curso', 'action' => 'trocar-curso')
);
?>
<div id="trocar-curso-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" style="width: 30%">
        <div class="modal-overlay">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title"><strong>Trocar Curso</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="form-trocar-curso" method="POST" action="<?= $urlAction; ?>">
                            <input name="alunocursoId" type="hidden">

                            <div class="">

                                <fieldset>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="campusCurso">Curso:</label>
                                            <input type="text" class="form-control" name="campusCurso">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="motivoId">Motivo:</label>
                                            <input type="text" class="form-control" name="motivoId">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="alteracaoObservacao">Observações sobre a mudança:</label>
                                            <textarea name="alteracaoObservacao" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-warning">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>