<?php
$urlThumb = $this->url('gerenciador-arquivos/default',array('controller' => 'arquivo','action'=>'thumb'));
?>
<script language="JavaScript" src="<?php echo $this->basePath();?>/js/universa/matricula/acadperiodo-aluno/edit.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>

<div class="step-content" style="padding-top:20px;">
    <?=$this->form()->openTag( $this->form );?>
    <div class="step-pane active" id="step1">
        <div class="row">
            <section class="col-lg-2 col-sm-2 col-xs-2" style="padding-left:30px;">
                <div class="input input-file" >
                    <img id="preview_image" width="160" height="140" src="<?=empty($this->chaveFoto) ? $this->basePath().'/smart-admin/img/userPerfilM.jpg' : $urlThumb."/".$this->chaveFoto."?width=160&height=140"?>" />
                </div>
                <div class="note">

                </div>
            </section>
            <section class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:30px;">
                <div class="row">
                    <?=$this->spineForm()->formInput($this->form->get("matricula")->setAttributes(array('col' => 3, 'id')));?>
                    <?=$this->spineForm()->formInput($this->form->get("pesNome")->setAttributes(array('col' => 3)));?>
                </div>
                <div class="row">
                    <?=$this->spineForm()->formInput($this->form->get("pesCpf")->setAttributes(array('col' => 3, 'id')));?>
                    <?=$this->spineForm()->formInput($this->form->get("pesDocEstrangeiro")->setAttributes(array('col' => 3)));?>
                    <?=$this->spineForm()->formInput($this->form->get("pesRg")->setAttributes(array('col' => 3)));?>
                </div>
                <div class="row">

                </div>
            </section>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>

