<head>
    <meta charset="utf-8">
    <style>
        p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: small;
        }

        div {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        body {
        }
    </style>
</head>
<body>
<div>
    --------------------------------------------
</div>
<p style="text-align: center">
    <b>
        <?= ($this->mantenedora) ?><br>
        <?= ($this->ies) ?>
    </b>
</p>

<p style="text-align: center">
    &nbsp;COMPROVANTE DE PAGAMENTO
</p>

<p style="text-align: center">
    <?= !empty($this->via) ? "&nbsp;************** SEGUNDA VIA ***************" : "" ?>
</p>

<p>
    &nbsp;&nbsp;Data do Pagamento: <?= $this->titulo['tituloDataPagamento'] ?><br>
    &nbsp;&nbsp;Hora:<?= $this->titulo['tituloDataHoraPagamento']->format("H:i:s"); ?>
</p>

<div>
    --------------------------------------------
</div>
<p style="text-align: center">
    &nbsp;&nbsp;Serviço: <?= $this->titulo['tipotituloNome']; ?><br>
    <?php if ($this->titulo['mensalidadeParcela'] == 1 AND $this->titulo['Mensalidade']): ?>
        &nbsp;&nbsp;Matricula \ Rematrícula<br>
    <?php else: ?>
        &nbsp;&nbsp; <?= $this->turma['turma'] . $this->turma['serie']; ?><br>
    <?php endif; ?>

    <?php if (!empty($this->mensalidade)): ?>
        &nbsp;&nbsp;<?= ' Mensalidade: ' . $this->titulo['tituloMesVencimento'] . ' Exercício: ' . $this->mensalidade[2]; ?>
    <?php endif; ?>

<p>
    &nbsp;&nbsp;Matricula: <?= $this->matricula ?><br>
    &nbsp;&nbsp;Nome.....: <?= $this->titulo['pessoaNome'] ?> <br>

</p>

<div>
    --------------------------------------------
</div>
<?php
$totalMultaJuros = round($this->titulo['tituloJuros'] + $this->titulo['tituloMulta'], 0);
?>
<p style="text-align: center">
    <br>
    &nbsp;&nbsp;Valor: <?= \Boleto\Service\Moeda::decToMoeda($this->titulo['tituloValor']) ?><br>
    &nbsp;&nbsp;Data Vencimento: <?= $this->titulo['tituloDataVencimento']; ?><br>
    &nbsp;&nbsp;Juros: <?= \Boleto\Service\Moeda::decToMoeda($totalMultaJuros); ?><br>
    &nbsp;&nbsp;Acrecimos: <?= \Boleto\Service\Moeda::decToMoeda($this->titulo['tituloAcrescimoManual']); ?><br>
    &nbsp;&nbsp;Descontos:<?= \Boleto\Service\Moeda::decToMoeda(($this->titulo['tituloDesconto'])) ?><br>
    &nbsp;&nbsp;Valor Pago: <?= \Boleto\Service\Moeda::decToMoeda($this->titulo['tituloValorPago']) ?><br>

</p>

<div>
    -------------------------------------------- <br>
    &nbsp;&nbsp;Atendende: <?= $this->usuarioBaixa->getLogin(); ?><br>
    -------------------------------------------- <br>
</div>
</body>
<script>
    window.print();
    window.print();
</script>