<?php

?>

<script language="JavaScript" src="<?=$this->basePath()?>/js/universa/boleto/financeiro/mapeamentoTecladoAndMouse.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<script language="JavaScript" src="<?=$this->basePath()?>/js/universa/boleto/financeiro/index.js?nocache=<?=date("Y-m-d H:i:s")?>"></script>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    <div role="content ">
        <div id="financeiro" class="widget-body fuelux" >
            <input type="hidden" name="alunocursoId" value="<?=!empty($this->alunocursoId) ? $this->alunocursoId : ""?>">
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">
                    <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" width="100%" id="listAluno">
                        <thead >
                            <tr>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th>Turma</th>
                                <th>Situação</th>
                                <th>Período Letivo</th>
                            </tr>
                        </thead>
                        <tbody >

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>

<style type="text/css">
    div.DTTT {
        margin: auto;
        float: right;
        margin-bottom: 1em;
    }
</style>
