<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagiogeral-configuracoes'));
$paramUrl    = array('controller' => 'estagiogeral-configuracoes', 'action' => 'add');

if ($this->arrDados['estagioconfPortaria']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['estagioconfPortaria'];
}

$urlForm = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagiogeral-configuracoes-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagiogeral-configuracoes-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="estagioconfPortaria" id="estagioconfPortaria"
                               value="<?php echo $this->arrDados['estagioconfPortaria']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfMaximoDuracao">estagioconf_maximo_duracao:</label>
                                <input type="text" name="estagioconfMaximoDuracao" id="estagioconfMaximoDuracao"
                                       class="form-control"
                                       placeholder="estagioconf_maximo_duracao" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfMaximoDuracao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfDataDecreto">estagioconf_data_decreto:</label>
                                <input type="text" name="estagioconfDataDecreto" id="estagioconfDataDecreto"
                                       class="form-control"
                                       placeholder="estagioconf_data_decreto" maxlength=""
                                       value="<?php echo $this->arrDados['estagioconfDataDecreto']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagiocargaTotalPontuacao">estagiocarga_total_pontuacao:</label>
                                <input type="text" name="estagiocargaTotalPontuacao" id="estagiocargaTotalPontuacao"
                                       class="form-control"
                                       placeholder="estagiocarga_total_pontuacao" maxlength="11"
                                       value="<?php echo $this->arrDados['estagiocargaTotalPontuacao']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfCargaTotalHoras">estagioconf_carga_total_horas:</label>
                                <input type="text" name="estagioconfCargaTotalHoras" id="estagioconfCargaTotalHoras"
                                       class="form-control"
                                       placeholder="estagioconf_carga_total_horas" maxlength="11"
                                       value="<?php echo $this->arrDados['estagioconfCargaTotalHoras']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estagioconfSerie">estagioconf_serie:</label>
                                <select name="estagioconfSerie" id="estagioconfSerie" class="form-control" multiple>
                                    <option></option>
                                    <?php
                                    foreach ($this->arrEstagioconfSerie as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['estagioconfSerie']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagiogeralConfiguracoesAdd({
            ,

    });
    })
    ;
</script>