<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-questionario-questao'));
$paramUrl    = array('controller' => 'avaliacao-questionario-questao', 'action' => 'add');

if ($this->arrDados['questionarioquestaoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['questionarioquestaoId'];
}
$urlPesquisaAvaliacaoQuestionario = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questionario', 'action' => 'search-for-json'));
$urlPesquisaAvaliacaoSecao        = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-secao', 'action' => 'search-for-json'));
$urlPesquisaAvaliacaoQuestao      = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questao', 'action' => 'search-for-json'));
$urlForm                          = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questionario-questao-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-questionario-questao-form"
                              novalidate="novalidate" method="post">
                            <input type="hidden" name="questionarioquestaoId" id="questionarioquestaoId"
                                   value="<?php echo $this->arrDados['questionarioquestaoId']; ?>">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questionario">Questionario:</label>
                                    <input type="text" name="questionario" id="questionario" class="form-control"
                                           placeholder="Questionário" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="secao">Seção:</label>
                                    <input type="text" name="secao" id="secao" class="form-control"
                                           placeholder="Seção" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questao">Questão:</label>
                                    <input type="text" name="questao" id="questao" class="form-control"
                                           placeholder="Questão" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioquestaoPosicao">Posição:</label>
                                    <input type="text" name="questionarioquestaoPosicao" id="questionarioquestaoPosicao"
                                           class="form-control"
                                           placeholder="Posição" maxlength="11"
                                           value="<?php echo $this->arrDados['questionarioquestaoPosicao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioquestaoAnulada">Anulada:</label>
                                    <select name="questionarioquestaoAnulada" id="questionarioquestaoAnulada"
                                            class="form-control">
                                        <?php
                                        foreach ($this->arrQuestionarioquestaoAnulada as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['questionarioquestaoAnulada']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioquestaoObrigatoria">Obrigatória:</label>
                                    <select name="questionarioquestaoObrigatoria" id="questionarioquestaoObrigatoria"
                                            class="form-control">
                                        <?php
                                        foreach ($this->arrQuestionarioquestaoObrigatoria as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['questionarioquestaoObrigatoria']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioquestaoPeso">Peso:</label>
                                    <input type="text" name="questionarioquestaoPeso" id="questionarioquestaoPeso"
                                           class="form-control"
                                           placeholder="Peso" maxlength="45"
                                           value="<?php echo $this->arrDados['questionarioquestaoPeso']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestionarioQuestaoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                avaliacaoQuestionario: '<?=$urlPesquisaAvaliacaoQuestionario;?>',
                avaliacaoSecao: '<?=$urlPesquisaAvaliacaoSecao;?>',
                avaliacaoQuestao: '<?=$urlPesquisaAvaliacaoQuestao;?>'
            },
            data: {},
            value: {
                questionario:<?=json_encode($this->arrDados['questionario']); ?>,
                secao:<?=json_encode($this->arrDados['secao']); ?>,
                questao:<?=json_encode($this->arrDados['questao']); ?>
            }
        });
    });
</script>