<script>
    $( document ).ready(function(){
        $("div[class='col-lg-6']").find("div").append("<button data-parent-id='bolId' id='baixa' class='btn btn-default'> <i class='fa fa-money' ata-toggle='modal' data-target='baixaModal'></i> Baixa </button>");

        $("#baixa").click(function(){
            $("#baixaModal").modal();
        });
    });

</script>

<?php

    $this->spineJarvis()->openJarvis();
    echo $this->spineJarvis()->openWidget( array('title'=>$this->config['jarvis']['title'],'icon'=>$this->config['jarvis']['icon'],'id'=>  $this->config['jarvis']['id']) );
    $this->spineList( $this->config );
    echo $this->spineJarvis()->closeWidget();
    $this->spineJarvis()->closeJarvis();
    
    
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="baixaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Baixa Bancaria</h4>
            </div>
            <div class="modal-body">

                <form action="<?=$this->basePath()?>/boleto-bancario/boleto/baixa" method="POST" enctype="multipart/form-data" id="formBaixa" >
                    <div class="row">
                        <section class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:30px;">
                            <div class="input input-file">
                                <span class="button">
                                    <input id="" type="file"  name="file" onchange="this.parentNode.nextSibling.value = this.value"/>
                                </span>

                            </div><div class="note"></div>
                        </section>
                        <input type="hidden" name="controller" value="boleto" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Baixar aquivo
                        </button>
                    </div>
                </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

