<?php
$bradesco = \Financeiro\Service\BoletoBanco::BANCO_BRADESCO;
$brasil   = \Financeiro\Service\BoletoBanco::BANCO_BRASIL;
$bancoob  = \Financeiro\Service\BoletoBanco::BANCO_BANCOOB;
$caixa    = \Financeiro\Service\BoletoBanco::BANCO_CAIXA;

$arrDados = $this->arrDados;

if ($arrDados) {
    foreach ($arrDados as $valores) {
        echo '<div style="page-break-after: always">';

        if ($valores->getBanco()->getCodigoBanco() == $bradesco) {
            echo $this->partial(
                "/php-boleto-zf2/bradesco/index",
                [
                    'dados' => $valores
                ]
            );
        } elseif ($valores->getBanco()->getCodigoBanco() == $brasil) {
            echo $this->partial(
                "/php-boleto-zf2/bb/index",
                [
                    'dados' => $valores
                ]
            );
        } elseif ($valores->getBanco()->getCodigoBanco() == $bancoob) {
            echo $this->partial(
                "/php-boleto-zf2/bancoob/index",
                [
                    'dados' => $valores
                ]
            );
        } elseif ($valores->getBanco()->getCodigoBanco() == $caixa) {
            echo $this->partial(
                "/php-boleto-zf2/caixa-sigcb/index",
                [
                    'dados' => $valores
                ]
            );
        }

        echo '</div>';
    }

    if (!empty($arrErros = $this->arrErros)) {
        foreach ($arrErros as $value) {
            echo '<p>' . $value . '</p>';
        }
    }
}
?>