<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-meio-pagamento'));
$paramUrl    = array('controller' => 'financeiro-meio-pagamento', 'action' => 'add');

if ($this->arrDados['meioPagamentoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['meioPagamentoId'];
}

$urlForm = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-meio-pagamento-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-meio-pagamento-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="meioPagamentoId" id="meioPagamentoId"
                               value="<?php echo $this->arrDados['meioPagamentoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="meioPagamentoDescricao">Descrição:</label>
                                <input type="text" name="meioPagamentoDescricao" id="meioPagamentoDescricao"
                                       class="form-control"
                                       placeholder="Descrição" maxlength="45"
                                       value="<?php echo $this->arrDados['meioPagamentoDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="meioPagamentoTipo">Tipo:</label>
                                <select name="meioPagamentoTipo" id="meioPagamentoTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrMeioPagamentoTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['meioPagamentoTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="meioPagamentoUsoExterno">Uso Externo:</label>
                                <select name="meioPagamentoUsoExterno" id="meioPagamentoUsoExterno"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrMeioPagamentoUsoExterno as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['meioPagamentoUsoExterno']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="meioPagamentoUsoMultiplo">Multiplo Uso:</label>
                                <select name="meioPagamentoUsoMultiplo" id="meioPagamentoUsoMultiplo"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrMeioPagamentoUsoMultiplo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['meioPagamentoUsoMultiplo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="meioPagamentoCamposCheque">Campos de Cheque:</label>
                                <select name="meioPagamentoCamposCheque" id="meioPagamentoCamposCheque"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrMeioPagamentoCamposCheque as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['meioPagamentoCamposCheque']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="meioPagamentoStatus">Status:</label>
                                <select name="meioPagamentoStatus" id="meioPagamentoStatus" class="form-control">
                                    <?php
                                    foreach ($this->arrMeioPagamentoStatus as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['meioPagamentoStatus']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroMeioPagamentoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {},
            data: {},
            value: {},
        });
    });
</script>