<?php
$urlListagem = $this->url('organizacao/default', array('controller' => 'org-email-conta'));
$paramUrl    = array('controller' => 'org-email-conta', 'action' => 'add');

if ($this->arrDados['contaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['contaId'];
}
$urlPesquisaOrgComunicacaoTipo = $this
    ->url('organizacao/default', array('controller' => 'org-comunicacao-tipo', 'action' => 'search-for-json'));
$urlForm                       = $this->url('organizacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('org-email-conta-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="org-email-conta-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="contaId" id="contaId"
                               value="<?php echo $this->arrDados['contaId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="contaNome">Nome:</label>
                                <input type="text" name="contaNome" id="contaNome" class="form-control"
                                       placeholder="Nome" maxlength="100"
                                       value="<?php echo $this->arrDados['contaNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="contaHost">Endereço SMTP:</label>
                                <input type="text" name="contaHost" id="contaHost" class="form-control"
                                       placeholder="Endereço SMTP"
                                       value="<?php echo $this->arrDados['contaHost']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="contaUsuario">Usuário:</label>
                                <input type="text" name="contaUsuario" id="contaUsuario" class="form-control"
                                       placeholder="Usuário" maxlength="100"
                                       autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                                       value="<?php echo $this->arrDados['contaUsuario']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="contaSenha">Senha:</label>
                                <input type="password" name="contaSenha" id="contaSenha" class="form-control"
                                       placeholder="Senha" maxlength="100"
                                       autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                                       value="<?php echo $this->arrDados['contaSenha']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contaPorta">Porta SMTP:</label>
                                <input type="text" name="contaPorta" id="contaPorta" class="form-control"
                                       placeholder="Porta SMTP" maxlength="11"
                                       value="<?php echo $this->arrDados['contaPorta']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contaSsl">Protocolo SMTP:</label>
                                <select name="contaSsl" id="contaSsl" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrContaSsl as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['contaSsl']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="contaImapHost">Endereço IMAP:</label>
                                <input type="text" name="contaImapHost" id="contaImapHost" class="form-control"
                                       placeholder="Endereço IMAP"
                                       value="<?php echo $this->arrDados['contaImapHost']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contaImapPorta">Porta IMAP:</label>
                                <input type="text" name="contaImapPorta" id="contaImapPorta" class="form-control"
                                       placeholder="Porta IMAP" maxlength="11"
                                       value="<?php echo $this->arrDados['contaImapPorta']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contaImapSsl">Protocolo IMAP:</label>
                                <select name="contaImapSsl" id="contaImapSsl" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrContaImapSsl as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['contaImapSsl']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="tipo">Tipo de comunicação:</label>
                                <input type="text" name="tipo" id="tipo" class="form-control"
                                       placeholder="Tipo de comunicação">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contaLead">Recebe Lead:</label>
                                <select name="contaLead" id="contaLead" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrContaLead as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['contaLead']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contaAtivada">Ativada:</label>
                                <select name="contaAtivada" id="contaAtivada" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrContaAtivada as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['contaAtivada']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgEmailContaAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                orgComunicacaoTipo: '<?=$urlPesquisaOrgComunicacaoTipo;?>'
            },
            data: {},
            value: {
                tipo:<?=json_encode($this->arrDados['tipo']); ?>
            }
        });
    });
</script>