<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'empresa'));
$urlBuscaCEP = $this->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('empresa-add', false, 'App');

$arrEmpresaTipo = json_encode(
    array(
        array('id' => 'Editora', 'text' => 'Editora'),
        array('id' => 'Fornecedor', 'text' => 'Fornecedor')
    )
);
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="empresa-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" id="pesId"
                               value="<?php echo $this->dadosEmpresa['pesId']; ?>">

                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="pesCnpj">CNPJ:</label>
                                    <input type="text" name="pesCnpj" id="pesCnpj" class="form-control"
                                           placeholder="CNPJ"
                                           value="<?php echo $this->dadosEmpresa['pesCnpj']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="pesInscEstadual">Inscrição estadual:</label>
                                    <input type="text" name="pesInscEstadual" id="pesInscEstadual"
                                           class="form-control"
                                           placeholder="Informe inscrição estadual"
                                           value="<?php echo $this->dadosEmpresa['pesInscEstadual']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="empresaTipo">Tipo:</label>
                                    <input type="text" name="empresaTipo" id="empresaTipo"
                                           class="form-control"
                                           placeholder="Tipo de empresa"
                                           value="<?php echo $this->dadosEmpresa['empresaTipo']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pesNomeFantasia">Nome fantasia:</label>
                                    <input type="text" name="pesNomeFantasia" id="pesNomeFantasia"
                                           class="form-control"
                                           placeholder="Ex. VERSA TECNOLOGIA"
                                           value="<?php echo $this->dadosEmpresa['pesNomeFantasia']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pesNome">Razão social:</label>
                                    <input type="text" name="pesNome" id="pesNome" class="form-control"
                                           placeholder="Ex. VERSATILE CONSULTORIA E TECNOLOGIA DA INFORMACAO LTDA - ME"
                                           value="<?php echo $this->dadosEmpresa['pesNome']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="hidden" name="endId" id="endId"
                                   value="<?php echo $this->dadosEmpresa['endId']; ?>">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="endCep">CEP:</label>

                                    <div class="input-group">
                                        <input type="text" name="endCep" id="endCep" class="form-control"
                                               placeholder="00000-000"
                                               value="<?php echo $this->dadosEmpresa['endCep']; ?>">

                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="buscarCep"
                                                    title="Buscar endereço pelo CEP">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="endLogradouro">Logradouro:</label>
                                    <input type="text" name="endLogradouro" id="endLogradouro" class="form-control"
                                           placeholder="Informe o logradouro"
                                           value="<?php echo $this->dadosEmpresa['endLogradouro']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="endNumero">Número:</label>
                                    <input type="text" name="endNumero" id="endNumero" class="form-control"
                                           placeholder="Informe o número"
                                           value="<?php echo $this->dadosEmpresa['endNumero']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="endComplemento">Complemento:</label>
                                    <input type="text" name="endComplemento" id="endComplemento"
                                           class="form-control"
                                           placeholder="Informe o complemento"
                                           value="<?php echo $this->dadosEmpresa['endComplemento']; ?>">
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="endBairro">Bairro:</label>
                                    <input type="text" name="endBairro" id="endBairro" class="form-control"
                                           placeholder="Informe o bairro"
                                           value="<?php echo $this->dadosEmpresa['endBairro']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="endCidade">Cidade:</label>
                                    <input type="text" name="endCidade" id="endCidade" class="form-control"
                                           placeholder="Informe a cidade"
                                           autocomplete="off"
                                           value="<?php echo $this->dadosEmpresa['endCidade']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="endEstado">Estado:</label>
                                    <input type="text" name="endEstado" id="endEstado" class="form-control"
                                           placeholder="Informe o estado"
                                           value="<?php echo $this->dadosEmpresa['endEstado']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="conContatoTelefone">Telefone:</label>
                                    <input type="text" name="conContatoTelefone" id="conContatoTelefone"
                                           class="form-control"
                                           placeholder="(00) 0000-0000"
                                           value="<?php echo $this->dadosEmpresa['conContatoTelefone']; ?>">
                                    <input type="hidden" name="conContatoTelefoneId" id="conContatoTelefoneId"
                                           value="<?php echo $this->dadosEmpresa['conContatoTelefoneId']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="conContatoEmail">Email:</label>
                                    <input type="text" name="conContatoEmail" id="conContatoEmail"
                                           class="form-control"
                                           placeholder="email@empresa.com.br"
                                           value="<?php echo $this->dadosEmpresa['conContatoEmail']; ?>">
                                    <input type="hidden" name="conContatoEmailId" id="conContatoEmailId"
                                           value="<?php echo $this->dadosEmpresa['conContatoEmailId']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="empresaWebsite">Website:</label>
                                    <input type="text" name="empresaWebsite" id="empresaWebsite"
                                           class="form-control"
                                           placeholder="http://www.empresa.com.br"
                                           value="<?php echo $this->dadosEmpresa['empresaWebsite']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="empresaObservacao">Observações:</label>
                                    <textarea name="empresaObservacao" id="empresaObservacao" class="form-control"
                                              placeholder="Observações"
                                              rows="5"><?php echo $this->dadosEmpresa['empresaObservacao']; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.empresaAdd({
            urlBuscaCEP: '<?php echo $urlBuscaCEP;?>',
            empresaTipo: <?php echo $arrEmpresaTipo;?>,
            data:{
                arrEstados: <?=json_encode($this->arrEstados);?>,
            }
        });
    });
</script>