<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-questionario'));
$paramUrl    = array('controller' => 'avaliacao-questionario', 'action' => 'add');

if ($this->arrDados['questionarioId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['questionarioId'];
}
$urlPesquisaAvaliacaoFim = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-fim', 'action' => 'search-for-json'));
$urlForm                 = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questionario-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-questionario-form" novalidate="novalidate"
                              method="post">
                            <input type="hidden" name="questionarioId" id="questionarioId"
                                   value="<?php echo $this->arrDados['questionarioId']; ?>">
                            <input type="hidden" name="questionarioAlteracao" id="questionarioAlteracao"
                                   value="<?php echo $this->arrDados['questionarioAlteracao']; ?>">
                            <input type="hidden" name="questionarioCriacao" id="questionarioCriacao"
                                   value="<?php echo $this->arrDados['questionarioCriacao']; ?>">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="fim">Fim:</label>
                                    <input type="text" name="fim" id="fim" class="form-control"
                                           placeholder="Fim" maxlength="20">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questionarioTitulo">Título:</label>
                                    <input type="text" name="questionarioTitulo" id="questionarioTitulo"
                                           class="form-control"
                                           placeholder="Título" maxlength="45"
                                           value="<?php echo $this->arrDados['questionarioTitulo']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questionarioDescricao">Descrição:</label>
                                    <textarea name="questionarioDescricao" id="questionarioDescricao"
                                              class="form-control"
                                              placeholder="Descrição"
                                              rows="5"><?php echo $this->arrDados['questionarioDescricao']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questionarioMensagemInicial">Mensagem Inicial:</label>
                                    <textarea name="questionarioMensagemInicial" id="questionarioMensagemInicial"
                                              class="form-control"
                                              placeholder="Mensagem Inicial"
                                              rows="5"><?php echo $this->arrDados['questionarioMensagemInicial']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questionarioMensagemAgradecimento">Mensagem Agradecimento:</label>
                                    <textarea name="questionarioMensagemAgradecimento"
                                              id="questionarioMensagemAgradecimento"
                                              class="form-control"
                                              placeholder="Mensagem Agradecimento"
                                              rows="5"><?php echo $this->arrDados['questionarioMensagemAgradecimento']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questionarioInicio">Início:</label>
                                    <input type="text" name="questionarioInicio" id="questionarioInicio"
                                           class="form-control"
                                           placeholder="Início"
                                           value="<?php echo $this->arrDados['questionarioInicio']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questionarioFim">Fim:</label>
                                    <input type="text" name="questionarioFim" id="questionarioFim" class="form-control"
                                           placeholder="Fim" value="<?php echo $this->arrDados['questionarioFim']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioEstado">Estado:</label>
                                    <select name="questionarioEstado" id="questionarioEstado" class="form-control">
                                        <?php
                                        foreach ($this->arrQuestionarioEstado as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['questionarioEstado']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioSecoes">Secões:</label>
                                    <input type="text" name="questionarioSecoes" id="questionarioSecoes"
                                           class="form-control"
                                           placeholder="Secões" maxlength="11"
                                           value="<?php echo $this->arrDados['questionarioSecoes']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioObrigatoriedade">Obrigatoriedade:</label>
                                    <select name="questionarioObrigatoriedade" id="questionarioObrigatoriedade"
                                            class="form-control">
                                        <?php
                                        foreach ($this->arrQuestionarioObrigatoriedade as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['questionarioObrigatoriedade']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="questionarioAnonimo">Anonimo:</label>
                                    <select name="questionarioAnonimo" id="questionarioAnonimo" class="form-control">
                                        <?php
                                        foreach ($this->arrQuestionarioAnonimo as $value) {
                                            $id        = $value['id'];
                                            $descricao = $value['text'];
                                            $selected  = ($id == $this->arrDados['questionarioAnonimo']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestionarioAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {avaliacaoFim: '<?=$urlPesquisaAvaliacaoFim;?>'},
            data: {},
            value: {fim:<?=json_encode($this->arrDados['fim']); ?>}
        });
    });
</script>