<?php
$paramUrl = array("controller" => "avaliacao-questionario", "action" => "add");

$urlAdd             = $this->url("avaliacao/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("avaliacao/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("avaliacao/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("avaliacao/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questionario-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"
                         id="container-avaliacao-questionario">

                        <table id="dataTableAvaliacaoQuestionario"
                               class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Fim</th>
                                <th>Título</th>
                                <th>Início</th>
                                <th>Fim</th>
                                <th>Alteração</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <footer class="text-center">
                            <a href="<?php echo $urlAdd; ?>" class="btn btn-primary"
                               id="btn-avaliacao-questionario-add">
                                Novo Registro
                            </a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="avaliacao-questionario-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar questionario</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('avaliacao/avaliacao-questionario/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestionarioIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>'
            }
        });
    });
</script>