<?php
$arrDados = $this->mensagemAgradescimento;
$arrDados = $this->urlHome;
$arrDados = $this->urlQuestionario;
?>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="avaliacao-questionario-agradescimento-modal"
     role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1> <?php echo $this->mensagemAgradescimento ?></h1>
            </div>

            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form action="#" id="valor-troco-form" novalidate="novalidate" method="post">
                                <div class="col-sm-12 text-center">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary"
                                                id="agradecimento-tela-inicial-btn">

                                            <i class="fa fa-home"></i>
                                            Voltar a tela inicial
                                        </button>
                                        <button type="button" class="btn btn-success hidden"
                                                id="agradescimento-continuar-btn">
                                            <i class="fa fa-mail-reply"></i>
                                            Continuar respondendo
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>