<?php

$urlSalvar = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questionario', 'action' => 'salvar-questionario'));

$urlQuestionario = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questionario', 'action' => 'responder'));

$urlBase = $this->basePath('/');

$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addComponent('jquery-ui', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('bootstrap.min', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent(
    'font-awesome',
    array('CssCheck' => '.min', 'mode' => 'CSS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('smartadmin-production', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('smartadmin-skins', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('app', array('JsCheck' => '.min', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('select2', array('layout' => 'MaterialAdmin', 'mode' => 'CSS'));
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate', false, 'SmartAdmin');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addCSS('universa-print', false, 'App');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');

$this->layoutComponent()->addJS('avaliacao-questionario-responde', false, 'App');

$arrComplemento                                  = $this->arrComplemento ? $this->arrComplemento : [];
$ativarExibicaoGrade                             = $this->ativarExibicaoGrade ? $this->ativarExibicaoGrade : false;
$temQuestionario                                 = empty($this->arrQuestionario) ? false : true;
$arrTelaAgradescimento['mensagemAgradescimento'] = $this->arrQuestionario[$this->questionarioId]['questionarioMensagemAgradecimento'];
$arrTelaAgradescimento['urlHome']                = $urlBase;
$arrTelaAgradescimento['urlQuestionario']        = $urlQuestionario;
$numeroQuestao                                   = 1;
?>
<style>
    #avaliacao-questionario-agradescimento-modal > .modal-dialog {
        position: absolute;
        width: 40%;
        height: 50%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .logo-questionario {
        width: 100%;
        text-align: center;
    }

    .logo-questionario img {
        max-width: 300px;
        max-height: 70px;
        width: initial;
    }

    legend {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2em;
    }

    @media (max-width: 500px) {
        .col-xs-12 {
            padding: 0;
        }
    }

    * {
        word-wrap: break-word;
    }
</style>

<div class="logo-questionario">
    <a href="<?= $this->basePath('/'); ?>">
        <img src="<?= $this->basePath($this->layoutInformation()->getLogo()); ?>?width=300&height=70">
    </a>
</div>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"
                         id="container-questionario">
                        <form action="<?= $urlSalvar; ?>" class="avaliacao-questionario-responde-form"
                              id="avaliacao-questionario-responde-form" method="post">
                            <input type="hidden" name="pesId" id="pesId" class="hidden" value="<?= $this->pesId; ?>">
                            <input type="hidden" name="questionarioId" id="questionarioId" class="hidden"
                                   value="<?= $this->questionarioId; ?>">

                            <?php

                            if ($this->erro) {
                                echo '
                                <h3 class="text-center">' . $this->mensagem . '</h3>';
                            }

                            foreach ($this->arrQuestionario as $arrQuestionario) {
                                echo '<div class="form-group questionario ">
                                        <h3 class="text-center">' . $arrQuestionario["questionarioTitulo"] . '</h3>
                                        <p class="text-center">' . $arrQuestionario["questionarioDescricao"] . '</p>
                                        <p class="text-center">' . $arrQuestionario["questionarioMensagemInicial"] . '</p>
                                        ';

                                foreach ($arrQuestionario['secoes'] as $arrSecao) {
                                    echo '<fieldset class="secao">
                                           <legend class="text-center">' . $arrSecao['secaoNome'] . '</legend>';

                                    foreach ($arrSecao['perguntas'] as $arrPergunta) {
                                        $perguntaId        = $arrPergunta['questaoId'];
                                        $arrComplementoTmp = [];

                                        if ($arrPergunta['aplicacao'] == 'autoAvaliacao') {
                                            $arrComplementoTmp['0'] = '';
                                        } elseif ($arrPergunta['aplicacao'] == 'docenteTurma') {
                                            $arrComplementoTmp = $arrComplemento['turmas'];
                                        } elseif ($arrPergunta['aplicacao'] == 'alunoDocencia') {
                                            $arrComplementoTmp = $arrComplemento['docencias'];
                                        }

                                        if (!$ativarExibicaoGrade) {
                                            foreach ($arrComplementoTmp as $complementoId => $complementoDescricao) {
                                                echo '<div class="col-xs-12 pergunta' . $perguntaId . '">';

                                                $questaoEnunciado  = $arrPergunta['questaoEnunciado'];
                                                $questaoRespondida = $arrPergunta['questaoRespondida'];

                                                if ($questaoRespondida) {
                                                    $questaoEnunciado = "<b>[RESPONDIDA]</b> " . $questaoEnunciado;
                                                } elseif ($complementoDescricao) {
                                                    $questaoEnunciado = "<b>[" . $complementoDescricao . "]</b> " . $questaoEnunciado;
                                                }

                                                echo "<h4>" . ($numeroQuestao++) . ') ' . $questaoEnunciado . "</h4>";
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][perguntaId]" value="' . $perguntaId . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][aplicacao]" value="' . $arrPergunta['aplicacao'] . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][respondida]" value="' . ($questaoRespondida ? 1 : 0) . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][complemento]" value="' . $complementoId . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][enunciado]" value="' . $questaoEnunciado . '">';

                                                if (!$questaoRespondida) {
                                                    if ($arrPergunta['questaoTipo'] == 'respostaCurta') {
                                                        echo '
                                                            <div class="form-group">
                                                                <input type="text" name="questao[' . $perguntaId . '-' . $complementoId . '][respostaAberta]"
                                                                class="form-control" placeholder="Digite sua resposta">
                                                            </div>';
                                                    } elseif ($arrPergunta['questaoTipo'] == 'respostaLonga') {
                                                        echo '
                                                            <div class="form-group">
                                                                <textarea  name="questao[' . $perguntaId . '-' . $complementoId . '][respostaAberta]"
                                                                class="form-control" placeholder="Digite sua resposta" rows="3"
                                                                 style="margin: 0;vertical-align: middle;"></textarea>
                                                            </div>';
                                                    } else {
                                                        foreach ($arrPergunta['respostas'] as $arrResposta) {
                                                            echo '
                                                            <div class="form-group opcao ">
                                                                <label>';

                                                            if ($arrPergunta['questaoTipo'] == 'multiplaEscolha') {

                                                                echo '<input type="radio" name="questao[' . $perguntaId . '-' . $complementoId . '][resposta]" value="' . $arrResposta['repostaId'] . '" style="margin: 0;vertical-align: middle;">';
                                                            } else {

                                                                echo '<input type="checkbox" name="questao[' . $perguntaId . '-' . $complementoId . '][resposta][]" value="' . $arrResposta['repostaId'] . '" style="margin: 0;vertical-align: middle;">';
                                                            }

                                                            echo '
                                                                    &nbsp &nbsp' . $arrResposta['respostaDescricao'] . '
                                                                </label>
                                                            </div>';
                                                        }
                                                    }
                                                }

                                                echo '</div>';
                                            }
                                        } else {
                                            $questaoRespondida = $arrPergunta['questaoRespondida'];
                                            $questaoEnunciado  = ($numeroQuestao++) . ') ' . $arrPergunta['questaoEnunciado'];
                                            echo '
                                            <div class="col-xs-12 pergunta' . $perguntaId . '">
                                                <div class="col-xs-12">
                                                    <h4><b>' . $questaoEnunciado . '</b></h4>
                                                </div>
                                                <hr>
                                                <br>
                                                <div class="col-xs-12">';

                                            if (!(isset($arrComplementoTmp['0']) && $arrComplementoTmp['0'] == "")) {
                                                echo '
                                                    <div class="col-xs-4 text-center">&nbsp;</div>
                                                    <div class="col-xs-8">';
                                            } else {
                                                echo '<div class="col-xs-12">';
                                            }

                                            if ($arrPergunta['questaoTipo'] == 'multiplaEscolha') {
                                                foreach ($arrPergunta['respostas'] as $arrResposta) {
                                                    echo '
                                                    <div class="col-xs-2 text-center">
                                                        ' . $arrResposta['respostaDescricao'] . '
                                                    </div>';
                                                }
                                            }

                                            echo '
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">';

                                            foreach ($arrComplementoTmp as $complementoId => $complementoDescricao) {
                                                if ($complementoDescricao) {
                                                    echo '
                                                <div class="col-xs-4 text-left">
                                                    ' . $complementoDescricao . '
                                                </div>
                                                <div class="col-xs-8">';
                                                } else {
                                                    echo '<div class="col-xs-12">';
                                                }

                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][perguntaId]" value="' . $perguntaId . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][aplicacao]" value="' . $arrPergunta['aplicacao'] . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][respondida]" value="' . ($questaoRespondida ? 1 : 0) . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][complemento]" value="' . $complementoId . '">';
                                                echo '<input type="hidden" name="questao[' . $perguntaId . '-' . $complementoId . '][enunciado]" value="' . $questaoEnunciado . '">';

                                                if (!$questaoRespondida) {
                                                    if ($arrPergunta['questaoTipo'] == 'respostaCurta') {
                                                        echo '
                                                            <div class="form-group">
                                                                <input type="text" name="questao[' . $perguntaId . '-' . $complementoId . '][respostaAberta]"
                                                                class="form-control" placeholder="Digite sua resposta">
                                                            </div>';
                                                    } elseif ($arrPergunta['questaoTipo'] == 'respostaLonga') {
                                                        echo '
                                                            <div class="form-group">
                                                                <textarea  name="questao[' . $perguntaId . '-' . $complementoId . '][respostaAberta]"
                                                                class="form-control" placeholder="Digite sua resposta" rows="3"
                                                                 style="margin: 0;vertical-align: middle;"></textarea>
                                                            </div>';
                                                    } else {
                                                        foreach ($arrPergunta['respostas'] as $arrResposta) {
                                                            echo '
                                                        <div class="col-xs-2 text-center">
                                                            <div class="form-group opcao ">
                                                                <label>';

                                                            if ($arrPergunta['questaoTipo'] == 'multiplaEscolha') {

                                                                echo '<input type="radio" name="questao[' . $perguntaId . '-' . $complementoId . '][resposta]" value="' . $arrResposta['repostaId'] . '" style="margin: 0;vertical-align: middle;">';
                                                            } else {

                                                                echo '<input type="checkbox" name="questao[' . $perguntaId . '-' . $complementoId . '][resposta][]" value="' . $arrResposta['repostaId'] . '" style="margin: 0;vertical-align: middle;">';
                                                            }

                                                            echo '
                                                                </label>
                                                            </div>
                                                        </div>';
                                                        }
                                                    }
                                                } else {
                                                    echo '<div class="text-center"><b>[RESPONDIDA]</b></div>';
                                                }

                                                echo '
                                                    </div>
                                                </div>
                                                <div class="col-xs-12"><hr></div>
                                                <div class="col-xs-12">';
                                            }

                                            echo '
                                                </div>
                                            </div>';
                                        }
                                    }

                                    echo '</fieldset>';
                                }

                                echo '</div>';
                            }

                            echo $this->partial(
                                'avaliacao/avaliacao-questionario/questionario-agradecimento.phtml',
                                $arrTelaAgradescimento
                            );
                            ?>
                            <div class=" text-center">
                                <button type="submit" class="btn btn-primary hidden"
                                        id="btn-questinonario-enviar">
                                    <span class="fa fa-paper-plane"></span>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.AvaliacaoQuestionarioResponde({
            url: {
                salvar: '<?php echo $urlSalvar;?>',
                telaInicial: '<?php echo $urlBase;?>',
                retornarQuestionario: '<?php echo $urlQuestionario;?>'
            },
            value: {
                pes: '<?php echo $this->pesId?>',
                questionarioId: '<?php echo $this->questionarioId ?>',
                temQuestionario: '<?php echo $temQuestionario?>'
            }
        });
    });
</script>