<!DOCTYPE html>
<html lang="pt-BR" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>Ensinar Melhor</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->

    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support is under construction
                         This RTL CSS will be released in version 1.5
                <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->basePath(
    ); ?>/smart-admin/css/smartadmin-rtl.min.css"> -->

    <!-- We recommend you use "your_style.css" to override SmartAdmin
                     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
                <link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->basePath(
    ); ?>/smart-admin/css/your_style.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="<?php echo $this->basePath(); ?>/smart-admin/css/demo.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="<?php echo $this->basePath(); ?>/smart-admin/img/favicon/favicon.ico"
          type="image/x-icon">
    <link rel="icon" href="<?php echo $this->basePath(); ?>/smart-admin/img/favicon/favicon.ico" type="image/x-icon">


    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
             Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->

    <link rel="apple-touch-icon" href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/touch-icon-ipad-retina.png">


    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->

    <link rel="apple-touch-startup-image"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/ipad-landscape.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image"
          href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/ipad-portrait.png"
          media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="<?php echo $this->basePath(); ?>/smart-admin/img/splash/iphone.png"
          media="screen and (max-device-width: 320px)">
    <style type="text/css">
        body {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #FFF;
        }
    </style>
</head>
<body class="animated fadeInDown">


<header id="header">

    <div id="logo-group">

        <span id="logo"> <img src="<?php echo $this->basePath(); ?>/smart-admin/img/versa-logo2.png"
                              alt="Versa Tecnologia"> </span>

    </div>

</header>
<div id="main" role="main">
    <div id="ajaxLoad"
         style="display:none; height: 100% ;padding-top: 10%; padding-left: 42%;position: absolute; left: 0px;right: 0px;bottom: 0px;top: 0px;background-image: url('/img/preto-transparente.png');background-repeat: repeat;width: 100%;opacity: 1.0;z-index: 9999999;">
        <img src="<?php echo $this->basePath(); ?>/img/ajax-loader.gif" class="loader" alt="loader"/>
    </div>
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-green login-header-big">Versa Tecnologia</h1>

                <div class="hero">

                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Saiba mais em
                            <a href="http://www.versatecnologia.com.br" class="btn btn-success btn-sm">Nosso Site.</a>
                        </h4>
                    </div>

                    <img src="<?php echo $this->basePath(); ?>/smart-admin/img/demo/iphoneview.png"
                         class="pull-right display-image" alt="" style="width:210px">

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <?php
                if (isset($this->erro)) { ?>

                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-danger"></i>
                        <strong>Erro:</strong> <?= $this->erro[0] ?>
                    </div>
                    <?php
                } else {
                    if (isset($this->info)) { ?>
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Atenção:</strong> <?= $this->info[0] ?>
                        </div>
                        <?php
                    }
                }
                ?>
                <div class="well no-padding col-xs-12">
                    <form action="<?= $this->url("acesso-autenticacao-login") ?>" id="login-form"
                          class="smart-form client-form" method="post">
                        <header>
                            Entrar no sistema
                        </header>

                        <fieldset>

                            <section>
                                <label class="label">Login</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" autocomplete="off" readonly
                                           onfocus="this.removeAttribute('readonly');">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entre
                                        com seu login</b></label>
                            </section>

                            <section>
                                <label class="label">Senha</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" autocomplete="off" readonly
                                           onfocus="this.removeAttribute('readonly');">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Entre
                                        com sua senha</b> </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                Esqueceu a senha?
                            </a>
                            <button type="submit" class="btn btn-primary">
                                Logar
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->

<script src="<?php echo $this->basePath(); ?>/js/plugin/pace/pace.min.js"></script>
<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script> if (!window.jQuery) {
        document.write('<script src="<?php echo $this->basePath(); ?>/js/libs/jquery-2.0.2.min.js"><\/script>');
    } </script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script> if (!window.jQuery.ui) {
        document.write('<script src="/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    } </script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
<script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

<!-- BOOTSTRAP JS -->

<script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script> if (!window.jQuery) {
        document.write('<script src="<?php echo $this->basePath(
        );?>/smart-admin/js/libs/jquery-2.0.2.min.js"><\/script>');
    } </script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script> if (!window.jQuery.ui) {
        document.write('<script src="<?php echo $this->basePath(
        );?>/smart-admin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    } </script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
                <script src="<?php echo $this->basePath(
); ?>/smart-admin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

<!-- BOOTSTRAP JS -->
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/bootstrap/bootstrap.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- MAIN APP JS FILE -->

<script src="<?php echo $this->basePath(); ?>/smart-admin/js/app.min.js"></script>
<script type="text/javascript">
    jQuery(function () {
        $("#recuperar").on("click", function () {
            var login = $("#login-recovery").val();
            $.ajax({
                type: "post",
                url: '<?= $this->url('acesso-recovery-password')?>',
                data: {recovery: login},
                success: function (data) {
                    var response = data.response;
                    var button = "<button class='close' data-dismiss='alert'>×</button>";
                    $("#alert-message").removeClass();

                    if (response.type == 'warning') {
                        var message = "<strong>Aviso</strong> " + response.message;
                        var icon = "<i class='fa-fw fa fa-warning'></i>";

                        $("#alert-message").addClass('alert alert-warning fade in').html(button + icon + message);

                    } else if (response.type == 'success') {
                        var message = "<strong>Sucesso</strong> " + response.message;
                        var icon = "<i class='fa-fw fa fa-check'></i>";

                        $("#alert-message").addClass('alert alert-success fade in').html(button + icon + message);

                    } else if (response.type == 'error') {
                        var message = "<strong>Erro</strong> " + response.message;
                        var icon = "<i class='fa-fw fa fa-times'></i>";

                        $("#alert-message").addClass('alert alert-danger fade in').html(button + icon + message);
                    }

                    $("#myModalLabel").show("slow");
//                    setTimeout(function () {
//                        $("#myModalLabel").fadeOut();
//                    }, 8000);
                },
                beforeSend: function () {
                    $('#ajaxLoad').css({display: "block"});
                },
                complete: function () {
                    $('#ajaxLoad').css({display: "none"});
                }
            });
        });
    });
</script>
<!-- Modal recovery password -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" name="recovery-password">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Recupere sua senha
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="display: none" id="myModalLabel">
                        <div id="alert-message">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-recovery">Login ou Email:</label>
                        <input type="text" name="recovery" class="form-control" id="login-recovery"
                               placeholder="Login ou Email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="recuperar" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
