<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo'));
$paramUrl    = array('controller' => 'protocoloVinculado', 'action' => 'add');

if ($this->arrDados['protocoloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['protocoloId'];
}
$urlPesquisaProtocoloSolicitacao = $this
    ->url('protocolo/default', array('controller' => 'protocolo-solicitacao', 'action' => 'search-for-json'));
$urlPesquisaPessoa               = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAlunoCurso  = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno-curso', 'action' => 'search-for-json'));
$urlPesquisaProtocoloSetor       = $this
    ->url('protocolo/default', array('controller' => 'protocolo-setor', 'action' => 'search-for-json'));
$urlForm                         = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('jquery.form', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="protocolo-form" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="ajax" id="ajax" value=false>
                        <input type="hidden" name="filtrarSolicitante" value=true>
                        <input type="hidden" name="protocoloId"
                               value="<?php echo $this->arrDados['protocoloId']; ?>">

                        <div class="col-sm-12 solicitacao-pessoa">
                            <div class="form-group">
                                <label for="protocoloSolicitantePes">Solicitante:</label>
                                <input type="text" name="protocoloSolicitantePes" id="protocoloSolicitantePes"
                                       class="form-control"
                                       placeholder="Nome Solicitante" maxlength="100"
                                       value="<?php echo $this->arrDados['protocoloSolicitantePes']; ?>">
                            </div>
                        </div>
                        <div class="solicitacao-corpo">
                            <div class="col-sm-12 solicitacao-aluno">
                                <div class="form-group">
                                    <label for="protocoloSolicitanteAlunocurso">Aluno:</label>
                                    <input type="text" name="protocoloSolicitanteAlunocurso"
                                           id="protocoloSolicitanteAlunocurso" class="form-control"
                                           placeholder="Pesquise pela Matrícula ou pelo Nome do aluno" maxlength="12">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="setorId">Setor:</label>
                                    <input type="text" name="setorId" id="setorId"
                                           class="form-control"
                                           placeholder="Setor" maxlength="100"
                                           value="<?php echo $this->arrDados['setor']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="solicitacao">Solicitação:</label>
                                    <input type="text" name="solicitacao" id="solicitacao"
                                           class="form-control"
                                           placeholder="Solicitação" maxlength="100"
                                           value="<?php echo $this->arrDados['solicitacao']; ?>" disabled>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="protocoloAssunto">Assunto:</label>
                                    <input type="text" name="protocoloAssunto" id="protocoloAssunto"
                                           class="form-control"
                                           placeholder="Assunto" maxlength="200"
                                           value="<?php echo $this->arrDados['protocoloAssunto']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="protocoloMensagem">Mensagem:</label>
                                    <textarea name="protocoloMensagem" id="protocoloMensagem"
                                              class="form-control "></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="divAnexoInput hidden">
                            <input type="file" name="arrArquivo[]" id="anexoInputAdd" class="hidden">
                            <button type="button" class="btn btn-danger btn-sm btn-excluir-arquivo">&times;</button>
                        </div>

                        <table class="table hidden" id="tabela-anexos">
                            <thead>
                            <tr>
                                <th>Arquivo</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody id="tabela-anexos-corpo">
                            </tbody>
                        </table>

                        <div class="col-sm-12 text-center div-anexos-add" id="arrMensagemAnexos-add"></div>

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <div class="form-control-static">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>

                                    <button type="button" class="btn btn-default" id="btn-anexar-add">
                                        Adicionar Anexo <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        <?php $estilo = $this->basePath() . '/css/universa/protocolo/protocolo/protocolo-edit.css';?>
        CKEDITOR.config.contentsCss = "<?php echo $estilo ?>";
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            filtrarSolicitante: <?php echo $this->filtrarSolicitante?1:0 ?>,
            url: {
                protocoloSolicitacao: '<?=$urlPesquisaProtocoloSolicitacao;?>',
                pessoa: '<?=$urlPesquisaPessoa;?>',
                acadgeralAlunoCurso: '<?=$urlPesquisaAcadgeralAlunoCurso;?>',
                protocoloSetor: '<?=$urlPesquisaProtocoloSetor;?>'
            },
            data: {
                arrUsuarioLogado: <?=json_encode($this->arrUsuarioLogado)?>
            },
            value: {
                solicitacao:<?=json_encode($this->arrDados['solicitacao']); ?>,
                usuarioIdResponsavel:<?=json_encode($this->arrDados['usuarioIdResponsavel']); ?>,
                protocoloSolicitantePes:<?=json_encode($this->arrDados['protocoloSolicitantePes']); ?>,
                protocoloSolicitanteAlunocurso:<?=json_encode($this->arrDados['protocoloSolicitanteAlunocurso']); ?>,
                setor:<?=json_encode($this->arrDados['setor']); ?>,
                protocoloSolicitanteVisivel:<?=json_encode($this->arrProtocoloSolicitanteVisivel); ?>,
                protocoloSituacao:<?=json_encode($this->arrProtocoloSituacao); ?>
            }
        });
    });
</script>