<?php
$urlListagem        = $this->url('protocolo/default', array('controller' => 'protocolo-vinculado'));
$paramUrl           = array('controller' => 'protocolo-vinculado', 'action' => 'add');
$paramUrl['action'] = 'edit';
$urlEditar          = $this->url('protocolo/default', $paramUrl);
$paramUrl['action'] = 'add';
$urlNovo            = $this->url('protocolo/default', $paramUrl);

$urlDownFile = $this->url("gerenciador-arquivos/default", array("controller" => "arquivo", "action" => "download"));

if ($this->arrDados['protocoloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['protocoloId'];
}

$urlForm = $this->url('protocolo/default', $paramUrl);

$paramUrl             = array('controller' => 'protocolo-vinculado', 'action' => 'add-mensagem');
$urlProtocoloMensagem = $this->url('protocolo/default', $paramUrl);

$paramUrl         = array('controller' => 'protocolo-vinculado', 'action' => 'search-protocolo-arquivo');
$urlSearchArquivo = $this->url('protocolo/default', $paramUrl);

$paramUrl  = array('controller' => 'protocolo-vinculado', 'action' => 'search-mensagem');
$urlSearch = $this->url('protocolo/default', $paramUrl);

$paramUrl            = array('controller' => 'protocolo-vinculado', 'action' => 'atualiza-situacao');
$urlAtualizaSituacao = $this->url('protocolo/default', $paramUrl);

$paramUrl          = array('controller' => 'protocolo-mensagem-padrao', 'action' => 'search-for-json');
$urlMensagemPadrao = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('jquery.form', false, 'App');
$this->layoutComponent()->addJS('protocolo-edit', false, 'App');
$this->layoutComponent()->addCSS('protocolo-edit', false, 'App');
?>
<style>
    .infoProtocol {
        max-height: 450px;
        overflow: auto;
    }
</style>
<section id="widget-grid" class="edit-body">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <fieldset>
                <legend>
                    <p class="form-control-static protocoloAssunto"></p>
                </legend>
                <div class="chat-fieldset">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="chat_corpo">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <form action="<?= $urlProtocoloMensagem ?>" method="post" id="formProtocoloMensagem"
                  enctype="multipart/form-data">
                <input type="hidden" name="protocolo">
                <input type="hidden" name="ajax" value=false>

                <fieldset class="msg-box">

                    <div class="col-sm-12 msg-fieldset">
                        <div class="form-group">
                            <textarea name="mensagemConteudo" class="form-control" id="mensagemConteudo"></textarea>
                        </div>
                    </div>

                    <input style="display: none" type="file" name="arrArquivo[]" id="anexoInput">

                    <div class="div-anexos" id="arrMensagemAnexos"></div>

                    <div class="col-sm-12">
                        <label for="envioComEnter">Enviar com Enter</label>
                        <input type="checkbox" id="envioComEnter">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-default btn-ver-anexos"
                                    data-toggle="modal" data-target="#protocoloMensagemArquivo-modal">
                                Anexar na Mensagem &nbsp; <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </button>
                            <button type="submit" class="btn btn-info" id="btn-enviar">
                                Enviar &nbsp; <i class="fa fa-paper-plane " aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form action="<?php echo $urlForm; ?>" novalidate="novalidate" method="post" id="form-info">
                <input type="hidden" name="protocoloId"
                       value="<?php echo $this->arrDados['protocoloId']; ?>">
                <fieldset>
                    <legend>Informações do Protocolo:</legend>
                </fieldset>
                <div class="infoProtocol">
                    <div class="col-sm-6">
                        <label>Data de criação:</label>

                        <div class="form-group">
                            <p data-info="dataProtocoloCriacao" class="form-control-static dataProtocoloCriacao">-</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Última atualização:</label>

                        <div class="form-group">
                            <p data-info="dataProtocoloAtualizacao"
                               class="form-control-static dataProtocoloAtualizacao">
                                -</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Usuário Alteração:</label>

                            <p data-info="usuario_alteracao" class="form-control-static usuarioAlteracao">-</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Usuário Criação:</label>

                            <p data-info="usuario_criacao" class="form-control-static usuarioCriacao">-</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>CPF:</label>

                            <p data-info="pes_cpf" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Matrícula:</label>

                            <p data-info="alunocurso_id" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Responsável:</label>

                            <p data-info="nome_responsavel" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Setor/Solicitação:</label>

                            <p class="form-control-static">
                                <span data-info="protocoloSetor"></span> /
                                <span data-info="solicitacao"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Solicitante:</label>

                            <p data-info="protocoloSolicitanteNome" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Aluno/Curso:</label>

                            <p data-info="protocoloSolicitanteAlunocurso" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>E-mail Solicitante:</label>

                            <p data-info="protocoloSolicitanteEmail" class="form-control-static">-</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Telefone/Celular Solicitante:</label>

                            <p data-info="protocoloSolicitanteTelefone" class="form-control-static">
                                <span data-info="protocoloSolicitanteTelefone"></span> /
                                <span data-info="protocoloSolicitanteCelular"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="protocoloSituacao">Situação:</label>
                        <input type="text" name="protocoloSituacao"
                               class="form-control"
                               value="Aberto" id="protocoloSituacao">
                    </div>
                </div>
                <div class="col-sm-12 text-center" style="margin-top: 2%">
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloEdit({
            filtrarSolicitante: <?php echo $this->filtrarSolicitante?1:0 ?>,
            url: {
                novo: '<?php echo $urlNovo; ?>',
                editar: '<?php echo $urlEditar; ?>',
                search: '<?php echo $urlSearch ?>',
                protocoloMensagem: '<?php echo $urlProtocoloMensagem ?>',
                atualizaSituacao: '<?php echo $urlAtualizaSituacao ?>',
                mensagemPadrao: '<?php echo $urlMensagemPadrao ?>',
                searchArquivo: '<?php echo $urlSearchArquivo ?>',
                downloadArquivo: '<?php echo $urlDownFile ?>'
            },
            data: {
                arrUsuarioLogado: <?= json_encode($this->arrUsuarioLogado);?>
            },
            value: {
                arrDados:<?=json_encode($this->arrDados); ?>,
                arrProtocoloSituacao:<?=json_encode($this->arrProtocoloSituacao); ?>
            }
        });
    });
</script>