<?php
$urlSearch      = $this->url("biblioteca/default", array("controller" => "multa", "action" => "search"));
$urlCancelar    = $this->url("biblioteca/default", array("controller" => "multa", "action" => "cancelar"));
$urlBaixa       = $this->url("biblioteca/default", array("controller" => "multa", "action" => "baixa"));
$urlComprovante = $this->url("financeiro/default", array("controller" => "painel", "action" => "comprovante"));

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('multa-index', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <table id="dataTableMulta" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Leitor</th>
                            <th>Usuário Baixa</th>
                            <th>Usuário Autor</th>
                            <th>Processamento</th>
                            <th>Vencimento</th>
                            <th>Pagamento</th>
                            <th>Valor</th>
                            <th>Valor Pago</th>
                            <th>Observação</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     data-keyboard="false" data-backdrop="static" id="multa-comprovante-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 34% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comprovante de Pagamento:</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <iframe id="corpo-recibo-modal" style="border: none; min-height: 300px;" src="about:blank"
                                class="col-sm-12"></iframe>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                    Fechar
                                </button>
                                <button type="button" class="btn btn-primary"
                                        id="multa-comprovante-impressao">
                                    <i class="fa fa-print"></i>
                                    Imprimir
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.multaIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlCancelar: '<?php echo $urlCancelar;?>',
            urlBaixa: '<?php echo $urlBaixa;?>',
            permissaoBaixa: <?= json_encode($this->permissaoBaixa) ?>,
            permissaoCancelar: <?= json_encode($this->permissaoCancelar) ?>,
            comprovantePagamento: '<?php echo $urlComprovante;?>'
        });
    });
</script>
