<?php

$urlListagem = $this->url('atividades/default', array('controller' => 'aluno-atividades'));
$urlAdd      = $this->url('atividades/default', array('controller' => 'aluno-atividades', 'action' => 'add'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('aluno-atividades-add', false, 'App');
?>
<style>
    .loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    #blocoDataFinal {
        display: none;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body">
                    <?php } ?>
                    <input type="hidden" id="save" value="">

                    <form action="" id="aluno-atividades-form" novalidate="novalidate" method="post">
                        <input type="hidden" name="alunonucleo" id="alunonucleo"
                               value="<?= $this->arrDados['alunonucleo']; ?>">
                        <input type="hidden" name="alunoAtividadeId" id="alunoAtividadeId"
                               value="<?= $this->arrDados['alunoAtividadeId']; ?>">
                        <input type="hidden" name="atividadeId" id="atividadeId"
                               value="<?= $this->arrDados['atividadeId']; ?>">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="tipoLancamento"> Tipo de Lançamento:</label>
                                    <input type="text" name="tipoLancamento" id="tipoLancamento" value="diario"
                                           class="form-control" placeholder="Tipo De Lançamento">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="alunoatividadeDataInicial">Data da Atividade</label>
                                    <input type="text" name="alunoatividadeDataInicial" id="alunoatividadeDataInicial"
                                           class="form-control" placeholder="00/00/0000"
                                           value="<?php echo $this->arrDados['alunoatividadeDataInicial']; ?>"/>
                                </div>
                            </div>
                            <div class="col-sm-4" id="blocoDataFinal">
                                <div class="form-group">
                                    <label for="alunoatividadeDataFinal">Terminio da Atividade</label>
                                    <input type="text" name="alunoatividadeDataFinal" id="alunoatividadeDataFinal"
                                           class="form-control" placeholder="00/00/0000"
                                           value="<?php echo $this->arrDados['alunoatividadeDataFinal']; ?>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="horasPontos">Horas/Pontos</label>
                                    <input type="text" name="horasPontos" id="horasPontos" class="form-control"
                                           placeholder="Horas/Atividades"
                                           value="<?php echo $this->arrDados['horas_pontos']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="alunoatividadeDescricao">Descrição:</label>
                                <textarea name="alunoatividadeDescricao" id="alunoatividadeDescricao"
                                          class="form-control"
                                          placeholder="Descrição da Atividade"
                                          rows="5"><?php echo $this->arrDados['alunoatividadeDescricao']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="alunoatividadeDescricao">Observação:</label>
                                <textarea name="alunoatividadesObservacao" id="alunoatividadesObservacao"
                                          class="form-control"
                                          placeholder="Observação"
                                          rows="5"><?php echo $this->arrDados['alunoatividadesObservacao']; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <?php if (!$this->partial) { ?>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        <?php } ?>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div>
            <?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.alunoAtividadesAdd({
            partial: <?=$this->partial?>,
            url: {
                alunoAtividadesAdd: '<?=$urlAdd?>',
            },
        });
    });
</script>