<div role="tabpanel" class="tab-pane row" id="alunoAcademico">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
                <table id="tableAtividades"
                   class="table table-condensed table-striped"
                   width="100%">
                <thead>
                <tr>
                    <th>Data de Lançamento</th>
                    <th>Horas</th>
                    <th>Descrição</th>
                    <th>Período Letivo</th>
                    <th>Responsável</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="atividadeEditar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edição de horas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="atvHoras"><b>Horas:</b></label>
                            <input type="text" name="atvHoras" id="atvHoras"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default fechar" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger salvarHoras">Salvar</button>
            </div>
        </div>

    </div>
</div>
