<?php
$urlPeriodo = $this->url(
    "atividades/default",
    array("controller" => "atividade-periodo-letivo", "action" => "search-for-json-periodo")
);

$urlPesquisaAlunoPeriodo = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-aluno', 'action' => 'search-for-json'));

$urlPesquisaAlunoPeriodoAtividade = $this
    ->url('matricula/default', array('controller' => 'atividadeperiodo-aluno', 'action' => 'search-for-json'));

$urlPesquisaPortfolio = $this
    ->url('atividades/default', array('controller' => 'aluno-portfolio', 'action' => 'aluno-portfolio'));

$urlNucleo = $this
    ->url('atividades/default', array('controller' => 'nucleo', 'action' => 'search-for-json'));

$urlPesquisaAlunoNucleo = $this
    ->url('atividades/default', array('controller' => 'aluno-nucleo', 'action' => 'aluno-nucleos'));

$urlTrocaAlunoNucleo = $this
    ->url('atividades/default', array('controller' => 'aluno-nucleo', 'action' => 'troca-aluno-nucleo'));

$urlNucleo = $this
    ->url('atividades/default', array('controller' => 'nucleo', 'action' => 'search-for-json'));

$urlDesliga = $this
    ->url('atividades/default', array('controller' => 'aluno-nucleo', 'action' => 'desliga-aluno-nucleo'));

$urlAddPortfolio = $this
    ->url('atividades/default', array('controller' => 'aluno-portfolio', 'action' => 'add'));

$urlDataAtividades = $this
    ->url('atividades/default', array('controller' => 'aluno-atividades', 'action' => 'search'));

$urlPesquisaAtividadePeriodo = $this
    ->url('atividades/default', array('controller' => 'aluno-portfolio', 'action' => 'search-for-json'));

$urlAtividadeConfig = $this
    ->url('atividades/default', array('controller' => 'configuracoes-atividades', 'action' => 'search-for-json'));

$paramUrl = array("controller" => "aluno-atividades", "action" => "add");

$urlAdd             = $this->url("atividades/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("atividades/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("atividades/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("atividades/default", $paramUrl);

$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('aluno-atividades/interface-geral', false, 'App');

?>
<style>
    .loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 0px 10px #FFF;
    }

    .glyphicon {
        font-size: 10px;
    }

    .glyphicon.glyphicon-remove.glyphicon-pencil {
        font-size: 15px;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="alunoPesquisa">Pesquisar aluno:</label>
                                <input type="text" name="alunoPesquisa" id="alunoPesquisa"
                                       class="form-control" placeholder="Pesquise pelo código, matrícula e nome">
                            </div>
                        </div>
                    </div>
                    <div id="alunoAbasAviso" class="col-xs-12">
                        <div class="alert alert-info">Selecione um aluno para continuar.</div>
                    </div>
                    <div>&nbsp;</div>
                    <div id="alunoAbas" class="col-xs-12" hidden>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#alunoInformacao" aria-controls="alunoInformacao" role="tab"
                                   data-toggle="tab">
                                    Infomações do aluno
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#nucleoConvenio" aria-controls="nucleoConvenio" role="tab"
                                   data-toggle="tab">
                                    Núcleos e Convênios
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#atividades" aria-controls="atividades" role="tab"
                                   data-toggle="tab">
                                    Atividade do aluno
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#porftolio" aria-controls="porftolio" role="tab"
                                   data-toggle="tab">
                                    Portfólio
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane row active" id="alunoInformacao">
                                <div class="col-xs-12">
                                    <?= $this->partial(
                                        'atividades/aluno-atividades/informacoes-aluno.phtml',
                                        array()
                                    ) ?>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane row" id="nucleoConvenio">
                                <div class="col-xs-12">
                                    <?= $this->partial('atividades/aluno-atividades/nucleo-convenio.phtml', array()) ?>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane row" id="porftolio">
                                <div class="col-xs-12">
                                    <?= $this->partial('atividades/aluno-atividades/portfolio.phtml', array()) ?>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane row" id="atividades">
                                <div class="col-xs-12">
                                    <?= $this->partial('atividades/aluno-atividades/atividades.phtml', array()) ?>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.alunoAtividades({
            url: {
                alunoPeriodo: '<?= $urlPesquisaAlunoPeriodo ?>',
                alunoAtividade: '<?= $urlPesquisaAlunoPeriodoAtividade ?>',
                alunoNucleo: '<?= $urlPesquisaAlunoNucleo ?>',
                alunoPortfolio: '<?= $urlPesquisaPortfolio ?>',
                addPortfolio: '<?= $urlAddPortfolio ?>',
                atividadePeriodo: '<?= $urlPesquisaAtividadePeriodo ?>',
                atividadeConfig: '<?= $urlAtividadeConfig ?>',
                urlAtividades: '<?= $urlDataAtividades ?>',
                urlPeriodo: '<?= $urlPeriodo ?>',
                urlNucleo: '<?= $urlNucleo ?>',
                urlEdit: '<?= $urlEdit ?>',
                urlRemove: '<?= $urlRemove ?>',
                trocaNucleo: '<?= $urlTrocaAlunoNucleo ?>',
                urlDesliga: '<?= $urlDesliga ?>'
            },
            data: {
                atividadePraticaId: '<?= \Atividades\Service\AtividadegeralAtividades::ATIVIDADES_PRATICAS_SUPERVISIONADAS?>',
                portifolioId: '<?= \Atividades\Service\AtividadegeralAtividades::PORTFOLIO ?>'
            },
            value: {
                possuiAcessoExclusao: <?= json_encode($this->possuiAcessoExclusao) ?>
            }
        });
    });
</script>