<div class="col-xs-12">
    <div class="col-xs-2">
        <div class="form-group">
            <label>Matrícula:</label>

            <p class="form-control-static" data-info="alunocursoId">-</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label>Nome:</label>

            <p class="form-control-static" data-info="pesNome">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Nascimento:</label>

            <p class="form-control-static" data-info="pesDataNascimento">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Sexo:</label>

            <p class="form-control-static" data-info="pesSexo">-</p>
        </div>
    </div>
</div>


<div class="col-xs-12">
    <div class="col-xs-2">
        <div class="form-group">
            <label>Câmpus:</label>

            <p class="form-control-static" data-info="campNome">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Curso:</label>

            <p class="form-control-static" data-info="cursoNome">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Total de Horas:</label>

            <p class="form-control-static" data-info="totalHoras">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Entrega do Portfólio:</label>

            <p class="form-control-static" data-info="dataPortfolio">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Situação no Portfolio:</label>

            <p class="form-control-static" data-info="situacaoDescricaoPortifolio">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Situação no Estágio:</label>

            <p class="form-control-static" data-info="situacaoDescricao">-</p>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-xs-2">
        <div class="form-group">
            <label>Turma:</label>

            <p class="form-control-static" data-info="turmaNome">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Período Letivo:</label>

            <p class="form-control-static" data-info="periodoLetivo">-</p>
        </div>

    </div>
    <div class="col-xs-2">

        <div class="form-group">
            <label>Situação de Matricula:</label>

            <p class="form-control-static" data-info="situacaoPeriodo">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Telefone:</label>

            <p class="form-control-static" data-info="conContatoTelefone">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Celular:</label>

            <p class="form-control-static" data-info="conContatoCelular">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>E-mail:</label>

            <p class="form-control-static" data-info="conContatoEmail">-</p>
        </div>
    </div>
</div>


<div class="col-xs-12">
    <div class="col-xs-2">
        <div class="form-group">
            <label>CEP:</label>

            <p class="form-control-static" data-info="endCep">-</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label>Logradouro:</label>

            <p class="form-control-static" data-info="endLogradouro">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Número:</label>

            <p class="form-control-static" data-info="endNumero">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Bairro:</label>

            <p class="form-control-static" data-info="endBairro">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Cidade:</label>

            <p class="form-control-static" data-info="endCidade">-</p>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label>Estado:</label>

            <p class="form-control-static" data-info="endEstado">-</p>
        </div>
    </div>
</div>