<div class="col-xs-12">
    <table id="tbNucleo" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th>Atividade Complementar</th>
            <th>Total de Horas</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div>&nbsp;</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-add-hours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleAtividade"></h4>
            </div>
            <div class="modal-body">
                <?= $this->partial('atividades/aluno-atividades/add.phtml', array('partial' => true)) ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="saveAlunoAtividades" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="trocarNucleo" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Mudança da atividade</b></h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="nucleoPesquisa">Pesquisar Núcleo:</label>
                        <input type="text" name="nucleoPesquisa" id="nucleoPesquisa"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning trocar">Realizar Troca</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="desligamentoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Desligamento</b></h4>
            </div>
            <div class="modal-body">
                <h3>Desligar <b><span id="msgAluno"></span></b> de <b><span class="msgNucleo"></span></b> ?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger desligar">Sim</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Não</button>
            </div>
        </div>

    </div>
</div>