<div class="col-sm-12">
    <input type="hidden" name="atividadePortfolioId" id="atividadePortfolioId"
           value="<?= \Atividades\Service\AtividadegeralAtividades::PORTFOLIO ?>">
    <table id="tbPortfolio"
           class="table table-striped table-bordered table-hover"
           width="100%">
        <thead>
        <tr>
            <th>Data de Entrega</th>
            <th>Data de Avaliação</th>
            <th>Pontuação Alcançada</th>
            <th>Resultado da Avaliação</th>
            <th>Observações</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
    <div id="infoPort"></div>
</div>
<div class="container row">
    <div class="form-group col-xs-2">
        <div class="input-group">
            <button class="btn btn-primary" id="btnLancamentoPort">
                Lançamento
            </button>
        </div>
    </div>
</div>

<div id="modalPortfolio" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">Portfólio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" id="formDatasConclusao">

                        <div class="form-group">
                            <label for="ptAlcancada">Pontuação Alcançada:</label>
                            <input type="number" class="form-control" id="ptAlcancada" name="ptAlcancada" required>
                        </div>
                        <div class="form-group">
                            <label for="obs">Observações:</label>
                            <input type="text" class="form-control" id="obs" name="obs" required>
                        </div>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary" id="salvarPortfolio">Salvar</button>
            </div>
        </div>
    </div>
</div>
