<?php
$urlListagem = $this->url('crm/default', array('controller' => 'crm-lead-interesse'));
$paramUrl    = array('controller' => 'crm-lead-interesse', 'action' => 'add');

if ($this->arrDados['leadInteresseId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['leadInteresseId'];
}
$urlPesquisaCrmLead      = $this
    ->url('crm/default', array('controller' => 'crm-lead', 'action' => 'search-for-json'));
$urlPesquisaCrmInteresse = $this
    ->url('crm/default', array('controller' => 'crm-interesse', 'action' => 'search-for-json'));
$urlForm                 = $this->url('crm/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-lead-interesse-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="crm-lead-interesse-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="leadInteresseId" id="leadInteresseId"
                               value="<?php echo $this->arrDados['leadInteresseId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="pes">Código Pessoa:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Código Pessoa" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="interesse">Código Interesse:</label>
                                <input type="text" name="interesse" id="interesse" class="form-control"
                                       placeholder="Código Interesse" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmLeadInteresseAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                crmLead: '<?=$urlPesquisaCrmLead;?>',
                crmInteresse: '<?=$urlPesquisaCrmInteresse;?>'
            },
            data: {},
            value: {
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                interesse:<?=json_encode($this->arrDados['interesse']); ?>
            },
        });
    });
</script>