<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-integracao'));
$urlCampus   = $this->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));
$paramUrl    = array('controller' => 'sis-integracao', 'action' => 'add');

if ($this->arrDados['integracaoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['integracaoId'];
}
$urlForm = $this->url('sistema/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-integracao-add', false, 'App');

?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="sis-integracao-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="integracaoId" id="integracaoId"
                               value="<?php echo $this->arrDados['integracaoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="integracaoDescricao">Descrição:</label>
                                <input type="text" name="integracaoDescricao" id="integracaoDescricao"
                                       class="form-control"
                                       placeholder="Descrição" maxlength="100"
                                       value="<?php echo $this->arrDados['integracaoDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="integracaoTipo">Tipo:</label>
                                <select name="integracaoTipo" id="integracaoTipo" class="form-control">
                                    <?php
                                    foreach ($this->arrIntegracaoTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['integracaoTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="integracaoToken">Token:</label>
                                <input type="text" name="integracaoToken" id="integracaoToken" class="form-control"
                                       placeholder="Token" maxlength="50" readonly
                                       value="<?php echo $this->arrDados['integracaoToken']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="integracaoUrl">URL:</label>
                                <input type="text" name="integracaoUrl" id="integracaoUrl" class="form-control"
                                       placeholder="URL"
                                       value="<?php echo $this->arrDados['integracaoUrl']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="integracaoCabecalhoEnvio">Cabeçalho de Envio:</label>
                                <textarea name="integracaoCabecalhoEnvio" id="integracaoCabecalhoEnvio"
                                          class="form-control" placeholder="Cabeçalho de Envio"
                                          rows="5"><?php echo $this->arrDados['integracaoCabecalhoEnvio']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="integracaoSituacao">Situação:</label>
                                <select name="integracaoSituacao" id="integracaoSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrIntegracaoSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['integracaoSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="campus">Campus:</label>
                                <input type="text" name="campus" id="campus" class="form-control" placeholder="Campus">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisIntegracaoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                campus: '<?php echo $urlCampus ?>'
            },
            data: {},
            value: {
                campus: <?php echo json_encode($this->arrDados['campus']); ?>
            }
        });
    });
</script>