<?php
$urlListagem = $this->url('comunicacao/default', array('controller' => 'comunicacao-campanha'));
$paramUrl    = array('controller' => 'comunicacao-campanha', 'action' => 'add');

if ($this->arrDados['campanhaId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['campanhaId'];
}
$urlPesquisaAcessoPessoas = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlPesquisaAcessoPessoas = $this
    ->url('acesso/default', array('controller' => 'acesso-pessoas', 'action' => 'search-for-json'));
$urlForm                  = $this->url('comunicacao/default', $paramUrl);

$urlGerenciadorDeArquivosThumb    = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('jquery.form.min', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery');
$this->layoutComponent()->addComponent('jquery.md5', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.getPath', array('layout' => 'App'));
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addJS('comunicacao-campanha-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="comunicacao-campanha-form" novalidate="novalidate"
                              method="post" enctype="multipart/form-data">
                            <input type="hidden" name="campanhaId" id="campanhaId"
                                   value="<?php echo $this->arrDados['campanhaId']; ?>">

                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="campanhaNome">Nome:</label>
                                        <input type="text" name="campanhaNome" id="campanhaNome" class="form-control"
                                               placeholder="Nome para a campanha" maxlength="255"
                                               value="<?php echo $this->arrDados['campanhaNome']; ?>">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="campanhaLink">Link:</label>
                                        <input name="campanhaLink" id="campanhaLink" class="form-control"
                                               placeholder="Link"
                                               value="<?php echo $this->arrDados['campanhaLink']; ?>">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="campanhaArquivo">Estampa da campanha</label>
                                        <input name="campanhaArquivo" class="form-control" id="campanhaArquivo"
                                               type="file"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="campanhaAlvo">Alvo:</label>
                                        <input name="campanhaAlvo" id="campanhaAlvo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="campanhaSituacao">Situação:</label>
                                        <select name="campanhaSituacao" id="campanhaSituacao" class="form-control">
                                            <?php
                                            foreach ($this->arrCampanhaSituacao as $value) {
                                                $id        = $value['id'];
                                                $descricao = $value['text'];
                                                $selected  = ($id == $this->arrDados['campanhaSituacao']) ? " selected"
                                                    : "";
                                                echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="campanhaDescricao">Descrição:</label>
                                        <textarea name="campanhaDescricao" id="campanhaDescricao" class="form-control"
                                                  placeholder="Descrição"
                                                  rows="6"><?php echo $this->arrDados['campanhaDescricao']; ?></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.comunicacaoCampanhaAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                acessoPessoas: '<?=$urlPesquisaAcessoPessoas;?>',
                gerenciadorDeArquivosThumb: '<?=$urlGerenciadorDeArquivosThumb;?>',
                gerenciadorDeArquivosDownload: '<?=$urlGerenciadorDeArquivosDownload;?>'
            },
            data: {
                arrCampanhaAlvo: <?=json_encode($this->arrCampanhaAlvo)?>
            },
            value: {
                campanhaUsuarioAlteracao:<?=json_encode($this->arrDados['campanhaUsuarioAlteracao']); ?>,
                campanhaArquivo: <?=json_encode($this->arrDados['campanhaArquivo']);?>
            }
        });
    });
</script>