<?php
$paramUrl = array("controller" => "comunicacao-campanha", "action" => "add");

$urlAdd             = $this->url("comunicacao/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("comunicacao/default", $paramUrl);

$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlCaptacaoAluno                 = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'captacao'));
$urlCampanhaEstatistica           = $this
    ->url('comunicacao/default', array('controller' => 'comunicacao-campanha-estatistica', 'action' => 'captacao'));
$urlEditarAluno                   = $this
    ->url('matricula/default', array('controller' => 'acadgeral-aluno', 'action' => 'edit'));

$this->layoutComponent()->addJS('ckeditor/ckeditor');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('bootstrap-caroulsel');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('comunicacao-campanha-carousel', false, 'App');
?>
<style>
    #modal-campanha .item {
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #modal-campanha .item-descricao {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #modal-campanha .carousel-control {
        color: #0c0c0c;
    }

    .carousel-inner > .item > a > img {
        max-width: 100%;
        max-height: 500px;
        height: auto;
        margin: auto;
    }

    #modal-campanha .carousel-inner > .item {
        text-align: center;
    }

    #modal-campanha .modal-body {
        padding: 0;
    }

    #modal-campanha .modal-dialog {
        width: 800px;
    }

    #modal-campanha .close-campanha {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 99999;
    }

    @media screen and (max-width: 800px) {
        #modal-campanha .modal-dialog {
            width: 300px;
        }

        #modal-campanha .item {
            height: 187px;
        }

        #modal-campanha .carousel-inner > .item > a > img {
            max-height: 187px;
        }
    }
</style>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-campanha" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close close-campanha" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <div id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators"></ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner"></div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Próximo</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.comunicacaoCampanhaCarousel({
            url: {
                search: '<?php echo $urlSearch;?>',
                exibirArquivo: '<?php echo $urlGerenciadorDeArquivosDownload;?>',
                captacaoAluno: '<?php echo $urlCaptacaoAluno;?>',
                estatistica: '<?php echo $urlCampanhaEstatistica;?>',
                editarAluno: '<?php echo $urlEditarAluno;?>'
            }
        });
    });
</script>