<?php
$paramUrl = array("controller" => "comunicacao-campanha", "action" => "add");

$urlAdd             = $this->url("comunicacao/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("comunicacao/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("comunicacao/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("comunicacao/default", $paramUrl);

$urlGerenciadorDeArquivosThumb    = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download'));

$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addComponent('alertify.min', array('layout' => 'App'));
$this->layoutComponent()->addJS('alertify.min', array('layout' => 'App'));
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('md5', false, 'App');
$this->layoutComponent()->addJS('getPath', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('componente', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.getPath', array('layout' => 'App'));
$this->layoutComponent()->addComponent('file', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('comunicacao-campanha-index', false, 'App');
?>
<style>
    .modal-dialog{
        width: 90%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"
                         id="container-comunicacao-campanha">
                        <table id="dataTableComunicacaoCampanha" class="table table-striped table-bordered table-hover"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Código Campanha</th>
                                <th>Campanha</th>
                                <th>Alvo</th>
                                <th>Cadastro</th>
                                <th>Alteração</th>
                                <th>Situação</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <footer class="text-center">
                            <a href="<?php echo $urlAdd; ?>" class="btn btn-primary" id="btn-comunicacao-campanha-add">
                                Novo Registro
                            </a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="comunicacao-campanha-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar campanha</h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('comunicacao/comunicacao-campanha/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.comunicacaoCampanhaIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                gerenciadorDeArquivosThumb: '<?=$urlGerenciadorDeArquivosThumb;?>',
                gerenciadorDeArquivosDownload: '<?=$urlGerenciadorDeArquivosDownload;?>'
            }
        });
    });
</script>