<!DOCTYPE html>
<html lang="pt-BR" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>Universa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="screen" href="/smart-admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/smart-admin/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/smart-admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/smart-admin/css/smartadmin-skins.min.css">
</head>
<body>
<div id="main" role="main">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="well no-padding text-center">
                <h1>Universa</h1>

                <h2>Sistema em manutenção.</h2>

                <p>Aguarde em breve estaremos de volta!</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>