<div id="blocks-home-1" class="tab-pane active">
    <div class="panel panel-default">
        <!-- Progress table -->
        <div class="table-responsive" style="overflow-x: hidden">
            <table class="table dataTable" cellspacing="0" width="100%" id="anotacoes" role="grid"
                   aria-describedby="anotacoes">
                <thead>
                <tr>

                    <div class="col-md-3">
                        <input name="datepicker" placeholder="06/07/2015" type="text" data-efect="date-picker"
                               class="form-control datepicker input-sm datepicker-select" size="4">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger ripple anotacoes" onclick="removeSelecao();"><span
                                class="ink animate"></span><i class="fa fa-times"></i> Excluir
                        </button>
                        <button class="btn btn-primary ripple anotacoes" onclick="limpaModal();" data-toggle="modal"
                                data-target="#myModal"><i class="icon-user-1"></i> Novo
                        </button>
                    </div>
                    <th width="20">
                        <div class="checkbox checkbox-single margin-none">
                            <input id="checkAll" type="checkbox" onchange="selectAll(this);">
                            <label for="checkAll">Check All</label>
                        </div>
                    </th>
                    <th class="text-right">Ações</th>
                    <th>Data da aula</th>
                    <th>Titulo</th>
                    <th> Descrição</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="responsive-table-body">
                <?php
                foreach ($this->anotacoes as $key => $anotacao):
                    ?>
                    <tr>
                        <td>
                            <div class="checkbox checkbox-single">
                                <input id="checkboxanotacao<?= $key; ?>" type="checkbox" name="anotacaoId[]"
                                       value="<?= $anotacao->getAnotId(); ?>">
                                <label for="checkboxanotacao<?= $key; ?>">Label</label>
                            </div>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal"
                               data-placement="top" title="Editar"
                               onclick="editaAnotacao(<?= $anotacao->getAnotId(); ?>);"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Excluir"
                               onclick="removeAnotacao(<?= $anotacao->getAnotId(); ?>);"><i class="fa fa-times"></i></a>
                        </td>
                        <td><span><?= $anotacao->getAnotData()->format("d/m/Y"); ?></span></td>
                        <td><?= strip_tags($anotacao->getAnotTitulo()); ?></td>
                        <td><?= substr(strip_tags($anotacao->getAnotDescricao()), 0, 15); ?>(...)</td>
                        <td></td>
                    </tr>
                    <?php
                endforeach;
                ?>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div id="anotacoesJson" hidden="hidden">
    <?php
    $arr = [];
    foreach ($this->anotacoes as $anotacao) {
        $anotacao             = $anotacao->toArray();
        $anotacao['anotData'] = $anotacao['anotData']->format("d/m/Y");
        $arr[]                = $anotacao;
    }
    echo \Zend\Json\Json::encode($arr);
    ?>
</div>
<script>
    anotacoes();
</script>
<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title" id="myModalLabel"><span class="label label-primary "
                                                                 style="padding: 6px 180px !important;"><i
                            class="fa fa-book"></i> Minhas anotações de aula </span></div>
            </div>
            <div class="modal-body">
                <div class="tab-content">

                    <div id="course" class="tab-pane active">
                        <form name="formAnotacoes" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="anotId" value="">
                            <div class="form-group">
                                <label for="title">
                                    <span class="icon-block s30 bg-blue-300 text-white img-circle">
                                        <i class="fa fa-pencil"></i>
                                    </span> Título
                                </label>
                                <input type="text" name="anotTitulo" id="title" placeholder="Titulo da aula"
                                       class="form-control used">
                            </div>
                            <div class="form-group ">
                                <label>
                                    <div class="icon-block s30 bg-blue-300 text-white img-circle">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    Data da aula </label>
                                <input name="anotData" placeholder="00/00/0000" type="text"
                                       class="form-control datepicker input-sm datepicker-select"
                                       data-efect="date-picker" size="4">
                            </div>
                            <div class="form-group">
                                <label>
                                    <div class="icon-block s30 bg-blue-300 text-white img-circle">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    Descrição</label>
                                <textarea class="form-control" rows="5" name="anotDescricao"></textarea>
                            </div>
                            <div class="icon-block s30 bg-blue-300 text-white img-circle">
                                <i class="fa fa-upload"></i>
                            </div>
                            Arquivos
                            <table id="tableArquivos">
                                <thead>
                                <th>Nome do Arquivo</th>
                                <th>Ações</th>
                                </thead>
                                <tbody id="bodyTableArquivos">

                                </tbody>
                            </table>
                            <div class="form-group">
                                <label>
                                    <input name="anotacaoArquivo" type="file">
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                <button type="button" class="btn btn-primary" onclick="enviaFormAnotacoes()">Salvar</button>
            </div>
        </div>
    </div>
</div>