<?php
//Retorna informações de pendencias da disicplina
$urlInformacaoPendencia = $this->url(
    'professor/default',
    array('controller' => 'disciplinas', 'action' => 'informacao-pendencia')
);
//retorna Json de datatable de pendencias de notas de alunos
$urlAlunoPendenciaNotas = $this->url(
    'professor/default',
    array('controller' => 'disciplinas', 'action' => 'alunos-pendencia-notas')
);
//Efetua registro de notas de alunos na tabela resumo e final
$urlFinalizarLancamentosParte1 = $this->url(
    'professor/default',
    array('controller' => 'disciplinas', 'action' => 'finalizar-lancamentos-parte1')
);
//retorna Json de datatable de alunos de final para lançamento de notas
$urlAlunosFinal = $this->url(
    'professor/default',
    array('controller' => 'disciplinas', 'action' => 'alunos-final')
);
//Salva ou fecha notas de final de alunos
$urlFinalizarLancamentosParte2 = $this->url(
    'professor/default',
    array('controller' => 'disciplinas', 'action' => 'finalizar-lancamentos-parte2')
);

$this->layoutComponent()->addJS('jquery.inputmask.bundle', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('formatDateTime', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('disciplinas/professor-diario', false, 'App');
?>
<div class="panel-body">
    <div class="media v-middle">
        <div class="media-body message">
            <h4 class="text-subhead margin-none">Caro professor;</h4></hr>
            <div id="entregaDiarios">
                <p>Abaixo seguem informações sobre entrega de diários.</p>
                <table class="table table-striped table-bordered table-hover table-condensed" width="100%">
                    <thead>
                    <tr></tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
                <p class="text-center" align="bottom">
                    <i class="fa fa-book" title="Diário de anotações"></i>
                    Diário de anotações /
                    <i class="fa fa-check-square" title="Diário de frequência"></i>
                    Diário de frequência
                </p>
            </div>
            <div class="text-caption" id="diario-classe-mensagem"></div>
        </div>
    </div>
    <div id="painelAlunosPendenciaNotas">
        <table id="alunosPendenciaNotas" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th>Aluno</th>
                <th>Etapa</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="painelAlunosNotasFinais">
        <form name="notas" id="form-lancameto-notas-finais">
            <table id="alunosNotasFinais" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Nota</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </form>
    </div>
</div>
<div class="panel-footer">
    <div class="text-center">
        <button class="btn btn-primary" id="fechamento-continuar-parte1">
            Continuar
        </button>
        <button class="btn btn-primary" id="fechamento-continuar-parte2-salvar">
            Salvar
        </button>
        <button class="btn btn-primary" id="fechamento-continuar-parte2-finalizar">
            Finalizar
        </button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.professorDiario({
            url: {
                informacaoPendencia: '<?=$urlInformacaoPendencia;?>',
                alunoPendenciaNotas: '<?=$urlAlunoPendenciaNotas;?>',
                finalizarLancamentosParte1: '<?=$urlFinalizarLancamentosParte1;?>',
                alunosFinal: '<?=$urlAlunosFinal;?>',
                finalizarLancamentosParte2: '<?=$urlFinalizarLancamentosParte2;?>'
            }
        });
    });
</script>