<form method="post"  target="_blank" action="" name="modeloRelatorio">
    <input type="hidden" value="<?= $this->docdiscId ?>" name="docdiscId">
    <input type="hidden" value="" name="modelo_relatorio">
<div class="panel-body buttons-spacing-vertical" xmlns="http://www.w3.org/1999/html">
        <button class="btn btn-primary btn-icon-stacked" onclick="return false" value="/professor/relatorios/diario" id="relFrequencia"><i class="fa fa-2x fa-calendar-o"></i> <span><br>Frequência a Mês</span></button>
        <button  class="btn btn-primary btn-icon-stacked" onclick="return false" value="/professor/acadperiodoAnotacao/relatorio-anotacao" id="relAnotacoes"><i class="fa fa-2x  fa-calendar"></i> <span><br>Anotações a Mês</span></button>
        <button class="btn btn-primary btn-icon-stacked" onclick="return false" value="/professor/relatorios/diario-notas" id="relNotas" ><i class="fa fa-2x  fa-pencil"></i> <span><br>Diário de Notas </span></button>
        <button  class="btn btn-primary btn-icon-stacked" onclick="return false" value="/professor/relatorios/diario-anotacoes-semestral" id="relAnotacoesSemestral"><i class="fa fa-2x  fa-calendar"></i> <span><br>Todas Anotações</span></button>

    <div class="panel-body" id="relMeses" hidden="hidden">
                <h4>Selecione o mês Letivo:</h4></br>
        <?php foreach($this->meses as $meses){?>
        <div class="radio radio-info radio-inline">
            <a href="professor/relatorios/diario"><a>
                    <input type="radio" id="<?= $meses['referencia']?>" value="<?= $meses['referencia']?>" name="mes" checked="checked">
                    <label for="<?= $meses['referencia']?>"><?= $meses['mes'] ?></label>
        </div>
        <?php }?>
    </div>
    <p id="relImprimir" hidden="hidden">
        <input id="relImprimir" type="submit"  name="enviar" class="pull-left btn btn-primary" value="Gerar Relatório">
            </div>
        </p>
</div>
</form>
<script>
    documentos();
</script>
