<?php

$this->layoutComponent()->addJS('ckeditor/ckeditor', false, 'SmartAdmin2');
$this->layoutComponent()->addJS('ckeditor/adapters/jquery', false, 'SmartAdmin2');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

$estilo = $this->basePath() . '/css/universa/protocolo/protocolo/protocolo-edit.css';
?>
<script src="<?php echo $this->basePath(); ?>/smart-admin/js/libs/jquery-2.0.2.min.js"></script>
<style type="text/css">
    #preloader {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background-image: url('<?php echo $this->basePath(); ?>/img/preto-transparente.png');
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        display: none;
        opacity: 1.0;
        z-index: 99999999999;
    }

    #preloader img {
        position: fixed;
        left: 50%;
        top: 30%;
    }
</style>
<input type="hidden" name="docdiscId" id="docdiscId" value="<?= $this->docdiscId; ?>">
<div id='preloader'>
    <img src='<?php echo $this->basePath(); ?>/img/ajax-loader.gif'>
</div>
<div id="startDate" hidden="hidden">
    <?php
    $dataIni = $this->periodo->getPerDataInicio();
    $dataIni = (is_object($dataIni) ? $dataIni : new \DateTime($dataIni));
    echo $dataIni->format('m-d-Y');
    ?>
</div>
<div id="endDate" hidden="hidden">
    <?php
    $dataFim = $this->periodo->getPerDataFim();
    $dataFim = (is_object($dataFim) ? $dataFim : new \DateTime($dataFim));
    echo $dataFim->format('m-d-Y');
    ?>
</div>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <i style="color: #ffffff"></i>
                    </div>
                </a>
            </div>
            <div class="media-body">
                <h1 class="text-white text-display-1 margin-v-0">
                    <?= $this->docenteDisciplina->getDisc()->getDiscNome(); ?>
                </h1>

                <p class="turma-name text-subhead text-white">
                    <?= $this->docenteDisciplina->getTurma()->getTurmaNome(); ?>
                </p>
            </div>
            <div class="media-right">
                <span class="label bg-blue-500">Professor</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Disciplina - Turmas</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <?= $this->disciplinas()->mountLiDisciplinas(); ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tabbable tabs-blocks">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" tabindex="4" style="overflow: hidden; outline: none;">
                        <li class="active">
                            <a href="#blocks-home-1" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-calendar"></i> FREQUÊNCIA
                            </a>
                        </li>
                        <li class="">
                            <a href="#blocks-notas" id="buscaNotas" data-toggle="tab" aria-expanded="false">
                                <i class=" fa fa-pencil"></i> NOTAS
                            </a>
                        </li>
                        <li class="">
                            <a href="#blocks-profile-1" id="anotations" data-toggle="tab" aria-expanded="false">
                                <i class=" fa fa-calendar-o"></i>ANOTAÇÕES
                            </a>
                        </li>
                        <li class="">
                            <a href="#blocks-settings-1" id="documentos" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-folder-open"></i> DOCUMENTOS
                            </a>
                        </li>
                        <li class="">
                            <a href="#blocks-diario" id="diarioClasse" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-cog"></i> DIÁRIO DE CLASSE
                            </a>
                        </li>
                    </ul>
                    <!-- // END Tabs -->

                    <!-- Panes -->
                    <div class="tab-content">
                        <div id="blocks-home-1" class="tab-pane active">
                            <form method="post" name="frequencia" action="">
                                <input type="hidden" name="numSemana" value="<?= $this->numeroSemana; ?>">
                                <input type="hidden" name="salvar" value="false">
                                <input type="hidden" name="lancamentoBloqueado"
                                       value="<?= (int)$this->lancamentoBloqueado; ?>">
                                <table class="table dataTable check-faltas table-striped" cellspacing="0" width="100%"
                                       id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info"
                                       style="width: 100%;">
                                    <thead>
                                    <div class="col-md-3">

                                        <input name="datepicker" placeholder="00/00/0000" type="text" id="dataAula"
                                               class="form-control input-sm " size="4" name="datePicker">
                                        <input type="hidden" name="datebusca" value="false">
                                    </div>

                                    <tr role="row" id="abas-opcoes" class="change-card-faltas">
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width: 207px"> Nome do Aluno
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                            rowspan="1" colspan="1"
                                            aria-label="Start date: activate to sort column ascending"
                                            style="width: 100px; text-align: inherit">
                                            <button type="button" name="voltar"
                                                    style="position: absolute; margin-left: -50px;  margin-top: -30px;"
                                                    class="btn btn-default">
                                                <i class="fa fa-fw fa-angle-left"></i>
                                            </button>
                                        </th>
                                        <?php
                                        foreach ($this->datas as $key => $data):
                                            if ($this->feriados()->isHoliday($data)) {
                                                continue;
                                            }
                                            ?>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                rowspan="1" colspan="1"
                                                aria-label="Start date: activate to sort column ascending"
                                                style="width: 100px; text-align: inherit">
                                                <span><?= $data->format('d/m'); ?></span>
                                                <input type="hidden" name="datas[]" value="<?= $data->format(
                                                    'Y-m-d'
                                                ) . " " . $this->diasDeAula[$key]['hora'] ?>">
                                            </th>
                                            <?php
                                        endforeach;
                                        ?>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                            rowspan="1" colspan="1"
                                            aria-label="Start date: activate to sort column ascending"
                                            style="width: 100px; text-align: inherit">
                                            <button type="button" name="avancar"
                                                    style="position: absolute; margin-left: 10px;  margin-top: -30px;"
                                                    class="btn btn-default">
                                                <i class="fa fa-fw fa-angle-right"></i>
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody style="text-transform: uppercase">
                                    <?php
                                    $checkbox = 0;
                                    foreach ($this->alunos as $keyAluno => $aluno):
                                        ?>
                                        <tr role="row" class="odd">
                                            <td><?php
                                                echo $aluno
                                                    ->getAlunoper()
                                                    ->getAlunocurso()
                                                    ->getAluno()
                                                    ->getPes()
                                                    ->getPes()
                                                    ->getPesNome();
                                                ?>
                                                <b><?php
                                                    if (!($aluno->getSituacao()->getMatsitDescricao() === 'Matriculado')
                                                    ) {
                                                        echo " " . $aluno->getSituacao()->getMatsitDescricao();
                                                    }; ?>
                                                    <b>
                                            </td>
                                            <td></td>
                                            <?php
                                            foreach ($this->datas as $key => $data) {
                                                if ($this->feriados()->isHoliday($data)) {
                                                    continue;
                                                }
                                                ?>
                                                <td>
                                                    <div class="checkbox checkbox-single">
                                                        <?php
                                                        foreach ($this->horarios as $i => $horario) {
                                                            if ($this->diasDeAula[$key]['nome'] == $horario->getGradediscDia(
                                                                )
                                                            ) {
                                                                $valor = $aluno->getAlunodiscId() .
                                                                    "$$" .
                                                                    $horario->getDiscGradeId() .
                                                                    "$$" .
                                                                    $data->format("Y-m-d") .
                                                                    " " .
                                                                    $horario->getGradediscHora()->format('H:i:s') .
                                                                    "$$" .
                                                                    $this->docenteDisciplina->getDocdiscId();
                                                                ?>
                                                                <input id="checkbox<?= $checkbox ?>" type="checkbox"
                                                                       name="alunoFaltaAula[]" checked=""
                                                                       value="<?= $valor ?>"
                                                                    <?= $this->lancamentoBloqueado ? 'disabled' : ''; ?>>
                                                                <label for="checkbox<?= $checkbox ?>">Label</label>
                                                                <input name="alunoFaltaDia[]" type="hidden"
                                                                       value="<?= $valor ?>">
                                                                <?php
                                                            }
                                                            $checkbox++;
                                                        }
                                                        ?>
                                                    </div>
                                                </td>
                                                <?php
                                            }
                                            ?>
                                            <td></td>
                                        </tr>
                                        <?php
                                    endforeach;
                                    ?>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button
                                            class="btn btn-primary btn-block" <?= $this->lancamentoBloqueado ? 'disabled' : ''; ?>>
                                            Salvar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="blocks-notas" class="tab-pane">
                            <?php
                            echo $this->partial(
                                'professor/disciplinas/notas',
                                [
                                    'docdiscId'           => $this->docdiscId,
                                    'lancamentoBloqueado' => $this->lancamentoBloqueado,
                                    'configCurso'         => $this->configCurso
                                ]
                            );
                            ?>
                        </div>
                        <div id="blocks-profile-1" class="tab-pane"></div>
                        <div id="blocks-settings-1" class="tab-pane"></div>
                        <div id="blocks-diario" class="tab-pane">
                            <?php
                            echo $this->partial(
                                'professor/disciplinas/diario-classe',
                                [
                                    'docdiscId'           => $this->docdiscId,
                                    'lancamentoBloqueado' => $this->lancamentoBloqueado
                                ]
                            ); ?>
                        </div>
                    </div>
                    <!-- // END Panes -->
                </div>
            </div>
        </div>
    </div>
    <div id="faltas" hidden="hidden">
        <?= \Zend\Json\Json::encode($this->faltas, true); ?>
    </div>
    <div id="aulas" hidden="hidden">
        <?= \Zend\Json\Json::encode($this->diasDeAula, true); ?>
    </div>
    <script src="<?php echo $this->basePath(); ?>/js/universa/professor/disciplinas/all.js?time=<?=time();?>"></script>
    <script>
        window.faltasLancadas=<?= \Zend\Json\Json::encode($this->faltas?$this->faltas:[], true); ?>;
        index();
    </script>