<?php
$dataAtual = (new \DateTime('now', new \DateTimeZone('America/Sao_Paulo')))->format('Ymd');

$urlSalvarNotasEtapas = $this->url(
    'professor/default',
    array('controller' => 'acadperiodo-etapa-aluno', 'action' => 'save-etapa-aluno')
);
$urlBuscarNotasEtapas = $this->url(
    'professor/default',
    array('controller' => 'disciplinas', 'action' => 'notas')
);

$this->layoutComponent()->addJS('jquery.inputmask.bundle', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('formatDateTime', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('professor-notas', false, 'App');
?>
<style>
    .table th {
        text-align: center;
    }

    .table tbody {
        text-transform: uppercase;
    }
</style>
<div class="panel-body">
    <div class="media v-middle">
        <div class="media-body message">
            <div class="text-caption" id="mensagem-notas"></div>
        </div>
    </div>
    <div id="painel-informacoes-diario"></div>
    <div id="painel-notas">
        <form name="notas" id="form-notas">
            <table id="table-notas" class="table table-striped table-bordered table-hover" width="100%"></table>
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary btn-block" type="button" id="btn-salvar-notas">Salvar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.professorNotas({
            data: {
                docdiscId: '<?=$this->docdiscId?>',
                configCurso:<?= json_encode($this->configCurso) ?>
            },
            url: {
                salvarNotas: '<?=$urlSalvarNotasEtapas;?>',
                buscarNotas: '<?=$urlBuscarNotasEtapas;?>'
            }
        });
    });
</script>