<?php
$urlListagem = $this->url('crm/default', array('controller' => 'crm-lead-atividade'));
$paramUrl    = array('controller' => 'crm-lead-atividade', 'action' => 'add');

if ($this->arrDados['atividadeId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['atividadeId'];
}
$urlPesquisaCrmLead           = $this
    ->url('crm/default', array('controller' => 'crm-lead', 'action' => 'search-for-json'));
$urlPesquisaCrmOperador       = $this
    ->url('crm/default', array('controller' => 'crm-operador', 'action' => 'search-for-json'));
$urlPesquisaCrmAtividadeTipo = $this
    ->url('crm/default', array('controller' => 'crm-atividade-tipo', 'action' => 'search-for-json'));
$urlForm                      = $this->url('crm/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('crm-lead-atividade-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="crm-lead-atividade-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="atividadeId" id="atividadeId"
                               value="<?php echo $this->arrDados['atividadeId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="pes">Código Pessoa:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Código Pessoa" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeDataCadastro">Cadastro Data:</label>
                                <input type="text" name="atividadeDataCadastro" id="atividadeDataCadastro"
                                       class="form-control"
                                       placeholder="Cadastro Data"
                                       value="<?php echo $this->arrDados['atividadeDataCadastro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="operador">Código Operador:</label>
                                <input type="text" name="operador" id="operador" class="form-control"
                                       placeholder="Código Operador" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeTipo">Código Tipo Atividade:</label>
                                <input type="text" name="atividadeTipo" id="atividadeTipo" class="form-control"
                                       placeholder="Código Tipo Atividade" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeFormaContato">Forma Contato:</label>
                                <select name="atividadeFormaContato" id="atividadeFormaContato" class="form-control">
                                    <?php
                                    foreach ($this->arrAtividadeFormaContato as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeFormaContato']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeDescricao">Descrição:</label>
                                <input type="text" name="atividadeDescricao" id="atividadeDescricao"
                                       class="form-control"
                                       placeholder="Descrição" maxlength="200"
                                       value="<?php echo $this->arrDados['atividadeDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeAgendamento">Agendamento:</label>
                                <input type="text" name="atividadeAgendamento" id="atividadeAgendamento"
                                       class="form-control"
                                       placeholder="Agendamento"
                                       value="<?php echo $this->arrDados['atividadeAgendamento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividateAgendamentoTitulo">Título Agendamento Atividate:</label>
                                <input type="text" name="atividateAgendamentoTitulo" id="atividateAgendamentoTitulo"
                                       class="form-control"
                                       placeholder="Título Agendamento Atividate" maxlength="200"
                                       value="<?php echo $this->arrDados['atividateAgendamentoTitulo']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividateObs">Observação Atividate:</label>
                    <textarea name="atividateObs" id="atividateObs" class="form-control"
                              placeholder="Observação Atividate"
                              rows="5"><?php echo $this->arrDados['atividateObs']; ?></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="atividadeSituacao">Situação:</label>
                                <select name="atividadeSituacao" id="atividadeSituacao" class="form-control">
                                    <?php
                                    foreach ($this->arrAtividadeSituacao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['atividadeSituacao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmLeadAtividadeAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                crmLead: '<?=$urlPesquisaCrmLead;?>',
                crmOperador: '<?=$urlPesquisaCrmOperador;?>',
                crmAtividadeTipo: '<?=$urlPesquisaCrmAtividadeTipo;?>'
            },
            data: {},
            value: {
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                operador:<?=json_encode($this->arrDados['operador']); ?>,
                atividadeTipo:<?=json_encode($this->arrDados['atividadeTipo']); ?>
            },
        });
    });
</script>