<?php
$paramUrl = array("controller" => "crm-lead-atividade", "action" => "add");

$urlAdd             = $this->url("crm/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("crm/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("crm/default", $paramUrl);
$paramUrl['action'] = 'remove';
$urlRemove          = $this->url("crm/default", $paramUrl);

$urlPesquisaCrmFonte         = $this
    ->url('crm/default', array('controller' => 'crm-fonte', 'action' => 'search-for-json'));
$urlPesquisaCrmMediador      = $this
    ->url('crm/default', array('controller' => 'crm-mediador', 'action' => 'search-for-json'));
$urlPesquisaCrmCampanha      = $this
    ->url('crm/default', array('controller' => 'crm-campanha', 'action' => 'search-for-json'));
$urlPesquisaCrmOperador      = $this
    ->url('crm/default', array('controller' => 'crm-operador', 'action' => 'search-for-json'));
$urlPesquisaCrmAtividadeTipo = $this
    ->url('crm/default', array('controller' => 'crm-atividade-tipo', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addComponent('datetimepicker', array('layout' => 'App'));
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('crm-lead-atividade-index', false, 'App');
?>
<style>
    #crm-lead-atividade-visualizar-modal .modal-dialog,
    #crm-lead-atividade-modal .modal-dialog {
        width: 50%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-crm-lead-atividade">
                    <form name='form' action="#" method="post" target="_blank"
                          data-validate="yes" id="crm-lead-form-filtro">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa fa-chevron-right"></i>
                                            Filtros avançados
                                        </a>
                                    </h4>
                                </div>
                                <div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="fonteFiltro">Fonte:</label>
                                                        <input type="text" name="fonte" id="fonteFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="mediadorFiltro">Mediador:</label>
                                                        <input type="text" name="mediador" id="mediadorFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="campanhaFiltro">Campanha:</label>
                                                        <input type="text" name="campanha" id="campanhaFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Tipo de Atividade:</label>
                                                        <input type="text" name="atividadeTipo" class="form-control"
                                                               placeholder="Tipo de Atividade">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="dataCadastroInicialFiltro">
                                                            Data de cadastro Inicial:
                                                        </label>
                                                        <input type="text" name="dataCadastroInicial"
                                                               id="dataCadastroInicialFiltro" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="dataCadastroFinalFiltro">
                                                            Data de cadastro Final:
                                                        </label>
                                                        <input type="text" name="dataCadastroFinal"
                                                               id="dataCadastroFinalFiltro" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="agendamentoInicialFiltro">
                                                            Data de Agendamento Inicial:
                                                        </label>
                                                        <input type="text" name="agendamentoInicial"
                                                               id="agendamentoInicialFiltro" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="agendamentoFinalFiltro">
                                                            Data de Agendamento Final:
                                                        </label>
                                                        <input type="text" name="agendamentoFinal"
                                                               id="agendamentoFinalFiltro" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="dataAtividadeInicial">
                                                            Data de último Contato Inicial:
                                                        </label>
                                                        <input type="text" name="dataAtividadeInicial"
                                                               id="dataAtividadeInicial" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="dataAtividadeFinal">
                                                            Data de último Contato Final:
                                                        </label>
                                                        <input type="text" name="dataAtividadeFinal"
                                                               id="dataAtividadeFinal" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="operadorFiltro">Operador:</label>
                                                        <input type="text" name="operador" id="operadorFiltro"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <label for="leadStatusFiltro">Status:</label>
                                                        <select name="leadStatus" id="leadStatusFiltro" multiple
                                                                class="form-control">
                                                            <?php
                                                            foreach ($this->arrLeadStatus as $value) {
                                                                $id        = $value['id'];
                                                                $descricao = $value['text'];
                                                                $selected  = ($id == $this->arrDados['leadStatus']) ? " selected" : "";
                                                                echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary"
                                                        id="leadFiltroExecutar">
                                                    <i class="fa fa-search"></i>
                                                    Filtrar resultados
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                        id="leadFiltroLimpar">
                                                    <i class="fa fa-clear"></i>
                                                    Limpar filtros
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="dataTableCrmLeadAtividade" class="table table-striped table-bordered table-hover"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Lead</th>
                                <th>Data</th>
                                <th>Operador</th>
                                <th>Incidêcia</th>
                                <th>Forma Contato</th>
                                <th>Agendamento</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="crm-lead-atividade-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cadastrar atividade de lead </h4>
            </div>
            <div class="modal-body floating-label">
                <?php
                $variaveis             = $this->viewModel()->getCurrent()->getVariables();
                $variaveis['partial']  = true;
                $variaveis['listagem'] = true;

                echo $this->partial('crm/crm-lead-atividade/add.phtml', $variaveis);
                ?>
            </div>
        </div>
    </div>
</div>

<?php
$variaveis             = $this->viewModel()->getCurrent()->getVariables();
$variaveis['partial']  = true;
$variaveis['listagem'] = true;

echo $this->partial('crm/crm-lead/atendimento.phtml', $variaveis);
?>

<?php
$variaveis             = $this->viewModel()->getCurrent()->getVariables();
$variaveis['partial']  = true;
$variaveis['listagem'] = true;

echo $this->partial('crm/crm-lead/lead-atividade-visualizar.phtml', $variaveis);
?>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.crmLeadAtividadeIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>',
                remove: '<?php echo $urlRemove;?>',
                crmFonte: '<?=$urlPesquisaCrmFonte;?>',
                crmMediador: '<?=$urlPesquisaCrmMediador;?>',
                crmCampanha: '<?=$urlPesquisaCrmCampanha;?>',
                crmOperador: '<?=$urlPesquisaCrmOperador;?>',
                crmAtividadeTipo: '<?=$urlPesquisaCrmAtividadeTipo;?>'
            }
        });
    });
</script>