<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo'));
$paramUrl    = array('controller' => 'financeiro-titulo-tipo', 'action' => 'add');

if ($this->arrDados['tipotituloId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['tipotituloId'];
}

$urlForm = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-titulo-tipo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-titulo-tipo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="tipotituloId" id="tipotituloId"
                               value="<?php echo $this->arrDados['tipotituloId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotituloNome">Nome:</label>
                                <input type="text" name="tipotituloNome" id="tipotituloNome" class="form-control"
                                       placeholder="Nome" maxlength="45"
                                       value="<?php echo $this->arrDados['tipotituloNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotituloDescricao">Descrição:</label>
                                <input type="text" name="tipotituloDescricao" id="tipotituloDescricao"
                                       class="form-control" placeholder="Descrição" maxlength="255"
                                       value="<?php echo $this->arrDados['tipotituloDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotituloTempoVencimento">Tempo De Vencimento:</label>
                                <input type="text" name="tipotituloTempoVencimento" id="tipotituloTempoVencimento"
                                       class="form-control" placeholder="Tempo De Vencimento" maxlength="11"
                                       value="<?php echo $this->arrDados['tipotituloTempoVencimento']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotituloGrupo">Grupo do Título:</label>
                                <input type="text" name="tipotituloGrupo" id="tipotituloGrupo"
                                       class="form-control" placeholder="Grupo do titulo"
                                       value="<?php echo $this->arrDados['tipotituloGrupo']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotituloTempoVencimentoTipo">Tipo de Tempo de Vencimento:</label>
                                <select name="tipotituloTempoVencimentoTipo" id="tipotituloTempoVencimentoTipo"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrTipotituloTempoVencimentoTipo as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['tipotituloTempoVencimentoTipo']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotituloMatriculaEmissao">Emissão de Título na Matrícula:</label>
                                <select name="tipotituloMatriculaEmissao" id="tipotituloMatriculaEmissao"
                                        class="form-control">
                                    <?php
                                    foreach ($this->arrTipotituloMatriculaEmissao as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['tipotituloMatriculaEmissao']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroTituloTipoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {},
            data: {
                arrTipotituloDocumentoGrupo:<?=json_encode($this->arrTipotituloDocumentoGrupo);?>,
            },
            value: {},
        });
    });
</script>