<?php
$urlListagem = $this->url('organizacao/default', array('controller' => 'org-unidade-estudo'));
$paramUrl    = array('controller' => 'org-unidade-estudo', 'action' => 'add');

if ($this->arrDados['unidadeId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['unidadeId'];
}
$urlPesquisaOrgAgenteEducacional = $this
    ->url('organizacao/default', array('controller' => 'org-agente-educacional', 'action' => 'search-for-json'));
$urlPesquisaOrgCampus            = $this
    ->url('organizacao/default', array('controller' => 'org-campus', 'action' => 'search-for-json'));
$urlBuscaCEP                     = $this
    ->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));
$urlForm                         = $this->url('organizacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('org-unidade-estudo-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="org-unidade-estudo-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="unidadeId" id="unidadeId"
                               value="<?php echo $this->arrDados['unidadeId']; ?>">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="unidadeNome">Nome:</label>
                                <input type="text" name="unidadeNome" id="unidadeNome" class="form-control"
                                       placeholder="Nome Unidade" maxlength="45"
                                       value="<?php echo $this->arrDados['unidadeNome']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="camp">Câmpus:</label>
                                <input type="text" name="camp" id="camp" class="form-control"
                                       placeholder="Câmpus" value="<?php echo $this->arrDados['camp']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="agentes">Agentes Educacionais:</label>
                                <input type="text" name="agentes" id="agentes" class="form-control"
                                       placeholder="Agente educacional" value="<?php echo $this->arrDados['pes']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="unidadeEndCep">CEP:</label>

                                <div class="input-group">
                                    <input type="text" name="unidadeEndCep" id="unidadeEndCep" class="form-control"
                                           placeholder="00000-000"
                                           value="<?php echo $this->arrDados['unidadeEndCep']; ?>">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default buscarCep" type="button"
                                                title="Buscar endereço pelo CEP">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="unidadeEndLogradouro">Logradouro:</label>
                                <input type="text" name="unidadeEndLogradouro" id="unidadeEndLogradouro"
                                       class="form-control"
                                       placeholder="Logradouro" maxlength="45"
                                       value="<?php echo $this->arrDados['unidadeEndLogradouro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="unidadeEndNumero">Número:</label>
                                <input type="text" name="unidadeEndNumero" id="unidadeEndNumero" class="form-control"
                                       placeholder="Número Endereço Unidade" maxlength="11"
                                       value="<?php echo $this->arrDados['unidadeEndNumero']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="unidadeEndBairro">Bairro:</label>
                                <input type="text" name="unidadeEndBairro" id="unidadeEndBairro" class="form-control"
                                       placeholder="Bairro Endereço Unidade" maxlength="45"
                                       value="<?php echo $this->arrDados['unidadeEndBairro']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="unidadeEndCidade">Cidade:</label>
                                <input type="text" name="unidadeEndCidade" id="unidadeEndCidade" class="form-control"
                                       placeholder="Cidade" maxlength="45"
                                       value="<?php echo $this->arrDados['unidadeEndCidade']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="unidadeEndEstado">Estado:</label>
                                <input type="text" name="unidadeEndEstado" id="unidadeEndEstado" class="form-control"
                                       placeholder="Estado" maxlength="45"
                                       value="<?php echo $this->arrDados['unidadeEndEstado']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="unidadeTelefone">Telefone:</label>
                                <input type="text" name="unidadeTelefone" id="unidadeTelefone" class="form-control"
                                       placeholder="Telefone" maxlength="15"
                                       value="<?php echo $this->arrDados['unidadeTelefone']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="unidadeEmail">E-mail:</label>
                                <input type="text" name="unidadeEmail" id="unidadeEmail" class="form-control"
                                       placeholder="E-mail" maxlength="100"
                                       value="<?php echo $this->arrDados['unidadeEmail']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.orgUnidadeEstudoAdd({
            url: {
                orgAgenteEducacional: '<?=$urlPesquisaOrgAgenteEducacional;?>',
                orgCampus: '<?=$urlPesquisaOrgCampus;?>',
                buscaCEP: '<?=$urlBuscaCEP;?>',
            },
            data: {
                arrEstados: <?=json_encode($this->arrEstados);?>,
            },
            value: {
                agentes:<?=json_encode($this->arrDados['agentes']); ?>,
                camp:<?=json_encode($this->arrDados['camp']); ?>
            }
        });
    });
</script>