<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'boleto-conf-conta'));
$paramUrl    = array('controller' => 'boleto-conf-conta', 'action' => 'add');

if ($this->arrDados['confcontId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['confcontId'];
}
$urlPesquisaPessoa      = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlPesquisaBoletoBanco = $this
    ->url('financeiro/default', array('controller' => 'boleto-banco', 'action' => 'search-for-json'));
$urlPesquisaArquivo     = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'search-for-json'));
$urlForm                = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('boleto-conf-conta-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="boleto-conf-conta-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="confcontId" id="confcontId"
                               value="<?php echo $this->arrDados['confcontId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pes">Pessoa:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Pessoa">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="banc">Banco:</label>
                                <input type="text" name="banc" id="banc" class="form-control"
                                       placeholder="Banco">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="confcontAgencia">Agência:</label>
                                <input type="text" name="confcontAgencia" id="confcontAgencia" class="form-control"
                                       placeholder="Agência" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontAgencia']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="confcontAgenciaDigito">Dígito:</label>
                                <input type="text" name="confcontAgenciaDigito" id="confcontAgenciaDigito"
                                       class="form-control"
                                       placeholder="Dígito Agência" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontAgenciaDigito']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="confcontConta">Número da Conta:</label>
                                <input type="text" name="confcontConta" id="confcontConta" class="form-control"
                                       placeholder="Número da Conta" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontConta']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="confcontContaDigito">Dígito:</label>
                                <input type="text" name="confcontContaDigito" id="confcontContaDigito"
                                       class="form-control"
                                       placeholder="Dígito da Conta" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontContaDigito']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="confcontCarteira">Carteira:</label>
                                <input type="text" name="confcontCarteira" id="confcontCarteira" class="form-control"
                                       placeholder="Carteira" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontCarteira']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="confcontVariacao">Variação:</label>
                                <input type="text" name="confcontVariacao" id="confcontVariacao" class="form-control"
                                       placeholder="Variação" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontVariacao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="confcontConvenio">Convênio:</label>
                                <input type="text" name="confcontConvenio" id="confcontConvenio" class="form-control"
                                       placeholder="Convênio" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontConvenio']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="confcontContrato">Contrato:</label>
                                <input type="text" name="confcontContrato" id="confcontContrato" class="form-control"
                                       placeholder="Contrato" maxlength="45"
                                       value="<?php echo $this->arrDados['confcontContrato']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="confcontInstrucoes">Instrucões do Boleto:</label>
                                <textarea name="confcontInstrucoes" id="confcontInstrucoes" class="form-control"
                                          placeholder="Instrucões do Boleto"
                                          rows="5"><?php echo $this->arrDados['confcontInstrucoes']; ?></textarea>

                                <p>Use as variáveis abaixo para inclui informações de forma dinâmica:</p>
                                <ul>
                                    <li><b>$multa</b>: Valor da multa</li>
                                    <li><b>$juros</b>: Percentual de juros</li>
                                    <li><b>$tituloId</b>: Código do título</li>
                                    <li><b>$tituloValor</b>: Valor do título</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="confcontNossoNumeroInicial">Nosso Número Inicial:</label>
                                    <input type="text" name="confcontNossoNumeroInicial" id="confcontNossoNumeroInicial"
                                           class="form-control"
                                           placeholder="Inicial Número Nosso De Bancária" maxlength="11"
                                           value="<?php echo $this->arrDados['confcontNossoNumeroInicial']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="confcontRemessaSequencial">Número Sequencial Inicial da Remessa:</label>
                                    <input type="text" name="confcontRemessaSequencial" id="confcontRemessaSequencial"
                                           class="form-control"
                                           placeholder="Número Sequencial Inicial da Remessa" maxlength="5"
                                           value="<?php echo $this->arrDados['confcontRemessaSequencial']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.boletoConfContaAdd({
            ajaxSubmit: <?php echo $this->partial ? 1 : 0;?>,
            listagem: <?php echo $this->listagem ? 1 : 0;?>,
            url: {
                pessoa: '<?=$urlPesquisaPessoa;?>',
                boletoBanco: '<?=$urlPesquisaBoletoBanco;?>',
                arquivo: '<?=$urlPesquisaArquivo;?>'
            },
            data: {},
            value: {
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                banc:<?=json_encode($this->arrDados['banc']); ?>,
                arq:<?=json_encode($this->arrDados['arq']); ?>
            },
        });
    });
</script>