<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-questionario-grupo'));
$paramUrl    = array('controller' => 'avaliacao-questionario-grupo', 'action' => 'add');

if ($this->arrDados['questionarioId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['questionarioId'];
}
$urlPesquisaAcessoGrupo           = $this
    ->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));
$urlPesquisaAvaliacaoQuestionario = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questionario', 'action' => 'search-for-json'));
$urlForm                          = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questionario-grupo-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-questionario-grupo-form"
                              novalidate="novalidate" method="post">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="grupo">Grupo:</label>
                                    <input type="text" name="grupo" id="grupo" class="form-control"
                                           placeholder="Grupo" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questionario">Questionario:</label>
                                    <input type="text" name="questionario" id="questionario" class="form-control"
                                           placeholder="Questionario" maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestionarioGrupoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                acessoGrupo: '<?=$urlPesquisaAcessoGrupo;?>',
                avaliacaoQuestionario: '<?=$urlPesquisaAvaliacaoQuestionario;?>'
            },
            data: {},
            value: {
                grupo:<?=json_encode($this->arrDados['grupo']); ?>,
                questionario:<?=json_encode($this->arrDados['questionario']); ?>
            }
        });
    });
</script>