<?php
$urlListagem = $this->url('sistema/default', array('controller' => 'sis-campo-valor'));
$paramUrl    = array('controller' => 'sis-campo-valor', 'action' => 'add');

if ($this->arrDados['campoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['tipoValor'];
}

$urlForm = $this->url('sistema/default', $paramUrl);

$urlCampo = $this
    ->url('sistema/default', array('controller' => 'sis__campo_personalizado', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('sis-campo-valor-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="sis-campo-valor-form" novalidate="novalidate"
                              method="post">
                            <input type="hidden" name="campoOrigin" id="campoOrigin">
                            <input type="hidden" name="chaveOrigin" id="chaveOrigin">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoId">Campo:</label>
                                    <input type="text" name="campoId" id="campoId" class="form-control"
                                           placeholder="Campo">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoValor">Valor:</label>
                                    <textarea name="campoValor" id="campoValor" class="form-control"
                                              placeholder="Descrição"
                                              maxlength="255"><?php echo $this->arrDados['campoValor']; ?></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="campoChave">Chave:</label>
                                    <input type="text" name="campoChave" id="campoChave" class="form-control"
                                           placeholder="Chave">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.sisCampoValorAdd({
            ajaxSubmit: '<?php echo $this->partial ? 1 : 0;?>',
            listagem: '<?php echo $this->listagem ? 1 : 0;?>',
            url: {
                campo: '<?= $urlCampo;?>'
            },
            data: {},
            value: {}
        });
    });
</script>