<?php
$urlListagem = $this->url('protocolo/default', array('controller' => 'protocolo-setor'));
$paramUrl    = array('controller' => 'protocolo-setor', 'action' => 'add');
$urlGrupo    = $this->url('acesso/default', array('controller' => 'acesso-grupo', 'action' => 'search-for-json'));

if ($this->arrDados['setorId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['setorId'];
}
$urlPesquisaPessoa = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));
$urlForm           = $this->url('protocolo/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('protocolo-setor-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="protocolo-setor-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="setorId" id="setorId"
                               value="<?php echo $this->arrDados['setorId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="setorDescricao">Descrição:</label>
                                <input type="text" name="setorDescricao" id="setorDescricao" class="form-control"
                                       placeholder="Descrição" maxlength="200"
                                       value="<?php echo $this->arrDados['setorDescricao']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="setorVisibilidade">Visibilidade:</label>
                                <input type="text" name="setorVisibilidade" id="setorVisibilidade" class="form-control"
                                       value="<?php echo $this->arrDados['setorVisibilidade']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="setorEmail">E-mail:</label>
                                <input type="text" name="setorEmail" id="setorEmail" class="form-control"
                                       placeholder="E-mail" maxlength="100"
                                       value="<?php echo $this->arrDados['setorEmail']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="pes">Responsável pelo Setor:</label>
                                <input type="text" name="pes" id="pes" class="form-control"
                                       placeholder="Pesquise por algum nome" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="grupoId">Grupo:</label>
                                <input type="text" name="grupoId" id="grupoId" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.protocoloSetorAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                pessoa: '<?=$urlPesquisaPessoa;?>',
                grupo: '<?php echo $urlGrupo ?>'
            },
            data: {},
            value: {
                pes:<?=json_encode($this->arrDados['pes']); ?>,
                grupo:<?=json_encode($this->arrDados['grupo']); ?>,
                setorVisibilidade:<?=json_encode($this->arrSetorVisibilidade); ?>
            }
        });
    });
</script>