<?php
$urlListagem = $this->url('avaliacao/default', array('controller' => 'avaliacao-questao'));
$paramUrl    = array('controller' => 'avaliacao-questao', 'action' => 'add');

if ($this->arrDados['questaoId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['questaoId'];
}
$urlPesquisaAvaliacaoQuestaoTipo      = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questao-tipo', 'action' => 'search-for-json'));
$urlPesquisaAvaliacaoQuestaoAplicacao = $this
    ->url('avaliacao/default', array('controller' => 'avaliacao-questao-aplicacao', 'action' => 'search-for-json'));
$urlForm                              = $this->url('avaliacao/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('avaliacao-questao-add', false, 'App');
?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="card style-primary">
                    <div class="widget-body card-body floating-label style-default-bright"><?php } ?>
                        <form action="<?php echo $urlForm; ?>" id="avaliacao-questao-form" novalidate="novalidate"
                              method="post">
                            <input type="hidden" name="questaoId" id="questaoId"
                                   value="<?php echo $this->arrDados['questaoId']; ?>">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="questaotipo">Tipo da Questão:</label>
                                    <input type="text" name="questaotipo" id="questaotipo" class="form-control"
                                           placeholder="Tipo da Questão" maxlength="20">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="aplicacao">Aplicação:</label>
                                    <input type="text" name="aplicacao" id="aplicacao" class="form-control"
                                           placeholder="Aplicação" maxlength="20">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="questaoDescricao">Descrição:</label>
                                    <input type="text" name="questaoDescricao" id="questaoDescricao"
                                           class="form-control"
                                           placeholder="Descrição" maxlength="255"
                                           value="<?php echo $this->arrDados['questaoDescricao']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <?php if (!$this->partial) { ?>
                                        <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                            <i class="fa fa-bars"></i>
                                            Voltar para Listagem
                                        </a>
                                    <?php } ?>

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </form>
                        <?php if (!$this->partial) { ?>
                    </div>
                </div><?php } ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.avaliacaoQuestaoAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                avaliacaoQuestaoTipo: '<?=$urlPesquisaAvaliacaoQuestaoTipo;?>',
                avaliacaoQuestaoAplicacao: '<?=$urlPesquisaAvaliacaoQuestaoAplicacao;?>'
            },
            data: {},
            value: {
                questaotipo:<?=json_encode($this->arrDados['questaotipo']); ?>,
                aplicacao:<?=json_encode($this->arrDados['aplicacao']); ?>
            }
        });
    });
</script>