<html>
<head>
    <style>
        @page {
            margin: 180px 50px;
            font-size: 80%;
        }

        #header {
            position: fixed;
            left: 0px;
            top: -170px;
            right: 0px;
            height: 150px text-align : center;
        }

        #headerinfo {
            position: fixed;
            left: 0px;
            top: 40px;
            right: 0px;
            height: 110px;
            text-align: center;
        }

        #footer {
            position: fixed;
            left: 0px;
            bottom: -181px;
            right: 0px;
            height: 150px;
        }

        h4, h5 {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        table {
            border-collapse: collapse;

        }

        table td {
            border: 1px solid black;
        }
        table th {
            border: 1px solid black;
        }

        #footer .page:after {
            content: counter(page, upper);
        }

        #footer :last-child{
            border-color: #fff !important;
        }

        .logo{
            max-width: 250px;
            max-height: 50px;
            margin-bottom: 2% !important;
            margin-top: 2% !important;
        }

        td {
            vertical-align: middle;
            text-align: center;
            padding: 1mm;
        }

        td a, td input, td img {
            vertical-align: middle;
            display: inline-block;
        }

    </style>
    <div id="footer">
        <p style="text-align: center">_____________________________________________________________________________<br>
        <b><?= $this->disc->getDocente()->getPes()->getPes()->getPesNome();?></b>
        </p>

        <p style="text-align:left;">Versa Tecnologia - Universa </p>
        <p class="page" style="text-align: right;"> pág </p>
    </div>

<body>
<table width="100%" id="header">
    <tr>
        <td width="30%" valign="top" colspan="2">
            <?= ($this->logo ? '<img src="' . $this->logo . '" class="logo"/>' : '') ?>
        </td>

        <td width="70%" valign="top" style="text-align: center" colspan="4">
            <h3><?= ($this->mantenedora) ?></h3>
            <h3><?= ($this->ies) ?></h3>
            <h5>DIARIO DE CLASSE - ANOTAÇÕES
                <h5>
                    <h3><span>Disciplina:<?= $disc->getDisc()->getDiscNome() ?><h3>
        </td>
    </tr>
    <tr>
        <td style="width:30%;">
            <b>SEMESTRE</b>
        </td>
        <td style="width:10%;">
            <b>Mês de Atividade</b>
        </td>
        <td style="width:1%;">
            <b>Período</b>
        </td>
        <td style="width:5%;">
            <b>Turno</b>
        </td>
        <td style="width:7%;">
            <b>Turma</b>
        </td>
        <td style="width:46%;">
            <b>Professor</b>
        </td>
    </tr>
    <tr>
        <td><?= $this->per->getPerAno().'/'.$this->per->getPerSemestre(); ?></td>
        <td><?= $this->mes; ?></td>
        <td><?= $this->disc->getTurma()->getTurmaSerie(); ?></td>
        <td><?= $this->disc->getTurma()->getTurmaTurno(); ?></td>
        <td><?= $this->disc->getTurma()->getTurmaNome(); ?></td>
        <td><?= $this->disc->getDocente()->getPes()->getPes()->getPesNome(); ?></td>
    </tr>
</table>
<?php
if(count($this->anotacoes) > 0):?>
    <table id="content" style="width: 100%; border: solid 1px">
        <thead>
        <tr>
            <th style="width: 20%; text-align: left">
                Lançamento
            </th>
            <th style="width: 30%; text-align: left">
                Título
            </th>
            <th style="width: 50%; text-align: left">
                Conteúdo
            </th>
        </tr>
        </thead>
        <tbody>
        <?php
        foreach($this->anotacoes as $anot):
            ?>
            <tr>
                <td>
                    <?= $anot->getAnotData()->format('d/m/Y'); ?>
                </td>
                <td>
                    <?= $anot->getAnotTitulo();    ?>
                </td>
                <td>
                    <?= $anot->getAnotDescricao(); ?>
                </td>
            </tr>
        <?php
        endforeach;
        ?>
        </tbody>
    </table>
<?php else:?>
    <p style="text-align: center"><b>NÃO HÁ LANÇAMENTOS PARA O MÊS RELACIONADO</b></p>

<?php endif;
?>