<?php
$urlListagem = $this->url('financeiro/default', array('controller' => 'financeiro-valores'));
$paramUrl    = array('controller' => 'financeiro-valores', 'action' => 'add');

if ($this->arrDados['valoresId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['valoresId'];
}
$urlPesquisaCampusCurso               = $this
    ->url('matricula/default', array('controller' => 'campus-curso', 'action' => 'search-for-json'));
$urlPesquisaAcadperiodoLetivo         = $this
    ->url('matricula/default', array('controller' => 'acadperiodo-letivo', 'action' => 'search-for-json'));
$urlPesquisaFinanceiroTituloTipo      = $this
    ->url('financeiro/default', array('controller' => 'financeiro-titulo-tipo', 'action' => 'search-for-json'));
$urlPesquisaAcadgeralAreaConhecimento = $this
    ->url('matricula/default', array('controller' => 'acadgeral-area-conhecimento', 'action' => 'search-for-json'));
$urlForm                              = $this->url('financeiro/default', $paramUrl);

$this->layoutComponent()->addJS('jquery-migrate', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('datepicker-pt-BR', false, 'App');
$this->layoutComponent()->addJS('jquery.formatDateTime', false, 'App');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('financeiro-valores-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="financeiro-valores-form" novalidate="novalidate"
                          method="post">
                        <input type="hidden" name="valoresId" id="valoresId"
                               value="<?php echo $this->arrDados['valoresId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cursocampus">Câmpus/Curso:</label>
                                <input type="text" name="cursocampus" id="cursocampus" class="form-control"
                                       placeholder="Câmpus/Curso">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipotitulo">Tipo De Título:</label>
                                <input type="text" name="tipotitulo" id="tipotitulo" class="form-control"
                                       placeholder="Tipo De Título" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="area">Área:</label>
                                <input type="text" name="area" id="area" class="form-control" placeholder="Área">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="per">Período Letivo:</label>
                                <input type="text" name="per" id="per" class="form-control"
                                       placeholder="Período Letivo" maxlength="10">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="valoresDataInicio">Data de Início de Uso:</label>
                                <input type="text" name="valoresDataInicio" id="valoresDataInicio" class="form-control"
                                       placeholder="Data de Início de Uso"
                                       value="<?php echo $this->arrDados['valoresDataInicio']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="valoresDataFim">Data de Final de Uso:</label>
                                <input type="text" name="valoresDataFim" id="valoresDataFim" class="form-control"
                                       placeholder="Data de Final de Uso"
                                       value="<?php echo $this->arrDados['valoresDataFim']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valoresParcela">Quantidade de Parcelas:</label>
                                <input type="text" name="valoresParcela" id="valoresParcela" class="form-control"
                                       placeholder="Quantidade de Parcelas" maxlength="11"
                                       value="<?php echo $this->arrDados['valoresParcela']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valoresPreco">Preço:</label>
                                <input type="text" name="valoresPreco" id="valoresPreco" class="form-control"
                                       placeholder="Preço" maxlength="10"
                                       value="<?php echo $this->arrDados['valoresPreco']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valoresPrecoTotal">Total:</label>
                                <p class="form-control-static" id="valoresPrecoTotal"></p>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.financeiroValoresAdd({
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>,
            url: {
                campusCurso: '<?=$urlPesquisaCampusCurso;?>',
                acadperiodoLetivo: '<?=$urlPesquisaAcadperiodoLetivo;?>',
                financeiroTituloTipo: '<?=$urlPesquisaFinanceiroTituloTipo;?>',
                acadgeralAreaConhecimento: '<?=$urlPesquisaAcadgeralAreaConhecimento;?>'
            },
            data: {},
            value: {
                cursocampus:<?=json_encode($this->arrDados['cursocampus']); ?>,
                per:<?=json_encode($this->arrDados['per']); ?>,
                tipotitulo:<?=json_encode($this->arrDados['tipotitulo']); ?>,
                area:<?=json_encode($this->arrDados['area']); ?>
            },
        });
    });
</script>