<html>
<?php
if ($this->arrDados) {
    $carneIndice = 0;
    $dadosGerais = array();
    $dadosGerais = array_merge($this->arrDados, $this->alunocursoId);
    $x           = 0;

    foreach ($this->arrDados as $arrDadosGerais) {
        foreach ($arrDadosGerais as $carneIndice => $dados) {
            if ($dados->getBanco()->getCodigoBanco() == '104') {
                if ($carneIndice != 0 && ($carneIndice) % 3 == 0) {
                    echo '<div style="page-break-after: always">&nbsp;</div>';
                }

                echo $this->partial(
                    '/boleto/carne/partials/caixa',
                    [
                        'dados'        => $dados,
                        'indice'       => $carneIndice,
                        'alunocursoId' => $this->alunocursoId[$dados->getBanco()->getCodigoBanco()][$x]
                    ]
                );
                /*TODO: Trazer codigo do banco pelas constantes do BoletoBanco*/
            } elseif ($dados->getBanco()->getCodigoBanco() == 756) {

                echo $this->partial(
                    '/boleto/carne/partials/sicoob',
                    [
                        'dados'        => $dados,
                        'indice'       => $carneIndice,
                        'alunocursoId' => $this->alunocursoId[$dados->getBanco()->getCodigoBanco()][$x]
                    ]
                );
            }
            $x++;
        }

        echo '<div style="page-break-after: always">&nbsp;</div>';
    }
}
?>
</html>