<?php
$urlAdd                        = $this
    ->url('biblioteca/default', array('controller' => 'titulo', 'action' => 'visualizar-titulo'));
$urlSearch                     = $this
    ->url('biblioteca/default', array('controller' => 'titulo', 'action' => 'search'));
$urlEdit                       = $this
    ->url('biblioteca/default', array('controller' => 'titulo', 'action' => 'edit'));
$urlPesquisaAssunto            = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'search-for-json'));
$urlPesquisaAreaCnpq           = $this
    ->url('biblioteca/default', array('controller' => 'area-cnpq', 'action' => 'search-for-json'));
$urlPesquisaEmpresa            = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));
$urlPesquisaAutor              = $this
    ->url('biblioteca/default', array('controller' => 'autor', 'action' => 'search-for-json'));
$urlGerenciadorDeArquivosThumb = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'thumb'));
$urlVisualizarTitulo           = $this
    ->url('biblioteca/default', array('controller' => 'titulo', 'action' => 'visualizar-titulo'));
?>
<style type="text/css">
    .select2-results .select2-no-results,
    .select2-results .select2-searching,
    .select2-results .select2-selection-limit {
        background-color: #ffffff;
        color: #787878;
    }
</style>
<div class="col-sm-12">
    <?php
    $showMessages = function ($messages, $options) {
        foreach ($messages as $err) {
            if (!$options['icon']) {
                $options['icon'] = 'fa-' . $options['type'];
            }

            echo '<div class="alert alert-' . $options['type'] . ' fade in flash-messenger">' .
                '<button class="close" data-dismiss="alert">×</button>' .
                '<i class="fa ' . $options['icon'] . '"></i> ' .
                '<strong>' . ($options['prefix'] ? $options['prefix'] : ' ') . '</strong> ' .
                $err .
                '</div>';
        }
    };
    $showMessages($this->fmError, array('type' => 'danger', 'icon' => 'fa-times-circle'));
    $showMessages($this->fmInfo, array('type' => 'info', 'icon' => 'fa-info-circle'));
    $showMessages($this->fmSuccess, array('type' => 'success', 'icon' => 'fa-check-circle'));
    $showMessages($this->fmWarning, array('type' => 'warning', 'icon' => 'fa-exclamation-circle'));
    ?>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <i class="fa fa-filter"></i>
                            Filtros
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="grupoBibliografico">Grupo
                                    bibliográfico:</label>
                                <input name="grupoBibliografico" id="grupoBibliografico"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="editora">Editora:</label>
                                <input type="text" name="editora" id="editora"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="autor">Autor:</label>
                                <input type="text" name="autor" id="autor"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="assunto">Assunto:</label>
                                <input type="text" name="assunto" id="assunto"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="areaCnpq">Área CNPq:</label>
                                <input type="text" name="areaCnpq" id="areaCnpq"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="tituloTitulo">Título:</label>
                                <input type="text" name="tituloTitulo" id="tituloTitulo"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary"
                                        id="titulosFiltroExecutar">
                                    <i class="fa fa-search"></i>
                                    Buscar
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        id="titulosFiltroLimpar">
                                    <i class="fa fa-clear"></i>
                                    Limpar filtros
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="dataTableTitulo"
                   class="table table-striped table-bordered table-hover"
                   width="100%">
                <thead>
                <tr>
                    <th class="text-center">Resultados da pesquisa:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">
                        Acrescente um filtro ou faça uma pesquisa para visualizar os acervos.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <?php echo $this->partial('biblioteca/titulo/visualizador-arquivo.phtml', []); ?>

    <script type="text/javascript">
        $(document).ready(function () {
            $.tituloConsulta({
                urlSearch: '<?php echo $urlSearch;?>',
                urlEdit: '<?php echo $urlEdit;?>',
                url: {
                    assunto: '<?php echo $urlPesquisaAssunto;?>',
                    areaCnpq: '<?php echo $urlPesquisaAreaCnpq;?>',
                    empresa: '<?php echo $urlPesquisaEmpresa;?>',
                    autor: '<?php echo $urlPesquisaAutor;?>',
                    urlGerenciadorDeArquivosThumb: '<?php echo $urlGerenciadorDeArquivosThumb;?>',
                    urlVisualizarTitulo: '<?php echo $urlVisualizarTitulo;?>'
                },
                data: {
                    grupoBibliografico:<?php echo $this->jsonGrupoBibliografico;?>
                },
                value: {
                    permiteVisualizarAcervo:<?php echo $this->permiteVisualizarAcervo;?>
                }
            });
        });
    </script>
</div>