<?php
$paramUrl = array("controller" => "titulo", "action" => "add");

$urlAdd             = $this->url("biblioteca/default", $paramUrl);
$paramUrl['action'] = 'search';
$urlSearch          = $this->url("biblioteca/default", $paramUrl);
$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("biblioteca/default", $paramUrl);

$paramUrl['action']  = 'visualizar-titulo';
$urlVisualizarTitulo = $this->url("biblioteca/default", $paramUrl);

$urlPesquisaAssunto  = $this
    ->url('biblioteca/default', array('controller' => 'assunto', 'action' => 'search-for-json'));
$urlPesquisaAreaCnpq = $this
    ->url('biblioteca/default', array('controller' => 'area-cnpq', 'action' => 'search-for-json'));
$urlPesquisaEmpresa  = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));
$urlPesquisaAutor    = $this
    ->url('biblioteca/default', array('controller' => 'autor', 'action' => 'search-for-json'));

$this->layoutComponent()->addJS('store', false, 'App');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('titulo-index', false, 'App');
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.componente', array('layout' => 'App'));
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

?>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-chevron-right"></i>
                                        Filtros avançados
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="grupoBibliografico">Grupo bibliográfico:</label>
                                            <input name="grupoBibliografico" id="grupoBibliografico"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="editora">Editora:</label>
                                            <input type="text" name="editora" id="editora" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="autor">Autor:</label>
                                            <input type="text" name="autor" id="autor" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="assunto">Assunto:</label>
                                            <input type="text" name="assunto" id="assunto" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="areaCnpq">Área CNPq:</label>
                                            <input type="text" name="areaCnpq" id="areaCnpq" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" id="titulosFiltroExecutar">
                                                <i class="fa fa-search"></i>
                                                Filtrar resultados
                                            </button>
                                            <button type="button" class="btn btn-secondary" id="titulosFiltroLimpar">
                                                <i class="fa fa-clear"></i>
                                                Limpar filtros
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="dataTableTitulo" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th class="col-sm-3">Título</th>
                            <th class="col-sm-2">Autores</th>
                            <th>Volume</th>
                            <th>ISBN</th>
                            <th>CDU/UDC/CDD</th>
                            <th>Cutter</th>
                            <th>Ano</th>
                            <th class="col-sm-2">Editora</th>
                            <th>Exemplares</th>
                            <th>Disponíveis</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <a href="<?php echo $urlAdd; ?>" class="btn btn-primary">
                            Novo Título
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<?php echo $this->partial('biblioteca/titulo/visualizador-arquivo.phtml', []); ?>
<script type="text/javascript">
    $(document).ready(function () {
        $.tituloIndex({
            urlSearch: '<?php echo $urlSearch;?>',
            urlEdit: '<?php echo $urlEdit;?>',
            url: {
                assunto: '<?php echo $urlPesquisaAssunto;?>',
                areaCnpq: '<?php echo $urlPesquisaAreaCnpq;?>',
                empresa: '<?php echo $urlPesquisaEmpresa;?>',
                autor: '<?php echo $urlPesquisaAutor;?>',
                visualizador: '<?php echo $urlVisualizarTitulo;?>'
            },
            data: {
                grupoBibliografico:<?php echo $this->jsonGrupoBibliografico;?>
            }

        });
    });
</script>