<div class="modal fade" data-keyboard="false" data-backdrop="static" id="visualizar-arquivo-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true" aria-labelledby="visualizar-arquivo-modal-titulo">
    <div class="modal-dialog" role="document" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title" id="visualizar-arquivo-modal-titulo">Leitor de Título</div>
            </div>
            <div class="modal-body">
                <iframe id="visualizar-arquivo-iframe" name="visualizar-arquivo-iframe"
                        style="width: 100%; height: 60em;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>