<?php
$titulo                           = $this->titulo;
$urlGerenciadorDeArquivosDownload = $this
    ->url('gerenciador-arquivos/default', array('controller' => 'arquivo', 'action' => 'download-protect'));

$urlGerenciadorDeArquivosDownload .= '/' . $this->token;

$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('jquery-ui', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('bootstrap.min', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent(
    'font-awesome',
    array('CssCheck' => '.min', 'mode' => 'CSS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('smartadmin-production', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('smartadmin-skins', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('versa.skeleton', array('layout' => 'VersaSkeleton', 'mode' => 'JS'));
$this->layoutComponent()->addComponent(
    'maskedinput',
    array('JsCheck' => '.min', 'mode' => 'JS', 'layout' => 'SmartAdmin')
);

$javascript = <<<STRING
// If absolute URL from the remote server is provided, configure the CORS
    // header on that server.
    var url = '$urlGerenciadorDeArquivosDownload';


    pdfjsLib = window['pdfjs-dist/build/pdf'];

    // The workerSrc property shall be specified.
    pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

    var pdfDoc = null,
        pageNum = 1,
        pageRendering = false,
        pageNumPending = null,
        scale = 8,
        canvas = document.getElementById('the-canvas'),
        ctx = canvas.getContext('2d');

    /**
     * Get page info from document, resize canvas accordingly, and render page.
     * @param num Page number.
     */
    function renderPage(num) {
        pageRendering = true;
        // Using promise to fetch the page
        pdfDoc.getPage(num).then(function (page) {
            var viewport = page.getViewport(scale);
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
                canvasContext: ctx,
                viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function () {
                pageRendering = false;
                if (pageNumPending !== null) {
                    // New page rendering is pending
                    renderPage(pageNumPending);
                    pageNumPending = null;
                }
            });
        });

        // Update page counters
        document.getElementById('page_num').textContent = num;
    }

    /**
     * If another page rendering in progress, waits until the rendering is
     * finised. Otherwise, executes rendering immediately.
     */
    function queueRenderPage(num) {
        if (pageRendering) {
            pageNumPending = num;
        } else {
            renderPage(num);
        }
    }

    /**
     * Displays previous page.
     */
    function onPrevPage() {
        if (pageNum <= 1) {
            return;
        }

        pageNum--;
        queueRenderPage(pageNum);        
    }

    document.getElementById('prev').addEventListener('click', function() {
      onPrevPage();
      var evt = window.event;
      evt.preventDefault();
      evt.stopPropagation(true);
    });
    
    /**
     * Displays next page.
     */
    function onNextPage() {
        if (pageNum >= pdfDoc.numPages) {
            return;
        }

        pageNum++;
        queueRenderPage(pageNum);
    }

    document.getElementById('next').addEventListener('click', function() {
        onNextPage();
        var evt = window.event;
        evt.preventDefault();
        evt.stopPropagation(true);
    });

    /**
     * Asynchronously downloads PDF.
     */
    pdfjsLib.getDocument(url).then(function (pdfDoc_) {
        pdfDoc = pdfDoc_;
        document.getElementById('page_count').textContent = pdfDoc.numPages;

        // Initial/first page rendering
        renderPage(pageNum);
    }).catch(function (err) {
        document.getElementById('the-canvas').style.display = 'none';
        alert('Documento inválido ou acesso indisponível!');
    });     
    $("#tituloSpam").text(' '+'$titulo');
STRING;

function encrypt($str)
{
    $x         = 0;
    $charCodes = [];

    while ($x <= strlen($str) - 1) {
        $charCodes[] = ord($str[$x]);
        $x++;
    }

    return "eval(String.fromCharCode(" . implode(', ', $charCodes) . "));";
}

$js = encrypt($javascript);
?>
<style>
    #the-canvas {
        width: 100%;

    }
</style>
<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" novalidate="novalidate" method="post" id="form-titulos-inicio"
                          enctype="multipart/form-data">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <i class="fa fa-book"><span id="tituloSpam"></span></i>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-12"><br><br></div>

                                <h1><?php $this->titulo ?></h1>

                                <div class="form-group">
                                    <div class="buttons col-sm-4 text-left">
                                        <button type="button" class="btn btn-primary" id="prev">
                                            <span class=" fa fa-arrow-left"></span>
                                            Anterior
                                        </button>
                                    </div>
                                    <div class="buttons col-sm-4 text-center">
                                        <span>Página: <span id="page_num"></span> de <span
                                                id="page_count"></span></span>
                                    </div>
                                    <div class="buttons col-sm-4 text-right">
                                        <button type="button" class="btn btn-primary" id="next">
                                            Próximo
                                            <span class=" fa fa-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <canvas id="the-canvas"></canvas>
                                </div>
                                <script type="text/javascript">
                                    <?=$js;?>
                                </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
