<?php
$urlListagem = $this->url('atividades/default', array('controller' => 'estagio-nucleo-responsavel'));
$paramUrl    = array('controller' => 'estagio-nucleo-responsavel', 'action' => 'add');

if ($this->arrDados['nucleoresponsavelId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->arrDados['nucleoresponsavelId'];
}

$urlPesquisaPessoa = $this
    ->url('pessoa/default', array('controller' => 'pessoa', 'action' => 'search-for-json'));

$urlPesquisaEstagiogeralNucleo = $this
    ->url('atividades/default', array('controller' => 'estagiogeral-nucleo', 'action' => 'search-for-json'));
$urlForm                       = $this->url('atividades/default', $paramUrl);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('estagio-nucleo-responsavel-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="estagio-nucleo-responsavel-form" novalidate="novalidate"
                          method="post">

                        <input type="hidden" name="nucleoresponsavelId" id="nucleoresponsavelId"
                               value="<?php echo $this->arrDados['nucleoresponsavelId']; ?>">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="pesId">Pessoa:</label>
                                <input type="text" name="pesId" id="pesId" class="form-control"
                                       placeholder="Pessoa" maxlength="11"
                                       value="<?php echo $this->arrDados['pesId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoId">Código:</label>
                                <input type="text" name="nucleoId" id="nucleoId" class="form-control"
                                       placeholder="Código" maxlength="10"
                                       value="<?php echo $this->arrDados['nucleoId']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoresponsavelInicio">nucleoresponsavel_inicio:</label>
                                <input type="text" name="nucleoresponsavelInicio" id="nucleoresponsavelInicio"
                                       class="form-control"
                                       placeholder="nucleoresponsavel_inicio" maxlength=""
                                       value="<?php echo $this->arrDados['nucleoresponsavelInicio']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoresponsavelFim">nucleoresponsavel_fim:</label>
                                <input type="text" name="nucleoresponsavelFim" id="nucleoresponsavelFim"
                                       class="form-control"
                                       placeholder="nucleoresponsavel_fim" maxlength=""
                                       value="<?php echo $this->arrDados['nucleoresponsavelFim']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoresponsavelObservacoes">nucleoresponsavel_observacoes:</label>
                                <input type="text" name="nucleoresponsavelObservacoes" id="nucleoresponsavelObservacoes"
                                       class="form-control"
                                       placeholder="nucleoresponsavel_observacoes" maxlength="45"
                                       value="<?php echo $this->arrDados['nucleoresponsavelObservacoes']; ?>">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nucleoResponsavelNivel">nucleo_responsavel_nivel:</label>
                                <select name="nucleoResponsavelNivel" id="nucleoResponsavelNivel" class="form-control">
                                    <option></option>
                                    <?php
                                    foreach ($this->arrNucleoResponsavelNivel as $value) {
                                        $id        = $value['id'];
                                        $descricao = $value['text'];
                                        $selected  = ($id == $this->arrDados['nucleoResponsavelNivel']) ? " selected" : "";
                                        echo "<option value='" . $id . "'" . $selected . ">" . $descricao . "</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.estagioNucleoResponsavelAdd({

                urlPesquisaPessoa: '<?=$urlPesquisaPessoa;?>',

                urlPesquisaEstagiogeralNucleo: '<?=$urlPesquisaEstagiogeralNucleo;?>',

            <?php echo $this->arrDados['pesId'] ? "\n,pesId:".json_encode($this->arrDados['pesId']) : ''; ?>,

        <?php echo $this->arrDados['nucleoId'] ? "\n,nucleoId:".json_encode($this->arrDados['nucleoId']) : ''; ?>
    });
    })
    ;
</script>