<?php
$urlListagem   = $this->url('biblioteca/default', array('controller' => 'pessoa'));
$urlPesquisaPF = $this->url('biblioteca/default', array('controller' => 'pessoa', 'action' => 'search-pessoa-fisica'));
$urlBuscaCEP   = $this->url('pessoa/default', array('controller' => 'cidade', 'action' => 'busca-info-cep'));

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('maskMoney');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('deserialize', false, 'App');
$this->layoutComponent()->addComponent('bootstrap.wizard');
$this->layoutComponent()->addJS('biblioteca/pessoa/pessoa-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" id="pessoa-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pesId" id="pesId" value="<?php echo $this->dadosPessoa['pesId']; ?>">
                        <input type="hidden" name="pessoaImportada" id="pessoaImportada"
                               value="<?php echo $this->dadosPessoa['pessoaImportada']; ?>">
                        <input type="hidden" name="pessoaAluno" id="pessoaAluno"
                               value="<?php echo $this->dadosPessoa['pessoaAluno']; ?>">
                        <input type="hidden" name="pessoaUsuario" id="pessoaUsuario"
                               value="<?php echo $this->dadosPessoa['pessoaUsuario']; ?>">
                        <input type="hidden" name="pessoaAlunoMatricula" id="pessoaAlunoMatricula"
                               value="<?php echo $this->dadosPessoa['pessoaAlunoMatricula']; ?>">

                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="pesCpf">CPF:</label>

                                    <div class="input-group">
                                        <input type="text" name="pesCpf" id="pesCpf" class="form-control"
                                               placeholder="CPF"
                                               value="<?php echo $this->dadosPessoa['pesCpf']; ?>">

                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="buscarCpf"
                                                    title="Buscar pessoas cadastradas no banco pelo cpf">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="pesNome">Nome:</label>
                                    <input type="text" name="pesNome" id="pesNome" class="form-control"
                                           placeholder="Ex. VERSA TECNOLOGIA"
                                           autocomplete="off"
                                           value="<?php echo $this->dadosPessoa['pesNome']; ?>">
                                </div>
                            </div>
                            <input type="hidden" name="endId" id="endId"
                                   value="<?php echo $this->dadosPessoa['endId']; ?>">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="conContatoTelefone">Telefone:</label>
                                    <input type="text" name="conContatoTelefone" id="conContatoTelefone"
                                           class="form-control"
                                           placeholder="(00) 0000-0000"
                                           value="<?php echo $this->dadosPessoa['conContatoTelefone']; ?>">
                                    <input type="hidden" name="conContatoTelefoneId" id="conContatoTelefoneId"
                                           value="<?php echo $this->dadosPessoa['conContatoTelefoneId']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="conContatoCelular">Celular:</label>
                                    <input type="text" name="conContatoCelular" id="conContatoCelular"
                                           class="form-control"
                                           placeholder="(00) 0000-0000"
                                           value="<?php echo $this->dadosPessoa['conContatoCelular']; ?>">
                                    <input type="hidden" name="conContatoCelularId" id="conContatoCelularId"
                                           value="<?php echo $this->dadosPessoa['conContatoCelularId']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="conContatoEmail">Email:</label>
                                    <input type="text" name="conContatoEmail" id="conContatoEmail"
                                           class="form-control"
                                           placeholder="email@pessoa.com.br"
                                           value="<?php echo $this->dadosPessoa['conContatoEmail']; ?>">
                                    <input type="hidden" name="conContatoEmailId" id="conContatoEmailId"
                                           value="<?php echo $this->dadosPessoa['conContatoEmailId']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pessoaSenha">Senha:</label>
                                    <input type="password" name="pessoaSenha" id="pessoaSenha"
                                           class="form-control" maxlength="6" autocomplete="off" readonly
                                           onfocus="this.removeAttribute('readonly');"
                                        <?php echo $this->dadosPessoa['pessoaUsuario'] ? 'disabled' : ''; ?>>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pessoaSenhaConfirmacao">Confirmação de senha:</label>
                                    <input type="password" name="pessoaSenhaConfirmacao" id="pessoaSenhaConfirmacao"
                                           class="form-control" maxlength="6" autocomplete="off" readonly
                                           onfocus="this.removeAttribute('readonly');"
                                        <?php echo $this->dadosPessoa['pessoaUsuario'] ? 'disabled' : ''; ?>>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="endCep">CEP:</label>

                                    <div class="input-group">
                                        <input type="text" name="endCep" id="endCep" class="form-control"
                                               placeholder="00000-000"
                                               value="<?php echo $this->dadosPessoa['endCep']; ?>">

                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="buscarCep"
                                                    title="Buscar endereço pelo CEP">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="endLogradouro">Logradouro:</label>
                                    <input type="text" name="endLogradouro" id="endLogradouro" class="form-control"
                                           placeholder="Informe o logradouro"
                                           value="<?php echo $this->dadosPessoa['endLogradouro']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="endNumero">Número:</label>
                                    <input type="text" name="endNumero" id="endNumero" class="form-control"
                                           placeholder="Informe o número"
                                           value="<?php echo $this->dadosPessoa['endNumero']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="endComplemento">Complemento:</label>
                                    <input type="text" name="endComplemento" id="endComplemento"
                                           class="form-control"
                                           placeholder="Informe o complemento"
                                           value="<?php echo $this->dadosPessoa['endComplemento']; ?>">
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="endBairro">Bairro:</label>
                                    <input type="text" name="endBairro" id="endBairro" class="form-control"
                                           placeholder="Informe o bairro"
                                           value="<?php echo $this->dadosPessoa['endBairro']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="endCidade">Cidade:</label>
                                    <input type="text" name="endCidade" id="endCidade" class="form-control"
                                           placeholder="Informe a cidade"
                                           autocomplete="off"
                                           value="<?php echo $this->dadosPessoa['endCidade']; ?>">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="endEstado">Estado:</label>
                                    <input type="text" name="endEstado" id="endEstado" class="form-control"
                                           placeholder="Informe o estado"
                                           autocomplete="off"
                                           value="<?php echo $this->dadosPessoa['endEstado']; ?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="grupoLeitor">Grupo de Leitor:</label>
                                    <select id="grupoLeitor" name="grupoLeitor" class="form-control">
                                        <option></option><?php
                                        foreach ($this->grupoLeitor as $value) {
                                            $id              = $value['grupo_leitor_id'];
                                            $pessoaDescricao = $value['grupo_leitor_nome'];
                                            $selected        = ((int)$id == (int)$this->dadosPessoa['grupoLeitor']) ? " selected" : "";
                                            echo "<option value='" . $id . "'" . $selected . ">" . $pessoaDescricao . "</option>";
                                        }
                                        ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Situação:</label>

                                    <div class="input-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="pessoaSituacao"
                                                   id="pessoaSituacao1" value="Ativo"
                                                <?php echo $this->dadosPessoa['pessoaSituacao'] != 'Inativo' ? 'checked' : ''; ?>
                                                >Ativo
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="pessoaSituacao"
                                                   id="pessoaSituacao2" value="Inativo"
                                                <?php echo $this->dadosPessoa['pessoaSituacao'] == 'Inativo' ? 'checked' : ''; ?>
                                                >Inativo
                                        </label>
                                    </div>
                                    <span for="pessoaSituacao" style="display: none" class="error help-block">Campo obrigatório!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pessoaObservacao">Observações:</label>
                                    <textarea name="pessoaObservacao" id="pessoaObservacao" class="form-control"
                                              placeholder="Observações"
                                              rows="5"><?php echo $this->dadosPessoa['pessoaObservacao']; ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                    <i class="fa fa-bars"></i>
                                    Voltar para Listagem
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.pessoaAdd({
            urlBuscaCEP: '<?php echo $urlBuscaCEP;?>',
            urlPesquisaPF: '<?php echo $urlPesquisaPF;?>'
        });
    });
</script>