<?php


?>

<?php if($this->faltas):?>
    <div class="row">
        <h3>Faltas</h3>


        <?php foreach($this->faltas as $falta):?>
            <p>Dia <strong><?=$falta['diaFalta']?>:</strong> <span style="color: red"><?=$falta['total']?></span> falta(s)</p>
        <?php endforeach;  ?>
    </div>
<?php else:?>
    <div class="row">
        <h3>Faltas</h3>
        Você não possui faltas nesta disciplinas.
    </div>
<?php endif ?>

