<?php
$urlListagem        = $this
    ->url('biblioteca/default', array('controller' => 'colecao'));
$urlPesquisaEditora = $this
    ->url('biblioteca/default', array('controller' => 'empresa', 'action' => 'search-for-json'));
$urlForm            = $this
    ->url('biblioteca/default', array('controller' => 'colecao', 'action' => 'add'));

if ($this->dadosColecao['colecaoId']) {
    $urlForm = $this->url(
        'biblioteca/default',
        array('controller' => 'colecao', 'action' => 'edit', 'id' => $this->dadosColecao['colecaoId'])
    );
}

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('colecao-add', false, 'App');
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="colecao-form" novalidate="novalidate" method="post">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="colecaoDescricao">Descrição:</label>
                                <input type="text" name="colecaoDescricao" id="colecaoDescricao" class="form-control"
                                       placeholder="Exemplo: Coleção Vagalume"
                                       value="<?php echo $this->dadosColecao['colecaoDescricao']; ?>">
                            </div>
                        </div>
                        <input type="hidden" name="colecaoTitulos" id="colecaoTitulos"
                               value="<?php echo $this->dadosColecao['colecaoTitulos']; ?>">
                        <input type="hidden" name="colecaoId" id="colecaoId"
                               value="<?php echo $this->dadosColecao['colecaoId']; ?>">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="editora">Editora:</label>
                                <input type="text" name="editora" id="editora"
                                       class="form-control"
                                       placeholder="Informe a editora">
                            </div>
                        </div>


                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.colecaoAdd({
            urlPesquisaEditora: '<?php echo $urlPesquisaEditora;?>',
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>
            <?php echo $this->dadosColecao['editora'] ? "\n,editora:".json_encode($this->dadosColecao['editora']) : ''; ?>
        });
    });
</script>