<?php

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->spineJarvis()->openJarvis();
echo $this->spineJarvis()->openWidget(array('title' => 'Cadastro de Matriz Curricular', 'icon' => 'fa fa-gear'));
echo $this->form()->openTag($this->form);
echo $this->formRow($this->form->get('matCurId'));
?>
<div class="row">
    <?php
    echo $this->spineForm()->formInput($this->form->get('curso'));
    echo $this->spineForm()->formInput($this->form->get('matCurAno'));
    echo $this->spineForm()->formInput($this->form->get('matCurSemestre'));
    ?>
</div>
<div class="row">
    <?php
    echo $this->spineForm()->formInput($this->form->get('matCurDescricao'));
    ?>
</div>
<div class="row">
    <input type="hidden" name="excluidos">
    <div class="col-lg-10" style="padding-left: 30px;">
        <div class="panel-group smart-accordion-default" id="accordion-2" style=" border: solid 1px">
            <?php
            $periodos = $this->curso->getCursoPrazoIntegralizacao();
            for($i = 1; $i <= $periodos; $i++):
            ?>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-2" href="#periodo<?= $i ?>" aria-expanded="false" class="collapsed">
                                <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                <i class="fa fa-fw fa-minus-circle txt-color-red"></i>
                                <?= $i ?>º Período
                            </a>
                        </h4>
                    </div>
                    <div id="periodo<?= $i ?>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="row">
                                <section class="col-md-4 col-xs-6 col-sm-12" style="padding-left: 30px">
                                    <div class="form-group">
                                        <label>Disciplinas:</label>
                                        <select multiple class="select2" name="disciplinasper" data-periodo="<?= $i ?>" onchange="">
                                            <?php
                                            foreach($this->disciplinas as $disc):
                                                $discId   = $disc->getDiscId();
                                                $discNome = $disc->getDiscNome();
                                                ?>
                                                <option value="<?= $discId ?>"  <?= $this->discSelecionada[$i][$discId]; ?> ><?= $discNome ?></option>
                                            <?php
                                            endforeach;
                                            ?>
                                        </select>
                                    </div>
                                </section>
                            </div>
                            <div id="discPer<?= $i ?>">

                            </div>
                        </div>
                    </div>
                </div>
            <?php
            endfor;
            ?>
        </div>
    </div>
</div>
<div hidden="hidden" id="FormMatrizDisc">
    <div class="row">
        <?php
        echo $this->formRow($this->formMatrizDisciplina->get('disc[]')->setAttributes(['value' => 'DISCID']));
        echo $this->formRow($this->formMatrizDisciplina->get('perDiscId[]')->setAttributes(['value' => 'PERDISCID']));
        echo $this->formRow($this->formMatrizDisciplina->get('perDiscPeriodo[]')->setAttributes(['value' => 'PERIODO']));
        echo $this->spineForm()->formInput($this->formMatrizDisciplina->get('discNome[]'), ['value' => 'DISCNOME']);
        echo $this->spineForm()->formInput($this->formMatrizDisciplina->get('perDiscChpratica[]'), ['value' => 'CHPRAT']);
        echo $this->spineForm()->formInput($this->formMatrizDisciplina->get('perDiscChteorica[]'), ['value' => 'CHTEO']);
        echo $this->spineForm()->formInput($this->formMatrizDisciplina->get('perDiscChestagio[]'), ['value' => 'CHEST']);
        echo $this->spineForm()->formInput($this->formMatrizDisciplina->get('perDiscCreditos[]'), ['value' => 'CREDITO']);
        ?>
    </div>
</div>
<div hidden="hidden" id="matrizDisciplina">
    <?php
    $json = [];
    foreach($this->matrizDisciplina as $matDisc) {
       $json[] = $matDisc->toArray();
    }
    echo \Zend\Json\Json::encode($json);
    ?>
</div>
<div class="row" id="periodoTravado">
    <?= $this->periodoTravado; ?>
</div>
<?php
echo $this->spineForm()->formInput($this->form->get('cadastrar'));
echo $this->spineJarvis()->closeWidget();
$this->spineJarvis()->closeJarvis();
?>
<script>
    $(function () {
        $('[name=curso]').change(function () {
            location.href = '?curso=' + this.value;
        });
        $("select[name='disciplinasper']").bind('change',function () {
            var periodo  = $(this).attr('data-periodo');
            var value    = $(this).val();
            if(value == null){
                value = Array();
            }
            var arr1 = buscaDiscInseridas(periodo);
            var diferenca = arr_diff(arr1, value); // Diferença recebe as que ainda nao foram inseridas.
            insereDiscPer(diferenca, periodo, this);
            arr1 = buscaDiscInseridas(periodo);
            var aremover = arr_diff(arr1, value); // aremover recebe as disciplinas que serao removidas.
            for(var j = 0; j < aremover.length; j++){
                removeDisc(aremover[j], periodo);
            }
            habilitaTodos();
            desabilitaTodos(periodo);
        });
        $("#FormMatriz").on('submit' ,function(){
            $('#FormMatrizDisc').detach();
            return true;
        });
        var matrizDisciplina = JSON.parse($("#matrizDisciplina").html());

//        $("select[name='disciplinasper']").each(function () {
//            var periodo  = $(this).attr('data-periodo');
//            var value    = $(this).val();
//            insereDiscPer(value, periodo, this);
//            habilitaTodos();
//            desabilitaTodos(periodo);
//        });
//
        for(var i = 0; i < matrizDisciplina.length; i++){
            insereDiscPer([matrizDisciplina[i].disc], matrizDisciplina[i].perDiscPeriodo, $("select[name='disciplinasper']")[0], matrizDisciplina[i]);
            desabilitaTodos();
        }

        var periodoTravado = $("#periodoTravado").html();
        for(var i = 0; i <= periodoTravado; i++){
            $("#periodo"+i).find("input").each(function () {
                $(this).attr('disabled', 'disabled');
            });
            $("#periodo"+i).find("select").attr('disabled', 'disabled');
        }
    });


    /*
    * Insere as disciplinas selecionadas no element no respectivo periodo.
    * */
    function insereDiscPer(value, periodo, element, edit){
        for(var i = 0; i < value.length; i++){
            var nomeDisc = $(element).find("option[value='" + value[i] + "']").html();
            var html = $('#FormMatrizDisc').html();
            html = html.replace('DISCID', value[i]);
            html = html.replace('DISCNOME', nomeDisc);
            html = html.replace('PERIODO', periodo);
            if(edit){
                html = html.replace('PERDISCID', (edit['perDiscId'] == null)? '' : edit['perDiscId']);
                html = html.replace('CHPRAT', (edit['perDiscChpratica'] == null)? '' : edit['perDiscChpratica']);
                html = html.replace('CHTEO', (edit['perDiscChteorica'] == null)? '' : edit['perDiscChteorica']);
                html = html.replace('CHEST', (edit['perDiscChestagio'] == null)? '' : edit['perDiscChestagio']);
                html = html.replace('CREDITO', (edit['perDiscCreditos'] == null)? '' : edit['perDiscCreditos']);
            } else {
                html = html.replace('PERDISCID', '');
                html = html.replace('CHPRAT', '');
                html = html.replace('CHTEO', '');
                html = html.replace('CHEST', '');
                html = html.replace('CREDITO', '');
            }
            $("#discPer"+periodo).append(html);
        }
        $spine().validateForm();
    }

    /*
    * remove a disciplina no período.
    * */
    function removeDisc(discId, periodo){
        $("input[name='perDiscPeriodo[]']").each(function () {
            if($(this).val() == periodo){
                if($(this).parent().find("input[name='disc[]']").val() == discId){
                    var matPerDisc = $(this).parent().find("input[name='perDiscId[]']").val();
                    if(matPerDisc){
                        var tmp = $("input[name='excluidos']").val();
                        tmp += ','+matPerDisc;
                        $("input[name='excluidos']").val(tmp);
                    }
                    $(this).parent().detach();
                }
            }
        });
    }

    /*
    * Busca pelas disciplinas ja selecionadas.
    * */
    function buscaDiscInseridas(periodo){
        var arr = new Array();
        $("#discPer"+periodo).find("input[name='disc[]']").each(function () {
            arr.push(this.value);
        });
        return arr;
    }

    function arr_diff(a1, a2)
    {
        var a=[], diff=[];
        for(var i=0;i<a1.length;i++)
            a[a1[i]]=true;
        for(var i=0;i<a2.length;i++)
            if(a[a2[i]]) delete a[a2[i]];
            else a[a2[i]]=true;
        for(var k in a)
            diff.push(k);
        return diff;
    }


    /*
    * Função para habilitar todos as disciplinas.
    * */
    function habilitaTodos(){
        $("option[disabled=disabled]").each(function () {
            $(this).removeAttr('disabled');
        });
    }
    /*
    * Desabilitar as disciplinas ja selecionadas de todos.
    * */
    function desabilitaTodos(periodo){
        var selecionados = [];
        selecionados.push({});
        $("input[name='disc[]']").each(function () {
            var valor = $(this).val();
            var peri  = $(this).parent().find("input[name='perDiscPeriodo[]']").val();
            var sele = {
                valor: valor,
                per  : peri
            };
            selecionados.push(sele);
        });
        for(var j = 1; j <= 10; j++){
            for(var i = 1; i < selecionados.length; i++){
                if(j != selecionados[i].per){
                    $("#periodo"+j).find("select[name='disciplinasper']").find("option[value='"+selecionados[i].valor+"']").attr('disabled', 'disabled');
                }
            }
        }
    }
</script>