<?php
$paramUrl = array("controller" => "acadperiodo-matriz-curricular", "action" => "add");
$urlAdd   = $this->url("organizacao/default", $paramUrl);

$paramUrl['action'] = 'search';
$urlSearch          = $this->url("organizacao/default", $paramUrl);

$paramUrl['action'] = 'edit';
$urlEdit            = $this->url("organizacao/default", $paramUrl);

$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('dataTables');
$this->layoutComponent()->addJS('dataTables.colVis');
$this->layoutComponent()->addJS('dataTables.tableTools');
$this->layoutComponent()->addJS('dataTables.bootstrap');
$this->layoutComponent()->addJS('datatables.responsive');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addComponent('fnFilterOnReturn', array('layout' => 'App'));
$this->layoutComponent()->addJS('acadperiodo-matriz-curricular-index', false, 'App');
?>
<style>
    .modal-dialog {
        width: 80%;
    }
</style>
<div id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken ">
                <div class="widget-body" id="container-acadperiodo-matriz-curricular">
                    <table id="dataTableAcadperiodoMatrizCurricular"
                           class="table table-striped table-bordered table-hover"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Semestre</th>
                            <th>Ano</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <footer class="text-center">
                        <button type="button" class="btn btn-success" id="btn-adicionar">
                            Novo Registro
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.acadperiodoMatrizCurricularIndex({
            url: {
                search: '<?php echo $urlSearch;?>',
                edit: '<?php echo $urlEdit;?>'
            }
        });
    });
</script>