<?php
$urlListagem = $this->url('biblioteca/default', array('controller' => 'autor'));
$paramUrl    = array('controller' => 'autor', 'action' => 'add');

if ($this->dadosAutor['autorId']) {
    $paramUrl['action'] = 'edit';
    $paramUrl['id']     = $this->dadosAutor['autorId'];
}

$urlForm = $this->url('biblioteca/default', $paramUrl);

$urlAutocompleteCutter = $this->url(
    'biblioteca/default',
    array('controller' => 'cutter', 'action' => 'search-for-json')
);

$this->layoutComponent()->addJS('select2', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('select2/select2_locale_pt-BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('jquery.validate.extra.br', false, 'App');
$this->layoutComponent()->addJS('SmartNotification');
$this->layoutComponent()->addJS('serializejson', false, 'App');
$this->layoutComponent()->addJS('autor-add', false, 'App');
?>
<style>
    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 9999 !important;
    }
</style>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <?php if (!$this->partial) { ?>
                <div class="widget-body"><?php } ?>
                    <form action="<?php echo $urlForm; ?>" id="autor-form" novalidate="novalidate" method="post">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="autorReferencia">Referência:</label>
                                <input type="text" name="autorReferencia" id="autorReferencia" class="form-control"
                                       placeholder="Exemplo: Assis, Machado de"
                                       value="<?php echo $this->dadosAutor['autorReferencia']; ?>">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="autorCutter">Cutter:</label>
                                <input type="text" name="autorCutter" id="autorCutter" class="form-control"
                                       placeholder="Exemplo: A848"
                                       value="<?php echo $this->dadosAutor['autorCutter']; ?>">
                            </div>
                        </div>
                        <input type="hidden" name="autorTitulos" id="autorTitulos"
                               value="<?php echo $this->dadosAutor['autorTitulos']; ?>">
                        <input type="hidden" name="autorId" id="autorId"
                               value="<?php echo $this->dadosAutor['autorId']; ?>">

                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <?php if (!$this->partial) { ?>
                                    <a href="<?php echo $urlListagem; ?>" class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        Voltar para Listagem
                                    </a>
                                <?php } ?>

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                    <?php if (!$this->partial) { ?>
                </div><?php } ?>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.autorAdd({
            urlAutocompleteCutter: '<?php echo $urlAutocompleteCutter;?>',
            ajaxSubmit: <?php echo $this->partial?1:0;?>,
            listagem: <?php echo $this->listagem?1:0;?>
        });
    });
</script>