<?php
$dados  = $this->dados;
$indice = $this->indice;
?>
    <meta http-equiv=Content-Type content=text/html charset=utf-8/>
    <style type=text/css>
        .cp {
            font: bold 10px Arial;
            color: black
        }

        .ti {
            font: 9px Arial, Helvetica, sans-serif
        }

        .ld {
            font: bold 15px Arial;
            color: #000000
        }

        .ct {
            FONT: 9px "Arial Narrow";
            COLOR: #000033
        }

        .cn {
            FONT: 9px Arial;
            COLOR: black
        }

        .ld2 {
            font: bold 12px Arial;
            color: #000000
        }
        .bottomline{
            width: 300px;
        }

        hr{
            border: dashed 1px black;
            /*max-width: 870px;*/
            /*margin-left: 0px;*/
        }
    </style>

<?php
    if($indice != 0 || $indice%3==0){
        echo "<hr>";
    }
?>

<div style="position: relative;clear:both;height:370px;">
<div style="margin-top: 10px;">
    <table cellspacing=0 cellpadding=0 width=200 border=0>
        <tr>
            <td class=cp width=150>
                    <span class="campo">
                        <IMG src="<?php echo $dados->getBanco()->getLogoBanco() ?>" width="100" height="22" border=0>
                    </span>
            </td>
        </tr>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>N° Documento</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getNumeroDocumento() ?>
                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>Cedente</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">
                            <?php echo $dados->getCedente()->getNomeCedente() ?>
                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>Vencimento</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">
                            <?php echo ($dados->getBoleto()->getDataVencimento()) ? $dados->getBoleto(
                            )->getDataVencimento()->format('d/m/Y') : "Contra Apresentação"  ?>
                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>Agência / Código do Cedente</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">
                            <?php echo $dados->getCedente()->getAgenciaCodigo() ?>
                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>Nosso Número</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getNossoNumeroFormatado() ?>
                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>(=) Valor Documento</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">
                            <?php echo number_format($dados->getBoleto()->getValor() / 100, 2, ",", ".") ?>
                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>(+) Outros Acréscimos</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">

                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>(-) Desconto / Abatimento</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">

                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>(-) Outras Deduções</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">

                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=13>(+) Mora / Multa</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=12
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">

                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellspacing=0 cellpadding=0 border=0>
        <tbody>
        <tr>
            <td class=ct valign=top width=7 height=13>
                <img height=13
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=ct valign=top width=200 height=14>(=) Valor cobrado</td>
        </tr>
        <tr>
            <td class=cp valign=top width=7 height=12>
                <img height=22
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                     width=1 border=0>
            </td>
            <td class=cp valign=top width=200 height=12>
                        <span class="campo">

                        </span>
            </td>
        </tr>
        <tr>
            <td valign=top width=7 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=7 border=0>
            </td>
            <td valign=top width=200 height=1>
                <img height=1
                     src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                     width=200 border=0>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="position: absolute; margin-left: 206px; margin-top: -329px;">

<table cellspacing=0 cellpadding=0 width=666 border=0>
    <tr>
        <td class=cp width=150>
                    <span class="campo">
                        <IMG src="<?php echo $dados->getBanco()->getLogoBanco() ?>" width="120" height="30" border=0>
                    </span>
        </td>
        <td width=3 valign=bottom>
            <img height=26
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=2 border=0>
        </td>
        <td class=cpt width=58 valign=bottom>
            <div align=center>
                <span class=bc>
                    <?php echo $dados->getBanco()->getCodigoBanco(), '-', $dados->getBanco()->getCodigoBancoDv() ?>
                </span>
            </div>
        </td>
        <td width=3 valign=bottom>
            <img height=26
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=2 border=0>
        </td>
        <td class=ld align=right width=453 valign=bottom>
                    <span class=ld>
                        <span class="campotitulo">
                            <img src="<?php echo $dados->getBoleto()->getLinhaDigitavel('base64')->render() ?>"/>
                        </span>
                    </span>
        </td>
    </tr>
    <tbody>
    <tr>
        <td colspan=6>
            <img height=2
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=666 border=0>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 border=0>
    <tbody>
    <tr>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=268 height=13>Cedente</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=156 height=13>Agência/Código do Cedente</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=34 height=13>Espécie</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=53 height=13>Quantidade</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=120 height=13>Nosso número</td>
    </tr>
    <tr>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=268 height=12>
                        <span class="campo">
                            <?php echo $dados->getCedente()->getNomeCedente(); ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=156 height=12>
                        <span class="campo">
                            <?php echo $dados->getCedente()->getAgenciaCodigo() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=34 height=12>
                        <span class="campo">
                            <?php echo $dados->getBanco()->getEspecie() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=53 height=12>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getQuantidade() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top align=right width=120 height=12>
                        <span class="campo">
<!--                            --><?php
                            //                            //SEGUNDO ESPECIFICAÇÃO NO LAYOUT, O NOSSO NÚMERO QUE É GERADO PELO SISTEMA
                            //                            //DEVE TER OS DOIS ULTIMOS NÚMEROS ANTES DO DIGITO VERIFICADOR REPRESENTANDO
                            //                            //O NUMERO QUE INDICA A PARCELA
                            //                                $nossoNumeroFormatado = $dados->getBoleto()->getNossoNumeroFormatado();
                            //                                preg_match('/[[:punct:]]{1}[[:digit:]]/', $nossoNumeroFormatado, $digito);
                            //                                $nossoNumero = substr($nossoNumeroFormatado, 0, -5);
                            //                                echo $nossoNumero . str_pad($indice,2,0,STR_PAD_LEFT) . $digito[0];
                            //                            ?>
                            <?php echo $dados->getBoleto()->getNossoNumeroFormatado() ?>
                        </span>
        </td>
    </tr>
    <tr>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=268 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=268 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=156 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=156 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=34 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=34 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=53 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=53 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=120 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=120 border=0>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 border=0>
    <tbody>
    <tr>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top colspan=3 height=13>Número do documento</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=132 height=13>CPF/CNPJ</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=134 height=13>Vencimento</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=180 height=13>Valor documento</td>
    </tr>
    <tr>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top colspan=3 height=12>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getNumeroDocumento() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=132 height=12>
                        <span class="campo">
                            <?php echo $dados->getCedente()->getDocumento() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=134 height=12>
                        <span class="campo">
                            <?php echo ($dados->getBoleto()->getDataVencimento()) ? $dados->getBoleto(
                            )->getDataVencimento()->format('d/m/Y') : "Contra Apresentação" ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top align=right width=180 height=12>
                        <span class="campo">
                            <?php echo number_format($dados->getBoleto()->getValor() / 100, 2, ",", ".") ?>
                        </span>
        </td>
    </tr>
    <tr>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=113 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=113 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=72 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=72 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=132 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=132 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=134 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=134 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=180 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=180 border=0>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 border=0>
    <tbody>
    <tr>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=113 height=13>Data do documento</td>
        <td class=ct valign=top width=7 height=13><img height=13
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=ct valign=top width=133 height=13>N&ordm;
            documento
        </td>
        <td class=ct valign=top width=7 height=13><img height=13
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=ct valign=top width=62 height=13>Espécie doc.</td>
        <td class=ct valign=top width=7 height=13><img height=13
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=ct valign=top width=34 height=13>Aceite</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=102 height=13>Data processamento</td>
        <td class=ct valign=top width=7 height=13><img height=13
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=ct valign=top width=180 height=13>Nosso número</td>
    </tr>
    <tr>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=113 height=12>
            <div align=left>
                            <span class="campo">
                                <?php echo $dados->getBoleto()->getDataDocumento()->format("d/m/Y") ?>
                            </span>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=133 height=12>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getNumeroDocumento() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=62 height=12>
            <div align=left>
                            <span class="campo">
                                <?php echo $dados->getBanco()->getEspecieDoc() ?>
                            </span>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=34 height=12>
            <div align=left>
                            <span class="campo">
                                <?php echo $dados->getBanco()->getAceite() ?>
                            </span>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=102 height=12>
            <div align=left>
                            <span class="campo">
                                <?php echo $dados->getBoleto()->getDataProcessamento()->format("d/m/Y") ?>
                            </span>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top align=right width=180 height=12>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getNossoNumeroFormatado() ?>
                        </span>
        </td>
    </tr>
    <tr>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=113 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=113 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=133 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=133 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=62 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=62 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=34 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=34 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=102 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=102 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=180 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=180 border=0>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 border=0>
    <tbody>
    <tr>
        <td class=ct valign=top width=7 height=13><img height=13
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=ct valign=top COLSPAN="3" height=13>Uso do banco</td>
        <td class=ct valign=top height=13 width=7><img height=13
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=ct valign=top width=83 height=13>Carteira</td>
        <td class=ct valign=top height=13 width=7>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=40 height=13>Espécie</td>
        <td class=ct valign=top height=13 width=7>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=103 height=13>Quantidade</td>
        <td class=ct valign=top height=13 width=7>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=102 height=13>Valor Documento</td>
        <td class=ct valign=top width=7 height=13>
            <img height=13
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=ct valign=top width=180 height=13>(=) Valor documento</td>
    </tr>
    <tr>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td valign=top class=cp height=12 COLSPAN="3">
            <div align=left>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=83>
            <div align=left> <span class="campo">
                                <?php echo $dados->getCedente()->getCarteira() ?>
                            </span>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=43>
            <div align=left>
                            <span class="campo">
                                <?php echo $dados->getBanco()->getEspecie() ?>
                            </span>
            </div>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=103>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getQuantidade() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12>
            <img height=12
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=102>
                        <span class="campo">
                            <?php echo $dados->getBoleto()->getValorUnitario() ?>
                        </span>
        </td>
        <td class=cp valign=top width=7 height=12><img height=12
                                                       src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                       width=1 border=0>
        </td>
        <td class=cp valign=top align=right width=180 height=12>
                        <span class="campo">
                            <?php echo number_format($dados->getBoleto()->getValor() / 100, 2, ",", ".") ?>
                        </span>
        </td>
    </tr>
    <tr>
        <td valign=top width=7 height=1><img height=1
                                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                                             width=7 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=75 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=31 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=31 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=83 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=83 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=43 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=43 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=103 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=103 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=102 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=102 border=0>
        </td>
        <td valign=top width=7 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=7 border=0>
        </td>
        <td valign=top width=180 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=180 border=0>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 width=666 border=0>
    <tbody>
    <tr>
        <td align=right width=10>
            <table cellspacing=0 cellpadding=0 border=0 align=left>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=1 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td valign=top width=600 rowspan=8>
            <font class=ct>Instruções (Texto de responsabilidade do cedente)</font>
            <br>
            <br>
                        <span class=cp> <FONT class=campo>
                                <?php echo $dados->getBoleto()->getInstrucoes1(); ?>
                                <br>
                                <?php echo $dados->getBoleto()->getInstrucoes2(); ?>
                                <br>
                                <?php echo $dados->getBoleto()->getInstrucoes3(); ?>
                                <br>
                                <?php echo $dados->getBoleto()->getInstrucoes4(); ?>
                                <br/>
                                <?= $this->dados->getBoleto()->getDemonstrativo1() ?>
                                <br/>
                                <?= $this->dados->getBoleto()->getDemonstrativo2() ?>
                                <br/>
                                <?= $this->dados->getBoleto()->getDemonstrativo3() ?>
                            </FONT>
                            <br>
                            <br>
                        </span>
        </td>
        <td align=right width=188>
            <table cellspacing=0 cellpadding=0 border=0>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=ct valign=top width=180 height=13>(-) Desconto / Abatimentos</td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=cp valign=top align=right width=180 height=12>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=7 border=0>
                    </td>
                    <td valign=top width=180 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=180 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align=right width=10>
            <table cellspacing=0 cellpadding=0 border=0 align=left>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=1 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align=right width=188>
            <table cellspacing=0 cellpadding=0 border=0>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=ct valign=top width=180 height=13>(-) Outras deduções</td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12><img height=12
                                                                   src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                                                                   width=1 border=0>
                    </td>
                    <td class=cp valign=top align=right width=180 height=12>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=7 border=0>
                    </td>
                    <td valign=top width=180 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=180 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align=right width=10>
            <table cellspacing=0 cellpadding=0 border=0 align=left>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=1 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align=right width=188>
            <table cellspacing=0 cellpadding=0 border=0>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=ct valign=top width=180 height=13>(+) Mora / Multa</td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=cp valign=top align=right width=180 height=12>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1><img height=1
                                                         src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                                                         width=7 border=0>
                    </td>
                    <td valign=top width=180 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=180 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align=right width=10>
            <table cellspacing=0 cellpadding=0 border=0 align=left>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=1 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align=right width=188>
            <table cellspacing=0 cellpadding=0 border=0>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=ct valign=top width=180 height=13>(+) Outros acréscimos</td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=cp valign=top align=right width=180 height=12>
                    </td>
                </tr>
                <tr>
                    <td valign=top width=7 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=7 border=0>
                    </td>
                    <td valign=top width=180 height=1>
                        <img height=1
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                             width=180 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align=right width=10>
            <table cellspacing=0 cellpadding=0 border=0 align=left>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align=right width=188>
            <table cellspacing=0 cellpadding=0 border=0>
                <tbody>
                <tr>
                    <td class=ct valign=top width=7 height=13>
                        <img height=13
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=ct valign=top width=180 height=13>(=) Valor cobrado</td>
                </tr>
                <tr>
                    <td class=cp valign=top width=7 height=12>
                        <img height=12
                             src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                             width=1 border=0>
                    </td>
                    <td class=cp valign=top align=right width=180 height=12>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 width=666 border=0>
    <tbody>
    <tr>
        <td valign=top width=666 height=1>
            <img height=1
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==
                 width=666 border=0>
        </td>
    </tr>
    </tbody>
</table>
<table cellspacing=0 cellpadding=0 border=0">
    <tbody>
    <tr>
        <td class=cp valign=top width=7>
            <img height=10
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class="ct">Sacado</td>
    </tr>
    <tr>
        <td class=cp valign=top width=7>
            <img height=53
                 src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC
                 width=1 border=0>
        </td>
        <td class=cp valign=top width=230>
                        <span class="campo">
                            Sacado: <?= $this->dados->getSacado()->getNome() ?>&nbsp;-&nbsp;
                            CPF/CNPJ: <?= $this->dados->getSacado()->getDocumento() ?>&nbsp;-&nbsp;
                            Matrícula: <?= $this->alunocursoId ?><br>
                            <?= $this->dados->getSacado()->getEndereco1() ?> &nbsp;-&nbsp;
                            <?= $this->dados->getSacado()->getEndereco2() ?>
                        </span>
        </td>
        <td width="300">
            <img src="<?php echo $dados->getBoleto()->getCodigoDeBarras()->render(); ?>"/>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>