<?php
$urlAction = $this->url('financeiro/default', array("controller" => "painel", "action" => "atualizar-titulo"));
?>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-titulo-atualizar-titulo-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Atualizar título</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <form action="<?= $urlAction ?>" id="financeiro-titulo-atualizar-titulo-form"
                              novalidate="novalidate"
                              method="post">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="tituloAtualizarDescontoManual">Desconto:</label>
                                        <input type="text" name="tituloAtualizarDescontoManual"
                                               id="tituloAtualizarDescontoManual"
                                               class="form-control tituloAtualizarDescontoManual"
                                               placeholder="Desconto"
                                               value="<?php echo $this->arrDados['tituloAtualizarDescontoManual']; ?>">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="tituloAtualizarAcrescimoManual">Acréscimo:</label>
                                        <input type="text" name="tituloAtualizarAcrescimoManual"
                                               id="tituloAtualizarAcrescimoManual"
                                               class="form-control tituloAtualizarAcrescimoManual"
                                               placeholder="Acréscimo"
                                               value="<?php echo $this->arrDados['tituloAtualizarAcrescimoManual']; ?>">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label
                                            for="tituloAtualizarDataVencimento">Vencimento:</label>
                                        <input type="text" name="tituloAtualizarDataVencimento"
                                               id="tituloAtualizarDataVencimento"
                                               class="form-control"
                                               placeholder="Vencimento"
                                               value="<?php echo $this->arrDados['tituloAtualizarDataVencimento']; ?>">
                                    </div>
                                </div>

                                <input name="tituloId" type="hidden">


                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="text-muted" for="atualizarTituloValorFinal-static">
                                            Valor Final:
                                        </label>

                                        <div class="form-control-static text-right atualizarTituloValorFinal"
                                             style="font-size: 1.8em;font-weight: bold;">
                                            0,00
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="col-sm12">
                                    <div class="form-group">
                                        <label for="tituloAtualizarObservacao">Observação:</label>
                                            <textarea name="tituloAtualizarObservacao"
                                                      id="tituloAtualizarObservacao"
                                                      class="form-control tituloAtualizarObservacao"
                                                      placeholder="Observação"
                                                ><?php echo $this->arrDados['tituloAtualizarObservacao']; ?></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 autenticacao-atualizacao hidden">
                                <fieldset>
                                    <legend>Autenticação do Supervisor</legend>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Motivo da Autenticação:</label>

                                            <p>Extrapolou o percentual máximo de desconto!</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="atualizarTituloLogin">Login:</label>
                                            <input type="text" name="atualizarTituloLogin" id="atualizarTituloLogin"
                                                   autocomplete="off" readonly
                                                   onfocus="this.removeAttribute('readonly');"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="atualizarTituloSenha">Senha:</label>
                                            <input type="password" name="atualizarTituloSenha" id="atualizarTituloSenha"
                                                   autocomplete="off" readonly
                                                   onfocus="this.removeAttribute('readonly');"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" id="btn-salvar-titulo">
                                        <i class="fa fa-gears"></i>
                                        Atualizar título
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
