<?php if ($this->financeiroComprovanteImpressaoDireta): ?>
    <script type="text/javascript">
        window.onload = function () {
            window.print();
        }
    </script>
<?php endif; ?>
<?php foreach ($this->titulo as $titulo) { ?>
    <head>
        <link rel="stylesheet" type="text/css" media="screen"
              href="<?= $this->basePath(); ?>/smart-admin/css/bootstrap.min.css">
        <style>
            * {
                font-family: 'Trebuchet MS', Arial, sans-serif;
                font-size: small;
            }

            body {
                width: 100%;
            }

            td, th {
                padding: 0.5%;
                vertical-align: middle;
                text-align: left;
            }

            thead tr,
            tr.separator {
                border-bottom: 1px dashed #000 !important;
            }

            .titulo {
                text-align: center;
                font-weight: bold;
            }

            .conteudo {
                text-align: left;
            }

            table {
                width: 99%;
                margin-left: 0.5%;
            }

            @media print {
                thead tr td,
                tr.separator td {
                    border-bottom: 1px dashed #000 !important;
                }
            }
        </style>
    </head>
    <body>
    <table>
        <thead>
        <tr>
            <th colspan="2" class="titulo">
                <?= ($titulo['tituloComprovante']) ?>
                <?= ($titulo['tituloComprovanteVia']) ?> &ordm; VIA
            </th>
        </tr>
        <tr>
            <th colspan="2" class="titulo">
                <?= ($titulo['mantenedora']) ?><br>
                <?= ($titulo['ies']) ?>
            </th>
        </tr>
        <tr>
            <th style="width: 10%;">Campus:</th>
            <th class="conteudo"><?= ($titulo['campNome'] ? $titulo['campNome'] : '-') ?></th>
        </tr>
        <?php if (!$titulo['pagamentoMultiplo']){ ?>
        <tr>
            <th style="width: 10%;">Curso:</th>
            <th class="conteudo"><?= ($titulo['cursoNome'] ? $titulo['cursoNome'] : '-') ?></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 10%;">Aluno:</td>
            <td class="conteudo"><?= ($titulo['alunoNome'] ? $titulo['alunoNome'] : '-') ?></td>
        </tr>
        <tr>
            <td style="width: 10%;">Matrícula no curso:</td>
            <td style="width: 90%;" class="conteudo">
                <?= ($titulo['alunocursoId'] ? $titulo['alunocursoId'] : '-') ?>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">Turma:</td>
            <td style="width: 90%;" class="conteudo">
                <?= ($titulo['turmaNome'] ? $titulo['turmaNome'] : '-') ?>
            </td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td style="width: 10%;">Sacado:</td>
            <td style="width: 90%;" class="conteudo"><?= ($titulo['pesNome']) ?></td>
        </tr>
        <tr>
            <td style="width: 10%;">Serviço:</td>
            <td class="conteudo">
                <?= ($titulo['tituloDescricao'] ? $titulo['tituloDescricao'] : $titulo['tipotituloNome']) ?>
            </td>
        </tr>
        <?php if($_GET['exibirObs']):?>
        <tr>
            <td style="width: 10%;">Observação:</td>
            <td class="conteudo">
                <?= ($titulo['tituloObservacoes'] ? $titulo['tituloObservacoes'] : '-') ?>
            </td>
        </tr>
        <?php endif;?>
        </tbody>
    </table>
    <table style="margin-left: 1.5% !important;">
        <tbody>
        <?php
        foreach ($titulo['titulosAlteracao'] as $arrTitulosAlteracao) {
            $exibeInfo = true;
            $x         = 1;
            foreach ($arrTitulosAlteracao as $arrTituloAlteracao) {

                echo '
                <tr class="separator">
                    <td colspan="2" style="width: 50%"></td>
                    <td colspan="2" style="width: 50%"></td>
                </tr>';

                if ($exibeInfo) {
                    $exibeInfo = false;

                    if ($arrTituloAlteracao['cursoNome']) {
                        echo '
                        <tr>
                            <td colspan="2" style="width: 50%">Aluno:</td>
                            <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['pesNome'] . '</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 50%">Curso:</td>
                            <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['cursoNome'] . '</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 50%">Matrícula no Curso:</td>
                            <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['alunocursoId'] . '</td>
                        </tr>
                             <tr>
                            <td colspan="2" style="width: 50%">Turma:</td>
                            <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['turmaNome'] . '</td>
                        </tr>';
                    } else {
                        echo '
                        <tr>
                            <td colspan="2" style="width: 50%">Pessoa Relacionada:</td>
                            <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['pesNome'] . '</td>
                        </tr>';
                    }

                    echo '
                    <tr class="separator">
                        <td colspan="2" style="width: 50%"></td>
                        <td colspan="2" style="width: 50%"></td>
                    </tr>';
                }

                echo '
                <tr>
                    <td colspan="2" style="width: 50%">Título:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $x . '</td>
                </tr>
                      <tr>
                    <td colspan="2" style="width: 50%">Código do Título:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['tituloId'] . '</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 50%">Descrição:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['tituloDescricao'] . '</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 50%">Vencimento do Título:</td>
                    <td colspan="2" style="width: 50%"
                        class="conteudo">' . $arrTituloAlteracao['tituloDataVencimento'] . '</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 50%">Valor Bruto:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['tituloValor'] . '</td>
                </tr>
              
                <tr>
                    <td colspan="2" style="width: 50%">Acréscimos:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['somaAcrescimos'] . '</td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 50%">Descontos:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['somaDescontos'] . '</td>
                </tr>
                  <tr>
                    <td colspan="2" style="width: 50%">Valor Líquido:</td>
                    <td colspan="2" style="width: 50%" class="conteudo">' . $arrTituloAlteracao['tituloValorPago'] . '</td>
                </tr>';
                $x++;
            }
        } ?>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr class="separator">
            <td style="width: 10%;"></td>
            <td style="width: 10%;"></td>
        </tr>
        <tr>
            <td class="titulo" colspan="2">Informações de Baixa</td>
        </tr>

        <tr>
            <td style="width: 60%;"><?= $titulo['tituloNomeCampo'] ?>:</td>
            <td style="width: 40%;" class="conteudo">
                <?= $titulo['tituloId'] ?>
            </td>
        </tr>
        <tr>
            <td>Data da Baixa:</td>
            <td class="conteudo"><?= ($titulo['tituloDataBaixa'] ? $titulo['tituloDataBaixa'] : '-') ?></td>
        </tr>
        <tr>
            <td>Data de Pagamento:</td>
            <td class="conteudo"><?= ($titulo['tituloDataPagamento'] ? $titulo['tituloDataPagamento'] : '-') ?></td>
        </tr>
        <tr>
            <td style="width: 60%;">Data do Vencimento:</td>
            <td style="width: 40%;" class="conteudo">
                <?= ($titulo['tituloDataVencimento'] ? $titulo['tituloDataVencimento'] : '-') ?>
            </td>
        </tr>
        <tr>
            <td>Valor Bruto:</td>
            <td class="conteudo"><?= $titulo['tituloValor'] ?></td>
        </tr>
        <tr>
            <td>Acréscimos:</td>
            <td class="conteudo"><?= $titulo['somaAcrescimos']; ?></td>
        </tr>
        <tr>
            <td>Descontos:</td>
            <td class="conteudo"><?= $titulo['somaDescontos']; ?></td>
        </tr>
        <tr class="separator">
            <td>Valor Pago:</td>
            <td class="conteudo"><?= ($titulo['tituloValorPago'] ? $titulo['tituloValorPago'] : '-') ?></td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td style="width: 10%;">Operador:</td>
            <td style="width: 90%;"
                class="conteudo"><?= ($titulo['usuarioBaixaLogin'] ? $titulo['usuarioBaixaLogin'] : '') ?></td>
        </tr>
        <tr>
            <td style="width: 10%;">Data de emissão:</td>
            <td style="width: 90%;"
                class="conteudo"><?= (new \DateTime())->format('d/m/Y H:i:s') ?></td>
        </tr>
        </tbody>
    </table>
    </body>
<?php } ?>

