<div id="confirmar-acao-modal" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-overlay">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="form-confirmar-acao">
                            <input type="hidden" name="tipoAcao">
                            <input type="hidden" name="titulosAcao">
                            <input type="hidden" name="tituloVinculadoId">

                            <div class="col-sm-12 informacao-adicional">
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="observacaoAcao"><br><b>Digite uma observação:</b></label>
                                    <textarea name="observacaoAcao" id="observacaoAcaoo"
                                                  class="form-control" placeholder="Observacões" rows="5"
                                                  required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-success confirmarAcao">Prosseguir</button>
                                <button type="button" class="btn btn-danger cancelarAcao">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>