<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-titulo-envio-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Enviar títulos</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget jarviswidget-color-darken">
                                <form action="#" id="financeiro-titulo-enviar-form" novalidate="novalidate"
                                      method="post">
                                    <fieldset>
                                        <legend>Informações sobre o envio:</legend>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="text-muted" for="titulosDestinatarioEnvio">
                                                    Quantidades de boleto para envio:
                                                </label>

                                                <p class="form-control-static" id="titulosDestinatarioEnvio">
                                                    -
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="text-muted">
                                                    Formas de envio:
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="tituloEnviarEmail">
                                                    Enviar por email:
                                                </label>
                                                <input type="checkbox" name="tituloEnviarEmail" id="tituloEnviarEmail"
                                                       value="1" checked>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="tituloEnviarSms">
                                                    Enviar por SMS:
                                                </label>
                                                <input type="checkbox" name="tituloEnviarSms" id="tituloEnviarSms"
                                                       value="1" checked>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 campoEnviarComCopia">
                                            <div class="form-group">
                                                <label for="tituloEnviarEmailComCopia">
                                                    Enviar Email com cópia para agenciador:
                                                </label>
                                                <input type="checkbox" name="tituloEnviarEmailComCopia"
                                                       id="tituloEnviarEmailComCopia"
                                                       value="1">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-success"
                                                    id="financeiro-titulo-envio-enviar">
                                                <i class="fa fa-send"></i>
                                                Enviar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>