<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-titulo-novo-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Novo título</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <form action="#" id="financeiro-titulo-novo-form" novalidate="novalidate"
                              method="post">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="novoTituloAlunocurso">
                                            Curso do aluno:
                                        </label>
                                        <input type="text" name="alunocurso" id="novoTituloAlunocurso"
                                               class="form-control" placeholder="Curso do aluno">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="novoTituloPes">
                                            Responsável pelo(s) título(s) gerado(s):
                                        </label>
                                        <input type="text" name="pes" id="novoTituloPes" class="form-control"
                                               placeholder="Responsável pelo(s) título(s) gerado(s)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="novoTituloTipotitulo">
                                            Tipo De Título:
                                        </label>
                                        <input type="text" name="tipotitulo" id="novoTituloTipotitulo"
                                               class="form-control" placeholder="Código Tipo De Título">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="novoTituloTituloObservacoes">Observações:</label>
                                        <textarea name="tituloObservacoes" id="novoTituloTituloObservacoes"
                                                  class="form-control" placeholder="Observações" rows="12"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group divPeriodoLetivo hidden">
                                        <label for="periodoLetivo">
                                            Selecione o Período Letivo
                                        </label>
                                        <input type="text" name="novoTituloPeriodoLetivo" id="novoTituloPeriodoLetivo"
                                               class="form-control"
                                               placeholder="Periodo Letivo do Aluno">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div class="form-group" title="Configuração de título">
                                            <label for="tituloConfig">
                                                Configuração de título:
                                            </label>
                                            <input type="text" name="tituloConfig"
                                                   id="tituloConfig" class="form-control"
                                                   placeholder="Selecione uma configuração para o título">
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Perc. Multa:</label>

                                                <p class="form-control-static percMulta">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Perc. Juros:</label>

                                                <p class="form-control-static percJuros">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label>Multa e juros após:</label>

                                                <p class="form-control-static cobrarMultaJurosApartir">-</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Perc. Desc:</label>

                                                <p class="form-control-static percDesc">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Valor Desc:</label>

                                                <p class="form-control-static desconto">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Dias de Antecipação:</label>

                                                <p class="form-control-static descontoAteDia">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Perc. Desc2:</label>

                                                <p class="form-control-static percDesc2">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Valor Desc2:</label>

                                                <p class="form-control-static desconto2">-</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Dias de Antecipação:</label>

                                                <p class="form-control-static descontoAteDia2">-</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="novoTituloValores">
                                            Valores:
                                        </label>
                                        <input type="text" name="valores" id="novoTituloValores"
                                               class="form-control" placeholder="Valores">
                                        <input type="hidden" name="tituloNumeroParcelas" maxlength="4"
                                               id="novoTituloTituloNumeroParcelas">
                                        <input type="hidden" name="tituloValorParcelas" maxlength="10"
                                               id="novoTituloTituloValorParcelas">
                                        <a href="#" id="novoTituloOutroValor">Outro valor</a>
                                    </div>
                                </div>


                                <div class="col-sm-5">
                                    <div class="form-group" title="Data de Vencimento Inicial">
                                        <label for="novoTituloTituloDataVencimento">
                                            Vencto. Inicial:
                                        </label>
                                        <input type="text" name="tituloDataVencimento"
                                               id="novoTituloTituloDataVencimento" class="form-control"
                                               placeholder="Data de Vencimento Inicial">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="text-muted" for="novoTituloValorFinal-static">
                                            Valor Final:
                                        </label>

                                        <div class="form-control-static text-right"
                                             style="font-size: 1.8em;font-weight: bold;"
                                             id="novoTituloValorFinal-static">
                                            0,00
                                            <hr class="no-margin"/>
                                            0,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 autenticacao-novo hidden">
                                <fieldset>
                                    <legend>Autenticação do Supervisor</legend>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Motivo da Autenticação:</label>

                                            <p class="form-control-static motivoAutenticacao">-</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="novoTituloLogin">Login:</label>
                                            <input type="text" name="novoTituloLogin" id="novoTituloLogin"
                                                   autocomplete="off" readonly
                                                   onfocus="this.removeAttribute('readonly');"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="novoTituloSenha">Senha:</label>
                                            <input type="password" name="novoTituloSenha" id="novoTituloSenha"
                                                   autocomplete="off" readonly
                                                   onfocus="this.removeAttribute('readonly');"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-gears"></i>
                                        Gerar título(s)
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modal-alteracao-valores" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alterar Valores:</h4>
            </div>
            <div class="modal-body floating-label">
                <div class="row">
                    <form action="#" id="alteracao-valores-form" novalidate="novalidate" method="post"
                          enctype="multipart/form-data">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="numeroParcelas">Número de parcelas:</label>
                                <input type="text" name="numeroParcelas" id="numeroParcelas" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valorParcelas">Valor das parcelas:</label>
                                <input type="text" name="valorParcelas" id="valorParcelas" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="valorFinalValoresStatic">Valor Final:</label>

                                <p class="form-control-static" id="valorFinalValoresStatic"></p>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>