<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-titulo-pagamento-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Pagamento de título</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget jarviswidget-color-darken">
                                <form action="#" id="financeiro-titulo-pagamento-form" novalidate="novalidate"
                                      method="post" enctype="multipart/form-data">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#titulos-pagamento-dados-tab" role="tab" data-toggle="tab"
                                               aria-controls="titulos-pagamento-dados-tab">
                                                Valores
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#titulos-pagamento-listagem-tab" role="tab" data-toggle="tab"
                                               aria-controls="titulos-pagamento-listagem-tab">
                                                Títulos
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane row active"
                                             id="titulos-pagamento-dados-tab">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <fieldset>
                                                        <legend>Meios de Pagamento:</legend>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label class="text-muted"
                                                                           for="pagamentoDescontos-static">
                                                                        Descontos:
                                                                    </label>

                                                                    <p class="form-control-static"
                                                                       id="pagamentoDescontos-static"></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label class="text-muted"
                                                                           for="pagamentoDescontoIncentivo-static">
                                                                        Descontos de incentivo:
                                                                    </label>

                                                                    <p class="form-control-static"
                                                                       id="pagamentoDescontoIncentivo-static"></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label class="text-muted"
                                                                           for="pagamentoValorDesconto-static">
                                                                        Outros descontos:
                                                                    </label>

                                                                    <p class="form-control-static"
                                                                       id="pagamentoValorDesconto-static"></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label class="text-muted"
                                                                       for="porcentagemAtivo">
                                                                    <input type="checkbox"
                                                                           name="porcentagemAtivo"
                                                                           id="porcentagemAtivo"/>&nbsp;Usar porcentagem
                                                            </div>
                                                        </div>
                                                        <div class="campos-valor-pagamento">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="pagamentoTituloDescontoManual">
                                                                        Desconto:
                                                                    </label>
                                                                    <input type="text" name="tituloDescontoManual"
                                                                           id="pagamentoTituloDescontoManual"
                                                                           class="form-control"
                                                                           placeholder="Desconto manual"
                                                                           value="<?php echo $this->arrDados['tituloDescontoManual']; ?>">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="pagamentoTituloAcrescimoManual">
                                                                        Acréscimo:
                                                                    </label>
                                                                    <input type="text" name="tituloAcrescimoManual"
                                                                           id="pagamentoTituloAcrescimoManual"
                                                                           class="form-control"
                                                                           placeholder="Acréscimo Manual"
                                                                           value="<?php echo $this->arrDados['tituloAcrescimoManual']; ?>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="campos-porcentagem-pagamento hidden">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="porcentagemDescontoManual">
                                                                        (%) Desconto:
                                                                    </label>
                                                                    <input type="text" name="porcentagemDescontoManual"
                                                                           id="porcentagemDescontoManual"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="porcentagemAcrescimoManual">
                                                                        (%) Acréscimo:
                                                                    </label>
                                                                    <input type="text" name="porcentagemAcrescimoManual"
                                                                           id="porcentagemAcrescimoManual"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <label for="pagamentoResponsavelTitulo">
                                                                    Responsável pelo pagamento:
                                                                </label>
                                                                <input type="text" name="responsavelTitulo"
                                                                       id="pagamentoResponsavelTitulo"
                                                                       class="form-control"
                                                                       placeholder="Responsável pelo pagamento">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="pagamentoTituloData">
                                                                    Data de Pagamento:
                                                                </label>
                                                                <input type="text" name="pagamentoTituloData"
                                                                       id="pagamentoTituloData" class="form-control"
                                                                       placeholder="Data de Pagamento">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <table id="dataTableTitulosMeioPagamento" width="100%"
                                                                   class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Meio de Pagamento</th>
                                                                    <th>Valor</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <textarea name="pagamentos" id="pagamentos"
                                                                      class="hidden"></textarea>

                                                            <div class="col-sm-12 text-center">
                                                                <button type="button" class="btn btn-primary"
                                                                        id="financeiro-titulo-pagamento-add-btn">
                                                                    <i class="fa fa-plus"></i>
                                                                    Adicionar meio de pagamento
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValorFinal-static">
                                                                    Valor Final:
                                                                </label>

                                                                <p class="form-control-static text-right"
                                                                   style="font-size: 1.8em;font-weight: bold;"
                                                                   id="pagamentoValorFinal-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValor-static">
                                                                    Valor Pagamento:
                                                                </label>

                                                                <p class="form-control-static text-right"
                                                                   style="font-size: 1.8em;font-weight: bold;"
                                                                   id="pagamentoValor-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValorTroco-static">
                                                                    Valor Troco:
                                                                </label>

                                                                <p class="form-control-static text-right"
                                                                   style="font-size: 1.8em;font-weight: bold;"
                                                                   id="pagamentoValorTroco-static"></p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-sm-6">
                                                    <fieldset>
                                                        <legend>Totalizadores:</legend>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValorTotalTitulos-static">
                                                                    Valor Total:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoValorTotalTitulos-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoNumeroTitulos-static">
                                                                    Número de Títulos:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoNumeroTitulos-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoMediaAtraso-static">
                                                                    Média Atraso (dia):
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoMediaAtraso-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValorTotalJuros-static">
                                                                    Valor Total Juros:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoValorTotalJuros-static"></p>
                                                                <label class="text-muted"
                                                                       for="pagamentoValorTotalJurosIsentar">
                                                                    <input type="checkbox"
                                                                           name="valorTotalJurosIsentar"
                                                                           id="pagamentoValorTotalJurosIsentar"/>
                                                                    Isentar Juros
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValorTotalMulta-static">
                                                                    Valor Total Multa:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoValorTotalMulta-static"></p>
                                                                <label class="text-muted"
                                                                       for="valorTotalMultaIsentar">
                                                                    <input type="checkbox"
                                                                           name="valorTotalMultaIsentar"
                                                                           id="pagamentoValorTotalMultaIsentar"/>
                                                                    Isentar multa
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoValorTotalAPagar-static">
                                                                    Valor Total a Pagar:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoValorTotalAPagar-static"></p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <legend>Outras Informações:</legend>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="pagamentoTituloconfValorDesc-static">
                                                                    Desconto de Incentivo:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="pagamentoTituloconfValorDesc-static"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label
                                                                    for="pagamentoTituloObservacoes">Observações:</label>
                                                                <textarea name="tituloObservacoes"
                                                                          id="pagamentoTituloObservacoes"
                                                                          class="form-control" placeholder="Observações"
                                                                          rows="5"
                                                                          style="resize: none"><?php echo $this->arrDados['tituloObservacoes']; ?></textarea>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane row"
                                             id="titulos-pagamento-listagem-tab">
                                            <table id="dataTableTitulosPagamento"
                                                   class="table table-striped table-bordered table-hover"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Pessoa</th>
                                                    <th>Descrição</th>
                                                    <th>Emissão</th>
                                                    <th>Vencimento</th>
                                                    <th>Valor Bruto</th>
                                                    <th>Valor Final</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 autenticacao-pagamento">
                                        <fieldset>
                                            <legend>Autenticação do Supervisor</legend>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>Motivo da Autenticação:</label>

                                                    <p class="form-control-static motivoAutenticacao">-</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="pagamentoLogin">
                                                        Login:
                                                    </label>
                                                    <input type="text" name="pagamentoLogin" id="pagamentoLogin"
                                                           autocomplete="off" readonly
                                                           onfocus="this.removeAttribute('readonly');"

                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="pagamentoSenha">
                                                        Senha:
                                                    </label>
                                                    <input type="password" name="pagamentoSenha" id="pagamentoSenha"
                                                           autocomplete="off" readonly
                                                           onfocus="this.removeAttribute('readonly');"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-success"
                                                    id="efetuaPagamento">
                                                <i class="fa fa-money"></i>
                                                Efetuar Pagamento
                                            </button>
                                            <button type="button" class="btn btn-warning"
                                                    id="tituloPagamentoEfetuarComEmissaoComprovante">
                                                <i class="fa fa-money"></i>
                                                Efetuar Pagamento e Emitir Comprovante
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>