<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-pagamento-add-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title tituloCheque">Meio de pagamento</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget jarviswidget-color-darken">
                                <form action="#" id="pagamento-add-form" novalidate="novalidate" method="post">
                                    <input type="hidden" name="pagamentoId" id="pagamentoId">
                                    <input type="hidden" name="chequeId" id="chequeId">
                                    <input type="hidden" name="pagamentoGUID" id="pagamentoGUID">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="pagamentoMeioPagamento">Meio de Pagamento:</label>
                                            <input type="text" name="pagamentoMeioPagamento" id="pagamentoMeioPagamento"
                                                   class="form-control" placeholder="Meio de Pagamento">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="pagamentoValor">Valor a Pagar:</label>
                                            <input type="text" name="pagamentoValor" id="pagamentoValor"
                                                   class="form-control"
                                                   placeholder="Valor" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="hidden" id="pagamentoDadosCheque">
                                        <div class="col-sm-12"></div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="chequeBanco">Banco:</label>
                                                <input type="text" name="chequeBanco" id="chequeBanco"
                                                       class="form-control"
                                                       placeholder="Banco"
                                                       value="<?php echo $this->arrDados['chequeBanco']; ?>">
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="chequeAgencia">Agência:</label>
                                                <input type="text" name="chequeAgencia" id="chequeAgencia"
                                                       class="form-control"
                                                       placeholder="Agência" maxlength="45"
                                                       value="<?php echo $this->arrDados['chequeAgencia']; ?>">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="chequeConta">Conta:</label>
                                                <input type="text" name="chequeConta" id="chequeConta" class="form-control"
                                                       placeholder="Conta" maxlength="45">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="chequeNum">Número:</label>
                                                <input type="text" name="chequeNum" id="chequeNum" class="form-control"
                                                       placeholder="Número" maxlength="45"
                                                       value="<?php echo $this->arrDados['chequeNum']; ?>">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="chequeEmitente">Emitente:</label>
                                                <input type="text" name="chequeEmitente" id="chequeEmitente"
                                                       class="form-control"
                                                       placeholder="Emitente" maxlength="255"
                                                       value="<?php echo $this->arrDados['chequeEmitente']; ?>">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="chequePraca">Praça:</label>
                                                <input type="text" name="chequePraca" id="chequePraca"
                                                       class="form-control"
                                                       placeholder="Praça" maxlength="45"
                                                       value="<?php echo $this->arrDados['chequePraca']; ?>">
                                            </div>
                                        </div>


                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="chequeEmissao">Emissão:</label>
                                                <input type="text" name="chequeEmissao" id="chequeEmissao"
                                                       class="form-control"
                                                       placeholder="Emissão"
                                                       value="<?php echo $this->arrDados['chequeEmissao']; ?>">
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="chequeVencimento">Vencimento:</label>
                                                <input type="text" name="chequeVencimento" id="chequeVencimento"
                                                       class="form-control"
                                                       placeholder="Vencimento"
                                                       value="<?php echo $this->arrDados['chequeVencimento']; ?>">
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="chequeValor">Valor do cheque:</label>
                                                <input type="text" name="chequeValor" id="chequeValor"
                                                       class="form-control"
                                                       placeholder="Valor do cheque" maxlength="10"
                                                       value="<?php echo $this->arrDados['chequeValor']; ?>" readonly>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="chequeSaldo">Saldo do cheque:</label>
                                                <input type="text" name="chequeSaldo" id="chequeSaldo"
                                                       class="form-control"
                                                       placeholder="Saldo do cheque" maxlength="10"
                                                       value="<?php echo $this->arrDados['chequeSaldo']; ?>" readonly>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="chequeObservacao">Observações:</label>
                                                <textarea name="chequeObservacao" id="chequeObservacao" class="form-control">

                                                </textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <div class="form-group">
                                            <button id="btnAddPagamento" type="submit" class="btn btn-primary">
                                                <i class="fa fa-save"></i>
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>