<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-titulo-renegociacao-modal"
     role="dialog" aria-labelledby="label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Renegociação de título</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget jarviswidget-color-darken">
                                <form action="#" id="financeiro-titulo-renegociacao-form" novalidate="novalidate"
                                      method="post" enctype="multipart/form-data">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#titulos-renegociacao-dados-tab" role="tab" data-toggle="tab"
                                               aria-controls="titulos-renegociacao-dados-tab">
                                                Valores
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#titulos-renegociacao-listagem-tab" role="tab"
                                               data-toggle="tab"
                                               aria-controls="titulos-renegociacao-listagem-tab">
                                                Títulos
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane row active"
                                             id="titulos-renegociacao-dados-tab">
                                            <div class="col-sm-6">
                                                <fieldset>
                                                    <legend>Detalhes da renegociação:</legend>
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="porcentagemAtivoRenegociacao">
                                                                    <input type="checkbox"
                                                                           name="porcentagemAtivoRenegociacao"
                                                                           id="porcentagemAtivoRenegociacao"/>&nbsp;Usar
                                                                    porcentagem
                                                                </label>

                                                                <p class="form-control-static"><br><br></p>
                                                            </div>
                                                        </div>

                                                        <div class="campos-porcentagem-renegociacao hidden">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="porcentagemDescontoManualRenegociacao">
                                                                        (%) Desconto:
                                                                    </label>
                                                                    <input type="text"
                                                                           name="porcentagemDescontoManualRenegociacao"
                                                                           id="porcentagemDescontoManualRenegociacao"
                                                                           class="form-control" value="0">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="porcentagemAcrescimoManualRenegociacao">
                                                                        (%) Acréscimo:
                                                                    </label>
                                                                    <input type="text"
                                                                           name="porcentagemAcrescimoManualRenegociacao"
                                                                           id="porcentagemAcrescimoManualRenegociacao"
                                                                           class="form-control" value="0">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="isentarJurosRenegociacao">
                                                                    <input type="checkbox"
                                                                           name="isentarJurosRenegociacao"
                                                                           id="isentarJurosRenegociacao"/>&nbsp;Isentar
                                                                    Juros
                                                                </label>

                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="isentarMultaRenegociacao">
                                                                    <input type="checkbox"
                                                                           name="isentarMultaRenegociacao"
                                                                           id="isentarMultaRenegociacao"/>&nbsp;Isentar
                                                                    Multa
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label
                                                                        for="tituloDataVencimento">Vencimento:</label>
                                                                    <input type="text" name="tituloDataVencimento"
                                                                           id="tituloDataVencimento"
                                                                           class="form-control"
                                                                           placeholder="Vencimento"
                                                                           value="<?php echo $this->arrDados['tituloDataVencimento']; ?>">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <label for="tituloParcelas"
                                                                           title="Número de Parcelas">Parcelas:</label>
                                                                    <input type="text" name="tituloParcelas"
                                                                           id="tituloParcelas"
                                                                           class="form-control" value="1"
                                                                           placeholder="Número de Parcelas"
                                                                           maxlength="3">
                                                                </div>
                                                            </div>
                                                            <div class="campos-valor-renegociacao">
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <label
                                                                            for="tituloDescontoManual">Desconto:</label>
                                                                        <input type="text" name="tituloDescontoManual"
                                                                               id="tituloDescontoManual"
                                                                               class="form-control"
                                                                               placeholder="Desconto"
                                                                               value="<?php echo $this->arrDados['tituloDescontoManual']; ?>">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <label
                                                                            for="tituloAcrescimoManual">Acréscimo:</label>
                                                                        <input type="text" name="tituloAcrescimoManual"
                                                                               id="tituloAcrescimoManual"
                                                                               class="form-control"
                                                                               placeholder="Acréscimo"
                                                                               value="<?php echo $this->arrDados['tituloAcrescimoManual']; ?>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="responsavelTitulo">
                                                                        Responsável pelo(s) título(s) gerado(s):
                                                                    </label>
                                                                    <input type="text" name="responsavelTitulo"
                                                                           id="responsavelTitulo" class="form-control"
                                                                           placeholder="Responsável pelo(s) título(s) gerado(s)">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label class="text-muted" for="valorFinal-static">
                                                                        Valor Final:
                                                                    </label>

                                                                    <div class="form-control-static text-right"
                                                                         style="font-size: 1.8em;font-weight: bold;"
                                                                         id="valorFinal-static"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-6">
                                                <fieldset>
                                                    <legend>Totalizadores:</legend>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="text-muted" for="numeroTitulos-static">
                                                                Número de Títulos:
                                                            </label>

                                                            <p class="form-control-static"
                                                               id="numeroTitulos-static"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="text-muted" for="mediaAtraso-static">
                                                                Média Atraso (dia):
                                                            </label>

                                                            <p class="form-control-static"
                                                               id="mediaAtraso-static"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="text-muted" for="valorTotalJuros-static">
                                                                Valor Total Juros:
                                                            </label>

                                                            <p class="form-control-static"
                                                               id="valorTotalJuros-static"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="text-muted" for="valorTotalMulta-static">
                                                                Valor Total Multa:
                                                            </label>

                                                            <p class="form-control-static"
                                                               id="valorTotalMulta-static"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="text-muted"
                                                                   for="valorTotalTitulos-static">
                                                                Valor Total:
                                                            </label>

                                                            <p class="form-control-static"
                                                               id="valorTotalTitulos-static"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label class="text-muted" for="valorTotalAPagar-static">
                                                                Valor Total a Pagar:
                                                            </label>

                                                            <p class="form-control-static"
                                                               id="valorTotalAPagar-static"></p>
                                                        </div>
                                                    </div>
                                                    <legend>Outras Informações:</legend>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label for="tituloObservacoes">Observações:</label>
                                                            <textarea name="tituloObservacoes" id="tituloObservacoes"
                                                                      class="form-control" placeholder="Observações"
                                                                      rows="5"
                                                                      style="resize: none"><?php echo $this->arrDados['tituloObservacoes']; ?></textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-12 autenticacao-renegociacao hidden">
                                                <fieldset>
                                                    <legend>Autenticação do Supervisor</legend>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Motivo da Autenticação:</label>

                                                            <p class="form-control-static motivoAutenticacao">-</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="renegociacaoLogin">
                                                                Login:
                                                            </label>
                                                            <input type="text" name="renegociacaoLogin"
                                                                   autocomplete="off" readonly
                                                                   onfocus="this.removeAttribute('readonly');"
                                                                   id="renegociacaoLogin" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="renegociacaoSenha">
                                                                Senha:
                                                            </label>
                                                            <input type="password" name="renegociacaoSenha"
                                                                   autocomplete="off" readonly
                                                                   onfocus="this.removeAttribute('readonly');"
                                                                   id="renegociacaoSenha" class="form-control">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-save"></i>
                                                        Efetuar Renegociação
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane row"
                                             id="titulos-renegociacao-listagem-tab">
                                            <table id="dataTableTitulosRenegociacao"
                                                   class="table table-striped table-bordered table-hover"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Pessoa</th>
                                                    <th>Descrição</th>
                                                    <th>Emissão</th>
                                                    <th>Vencimento</th>
                                                    <th>Valor Bruto</th>
                                                    <th>Valor Final</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>