<?php

$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('jquery-ui', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('bootstrap.min', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent(
    'font-awesome',
    array('CssCheck' => '.min', 'mode' => 'CSS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('smartadmin-production', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('smartadmin-skins', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('versa.skeleton', array('layout' => 'VersaSkeleton', 'mode' => 'JS'));
$this->layoutComponent()->addComponent(
    'maskedinput',
    array('JsCheck' => '.min', 'mode' => 'JS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('app', array('JsCheck' => '.min', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.colVis', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.tableTools', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.bootstrap', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('select2', array('layout' => 'MaterialAdmin', 'mode' => 'CSS'));

$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate', false, 'SmartAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" novalidate="novalidate" method="post" id="form-titulos-inicio"
                          enctype="multipart/form-data">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <i class="fa fa-search"></i>
                                    Consulta de Títulos Financeiros
                                </h3>
                            </div>
                            <div class="col-xs-12"><br><br></div>

                            <div class="col-xs-12">
                                <div
                                    class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                    <label for="pesCpf">
                                        <h4><b>Digite o CPF ou CNPJ: </b></h4>
                                    </label>
                                </div>
                                <div
                                    class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="pesCpf" id="pesCpf" class="form-control"
                                                   placeholder="CPF/CNPJ">

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">
                                                    Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
<script>
    $(document).ready(function () {
        $("[name=pesCpf]").inputmask({
            showMaskOnHover: false, mask: ['999.999.999-99', '99.999.999/9999-99']
        });

        var vs = new VersaShared();
        vs.setDefaultsValidator();

        $('#form-titulos-inicio').validate({
            rules: {
                pesCpf: {required: true}
            },
            messages: {
                pesCpf: {required: 'Campo obrigatório!'}
            }
        });
    })
</script>