<?php

$app    = $this;
$getUrl = function ($controller, $action = '', $route = 'financeiro/default') use ($app) {
    $params = array('controller' => $controller);

    if ($action) {
        $params['action'] = $action;
    }

    return $app->url($route, $params);
};

$urlTituloAcesso      = $getUrl('painel', 'titulos');
$urlFinanceiroTitulo  = $getUrl('financeiro-titulo', 'search');
$urlBoletoExibe       = $getUrl('boleto', 'exibe', 'boleto-bancario/default');
$urlPagseguroCobranca = $getUrl('financeiro-titulo', 'pagseguro-cobranca');

$this->layoutComponent()->addComponent(
    'jquery.2.0.2',
    array('mode' => 'JS', 'JsLocation' => 'header', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('jquery-ui', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('bootstrap.min', array('JsLocation' => 'header', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent(
    'font-awesome',
    array('CssCheck' => '.min', 'mode' => 'CSS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('smartadmin-production', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('smartadmin-skins', array('mode' => 'CSS', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('versa.skeleton', array('layout' => 'VersaSkeleton', 'mode' => 'JS'));
$this->layoutComponent()->addComponent(
    'maskedinput',
    array('JsCheck' => '.min', 'mode' => 'JS', 'layout' => 'SmartAdmin')
);
$this->layoutComponent()->addComponent('app', array('JsCheck' => '.min', 'layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('jquery.dataTables.min', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.colVis', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.tableTools', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.bootstrap', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('dataTables.responsive', array('layout' => 'SmartAdmin'));
$this->layoutComponent()->addComponent('select2', array('layout' => 'MaterialAdmin', 'mode' => 'CSS'));

$this->layoutComponent()->addJS('inputmask', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('validate', false, 'SmartAdmin');
$this->layoutComponent()->addJS('additional-methods.min', false, 'App');
$this->layoutComponent()->addJS('messages_pt_BR', false, 'MaterialAdmin');
$this->layoutComponent()->addJS('toaster', false, 'App');
$this->layoutComponent()->addComponent('versa.shared', array('layout' => 'App'));
$this->layoutComponent()->addJS('titulosdataTables', false, 'App');

$variaveis = $this->viewModel()->getCurrent()->getVariables();
?>
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken">
                <div class="widget-body">
                    <form action="" novalidate="novalidate" method="post" id="form-titulos-dataTables"
                          enctype="multipart/form-data">
                        <input type="hidden" name="tipo" value="1">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <i class="fa fa-search"></i>
                                    Consulta de Títulos Financeiros
                                </h3>
                            </div>

                            <div class="col-xs-12"><br><br></div>

                            <div class="col-xs-12" align="center">
                                <h3>Título Relacionados à: <b class="form-control-static pesNome">-</b></h3>
                            </div>

                            <div class="col-sm-12" id="financeiro-titulo">
                                <table id="dataTableFinanceiroTitulos"
                                       class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%;">Título</th>
                                        <th>Sacado</th>
                                        <th>Aluno</th>
                                        <th>Descrição</th>
                                        <th>Curso</th>
                                        <th style="width: 5%;">Vencimento</th>
                                        <th style="width: 5%;">Pagamento</th>
                                        <th>Valor Líquido</th>
                                        <th style="width: 5%;">Estado</th>
                                        <th style="min-width: 20px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="form-group" align="center">
                                <a href="<?= $urlTituloAcesso ?>" class="btn btn-primary btn-md" title="Sair">
                                    Sair
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.sound_path = '<?php echo $this->basePath();?>/smart-admin/sound/';
        $.titulosDataTables({
            url: {
                financeiroTitulo: '<?=$urlFinanceiroTitulo;?>',
                pagseguroCobranca: '<?=$urlPagseguroCobranca;?>',
                boletoExibe: '<?=$urlBoletoExibe;?>'
            },
            data: {
                arrDados:<?=json_encode($this->arrDados);?>,
                arrTitulos:<?=json_encode($this->dataTables);?>
            },
            value: {
                pagSeguroAtivo:<?=(int)$this->pagSeguroAtivo;?>,
                boletoAtivo:<?=(int)$this->boletoAtivo;?>,
                boletoRemessaAtivada:<?=(int)$this->boletoRemessaAtivada;?>
            }
        });
    });
</script>