<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-pagamento-troco-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirme a baixa do título:</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form action="#" id="valor-troco-form" novalidate="novalidate" method="post">
                                <div class="jarviswidget jarviswidget-color-darken">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="meioPagamentoTroco">
                                                Selecione o meio de pagamento de onde será extraido o troco:
                                            </label>
                                            <input required type="text" name="meioPagamentoTroco"
                                                   id="meioPagamentoTroco"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary"
                                                id="pagamento-troco-salvar-btn">
                                            <i class="fa fa-save"></i>
                                            Efetuar Pagamento
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                id="pagamento-troco-cancelar-btn">
                                            <i class="fa fa-times"></i>
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>