<div class="modal fade" data-keyboard="false" data-backdrop="static" id="financeiro-titulo-view-modal" role="dialog"
     aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Detalhes do título</h4>
            </div>
            <div class="modal-body floating-label">
                <section id="widget-grid" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget jarviswidget-color-darken">
                                <form action="#" id="financeiro-titulo-view-form" novalidate="novalidate"
                                      method="post">
                                    <input name="tituloId" type="hidden">
                                    <input name="titulosVinculados" type="hidden">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#titulos-view-dados-tab" role="tab" data-toggle="tab"
                                               aria-controls="titulos-view-dados-tab">
                                                Dados do Título
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#titulos-view-titulos-vinculados-tab" role="tab"
                                               data-toggle="tab"
                                               aria-controls="titulos-view-titulos-vinculados-tab">
                                                Títulos Vinculados
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane row active"
                                             id="titulos-view-dados-tab">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <fieldset>
                                                    <legend>Dados do Título:</legend>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="pes-static">
                                                                    Responsável Pelo Pagamento:
                                                                </label>

                                                                <p class="form-control-static" id="pes-static">
                                                                    <?= $this->arrDados['pes']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="aluno-static">
                                                                    Aluno:
                                                                </label>

                                                                <p class="form-control-static" id="aluno-static">
                                                                    <?= $this->arrDados['aluno']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="campuscurso-static">
                                                                    Campus/Curso:
                                                                </label>

                                                                <p class="form-control-static" id="campuscurso-static">
                                                                    <?= $this->arrDados['campuscurso']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloId-static">
                                                                    Código do Título:
                                                                </label>

                                                                <p class="form-control-static" id="tituloId-static">
                                                                    <?= $this->arrDados['tituloId']; ?>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloConfigStatic">
                                                                    Configuração do Título:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloConfig-static">
                                                                    <?= $this->arrDados['tituloConfig']['tituloconfNome']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloDescricao-static">
                                                                    Descrição:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDescricao-static">
                                                                    <?= $this->arrDados['tituloDescricao']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="usuarioAutor-static">
                                                                    Usuário Autor:
                                                                </label>

                                                                <p class="form-control-static" id="usuarioAutor-static">
                                                                    <?= $this->arrDados['usuarioAutor']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="usuarioBaixa-static">
                                                                    Usuário Baixa:
                                                                </label>

                                                                <p class="form-control-static" id="usuarioBaixa-static">
                                                                    <?= $this->arrDados['usuarioBaixa']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tipotitulo-static">
                                                                    Tipo De Título:
                                                                </label>

                                                                <p class="form-control-static" id="tipotitulo-static">
                                                                    <?= $this->arrDados['tipotitulo']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloParcela-static">
                                                                    Parcela:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloParcela-static">
                                                                    <?= $this->arrDados['tituloParcela']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloDataProcessamento-static">
                                                                    Processamento:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDataProcessamento-static">
                                                                    <?= $this->arrDados['tituloDataProcessamento']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloDataVencimento-static">
                                                                    Vencimento:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDataVencimento-static">
                                                                    <?= $this->arrDados['tituloDataVencimento']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloEstado-static">
                                                                    Estado:
                                                                </label>

                                                                <p class="form-control-static" id="tituloEstado-static">
                                                                    <?= $this->arrDados['tituloEstado']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloValor-static">
                                                                    Valor Bruto:
                                                                </label>

                                                                <p class="form-control-static" id="tituloValor-static">
                                                                    <?= $this->arrDados['tituloValor']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloDiasAtraso-static">
                                                                    Dias de atraso:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDiasAtraso-static">
                                                                    <?= $this->arrDados['descontos']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloMulta-static">
                                                                    Multa:
                                                                </label>

                                                                <p class="form-control-static" id="tituloMulta-static">
                                                                    <?= $this->arrDados['tituloMulta']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloJuros-static">
                                                                    Juros:
                                                                </label>

                                                                <p class="form-control-static" id="tituloJuros-static">
                                                                    <?= $this->arrDados['tituloJuros']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloAcrescimoManual-static">
                                                                    Acréscimo Manual:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloAcrescimoManual-static">
                                                                    <?= $this->arrDados['tituloAcrescimoManual']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloDataPagamento-static">
                                                                    Data Pagto.:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDataPagamento-static">
                                                                    <?= $this->arrDados['tituloDataPagamento']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloDataBaixa-static">
                                                                    Data Baixa:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDataBaixa-static">
                                                                    <?= $this->arrDados['tituloDataBaixa']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloDesconto-static">
                                                                    Descontos Pré-Fixados:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDesconto-static">
                                                                    <?= $this->arrDados['tituloDesconto']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloDescontoIncentivo-static">
                                                                    Desconto de Incentivo:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDescontoIncentivo-static">
                                                                    <?= $this->arrDados['valorDescontoIncentivo']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloDescontoManual-static">
                                                                    Desconto Manual:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloDescontoManual-static">
                                                                    <?= $this->arrDados['tituloDescontoManual']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="descontos-static">
                                                                    Total de descontos:
                                                                </label>

                                                                <p class="form-control-static" id="descontos-static">
                                                                    <?= $this->arrDados['descontos']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloTipoPagamento-static">
                                                                    Tipo de Pagto.:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloTipoPagamento-static">
                                                                    <?= $this->arrDados['tituloTipoPagamento']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted" for="tituloValorFinal-static">
                                                                    Valor Final:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   style="font-size: 1.8em;font-weight: bold;"
                                                                   id="tituloValorFinal-static">
                                                                    <?= $this->arrDados['tituloValorFinal']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="tituloObservacoes-static">
                                                                    Observações:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="tituloObservacoes-static">
                                                                    <?= $this->arrDados['tituloObservacoes']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="text-muted"
                                                                       for="bolNossoNumero-static">
                                                                    Nosso Número:
                                                                </label>

                                                                <p class="form-control-static"
                                                                   id="bolNossoNumero-static">
                                                                    <?= $this->arrDados['bolNossoNumero']; ?>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="text-muted" for="boletos-static">
                                                                &nbsp;
                                                            </label>

                                                            <p class="form-control-static" id="boletos-static">
                                                                <?= $this->arrDados['boletos']; ?>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane row"
                                             id="titulos-view-titulos-vinculados-tab">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <fieldset>
                                                    <legend>Origem do título:</legend>
                                                    <table id="dataTableTitulosOrigem"
                                                           class="table table-striped table-bordered table-hover"
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Descrição</th>
                                                            <th>Data de Vencimento</th>
                                                            <th>Valor Bruto</th>
                                                            <th>Valor Final</th>
                                                            <th>Estado</th>
                                                            <th>Motivo</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                    <legend>Títulos derivados:</legend>
                                                    <table id="dataTableTitulosDestino"
                                                           class="table table-striped table-bordered table-hover"
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Código</th>
                                                            <th>Descrição</th>
                                                            <th>Data de Vencimento</th>
                                                            <th>Valor Bruto</th>
                                                            <th>Valor Final</th>
                                                            <th>Estado</th>
                                                            <th>Motivo</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>